[2021-03-23 08:59] gecon commented on #3689
Hi @GeekPress,
yes I am using Varnish addon.
Varnish is cleared with success on all other cases (for example when editing a post).

The problem is only when scheduled ("future") posts are getting published by using cron.
The future post is published but the pages that reference the new post are not purged from Varnish.
I am also using this helper https://github.com/wp-media/wp-rocket-helpers/tree/

[2021-03-23 09:02] GeekPress commented on #3689
Ok, thanks for the confirmation :)

[2021-03-23 11:14] chriseagle opened #3704 "AddDefaultCharset directive added to .htaccess missing $charset value causing internal server error. Function missing logic to check returned value."
**Describe the bug**
AddDefaultCharset from function "get_rocket_htaccess_charset()" returns without a $charset value via get_bloginfo(). This function contains no logic to check the emptiness of the return from get_bloginfo(). Would recommend checking $charset before creating and appending rules.

On Cloudways (host) this caused an internal server error and took down 4 sites on a multisite setup.

[2021-03-23 11:18] chriseagle commented on #3704
Version 3.8.2

[2021-03-23 11:33] NataliaDrause commented on #3704
This might be related ticket: https://secure.helpscout.net/conversation/1460752626/249734/

[2021-03-23 13:10] remyperona commented on #3698
Yes we are

[2021-03-23 13:13] vmanthos commented on #2528
Related ticket: https://secure.helpscout.net/conversation/1461210021/249870?folderId=2135277

[2021-03-23 13:14] #3601 closed, assigned to DahmaniAdame

[2021-03-23 13:34] NataliaDrause commented on #3282
Likely related: https://secure.helpscout.net/conversation/1454772464/247919/
A2 hosting

[2021-03-23 14:01] Mai-Saad opened #3705 "WPR not displayed in admin bar although it is already activated after changing WP version"
**Before submitting an issue please check that you’ve completed the following steps:**

- [x]  Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
WPR is not displayed in the admin bar after upgrading WP to compatible version

**To Reproduce**
Precondition:
WPR needs min WP version x i.e 5.3
Steps to reproduc

[2021-03-23 22:45] sandyfzu opened #3707 "Autoptimize - rocket-delay-js-js-after script and delayed scripts are being combined by Autoptimize"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✔
- Used the search feature to ensure that the bug hasn’t been reported before ✔

**Describe the bug**
When Delay JavaScript Execution and JavaScript combination feature from Autoptimize are active, the Delay JavaScript Execution Script (rocket-delay-js-js-after) and all

[2021-03-23 23:41] sandyfzu commented on #3707
A related case: https://secure.helpscout.net/conversation/1452663967/247296/

[2021-03-24 00:33] sandyfzu opened #3708 "Delay JavaScript execution - Some keywords prevent Delay JS script from executing (can affect itself)"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✔
- Used the search feature to ensure that the bug hasn’t been reported before ✔

**Describe the bug**
When Delay JavaScript execution is enabled and a keyword is added that match with a string in the "rocket-delay-js-js-after" script https://snippi.com/s/4bmx88f, the scr

[2021-03-24 04:21] nhterry commented on #2542
Any updates on this?

More and more websites are moving to use WordPress as a Headless CMS and caching these API endpoints is critical.

[2021-03-24 07:20] vmanthos commented on #3690
**Related ticket:** https://secure.helpscout.net/conversation/1461226799/249873/

[2021-03-24 08:00] NicoCaldo commented on #3142
I can confirm the issue on my website via Chrome mobile (as well as via Chrome Desktop setting the web dev tool to load as mobile)

[2021-03-24 08:58] NataliaDrause opened #3709 "Uncaught InvalidArgumentException error in ServiceProviderAggregate.php"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
The following error appears randomly:
[code]
Previously the following errors were reported as well:
[code]

**To Reproduce**
Steps to reproduce described by @Mai-Saad :
1- c

[2021-03-24 10:21] WordPresseur opened #3710 "UI suggestion: Notification and list of the pages on which an option has been turned off"
A classic ticket is "This option doesn’t work on this page even if it’s active in my settings"... When we check, the "issue" is that the option has been simply turned off by the user, on WP Rocket's options page level.

I propose to show a warning below the option only when this option has been turned off on WP Rocket's options page level.

A link could open a pop-up to quickly show the list of th

[2021-03-24 12:00] gevcen commented on #3672
Really looking forward to this, it would make the job so much easier!

[2021-03-24 12:01] remyperona commented on #3709
The steps to reproduce can't be used in this context, because on a customer website, the composer commands are not involved.

It's a part of the plugin where it should break all the time if there was an issue with our code itself, because it's the central part loading everything.

What I'm also seeing in the error_log provided, is that we're not the only plugin affected:
- `PHP Fatal error:  requi

[2021-03-24 12:01] #3709 closed, assigned to nobody

[2021-03-24 13:55] vmanthos commented on #3710
Following today's next sprint meeting, and piggybacking on @WordPresseur's awesome idea, it would be great if **the list of pages offers the ability to directly revert the change from there**.

That is, enable the option, e.g. Combine CSS files, without the need to visit every page separately and use the meta-box there.

[2021-03-24 15:49] piotrbak commented on #3444
Seems to be the same ones:
https://github.com/wp-media/wp-rocket/issues/2983

[2021-03-24 17:21] viobru commented on #2852
Related ticket: https://secure.helpscout.net/conversation/1460572002/249649/

[2021-03-24 20:06] remyperona commented on #3630
I'm marking this as `wontfix` and closing the issue, as it's not something we can handle like the images fallback.

As a note, if it's an issue for one of our users, there is always the possibility to use the `rocket_lazyload_background_images` filter to disable this specifically.

[2021-03-24 20:06] #3630 closed, assigned to nobody

[2021-03-25 07:05] DahmaniAdame commented on #2083
Related - https://secure.helpscout.net/conversation/1463024658/250308

The minification library seems to have fixed it - https://github.com/simondud/minify/commit/556e5d1640684fb7397ceff549acbb52503ff438

[2021-03-25 09:26] SM-Fahim opened #3715 "WP Rocket not compatible with WOOCS - WooCommerce Currency Switcher?"
**Describe the bug**
The [site](https://shop.derval.ie/) using two currencies, EUR(Default) and GBP. When WP Rocket is enabled, the default changes to GBP. The weirdest thing is that when I disable options from the File Optimization tab one by one, the problem is solved. But when I clear the cache, the problem is again there. Currently, I've disabled all the options on the File Optimization tab, s

[2021-03-25 10:25] GeekPress commented on #2542
@nhterry Until you will see a milestone set up on this issue, it means we don't have any update.

We have currently 434 opened issues and we can't fix all of them in a week. We have to prioritize.

Thanks for your comprehension.

[2021-03-25 12:13] vmanthos commented on #3348
**Related ticket:** https://secure.helpscout.net/conversation/1454686795/247902?folderId=2135277

[2021-03-25 12:31] hippocampestudio commented on #2542
@GeekPress : I understand the idea of prioritizing, but this issue is almost one year old (15 Apr 2020)...
So this is not an issue from last week, and as @nhterry says, it becomes critical
On my side I am forced to look for other competing solutions because I really need this :(

[2021-03-25 12:56] vmanthos opened #3716 ""Replace YouTube iframe with preview image" is adding empty space"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When:

1. **Replace YouTube iframe with preview image** is active.
2. The `iframe` is wrapped in `<p></p>`, like this:
[code]
adding the YouTube thumbnail takes the pro

[2021-03-25 14:43] NataliaDrause opened #3717 "Automatic compatibility with WPX hosting and their CDN"
**Is your feature request related to a problem? Please describe.**
WP Rocket cache-control header for text/html with max-age=0 is not compatible with WPX custom-built CDN.

**Describe the solution you'd like**
Automatically remove the header for text/html for websites hosted with WPX.

**Additional context**
Ticket: https://secure.helpscout.net/conversation/1464674180/250829/

Currently, the heade

[2021-03-25 14:47] vmanthos opened #3718 "CDN srcset rewrite - Additional Variation Images Gallery for WooCommerce breaks"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

The variable products gallery that's added by the [Additional Variation Images Gallery for WooCommerce](https://.wordpress.org/plugins/woo-variation-gallery/) plugin br

[2021-03-25 20:05] #3449 closed

[2021-03-25 22:46] mikobig commented on #3142
Same problem. Need to click twice on links. Happens on iOS devices with Safari, Chrome, Mozilla and Edge browsers. I have tested a lot and found a handful of scripts which do not trigger the problem when delayed.

[2021-03-26 07:56] Mai-Saad opened #3719 "CDN CNAME prevent minification of external js scripts although CDN feature isnot activated"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version

- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Minification to external js is not working if CNAME is set while CDN is disabled

**To Reproduce**
Precondition:
Having page with external js i.e `<script src="http

[2021-03-26 08:49] WordPresseur opened #3720 "Preload links: Exclude PDF links from being automatically preloaded"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**
If you have links to PDF files into a post andyou move the mouse hover the links, it will automatically download the PDF files to the browser’s cache memory. This can a

[2021-03-26 09:42] vmanthos commented on #3716
I discussed this with @DahmaniAdame and he brought to my attention that `<p><div></div></p>` isn't valid markup ([reference](https://stackoverflow.com/a/10763952)).

The following source code:
[code]
will be converted by the browser to:
[code]

We need to make sure we remove `<p></p>` when processing YouTube `iframe`s and the Replace YouTube iframe with preview image is active.

[2021-03-26 09:46] Mai-Saad opened #3721 "Excluded js files from load js deferred is affecting combine js although load js deferred is disabled"
**Before submitting an issue please check that you’ve completed the following steps:**

- [x] Made sure you’re on the latest version

- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Combine js only combine 1st URL in source incase it was excluded from load js deferred while load js deferred is unchecked

**To Reproduce**
Precondition:
1- Exclu

[2021-03-26 11:13] piotrbak commented on #3719
Wasn't able to reproduce this on the fresh settings, only when using the ones coming from this issue. In our debug log it stops here:
![image](https://user-images.githubusercontent.com/26767037/112623511-5a4e9b80-8e24-11eb-92f3-df85293255a4.png)

[2021-03-26 13:29] Mai-Saad commented on #3404
With 3.8.7: the following steps results in not combining files containing jquery in it`s name although they are successfully minified.

Precondition:
- Having page with js files containing jquery name i.e http://snippi.com/s/quu0xj4

Steps:
1- Fresh installation of WPR (load js deferred is disabled)
2- Enable minify and combine js
3- open the page incognito and check source
4- Urls containing jque

[2021-03-26 14:42] camilamadronero-zz opened #3723 "W3C HTML Validation Error for Google Kit and Delay JavaScript execution"
**Before submitting an issue please check that you’ve completed the following steps:**

- [ ] Made sure you’re on the latest version
- [ ] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
https://validator.w3.org/ HTML validation throws 2 errors for Google Analytics and Google AdSense codes inserted using Google Kit when using the Delay JavaScript ex

[2021-03-26 17:04] Mai-Saad opened #3724 "CDN isnot applied on images with relative url containing query string"
**Before submitting an issue please check that you’ve completed the following steps:**

- [x] Made sure you’re on the latest version

- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
A clear and concise description of what the bug is.
CDN is not applied on paths containing query string

**To Reproduce**
Precondition:
- Having page with image UR

[2021-03-26 18:13] iCaspar opened #3725 "Revise Integration tests relying on live API calls to external resources"
Our current integration tests have several instances of relying on actual API calls to external resources. This is bad because our tests fail when those services are not available, and when the variable content from the API changes. It also creates additional unnecessary calls to our APIs.

These should be refactored to use the WP_HTTP `pre_http_request` filter to preempt live API calls and inject

[2021-03-26 18:58] remyperona commented on #3725
In the Cloudflare addon too I think

[2021-03-27 12:07] AscensionAynat commented on #2776
Hi, is there already a solution for this issue? I'm having this problem.

[2021-03-28 06:25] d19dotca commented on #3327
I am experiencing this issue as well with Elementor + WP Rocket with Combine CSS disabled (also minify disabled too and no Optimize CSS Delivery), whenever I edit anything that modifies the CSS. I always have to purge the cache every-time I make such a change, which is quite annoying during development of the site.

I run on an HTTP/2 enabled server, and would prefer not to enable the Combine CSS

[2021-03-28 14:08] MuhammedSwalihct opened #3727 "Add missing image dimensions not working for SVG images"
**Before submitting an issue please check that you’ve completed the following steps:**
- Running on the latest version

**Describe the bug**
The "Add missing image dimensions" feature doesn't seem to be working with SVG images. I am talking about SVG images added using the `<img>` tag. I read that the feature will not work on pure SVG. But is that the case for the .svg files as well? If so, isn't

[2021-03-28 17:06] gevcen commented on #3727
WP Rocket doesn't support SVG format in that feature.
Therefore, it's not a bug but a feature request.

![image](https://user-images.githubusercontent.com/51261962/112760890-e1ed0380-8ff8-11eb-8efc-517d27c38c35.png)

However, I think it's a necessity to support for SVG because competitors do...
If FlyingPress can do it, WP Rocket can certainly do it too :)
https://flying-press.com/changelog/

![im

[2021-03-28 17:28] DahmaniAdame commented on #3727
@Tabrisrp @GeekPress

**Updated to use width and height first, and fallback to viewBox if any or both of the two are missing.**

We can extract dimension from the SVG document width and height, with [viewBox attribute](https://www.w3.org/TR/SVG/coords.html#ViewBoxAttribute) as a fallback if one or both of the above are missing.

We can use a customized replacement for getimagesize() on /inc/Engine

[2021-03-28 20:41] smerriman opened #3728 "Forcing font-display:swap is bad"
In https://github.com/wp-media/wp-rocket/pull/3445 , the font-display:swap parameter is forced on all font-face definitions in the CSS, even if they provide their own font-display parameter.

Currently, Google is pushing Core Web Vitals heavily, and CLS is one of those core vitals. Using a webfont often adds to the CLS significantly, especially on mobile where text rendered in a different font qui

[2021-03-28 22:32] gevcen commented on #3728
If I'm not wrong you can disable WP Rocket's fonts optimization with this helper plugin. Then you can use whatever alternative for your case.

https://docs.wp-rocket.me/article/1312-optimize-google-fonts#deactivate

[2021-03-28 22:37] smerriman commented on #3728
You are wrong I'm afraid - that's just for Google fonts.

In the ticket where this was discussed ( https://github.com/wp-media/wp-rocket/issues/3375 ) it was suggested to have a filter allowing this setting to be customised, but for some reason it was decided not to include one.

[2021-03-29 02:22] MuhammedSwalihct commented on #3728
I backup @smerriman 's opinion on this. https://web.dev/preload-optional-fonts/ according to the recommendation here as well. The "Swap" is not always the best choice. Preload with "font-display: optional" seems to be working better for the preloaded fonts while the Swap works better for fonts that are not preloaded. So, forcing this is a bad idea that will prevent users from having a choice.

[2021-03-29 05:30] aurelienpierre opened #3729 "WP eMember : CDN disabled for logged-in users"
**Describe the bug**
* Users logged-off get served images, CSS and JS from CDN (AWS Cloudfront) as they should.
* Users logged-in get served from CDN too if WP eMember is disabled
* Users logged-in **do not** get served from CDN if WP eMember is enabled.

**What should happen**

Everyone should get served from CDN, this has nothing to do with actual page/content caching.

**Context**

There is no

[2021-03-29 06:36] socialpreneur commented on #3142
platform.twitter.com/widgets.js seems to be triggering double tap on Chrome with iOS. But there're sites that work fine, so I'm thinking depending on some themes, delaying js triggers double tap.

[2021-03-29 07:12] NataliaDrause opened #3730 "Uncaught TypeError caused by popover.js script from Wistia"
**Before submitting an issue please check that you’ve completed the following steps:**

- [x] - Made sure you’re on the latest version
- [x] - Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
popover.js script from Wistia is throwing the following error in the WP Rocket dashboard in the Admin area:
`Uncaught TypeError: Cannot read property 'popoverBo

[2021-03-29 08:12] GeekPress commented on #3526
After saving the option, if we detect the pattern /(.*) we won't save this value. A notice will be displayed to let users we didn't save this value and why we did that.

@webtrainingwheels Do you have any suggestions about the text for this notice?

[2021-03-29 08:47] engahmeds3ed commented on #3282
**Reproduce the problem**
No but I can see the issue on the code itself, we will need an environment for testing after adjusting that code.

**Identify the root cause**
For the first issue of the sever global variable, yes I can see that on [their documentation](https://docs.litespeedtech.com/lscache/lscwp/admin/#testing) so we need to use the environment variable `X-LSCACHE`

For the second issue

[2021-03-29 10:12] engahmeds3ed commented on #3690
We found the class still there but we requested access from customer and waiting for it

[2021-03-29 11:49] NataliaDrause commented on #3730
The error appears only when the browser window is resized (e.g. the JS console opens). The error is not present if the window stays the same size. Discovered thanks to @piotrbak

[2021-03-29 12:48] engahmeds3ed commented on #3690
**Reproduce the problem**
I can see the issue on the code level also @vmanthos and @alfonso100 confirmed that everything is working when we remove mentioned check.

**Identify the root cause**
On this line
https://github.com/wp-media/wp-rocket/blob/cf8b0b647456783d62d9f180b8e71643fe75d763/inc/3rd-party/hosting/godaddy.php#L104

we use wrong namespace `WPass` instead of `WPaas`

**Scope a solution*

[2021-03-29 14:11] remyperona commented on #2876
### Scope a solution ✅
In `WP_Rocket\Engine\Admin\Beacon\Beacon::insert_script()`:

- add an additional conditional check for `rocket_get_constant( 'WP_ROCKET_WHITE_LABEL_ACCOUNT' )`
- update the tests & fixtures to add this case

### Estimate the effort ✅
Effort `[XS]`

[2021-03-29 14:19] ScottTravisHartley commented on #3728
I want to add that preloading fonts and using optional often increase lcp so you're going to make a trade using that method as well.

[2021-03-29 14:22] remyperona commented on #2878
### Scope a solution ✅
- Copy the code of `wp_get_environment_type()` to `inc/compat.php`, wrapping it in a `function_exists()` check
- Use the function where we use `rocket_live_site()`, it's currently specifically in the RocketCDN code
- Update related tests

### Estimate the effort ✅
Effort `[XS]`

[2021-03-29 14:42] viobru commented on #2713
Another request: https://secure.helpscout.net/conversation/1464606228/250800/

[2021-03-29 15:09] remyperona commented on #3681
I can reproduce this, not only for inline scripts, but also for script with a `src` attribute, and the same for CSS files when using combine CSS.

We currently strip the corresponding HTML code from the page HTML, but we don't remove the line it was on, so any line break/new line is preserved, which explains the spacing.

That said, it has no impact on functionality, and likely no impact on perfor

[2021-03-29 15:11] remyperona commented on #158
@wp-media/productrocket Should we groom this as "remove relative protocol" option?

[2021-03-29 15:37] remyperona commented on #3645
Hi @MrPropre,

Did you encounter the CORB warning when using the plugin?

[2021-03-29 15:39] remyperona commented on #3600
### Scope a solution ✅
- Add `.wpstage.net` to the list of staging domains in `functions/api.php` `rocket_is_live_site()`
- Update fixtures

### Estimate the effort ✅
Effort `[XS]`

[2021-03-29 15:43] remyperona commented on #3229
@wp-media/productrocket Knowing that support for IE11 will be dropped in either WP 5.8 or 5.9, do we want to go forward here? Or consider this as a `wontfix` and close?

[2021-03-29 15:46] remyperona commented on #3729
Hi @aurelienpierre,

Is it possible that this is prevented by WP eMember directly, in their code, by hooking on one of our filters?

I'm saying this because we don't have any compatibility code on our side for this plugin, and the fact that it seems to be working correctly when it is disabled.

[2021-03-29 15:55] GeekPress commented on #3229
@Tabrisrp Indeed, we can consider this issue as `wontfix` as we know support for IE will be dropped soon in WordPress

[2021-03-29 15:55] #3229 closed

[2021-03-29 15:59] GeekPress commented on #158
@Tabrisrp I think we need to open a new issue about the remove relative protocol option. I'm still wondering what could be the impact of doing that as Cloudflare still have the Flexible SSL option.

[2021-03-29 17:26] webtrainingwheels commented on #3526
@GeekPress The text that @alfonso100 put in his original proposal looks good to me (it's in the screenshot). i have just tweaked it slightly:

Side note - to avoid any unexpected issue I think we should let the customer save their value, but just show the notice. Maybe they are using it as a debugging shortcut to stop caching or something that we haven't thought about.

If you really want to not s

[2021-03-29 19:00] MuhammedSwalihct commented on #3728
@ScottTravisHartley It is actually a "per-user" case. For example, if we do not preload the font, it will cause CLS (cumulative layout shift) because the critical fonts are loaded after the page load and that causes the layout to jump. In some cases at a big scale, especially for those sites with big titles and stuff. For me personally, preloading ONLY the critical font(s) with the font-display op

[2021-03-29 20:10] #3537 closed, assigned to remyperona

[2021-03-29 20:21] remyperona commented on #3644
@wp-media/productrocket Is this something we will want to do?

[2021-03-29 20:29] remyperona commented on #2492
@wp-media/productrocket I think we can safely do this now while we switch to native lazyload, since we won't be modifying the `src` or `srcset` values anymore

[2021-03-29 22:01] MrPropre commented on #3645
Hello @Tabrisrp,

Not personally (I use Firefox) but I know that in most cases the warning can safely be ignored. Here is the documentation from Google: https://www.chromium.org/Home/chromium-security/corb-for-developers

It seems that adding `;charset=utf-8` to an application/json content type makes it incorrect due to Chrome's content type enhancement. Additionally, by checking IANA's site, we c

[2021-03-30 01:49] webtrainingwheels opened #3734 "Don't show wp_cache warning in Site Health for those hosts where we set it to false"
There are some hosts where we [deliberately set wp_cache to false, like DreamPress](https://github.com/wp-media/wp-rocket/blob/92b9036c6a7492d8790e8558ef60c8ce8b721470/inc/ThirdParty/Hostings/Dreampress.php#L24).

But in Site Health we are still showing this warning:
`"WP_CACHE is set to false. The WP_CACHE constant needs to be set to true for WP Rocket cache to work properly".`

So it's confusing

[2021-03-30 02:29] smerriman commented on #3728
One more thing on this topic. If I edit the CSSTrait.php to comment out the forcing of display-swap, I am able to retain my `font-display:optional` definitions.

However, they're included in the critical CSS, and when WP Rocket wipes out the critical CSS and replaces it with the stylesheet, it loads the fonts 'again' - causing the FOUT that optional was meant to completely bypass in the first plac

[2021-03-30 07:54] GeekPress commented on #2492
@Tabrisrp Indeed, we can schedule this change for 3.10.

[2021-03-30 08:00] GeekPress commented on #3644
@Tabrisrp It will require some benchmarks with Native Lazyload as we are going to switch to it started to 3.10. We need to check how the browser loads the images not yet visible from a slider.

[2021-03-30 08:04] GeekPress commented on #3526
Thanks Lucy for your suggestions.

If we decide to not remove the value, does the notice can be removed by the user?

[2021-03-30 08:16] GeekPress commented on #3723
@Tabrisrp Does this problem will be fixed with the new Delay JS?

[2021-03-30 08:28] GeekPress commented on #3716
I'm not sure we can have an easy workaround. I let the @wp-media/php confirm that or not.

[2021-03-30 08:31] GeekPress commented on #3715
@SM-Fahim Thanks for reporting the bug.

Can you please open a ticket from here: https://wp-rocket.me/support/?

One of your Rocketeers will try to help to fix your problem. We will like to confirm it's not a configuration problem first. Then, if it's a confirmed bug we can't fix with a WP Rocket configuration, we will re-open this issue.

[2021-03-30 08:31] #3715 closed, assigned to nobody

[2021-03-30 08:56] GeekPress commented on #3728
We decided to force the font-display value to swap to be sure to resolve the « Ensure text remains visible during webfont load ».

From what Google is saying, the only solution to fix this audit is to set the font-display value to swap: https://web.dev/font-display/?utm_source=lighthouse&utm_medium=unknown

Please note that you are the kind of user who has good skills in web development and/or per

[2021-03-30 08:57] GeekPress commented on #3708
With our new Delay JS option scheduled for 3.9, this problem will be automatically fixed. So I'm closing this issue.

[2021-03-30 08:57] #3708 closed, assigned to nobody

[2021-03-30 09:34] MuhammedSwalihct commented on #3728
@GeekPress The point you are making is true. To fix the "Ensure text remains visible during Webfont load" issue, the font-display should be set.

But when we are preloading a font to avoid issues like CLS and FOUT, Google's own recommendation is to use font-display "optional" as you can see in this article https://web.dev/preload-optional-fonts/. It works better than "swap" for preloaded fonts.

I

[2021-03-30 12:03] GeekPress commented on #3681
@Tabrisrp Does the fix to resolve this issue will be easy to implement and without risks to trigger another issue?

[2021-03-30 12:07] NataliaDrause commented on #3717
WPX info for the hosting plan: https://secure.helpscout.net/conversation/1464806932/250871/

[2021-03-30 14:37] remyperona commented on #3681
I believe so, the idea would to be remove the matched content + any whitespace after it, instead of just the matched content.

[2021-03-30 14:44] remyperona commented on #3716
We can't remove parent elements, because we have no way to access it in fact. When we do the search with the RegEx, we match with the specific `iframe` element alone.

The solution could be to use an HTML element that can be part of a block element like the paragraph. For example, replace the `div` by a `span`.

[2021-03-30 14:51] remyperona commented on #3723
Yes and no. This specific error will not be there anymore because we preserve the `src` attribute, but there is a new one that will be there instead:

`<script type="rocketlazyloadscript" data-type="text/javascript" src="test.js" async></script>`

However we have no way to work around that, we need to define a fake type to prevent the file from being executed.

[2021-03-30 14:55] GeekPress commented on #3716
Ok, thanks for the feedback. As this enhancement won't have any impact on the performance, and it's going to be a pain to implement, let's invalid this request.

@vmanthos Can I let you contact the customer to let him know we won't fix that and why?

[2021-03-30 14:56] remyperona commented on #2492
### Scope a solution ✅
In `RocketLazyload\Image::canLazyload()`
- Remove the conditional block related to `wr2x_picture_rewrite`

### Estimate the effort ✅
Effort `[XS]`

[2021-03-30 14:58] GeekPress commented on #3716
If I'm correct, the span is an inline element that can't contain a block element like div, isn't it?

[2021-03-30 15:00] GeekPress commented on #3716
Or does the solution is to replace all `<div> `to `<span>` like:

[code]

[2021-03-30 15:01] remyperona commented on #3716
Yes, the proposed solution would be to replace in our code all `div` to `span` (and use CSS to make them display as block or inline-block)

[2021-03-30 15:02] remyperona commented on #3645
Thank you for your feedback.

I'm thinking we can safely remove this from the code in `wpr-cpcss.js`.

I have more doubts for the `.htaccess` file directives, so I would not touch this one for now.

[2021-03-30 15:02] remyperona commented on #3645
### Scope a solution ✅
In `assets/js/wpr-cpcss.js`
- Remove the `;charset=UTF-8` on line 88

### Estimate the effort ✅
Effort `[XS]`

[2021-03-30 15:04] GeekPress commented on #3723
But in the meantime, this is the only way we have to block the execution of a JS script.

Ok, let's put this into `wontfix`.

@camilamadronero Can I let you contact the customer to let him know why we aren't going to fix that? For his information, these errors don't have any impact on SEO or performance.

[2021-03-30 15:04] #3723 closed, assigned to nobody

[2021-03-30 15:46] remyperona commented on #3728
We can add a filter to bailout of the method handling that, no issue with this.

The previous implementation was already checking for the `font-display` existance before doing anything, and we changed that in #3375. I don't know if we want to revert to that. Potentially we could  check for the value, and force to `swap` only if it's not either `swap` or `optional`.

[2021-03-30 15:53] #3657 closed, assigned to vmanthos

[2021-03-30 16:20] webtrainingwheels commented on #3526
I think it we do the notification-style message at the top of the screen, per Alfonso's screenshot, I believe we should make it dismiss-able.

He also presented this idea:

If we used this method, the warning could remain

[2021-03-30 16:38] camilamadronero-zz commented on #3723
Customer was updated. Thank you.

[2021-03-30 17:08] camilamadronero-zz opened #3737 "Specific CPCSS Generation Notice in Sidebar Might be Confusing"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
The specific CPCSS generation notice that appears in the WP Rocket sidebar when the Optimize CSS delivery is disabled might be confusing. Customers might not see the

[2021-03-30 19:17] remyperona opened #3738 "Delay JS execution time (LazyLoad Script) - V2"
#### What are we proposing to do?

To build a new way to delay the execution of JavaScript and getting a significant boost on website performance. WP Rocket will delay all JavaScript instead of an inclusion list with the current feature.

#### Why are we doing this?

With the new Core Web Vitals metrics, the goal for performance tools is to provide the best user experience to deliver as fast as po

[2021-03-30 19:35] remyperona opened #3739 "Delay JS v2: Admin part (1/2)"
Sub-task of epic #3738

### `Engine\Optimization\DelayJS\Admin\Settings`
- Remove the `$defaults` property
- Remove the `$options` property (not used at all)
- Remove `__construct()` method
- Remove the `get_button_data()` method
- Remove the `option_update_3_7_4()` method
- Remove the `option_update_3_7_2()` method
- Remove the `option_update_3_7_6_1()` method
- Remove the `restore_defaults()` me

[2021-03-30 20:05] remyperona opened #3740 "Delay JS v2: Frontend part (2/2)"
Sub-task for epic #3738

### `Engine\Optimization\DelayJS\HTML`
- Remove `$allowed_scripts` property
- Remove the `prepare_allowed_scripts_regex()` method

#### `delay_js()`
- Remove the `$allowed_scripts` related method call and conditional check

#### `replace_scripts()`
- Update the method to perform the new transformation of scripts HTML, based on the feature doc specs

#### `insert_ie_fallbac

[2021-03-30 20:11] smerriman commented on #3728
I think you are very mistaken here. All of my clients - who have zero skills in web development / performance - are receiving notifications from Google Search Console saying their whole site is failing the core web vitals test on mobile due to the CLS score. Testing has showing webfont changes significantly improves this.

On top of that, they're being told that Google is introducing core web vita

[2021-03-30 21:12] sandyfzu commented on #2776
Related ticket: https://secure.helpscout.net/conversation/1460570318/249648/

The client applied the changes that Vasilis proposed and says that fixes the issue.

[2021-03-31 04:21] MuhammedSwalihct commented on #3728
@Tabrisrp Adding a filter would be great. It would help anyone who wants to disable the feature and go with their own attributes.

Apart from that, for both "performance" and "fixing errors in page speed tools" it would be better to not only force "swap" but also force "optional" if the font is preloaded (as you may have already read from the link I shared above.) If the font is preloaded, optiona

[2021-03-31 07:51] aurelienpierre commented on #3729
What kind of hook should I grep ?

[2021-03-31 07:56] DahmaniAdame opened #3742 "Minification forces a relative path to the content of clip-path"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When a CSS file containing the `clip-path` property with an ID like `#my-object`, minification will result in adding a relative path to it going from:

`clip-path: u

[2021-03-31 07:56] DahmaniAdame commented on #3742
Reported here https://twitter.com/pacotole/status/1376835335737520135

[2021-03-31 08:11] aurelienpierre commented on #3729
I have searched for `dequeue`, `deregister` and `rocket`, no success.

[2021-03-31 11:55] viobru commented on #1785
Related ticket: https://secure.helpscout.net/conversation/1469373461/251991/

[2021-03-31 11:57] gevcen commented on #3738
When reading the phrase "we need to load the images when needed (Lazyload)", does that relate to the issue reported in the ticket https://github.com/wp-media/wp-rocket/issues/3695? Thanks

[2021-03-31 12:05] vmanthos commented on #2619
Related ticket: https://secure.helpscout.net/conversation/1468064251/251658?folderId=2135277

[2021-03-31 12:38] NataliaDrause commented on #2776
Likely related: https://secure.helpscout.net/conversation/1465576506/251041/

[2021-03-31 12:50] remyperona commented on #3742
Duplicate of #3279

[2021-03-31 13:36] pedro-mendonca opened #3743 "[i18n] The add-ons list separator ' and ' is not translatable"
**Describe the bug**
The add-ons list on the below message is not fully translatable because it uses a non-i18n [implode()](https://github.com/wp-media/wp-rocket/blob/develop/inc/Engine/Admin/Settings/Page.php#L1584):
![imagem](https://user-images.githubusercontent.com/7371591/113151794-5c05ce00-922d-11eb-98dc-299bcd7964db.png)

WordPress can add a fully localized list separated with `','` and `'

[2021-03-31 15:43] Mai-Saad opened #3745 "Regenerate CPCSS progress not displayed in WPR settings when click on WPR settings link in regeneration message (regeneration in plugins view)"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version

- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Regenerate CPCSS inside plugins tab of dashboard then clicking on WPR settings link in generation message => will navigate to WPR settings but CPCSS progress is not

[2021-03-31 23:01] webtrainingwheels commented on #3734
https://secure.helpscout.net/conversation/1470452378/252254?folderId=377611
https://secure.helpscout.net/conversation/1439456429/243223/

[2021-04-01 08:51] engahmeds3ed commented on #3690
We tried this fix on one of our customer's site and it's working properly.

[2021-04-01 09:14] vmanthos opened #3747 "Polylang/WooCommerce - Inactive languages cause all pages to be excluded from caching"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

On a WooCommerce site using Polylang with inactive languages, our automatic WooCommerce pages exclusion is causing the `/(.*)` to be added in WP Rocket's configuration

[2021-04-01 12:25] vmanthos opened #3749 "Replace YouTube iframe not working when a page is loaded using AJAX"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

The insertion of the YouTube thumbnail relies on the `onload` event firing:
[code]

When a page is fetched using AJAX, e.g. infinite scroll implementations, the `onload

[2021-04-01 12:35] viobru commented on #2366
Related ticket: https://secure.helpscout.net/conversation/1470871326/252344?folderId=4130683

[2021-04-01 12:56] engahmeds3ed commented on #3749
Putting a note here, just in case we will work on this:
- If we triggered `DOMContentLoaded` again using the following script, the issue is resvoled
[code]
but this is a browser hack and we can't provide such solution to our customers because it may lead to other compatibility issues as this is a general event that maybe used by many other plugins/scripts.

- My proposed solution is that need to p

[2021-04-01 14:48] #3739 closed, assigned to remyperona

[2021-04-01 17:44] androidacy-user opened #3751 "[REQUEST] Properly opt out of tracking"
**Is your feature request related to a problem? Please describe.**
There's a big ol' switch on the front page that says Rocket Analytics, and it's off. So the plugin isn't tracking me, right? Seems wrong, actually!

**Describe the solution you'd like**
Let's take a look in network requests. What's this? Several requests to `https://distillery.wistia.com/x` especially on user actions. They're getti

[2021-04-01 17:53] Jonras78 commented on #3267
My sites changes content every 10 minutes, so newest WP-Rocket versions is useless because there is no option to set cache lifespan of these 10 minutes....

[2021-04-01 18:13] GeekPress commented on #3751
Hi @androidacy

Wistia is the tool we are using to display the video you will find in the Tutorials tab. There is no relation with Rocket Analytics.

[2021-04-01 18:13] #3751 closed, assigned to nobody

[2021-04-02 13:37] vmanthos opened #3757 "Cache clearing not working for CPTs with base using non-English characters"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

For CPTs, e.g. WooCoommerce products, where the base has been set to non-English characters, post cache clearing isn't working.

For example, the following:
`https://ww

[2021-04-02 19:41] webtrainingwheels commented on #678
https://secure.helpscout.net/conversation/1471125496/252400?folderId=4130695

[2021-04-02 20:39] apostolisem commented on #1224
Many people are suggesting this snippet, it's even referenced in wp-rocket's documentation, but... the only thing it is doing, is echoing "Cache cleared!". Please correct me if I am missing something.

[2021-04-02 21:05] webtrainingwheels commented on #928
https://secure.helpscout.net/conversation/1472418626/252775?folderId=377611

[2021-04-03 16:25] serg-pervushin opened #3758 "Conditionally disable plugins + selected CSS/JS files if don't need them"
It will be great if we can disable plugins or parts of them that are not needed on certain pages (js/css). Now you have to use an additional plugin for these purposes, such as this one https://gonzalesplugin.com/

[2021-04-03 16:31] serg-pervushin opened #3759 "Lazyload content"
I don't know how they did it, but I checked it on one of the sites and it's just a great feature! Rather, it does not always work stably and requires careful use, but it helps a lot.

Here's what they have written briefly about this feature: «If you have any dynamic part on your page you don’t need to exclude it from caching. You can let Swift Performance to cache the whole page, and use AJAX to l

[2021-04-04 13:18] girlie commented on #2907
Related ticket: https://secure.helpscout.net/conversation/1473743512/253065/

[2021-04-04 16:44] hisureshkumar commented on #3085
Looks this problem is still existing. Ads are not appearing in WP Advanced Ads when I enable wp-rocket-delay in javascript execution. Any solution for this?

[2021-04-05 01:11] saschabrockel opened #3760 "Sites with TranslatePress on different languages are not being cached"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Install TranslatePress & WPRocket
2. Setup TranslatePress to not us

[2021-04-05 07:01] vmanthos commented on #2776
Related ticket: https://secure.helpscout.net/conversation/1472466353/252789/

[2021-04-05 11:31] Mai-Saad opened #3761 "Auto refresh is needed when change adds-on settings"
**Before submitting an issue please check that you’ve completed the following steps:**

- [x] Made sure you’re on the latest version

- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When activating/deactivating cloudflare and/or Sucuri, the note displayed/hidden in CDN tab won't be displayed till refresh the page

**To Reproduce**
Precondition

[2021-04-05 14:24] NataliaDrause commented on #2776
Related: https://secure.helpscout.net/conversation/1473348791/252971

[2021-04-06 09:30] pacotole commented on #3742
Can be fixed with this filter (for inline SVGs):

[code]

[2021-04-06 14:00] alfonso100 commented on #1224
Hi @apostolisem

The code you shared won't work. It should be also calling the `rocket_clean__domain()` function.

[code]

[2021-04-06 14:03] #3740 closed, assigned to remyperona

[2021-04-06 14:12] apostolisem commented on #1224
Hi @alfonso100,

I replaced intentionally code in "if true" case with the comment "//run if true". Sorry, I had no intention to confuse anyone. I just wanted to point out that when you run the following code, what you get is only one "Cache cleared!" with no real results:
[code]
If you analyze the code, you'll notice that if statement is not true, and "rocket_clean_domain()" function never actuall

[2021-04-06 15:11] alfonso100 commented on #1224
I have updated the code above. please check: https://github.com/wp-media/wp-rocket/issues/1224#issuecomment-623472041

If `rocket_clean_domain` is not available, it means WP Rocket is not active so the function should exit.

[2021-04-06 15:38] apostolisem commented on #1224
I believe the scope of the code should be to clear the cache instead of just stating "Cache cleared!".

 I am analyzing/commenting the code to show you "why" it is out of scope:

[code]

I am trying to explain that the code above is not working through ManageWP, but it only produces an output "Cache cleared!" every time there is no error.

In order to understand it better, run this snippet in a we

[2021-04-07 06:37] vmanthos commented on #1491
**Related ticket:** https://secure.helpscout.net/conversation/1472389207/252767

[2021-04-07 08:28] hunter249 commented on #3301
Why external images are excluded automatically in this feature ?
Please Make it available for external images as well

[2021-04-07 09:45] kumzee commented on #3180
Hi guys,

One of my client had broken page layout over the Easter break (4 days) losing half their conversions.
Any idea when is this update being rolled out?

[2021-04-07 15:20] #1590 closed

[2021-04-07 15:43] #3743 closed, assigned to pedro-mendonca

[2021-04-07 15:45] remyperona commented on #3593
Closing this value, as the new approach doesn't use the inclusion field anymore.

[2021-04-07 15:45] #3593 closed, assigned to nobody

[2021-04-07 16:28] GeekPress commented on #3180
@kumzee Hi 🤚 As mentioned in the milestone section, it's scheduled for 3.10. No ETA yet about the release date.

[2021-04-07 19:01] webtrainingwheels commented on #2440
https://secure.helpscout.net/conversation/1472233949/252695?folderId=377611

[2021-04-07 19:12] #3326 closed

[2021-04-07 19:12] #3418 closed

[2021-04-08 01:25] roadsunknown commented on #3180
3.8 December 9, 2020
3.7 August 27, 2020
3.6 June 9, 2020

On average, minor version releases are every 3 months. This would assume a 3.9 release in March but that did not happen so at the earliest we should be expecting 3.10 at least 3-4 months from now or over 9 months after this issue was first opened and APO was released.

[2021-04-08 12:26] GeekPress commented on #3301
@hunter249 External images aren't excluded from this feature. If it doesn't work, it means you don't have the right server configuration:
https://github.com/wp-media/wp-rocket/blob/develop/inc/Engine/Media/ImageDimensions/ImageDimensions.php#L248

Please contact on our support if you need help: https://wp-rocket.me/support/

[2021-04-08 13:34] vmanthos opened #3770 "Extensive cache clearing when updating non-published products/CPTs"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When saving a non-published product, e.g. one that's "pending review", all cached files in the `/cache/wp-rocket/example.com/product/` folder are cleared.

This is beca

[2021-04-08 16:14] Matthiator opened #3771 "Caching issue with Avada theme -> Container Element -> Container Publishing Date"
We use the [Avada](https://avada.theme-fusion.com/) theme with container element and the option [Container Publishing Date]( https://theme-fusion.com/documentation/avada/elements/container-element/ ).
This allows us to publish time-based content on the website.
However, if the page is cached with wp-rocket, the time-controlled publication of the container no longer works. The only workaround is to

[2021-04-09 01:33] webtrainingwheels opened #3772 "Missing image dimensions conflicts with Penci lazyload, Soledad theme"
[Soledad theme by PenciDesigns](https://themeforest.net/item/soledad-multiconcept-blogmagazine-wp-theme/12945398) includes a lazyload feature.

When this is active with our missing image dimensions feature, we are applying the sizes on the placeholder image `penci-holder.png`, not the real image which is inside `data-src`. This results in the real image being displayed at a tiny size.

Their marku

[2021-04-09 08:08] GeekPress opened #3773 "Get rid of Disable WordPress Embeds option"
## What are we proposing to do?

With this update, WP Rocket will no longer disable WordPress embeds. The UI will be removed.

## Why are we doing this?

We are doing this as part of cleaning up the WP Rocket user interface to make WP Rocket even more user-friendly. Disabling WordPress embeds has a very low impact since it removes one HTTP request of 1.2 KB in size.

## User expectations and exper

[2021-04-09 10:22] mcpat-it opened #3775 "wp_cache warning in Site Health"
**Describe the bug**
wp_cache is set to true in config, but I see a error in Site health (see below)

**To Reproduce**
Go to site health, there is the warning (at least for me since updating to wp 5.7)
After downgrading to a lower version (5.6.x) the error warning disappears!

[code]

**Expected behavior**
No error

**Backlog Grooming (for WP Media dev team use only)**
- [ ] Reproduce the problem

[2021-04-09 11:21] piotrbak commented on #3738
@Tabrisrp This LL script should be also excluded:
https://github.com/wp-media/rocket-lazyload-common/blob/bca56461c1126f4e2b7cc567ac457df69700dc38/src/Assets.php#L237

[2021-04-09 12:23] piotrbak commented on #3738
@Tabrisrp @GeekPress I'm also thinking, should we delay our Critical CSS script? 🤔

[2021-04-09 12:40] GeekPress commented on #3738
@piotrbak It shouldn't cause any problem.

[2021-04-09 14:38] remyperona commented on #3775
It might be related to #3734, is your website on an hosting with its own caching system?

[2021-04-09 15:04] mcpat-it commented on #3775
No. I have an "own" server (netcup vServer), and there is this error. Before updating to wp 5.7 I didn't see this error

[2021-04-09 20:24] #3738 closed, assigned to remyperona

[2021-04-09 20:28] remyperona opened #3780 "3.9 release checklist"
This card identifies all of the tasks that need to be completed for the major release. Each task owner is responsible to communicate in this card about status and check when done and ready.

These tasks need to be completed _before_ we can proceed with the 3.9 release:

Tasks belonging to the Dev Scrum Team @wp-media/php:

- [x] Merge all PRs for this major release.
- [x] Close all issue cards tha

[2021-04-10 16:40] bwafels opened #3781 "Emply Woocommece store page with preloading active on main language"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version: All plugins and wordpress updated to the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When using the option "preload sitemap" on a woocommerce store with more than one language (WPML). The primary langu

[2021-04-11 09:36] NataliaDrause commented on #1890
Related: https://secure.helpscout.net/conversation/1476575061/253955/

[2021-04-12 09:15] bwafels commented on #3781
Recommendation from Yoast:

In regards to sitemaps, can you please confirm whether you have created the rules described here to exclude the sitemap from preloading?

You can add these rules by going to Settings > WP Rocket > Advanced Rules > Never Cache URL(s) and exclude the following:

/(.*)sitemap(.*).xml
/(.*)sitemap.xsl

[2021-04-12 09:21] vmanthos commented on #3781
@bwafels You'll receive a reply from me to your ticket very soon.

**Update**

**Related ticket:** https://secure.helpscout.net/conversation/1480136909/255043

[2021-04-12 13:24] #3597 closed, assigned to remyperona

[2021-04-12 17:08] GeekPress commented on #3667
I'm re-opening this issue to revert it. We had some complaints and issues we aren't able to understand why we have the problem.

We would need to do these changes:
- Don't stop the preload fonts when CPCSS is on
- Set the `nofontface` argument to false (instead of true)

[2021-04-13 06:14] NataliaDrause commented on #2409
Related: https://secure.helpscout.net/conversation/1479323608/254827
Removing htaccess rules didn't help.

[2021-04-13 09:57] socialpreneur commented on #3142
Anybody know if iOS is planning to solve this issue? WP Rocket, Flying Scripts, Perfmatter's Delay JS, and all of these are having this issue.

[2021-04-13 12:25] NataliaDrause commented on #3327
maybe related: https://secure.helpscout.net/conversation/1481480844/255393?folderId=3864740

[2021-04-13 13:00] NickNoordijk commented on #3142
Hey, found this through Google but I don't use wp-media or wp-rocket. The issue for me happens when I load the JS scripts of my advertiser after the first scroll. I need to tap the link twice to navigate. One tap anywhere on the screen followed by the link tap works too. When I load them at init the links can be tapped normally just once. Just wanted to let you all know it's not only these scripts

[2021-04-13 13:03] NataliaDrause commented on #1997
related: https://secure.helpscout.net/conversation/1478567372/254576?folderId=3864740

[2021-04-13 20:02] alfonso100 opened #3788 "The cache is not preloaded after the CPCSS is regenerated"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**
After the Critical CSS is regenerated, and it successfully finishes, the preload is not triggered.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable Preload
2

[2021-04-13 20:19] remyperona commented on #3780
Delay JS feature doc in notion updated

[2021-04-13 21:25] webtrainingwheels commented on #3635
@Tabrisrp The doc link for this is going to be: https://docs.wp-rocket.me/article/1529-remove-unused-css
ID: 6076083ff8c0ef2d98df1f97

[2021-04-13 22:51] wassilis83 commented on #3742
Where to place this code? If I put this in functions.php I got error:

[code]

looks not related to preg_replace so maybe I'm placing the code in the wrong position

[2021-04-14 12:10] NataliaDrause commented on #2776
Related: https://secure.helpscout.net/conversation/1482570374/255785?folderId=3864740

[2021-04-14 13:07] #3667 closed, assigned to remyperona

[2021-04-14 14:48] #2776 closed

[2021-04-14 14:49] remyperona commented on #3747
We're blocked on this issue because we can't reproduce it on our tests with the steps provided in the issue description.

[2021-04-14 14:54] Mai-Saad opened #3789 "CPCSS is generated/regenerated for mobile although caching for mobile devices is disabled"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x]  Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
A clear and concise description of what the bug is.
When enable OCD or regenerate CPCSS while enable caching for mobile devices is a disabled but separate cache for

[2021-04-14 15:35] remyperona commented on #3780
New strings have been pushed to Transifex for translation

[2021-04-14 15:44] remyperona commented on #3780
#### Changelog
- This version requires the WordPress version to be 5.3 or above
- New feature: Remove Unused CSS. This feature removes all the unused CSS from the page, reducing page size and lower the number of HTTP request (#3635)
- Enhancement: new version of our delay JS feature. It is now applied on all javascript files by default, instead of using an inclusion list (#3738)
- Google & Faceboo

[2021-04-15 05:19] vmanthos commented on #3747
@Tabrisrp @Mai-Saad I have reached out to the customer asking for access to their site, so I can see what's missing from the "steps to reproduce" process.

I'll update this thread as soon as I have something.

[2021-04-15 07:49] GeekPress commented on #3780
@Tabrisrp We're good ;)

[2021-04-16 07:39] vmanthos opened #3796 "License Validation - PHP fatal error when the customer's email contains a single quote"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When a customer's account email contains a `'`, the `licence-data.php` file will contain such a line of code:
[code]
This will cause a PHP fatal error when WP Rocket is

[2021-04-16 07:45] socialpreneur commented on #3142
@NickNoordijk Did you use custom functions, or did you manually fix the plugin file directly?

[2021-04-16 08:11] GeekPress commented on #3796
Stupid question, but is it allowed / possible to create an email with `'` inside?

[2021-04-16 08:19] vmanthos commented on #3796
I was wondering the same thing. I know for a fact that Gmail doesn't allow anything other than numbers, letters, and dots.

However, in the end, it doesn't really matter.

The customer can use it when registering, even by mistake, and this is something we should also be looking at to prevent this kind of issue.

[2021-04-16 08:29] GeekPress commented on #3758
Hi @serg-pervushin,

Please vote for this feature here: https://feedback.wp-rocket.me/27

[2021-04-16 08:29] #3758 closed, assigned to nobody

[2021-04-16 08:35] GeekPress commented on #3759
Hi @serg-pervushin

We are working on Lazyload Content feature too. It won't be as SF is doing. It will be totally innovative.

For image optimizer inside WP Rocket, we won't do it. We have our own service for this: Imagify.

[2021-04-16 08:35] #3759 closed, assigned to nobody

[2021-04-16 08:46] GeekPress commented on #3771
Hi @TW20-MH

Please contact our support team about your issue. We will be more than happy to help to fix your problem.

You can submit your ticket from here: https://wp-rocket.me/support/

[2021-04-16 08:46] #3771 closed, assigned to nobody

[2021-04-16 08:46] #3742 closed, assigned to nobody

[2021-04-16 09:53] vmanthos opened #3798 "AMP - the homepage's cache isn't cleared when publishing posts"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When the official AMP plugin is used, publishing a new post won't clear the cache of the AMP homepage, the way we do for the non-AMP homepage:
https://example.com/?amp=

[2021-04-16 09:55] piotrbak commented on #3798
@vmanthos It's a duplicate:
https://github.com/wp-media/wp-rocket/issues/3444

[2021-04-16 09:57] WordPresseur commented on #3103
Related ticket: https://secure.helpscout.net/conversation/1485260410/256529?folderId=4075497

[2021-04-16 10:00] vmanthos commented on #3798
Apologies @piotrbak. I searched for AMP specifically and missed that one.

I'll close this since a solution to #3444 will also apply here.

[2021-04-16 10:00] #3798 closed, assigned to nobody

[2021-04-16 11:03] GeekPress commented on #3049
Closing this issue as Google Tracking add-on will be removed started to WP Rocket 3.9

[2021-04-16 11:03] #3049 closed

[2021-04-16 11:06] GeekPress commented on #1260
Closing this issue as Facebook Pixels add-on will be removed in WP Rocket 3.9

[2021-04-16 11:06] #1260 closed

[2021-04-16 11:06] GeekPress commented on #1324
Closing this issue as Facebook Pixels add-on will be removed in WP Rocket 3.9

[2021-04-16 11:06] #1324 closed

[2021-04-16 11:06] GeekPress commented on #1326
Closing this issue as Facebook Pixels add-on will be removed in WP Rocket 3.9

[2021-04-16 11:06] #1326 closed

[2021-04-16 11:07] GeekPress commented on #1513
Closing this issue as Facebook Pixels add-on will be removed in WP Rocket 3.9

[2021-04-16 11:07] #1513 closed, assigned to nobody

[2021-04-16 11:07] GeekPress commented on #1802
Closing this issue as Facebook Pixels add-on will be removed in WP Rocket 3.9

[2021-04-16 11:07] #1802 closed

[2021-04-16 11:07] GeekPress commented on #1927
Closing this issue as Facebook Pixels add-on will be removed in WP Rocket 3.9

[2021-04-16 11:07] #1927 closed

[2021-04-16 11:09] GeekPress commented on #3584
With our new Delay JS option scheduled for 3.9, this problem will be automatically fixed. I'm closing this issue.

[2021-04-16 11:09] #3584 closed, assigned to nobody

[2021-04-16 11:12] GeekPress commented on #3208
With our new Delay JS option scheduled for 3.9, this problem will be automatically fixed. So I'm closing this issue.

[2021-04-16 11:12] #3208 closed

[2021-04-16 11:19] GeekPress commented on #3086
With our new Delay JS option scheduled for 3.9, this problem will be automatically fixed. So I'm closing this issue.

[2021-04-16 11:19] #3086 closed

[2021-04-16 13:06] remyperona commented on #1072
Closing this issue as Google tracking add-on will be removed in WP Rocket 3.9.

[2021-04-16 13:06] #1072 closed

[2021-04-16 13:06] remyperona commented on #2160
Closing this issue as Google tracking add-on will be removed in WP Rocket 3.9.

[2021-04-16 13:06] #2160 closed

[2021-04-16 13:06] remyperona commented on #2864
Closing this issue as Google tracking add-on will be removed in WP Rocket 3.9.

[2021-04-16 13:06] #2864 closed

[2021-04-16 13:59] viobru commented on #2952
Related ticket: https://secure.helpscout.net/conversation/1484962811/256444/

[2021-04-17 06:26] DahmaniAdame commented on #678
https://secure.helpscout.net/conversation/1485232148/256519/

[2021-04-17 10:01] DahmaniAdame commented on #2852
I tested the new pattern by replacing as suggested:

`$uris[] = '/(.+/)?' . $wp_rewrite->feed_base . '/?.+/?';`

with

`$uris[] = '/(?:.+/)?' . $wp_rewrite->feed_base . '(?:/(?:.+/?)?)?$';`

On https://github.com/wp-media/wp-rocket/blob/develop/inc/functions/options.php#L279

The "feed" exclusion is working without affecting other posts or taxonomies with "feed" on their slugs.

PS.: This will req

[2021-04-17 14:36] remyperona commented on #3796
So yes it's valid, even though it's the kind of thing that will break when used in input, since the single quote delimiter is used so often in the code.

[2021-04-18 04:02] socialpreneur commented on #3142
This (https://github.com/wp-media/wp-rocket/issues/3142#issuecomment-699957659) solution fixed a few sites, but not a complete solution unfortunately. But it's much better than WP Rocket's current code. Client sites are always different, and it's hard to figure out the exact cause of problem...

[2021-04-18 07:57] NataliaDrause commented on #3348
Related ticket: https://secure.helpscout.net/conversation/1470118874/252154/

[2021-04-18 12:27] roam92 commented on #3142
_> This fixed a few sites, but not a complete solution unfortunately._

Why do you say that? Can you give more details? Thanks!

[2021-04-18 13:19] socialpreneur commented on #3142
@roam92 It's hard to give the details as I have not figure this out the exact reason why it didn't work on certain sites. If I knew, I would have included some files that may be still conflicting with the fix. Due to NDA, I can't even put links to client sites here.

[2021-04-19 06:01] NataliaDrause opened #3802 "Add possibility to use Common Cache for Logged-in Users and No Cache for Admins"
**Is your feature request related to a problem? Please describe.**
There are two helper plugins available:
- [WP Rocket | Common Cache For Logged-in Users](https://github.com/wp-media/wp-rocket-helpers/tree/master/cache/wp-rocket-cache-common-cache-loggedin)
- [WP Rocket | No Cache for Admins](https://github.com/wp-media/wp-rocket-helpers/tree/master/cache/wp-rocket-no-cache-for-admins)
But it is

[2021-04-19 09:10] NataliaDrause opened #3803 "make notification messages auto-dismissable"
**Is your feature request related to a problem? Please describe.**
When _clear cache_ or _clear OPcache_ options are clicked, or new plugin settings are saved, there is a notification message at the top of the WP dashboard. These messages can only be dismissed manually by clicking the corresponding "x" inside the message.
![image](https://user-images.githubusercontent.com/60236665/115211268-b04ef0

[2021-04-19 09:26] GeekPress commented on #3803
Not sure to understand why it will be helpful as the notice is deleted after refreshing the page.

[2021-04-19 11:05] GeekPress opened #3804 "Move WebP Compatibility option to One-Click Rocket Add-on"
## What are we proposing to do?

To move the « WebP Compatibility » option from the « Media » tab to the « Add-ons » tab.

## Why are we doing this?

In 3.9, we decided to remove two of our add-ons: Google Tracking and Facebook Pixels. All the rest can be considered as compatibility add-ons.

The « WebP Compatibility » option is a good candidate for being moved to the « Add-ons » section as per it

[2021-04-19 14:11] Agathemed opened #3807 "Promotions in the plugin - Update for new customers"
Following issue [#3218 ](https://github.com/wp-media/wp-rocket/pull/3218), we need to add a condition for displaying the banner during promo campaigns.

In addition to the conditions already applied, this one should be added:
_Display banner only if the customer bought WP Rocket more than 14 days ago_

[2021-04-19 14:33] WordPresseur commented on #3716
Related ticket: https://secure.helpscout.net/conversation/1487255691/256982?folderId=1213662

[2021-04-19 15:27] ScottTravisHartley commented on #3804
I want to note, a lot of client sites I run into personally, who have this option enabled think it creates webp versions of the image  (this might help clear things up by moving it to the addons section)

[2021-04-19 15:46] GeekPress commented on #3804
@ScottTravisHartley This is one of the main reasons we want to move it!

[2021-04-19 22:23] camilamadronero-zz opened #3813 "Replacing Auto With Swap (Font-Display) Also Happening in Fonts' URLs (Domain)"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - Y
- Used the search feature to ensure that the bug hasn’t been reported before - Y

**Describe the bug**
Replacing `auto` with `swap` (`font-display`) [enhancement ](https://github.com/wp-media/wp-rocket/issues/3375) is also happening in the fonts' URLs. The domain was

[2021-04-20 10:39] alexincore commented on #1524
Any progress on this? there's a pretty straightforward extension available https://github.com/kjdev/php-ext-brotli, which you can easily check with `extension_loaded` and/or by checking for function `brotli_compress`. Looks like only class-cache.php needs to be updated together with htaccess rules, plus maybe a few more places (you know best)

[2021-04-20 20:00] #3618 closed, assigned to engahmeds3ed

[2021-04-21 02:41] roam92 commented on #3142
@socialpreneur – So to be clear, you made the change (locally) to the WP Rocket code proposed by @engahmeds3ed above, and what you found is that it fixed the mobile double-tap problem for some of the sites you tried it on, but not on all the sites?

For the sites you tested where the double-tap problem was resolved, was there any impact from the code change on the Delay JS functionality in WP Rock

[2021-04-21 07:05] WordPresseur opened #3821 "3.9: Grey out and deactivate Combine JS option when Delay JS option is turned on."
Delay JS feature as the priority on the Combine JS option which is automatically deactivated on front when Delay JS is active.

To make it more clear for users, we should grey out and deactivate Combine JS when Delay JS option is turned on.

[2021-04-21 09:12] engahmeds3ed commented on #3639
@piotrbak You can test this one at the `feature/rucss` branch for both minify CSS and also RUCSS warmup.

[2021-04-21 12:47] GeekPress commented on #1860
Duplicate of #3602

[2021-04-21 12:47] #1860 closed

[2021-04-21 13:00] GeekPress commented on #3093
The new Delay JS in 3.9 is compatible with these events. I'm closing this issue.

[2021-04-21 13:00] #3093 closed

[2021-04-21 18:44] #3639 closed, assigned to engahmeds3ed

[2021-04-21 20:40] remyperona commented on #3807
@GeekPress This will need to be planned before the next promo

[2021-04-22 14:13] Mai-Saad opened #3830 "Import old settings in 3.9, shall preserve existing delay js exclusion list"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => Y
- Used the search feature to ensure that the bug hasn’t been reported before => Y

**Describe the bug**
The existing exclusion list for delay js is cleared when import old settings with delay js activated

**To Reproduce**
Precondition:
- exported settings exist from

[2021-04-22 15:16] Mai-Saad opened #3831 "UI of combine js needs to match design when import settings having delay js and combine js on"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => Y
- Used the search feature to ensure that the bug hasn’t been reported before => Y

**Describe the bug**
UI of combine js needs to match design when import settings having delay js and combine js on

**To Reproduce**
Precondition:
- exported settings exist from versio

[2021-04-22 15:34] #3821 closed, assigned to remyperona

[2021-04-22 16:47] viobru commented on #1598
Related ticket: https://secure.helpscout.net/conversation/1490300790/257822/

[2021-04-22 20:46] alfonso100 commented on #2907
related ticket: https://secure.helpscout.net/conversation/1491585921/258217?folderId=4130695

[2021-04-23 13:58] alfonso100 opened #3835 "Clear Used CSS link not visible at the admin bar menu in the frontend, in 3.9"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - yes
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
When **Remove unused CSS** is active, the **Clear Used CSS** link appears at the WP Rocket admin bar dropdown menu in the backend as expected. But the same optio

[2021-04-23 14:06] camilamadronero-zz commented on #3835
It's also happening for the Regenerate Critical CSS option (in my site too)

[2021-04-23 14:08] remyperona commented on #3835
Those items are only available when on the admin side indeed. It's on purpose to avoid too many items.

[2021-04-23 15:21] alfonso100 commented on #3835
thank you Remy, we can close this one 🙏

[2021-04-23 18:08] remyperona opened #3836 "Improve Remove Unused CSS onboarding"
**Is your feature request related to a problem? Please describe.**
Our current solution generates partial used CSS on the first time the option is enabled, because of the ramp-up time to get the resources cached on the SaaS side during the cache generation process.

We currently provide no indicator around that, and this might generate unnecessary questions from our users.

**Describe the solution

[2021-04-23 18:10] remyperona opened #3837 "Display notices to expired users using the remove unused CSS option"
### What are we proposing to do?
With this enhancement, we will notify expired users who have enabled the RUCSS feature that they need an active license to continue using the service.

We will leave the option enabled and working until 90 days after expiration date. Once this time has passed, the feature will be automatically deactivated.

### Why are we doing this?
The RUCSS feature generates ser

[2021-04-23 18:16] #3835 closed, assigned to nobody

[2021-04-24 10:24] DahmaniAdame opened #3839 "Remove /inc/front/process.php if not longer needed"
**Is your feature request related to a problem? Please describe.**
/inc/front/process.php is called or included anywhere in newer versions of WP Rocket.

**Describe the solution you'd like**
Removing /inc/front/process.php if no longer needed for backward compatibility.

**Describe alternatives you've considered**
N/A

**Additional context**
Slack discussion - https://wp-media.slack.com/archives/C

[2021-04-24 10:40] DahmaniAdame opened #3840 "Compatibility with Liquid Web server cache"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before [ x ]

**Describe the bug**
Liquid Web server cache might result in 404s for combined assets if WP Rocket's cache is cleared.

**To Reproduce**
Steps to reproduce the behavior:
1. Use com

[2021-04-24 10:43] DahmaniAdame commented on #3840
Related ticket - https://secure.helpscout.net/conversation/1485476441/256571

[2021-04-25 14:30] NataliaDrause commented on #973
Related: https://secure.helpscout.net/conversation/1494470275/259070/

[2021-04-26 04:13] daomapsieucap opened #3841 "rocket_lazyload_placeholder filter missing arguments"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version (**yes, I'm at v.3.8.8**)
- Used the search feature to ensure that the bug hasn’t been reported before (**yes**)

**Describe the bug**
When using rocket_lazyload_placeholder filter to update the placeholder, I've got the PHP Fatal error:  Uncaught ArgumentCountError: Too

[2021-04-26 07:27] GeekPress opened #3842 "Preload Critical Images"
## What are we proposing to do?

To build a new feature within WP Rocket to preload critical images per page. We will also automatically preload some images we know safe to be preloaded (e.g. the featured image on a post).

## Why are we doing this?

Critical resources like images should be loaded as soon as possible before they are discovered in HTML. By preloading the critical images, we will in

[2021-04-26 07:35] GeekPress opened #3843 "LazyLoad Content"
## What are we proposing to do?

To build a new feature within WP Rocket to load some sections of a website when needed. This will be a LazyLoad for content.

## Why are we doing this?

To please the new Core Web Vitals, we need to provide the above-the-fold content as fast as possible. To achieve this, we need to load images when needed and to delay the load of non-critical assets like CSS and Ja

[2021-04-26 08:38] WordPresseur opened #3844 "3.9alpha4: Exclude /frontend-legacy.min.css & /frontend.min.css Elementor files from Unused CSS"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**
With Elementor (last version), tested on Astra and on Storefront themes, when Remove unused CSS is active - and complete -  CSS is broken.
Excluding these 2 files from R

[2021-04-26 09:25] jtorr3s opened #3845 "Duplicate post and pages with Slug finish with "/""
Hello,

When install WP-ROCKET the last version in my WordPress all URLs finished with slug "/" all its ok, but if try go to same url without finished slug "/" no redirect to correct slug.  Only redirect in firefox, not redirect in Chrome or Safari

Example:

Type https://viajaros.com/blog  in firefox and redirect to https://viajaros.com/blog/  but in Chrome or Safari if type https://viajaros.com/

[2021-04-26 09:41] crystinutzaa commented on #3836
@wp-media/php

I made a plan / the flow on how I see it working, however I think that there are still a lot of missing things which needs brainstorming.

In **WP Rocket** side, we have 2 options for that loading bar.
We can display the progress accurate by displaying it in 2 steps:
1. **Step 1** - _Collect the resources from pages - homepage, CPT & taxonomies_
2. **Step 2** - _Warmup resources._
B

[2021-04-26 11:26] engahmeds3ed commented on #3773
## Scope a solution

- Remove the option to be sent to support:
https://github.com/wp-media/wp-rocket/blob/0554a857ce6efcaec23fd8c2ab0039eb71d24ca7/inc/Engine/Support/Data.php#L25

- Remove calling the subscriber at service provider
https://github.com/wp-media/wp-rocket/blob/753a36cdb774f2863b95d3d0fde661174d4dca16/inc/Engine/Media/ServiceProvider.php#L28
https://github.com/wp-media/wp-rocket/blob

[2021-04-26 11:54] #3635 closed, assigned to nobody

[2021-04-26 14:56] sandyfzu commented on #3710
A case related: https://secure.helpscout.net/conversation/1491823301/258342

[2021-04-26 15:38] remyperona commented on #3845
Duplicate of #1392

[2021-04-26 15:38] #3845 closed, assigned to nobody

[2021-04-26 15:58] remyperona commented on #3841
Hi,

Thank you for the report. In fact, the filters should not be named the same for images and for iframes, as they don't use the same number of arguments.

It's something that we can fix in a future release.

Meanwhile, I would not recommend to do the change you're trying to do in the `xmlns` value, I invite you to read the following issue for the details: https://github.com/wp-media/wp-rocket/i

[2021-04-26 16:02] remyperona commented on #3839
Suggestion is to keep the file to avoid breaking sites that don't have their `advanced-cache.php` file updated (most likely because of permissions). But the file will be empty instead.

[2021-04-26 16:04] Tabrisrp commented on #3844
This issue is related to the slider, and it's caused by HTML code inserted by JS, containing CSS classes that could not be parsed.

The related code in `frontend.min.css` is the following:

[code]

[2021-04-26 16:14] GeekPress commented on #3844
@Tabrisrp Why these CSS classes can't be parsed?

[2021-04-26 16:21] Tabrisrp commented on #3844
Because of the way the HTML is inserted by the JS. Each element of the slider is built individually, and the classes are assigned to the element using variables.

We have to make a custom detection of this on the JS parser.

[2021-04-26 17:00] GeekPress commented on #3844
Ok indeed, it's not classic detection.

Should we move this issue to the JS Parser repo?

[2021-04-27 06:54] SaurabhGtr commented on #3842
Sounds good, but how is WPR thinking to preload above-the-fold images if the featured image is heavy? It will most likely cause response time issues.

Unless the preloading of an image in the first viewport like logo and featured image is eagerly loaded which will cause a lesser response time issue but still be faster than lazyloading them.

Logo: Preloaded
Featured image: Eager loaded.

and WooCo

[2021-04-27 08:18] crystinutzaa opened #3848 "Remove Unused CSS automatically restart warmup on SaaS demand"
**Is your feature request related to a problem? Please describe.**
In SaaS, in case we update anything in CSS Parser or JS Parser which might affect the stored parsed resources, we need to find a way to re-send automatically from the customer websites the resources to be re-parsed.

In case we don't do this automatically, the stored resources will always be the old ones and the fixes applied on Sa

[2021-04-27 08:44] GeekPress opened #3849 "3.9 alpha4: Auto-exclude "et_core_page_resource_fallback" pattern from Delay JS"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version (3.9-alpha4)
- Used the search feature to ensure that the bug hasn’t been reported before (Yes)

**Describe the bug**
With new delay JS, an error is triggered if we don't exclude this pattern `et_core_page_resource_fallback`

It's because this function is used into a tag

[2021-04-27 09:03] gevcen opened #3850 "French version of the Remove Unused CSS unavailable"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
As a beta tester, I see that the French version of the feature Remove Unused CSS is not available.

**To Reproduce**
Install WordPress and WP Rocket in French.

**Expected b

[2021-04-27 09:05] gevcen opened #3851 "Success message on RUCSS cleared not following other notification style"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
As a beta tester, I see that the RUCSS notification is not following the notification style of all other actions.

**To Reproduce**
Steps to reproduce the behavior:
1. Clear

[2021-04-27 09:06] #3851 closed, assigned to nobody

[2021-04-27 09:07] GeekPress opened #3852 "3.9 alpha4: Default exclusion list isn't added when it should"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version (3.9-alpha4)
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
After updating to 3.9-alpha4 on a website that already has Delay JS turned on, the default exclusion isn't here by default. We need to refresh the optio

[2021-04-27 09:08] GeekPress commented on #3850
This is normal, we are still on alpha phase ;)

[2021-04-27 09:08] #3850 closed, assigned to nobody

[2021-04-27 09:23] Salimoh commented on #3843
This can be done using CSS, but if wp-rocket provides a way for automating this that would be great.

[2021-04-27 13:52] remyperona commented on #3852
This is an issue that has been discussed multiple times with the team, and we didn't find a solution for it. Note that it was also the case when we introduced the original delay JS with the inclusion list, support team was aware of it.

**Details of why it's happening:**

First, note that it doesn't happen if WP Rocket settings page is not the first admin page visited after updating.

In the case

[2021-04-27 14:46] remyperona opened #3853 "Delay JS: automatically exclude script added with wp_localize_script"
**Is your feature request related to a problem? Please describe.**
Inline scripts added with `wp_localize_script()` only contains a variable with a JS object value. There is no code execution, which makes it unnecessary to delay, and can potentially cause issues.

**Describe the solution you'd like**
Automatically exclude from delay JS scripts with the `js-extra` pattern, which corresponds to inli

[2021-04-27 16:59] remyperona commented on #3852
### Reproduce the issue ✅
Check

### Identify the root cause ✅
Explained above

### Scope a solution ✅
A possible solution is to redirect the user once the `wp_rocket_upgrade` action is done, in `rocket_upgrader()`, like the following:
[code]

### Estimate the effort ✅
This solution would be an `[XS]`

[2021-04-27 17:09] iCaspar commented on #3852
Seems like this *could* work and is small enough to implement on a test branch, make a zipped "update" and just try it out.

[2021-04-27 19:16] piotrbak opened #3856 "3.9 alpha4: Delay JS is breaking "Slider - Soliloquy""
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When the Delay JS is enabled on the page with [Soliloquy Slider](https://wordpress.org/plugins/soliloquy-lite/), the Slider is not loaded, without any errors in the console.

[2021-04-27 19:17] alfonso100 opened #3857 "Improve partial cache clearing implementation at WP Engine"
**Is your feature request related to a problem? Please describe.**
On WP Engine, our page cache is completely disabled. WP Engine cleares their cache every 10 minutes.

When WP Rocket's full cache clear is triggered, we clear their server-side cache as expected
This implementation works well.

However, the _partial_ cleaning of elements doesn't work as expected:

When you edit a post, the post its

[2021-04-27 19:22] iCaspar commented on #3837
## Part 1 -- Change the text on the File Optimization Tab, depending on account expiration date:
- Create/style a new `notice` item in the `checkbox.php` view that will add the new notice icon and text next to the checkbox label.
- In the `settings_field` array for the `removed_unused_css` field, add the `notice` item with a callback that will compare the expiration date via `$this->customer_data(

[2021-04-27 19:24] GeekPress commented on #3856
Test page: https://rucss.rocketlabsqa.ovh/solislider/

[2021-04-27 23:09] webtrainingwheels commented on #2068
https://secure.helpscout.net/conversation/1495106947/259280?folderId=377611

[2021-04-28 07:39] crystinutzaa commented on #3836
### 1. Background Process for collecting resources from pages
Create a Background Process in `Optimization/RUCSS/Warmup` -> PageScanner.php and PageScannerFetcher.php
This Background process will scan all pages  `homepage, CPT & taxonomies` and will create 2 new options in the database.
The first option (`wpr_scanned_pages`) will update the list with all pages which needs to be scanned:
`[page_nam

[2021-04-28 11:41] Mai-Saad opened #3859 "Develop: Uncaught SyntaxError: Invalid left-hand side in assignment when delay js v2 is enabled"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => Yes (develop- 3.9alpha5)
- Used the search feature to ensure that the bug hasn’t been reported before => Yes

**Describe the bug**
While using an attached template on this page https://new.rocketlabsqa.ovh/test3849test then enable delayjs, Error Uncaught SyntaxError wi

[2021-04-28 13:11] Mai-Saad opened #3860 "Develop: Some images are auto removed from page after enable RUCSS with certain template"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => yes (3.9 alpha5)
- Used the search feature to ensure that the bug hasn’t been reported before => yes

**Describe the bug**
While using the mentioned template then enable RUCSS, Some images aren't displayed on the page ( something happens related to lazyload although LL

[2021-04-28 13:28] #3853 closed, assigned to remyperona

[2021-04-28 16:13] GeekPress commented on #3856
### Note

The slider itself is loaded on `jQuery(window).load(function () { `in the inline JS

[2021-04-28 16:16] remyperona commented on #3860
~~Lazyload is enabled from the standalone plugin for lazyload, not from WP Rocket itself. We need to add an exclusion for it in the delay JS exclusions list.~~

[2021-04-28 17:44] piotrbak commented on #3859
I can reproduce it on Divi theme

[2021-04-28 17:56] piotrbak commented on #3859
After further investigation, the problem goes away when emoji is excluded from the Delay JS in my case.

[2021-04-28 18:46] iCaspar commented on #3836
After further team discussion, here's where we are:

### First Step: Collect key resources.
Get the pages we are going to use to collect resources. For that, currently in the CPCSS, we collect the URLs for each, which we then pass to the background process. We can extract from CPCSS into a trait and re-use.

### Second Step: New background process.
Then with the pages collected, background process

[2021-04-28 18:54] #3852 closed, assigned to remyperona

[2021-04-29 08:27] DahmaniAdame commented on #3180
APO supports a separate cache for desktop and mobile devices.
https://support.cloudflare.com/hc/en-us/articles/360049822312#h_01ERZ6QHBGFVPSC44SJAC1YM6Q

And they seem to have a API to control it: `cache_by_device_type`
https://api.cloudflare.com/#zone-settings-change-automatic-platform-optimization-for-wordpress-setting

Could be a good thing to pair with our Separate Cache for Mobile devices fea

[2021-04-29 10:48] Mai-Saad commented on #2973
Another scenario to consider:
Nothing enabled in optimization tab
steps:
1- enable minify & combine then save
2- Open home page and check console => error 404 in the console for the combined file
Note: in order to work, we need to enable minify 1st and save then enable combine and save

[2021-04-29 13:49] #3849 closed, assigned to remyperona

[2021-04-29 16:18] AlbertCintas opened #3865 "Above 25K TIME_WAIT redis connections in prod"
**Describe the bug**
I was notified that there were connection problems to Redis:
CRITICAL Uncaught Predis\Connection\ConnectionException: Cannot assign requested address [tcp://146.59.192.30:6379] in /var/www/prod.wp-rocket.me/wp-content/mu-plugins/woocommerce-rocket/inc/vendors/Redis/src/Connection/AbstractConnection.php:146

After further troubleshooting it is found out that rocket prod server

[2021-04-29 16:25] #3865 closed

[2021-04-29 16:26] AlbertCintas commented on #3865
Wrong repo.

[2021-04-29 20:43] webtrainingwheels commented on #3279
https://secure.helpscout.net/conversation/1497345170/259892?folderId=377611

[2021-04-29 22:07] remyperona commented on #3860
The issue is happening on the copy of the original page, but not on the original page itself.

[2021-04-29 22:09] remyperona commented on #2973
This scenario will also be fixed by the above solution

[2021-05-03 09:54] GeekPress commented on #3843
@Salimoh Our approach is more efficient than using `content-visibility` ;)

[2021-05-03 09:56] Salimoh commented on #3843
Hope to see how you guys implement it in the upcoming updates. Good luck!

[2021-05-03 09:58] GeekPress commented on #3842
@SaurabhShinx WP Rocket won't automatically preload all images. You will have to specify which images need to be preloaded.

[2021-05-03 10:05] ajayalag1974 commented on #2409
Facing same problem, using OpenLiteSpeed on AAPanel with WP Rocket.

Removing below line added by WP Rocket in .htaccess fixed the problem but probably disabled serving gzip -
RewriteRule .* - [E=WPR_ENC:_gzip]

Any fix for this ?

UPDATE FOUND SOLUTION: Seems to have found the issue & its solution (although don't know the logic but applied some common sense). Solution -
In .htaccess file of your

[2021-05-03 11:36] NataliaDrause commented on #3348
Related ticket: https://secure.helpscout.net/conversation/1498348273/260165?folderId=3864740

[2021-05-03 12:44] paskalr1 commented on #3142
I tried this and it works with my site

[2021-05-03 12:54] roam92 commented on #3142
_> I tried this and it works with my site_

I tried it too, and it worked on my site as well...

It fixed the issue with double tap on iOS/iPadOS, and no Delay JS functionality was lost on any platform.

Not sure why this change hasn't already been made for everyone.

[2021-05-03 14:08] iCaspar commented on #3848
This issue has (at least) 2 parts SaaS side and WPR Side:

1. `The solution is to add 1 or 2 version coming from SaaS on optimize.` -- this needs to be done on the SaaS side on Central-Saas and in both of the Parsers.

- On each of the Parsers: (probably would be good to have on all the microservices eventually) need to add a `version` item to the `config/app.php` file -- which will need to be upd

[2021-05-03 14:50] alfonso100 commented on #3142
Another case: https://secure.helpscout.net/conversation/1499646121/260487?folderId=4130695

[2021-05-03 17:37] JohnTorvik commented on #3142
Related: https://secure.helpscout.net/conversation/1502403411/261233/

[2021-05-03 18:31] piotrbak opened #3874 "Used CSS in the file is not refreshed after changing the CDN option"
**Before submitting an issue please check that you’ve completed the following steps:**
- **3.9-alpha5**
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
After changing the CDN option, the changes are not reflected automatically in the Used CSS File

**To Reproduce**
Steps to reproduce the behavior:
1. Enable CPCSS
2. Enable RUCSS
3. Visit the homep

[2021-05-03 18:59] piotrbak opened #3875 "It's possible to enable Combine JS in the UI even if the Delay JS is enabled"
**Before submitting an issue please check that you’ve completed the following steps:**
- `3.9-alpha5`
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
It's possible to enable the JS Combination in the UI. It's not enabling it on the frontend though.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable Delay JS and save settings
2. Enable Mi

[2021-05-03 19:07] iCaspar commented on #3848
On the WPR side:

In the `Frontend/APIClient::optimize()`
- Add new items `CSSParserVer` and `JSParserVer` to the `$default['contents']` array with defaults of `false`
- Add these items into the returned array.

In the `Controller/UsedCSS::treeshake()
-  Initialize variables `$css_parser_version` and `$js_parser_version` at the start using with any saved option from the options
- Check in `$treesh

[2021-05-04 08:05] DahmaniAdame opened #3876 "Links preload and RUCSS is referencing the wrong siteUrl when Polylang is using multiple domains"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When Polylang uses multiple domains, the `home_url()` used on https://github.com/wp-media/wp-rocket/blob/40ecc6c70de1995295a1994fb77a6ecb93885287/inc/Engine/Preload/

[2021-05-04 08:10] DahmaniAdame commented on #3876
Ticket - https://secure.helpscout.net/conversation/1495156823/259303/

[2021-05-04 08:50] GeekPress commented on #3857
This enhancement should be done on WP Engine side directly. If they decided to make their clean cache like this, there are maybe some reasons.

@Tabrisrp What do you think?

[2021-05-04 13:39] remyperona opened #3877 "Delete RUCSS tables on multisite sub-sites when uninstalling WP Rocket"
**Describe the bug**
RUCSS tables should be deleted on all sub-sites of a multisite when uninstalling WP Rocket. Currently, it's only uninstalling for the main site.

**Additional context**
We need to check for `is_multisite()`, and then use `get_sites()` to get the list of all sub-sites, + a loop over each of them with `switch_to_blog()` to perform the deletion.

**Backlog Grooming (for WP Media

[2021-05-04 18:09] LuckynaSan opened #3879 "AMP validation errors with WP Rocket JS file optimization"
**Describe the bug**
The [JavaScript file optimization option](https://jmp.sh/HXnVSZ0) in the WP Rocket plugin can[ surface these validation errors ](https://jmp.sh/xEqR4Tq) on the Web Stories URL, when the [official AMP plugin](https://wordpress.org/plugins/amp/) is enabled (and the supported template is turned on or off).

Minify JavaScript files options on the File Optimization tab:

<img width

[2021-05-04 18:19] alfonso100 opened #3880 "3.9 DelayJS: javascript tags that are nested into other script tags are delayed too, possibly breaking functionality"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version YES
- Used the search feature to ensure that the bug hasn’t been reported before YES

**Describe the bug**
In **WP Rocket 3.9 alpha5**, when a script tag is nested into another script tag, our Delay JS is applied to the "child" script too, and this could lead to unexpecte

[2021-05-04 18:32] piotrbak opened #3881 "Uncode theme and Delay JS compatibility"
**Before submitting an issue please check that you’ve completed the following steps:**
- 3.9alpha5
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When Delay JS is enabled with the Uncode theme, the content might not be loaded until we move the mouse

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://mega.wp-rocket.me/uncode/homepa

[2021-05-05 04:02] urekmazino2021 commented on #2409
I'm using cyberpanel with open LiteSpeed and i have Same problem  removing thaccess rules didn't help

[2021-05-05 08:57] Mai-Saad opened #3883 "3.9 alpha5: Site is broken when update from rolled back version after updating theme"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => Yes
- Used the search feature to ensure that the bug hasn’t been reported before =>Yes

**Describe the bug**
The latest theme is not displayed on site when updating to 3.9 from rolled back version after switching theme

**To Reproduce**
Precondition:
1- Install and act

[2021-05-05 12:50] Mai-Saad opened #3884 "3.9 alpha5: Bravada theme is broken with RUCSS"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => yes
- Used the search feature to ensure that the bug hasn’t been reported before => yes

**Describe the bug**
The site is broken when RUCSS is enabled with Bravada active theme

**To Reproduce**
Steps to reproduce the behavior:
1. Set Bravada as active theme
2. Activat

[2021-05-05 13:04] Mai-Saad commented on #3883
The same will occur with the following scenario:
Clear used CSS to start from a clean state
1- RUCSS is enabled and the active theme is twenty twenty
2- visit the home page
3- disable RUCSS then change the theme
4- Enable RUCSS and revisit the home page => page is broken

[2021-05-05 13:33] piotrbak commented on #3883
The problem here is related to the tree shaker afaik. It's happening because the theme authors used wrong markup for the `content`:
[code]
It's rewritten by us to:
[code]
Note the double-quotes. The wrong markup is used, but we should guard against this, as it's breaking the whole layout.

[2021-05-05 14:00] Tabrisrp commented on #3883
So the rollback and re-update is not a general issue?

[2021-05-05 14:03] piotrbak commented on #3883
@Tabrisrp Sorry, added it to the wrong issue, removing it and adding to the correct one.

[2021-05-05 14:03] piotrbak commented on #3884
The problem here is related to the tree shaker afaik. It's happening because the theme authors used wrong markup for the `content`:
[code]
It's rewritten by us to:
[code]
Note the double-quotes. The wrong markup is used, but we should guard against this, as it's breaking the whole layout.

[2021-05-05 18:09] piotrbak opened #3885 "We're not preloading the cache for cleaned pages with unprocessedcss"
**Before submitting an issue please check that you’ve completed the following steps:**
- 3.9apha5
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
If there's a not processed CSS related to URL in the database, we are clearing its cache each 30 minutes, but not preloading it:
https://github.com/wp-media/wp-rocket/blob/9ba1546480baac14cd704622f8a575b

[2021-05-05 19:53] piotrbak opened #3887 "Possible change of the CSS order if the file is not processed"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When the file is not processed, it's possible that the CSS order will be changed. Especially, when the CSS Combination is enabled as it'll move the combined file before the

[2021-05-06 06:02] DahmaniAdame commented on #2441
Related ticket - https://secure.helpscout.net/conversation/1488090663/257184/

[2021-05-06 11:44] Mai-Saad opened #3889 "Multisite: Settings are not removed from the wp_options table for subsites when uninstalling WP Rocket"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => Yes on both trunk and 3.9 alpha5
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When activating WPR on multisite (after a fresh installation), settings are different from site to another

**To Reproduce**
Steps to rep

[2021-05-06 13:01] Mai-Saad commented on #3889
In case we are not supporting network activation then still after fresh installation, when activating each site individually, initial settings shall be the same which is not the case now.
Current behavior results in:  after a fresh installation of WPR on multisite, RUCSS will be enabled by default on non-main site while delay js will be disabled by default there.

[2021-05-06 18:26] #3877 closed, assigned to engahmeds3ed

[2021-05-06 20:33] remyperona commented on #3889
I was not able to reproduce the issue on a multisite with a fresh installation of the plugin.

What I noticed though, is that when we uninstall the plugin, we only delete the options for the current sub-site, and we don't loop over all sub-sites to remove the options on each of them.

In that case, when the plugin is re-installed, since the option is already there in the database, it will be re-us

[2021-05-07 08:11] Mai-Saad opened #3892 "3.9 Alpha 5 and 6: Accessing website from IE11 while delay js is enabled isnot redirecting to the uncached version of the page"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => Alpha 6
- Used the search feature to ensure that the bug hasn’t been reported before => Yes

**Describe the bug**
Accessing the website from IE11 while new delayjs is on, not redirecting to the uncached version as mentioned in the doc but using the cached version (Usin

[2021-05-07 08:33] Mai-Saad opened #3893 "3.9 alpha5: Absolute URL of file isnot excluded from RUCSS when added to safelist"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.9 alpha5
- Used the search feature to ensure that the bug hasn’t been reported before => yes

**Describe the bug**
When we use the absolute URL of the file in the safelist of RUCSS, we still remove the unused CSS in that file and not preserving it in the Used CSS

**

[2021-05-07 08:52] vmanthos commented on #3374
Related ticket: https://secure.helpscout.net/conversation/1504142883/261637/

[2021-05-07 09:27] vmanthos opened #3894 "AMP plugin - Optimizations aren't applied when using the Standard Template mode"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

With the official [AMP plugin](https://wordpress.org/plugins/amp/), when the **Standard Template mode** is selected, none of WP Rocket's optimizations are being applied

[2021-05-07 14:11] remyperona commented on #3894
That's the expect behaviour, isn't it? We disable a lot of things when AMP is taking control of the site output, to avoid conflicts and validation errors.

[2021-05-07 14:13] remyperona commented on #3892
@wp-media/php I would need someone with an environment where they can run IE11 to test & debug this. The inline script to do the redirection is included in the page, but there might be something wrong with it.

[2021-05-07 14:23] remyperona commented on #3883
I tried the second scenario on the current new alpha, but I can't replicate it.

[2021-05-07 14:24] remyperona commented on #3859
This should be fixed with PR #3891

[2021-05-07 14:42] remyperona commented on #3856
@GeekPress @piotrbak Can this be closed with the latest version of the delay JS script?

[2021-05-07 14:59] vmanthos commented on #3894
It _is_ an expected behavior.

I opened this issue to explore the possibility of adding a notice when the specific AMP option is active.

Doing that will allow customers to "resolve" the lack of file optimizations quicker, without
reaching out to support.

[2021-05-07 15:17] GeekPress commented on #3856
Yes :)

[2021-05-07 15:17] #3856 closed, assigned to nobody

[2021-05-07 15:19] remyperona commented on #3894
With 3 different possible modes of AMP, we possibly need to discuss what needs to happen for each one now, because this became more complicated than what was happening initially.

@GeekPress Maybe something to investigate and take a decision on at some point.

[2021-05-07 15:37] remyperona commented on #3893
I'm having trouble reproducing this.

I added `https://tests.local/wp-content/themes/storefront/style.css?ver=3.5.1` in the safelist, which is the main style file of the theme.

Then cleared the cache and used CSS.

The new generation correctly contains the used CSS, including the CSS from the file in the safelist.

[2021-05-07 17:33] juricazuanovic commented on #2528
Related ticket: https://secure.helpscout.net/conversation/1505481799/262070/

[2021-05-07 18:27] gevcen commented on #3892
Isn't it time to drop the support for Internet Explorer? Considering that Edge Chromium released the [integrated "IE Mode"](https://docs.microsoft.com/en-us/deployedge/edge-ie-mode) to allow running old websites or programs for enterprises and/or individuals, I believe that no one still has a valid reason to keep using this dinosaure browser of the web. Don't you think?

Source : https://gs.statco

[2021-05-07 19:36] crystinutzaa opened #3895 "RUCSS refactor check_warmup_status"
**Describe the bug**
`check_warmup_status()` is doing too much and mixins concerns and makes it a hard time to identify what happens.

Check warmup status is hooked on `init()` , however is bailing out on init if RUCSS is disabled or if the option is empty and fetch_finish_time is not set.

During the latest round of changed , the status of  the option `wp_rocket_prewarmup_stats` was changed. This

[2021-05-07 21:25] #3859 closed, assigned to remyperona

[2021-05-07 21:25] #3880 closed, assigned to remyperona

[2021-05-08 03:54] jazir555 commented on #3780
Why hasn't this been released?

[2021-05-08 07:19] DahmaniAdame commented on #3142
Related ticket - https://secure.helpscout.net/conversation/1505662587/262130/

[2021-05-08 19:03] DahmaniAdame commented on #3894
"Standard Mode" is meant for fully AMPified websites (AMP is served on both desktop and mobile).

There is no CSS to process (added inline), or possibility to do the lazyload (natively supported), or to do any optimization for JS (minified, only few files load async).

Whatever is served through AMP is already optimized, so, improvement venues might be very limited.

From what I could find, here a

[2021-05-10 07:32] vmanthos opened #3897 "CSS/JS minification not working when the custom wp-content folder name matches the TLD"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When `WP_CONTENT_FOLDERNAME` has been customized to match exactly the site's TLD, CSS/JavaScript modification isn't working for internal files.

For example, this is ha

[2021-05-10 10:33] Mai-Saad commented on #3893
@Tabrisrp Still can reproduce it on alpha7 zip

https://user-images.githubusercontent.com/76941962/117644059-62228f00-b189-11eb-892e-18a4d3f44849.mp4

It's live here: https://new.rocketlabsqa.ovh/rucssexternalcss/

Note: I tried to add this `div.first {
  opacity: 0.1;
  background-image: url("/wp-content/rocket-test-data/images/paper.jpeg");
  }` in the active theme and add the theme file URL to

[2021-05-10 13:01] Mai-Saad commented on #3883
@Tabrisrp Yes, I can see too that scenario 2 is fixed on alpha 7 (using the same settings which caused this issue on alpha5) but Scenario 1 is still there.

[2021-05-10 14:06] socialpreneur commented on #2409
I'm also having the same issue. Right after activating WP rocket 3.8.8 on OLS, index.php gets downloaded on every site visit. Purging cache doesn't seem to fix the issue. My OLS was installed by RunCloud.

[2021-05-10 19:15] Mai-Saad opened #3900 "New UsedCSS is sometimes not applied until Clear Used CSS is done twice"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => Yes
- Used the search feature to ensure that the bug hasn’t been reported before => Yes

**Describe the bug**
Clear used CSS after changing external CSS won't reflect new CSS on the page until we clear used CSS again

**To Reproduce**
Precondition:
- Using external CSS

[2021-05-10 19:48] piotrbak opened #3901 "RUCSS generation problem on multisite"
**Before submitting an issue please check that you’ve completed the following steps:**
- 3.9alpha7
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When running the RUCSS process at the same time on 2 separate websites within one network, the process is not initialized on the second one.

**To Reproduce**
Steps to reproduce the behavior:
1. Remove

[2021-05-10 20:00] alfonso100 commented on #1224
Hi @apostolisem
Sorry about the delay 🙏

You were 100% right about this.
Could you please try the updated Snippet here:
https://docs.wp-rocket.me/article/1320-managewp-how-to-clear-wp-rocket-cache

the code wasn't working because, due to the way ManageWP runs these snippets, we needed to re-load WP Rocket's environment so the functions can be triggered.

This new snippet will also trigger Sitemap

[2021-05-10 20:27] remyperona commented on #3901
Would it be related to https://github.com/wp-media/wp-rocket/issues/1686

[2021-05-10 20:34] crystinutzaa commented on #3848
This will be closed in favor of SaaS implementation

[2021-05-10 20:34] #3848 closed, assigned to nobody

[2021-05-11 00:15] webtrainingwheels commented on #678
https://secure.helpscout.net/conversation/1501858109/261058?folderId=377611

[2021-05-11 08:45] Mai-Saad opened #3902 "3.9 Alpha 7: Progress bar loader for RUCSS is not styled on Firefox"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => yes
- Used the search feature to ensure that the bug hasn’t been reported before => yes

**Describe the bug**
The progress bar displayed after RUCSS is enabled is not green color as on other browsers

**To Reproduce**
Steps to reproduce the behavior:
1. Open the dashbo

[2021-05-11 10:19] CyberCr33p opened #3903 "Documentation about rocket_clean_minify()"
Add documentation about rocket_clean_minify() here:

https://docs.wp-rocket.me/category/89-functions

[2021-05-11 14:03] mircobabini opened #3904 "PHP 7.4 compatibility warning"
**Describe the bug**
The composer dependency `matthiasmullie/minify` is NOT at its latest version.

PHP Compatibility Checker on PHP7.4 is reporting `528 | WARNING | Passing the $glue and $pieces parameters in reverse order to implode has been deprecated since PHP 7.4; $glue should be the first parameter and $pieces the second`

This is already fixed in the latest version of `matthiasmullie/minify

[2021-05-11 14:57] webtrainingwheels commented on #3802
https://secure.helpscout.net/conversation/1503023311/261370/

[2021-05-11 16:06] GeekPress opened #3905 "Add « Beta » mention for Remove Unused CSS option."
**Describe the solution you'd like**
Like we are doing for minification options, we would like to display a confirmation message before to be able to activate Remove Unused CSS.

Even if our feature is working properly, we still need to improve our compatibilities with themes/plugins. We know during our QA phase we weren't able to think and find all edge cases. We also need to start releasing this

[2021-05-11 19:17] jazir555 commented on #3905
Will it be compatible with elementor on release?

[2021-05-11 22:45] d19dotca commented on #3327
This has been an issue for quite some time, any ETA on when this might be fixed? Surprised this issue still exists when it impacts one of the most popularly used website builders on the market. This would surely affect many people.

[2021-05-11 22:58] webtrainingwheels commented on #2849
https://secure.helpscout.net/conversation/1508703973/262930?folderId=377611
This is also related to the same Hubspot script as this case: https://github.com/wp-media/wp-rocket/issues/2849#issuecomment-701253120

[2021-05-12 02:04] remyperona commented on #3902
https://developer.mozilla.org/fr/docs/Web/CSS/::-moz-progress-bar

[2021-05-12 08:38] socialpreneur commented on #3142
I also think things there're some scripts that might work differently, even if WP Rocket adds this fix. It's just impossible to make this feature 100% working on any site.

[2021-05-12 18:14] remyperona commented on #3904
Hi @mircobabini,

Which version of our plugin did you test this with? Here is the current trunk version for this file and this line: https://github.com/wp-media/wp-rocket/blob/4f86c478c74e962eb6361b59a0f0b575adab27a9/inc/Dependencies/Minify/CSS.php#L528

It looks correct with the parameters in the expected order. Therefore I'm closing this issue.

Feel free to comment if my findings are incorrect.

[2021-05-12 18:14] #3904 closed, assigned to nobody

[2021-05-12 21:41] #3836 closed, assigned to remyperona, engahmeds3ed, crystinutzaa

[2021-05-12 21:41] #3902 closed, assigned to remyperona

[2021-05-12 21:41] #3905 closed, assigned to remyperona

[2021-05-12 21:45] #3895 closed, assigned to engahmeds3ed

[2021-05-13 16:20] piotrbak commented on #3892
Wasn't able to reproduce this on the latest version 3.9-alpha8

[2021-05-14 08:54] seldimi opened #3910 "rocket_clean_post ignores no purge no-cache-auto-purge"
Hello.

Expected result: When rocket_clean_post runs, it should clean the post/product page and stop.

We have experienced an issue that was not causing any issues before. We are using no cache auto purge helper to disable cache clearing on a WooCommerce website. We have noticed that rocket_clean_post() was ignoring the no cache auto purge, and even the rocket_post_purge_urls filter.

We did a tes

[2021-05-14 09:08] GeekPress opened #3911 "Auto-compatibility with Raidboxes Hosting"
**Is your feature request related to a problem? Please describe.**
Raidboxes is using its own page caching system (NGINX). Because of that, we need to improve our purge cache compatibility. When someone purges the WP Rocket cache or saves the options, the server cache isn't purged too.

**Describe the solution you'd like**
We must disable our page caching if the current website is hosted on Raidbo

[2021-05-14 16:26] GeekPress commented on #3860
@Tabrisrp @Mai-Saad Does this is related to RUCSS or Delay JS?

[2021-05-14 16:30] GeekPress commented on #3892
@gevcen This is what we are doing. Delay JS isn't supported on IE11. We are just redirecting to the uncached version if a visitor is using IE11 to avoid navigating to an unusable website.

[2021-05-14 16:42] GeekPress opened #3913 "Replace sidebar content"
**Describe the solution you'd like**
We would like to update the content of our sidebar.

This text will be replaced by

**Learn about optimal WP Rocket settings for mobile.**

CTA:
- EN: https://docs.wp-rocket.me/article/1402-how-to-improve-your-mobile-pagespeed-score
- FR: https://fr.docs.wp-rocket.me/article/1432-comment-ameliorer-score-mobile-pagespeed

This text will be replaced by

**Test an

[2021-05-16 00:46] #3407 closed

[2021-05-17 07:51] gevcen commented on #3780
You prefer to have a quick release but full of bugs? No, so please let them the time that they think necessary enough to do their job well.

[2021-05-17 10:22] piotrbak commented on #3889
As an addition here, upon the deactivation, we should remove the following rows from `wp_options`:
`wp_rocket_settings`
`wp_rocket_prewarmup_stats`
`wp_rocket_resources_scanner`
`wp_rocket_resources_scanner_fetched`

**EDIT:** Also we should clear transients from subsites.

Not sure if there's something else

[2021-05-17 14:05] piotrbak opened #3915 "Don't clear Used CSS files if the lifespan is set to 0"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Currently, if the page wasn't visited/PHP wasn't triggered for 30 days, we'll remove the Used CSS file to clean unused things.

**Expected behavior**
 I'd suggest not to rem

[2021-05-17 17:24] piotrbak commented on #3893
The absolute URL exclusion worked for me in `alpha9`

[2021-05-17 17:26] piotrbak commented on #3900
Wasn't able to reproduce in alpha9, the CSS was updated after the first clear. Might be due to the timing

[2021-05-17 19:58] remyperona opened #3916 "Add auto-compatibility with WordFence for our background processes"
**Describe the bug**
We have seen cases where WordFence is preventing our background processes from running correctly.

WordFence has a learning mode that can be used to allow the background processes. But It seems to be possible to programatically enable them by using some compatibility code. We need to explore this option to simplify our users experience.

**Backlog Grooming (for WP Media dev te

[2021-05-17 22:58] swissspidy commented on #3879
While I am not sure I can properly reproduce this right now, it seems like it can't hurt to add `add_filter( 'pre_get_rocket_option_minify_js', '__return_false' );` in `AMP::disable_options_on_amp()`

[2021-05-18 07:52] GeekPress commented on #3881
After discussing in Slack, we won't do anything here. It will be the choice of the users to exclude the JS files if they don't like the rendering before user interaction.

[2021-05-18 07:52] #3881 closed, assigned to nobody

[2021-05-18 08:28] Mai-Saad commented on #3893
- Still existing for a template that has relative URL in DOM then we add the absolute URL to safelist (slack discussion: https://wp-media.slack.com/archives/G01AMD70N7P/p1621324106010900?thread_ts=1621281267.098800&cid=G01AMD70N7P)
-  While it`s working fine for the theme ( added unused class in theme file print.css then added absolute URL of this file to safelist)

[2021-05-18 08:44] Mai-Saad commented on #3900
Still a problem at my side with alpha9.

[2021-05-18 09:13] Mai-Saad commented on #3892
Fixed at my side too on 3.9 alpha9

[2021-05-18 09:18] GeekPress commented on #3892
@Mai-Saad Thanks for the confirmation, I'm closing it.

[2021-05-18 09:18] #3892 closed, assigned to nobody

[2021-05-18 10:15] #3860 closed, assigned to nobody

[2021-05-18 11:13] Mai-Saad opened #3919 "3.9 alpha 9: safelist isnot reflected on cached used CSS until we clear the used CSS when OCD is re-enabled after editing safelist"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => yes
- Used the search feature to ensure that the bug hasn’t been reported before => yes

**Describe the bug**
Safelist added while having cached used CSS (and OCD off) is not reflected on the used CSS file when enable OCD until we clear the used CSS

**To Reproduce**
S

[2021-05-18 11:23] piotrbak commented on #3900
@Mai-Saad This one can be closed, as this is the same problem as https://github.com/wp-media/wp-rocket/issues/3919, right?

[2021-05-18 11:37] Mai-Saad commented on #3900
@piotrbak Not sure if both scenarios have the same root cause, here edit of external CSS is not reflected on used CSS (OCD, safelist are done care) while on #3919 safelist with OCD cause the problem while safelist will normally reflect on inline used CSS which is not the case here. If we are sure that it's the same root cause then yes we can close one and mention both scenarios in 1 ticket.

[2021-05-18 11:59] piotrbak commented on #3900
It might not be the same, in fact. The resource itself in the `resources` table seems to be updated correctly, but the CSS in the `used CSS` table is not updated after the first used CSS clearing.

[2021-05-18 12:35] vmanthos opened #3920 "Provide the ability to only store gzipped HTML files"
**Is your feature request related to a problem? Please describe.**

We are currently storing both the GZIPped and non-GZIPped versions of HTML files.
If the following are enabled:
* **Separate cache for mobile devices**,
* The WebP feature
* Dynamic cookies

the number of HTML files stored for every URL can increase rapidly, especially in very large sites, **increasing the size** of the `/cache/wp

[2021-05-18 12:45] DahmaniAdame commented on #3920
From my testing, disabling the following two lines does the job:

https://github.com/wp-media/wp-rocket/blob/aea8f96b0725f900deaa337af2f87c37277676ff/inc/classes/Buffer/class-cache.php#L335
https://github.com/wp-media/wp-rocket/blob/aea8f96b0725f900deaa337af2f87c37277676ff/inc/front/process.php#L359

And changing `.html` to `.html_gzip` on  https://github.com/wp-media/wp-rocket/blob/aea8f96b0725f9

[2021-05-18 13:16] juricazuanovic commented on #2498
Related: https://secure.helpscout.net/conversation/1511321016/263601?folderId=4075535

[2021-05-18 13:51] remyperona commented on #3900
Is the used CSS row not deleted, or is it deleted and recreated with the incorrect used CSS content?

[2021-05-18 13:53] remyperona commented on #3919
We only update the static file if OCD is enabled at the time we save the used CSS in the table.

This means that if the static file already exists => then OCD is disabled => then used CSS is regenerated => then OCD is re-enabled = OCD file out-of-date.

[2021-05-18 14:07] remyperona commented on #3893
Issue happens if you input the full URL in the exclusion, but on the front end links are using relative URLs.

[2021-05-18 14:22] piotrbak commented on #3900
@Tabrisrp There's no entry in the `wpr_rucss_used_css`

[2021-05-19 10:51] deep27ak commented on #3843
It would be good to have this done based on device type. Google somehow prefers mobile rendering over desktop and on mobile we will have more set of HTML elements which could be lazy rendered such as sidebars.

Although it would be interesting to see if this is not done using content-visibility and if the plugin can get the list of non-critical assets automatically.

[2021-05-19 15:50] ScottTravisHartley opened #3923 "Jetpack Stat's Icon Shows When Using Remove Unused CSS"
Basically just that as the title suggests, I use jetpack stats and it uses the silly invisible icon at the footer, activated the feature the icon started showing the fix was to add the following rule to the CSS safelist:

#wpstats

CSS rule removed
`img#wpstats{display:none}`

Jetpack stats is automatically activated when Jetpack is installed on a WordPress site so the test procedures for replicat

[2021-05-19 16:13] piotrbak commented on #3923
It's not present in the DOM, added by this file:
https://stats.wp.com/e-202120.js
`_loadGif('g.gif',_serialize(o),'wpstats');`

The final element is:
[code]

[2021-05-19 16:18] GeekPress commented on #3923
@Tabrisrp We can directly add `#wpstats` in Tree Shaker safe list, what do you think?

The ID isn't common, and the original JS filename seems to be dynamic, so we can't totally rely on it.

[2021-05-19 16:37] ScottTravisHartley opened #3924 "Remove Unused CSS "More Info" Link Is Broken"
The Remove Unused CSS feature when its processing pages has a notice that reads as follows.

![image](https://user-images.githubusercontent.com/45110039/118850548-828fcf00-b896-11eb-8542-1d6efab78076.png)

We are processing the CSS on your site. This may take several minutes to complete. More info. The More Info link doesn't go anywhere its just pointed as an # so you just get a screen such as the

[2021-05-19 18:18] ScottTravisHartley opened #3926 "Delay JavaScript Execution Preventing Classes Being Added To <body>"
I am not sure how to necessarily word the title for this issue but I have a client site running the following theme "[Story](https://themeforest.net/item/story-creative-responsive-multipurpose-theme/7824993)" Now, the way the theme works is in the primary main.js file it has a line of code that will add a class to the main <body> element (among other items)  copying a chunk of it below...

[code]

[2021-05-19 18:54] remyperona commented on #3923
yes that's the best solution

[2021-05-19 19:39] #3780 closed, assigned to webtrainingwheels, GeekPress, remyperona, engahmeds3ed, piotrbak, crystinutzaa, Ian793, Mai-Saad

[2021-05-19 19:55] remyperona commented on #3913
### Scope a solution ✅
In `views/settings/partials/sidebar.php`

Replace the texts and links by the new value we want to display. For the first CTA displayed in different languages, we need to add a check for the current user locale to determine which version to show.

### Estimate the effort ✅
Effort `[XS]`

[2021-05-19 20:34] webtrainingwheels commented on #3622
Related to this - a customer entered the CDN URL like this:
`HTTPS://cdn.com`
and it was rewritten to: `https://HTTPS://cdn.com`
If we can catch that and correct it automatically, it would be 👍

[2021-05-19 20:45] remyperona opened #3929 "Remove revert UID for nonce actions in WooCommerce compatibility file"
**Describe the solution you'd like**
WooCommerce recently fixed on their side (v5.3) the issue of nonce failing for not logged-in users, by limiting their `$uid` change to actions specific to WC instead of globally.

This means we can now remove our callback on `nonce_user_logged_out` => `maybe_revert_uid_for_nonce_actions`, as the issue we had to work around doesn't exist anymore.

### Scope a so

[2021-05-19 23:29] socialpreneur commented on #3142
3.9 is released. I checked the updated file, but WP Rocket didn't include touchend fix for iOS. It would be great if someone form WP Rocket team explains why they skipped fixing this ongoing problem while some users reporting it fixes the issue.

[2021-05-20 04:41] socialpreneur opened #3930 "Delay JS: Let users choose what scripts to delay like in 3.8"
**Is your feature request related to a problem? Please describe.**
3.9 release will cause a lot of troubles unless users exclude all the scripts with errors.

**Describe the solution you'd like**
Just follow previous versions, 3.8.x series, where we were able to manually delay scripts.

**Describe alternatives you've considered**
Flying Scripts, Perfmatters, FlyingPress.

[2021-05-20 06:06] NicoCaldo commented on #3930
I completely agree with this. Delaying indiscriminately every JSs will bring 100% error on every website and finding out which JS don't need to be delayed will be a titanic work if you have more than, let's say 5.

Don't fix something that ain't broken.

[2021-05-20 06:55] GeekPress commented on #3930
Hi,

Our new Delay JS is more compatible than the previous script and works most of the time. Like every new feature, it will require some time to make it even more compatible. We know what is required to provide the best performance on a website, this new approach is the way to go.

We won't revert back to the previous solution.

If you want to have the same behavior as before (just on 3rd party)

[2021-05-20 06:55] #3930 closed, assigned to nobody

[2021-05-20 06:57] GeekPress commented on #3142
@socialpreneur It hasn't been changed yet, it will be during the staggered process. Thanks for your comprehension and your patience.

[2021-05-20 07:11] jazir555 opened #3931 "Delay js change in 3.9 breaks elementor mobile menus"
**Describe the bug**
The new delay js breaks elementor mobile menu toggles for the dropdown entirely. I've excluded every single js file in elementor and they still dont work.

**To Reproduce**
1. enable delay js
2. Place a mobile menu element in a header in elementor theme builder
3. check the menu and see that its broken

**Expected behavior**
Elementors mobile menu should not break. I can't eve

[2021-05-20 07:24] jazir555 commented on #3926
I wonder if this is related to why elementor's menu stopped working entirely.

[2021-05-20 07:40] GeekPress commented on #3931
@jazir5 Can you please share a URL of a website using elementor menu? Thanks :)

[2021-05-20 07:50] GeekPress commented on #3923
@Tabrisrp I have created an issue on Tree Shaker repo, if this can be handle in priority as it's easy to fix 🙏

[2021-05-20 09:18] TheZoker opened #3932 "Impreza Theme - JS delay issue after upgrading to 3.9"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before (maybe related to #3931) ✅

**Describe the bug**
Every time I enable js delay within wp-rocket 3.9, I get the following error in the console (see screenshot 1). I get this on every website, whe

[2021-05-20 09:36] WordPresseur opened #3933 "CDN: Automatically exclude Quantcast /choice.js from CDN feature"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**
Our CDN feature replaces Quantcast /choice.js:
`var url = 'https://quantcast.mgr.consensu.org‘ .concat('/choice/', ‚xxxxxxxxxxx', '/', host, '/choice.js')
`
by:
`var url

[2021-05-20 09:47] GeekPress commented on #3932
@TheZoker Hi!

Can you please open a ticket support and share us your WordPress access?

https://wp-rocket.me/support/

Thanks

[2021-05-20 10:09] githuphub commented on #3931
I'm facing similar issues on mobile, everything from Elementor is excluded but the top banner image and slider are not showing until I scroll.

[2021-05-20 10:11] GeekPress commented on #3931
@githuphub This is the expected behavior and the concept of Delay JS; JS files are loaded after user interaction (scroll, click, etc...).

[2021-05-20 10:21] GeekPress commented on #3933
Duplicate of #2849

@wp-media/php Do you confirm?

[2021-05-20 12:39] vmanthos opened #3934 "Delay JS - the inline script prevents some JavaScript from firing"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.9`
- Used the search feature to ensure that the bug hasn’t been reported before - #3926 is probably related, but it's too specific.

**Describe the bug**

In some cases, despite excluding all files/inline JavaScript from **Delay JavaScript execution**, some JavaScrip

[2021-05-20 13:09] GeekPress commented on #3934
This one should be related too: https://github.com/wp-media/wp-rocket/issues/3931

[2021-05-20 13:26] GeekPress commented on #3932
@wp-media/php I have started a branch with the auto-compatibility with Impreza theme https://github.com/wp-media/wp-rocket/tree/fix-3932

[2021-05-20 14:41] thekendog opened #3935 "js-(extra|after) Only Works If Script Tag has "type='text/javascript'""
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - Yup, on 3.9.
- Used the search feature to ensure that the bug hasn’t been reported before - There are some recent JS delay issues but not exactly this.

**Describe the bug**
The Impreza theme outputs certain javascript options in an inline script.  The script tag does h

[2021-05-20 15:46] GeekPress commented on #3935
@thekendog Hi!

The problem isn't the missing type, but the missing id. You will need to find another pattern to exclude the inline script. It could be something inside the inline script.

[2021-05-20 15:56] thekendog commented on #3935
Ah, okay.  Figured it out.  Thanks!

[2021-05-20 15:56] #3935 closed, assigned to nobody

[2021-05-20 18:17] remyperona commented on #3933
Yes I confirm, it's the same issue

[2021-05-20 18:18] remyperona commented on #3924
@GeekPress @webtrainingwheels  Do we want to link this to anything, or remove it?

[2021-05-20 18:57] jazir555 commented on #3931
@GeekPress

I would like to request that you re-add the option to manually specify files to be delayed, while also keeping the current option as a separate checkmark to delay all scripts.

Excluding all scripts has also broken some woocommerce functionality like add to cart, some products add 2 to cart when the button has been clicked once, then adds one product to cart after the initial 2 product

[2021-05-20 19:41] GeekPress commented on #3931
@jazir5 Can you please share a URL with elementor menu? It will be very helpful, thanks in advance :)

[2021-05-20 20:28] TheZoker commented on #3932
Very nice, will test this out in the coming days! Thanks

[2021-05-20 20:32] jazir555 commented on #3931
@GeekPress

Sure will do, as soon as the designer finishes work on the site for the day. Don't want to break it, I reverted to 3.8.8 for the time being.

[2021-05-21 01:41] socialpreneur opened #3937 "Honor previous delay js setting when updating to 3.9"
**Is your feature request related to a problem? Please describe.**
Updating to 3.9 forces delay js to be turned on as it causes script errors on some sites.

**Describe the solution you'd like**
If a user choses not to use this feature from previous versions like 3.8.8, it should be kept off.

[2021-05-21 01:44] socialpreneur commented on #3937
Update: After more debugging, it happened on a site that already uses WP Rocket's delay js. But this update really breaks sites...

[2021-05-21 01:44] #3937 closed, assigned to nobody

[2021-05-21 09:22] go6media opened #3938 "Set a Timeout when using Delay Javascript Execution to simulate interaction"
As per the title.

After X seconds (similar to Flying scripts https://wordpress.org/plugins/flying-scripts) It would be nice to set a timeout of when to load the delayed scripts without physical page interaction.

[2021-05-21 11:56] GeekPress commented on #3926
@ScottTravisHartley Can you please contact me at jonathan [at] wp-media.me and share a WordPress & FTP access to the website. We would like to try a new version of the Delay JS file.

Thanks in advance :)

[2021-05-21 14:33] #3478 closed, assigned to remyperona

[2021-05-21 15:39] remyperona commented on #3923
Hey @ScottTravisHartley, we deployed & tested a fix for this on our production server, can you clean the used CSS on the website affected and re-test on your side?

[2021-05-21 18:59] webtrainingwheels commented on #3924
@Tabrisrp Let's link it to the main doc for now: https://docs.wp-rocket.me/article/1529-remove-unused-css
If we get more insight into common issues, etc we may update it to a more specific link

[2021-05-21 23:09] jazir555 commented on #3931
@GeekPress

I've updated wp-rocket and you can go to my site and see the broken mobile menu now:

https://www.lonecbd.com

It also breaks the header dropdown on desktop, shop is supposed to have a dropdown

My mini-cart widget is also completely broken

Remove unused css is not active

[2021-05-22 00:00] jazir555 commented on #3931
If you could check soon that would be great, I'd like to revert asap so my site isn't broken until the next update :)

[2021-05-22 00:01] jazir555 commented on #3931
@Tabrisrp

[2021-05-22 00:18] engahmeds3ed commented on #3931
I got a screenshot of the issue and sent it to @GeekPress internally so u can revert that as we started the weekend holiday.

I can see that you have wpmeteor plugin enabled, what if you disabled it and check again?

[2021-05-22 00:24] jazir555 commented on #3931
Awesome thank you. Yes I do have wp-meteor active, this also seems to be an incompatibility with wp-meteor. Is there anyway you could update wp-rocket to be compatible with it? To clarify, disabling wp-meteor *does* seem to fix it, but only on desktop.

[2021-05-22 00:28] jazir555 commented on #3931
Also, before I disable it, could you check my discounts page and also the about page? The pages break temporarily then work fine

[2021-05-22 00:38] engahmeds3ed commented on #3931
I can see them working fine now, can you please contact us at our support email so we can solve those issues with you?
I think you disabled wpmeteor now, I can see the whole site working properly, right?

[2021-05-22 00:40] jazir555 commented on #3931
Not quite, if you load the pages on mobile you can see them visually break. In addition, the mobile menu seems to be working, but requires two taps to open as the delay causes it to not work without user interaction.

Any chance you could update wp-rocket to be compatible with wp-meteor? It really helps the pagespeed on product pages

[2021-05-22 00:40] jazir555 commented on #3931
Sure, what's the email address?

[2021-05-22 00:44] jazir555 commented on #3931
It's actually the same with the mini cart as well, takes two taps to open it

[2021-05-22 00:46] engahmeds3ed commented on #3931
support[at]wp-rocket.me
or from here
https://wp-rocket.me/support/

[2021-05-22 00:50] jazir555 commented on #3931
Do you you get/see the same issues with the other pages on mobile? Same with the double taps being required for the menu and mini-cart? Those are kind of critical to fix to be able to use the new delay feature for me

[2021-05-22 01:23] jazir555 commented on #3931
I'm going to revert in a couple hours or so, please do let me know if you can reproduce the issues I mentioned.

[2021-05-22 01:55] engahmeds3ed commented on #3931
Yes, I can see that happens if u didn't interact with the page (scroll for example).
Please contact us to help you, don't worry I got your point.

[2021-05-22 02:04] jazir555 commented on #3931
Great, thanks. Do you also see the page breaking issues on the other pages, just to confirm? It only breaks on mobile.

Already emailed you :)

[2021-05-22 02:12] engahmeds3ed commented on #3931
I saw it one time but I can't see it now.
We will check your email ASAP.

[2021-05-22 02:13] jazir555 commented on #3931
I appreciate you being so responsive and helping me troubleshoot, thank you.

[2021-05-22 02:15] jazir555 commented on #3931
Oh just to clarify, it seems to happen on every page load if you load it in
incognito modeq

On Fri, May 21, 2021, 7:12 PM Ahmed Saed ***@***.***> wrote:

[2021-05-22 02:19] jazir555 commented on #3931
Every first page load in incognito*

On Fri, May 21, 2021, 7:15 PM Michael Meadow ***@***.***> wrote:

[2021-05-22 04:21] gayanchandrab commented on #3931
Excluding JS will not work because this new Delay JS script delays DOMContentLoaded event. I'm having trouble with Slider Revolution. Even if all related JavaScript code is excluded, slider will not load because DOMContentLoaded is delayed until user interaction.

[2021-05-22 04:40] jazir555 commented on #3931
This is why I really wish they had both options for delaying js. The old opt-in only method where you specify scripts you want delayed, and the option to enable the new way where it delays all scripts.

[2021-05-22 04:59] gayanchandrab commented on #3931
Yes. I also wish old Delay JS option can be kept as an option. Also when DOMContentLoaded is delayed, BeTheme's menu will not be visible until user interaction because it waits until DOMContentLoaded is fired to remove a CSS class with display: none rule.

[2021-05-22 05:05] jazir555 commented on #3931
There are so many issues with the new method, I probably have to stay on a lower version until all these are patched. I will re-update to demonstrate the bugs to any wp-rocket team members if needed, but it messes with my site in too many ways to leave active right now

[2021-05-22 05:13] jazir555 opened #3940 "[Feature Request] Please re-add the old delay js opt-in feature as the new one has many bugs"
**Is your feature request related to a problem? Please describe.**
The new delay js breaks multiple functionality on my site, which leaves me having to stay reverted to 3.8.8. I cannot utilize the new remove unused css feature at all because the new delay js breaks my site, and there is no option to use the older opt-in method.

**Describe the solution you'd like**
The old opt-in method to be re-i

[2021-05-22 11:51] remyperona commented on #3940
Duplicate of #3930

[2021-05-22 11:51] #3940 closed, assigned to nobody

[2021-05-22 13:13] DahmaniAdame opened #3941 "Excluding Avada menu script to allow the menu to load without delay (Delay JavaScript Exclusions - DJE)"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When using the customer header module on Avada, the menu starts the menu with opacity 0 (invisible), and then Avada uses JS to trigger its change to 1 (visible).

Wh

[2021-05-22 14:56] gayanchandrab commented on #3934
This is my understanding. I'm not a JS pro. Despite excluding inline/external JavaScript from Delay JavaScript execution, some JavaScript is not executed if the excluded code depends on events like DOMContentLoaded, load or readystatechange. Because these events are delayed from firing by the new Delay JS script. This is how it works and not a bug. But many themes and plugin code depends on these

[2021-05-22 19:14] mehedihasanziku commented on #3931
I don't think double tap issue related to new feature, because in elementor menu js isn't independent, it relays on elementor core js. so if all elementor js excluded from delay menu should work on first tap. anyways it can be fixed through extra custom js, this is an expected behaviour of elementor if all js in delay. i don't think they will provide solution except excluding all elementor JS.

Mo

[2021-05-22 19:25] jazir555 commented on #3931
The double tap issue only appears in 3.9. What files in Elementor should be
excluded to have the double tap not be necessary? If I exclude all
elementor files, the performance is considerably worse.

On Sat, May 22, 2021, 12:14 PM Mehedi Hasan Ziku ***@***.***>
wrote:

[2021-05-22 19:43] mehedihasanziku commented on #3931
yes, because before delay was only ketword based,  not delaying all. if you delay all in old one by putting "elementor" keyword,  you will face exact same issue like new one.

keyword should be excluded.

frontend
menu
waypoint
webpack
preloaded

of course it will be lower performance. we have to exclude many files of elementor to make it work, as elementor menu not depends on single js file, you

[2021-05-22 19:46] jazir555 commented on #3931
Does excluding them currently work, or does it have the same issues as as
the other DOM loaded events and the inline scripts not being able to be
excluded currently?

On Sat, May 22, 2021 at 12:43 PM Mehedi Hasan Ziku ***@***.***>
wrote:

[2021-05-22 19:49] mehedihasanziku commented on #3931
Please try & share. i am not listed in 10% unfortunately.

[2021-05-22 19:49] jazir555 commented on #3931
Currently those files must be excluded, if wp-meteor is updated that may
not be the case

On Sat, May 22, 2021 at 12:46 PM Michael Meadow ***@***.***>
wrote:

[2021-05-22 19:53] jazir555 commented on #3931
I can confirm it is still broken with the files excluded

On Sat, May 22, 2021 at 12:49 PM Mehedi Hasan Ziku ***@***.***>
wrote:

[2021-05-22 19:53] jazir555 commented on #3931
Even with wp-meteor disabled, the menu doesn't seem to work

On Sat, May 22, 2021 at 12:52 PM Michael Meadow ***@***.***>
wrote:

[2021-05-22 19:55] mehedihasanziku commented on #3931
well, then i need to wait to get latest one. i think more js needed to be excluded.

[2021-05-23 09:10] GeekPress commented on #3924
We already have "more info" next to the option name which redirects to the same doc. Except if we plan to add a section related to the pre-warmup in this doc, we can keep it, if we have no plan, we can remove it.

[2021-05-23 09:12] GeekPress commented on #3934
@gayanchandrab This is already fixed on our side and we will release a new minor version containing the fix next week.

[2021-05-23 09:14] GeekPress commented on #3931
@jazir5 WP Rocket is 100% compatible with WP Meteor. You have just need to disable Delay JS option... You can't use two systems to delay your JS files. It's like you want to use two caching plugins at the same time, it's not possible.

[2021-05-23 10:01] gayanchandrab commented on #3934
Thanks. I am looking forward to test it.

[2021-05-23 11:27] gevcen opened #3942 "Add "Restore Default" button below the exception list of Delay JS v2"
**Is your feature request related to a problem? Please describe.**
When I updated WP Rocket to 3.9, the Delay JS has added automatically some elements in the exception list. However, if user modifies the list, the default values cannot be retrieved anymore.

**Describe the solution you'd like**
Add a button "Restore Default Values" just like we had before in the Delay JS v1

**Describe alternative

[2021-05-24 05:49] NataliaDrause commented on #3934
Likely related: https://secure.helpscout.net/conversation/1520454709/265960?folderId=3864740

[2021-05-24 08:30] GeekPress commented on #3942
Hi @gevcen

This default list is only for user updating from 3.7/3.8 to 3.9. As our previous default inclusion list was only for 3rd party, we decided to automatically exclude all internal JS files for users on 3.7/3.8 and with Delay JS on.

When you will install WP Rocket 3.9 on  a new website, these exclusions won't be inserted.

We can retrieve this list here: https://docs.wp-rocket.me/article/

[2021-05-24 08:30] #3942 closed, assigned to nobody

[2021-05-24 08:32] GeekPress commented on #3941
@DahmaniAdame Can I please let you check with @vmanthos to try the last version of our Delay JS script?

[2021-05-24 09:02] GeekPress opened #3944 "Delay JS - Automatically exclude scripts with invalid type"
**Is your feature request related to a problem? Please describe.**

An invalid type will lead to a freeze during the delay JS process.

To fix that problem, we must not transform these scripts to be delayed.

Here a list of valid JS type:

[code]

**Describe the solution you'd like**
Detect and exclude automatically scripts with an invalid type.

[2021-05-24 09:05] GeekPress opened #3945 "Add incompatibility notice when WP Meteor is activated and our Delay JS too"
**Is your feature request related to a problem? Please describe.**
WP Meteor is a plugin that delays all JS scripts.

This plugin will be in conflict with our Delay JS when it's activated.

**Describe the solution you'd like**
Add WP Meteor to our list of conflicted plugins when our Delay JS option is activated.

[2021-05-24 09:39] GeekPress commented on #3931
@jazir5 Can you please contact me at jonathan @ wp-media.me with WordPress access to your website. I will also need to have the plugin editor available.

We have a new version of our Delay JS script we would like to test on your site.

[2021-05-24 11:45] GeekPress commented on #3926
@ScottTravisHartley A friendly « up » to not forget us. It will be very helpful if we could try our new version on your website before releasing it. Thanks in advance 🙏

[2021-05-24 12:35] vmanthos commented on #3934
Related ticket: https://secure.helpscout.net/conversation/1522280871/266329?folderId=2135277

[2021-05-24 17:14] ScottTravisHartley commented on #3923
This appears to be fixed on my end now

[2021-05-24 22:41] z-clearpg commented on #2952
How do I vote for this? yes please. Lazy Load HTML video tags.

[2021-05-25 06:58] vmanthos commented on #3396
Another usage case where this will be useful:

With RUCSS and Optimize CSS delivery (OCD), when there is a FOUC, we need to exclude the `used.min.css` file from being loaded asynchronously.

This is not currently possible if we need to do it site-wide, and the only solution currently is to disable OCD.

**Related ticket:** https://secure.helpscout.net/conversation/1523385410/266603

[2021-05-25 07:21] vmanthos opened #3947 "RUCSS - Display a notice when the API URL cannot be accessed"
**Is your feature request related to a problem? Please describe.**

Currently, if a firewall is blocking outgoing connections to our RUCSS generator, nothing will be displayed to the user. This means a customer will have to reach out to our support for a solution.

**Describe the solution you'd like**

We should consider displaying error messages related to the API the way we already do for CPCSS.

[2021-05-25 07:45] DahmaniAdame commented on #3941
@GeekPress checking with @vmanthos. I will let you know the results.

[2021-05-25 08:30] DahmaniAdame commented on #3941
@GeekPress it worked to some extent. From my testing, CWV were the exact same.
But still, from the real user perspective, having to wait for 2s to see the menu (in this particular case) is not a good user experience.
The new timeout will surely help fix other use cases. Visual elements above the fold and things that need to be prioritized might still need to be excluded fully from DJE.

[2021-05-25 12:58] #3645 closed, assigned to mostafa-hisham

[2021-05-25 16:19] GeekPress commented on #3941
@DahmaniAdame Did you find the right JS file to exclude from being delayed?

[2021-05-25 19:25] GeekPress opened #3950 "Delay JS - Add Smush LazyLoad script to default exclusion list"
**Is your feature request related to a problem? Please describe.**
Smush has an option to Lazyload images. When our Delay JS is on, images aren't loaded until user interaction.

**Describe the solution you'd like**
Automatically add Smush LazyLoad JS file to our default exclusion list.

Pattern to add: `/assets/js/smush-lazy-load.min.js`

This pattern works for free and paid versions.

[2021-05-25 19:46] DahmaniAdame commented on #3941
@GeekPress yes! It's:
`fusionNavIsCollapsed`

Waiting for the customer's feedback to confirm.

A quick comparison between the exclusion and the timeout only.

![image](https://user-images.githubusercontent.com/1289174/119559168-3b27a800-bd9a-11eb-8d41-e24396f6dd29.png)

[2021-05-25 19:47] DahmaniAdame commented on #3941
Related ticket - https://secure.helpscout.net/conversation/1519304192/265606/

[2021-05-25 20:36] jazir555 commented on #3931
Yes, I sent you an email with the login credentials

On Mon, May 24, 2021 at 2:39 AM Jonathan Buttigieg ***@***.***>
wrote:

[2021-05-25 21:23] jcatello opened #3951 "mysqldump Error 1412 on wp_wpr_rucss_used_css"
We noticed since introducing removing unused css the following error happens during automated backups.

` mysqldump: Error 1412: Table definition has changed, please retry transaction when dumping table wp_wpr_rucss_used_css at row: 0`

I cannot reproduce it when dumping the table by itself

**Backlog Grooming (for WP Media dev team use only)**
- [ ] Reproduce the problem
- [ ] Identify the root c

[2021-05-26 06:10] DahmaniAdame commented on #3920
Related ticket - https://secure.helpscout.net/conversation/1521101198/266078/

[2021-05-26 10:23] cgold1979 commented on #3738
The new delay javascript is causing an issue with website monetization as it delays the execution of external header bidding partners lowering viewability and the time it takes to show ads on the site. This will impact many publishers' revenues without them even knowing.

[2021-05-26 10:26] vmanthos opened #3952 "Delay JS/Defer JS - Exclude Google's webfont.js to allow fonts to be loaded"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

Fonts loaded using Google's [Web Font Loader](https://github.com/typekit/webfontloader) `webfont.js` aren't loaded when the script is delayed/deferred.

Checking this o

[2021-05-26 10:32] gevcen commented on #3938
Are we gonna be able to choose the X seconds ?

[2021-05-26 11:30] DahmaniAdame opened #3953 "Add .onrocket.site to our allowlist (Rocket.net staging domain)"
**Is your feature request related to a problem? Please describe.**
Customers using Rocket.net will have a license counted when using WP Rocket on their `###.onrocket.site` staging environment.

**Describe the solution you'd like**
Licenses shouldn't be counted when using Rocket.net staging environment.

**Describe alternatives you've considered**
Adding `.onrocket.site` to our `$staging` list.

ht

[2021-05-26 11:31] DahmaniAdame commented on #3953
Related - https://secure.helpscout.net/conversation/1522425141/266386/
I can do the PR if you greenlight this one.

[2021-05-26 11:49] vmanthos opened #3954 "Delay JS - Exclude Superfly menu scripts"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When delay JavaScript is used the Superfly menu isn't working.
**screencast:** https://youtu.be/5JCYCXcAZoA

The following have to be excluded:
[code]

**To Reproduce**

[2021-05-26 11:57] vmanthos opened #3955 "Delay JS - Exclude FacetWP scripts"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

The [FacetWP](https://facetwp.com/) product filtering plugin isn't working when delay JavaScript execution is active.
**screencast:** https://youtu.be/_VWAv3pF3DE

Excl

[2021-05-26 15:48] remyperona commented on #3923
Awesome thank you, closing the issue then

[2021-05-26 15:48] #3923 closed, assigned to remyperona

[2021-05-26 15:50] remyperona commented on #3924
@webtrainingwheels what do you think?

[2021-05-26 18:01] jorgemartine00 commented on #3934
Related ticket: https://secure.helpscout.net/conversation/1521233567/266106/

[2021-05-26 18:24] piotrbak opened #3957 "RUCSS problem with <noscript> tags"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
The style that's present in the <noscript> is processed by the Treeshaker (and removed from the source).

**To Reproduce**
Steps to reproduce the behavior:
1. Add the follow

[2021-05-26 18:32] webtrainingwheels commented on #3957
The related ticket for this problem: https://secure.helpscout.net/conversation/1519241486/265582?folderId=377611

[2021-05-27 08:11] viobru commented on #1423
Related ticket: https://secure.helpscout.net/conversation/1510312134/263353/

[2021-05-27 15:00] alfonso100 opened #3958 "Gravity Form disappears if jQuery is deferred"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - Yes
- Used the search feature to ensure that the bug hasn’t been reported before - Yes

**Describe the bug**
When Defer JS is applied to jQuery, Gravity Forms get "invisible" with no console errors.
This is happening since GR 2.5, and we're getting some tickets about it

[2021-05-27 15:13] GeekPress commented on #3958
@alfonso100 When Deferred JS is on, this inline should be wrapped into a DOMContentLoaded event. Was it the case?

[2021-05-27 15:19] GeekPress opened #3959 "Delay JS - Add EWWW LazyLoad script to default exclusion list"
**Is your feature request related to a problem? Please describe.**
EWWW has an option to Lazyload images. When our Delay JS is on, images aren't loaded until user interaction.

**Describe the solution you'd like**
Automatically add EWWW LazyLoad JS file and inline script to our default exclusion list.

Patterns to add:

[code]

These patterns work for free and paid versions.

Inline JS example:

[

[2021-05-27 15:31] alfonso100 commented on #3958
@GeekPress In this case, `#gform_wrapper_28` is the ID of a form that's not being displayed.

And this is the current code, they use 2 different scripts, and we are wrapping both:

[code]

[2021-05-27 15:31] GeekPress commented on #3931
@jazir5 I didn't receive an email with website credentials. Please write an email and don't send an automatic WordPress email

[2021-05-27 15:43] sandyfzu commented on #3270
A case that presents this issue: https://secure.helpscout.net/conversation/1518072975/265223/

It was fixed by adding the modification that @engahmeds3ed  suggests.

[2021-05-27 15:47] remyperona commented on #3944
A future-proof approach instead could be to only allow scripts with a type corresponding to actual JavaScript, which is a check we already have in combine JS and we can re-use. And also if there is no type of course.

[2021-05-27 15:56] alfonso100 commented on #3958
This seems to be fixed on their side: https://docs.gravityforms.com/gravityforms-change-log/

asking a customer to see if they can test this update

[2021-05-27 16:18] GeekPress commented on #3944
@Tabrisrp I have updated the issue to go on this way.

[2021-05-27 17:39] JohnTorvik commented on #2952
Related: https://secure.helpscout.net/conversation/1525052006/267066/

[2021-05-27 19:02] Mai-Saad opened #3960 "Error message shall be displayed to user if RUCSS failed (rucss tables arenot created)"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => yes
- Used the search feature to ensure that the bug hasn’t been reported before => yes

**Describe the bug**
When enabling RUCSS and tables couldn't be created in DB, a failure message shall be displayed to the user

**To Reproduce**
Precondition:
- Enable  RUCSS => r

[2021-05-27 19:44] alfonso100 commented on #3958
A Customer confirmed that updating GR to the latest version, 2.5.3.1, fixes the issue: https://secure.helpscout.net/conversation/1524764536/266978?folderId=2683093

[2021-05-27 20:15] Snadex commented on #3738
The new update and most probably this feature prevented hubspot forms to load. They were working just fine before.

[2021-05-28 01:18] thekendog opened #3961 "Delay JS Fails to Execute Properly if Mouse is Moving While Page is Loading"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version: Yup, 3.9
- Used the search feature to ensure that the bug hasn’t been reported before: Don't see anything

**Describe the bug**
When loading a page, if my mouse is moving in the window while the page is loading, scripts do not execute.  I have to let my mouse remain stil

[2021-05-28 03:10] JJJ commented on #3960
Addressed upstream in https://github.com/berlindb/core/issues/108. 🚀

[2021-05-28 04:17] ldquan commented on #3961
I have the same issue

[2021-05-28 06:24] DahmaniAdame opened #3962 "RUCSS creates a console error when used with Revolution Slider"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
RUCSS removes an inline CSS script:

`<style id='rs-plugin-settings-inline-css' type='text/css'> #rs-demo-id {} </style>`

That RevSlider targets using another inlin

[2021-05-28 06:32] DahmaniAdame commented on #3962
Ticket - https://secure.helpscout.net/conversation/1520234638/265876/
Slack discussion - https://wp-media.slack.com/archives/C43T1AYMQ/p1622116284103300

[2021-05-28 07:51] vmanthos opened #3963 "RUCSS - allow to safelist @font-face rules"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

Currently, the RUCSS safelist will accept CSS ids/classes/files.

It's impossible to safelist `@font-face` rules like the following:
[code]

This may result in fonts no

[2021-05-28 11:26] DahmaniAdame opened #3964 "Notify the user that settings will be deleted after WP Rocket deletion"
**Is your feature request related to a problem? Please describe.**
When users delete WP Rocket, we don't say at any stage that the settings will be deleted as well.
Once the settings are deleted, they can't be recovered unless a backup of the settings is exported before the plugin uninstall.
https://github.com/wp-media/wp-rocket/blob/75a25635ad7e1953fcd7fbfb288a2a7c5efeeeb9/inc/Engine/WPRocketUnin

[2021-05-28 11:53] piotrbak commented on #3962
@DahmaniAdame Just an addition that was found by @Mai-Saad

Not all sliders made by Rev Slider cause this faulty script to be added to the source. If it's not added, then there's no error in the JS console. However, preserving this style in the source seems to be the best solution, just to be 100% safe.

[2021-05-28 15:32] remyperona commented on #3964
Do we really need that? That's the default behaviour of the vast majority of the plugins, and also the recommended way: https://developer.wordpress.org/plugins/plugin-basics/uninstall-methods/

[2021-05-28 15:40] Mai-Saad opened #3966 "Used CSS folder shall be deleted when deleting the plugin"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.9
- Used the search feature to ensure that the bug hasn’t been reported before => No

**Describe the bug**
When deleting WPR, the used CSS folder is not deleted from the cache

**To Reproduce**
Precondition:
- RUCSS and OCD are on => having used CSS folder in cache

[2021-05-28 16:18] Mai-Saad commented on #3142
Note for retest fix on browserstack: Couldn't reproduce using iPhone 12mini and iPhone 8 on Safari but was there on iPhone 11 and iPad Pro 12.9 on Safari (3.9)

[2021-05-28 17:09] gayanchandrab commented on #3963
This is exactly what happens when Better Font Awesome plugin is used with RUCSS.

[2021-05-28 23:08] webtrainingwheels opened #3967 "PHP Warning with some exclusions in Load JavaScript Deferred"
A PHP warning is triggered with certain exclusions entered into Load JavaScript Deferred.

`PHP Warning: preg_match(): Compilation failed: missing closing parenthesis at offset 943 in /wp-content/plugins/wp-rocket/inc/Engine/Optimization/DeferJS/DeferJS.php on line 78`

**To Reproduce**

1. Enter the following exclusions in Load JavaScript Deferred:
`gtag(`
`ga( '`
`ga('`
2. Check the error log fo

[2021-05-29 08:22] gayanchandrab opened #3968 "RUCSS - 404 error for used CSS file when it is in a directory with an url-encoded name"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version :white_check_mark: 3.9
- Used the search feature to ensure that the bug hasn’t been reported before :white_check_mark:

**Describe the bug**
When Remove Unused CSS with Optimize CSS Delivery is used together, file not found (404) error occurs if used CSS file is stored in

[2021-05-29 08:49] gevcen opened #3969 "WPML Language Switcher dropdown doesn't expand anymore if Delay JS v2 enabled"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
If you add a Language Switcher dropdown from WPML to your frontend and you enable Delay JS v2, then the dropdown doesn't expand when navigating in Incognito mode.

**To Repr

[2021-05-29 18:17] DahmaniAdame commented on #3964
@Tabrisrp I totally get why we are doing it. And it's the right thing to do. Uninstalling a plugin should indeed clean whatever it added.

Tweaking performance could be time-consuming or even paid-for in some cases. Notifying the user to at least make a backup on uninstall would make sure the settings are not lost unexpectedly.

I added it because of the last ticket about it. And to keep track if

[2021-05-30 03:43] jazir555 commented on #3931
I did, I'm surprised you didn't receive it. Might have went to spam. I'll
get back to you as soon as the designer finishes up on our site, dont want
to complicate his work by telling him to stop and then start again

On Thu, May 27, 2021 at 8:31 AM Jonathan Buttigieg ***@***.***>
wrote:

[2021-05-30 08:21] NataliaDrause commented on #3934
Related: https://secure.helpscout.net/conversation/1521265456/266114/

[2021-05-30 11:20] NataliaDrause commented on #3934
Related: https://secure.helpscout.net/conversation/1522588801/266438/

[2021-05-31 08:02] vmanthos commented on #3952
Using a newer version of the inline JavaScript fixed this without the need for exclusions.

[2021-05-31 08:02] #3952 closed, assigned to nobody

[2021-05-31 08:47] vmanthos commented on #3954
With a newer version (no timeout) of the delay JS script, this works without exclusions. However, those should be placed if the user wants the menu to appear without user interaction.

A document will be created about this.

[2021-05-31 08:47] #3954 closed, assigned to nobody

[2021-05-31 08:48] vmanthos commented on #3955
With a newer version (no timeout) of the delay JS script, this works without exclusions. However, those should be placed if the user wants the menu to appear without user interaction.

A document will be created about this.

[2021-05-31 08:48] #3955 closed, assigned to nobody

[2021-05-31 09:08] vmanthos opened #3970 "Delay JS - Woocommerce Product Reviews Pro plugin"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅checked with the Delay JavaScript script provided me on Monday, May 31.
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When the Delay JavaScript execution is active the functionality of the [Woocommerce product revie

[2021-05-31 11:37] GeekPress commented on #3969
The problem is related to Woodmart theme and not WPML directly.

These files need to be excluded from Delay JS to fix the problem:

[code]

We will investigate why we have to exclude 2 files of the theme and if we try to find a fix.

[2021-05-31 12:40] Mai-Saad commented on #3931
Note:
The same problem occurs when using Astra theme but excluding `/wp-content/themes/astra/assets/js/minified/frontend.min.js?ver=3.4.7` , fixes the problem.

[2021-05-31 12:46] GeekPress commented on #3931
@Mai-Saad Did you used the last Dealy JS version available on the repo? If no, please try with the lastest version.

[2021-05-31 12:54] GeekPress commented on #3958
@alfonso100 Do we have new reports about the conflict? If not, we can close this issue.

[2021-05-31 13:15] Mai-Saad commented on #3931
@GeekPress No I was testing on 3.9 zip.. let me check the latest delay js version.

[2021-05-31 13:37] vmanthos commented on #3282
Related ticket on A2 hosting:
https://secure.helpscout.net/conversation/1511415292/263626

Changing `HTTP_X_LSCACHE` to `X_LSCACHE` allowed caches to be cleared in sync.

[2021-05-31 16:32] meow231a commented on #3720
This is also happening for .doc, .docx, and .xls, but resulting in 404s since it tries to open them as webpages. It may also affect other document file types.

[2021-05-31 16:37] Mai-Saad commented on #3931
@GeekPress Still not working with the new delay js.

The scenario is as follow while having Astra active theme on mobile view:
1- Disable delay js then clear cache,
2- Access home page => have cached version (good menu)
3- Enable delay js  => cached version of the home page is auto-updated
4- Hard refresh home page => Menu is broken ( if we clear cache here then hard refresh page, the menu will be

[2021-05-31 19:35] jazir555 commented on #3931
I can confirm I am using Astra as well

On Mon, May 31, 2021, 9:38 AM Mai-Saad ***@***.***> wrote:

[2021-05-31 20:24] piotrbak commented on #3931
In my case toggling the mobile Astra menu is a problem. I've investigated this problem and when this file is delayed:
`/wp-content/themes/astra/assets/js/minified/frontend.min.js`

The `resize` event is not registred in the browser:
![image](https://user-images.githubusercontent.com/26767037/120239544-6dcc1780-c256-11eb-8ebb-bd14d56a4a1d.png)

[2021-05-31 21:03] sandyfzu opened #3976 "Lazyload: Uncaught TypeError: Assignment to constant variable when a constant "i" is declared"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**
When a constant "i" is declared before this line (in the browser):

https://github.com/wp-media/wp-rocket/blob/aea8f96b0725f900deaa337af2f87c37277676ff/inc/Dependencies/

[2021-06-01 06:41] vmanthos commented on #3271
Related ticket: https://secure.helpscout.net/conversation/1525947388/267278/

In this case, the customer is using "A different domain per language" in WMPL's language settings, but they didn't add a URL in the respective text area:

![](https://i.vgy.me/n3RzH2.jpg)

That resulted in these URLs:
[code]
 being reported from ` icl_object_id()` as the translations of WooCommerce's pages here:
https://

[2021-06-01 07:20] vmanthos commented on #2849
**Ticket:** https://secure.helpscout.net/conversation/1522244512/266312?folderId=2135277

The script was the following:
[code]

Our RegEx picked up `/1867782.js`.

[2021-06-01 08:10] GeekPress commented on #3931
@piotrbak @Mai-Saad Can we please move the Avada conversation to the right issue?  https://github.com/wp-media/wp-rocket/issues/3941

It's going to be quite hard to follow if we talk about several page builder/themes in the same issue.

[2021-06-01 08:48] seldimi opened #3977 "Lazyload delay execution after WP Rocket 3.9"
Hello.
After upgrading to WP Rocket 3.9 and turning on "Delay JavaScript execution" lazyload seems to delay in mobile, if there is no user interaction.

How to reproduce:
Enable Delay JavaScript execution on a WooCommerce website, lazy load won't execute visible elements. Ajax cart and product single image (gallery) won't be visible unless you scroll a bit in your device.

https://streamable.com/k

[2021-06-01 08:49] GeekPress commented on #3977
Please disable the Lazyload of your theme or the other plugin you are using. And please use WP Rocket Lazyload instead.

[2021-06-01 08:50] seldimi commented on #3977
I am using wp rocket's lazy load, and I saw this happening on all websites I've upgraded to WP Rocket 3.9

[2021-06-01 08:52] GeekPress commented on #3977
Did you keep the default exclusion list?

[code]

[2021-06-01 08:54] seldimi commented on #3977
Yes. But still.
Maybe woocommerce plugins should be also excluded?

[2021-06-01 08:57] GeekPress commented on #3977
WooCommerce plugins are already excluded if you are using the default exclusion list.

Please wait 3.9.0.1 which should fix your problem and contact us on support [at] wp-rocket.me to continue the discussion.

[2021-06-01 08:57] #3977 closed, assigned to nobody

[2021-06-01 13:51] #3600 closed, assigned to mostafa-hisham

[2021-06-01 14:50] piotrbak opened #3978 "Astra theme's mobile menu problem with Delay JS"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When using **Astra theme** + **Delay JS** and making sure that Separate Cache for Mobile Devices **is not** enabled the hamburger menu will be broken until the user interact

[2021-06-01 14:56] juricazuanovic commented on #3934
Related ticket: https://secure.helpscout.net/conversation/1524168791/266841/

[2021-06-01 15:06] GeekPress opened #3979 "Don't apply Remove Unused CSS on pages protected by a password"
**Is your feature request related to a problem? Please describe.**
When a page is protected by a password and RUCSS is turned on, the website is broken once the content is displayed after entered the password.

**Describe the solution you'd like**
Don't apply RUCSS on pages protected by a password to avoid broken layouts.

@wp-media/supportrocket This will require a mention in our documentation.

[2021-06-01 16:14] piotrbak opened #3980 "Improve the UI when white label is enabled"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When the white label is enabled, the UI of the dashboard doesn't look good:

**To Reproduce**
Steps to reproduce the behavior:
1. Enable WhiteLabel `define ('WP_ROCKET_WHITE

[2021-06-01 16:21] #3120 closed

[2021-06-01 17:45] webtrainingwheels commented on #3967
https://secure.helpscout.net/conversation/1522119318/266286?folderId=377611
This customer reports that this issue prevents other exclusions in the field from working.

[2021-06-01 18:37] remyperona commented on #3979
There is a function we can use when we're on a post page to check if there is a password needed for the page: https://developer.wordpress.org/reference/functions/post_password_required/

[2021-06-01 18:59] #3945 closed, assigned to remyperona

[2021-06-01 19:44] #3924 closed, assigned to remyperona

[2021-06-01 20:18] alfonso100 opened #3982 "Allow to programmatically regenerate CPCSS"
**Is your feature request related to a problem? Please describe.**
Some customers would like to have a way of programmatically regenerate CPCSS.

We do provide a snippet: https://snippi.com/s/4shymeq
When used, it succeeds in clearing the current CPCSS, but the regeneration process doesn’t run unless an admin page is visited.

So, the process is correctly _enqueued_ but is not being _triggered_ un

[2021-06-02 07:05] warudin commented on #3982
The main reason for this request is that we update our custom themes and plugins on clients sites through the [Git Updater plugin](https://github.com/afragen/git-updater) so everything gets rolled out automatically upon a commit. An update for a theme or plugin can cause visual changes to the site, so regenerating the critical CSS is absolutely necessary for us. But if we have to visit the back-en

[2021-06-02 07:55] GeekPress commented on #3807
@Tabrisrp Can we add this to the next sprint?

[2021-06-02 09:02] DahmaniAdame opened #3984 "TradingViews embed JavaScript not working when hosted (JavaScript exclusion)"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
TradingView is a trading tool platform with embeddable code for tickers and charts.

[code]

The script creates an iframe and pulls data from their app.

[code]

If

[2021-06-02 09:02] DahmaniAdame commented on #3984
I can add the PR when this is greenlighted.

[2021-06-02 12:38] #3932 closed, assigned to GeekPress

[2021-06-02 12:39] #3934 closed, assigned to remyperona

[2021-06-02 13:58] #2876 closed

[2021-06-02 15:21] #3941 closed, assigned to remyperona

[2021-06-02 15:21] #3950 closed, assigned to remyperona

[2021-06-02 15:21] #3959 closed, assigned to remyperona

[2021-06-02 15:33] remyperona commented on #3142
There will be an updated to this issue in 3.9.0.1, by adding additional touch events to the triggers for delay JS.

In our tests, it didn't prevent the double tap needed all the time, but there could be some improvements seen by our users.

We're keeping the issue open to keep track of the evolution.

[2021-06-02 19:04] piotrbak opened #3987 "Exclude WP Forms inline script from the DelayJS"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When updating from pre-3.9 we're excluding specific scripts from Delay JS. This one is not excluded causing JS error in the console:
`wpforms_settings`

**To Reproduce**
Ste

[2021-06-03 07:08] paskalr1 commented on #3142
Google Analytics is not able to register mobile visitors if i implement the change. gtag/js in the delay scripts is causing the problem when the above mod is implemented. If i remove gtag/js from the list then the lighthouse score drops to the same level when the delay script is disabled. I have removed the mod until we find a new solution for this.

[2021-06-03 10:31] DahmaniAdame commented on #2907
Related ticket - https://secure.helpscout.net/conversation/1531002809/268535/

[2021-06-03 10:39] 79ho3ein opened #3989 "Please add pre-load image capability to this plugin."
Please add a feature to this plugin, so I can put a custom image for store images to display to users before they are fully loaded.
This feature will be great and will not make the user tired of waiting.
Similar example for this feature : https://prnt.sc/13ud543
Please add this feature if possible

thanks

[2021-06-03 10:45] 79ho3ein opened #3990 "Report a bug in the rocket and jet woobuilder plugin.please check"
There is a query in the jet woobuilder plugin called recently visited products. When the rocket plugin is active, this query can no longer be used and it is severely bugged.
I raised this issue with the developers of jet woobuilder, they say the problem is with the rocket plugin.
Please check this bug and fix it if possible.

Thank you

[2021-06-03 12:05] vmanthos opened #3991 "3.9 RUCSS - PHP Fatal error - too few arguments passed in rocket_css_content"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

The issue was reported by Simon Duduica, the CTO of ShortPixel. 🙏

In `WP_Rocket\Engine\Optimization\RUCSS\Controller\UsedCSS` we pass only `$used_css` to the `rocket_c

[2021-06-03 12:16] GeekPress commented on #3990
Hi @79ho3ein

Thanks for the report.

Please update your original message by following our issue template :

**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
A clear and concise description of what the bug is.

**To Reprod

[2021-06-03 12:52] 79ho3ein commented on #3990
@GeekPress
ok thanks

[2021-06-03 12:57] 79ho3ein opened #3992 "A question about the ability to delete unused css"
Doesn't using this feature create a problem for the website? For example, clutter in the appearance of the website or ...
Did anyone have a problem with this feature?

thanks

[2021-06-03 13:02] thekendog commented on #3961
It doesn't appear that 3.9.0.1 fixed the issue.

[2021-06-03 13:28] javiergutierrezchamorro commented on #3992
Not using 3.9 but you can try yourself and if not working properly disable RUCSS. Guess that WP-Media aim is to make it fully compatible and truly remove only what is not needed.

[2021-06-03 15:03] 79ho3ein commented on #3992
thanks

[2021-06-03 15:08] remyperona commented on #3807
### Scope a solution ✅
In `inc/Engine/License/Upgrade.php::can_use_promo`
- using `$user->get_creation_date()`
- Add a new conditional check, and bailout if current time + 14 days is inferior to the creation date

Also update tests using this method to add a new fixture for this condition

### Estimate the effort ✅
Effort for dev + QA `[S]`

[2021-06-03 15:37] jorgemartine00 opened #3993 "RUCSS does not add the font-display="swap" property when Optimize CSS Delivery is not active"
**Before submitting an issue please check that you’ve completed the following steps:**
[x] Made sure you’re on the latest version
[x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
In cases where origin font file is already minified and Optimize CSS Delivery is not enabled

**To Reproduce**
Steps to reproduce the behavior:
1. Add a font with alread

[2021-06-03 19:35] Mai-Saad opened #3994 "Message displayed for preload when activating RUCSS needs to be more descriptive"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.9.0.1
- Used the search feature to ensure that the bug hasn’t been reported before => yes

**Describe the bug**
Message displayed when activating RUCSS that `Preload complete: 11 pages have been cached. (June 3, 2021 @ 7:28 pm)` although, preloading is paused and thi

[2021-06-03 19:44] Mai-Saad opened #3995 "Actions in admin bar better not to auto change the current tab"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.9.0.1
- Used the search feature to ensure that the bug hasn’t been reported before => yes

**Describe the bug**
Auto redirection to the WPR dashboard occurs with admin bar actions i.e clear cache, preload, ...etc

**To Reproduce**
Steps to reproduce the behavior:
1.

[2021-06-03 20:58] remyperona commented on #3966
### Reproduce the issue ✅
Reproduced on local installation

### Identify the root cause ✅
The new `used-css` folder was not added in the list of folders to delete when uninstalling.

### Scope a solution ✅
In `inc/Engine/WPRocketUninstall.php`, add `used-css`  to the `$cache_dirs` property.

### Estimate the effort ✅
Effort `[XS]`

[2021-06-04 06:23] seldimi commented on #3977
Unfortunately version 3.9.0.1 didn't solve the issue

[2021-06-04 07:42] DahmaniAdame opened #3996 "JS Minification - Uncode: abnormal string added when excluding a file"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When trying to exclude the following file on Uncode `/wp-content/themes/uncode/library/js/ai-uncode.js`, the following string appends to it `'%20id='uncodeAI'%20data

[2021-06-04 08:38] vmanthos commented on #3996
An additional note to what @DahmaniAdame wrote.

That file is among those we automatically exclude for Uncode, and therefore there isn't a need to be added in the exclusion text area:
https://github.com/wp-media/wp-rocket/blob/59045e5ace9948b5ad844c6f4d5c46122089af7b/inc/3rd-party/themes/uncode.php#L20

Also, the same issue will occur when excluding any of the files there, e.g.:
[code]

[2021-06-04 08:59] vmanthos commented on #928
https://secure.helpscout.net/conversation/1533549436/269214/

[2021-06-04 09:54] vmanthos commented on #3961
**Related ticket:** https://secure.helpscout.net/conversation/1529387360/268136/

Even excluding everything from Delay JS, the issue is there, as can be seen in the screencast: https://youtu.be/ueorlRDeHsA

I had all JavaScript-handling features disabled.

[2021-06-04 11:04] javiergutierrezchamorro opened #3997 "Optimize static images in the plugin"
**Is your feature request related to a problem? Please describe.**
Some files onto the plugin can be optimized to reduce its size. As a followup on https://github.com/wp-media/wp-rocket/issues/3476 I am providing here more details. Just running FileOptimizer over the entire wp-rocket folder detected 60 optimizable files and saved 10 KB.

**Describe the solution you'd like**
Make wp-rocket better o

[2021-06-04 12:03] vmanthos opened #3998 "3.9 - WooCommerce Multilingual compatibility change causing errors 50x"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.9.0.1`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

The compatibility change that was introduced in WP Rocket 3.9:
https://github.com/wp-media/wp-rocket/issues/3418

is causing issues on customers' servers, e.g

[2021-06-04 12:06] piotrbak commented on #3418
@strategio The fix is okay on our end, but there's something wrong happening on your side. I've already contacted Olivia and Mohamed about this via email. Commenting here se you're also aligned. We can discuss everything here:
https://github.com/wp-media/wp-rocket/issues/3998

[2021-06-04 12:52] juricazuanovic opened #3999 "Compatibility with superhosting.bg"
The https://www.superhosting.bg/ is using Varnish cache that uses custom IP address and port so WP Rocket can't flush it.

**Current state:**
We need to use our helper plugin _WP Rocket | Varnish IP_ to purge the cache.

**Ideal state:**
Make automatic integration with this hosting provider. Customer support from https://www.superhosting.bg/ has provided us with the correct IP address and port to

[2021-06-04 13:33] GeekPress commented on #3995
@Mai-Saad I'm not able to reproduce this problem on our website and https://smashingcoding.com/ Clearing the cache from the dashboard won't redirect to our options page.

[2021-06-04 13:38] GeekPress commented on #3992
@79ho3ein Please contact our support team for this kind of question: https://wp-rocket.me/support/

[2021-06-04 13:38] #3992 closed, assigned to nobody

[2021-06-04 13:53] GeekPress commented on #3989
It's possible to set your own placeholder by using this filter:

[code]

Please contact our support if you need assistance to implement your own placeholder.

[2021-06-04 13:53] #3989 closed, assigned to nobody

[2021-06-04 13:55] GeekPress commented on #3984
@DahmaniAdame Feel free to make a PR :)

[2021-06-04 14:15] GeekPress commented on #3961
Hi 🤚

Does this kind of behavior is expected from someone? Moving the mouse like this doesn't seem natural and only from someone who wants to debug the Delay JS feature.

[2021-06-04 14:25] strategio commented on #3998
Thanks for pinging me @piotrbak.

It looks like we have something to improve on the way we deal with cookies.
However, I could not reproduce such a big problem locally. Indeed I have some duplicated header (14), but not as much as reported by the customer (584).

As a short-term workaround, I think commenting out `add_filter( 'wcml_user_store_strategy', 'rocket_wcml_use_cookie_storage', 10, 2 ); `

[2021-06-04 14:54] thekendog commented on #3961
I mean yeah, not everybody just sits there without ever moving their mouse on page load.  I was obviously forcing it in my example but to think that nobody would ever be moving their mouse at all is a little shortsighted.  The whole reason I discovered it in the first place was not because of forcing the issue, but through general use.

[2021-06-04 15:24] vmanthos commented on #3998
@strategio To clarify this, the number (584) I got was the product of the number of products on the site I debugged, and the number of languages there.

I'm guessing you have a small number of products on your local site, and this shouldn't cause a notable issue there, contrary to what happened on our common customers sites.

[2021-06-04 15:34] roeeyossef commented on #1747
+1

[2021-06-04 17:29] strategio commented on #3998
Thanks @vmanthos!

I believe it's an issue with WPML Core plugin. I already prepared a fix there but I have no schedule for the next WPML version yet. Maybe we'll also add a temporary patch inside WCML.

For now, I'll let you suggest the short-term workaround.

[2021-06-04 21:06] webtrainingwheels commented on #3995
Just an FYI I did notice this on my site with Clear Cache, Purge OP cache and Clear Used CSS:
https://recordit.co/Q792yRCJe2
( I start on the File Optimization tab but end up on the Dashboard tab after the action)

[2021-06-04 22:27] jazir555 commented on #3961
Agreed, having this bug occur as well

[2021-06-04 22:28] jazir555 commented on #3957
+1

[2021-06-05 00:43] thekendog commented on #3961
Yeah, I feel like this is a pretty significant bug that needs to be addressed ASAP.  Especially since this feature is turned on by default.  Not everyone knows how to test/look for these errors and the most pressing issue I can think of is sites are going to be losing out on Google Analytics data because the script is never executed.

[2021-06-05 09:33] DahmaniAdame opened #4000 "Adding a dot on WP Rocket folder name prevents it from deactivation"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When using a dot on WP Rocket folder name, eg. wp.rocket or wp-rocket.bak, WP Rocket will get activated but won't be able to be deactivated.

**To Reproduce**
Steps

[2021-06-05 10:02] tommy83 opened #4001 "Delay JavaScript break most of all elementor widgets"
General:
Activate "Delay JavaScript execution". Now lets do what the most visitor will do on a website:
Load the website and scroll immediately. If you do that: The style of most elementor widgets are broken.
Also many thirdparty elements like ajax search pro are not shown.
- Also elementor widgets dynamic ooo (post grid) and many more elements are not correct shown.
- We have the same issue on al

[2021-06-05 10:42] tommy83 commented on #3961
@GeekPress
our website have many visitor per day.
After installed wp rocket v 3.9.1 we got a lot of feedback like this: friend, your website is broken:
- Visitor enter our url and just using the mousewheel to scroll. This is an very normal situation and not very rear.
- After installing another cachin plugin (that also delay js) everything is fine while scrolling without moving the mouse. They deb

[2021-06-05 13:27] tommy83 opened #4002 "Delay JavaScript not working for websites via browser history"
fresh installed/latest WordPress
fresh installed/WP Rocket 3.9.0.1
fresh installed/latest Elementor.
Issue is also confirmed by elementor pro support.

How to reproduce:
1. Open website. Add the website to your favorites/bookmarks.
2. Close the website.
3.  Reopen the website via browser history and scroll or move the mouse. JS is not executed.
Result: Delay JavaScript for user interaction is not

[2021-06-05 19:56] gevcen opened #4003 "Delay JS v2 (3.9.0.1) breaks Woodmart Theme Mobile Sidebar"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
If you enable Delay JS v2 with Woodmart theme and you add a mobile sidebar, WP Rocket generates some issues.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Wo

[2021-06-05 19:57] #4003 closed, assigned to nobody

[2021-06-05 19:58] gevcen commented on #3969
Second issue with Woodmart identified, probably linked to this.

**Describe the bug**
If you enable Delay JS v2 with Woodmart theme and you add a mobile sidebar, WP Rocket generates some issues.

**To Reproduce**
Steps to reproduce the behavior:

- Install Woodmart theme
- Add a mobile sidebar (on both mobile & desktop for testing purpose)
- Enable WP Rocket Delay JS v2
- Try expanding the sidebar

[2021-06-05 21:20] tommy83 opened #4004 "Delay JavaScript not working in firefox (click on logo)"
fresh installed/latest WordPress
fresh installed/WP Rocket 3.9.0.1
fresh installed/latest Elementor.
Issue is also confirmed by elementor pro support.
fresh installed/latest firefox
fresh installed/latest chrome.

1. Open firefox.
2. Enter URL of website.

Visitor need to enter url and press enter or press RELOAD Button of browser.
But Delay JavaScript (for user interaction) will not work in firef

[2021-06-05 22:13] tommy83 commented on #3938
Very simple and fast implementation.
Any chance to have an solution soon?

Because: there is no reason to scroll for every website. Small sites dont have scroll. And very often mobile websites have filter, search and other controle elements in header. Visitor will wait or need to touch/scroll to see the elements. Not good UX and visitor dont understand why... Or they wait, wait, wait...

most of a

[2021-06-05 22:18] gevcen opened #4005 "WPBakery animations not triggering with Delay JS v2"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
If you use WPBakery and you add some animations (fade in, zoom in ...), then the animations don't trigger with Delay JS.

**To Reproduce**
Steps to reproduce the behavior:
1

[2021-06-06 02:12] jazir555 opened #4006 "Remove unused css breaks Elementor Elementors nav menu widget submenu indicator"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - on version 3.9.0.1
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Remove unused css breaks the submenu indicator on every other page that isn't the homepage, even when every elementor css file is excluded in the textbo

[2021-06-06 05:44] NataliaDrause commented on #3998
Related: https://secure.helpscout.net/conversation/1529829505/268232

[2021-06-06 09:11] tommy83 opened #4007 "Delay JS (user interaction) breaks website in latest firefox"
Install latest version of firefox.
latest wordpress
latest elementor pro
PHP 7.4
Activate WP Rocket 3.9.1
Caching all pages.

1. Open website with elementor post grid.
2. Move the mouse: the JS is not running and style of grid is broken.
3. After 10 tests only 3 times it was working correct.
In Chrome its working fine.

See also attached via for testing via firefox and chrome:
https://streamable.c

[2021-06-06 16:42] 79ho3ein opened #4008 "Ability to delete unused javascript code"
Does wp-rocket have a program to add the ability to delete unused javascript code?

[2021-06-07 05:26] NataliaDrause commented on #3961
Related: https://secure.helpscout.net/conversation/1533601640/269239/

[2021-06-07 06:37] GeekPress commented on #4008
@79ho3ein Please open a ticket to ask questions like that: https://wp-rocket.me/support/

Our Github repository is to report bugs and enhancements. If you need info, please contact our support.

[2021-06-07 06:37] #4008 closed, assigned to nobody

[2021-06-07 08:11] vmanthos commented on #2803
**Related ticket:** https://secure.helpscout.net/conversation/1520157492/265830/

The Vimexx-specific headers were set using:
[code]

However, adding Vimexx's IPs using our helper plugin, didn't purge the cache.
What did was:
* setting the `$scheme` to HTTPS:
[code]
* replacing the IP of the `$purge_url` with Varnish's TLD:
[code]

[2021-06-07 09:30] sarangsss29 opened #4010 "Exclude JS delay for Jetpack Stats by default"
Before submitting an issue please check that you’ve completed the following steps:

Made sure you’re on the latest version ✅
Used the search feature to ensure that the bug hasn’t been reported before ✅

Describe the bug
When using Jetpack Stats (or Wordpress Stats) using the Jetpack Plugin,
https://wordpress.org/plugins/jetpack/
The latest WP-Rocket v3.9.0.1 defers or delays the WP Stats script al

[2021-06-07 09:33] GeekPress commented on #4010
If you want to fully exclude Jetpack Stat, you have to also exclude `_stq` for the inline JS.

[2021-06-07 09:33] #4010 closed, assigned to nobody

[2021-06-07 11:57] crystinutzaa commented on #3979
### Reproduce the issue ✅
I did not checked it locally, but should be easy to be reproduced.

### Identify the root cause ✅
HTML content is updated after password is inserted, so SaaS will compute the used css for the password protected page and will never contain the full css.

### Scope a solution ✅
Don't apply RUCSS on pages protected by a password to avoid broken layouts.
Use the function :
`p

[2021-06-07 12:26] crystinutzaa commented on #3957
### Reproduce the issue ✅
Identified on my local

### Identify the root cause ✅
The root cause is in TreeShaker as it process the styles from noscripts.

### Scope a solution ✅
Even if the styles will not be processed by TreeShaker, it will be removed from HTML.
https://github.com/wp-media/wp-rocket/blob/59045e5ace9948b5ad844c6f4d5c46122089af7b/inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php#

[2021-06-07 12:27] piotrbak commented on #4007
It's the same issue as this one:
https://github.com/wp-media/wp-rocket/issues/4004

Firefox seems to work different when accessing directly the URL (or refreshing the page) than it works when clicking on the link.

[2021-06-07 12:32] piotrbak commented on #4001
This is a duplicate of this issue:
https://github.com/wp-media/wp-rocket/issues/3961

[2021-06-07 12:48] mostafa-hisham commented on #3957
### Reproduce the issue ✅
Identified on my local

### Identify the root cause ✅
we need  to not remove the content of NoScript tags and not send it to the tree shaker

Sorry I didn't notice that Cristina was working on this issue
but this what I found

### Scope a solution ✅
edit the regex in these lines to not collect the inline CSS and links inside the script tags
https://github.com/wp-media/wp-

[2021-06-07 13:02] remyperona commented on #3957
As an addition, we would not need this exclusion anymore, as it would no longer be processed:

https://github.com/wp-media/wp-rocket/blob/59045e5ace9948b5ad844c6f4d5c46122089af7b/inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php#L83

[2021-06-07 13:04] quangthien27 commented on #2441
This still happens with current version 3.9.0.1, same error, but it just happened randomly, no upgrade was performing

[2021-06-07 13:38] GeekPress commented on #4007
Duplicate of #4004

[2021-06-07 13:38] #4007 closed, assigned to nobody

[2021-06-07 13:44] piotrbak opened #4011 "Don't remove Elementor class used to determine the screen size"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Elementor is using the following CSS code to determine the screen size.
[code]
It's being later processed by JS:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1.

[2021-06-07 13:47] piotrbak commented on #3987
The whole script:
[code]

[2021-06-07 13:50] piotrbak commented on #4006
I wasn't able to reproduce the problem when it wasn't working for pages other than home. I created a GitHub issue, so the menu display will be handled automatically, without excluding the whole files from the feature:
https://github.com/wp-media/wp-rocket/issues/4011

[2021-06-07 13:51] GeekPress commented on #4011
@piotrbak This should be moved to the Tree Shaker repository.

[2021-06-07 13:53] GeekPress commented on #4006
Duplicate of #4011

[2021-06-07 13:53] #4006 closed, assigned to nobody

[2021-06-07 13:53] GeekPress commented on #4001
Duplicate of #3961

[2021-06-07 13:53] #4001 closed, assigned to nobody

[2021-06-07 16:28] strategio commented on #3998
FYI, we added a fix in WPML Core and we are planning to release WPML 4.4.11 in the coming days (but we do not have an official date yet).

[2021-06-07 16:39] mostafa-hisham commented on #3993
### Reproduce the issue ✅
Reproduced on local test site

### Identify the root cause ✅
RUCSS does not apply font display swap to font-family

### Scope a solution ✅
 use the apply_font_display_swap function in CSSTrait before saving used css in db or filesystem
https://github.com/wp-media/wp-rocket/blob/59045e5ace9948b5ad844c6f4d5c46122089af7b/inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php#L