[2021-11-03 08:18] vmanthos commented on #4463
**Related ticket:** https://secure.helpscout.net/conversation/1682404160/304978?folderId=2135277

The original CSS was this:
[code]

and it was removed from the used CSS.

[2021-11-03 08:36] vmanthos commented on #4463
**Related ticket:** https://secure.helpscout.net/conversation/1682265464/304962?folderId=2135277

The following:
[code]
was removed.

[2021-11-03 09:29] DahmaniAdame commented on #4463
Related - https://secure.helpscout.net/conversation/1674776880/303744/

Not specific to `linear-gradient` or `radial-gradient`.

Any color using `rgba()` opacity set to `0` or `1` is dismissed.

Example:
[code]

Anything other than `0` or `1` seems to be preserved:

[code]

[2021-11-03 09:34] andcam commented on #1959
it's been over 2 years and mixpanel script is still being loaded without consent.

@arunbasillal's suggestion is a good one. this really should be opt-in only to be compliant.

[2021-11-03 13:20] kaeelo5 commented on #3931
hi i am using astra theme and this exact issue is happening to me too. Can someone help what the solution is to the problem?

currently on 3.10.1

[2021-11-03 13:22] vmanthos commented on #4463
**Related ticket:** https://secure.helpscout.net/conversation/1685115686/305490/

This is removed:
[code]

[2021-11-03 13:31] piotrbak commented on #3931
Hello @kaeelo5

Could you please check if 3.10.2 version resolves your problem? If not, please create a support ticket and we'll investigate this issue further.

[2021-11-03 13:46] #3526 closed, assigned to remyperona

[2021-11-03 13:46] #4299 closed, assigned to remyperona

[2021-11-03 14:16] iCaspar opened #4477 "Warmup gets stuck during resource processing stage, even though resources are processed on SaaS."
See also https://github.com/wp-media/warmup/issues/72 .

The issue is most likely a failure of the warmup service to properly return the status of resources sent for processing.

[2021-11-03 20:21] remyperona commented on #4429
You have the possibility to do so using the `rocket_use_native_lazyload` filter `add_filter( 'rocket_use_native_lazyload', '__return_true' );`.

This will put the lazyload into native mode, where it will delegate the lazyloading to the browser if it's supported, or do a JS-based lazyload if the browser doesn't support native yet.

It's a feature that is included in the lazyload script that we use:

[2021-11-03 20:21] #4429 closed, assigned to nobody

[2021-11-03 20:53] NataliaDrause opened #4478 "Delay JS - after 3.10.2 update elements can become non-responsive when browser scroll is used"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.10.2
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
After update to 3.10.2 when _Delay JavaScript Execution_ option is enabled - links become non-clickable when a browser scroll bar is used.

**To Reproduce**
T

[2021-11-03 21:57] remyperona commented on #4474
A solution is to remove the escaping altogether, as everything is inside a style tag anyway. Using `strip_tags()` would be possible too, but that would require to maintain a huge list of tags to allow.

[2021-11-04 07:33] DahmaniAdame commented on #4463
Related ticket - https://secure.helpscout.net/conversation/1681515348/304860?folderId=3864735

This property is remove:
[code]

[2021-11-04 08:37] mehedihasanziku commented on #4463
This issue is on 🔥🔥

Removed by rucss `background-color: rgba(84, 89, 95, 0);`
changed to this `background-color: rgba(84, 89, 95, 0.0);` and preserved as `background-color: rgba(84,89,95,0);`

[2021-11-04 08:53] Garnet-Fox commented on #4478
Not only Avada, at least Flatsome too. The console is empty, there is no mistake, where the legs grow from is not clear. Not only links do not work, but also the buttons of the button on which the event is hung, and it is not necessary that this is a click on the link. Helps F5. Rolling back the lazyload-script version to 3.9.4.1 helps completely. At the same time, not all computers react this way

[2021-11-04 09:48] DahmaniAdame opened #4480 "Turn off Defer CSS Loaded in the <BODY> (Footer) on Asset Cleanup when Remove Unused CSS is used"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.10.1`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**

When one of the following Asset Cleanup Pro options are enabled:

- **Defer CSS Loaded in the <BODY> (Footer) > Yes, for any stylesheet LINK tags moved fro

[2021-11-04 10:13] piotrbak commented on #4478
Hello @Garnet-Fox thanks for your comment.

The problem with delayed onclick events _is kind of_ expected. Before, in some cases, onclick events were not working correctly on mobile devices. Hamburger menu could be a good example:
1. First tap on the hamburger menu
2. Scripts are loaded, nothing happens the menu doesn't open
3. Second tap on the hamburger menu, menu opens

We fixed this problem by

[2021-11-04 10:24] vmanthos commented on #4072
**Related:** https://secure.helpscout.net/conversation/1686679151/305787?folderId=2135277

[2021-11-04 11:03] Garnet-Fox commented on #4478
@piotrbak , are your talking about performance? Hamburger menu events are in delayed scripts? If yes, maybe it’s better not to delay them. It's just that the speed of loading does not always prevail over the performance of the site as a whole. By catching missed clicks, I managed to additionally postpone only one script, and the delay from the response is not comparable to the page load speed in t

[2021-11-04 11:31] piotrbak commented on #4455
Hello @jeriss-cloud-center

**>because here users must clear the entire cache (as well as the CPCSS / RUCSS) then regenerate the CPCSS / RUCSS and regenerate the cache.**

This is not 100% correct. After making the changes in CSS, you'll need to:
1. _Clear Used CSS_ from the top menu button (it's also clearing the cache)
2. Preload Cache (it's also generating new Used CSS)

However, I still think

[2021-11-04 11:34] piotrbak commented on #4453
Hello @AlexandrSydoruk please contact our Support Team using the following URL:
https://wp-rocket.me/support/

They will be able to investigate your problem.

[2021-11-04 11:34] #4453 closed, assigned to nobody

[2021-11-04 11:36] NataliaDrause commented on #4480
Related: https://secure.helpscout.net/conversation/1674475699/303683?folderId=3864740

[2021-11-04 11:56] piotrbak commented on #4447
Hello @alihs We are using the following library for the LazyLoad:
https://github.com/verlok/vanilla-lazyload

You can check the available JS options there.

You can also use this filter to change the JS file for your own, prepared one:
https://github.com/wp-media/wp-rocket/blob/b1374b37cefcd13ff4bcbe853dc8782d557d9c4b/inc/Dependencies/RocketLazyload/Assets.php#L182

[2021-11-04 11:56] #4447 closed, assigned to nobody

[2021-11-04 12:04] DahmaniAdame opened #4481 "Compatibility with WP Google Maps Pro"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.10.1`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When WP Google Maps Pro is used with Delay JavaScript Execution, the map is not displayed after user interaction and dependency errors are showing on the br

[2021-11-04 12:23] piotrbak commented on #4441
Hello @charlestroluxe

Varnish is clearing exactly the same files as WP Rocket is doing:
https://github.com/wp-media/wp-rocket/blob/aea8f96b0725f900deaa337af2f87c37277676ff/inc/Addon/Varnish/Subscriber.php#L44

https://github.com/wp-media/wp-rocket/blob/aea8f96b0725f900deaa337af2f87c37277676ff/inc/common/purge.php#L103

However, I can see that URLs passed from this field to the Varnish look like t

[2021-11-04 13:25] JerissCloudCenter commented on #4455
Dear @piotrbak

Thank you for your clarification.

I think your answer actually even points in my direction. You confirmed that "clearing the Used CSS also clears the cache" but that isn't straightforward (at least for me it wasn't, so I suppose for other users it could too).

I really think (for sure) that there must be some more simple ways for all these features to work together. As in the exam

[2021-11-04 14:01] alfonso100 commented on #4340
thank you for reporting this, @markllego !

I have tested and added the exclusions for the  PDF Embedder (free version) to our [Delay JavaScript Execution compatibility exclusions](https://docs.wp-rocket.me/article/1560-delay-javascript-execution-compatibility-exclusions#pdf-embedder).

Can you please open a support request so we can check the PDFEmbedder Premium exclusions on your website? It'd b

[2021-11-04 14:41] alfonso100 commented on #2366
related ticket: https://secure.helpscout.net/conversation/1685827717/305649/

[2021-11-04 15:44] piotrbak commented on #4452
Closing it, as it's a duplicate of https://github.com/wp-media/wp-rocket/issues/4433 issue which uses the correct template.

[2021-11-04 15:44] #4452 closed, assigned to nobody

[2021-11-04 15:52] NataliaDrause commented on #4136
Related: https://secure.helpscout.net/conversation/1686129964/305708?folderId=3864740

[2021-11-04 15:53] piotrbak commented on #4430
I think this is related to wrong paths being used somewhere in WP config or wrongly configured hosting.

@Tabrisrp do you think we can prevent this from happening?

[2021-11-04 16:06] piotrbak commented on #4427
Hello! It seems that you can resolve your problem by following this guide:
https://docs.wp-rocket.me/article/1313-create-different-cache-files-with-dynamic-and-mandatory-cookies

I'm not closing this issue to see if we're getting more requests from customers.

[2021-11-04 16:08] piotrbak commented on #4425
@DahmaniAdame I think that `recaptcha` exclusion is too general to be included in auto exclusion list. Do we happen to have a different string that would be more unique?

[2021-11-04 16:16] piotrbak commented on #4419
@DahmaniAdame Were you able to see any errors in the JS console?

[2021-11-04 16:17] 79ho3ein commented on #4427
hello @piotrbak, Thank you for your answer.
I experience this problem on all my websites. Many co-workers also have the same problem. Unfortunately there is this interference. Is it possible to solve this problem in wp-rocket?
As I said above, I talked to the developer of jet woobuilder. They said the problem is with the wp-rocket.
I hope this problem can be solved.

thank you

[2021-11-04 16:22] piotrbak commented on #4427
The solution for your problem is described step by step in the article. After following those steps, you'll end up with a helper plugin ready to be installed on all sites that are experiencing the issue. If you have problems with implementation, you can reach our support via https://wp-rocket.me/contact/

As you can see we have pretty many issues reported, that's why we need to prioritize them car

[2021-11-04 16:27] 79ho3ein commented on #4427
thank you

[2021-11-04 16:39] piotrbak commented on #4407
Hello @pedddro Unfortunately, we have only filter that excludes whole files from the feature:
https://github.com/wp-media/wp-rocket/blob/aea8f96b0725f900deaa337af2f87c37277676ff/inc/Engine/CriticalPath/CriticalCSS.php#L572

[2021-11-04 18:55] piotrbak commented on #4398
Hello @hogash, we're already doing it in 3.10.2 version, but having some small issues. I'm closing this, since it is already implemented (might be reverted for a while though).

[2021-11-04 18:55] #4398 closed, assigned to nobody

[2021-11-04 20:39] gabelivan commented on #4480
@DahmaniAdame @NataliaDrause  I was notified about this issue by one of the Asset CleanUp Pro users. Currently, you can disable "Defer CSS Loaded in the (Footer)" whenever "Remove Unused CSS" is turned on by hooking into get_option() for the settings via add_filter - https://developer.wordpress.org/reference/functions/get_option/ - however, you have to carefully alter the JSON value there. While i

[2021-11-04 20:40] remyperona commented on #4363
This can be achieved by using the following code snippet:

[code]

It will disable delay JS on product pages only, while keeping it enabled for all other pages.

[2021-11-04 20:40] #4363 closed, assigned to nobody

[2021-11-05 06:40] vmanthos commented on #4161
**Related ticket:** https://secure.helpscout.net/conversation/1686971603/305867/

[2021-11-05 07:25] DahmaniAdame opened #4485 "Delay JavaScript Execution 3.10.2 bug with the Beaver Theme on iOS (no link is clickable)"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.10.2`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**

When the latest version of the Delay JavaScript Execution script is used with the Beaver Theme on iOS, none of page's links are clickable on Safari and Chr

[2021-11-05 10:57] gerfoley commented on #3728
Is there any plans to allow users override the forcing of font-display attributes other than we have set ourselves?

Currently I have fonts set to optional but am unable to get wp-rocket to stop changing them to swap.

Surely there are other users in the same situation?

[2021-11-05 14:07] alfonso100 commented on #4485
Another possible related case here:
https://secure.helpscout.net/conversation/1687266869/305940/

no links are clickable on **3.10.2:**
This is only affecting the homepage, not the internal pages.
It is affecting mobile and desktop

When reverting to 3.10.1, or 3.9.4 the console error is also present, _but it is not preventing the functionality of the links._

The following console error is presen

[2021-11-05 15:11] #3704 closed, assigned to remyperona

[2021-11-05 15:46] camilamadronero-zz commented on #2440
Related https://secure.helpscout.net/conversation/1687793200/306017/

[2021-11-05 17:01] camilamadronero-zz commented on #3142
New ticket https://secure.helpscout.net/conversation/1687816685/306024?folderId=5321805

[2021-11-05 17:50] GeekPress commented on #4073
As it's not 100% safe to exclude inline scripts wrapped into `CDATA`, we won't fix it.

[2021-11-05 17:50] #4073 closed, assigned to nobody

[2021-11-05 18:05] GeekPress commented on #4425
We can exclude this pattern to be safe: `gforms_recaptcha_`

[2021-11-05 18:45] piotrbak commented on #4472
Let's go with the educative notice approach:
When we detect that DelayJS and Autoptimize JS Aggregation is enabled, we'll display dismissable, educative notice like we do for our Combine JS. We'll encourage customers to disable Autoptimize option to have the best results.

@webtrainingwheels @vmanthos What do you think would be the best wording here? 🙏

[2021-11-05 19:30] SALLYPEMDAS opened #4488 "Deperecation Warning: implode(): Passing glue string after array is deprecated"
Hi! Thanks for the plugin.

I am seeing this deprecation waring on PHP 7.4:

  #0 implode(): Passing glue string after array is deprecated. Swap the parameters:: called at [/home/redacted/public_html/web/app/plugins/wp-rocket/vendor/matthiasmullie/minify/src/CSS.php:518]

It looks like the dependency project is already updated:

https://github.com/matthiasmullie/minify/pull/300

Can we please brin

[2021-11-05 19:43] remyperona commented on #4327
After testing, the files are correctly processed if they are saved as static file in the Autoptimize configuration.

@GeekPress This is happening only if `Save aggregated script/css as static files?` is disabled in Autoptimize settings, because in that case the extension is `.php` instead of `.css`.

Should we recommend to users to enable this option in Autoptimize? It shouldn't really be ever dis

[2021-11-05 21:25] alfonso100 commented on #4485
probably related:
https://secure.helpscout.net/conversation/1688011423/306096?folderId=2683093

[2021-11-08 06:40] vmanthos commented on #4126
I apologize for missing the notification for this one.

When no resources are fetched, RUCSS is not going to work as expected. Until now, I've seen this happening when a plugin, e.g. Wordfence, or a server's security, e.g. `ModSecurity` on `O2switch`, is blocking WP Rocket's fetching requests.

When:
1. Pages have been found and scanned `AND`
2. No resources have been fetched during the one hour w

[2021-11-08 09:55] WordPresseur commented on #4372
Related ticket: https://secure.helpscout.net/conversation/1675322214/303817/

[2021-11-08 11:26] vmanthos commented on #4463
Related: https://secure.helpscout.net/conversation/1684637888/305409/

[2021-11-08 11:35] piotrbak commented on #4488
Hello @SALLYPEMDAS we updated minification library in 3.9.1 version of WP Rocket while ago:
https://github.com/wp-media/wp-rocket/pull/3907

I can confirm that the code is updated on my environment. Could you tell me which WP Rocket version you're using?

[2021-11-08 12:39] vmanthos commented on #4463
Related: https://secure.helpscout.net/conversation/1687888498/306055?folderId=2135277

[2021-11-08 13:27] vmanthos commented on #4472
It could be something like this:

[2021-11-08 13:55] piotrbak commented on #4327
@Tabrisrp I think we should easily go with the notice approach, similar to this one:
https://github.com/wp-media/wp-rocket/issues/4472#issuecomment-963149723

We should rather encourage people to disable combination at all, since it will just add more, unnecessary processing.

[2021-11-08 14:45] iCaspar commented on #4463
Closed by https://github.com/wp-media/css-parser/pull/51

[2021-11-08 14:51] #4464 closed, assigned to iCaspar

[2021-11-08 18:16] #4474 closed, assigned to remyperona

[2021-11-08 18:27] remyperona commented on #4458
### Reproduce the issue ✅
Reproduced the issue on local installation

### Identify the root cause ✅
This is happening because the regular expression we use to find links and scripts is not matching when there is a space in the URL.
`<link\s+(?:[^>]+[\s"\'])?href\s*=\s*[\'"]\s*(?<url>[^\'"\s]+)\s*?[\'"](?:[^>]+)?\/?>`
`<script\s+(?:[^>]+[\s\'"])?src\s*=\s*[\'"]\s*?(?<url>[^\'"\s]+)\s*?[\'"](?:[^>]+

[2021-11-08 18:44] piotrbak commented on #4458
@Tabrisrp `the file is never actually warmed-up on the SaaS side.`
Does it mean it won't be processed at all? If so, after implementing this patch we'll end up with those styles being in the source treated as unprocessed CSS, right?

To fully fix the problem we need fix here and on the SaaS side.

[2021-11-08 18:45] remyperona commented on #4458
Yes indeed we need to do changes on both sides

[2021-11-08 18:46] piotrbak commented on #4458
But if it'll be treated as unprocessed CSS, we can implement the plugin part now, and wait for the SaaS side safely.

[2021-11-08 19:36] piotrbak commented on #4237
Hello @jazir5 this seems to be related to the CPCSS tool being overloaded or request blocked by 3rd party. If you're still experiencing it, please reach our support.

[2021-11-08 19:36] #4237 closed, assigned to nobody

[2021-11-08 20:15] remyperona commented on #4437
When using a different value for `WP_PLUGIN_URL` and the default one for `WP_PLUGIN_DIR`, I'm getting a 404 on all resources from the plugins.

Do you know if there is another customization done to make this work?

[2021-11-08 21:07] piotrbak commented on #4156
@mehedihasanziku I'm closing this since we're applying a fix to save the events in memory in delay JS. It's going to fix the problem you mentioned here without the need of excluding jQuery:
[code]

The updated DelayJS script should be present in 3.10.4 version of WP Rocket. If you feel something different, please reopen the issue.

[2021-11-08 21:07] #4156 closed, assigned to nobody

[2021-11-08 21:46] remyperona commented on #4417
If I understand correctly, instead of using the CSS workaround, we would need to always exclude the additional scripts from delay JS, even when there is no gallery. Is that correct?

[2021-11-09 04:10] smerriman opened #4490 "Can't generate CPCSS due to bad gateway on WP Rocket domain"
https://cpcss.wp-rocket.me/ is giving a bad gateway error, causing all attempts to generate critical CSS to fail.

[2021-11-09 06:34] vmanthos commented on #4417
I think we can still use the CSS workaround if we don't add `woocommerce-layout` as a dependency.

[2021-11-09 10:24] vmanthos commented on #2440
**Related ticket:** https://secure.helpscout.net/conversation/1690657177/306567/

[2021-11-09 10:50] piotrbak commented on #4490
@smerriman I'm closign this, since the issue was resolved. Please note, that our GitHub repository is supposed to collect bugs related to our product. In the future, please be in touch with our awesome Support Team, they'll be happy to help you :)

[2021-11-09 10:50] #4490 closed, assigned to nobody

[2021-11-09 12:42] piotrbak commented on #4143
The solution here would be to automatically safelist the:
[code]

When we detect `et_pb_blog_0` in HTML

[2021-11-09 13:35] viobru commented on #928
Likely related: https://secure.helpscout.net/conversation/1689883663/306382/

[2021-11-09 14:15] #4382 closed, assigned to remyperona

[2021-11-09 14:56] piotrbak commented on #4058
Hello @wpsumo we were not able to reproduce the issue and we haven't received any complains about sitemap not being preloaded.
**>the issue seems more be related to that it stops**
Background process will work till the timeout and later it will be resumed by the wp cron.

**>too much load on the server due to the crawls via sitemap**
You can slow down the preload and reduce the load with this [fil

[2021-11-09 14:56] #4058 closed, assigned to nobody

[2021-11-09 17:44] piotrbak commented on #4013
We'll go exactly the same way as we do in https://github.com/wp-media/wp-rocket/issues/4327

[2021-11-09 17:45] #4473 closed, assigned to alfonso100

[2021-11-09 18:16] Mai-Saad opened #4492 "Delay JS - Exclude Jetpack's lazyload scripts"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => yes
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Images are not displayed till user interaction

**To Reproduce**
Steps to reproduce the behavior:
1. Enable Jetpack plugin
2. Enable delay js
3. Visit the page with i

[2021-11-09 18:27] iCaspar commented on #4327
Grooming notes:

**Reproduced**: ✅ (see https://github.com/wp-media/wp-rocket/issues/4327#issuecomment-962171183)
**Root cause**: ✅  (see https://github.com/wp-media/wp-rocket/issues/4327#issuecomment-948026456)
**Solution**: (**simple notice solution**, per https://github.com/wp-media/wp-rocket/issues/4327#issuecomment-963171805)

1. Create a new function `rocket_maybe_disable_rucss()` in `inc/3r

[2021-11-09 18:48] Mai-Saad opened #4493 "linear-gradient() / rgb is removed from used CSS in some cases"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => yes
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
linear-gradient is removed in the following cases:

`background-color: linear-gradient(to bottom, rgb(100%, 0%, 0%), rgb(110%, 0%, 0%), rgb(255, 0, 153.0), rgb(255, 0

[2021-11-09 18:52] alfonso100 commented on #4161
related: https://secure.helpscout.net/conversation/1691697505/306769

[2021-11-09 20:15] smerriman commented on #4490
Your product directly uses this URL (I only discovered it after debugging through your code to see why it was generating errors), so I would consider it a pretty serious bug with the product :) But I'm glad you managed to resolve it.

[2021-11-09 20:26] remyperona commented on #4417
We have 2 possible approaches there, not sure if there is one really better than the other.

**First solution**
Change the hook to `wp_head`, and echo the custom CSS instead of using `wp_add_inline_style()`.

**Second solution**
Enqueue a fake style like `wp_enqueue_style( 'rocket-woocommerce-layout-fix' )`, and change the handler for `wp_add_inline_style( 'rocket-woocommerce-layout-fix' )`

Both

[2021-11-09 20:29] remyperona commented on #4458
Yes we can. I changed the effort to `[S]` for the plugin-side part.

[2021-11-09 20:32] iCaspar commented on #4327
In the combined rucss/cpcss UI of 3.10, and in conjunction with a similar helper text that should be added via #4013, it may be necessary to also use a bit of JS to toggle the helper text above with the helper text pertenant to the Aggregate inline/CPCSS conflict, depending on which of the Optimize selections is active.

[2021-11-09 20:37] remyperona commented on #4463
This case should be fixed with our update on the SaaS side.

[2021-11-09 20:37] #4463 closed, assigned to remyperona

[2021-11-09 20:42] iCaspar commented on #4013
Grooming notes:

Per https://github.com/wp-media/wp-rocket/issues/4013#issuecomment-964385166 the solution will be the same as the grooming in #4327

There will need to be a second function in the autoptimize.php to check for aggregate_inline_css, and that will need to be called in another helper item with appropriate text re: inline aggregation vs cpcss.

However, because the helper notice will n

[2021-11-09 20:58] iCaspar commented on #4472
See grooming for #4327
1. Add a function to detect the Autoptimize setting.
2. Add a helper in Settings/Page.php with the appropriate message.

**Estimated Effort**:
[XS]

[2021-11-10 02:27] smerriman commented on #4490
Addendum - perhaps consider this a feature request then - if your server is down and you attempt to generate critical CSS with the plugin, can you have a more appropriate error message?

All it currently says is 'The API returned an invalid response code', which according to https://docs.wp-rocket.me/article/1267-troubleshooting-critical-css-generation-issues says that we need to whitelist WP Rock

[2021-11-10 06:54] vmanthos commented on #4463
**Related ticket:** https://secure.helpscout.net/conversation/1690714535/306573?folderId=2135277

The background image isn't displayed:
[code]

[2021-11-10 07:16] Mai-Saad commented on #4340
This is the case too when Combine JS is enabled (tested on WPR 3.10.2, PDF Embedder 4.6.2).

Excluding jquery and jquery-migrate will make PDF displayed

[code]
With Defer JS, the file is stuck in loading or displayed as a link (tested on WPR 3.10.2, PDF Embedder 4.6.2).
The following exclusion fixes the problem
[code]

[2021-11-10 07:18] vmanthos commented on #4493
Related ticket: https://secure.helpscout.net/conversation/1690714535/306573?folderId=2135277

The following rule is removed and the background image isn't displayed:
[code]

[2021-11-10 09:15] DahmaniAdame opened #4494 "Disable Never cache (URLs) on hosting services where WP Rocket doesn't handle page cache"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
When WP Rocket is not handling page cache, exclusions used on Never cache (URLs) won't have any effect.

Kinsta for example mentions that exclusions will need to pass through the support service: https:

[2021-11-10 10:35] DahmaniAdame commented on #928
Related - https://secure.helpscout.net/conversation/1692317594/306872/

[2021-11-10 11:02] Mai-Saad opened #4495 "Space is added before turn (used in Woocommerce style sheet) in used CSS"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Space is added before` turn `inside used CSS of `/wp-content/plugins/woocommerce-/packages/woocommerce-blocks/build/wc-blocks-style.css`

**To Reproduce**
- Woocommerce is e

[2021-11-10 11:33] Vpvladimirov opened #4496 "Uncaught Error: Class 'WP_Rocket\Dependencies\Database\Query' not found in /bitnami/wordpress/wp-content/plugins/wp-rocket/inc/Engine/Optimization/RUCSS/Database/Queries/UsedCSS.php"
**Describe the bug**
After installing the WP Rocket successfully I click "Activate Plugin" and the entire Wordpress stops working because of the error
Fatal error: Uncaught Error: Class 'WP_Rocket\Dependencies\Database\Query' not found
in /bitnami/wordpress/wp-content/plugins/wp-rocket/inc/Engine/Optimization/RUCSS/Database/Queries/UsedCSS.php on line 10

However when I navigate to the WP_Rocket\D

[2021-11-10 11:48] piotrbak commented on #4496
Hello @Vpvladimirov thanks for your report. In the error log there's a mention of `duplicate-post` plugin.

Could you disable it and try installing a fresh zip archive of WP Rocket from our [website](https://wp-rocket.me/account)? That might be useful in debugging process.

[2021-11-10 12:08] Vpvladimirov commented on #4496
Hello @piotrbak after disabling the duplicate-post plugin I hit the same error with another plugin so for now I have disabled 4 plugins. Now the error is with
[code]
but I don't see a "wordpress-seo" plugin in the list.

Also I will need the 4 disabled plugins so even if it works at some point do you think I will be able to activate them later on?

[2021-11-10 12:10] piotrbak commented on #4496
@Vpvladimirov There seem to be a problem with your installation. Do you use WP Rocket downloaded from our website or from GitHub?

[2021-11-10 12:14] Vpvladimirov commented on #4496
@piotrbak I use the one from the website. I just paid for the License and downloaded the zip.
After couple of more install WP Rocket -> Activate -> Uninstall -> Deactivate the plugin mentioned in the error I am now at the following error:

[code]

I guess this could help.

[2021-11-10 12:29] piotrbak commented on #4496
@Vpvladimirov Could you open a support ticket here https://wp-rocket.me/support/ and send us WordPress/SFTP credentials?

Our Support Team is aware of this problem with your instance and your case will be treated as priority. It seems that the `Query.php` content might not be correct. For now, I'm closing the issue and if it turns out that the problem is related to the code itself, rather than cor

[2021-11-10 12:29] #4496 closed, assigned to nobody

[2021-11-10 13:13] iCaspar commented on #4340
PDF Embedder has been changing some of the class names that we look for to add this automatically. The most recent update of the Basic version broke our integration tests, and we have a [PR for it](https://github.com/wp-media/wp-rocket/pull/4491).

That said, if the base class for Embedder's upgraded versions has also changed, the current PR will probably not fix those versions. It looks from @mar

[2021-11-10 13:23] piotrbak commented on #4340
@iCaspar I've already contacted PDF Embedder team and asked to send us copies of all premium versions they have. I believe we'll get back to this PR in the next sprint.

[2021-11-10 14:26] GeekPress commented on #4126
@camilamadronero Can we plan to work on the "guide" mentioned 👆

[2021-11-10 14:42] iCaspar commented on #4340
@piotrbak Let's merge the current PR for the basic version so we can get our test back to green for release of 3.10.3 -- We can start a new PR when we have more info on the premium versions to be in 3.10.4. (I'll unlink that PR from this issue)

[2021-11-10 14:51] iCaspar commented on #4340
Looks like we also have some CombineJS issues found by @Mai-Saad. See https://github.com/wp-media/wp-rocket/pull/4491#issuecomment-964873371

(David Bisset tells me that they are planning more revisions, so we'll have to keep an eye on this moving forward to make sure we remain compatible.)

[2021-11-10 15:43] NataliaDrause commented on #4478
Possibly related: https://secure.helpscout.net/conversation/1692702484/306996/

[2021-11-10 19:29] girlie commented on #3142
New ticket: https://secure.helpscout.net/conversation/1692844093/307019/

[2021-11-10 21:20] camilamadronero-zz commented on #4126
Sure thing! Asana card created here: https://app.asana.com/0/1200521205873018/1201354770665024.

[2021-11-11 07:03] DahmaniAdame commented on #4454
Another theme spotted: Flatsome

They use variable IDs:

[code]

[code]

Ticket - https://secure.helpscout.net/conversation/1692261669/306845/

[2021-11-11 11:30] DahmaniAdame commented on #4228
Related - https://secure.helpscout.net/conversation/1692715745/307001/

The following was removed:

[code]

[2021-11-11 11:51] vmanthos commented on #4493
**Related ticket:** https://secure.helpscout.net/conversation/1684637888/305409/

[code]

[2021-11-11 13:45] vmanthos commented on #4072
**Likely related:** https://secure.helpscout.net/conversation/1689988642/306427?folderId=2135277

[2021-11-11 16:39] Mai-Saad opened #4500 "PDF Embedder Plugin compatibility"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => yes
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
**For PDF embedder (4.6.4)** Using Combine JS gives an error
![Screenshot from 2021-11-10 09-43-01](https://user-images.githubusercontent.com/76941962/141333248-ca063

[2021-11-12 10:48] WordPresseur commented on #3142
New ticket: https://secure.helpscout.net/conversation/1691278202/306676/

Update: the solution provide here https://github.com/wp-media/wp-rocket/issues/3142#issuecomment-882012665 worked.

[2021-11-12 11:19] EmSixTeen commented on #4032
+1, this is still a thing, 🙂

[2021-11-12 14:01] iCaspar commented on #4472
**User story:**
[code]

[2021-11-12 17:09] iCaspar commented on #4314
This issue is blocking
#4472
#4327
#4013

[2021-11-12 19:50] SALLYPEMDAS commented on #4488
Oh I was on an old version. I didn't realize that plugin updates don't roll automatically for this plugin.

Thank you!

[2021-11-12 19:50] #4488 closed, assigned to nobody

[2021-11-12 19:58] iCaspar commented on #4314
Grooming Notes:

Reproduced: ✔️

Root cause: ✔️
Adding settings_errors to the transient does not persist them across the page load because other calls to the settings API  `get_settings_errors()` deletes the transient before we have a chance in our settings to get the contents.

Solution scope: ✔️
Instead of setting the transient, we can use WP's `add_settings_error()` to store the errors/notices.

[2021-11-13 07:17] DahmaniAdame commented on #4454
Another scenario to cover is when using mandatory cookies (WPML for example).
The cache is renewed whenever the mandatory is not set. This will implicate the necessity of clearing the used CSS whenever a new visitor triggers a new cookie creation.

[2021-11-14 00:27] peixotorms commented on #3142
Can't we just detect safari on load, check if the delay option is on and issue a click somewhere, so that the user will always have 1 click done right after page load?

[2021-11-14 11:15] 79ho3ein opened #4503 "Bug in Wp-rocket settings. please check"
**Describe the bug**
hello
My site supports http2. But when I disable the **combine css files** and **combine javascript files** options, the following errors appear on the website. also Website performance is also disrupted in some cases. (Products carousel does not move)
![Screenshot (214)](https://user-images.githubusercontent.com/77163248/141678558-6f4b92d0-08b8-4fd7-9777-52aaa40f837f.png)

Pl

[2021-11-14 16:54] mehedihasanziku commented on #4503
It's not bug, you need to learn how this things works

1. https://docs.wp-rocket.me/article/106-my-site-is-broken
2. https://docs.wp-rocket.me/article/915-find-the-right-js-files-to-exclude-from-minification

[2021-11-14 17:22] 79ho3ein commented on #4503
hi @mehedihasanziku, Thank you for your answer. But the two things I mentioned above, their inactivity should not be a problem under any circumstances. Because almost all websites use http2. Therefore, their inactivity should not be a problem.
Am I wrong?

[2021-11-14 17:32] mehedihasanziku commented on #4503
I couldn't understand about inactivity,but doesn't matter http/2 available or not, actually nothing do with it.

[2021-11-15 06:56] WordPresseur commented on #3142
New ticket: https://secure.helpscout.net/conversation/1696313190/307777/

[2021-11-15 09:30] engahmeds3ed commented on #4437
Can't reproduce it till now.

I tried two cases:

1. Changing `WP_PLUGIN_URL` and keep `WP_PLUGIN_DIR` as is => it gives me 404 on all plugins' resources when viewing the page.
2. Changing both `WP_PLUGIN_URL` and `WP_PLUGIN_DIR` => this case is working properly and the resources' table has the content properly.

@wp-media/productrocket I think we need to exclude our lazyload script from the page,

[2021-11-15 10:42] piotrbak commented on #4503
Hello @79ho3ein in our GitHub repository we report bugs related to the code and feature requests. Problem you're having is related to incompatiblity between one of our features and your site. @mehedihasanziku shared with you the correct documentation articles. If docs won't answer your questions, please be in touch with our amazing Support Team:
https://wp-rocket.me/support/

[2021-11-15 10:42] #4503 closed, assigned to nobody

[2021-11-15 11:00] piotrbak commented on #4437
@vmanthos Were there any other steps that we'd need to follow? Per @Tabrisrp, if we have a different value for `WP_PLUGIN_URL` and the `WP_PLUGIN_DIR`, all the site is broken. Thanks!

[2021-11-15 11:52] vmanthos commented on #4437
@piotrbak I shared with @engahmeds3ed the configuration the customer had, but it didn't work for him.

I'll need to revisit this when I'm done with my backlog.

[2021-11-15 12:28] vmanthos commented on #4072
Likely related: https://secure.helpscout.net/conversation/1695013481/307548?folderId=4913970

[2021-11-15 12:40] piotrbak commented on #3951
Hello @jcatello thanks for creating the issue. We haven't heard about any similar problem during that time.

The error you mentioned claims that the table was altered or deleted during the transaction, this should not be caused by us. Could you tell me if you're still experiencing this issue?

[2021-11-15 12:43] piotrbak commented on #3947
This is going to be handled by:
https://github.com/wp-media/wp-rocket/issues/4338

[2021-11-15 13:52] piotrbak commented on #3919
@Mai-Saad Closing it, since we can't enable OCD and RUCSS at the same time now.

[2021-11-15 13:52] #3919 closed, assigned to nobody

[2021-11-15 14:05] piotrbak commented on #3910
Hello @seldimi thanks for creating the issue. We use Github to report bugs in our code and feature requests. Please be in touch with our Support Team and they'll help you to track down what's clearing the cache and how to stop it.

If you prefer to investigate the things on your own, please find this function useful:
https://github.com/wp-media/wp-rocket/blob/aea8f96b0725f900deaa337af2f87c37277676

[2021-11-15 14:05] #3910 closed, assigned to nobody

[2021-11-15 14:42] piotrbak commented on #2983
@iCaspar Both of the issues (+ https://github.com/wp-media/wp-rocket/issues/3444) are blocked by https://github.com/wp-media/wp-rocket/issues/146

[2021-11-15 19:21] piotrbak commented on #3729
Hello @aurelienpierre

WP Rocket is not doing anything special with WP eMember. I'd suggest contacting our amazing Support Team for further investigation, please share with them this ticket.

I'll close the ticket, but if our Support confirms that there's something we can do on our end, we'll reopen it and plan the fix.

[2021-11-15 19:21] #3729 closed, assigned to nobody

[2021-11-15 19:23] aurelienpierre commented on #3729
Hi, I ended up disabling WP eMember because it's not the only issue I had with it, so I guess it will never be solved.

[2021-11-15 19:46] piotrbak commented on #4472
This issue will also resolve the https://github.com/wp-media/wp-rocket/issues/3707

[2021-11-15 21:14] piotrbak commented on #3566
Hello @cyberjosh.
We haven't heard back from you. I'll close the issue, please don't hesitate to reopen it and come back to us with more details.

[2021-11-15 21:14] #3566 closed, assigned to nobody

[2021-11-15 21:44] piotrbak commented on #3404
When correcting regex, we could also take care of this one:
https://github.com/wp-media/wp-rocket/issues/4371

[2021-11-15 22:05] piotrbak commented on #3426
While fixing it, we should also consider this one:
https://github.com/wp-media/wp-rocket/issues/3327

[2021-11-16 01:16] webtrainingwheels commented on #4494
Excluding the URL from the cache will still disable optimizations on that page, which could be desirable in some cases couldn't it?
Maybe we can just update the helper text to say that if they are using a managed host or another cache layer, exclusions need to be done there as well.

[2021-11-16 06:41] vmanthos commented on #3916
This is still an issue.

On a customer's website resources weren't fetched until I activated the "Learning mode" in Wordfence.

The SaaS IP was in Wordfence's Allowlisted IPs:
![](https://i.vgy.me/XphwOS.jpg)

Since this is about fetching the resources, Wordfence likely blocks the requests that we perform to the server the site is hosted on. So, allow-listing the IP of the SaaS won't make any diff

[2021-11-16 07:06] Mai-Saad opened #4504 "User Cache isnot working with Query monitor plugin"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.10.3
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Cache for logged in users is not working while the Query Monitor plugin is enabled

**To Reproduce**
Steps to reproduce the behavior:
1. Enable [Query Monitor ](ht

[2021-11-16 08:32] vmanthos commented on #4504
@Mai-Saad This is because the plugin sets the `DONOTCACHEPAGE` to `true`. You can read more about this in our internal doc:
https://www.notion.so/wpmedia/Known-Conflicts-8d0a97af9b9c49dd991b28b24550e3de#6e9bbb422c5c4bdda5ade098b25e96f8

[2021-11-16 09:02] #4504 closed, assigned to nobody

[2021-11-16 09:58] vmanthos commented on #3916
On the same site👆, resources stopped being fetched when I disabled the "Learning mode". I had the chance to check if allow-listing the server's IP would resolve that, and it did.

To rule out this was random, we need to test it on other sites too.

[2021-11-16 10:34] Androlax2 opened #4505 "Performance Hit with RUCSS"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
A clear and concise description of what the bug is.

I used Removed unused CSS, performance hit on it was extreme : 1034823ms to load before sending the page to the client.

[2021-11-16 10:46] vmanthos commented on #4072
Related: https://secure.helpscout.net/conversation/1697146380/307976?folderId=2135277

[2021-11-16 13:03] piotrbak commented on #4505
Hello @Androlax2 Used CSS need a bit of time to be generated, that's why we suggest to make sure pages are always preloaded and cached.

We're working to make the process as fast as possible, that's why we flagged this feature as beta. To make the process as fast as possible, make sure that the Used CSS is generated for all pages. Then it might be slower only when there's a change in the CSS/JS fi

[2021-11-16 13:03] #4505 closed, assigned to nobody

[2021-11-16 13:40] alfonso100 commented on #3813
Another case: https://secure.helpscout.net/conversation/1698075012/308111?folderId=2683093

In this one, the path of a plugin is modified because it contains the string **block** in it

The URLs are converted from:
_/wp-content/plugins/recipe-card-**block**s-by-wpzoom-pro/dist/assets/webfonts/fa-solid-900.woff2_

To:
_/wp-content/plugins/recipe-card-**swap**s-by-wpzoom-pro/dist/assets/webfonts/fa-

[2021-11-16 14:40] viobru opened #4506 "Automatically exclude a file from WPR’s JS optimization features when Uncode’s Adaptive images is enabled"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✔️
- Used the search feature to ensure that the bug hasn’t been reported before ✔️

**Describe the bug**
When Uncode’s _Adaptive Images_ option is enabled along with WPR’s _Load JS deferred_, background images appear blurred.

**To Reproduce**
Steps to reproduce the behav

[2021-11-16 17:27] mifrero commented on #4219
Related ticket: https://secure.helpscout.net/conversation/1696588582/307830?folderId=2952229

[2021-11-16 17:31] webtrainingwheels commented on #4219
https://secure.helpscout.net/conversation/1586175047/283845/

[2021-11-16 17:32] webtrainingwheels commented on #4219
- https://secure.helpscout.net/conversation/1596432385/286450/
- https://secure.helpscout.net/conversation/1584764071/283486/

[2021-11-16 17:35] mehedihasanziku opened #4507 "Breaking Opengraph Meta for WhatsApp Link Preview"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
After Used CSS generated **`WhatsApp`** link preview not working properly, it's not displaying opengraph data specifically for whatsapp.

**To Reproduce**
Steps to r

[2021-11-16 17:50] Mai-Saad opened #4508 "Partial purge does not clear CPT archive when non-default cache files are used"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.10.3
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Some Cached pages aren't cleared when editing post if Cookie GDPR is enabled

**To Reproduce**
Precondition:
- Cookie Notice & Compliance for GDPR / CCPA is enable

[2021-11-16 18:08] piotrbak commented on #2955
@webtrainingwheels I think we can close the issue, CPCSS seems to be fully stable, is that correct? 🤔

[2021-11-16 19:23] webtrainingwheels commented on #2955
@piotrbak Indeed, I haven't seen this issue for a long time so I think it's safe to close this :)

[2021-11-16 19:23] #2955 closed

[2021-11-16 19:36] girlie commented on #928
Possibly related: https://secure.helpscout.net/conversation/1698187133/308160/

[2021-11-16 20:37] jmslbam commented on #4226
Hola, a question, what is the specific thought about labeling this low?

Every site that is running a proper import via WP-CLI or even via WP All Import or so, wíth WP Rocket enable will profit from this.

I just came back to this ticket, because I have another project which is running a big import which just crashes because WP Rocket clears cache on every single term, post etc creation / update.

[2021-11-16 23:14] jeriss-cloud-center commented on #4425
I use GravityForms with reCaptcha setting, and I haven't excluded anything.
But it works all fine.

Are you sure this is necessary?
Test site : https://wordpress-573315-2187485.cloudwaysapps.com/commandes/

Please ensure this before deploying this
Thanks

[2021-11-17 11:01] Mai-Saad commented on #2983
Note: for retesting, we need to check it with the AMP plugin as well (#AMP folder is not cleared for the home page)

[2021-11-17 13:17] piotrbak commented on #2948
@engahmeds3ed I'm not able to reproduce this. Since we removed the HTML Minification feature, looks like the issue is outdated, right?

[2021-11-17 13:30] engahmeds3ed commented on #2948
Yes, we can close it.

[2021-11-17 13:36] #2948 closed

[2021-11-17 14:02] piotrbak commented on #2661
@webtrainingwheels I think we can close this one too, right?

[2021-11-17 14:06] madeITBelgium opened #4509 "PHP Fatal error: Uncaught TypeError: preg_split()"
**Describe the bug**
After updating to 3.10.3 I have 500 errors on different websites.

**To Reproduce**
Steps to reproduce the behavior:
1. Update to 3.10.3

[code]

**Backlog Grooming (for WP Media dev team use only)**
- [ ] Reproduce the problem
- [ ] Identify the root cause
- [ ] Scope a solution
- [ ] Estimate the effort

[2021-11-17 14:27] piotrbak commented on #4509
Hello @madeITBelgium could you reach our support and share WP/SFTP credentials of the affected website, so we can investigate the problem?

[2021-11-17 14:28] madeITBelgium commented on #4509
@piotrbak Thank you. I sended an e-mail to contact@wp-rocket.me

[2021-11-17 15:04] iCaspar commented on #4472
Ready for @wp-media/qa . See [User Story](https://github.com/wp-media/wp-rocket/issues/4472#issuecomment-967139866).

[2021-11-17 15:09] iCaspar commented on #4013
**User Story:**
[code]

[2021-11-17 16:14] Mai-Saad opened #4511 "Updating permalinks won't clear cache if WPML is enabled"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.10.3
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Changing permalink structure won't clear wp-rocket cache while WPML is enabled

**To Reproduce**
- WPML is enabled and set up with some languages

Steps to reprodu

[2021-11-17 17:27] webtrainingwheels commented on #2661
@piotrbak yes, since it seems to be a duplicate

[2021-11-17 17:27] #2661 closed

[2021-11-17 19:12] Mai-Saad opened #4512 "WP Rocket cache is not cleared after updating widget"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.10.3
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
wp-rocket cache is not clear after updating the existing widget (although it is cleared with add/delete widget)

**To Reproduce**

Precondition:
- Having cached pa

[2021-11-17 20:23] piotrbak commented on #1883
Hello @JeppeKr and @leurdo We have fixed the issue while ago with this PR:
https://github.com/wp-media/wp-rocket/pull/3713

I'm closing the issue and if you are still experiencing the problem, please reopen it and let's discuss.

[2021-11-17 20:23] #1883 closed

[2021-11-17 20:44] piotrbak commented on #1491
Related:
https://github.com/wp-media/wp-rocket/issues/2950

[2021-11-18 08:41] vmanthos commented on #4493
**Related ticket:** https://secure.helpscout.net/conversation/1683501626/305165?folderId=2135277

The `background-color` was removed from the following rule:
[code]

[2021-11-18 08:54] Mai-Saad commented on #4136
Excluding `gtag(` from combine js results in the same warning `PHP Warning:  preg_match(): Compilation failed: missing closing parenthesis at offset 928 in /var/www/new.rocketlabsqa.ovh/htdocs/wp-content/plugins/wp-rocket/inc/Engine/Optimization/Minify/JS/Combine.php on line 914`

[2021-11-18 09:01] jmslbam commented on #4226
Maybe this following method is a better solution, add a filter to disable the clearing of the cache.

So default is true, but through the filter it can be disabled. This way the person who is doing the import needs to disable WP Rocket knowingly and will start the generation of the cache after a import is finished.

Example from SearchWP but FacetWP and ElasticPress have a similiar filter.
[code]

[2021-11-18 10:41] piotrbak commented on #2301
After talk with @vmanthos we can close the issue. It was created before we introduced Defer JS for inline scripts.

[2021-11-18 10:41] #2301 closed

[2021-11-18 17:42] viobru commented on #4506
Related ticket: https://secure.helpscout.net/conversation/1698641324/308273

[2021-11-18 18:26] #146 closed

[2021-11-18 19:09] #4425 closed, assigned to remyperona

[2021-11-18 21:20] camilamadronero-zz commented on #4358
new case https://secure.helpscout.net/conversation/1698228425/308178/

[2021-11-18 23:56] webtrainingwheels commented on #4395
- https://secure.helpscout.net/conversation/1609807755/289485/
- https://secure.helpscout.net/conversation/1695810494/307679/
- https://secure.helpscout.net/conversation/1627955987/293960/
- https://secure.helpscout.net/conversation/1592868431/285647/

Customers/Rocketeers facing this issue, try replacing the existing translation file in /wp-content/plugins/wp-rocket/languages/ with this one: http

[2021-11-19 07:13] vmanthos commented on #4454
Another case where this is necessary and can/should be tackled easily is when a user is using WordPress's customizer to add or change CSS rules. If the used CSS for a page has been created and there aren't any unprocessed resources, the additions/changes won't be included in the used CSS until that's cleared.

We can use the `customize_save` hook to clear the used CSS along with HTML files which w

[2021-11-19 14:35] #4509 closed, assigned to engahmeds3ed

[2021-11-19 15:03] remyperona commented on #4395
Found the issue in the pt_BR translation file, one of the translated line used an incorrect string identifier (`%2$` instead of `%2$l`).

I updated the string directly on Transifex, and the fixed translation will be merged for the next release.

[2021-11-19 15:37] viobru commented on #928
Likely related: https://secure.helpscout.net/conversation/1700810367/308709/

[2021-11-19 15:46] alfonso100 opened #4515 "Load JavaScript Deferred breaks recaptcha added via "Advanced noCaptcha & invisible Captcha (v2 & v3)" plugin"
**Before submitting an issue please check that you’ve completed the following steps:**
yes - Made sure you’re on the latest version
yes - Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When using [Advanced noCaptcha & invisible Captcha (v2 & v3)](https://wordpress.org/plugins/advanced-nocaptcha-recaptcha/), and Load JavaScript Deferred is enabled t

[2021-11-19 17:36] piotrbak commented on #2849
I believe our new RocketCDN plugin and also WP Rocket would benefit from as good as possible approach to this topic.

@Tabrisrp Do you see any negative sides of not rewriting relative paths inside the internal scripts?

[2021-11-19 18:36] piotrbak commented on #4136
For both issues, https://github.com/wp-media/wp-rocket/issues/3967 and this one, we'll detect faulty input data, remove it from field and display an error like we do for other fields:
https://github.com/wp-media/wp-rocket/pull/4502#issuecomment-972882504

We'll need to update our docs to explain our customers why they can not use this pattern and how they can achieve what they want to achieve.

_A

[2021-11-19 20:42] remyperona commented on #2849
@piotrbak There will be some missed cases when doing that, but that can be an ok trade-off to avoid the kind of issues we have otherwise.

[2021-11-20 11:41] DahmaniAdame opened #4517 "Compatibility between LazyLoad and Thrive Architect"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.10.3`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When a page is edited using Thrive Architect page editor, lazyloading for images stops working.

The issue is likely from a buffer conflict and is likely to

[2021-11-20 14:07] engahmeds3ed opened #4518 "Conflict between WPR and Cloudinary at out latest release"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version: **3.10.3**
- Used the search feature to ensure that the bug hasn’t been reported before **Yes**

**Describe the bug**
[code]

This error is because this cloudinary plugin is creating the filter `wp_lazy_loading_enabled` here
https://plugins.trac.wordpress.org/browser/clo

[2021-11-22 05:56] vmanthos commented on #4517
The `rocket_lazyload_images()` function has been deprecated in `3.3`, therefore shouldn't be used:
https://github.com/wp-media/wp-rocket/blob/a5d2dbc7348dd99fc6e50027d7a955eb0a338cf0/inc/deprecated/3.3.php#L162-L189

Something along the line of this should work:
[code]

[2021-11-22 10:22] vmanthos commented on #4166
Related: https://secure.helpscout.net/conversation/1702907838/309065/

This is related to Flatsome's dynamic ids/classes.

[2021-11-22 11:32] piotrbak commented on #2849
@Tabrisrp That sounds like a good trade-off. We'll leave a filter for customers that would like to rewrite relative paths inside scripts. Do we have a possibility to measure how this change affects the processing time, or you think that the change will not be noticeable?

_Acceptance Criteria:_
1. We will not rewrite relative paths inside inline scripts to CDN
2. Absolute paths (not sure if there

[2021-11-22 12:05] Mai-Saad opened #4521 "Woocommerce product description not displayed till user interaction"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.10.3
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When accessing the product page while Delay JS is enabled, the product description is not selected by default but instead product review form is displayed with inv

[2021-11-22 12:10] Mai-Saad opened #4522 "Loader is displayed when user interacts with page of Rife free theme while Delay JS is enabled"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.10.3
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When the user interacts with the page while using the Rife theme and Delay JS is enabled, the loader is displayed

**To Reproduce**

Precondition:
Rife free theme

[2021-11-22 14:10] #4417 closed, assigned to remyperona

[2021-11-22 16:10] remyperona commented on #2200
### Scope a solution ✅
Create a 3rd party subscriber `EzoicSubscriber` class. In this class, we will have one method `show_conflict_notice()` hooked on `admin_notices`.

In `get_subscribed_events()`, check for the constant `EZOIC_INTEGRATION_VERSION`, to see if the Ezoic plugin is enabled. Bail-out if it isn't.

In the method, we will need to:
- check for the current user capabilities if they are

[2021-11-22 16:39] remyperona commented on #2849
### Scope a solution ✅
After discussion, we will start of with changes to ignore inline scripts from the HTML (with a filter to allow it), and also add a filter to completely disable rewriting of relative paths (default to enabled)

This will require changes in `CDN::rewrite()`:
- Add a new method to remove inline scripts from the buffer, wrapping the call in a condition checking for the new filte

[2021-11-22 18:16] piotrbak commented on #4358
For upcoming cases, can you check if adding the `wpformsRecaptchaCallback` alone exclusion to DelayJS solves the issue?

[2021-11-22 19:23] #4436 closed, assigned to remyperona

[2021-11-23 10:44] Mai-Saad commented on #3707
This ticket is not valid with the new delay JS, we don't have `rocket-delay-js-js-after`, and delayed scripts are preserved in HTML using 3.10.3

[2021-11-23 10:46] piotrbak commented on #3707
@Mai-Saad Are we able to delay their combined file at all?

[2021-11-23 10:49] viobru commented on #4161
Related: https://secure.helpscout.net/conversation/1704181137/309339/

[2021-11-23 11:02] vmanthos commented on #4161
**Ticket:** https://secure.helpscout.net/conversation/1704031394/309286?folderId=2135277

[2021-11-23 11:44] piotrbak commented on #3707
We can close it then. Other conflict between DelayJS and JS Aggregation will be solved here: https://github.com/wp-media/wp-rocket/pull/4501

[2021-11-23 11:44] #3707 closed, assigned to nobody

[2021-11-23 12:58] vmanthos commented on #4072
Related: https://secure.helpscout.net/conversation/1705063872/309465/

[2021-11-23 13:59] #4188 closed, assigned to alfonso100

[2021-11-23 16:35] Mai-Saad opened #4527 "Enable autoptimize will automatically uncheck our LL video and preview image"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.10.3
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When enabling Autoptimize while our LL video + preview image is enabled => LL video + preview image will be automatically unchecked

**To Reproduce**
Steps to repr

[2021-11-23 16:50] #4472 closed, assigned to iCaspar

[2021-11-23 16:57] NataliaDrause commented on #4072
Related: https://secure.helpscout.net/conversation/1705015506/309454?folderId=3864740
WP Engine sites

[2021-11-23 18:35] NataliaDrause commented on #4161
Related: https://secure.helpscout.net/conversation/1705644304/309797?folderId=3864740

[2021-11-23 19:53] iCaspar commented on #4458
A little looking into this on the warmup side... we are using Laravel's URL validation there, not our own regex.
So it's the Laravel validation that is failing with urls having spaces. Why?
Turns out spaces in URLs are "unsafe" and should be encoded to pass validation.
See https://stackoverflow.com/questions/497908/is-a-url-allowed-to-contain-a-space#answer-497972

Given that, we may want to recon

[2021-11-23 19:55] NataliaDrause commented on #4072
Related: https://secure.helpscout.net/conversation/1705190302/309529

[2021-11-23 22:51] piotrbak commented on #4458
@iCaspar Can we confirm that files with spaces will be proceed correctly by the new approach?

Then we'll still need Rocket fix to handle this, right?

[2021-11-24 08:08] DahmaniAdame opened #4529 "Deactivate Separate Cache for Mobile Devices when WP Rocket is used on hosts not supporting separate cache for mobile"
**Is your feature request related to a problem? Please describe.**
When using WP Rocket on hosting service with caching layers not supporting mobile-specific cache, enabling the corresponding feature on WP Rocket will mislead the user to think the site is serving mobile-specific cache.

**Describe the solution you'd like**
Graying the feature on hosts where we know for sure they don't support mobi

[2021-11-24 08:22] vmanthos commented on #4493
Related ticket: https://secure.helpscout.net/conversation/1705216128/309548?folderId=2135277

The `background-color` was removed from the following:
[code]

[2021-11-24 08:31] #4013 closed, assigned to iCaspar

[2021-11-24 08:33] #4314 closed, assigned to iCaspar

[2021-11-24 09:40] Mai-Saad opened #4530 "No notice is displayed when invalid regex is removed from Always Purge URL(s) and Never Cache URL(s)"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version =>3.10.3
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Notice shall be displayed when removing invalid exclusions and it shall include a link to documentation (as per point 4 here https://github.com/wp-media/wp-rocket/i

[2021-11-24 10:33] Mai-Saad opened #4531 "LL image and LL video are removing loading="lazy" from ?nowprocket page"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.10.3
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
`loading="lazy" ` is removed from nowprocket view of the page when LL image / LL video is enabled

**To Reproduce**
Steps to reproduce the behavior:
1. Enable LL i

[2021-11-24 12:48] iCaspar commented on #4458
@engahmeds3ed or @mostafa-hisham would have to confirm whether the new approach will handle spaces on the new SaaS side when treeshaking. For warmup, my understanding is that it will be totally irrelevant.

[2021-11-24 14:38] iCaspar commented on #4136
### Regrooming:

**Reproduced:**
As of #4314 the following acceptance criteria are already satisfied _with respect to DelayJS field_:
1. faulty data is not saved in field.
2. Other correct data is preserved in field.
3. Warning in logs is not generated.
4. Warning is displayed (but there is no link to docs.)
5. Warning references also errors in other fields
<img width="236" alt="Screen Shot 2021-1

[2021-11-24 14:40] iCaspar commented on #4136
@webtrainingwheels pls advise about the correct link to add for the doc here. Feel free to ping me on slack if we need to go over anything for it. :)

[2021-11-24 15:14] Mai-Saad commented on #3745
Even if we are on the WPR settings page, clicking regenerate CPCSS in the following scenario won't display the progress notice (tested on 3.10.3):

1- Enable mobile cache
2- Enable OCD => notice of generation is displayed
3- Enable separate cache for mobile
4- Regenerate CPCSS => notice is not displayed although mobile files are created (probably desktop files not updated)

https://user-images.git

[2021-11-24 15:29] SALLYPEMDAS opened #4532 "Directory not empty"
Hi! Thanks for the plugin!!!

We are on Version 3.10.3

Seeing this on our staging and production site:

Message: Error: rmdir(/home/redacted/public_html/web/app/cache/min/1/releases/v5.3.1/..): Directory not empty
#0 rmdir(/home/redacted/public_html/web/app/cache/min/1/releases/v5.3.1/..): Directory not empty:: called at [/home/redacted/public_html/web/wp/wp-admin/includes/class-wp-filesystem-dir

[2021-11-24 15:40] iCaspar commented on #4532
Hi @SALLYPEMDAS
Thanks for contacting us, and apologies for the inconvenience this issue is causing you.
Would you be so kind as to contact our support team with this. They will be much better able to help with troubleshooting, and if they find a code-related issue, we can reopen here.
Thanks!
https://wp-rocket.me/contact/

[2021-11-24 15:40] #4532 closed, assigned to nobody

[2021-11-24 16:18] webtrainingwheels commented on #4136
Pinging @camilamadronero because she is in charge of docs now

[2021-11-24 16:32] blogtutor commented on #3644
To add a little bit to the urgency and need for a resolution on this, Google will be rolling out the Page Experience ranking algorithm for Desktop starting in February, 2022:
https://developers.google.com/search/blog/2021/11/bringing-page-experience-to-desktop

We've found that on mobile it's usually pretty easy to get the first image in a blog post to appear below-the-fold (just add a sentence or

[2021-11-24 16:36] blogtutor commented on #3842
To add a little bit to the urgency and need for a resolution on this, Google will be rolling out the Page Experience ranking algorithm for Desktop starting in February, 2022:
https://developers.google.com/search/blog/2021/11/bringing-page-experience-to-desktop

Allowing the user to explicitly list a few images in the WP Rocket settings to preload would be great for sitewide images (like a header i

[2021-11-24 20:07] iCaspar commented on #3967
This warning was fixed in #4502.

[2021-11-24 20:25] remyperona commented on #3103
I don't know how this issue happened for this one user, but I can't replicate it when using the same script and the CDN rewritting. The URL is not picked-up at all by the RegEx.

[2021-11-25 05:39] DahmaniAdame commented on #3626
Related news - https://developers.google.com/search/blog/2021/11/bringing-page-experience-to-desktop

[2021-11-25 07:23] engahmeds3ed commented on #4458
The new approach will use a real browser to get resources so whatever our real chrome does, it will do like it.
So I think it will easily process resources with space on its name.

[2021-11-25 07:42] engahmeds3ed commented on #4531
## Reproduce the problem
Yes I can see the issue locally.

## Identify the root cause
Here
https://github.com/wp-media/wp-rocket/blob/f48cb29346ab9a4f42c39d01f14e024b9a31086a/inc/Engine/Media/Lazyload/Subscriber.php#L84

we are adding callback to the filter `wp_lazy_loading_enabled` and here

https://github.com/wp-media/wp-rocket/blob/f48cb29346ab9a4f42c39d01f14e024b9a31086a/inc/Engine/Media/Lazyl

[2021-11-25 08:31] Mai-Saad commented on #3967
The warning is still not fixed for Defer JS nor Combine JS (fixed only for Delay JS)

[2021-11-25 08:49] vmanthos commented on #4109
Related ticket: https://secure.helpscout.net/conversation/1702421034/308998?folderId=273766

This site was using the "Extra" theme.

@mostafa-hisham In #4263 I'm not seeing anywhere an exclusion for `document.documentElement.className` from the Delay JavaScript Execution feature. Am I missing something?

[2021-11-25 10:24] vmanthos opened #4538 "Minify JS files - JS errors when SCRIPT_DEBUG is set to true"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.10.3`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When:
1. WordPress's `SCRIPT_DEBUG` is set to `true`.
2. **Minify JavaScript files** is active.

errors like the following pop up in the JavaScript console:
[c

[2021-11-25 10:40] Mai-Saad opened #4539 "Console Notice: reCAPTCHA couldn't find user-provided function: renderInvisibleReCaptcha when Defer JS is enabled"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.10.3
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
`Notice: reCAPTCHA couldn't find user-provided function: renderInvisibleReCaptcha` displayed in the console when Defer JS is enabled with https://wordpress.org/plu

[2021-11-25 11:17] SeparateReality commented on #2315
+1 especially with woocommerce

[2021-11-25 11:59] DahmaniAdame commented on #3626
Related - https://secure.helpscout.net/conversation/1705638691/309795/

[2021-11-25 11:59] DahmaniAdame commented on #3644
Related - https://secure.helpscout.net/conversation/1705638691/309795/

[2021-11-25 11:59] DahmaniAdame commented on #3842
Related - https://secure.helpscout.net/conversation/1705638691/309795/

[2021-11-25 14:06] Mai-Saad opened #4540 "Valid regex is removed from files (CSS, JS) exclusions"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.10.3
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Adding `test\(` to  Excluded CSS Files or Excluded JavaScript Files, will be considered as invalid regex and removed from field

**To Reproduce**
Steps to reproduc

[2021-11-25 14:39] Agathemed opened #4541 "Tutorials Tab - Reorganize and Add Videos"
**Reorganize the videos in 4 categories (see screenshot attached):**

1. Getting Started
2. Passing the Core Web vitals
3. Troubleshooting
4. Add-ons

**Add 3 new videos for the Core Web Vitals category:**

- How to improve LCP with WP Rocket
`<script src="https://fast.wistia.com/embed/medias/fj7gs031q6.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></scr

[2021-11-25 15:10] Agathemed opened #4542 "Update Styles for RocketCDN"
Following the RocketCDN design, the frame for RocketCDN inside the WP Rocket plugin has been re-designed too.
You'll find attached the new design (with/without promo).

The steps coming after clicking the button remain the same.

![RocketCDN no promo](https://user-images.githubusercontent.com/48359715/143465342-c958695b-d388-4bcb-99da-d6ab73e82025.png)
![RocketCDN promo](https://user-images.github

[2021-11-25 15:12] Mai-Saad opened #4543 "Loading = "lazy" isnot added to excluded images/video"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.10.3
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When excluding image/video from LL, loading ="lazy" is not added to the excluded image/video

**To Reproduce**
Steps to reproduce the behavior:
1. Enable LL image

[2021-11-25 15:36] #4136 closed, assigned to iCaspar

[2021-11-25 16:31] JerissCloudCenter commented on #4529
Which hosts do you consider as not compatible "for sure" ?

[2021-11-26 07:20] DahmaniAdame commented on #2423
Related - https://secure.helpscout.net/conversation/1671873794/303366/

[2021-11-26 07:41] vmanthos commented on #4538
Related ticket: https://secure.helpscout.net/conversation/1707656006/310386/
The broken file was `wp-polyfill.js`.

[2021-11-26 10:59] viobru commented on #2698
Related ticket: https://secure.helpscout.net/conversation/1704641593/309409/

[2021-11-26 12:51] vmanthos commented on #4072
Related: https://secure.helpscout.net/conversation/1708165343/310526/

[2021-11-26 13:18] engahmeds3ed commented on #4281
# Grooming
## Reproduce the problem
Yes I can see the issue locally.

## Identify the root cause
When the post status is draft, the URL for it not being generated/saved yet so `get_permalink` function returns `/` so when we have `/` inside the WPR option `Never Cache URL(s)` inside the WP Admin page, it will detect that current page shouldn't be cached but it should. Then when save the page and pu

[2021-11-26 18:14] piotrbak commented on #4543
@Mai-Saad We're also removing it from iframes, it should be fixed together or before this one: https://github.com/wp-media/wp-rocket/issues/3251

[2021-11-27 17:17] sammyaxe opened #4544 "Setting up mandatory cookie with Cloudflare worker, results in wrong cache being served oppose to serving uncached version"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
User seems to be served wrong cache even though mandatory and dynamic cookie with different value is present. Expected behaviour would be to serve non-cached page if

[2021-11-28 09:47] mehedihasanziku commented on #4216
**More observation:**

If top bar added, sticky works sometimes, but it doesn't works as expected.

**Normal action:** like after scroll it's adding some inline styles **(position:fixed)** on sticky section, after reached to top it removes that style attribute value.
**Buggy action**: When sticky works that time it doesn't remove that style attribute value when reach to top. this cause non-sticky

[2021-11-28 10:55] piotrbak commented on #4544
Hello @digiiitalmb thanks for creating this GitHub issue. Have you already contacted our support team?

Our mandatory cookie feature is not complicated system, so I suspect there's something happening in the middle. Please make sure not to have any other caching mechanism working, browser caching for HTML documents should be set always to 0 and rewrite rules should not be present in the htaccess/n

[2021-11-28 16:14] mehedihasanziku commented on #4156
This issue should be open as delayJS reverted to **3.9.4.1** and `clickEvents` was not the actual case of this thread

[2021-11-29 10:23] vmanthos commented on #4406
**Related ticket:** https://secure.helpscout.net/conversation/1710370950/311050/

In this case, they were also getting a `PHP Fatal error` here:
https://github.com/wp-media/wp-rocket/blob/100398b8216148f20bd90f83e731454f7b93eb60/inc/Dependencies/RocketLazyload/Image.php#L27

[code]

@Tabrisrp I think we should safeguard this as well. Do you want me to create a separate issue about this?

[2021-11-29 11:23] piotrbak commented on #4358
As per talks with @camilamadronero, we were not able to replicate any issue where we need more exclusions than:
`wpformsRecaptchaCallback` being excluded from Delay JS.

Lets add this exclusion to DelayJS and see if we'll be receiving any further tickets about this. If so, we'll reopen the issue and work on that. If we, indeed need to exclude that many files, please make sure to create a staging s

[2021-11-29 15:52] remyperona commented on #4541
### Scope a solution ✅
On the `views/settings/page-sections/tutorials.php` view, update the `$rocket_tutorials` array to change the categories name, re-order the videos in the appropriate categories, and to add the 3 new videos.

The new categories titles will require an update to the translation files.

### Estimate the effort ✅
Effort `[XS]`

[2021-11-29 17:04] piotrbak commented on #4327
We'll need to perform some performance tests with the new RUCSS approach and then decide whether to implement it or not

[2021-11-29 17:20] NataliaDrause commented on #4166
Related: https://secure.helpscout.net/conversation/1701180267/308771/#thread-5017465027

[2021-11-29 20:12] remyperona commented on #4542
Is there any changes to the CTA styling when it's on the "minified" state? Can you provide the assets files for the 3 new icons, and the source to get the new colors?

There will be some HTML changes to be done on the view in `Engine\CDN\RocketCDN\views\cta-big.php`, via the wp-media/module-rocketcdn.

We will need to update the translation files too.

And CSS updates in `src/scss/layout/_Rocketcd

[2021-11-29 21:49] Volant-Digital opened #4547 "exclude NEW google iOS related query strings"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
**yup**
- Used the search feature to ensure that the bug hasn’t been reported before
**nada**

**Describe the bug**
new QS bypass wp-rocket's cache

https://support.google.com/google-ads/answer/10417364?hl=en
google respond's to Apple’s App Tracking Transparency (ATT) end

[2021-11-30 07:21] DahmaniAdame commented on #4507
Related - https://secure.helpscout.net/conversation/1693016896/307051/
Facebook debugger is not showing any issues.
Opengraph data are not altered when adding the Used CSS.
PS.: Moving the Used CSS below the OpenGraph markup didn't fix the issue.

[2021-11-30 07:32] Agathemed commented on #4542
We can keep the design as it is for the minified version.

Here are the 3 icons:
![High Performance](https://user-images.githubusercontent.com/48359715/144004151-e1263873-96ae-4a73-98c2-f0e535497a70.png)
![Easy](https://user-images.githubusercontent.com/48359715/144004179-192aff30-8947-48e3-8f26-d99fae1bf93f.png)
![Automatic configuration](https://user-images.githubusercontent.com/48359715/1440041

[2021-11-30 09:39] vmanthos commented on #4072
Related: https://secure.helpscout.net/conversation/1710443635/311067/

[2021-11-30 11:02] DahmaniAdame commented on #4222
Related - https://secure.helpscout.net/conversation/1704129790/309327/

[2021-11-30 13:03] DahmaniAdame commented on #4072
Related - https://secure.helpscout.net/conversation/1711288884/311366?folderId=273766

[2021-11-30 13:38] vmanthos opened #4548 "[WIP] RUCSS - fixed issues resurface after WP Rocket's update"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅`3.10.4`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

We have reports from customers about Remove Unused CSS-related issues resurfacing, e.g. after a WP Rocket update.

Usually, the story goes like this. The custom

[2021-11-30 14:28] #4515 closed, assigned to alfonso100

[2021-11-30 14:57] #4138 closed, assigned to nobody

[2021-11-30 14:57] #4104 closed, assigned to NataliaDrause

[2021-11-30 15:34] iCaspar commented on #3967
The attached PR should handle invalid patterns being added here (by removing them on save and displaying the invalid pattern notice).

However, note also that for Defer JS, inline scripts that are not related to jQuery will not be excluded, as this UI exclusion list only applies to URLs to exclude. So `gtag(`, even if entered properly as `gtag\(` will not exclude the intended script if it is on th

[2021-11-30 17:53] viobru commented on #4270
We should also consider the Google Fonts too.

The automated Google Fonts optimization is causing the `<meta>` tags to be displayed below the `@font-face` lines, and this causes SEO issues on sites having hundreds/thousands of `@font-face` lines in their HTML.

Related ticket: https://secure.helpscout.net/conversation/1709506962/310866/
Slack conversation: https://wp-media.slack.com/archives/C08N8

[2021-11-30 21:01] iCaspar commented on #4493
Several items in the OP, including (at least) the following:
- Parser library seems not able to accept decimal values in colors.
- Parser library seems not able to accept scientific notation values in colors
- For hsl(a), parser library cannot accept level 4 color spec allowing spaces w/o comma separators
- Parser library has [a bug](https://github.com/sabberworm/PHP-CSS-Parser/blob/3537a7096e8dd5

[2021-11-30 21:37] webtrainingwheels commented on #4538
https://secure.helpscout.net/conversation/1711933296/311464?folderId=273766

broken files:
https://jmp.sh/DhGrxO5

wp-polyfill.js

from elementor and elementor pro:
webpack.runtime.js
frontend-modules.js
frontend.js
frontend.js
elements-handlers.js

[2021-12-01 06:37] Mai-Saad commented on #4389
The same error is displayed when clicking help beacon while being in any WPR tab
![Screenshot from 2021-12-01 08-21-20](https://user-images.githubusercontent.com/76941962/144184410-ad4ed03e-b97b-45fd-95d2-2002102f534b.png)

[2021-12-01 09:37] vmanthos opened #4549 "RUCSS - Extra theme JavaScript console error when Remove Unused CSS is active"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When:
1. The Extra theme (checked with version `4.13.0`) is used with the following options (https://i.vgy.me/Iyfwl7.jpg, https://i.vgy.me/dDr8b5.jpg)
2. Remove Unused

[2021-12-01 10:13] DahmaniAdame opened #4550 "Compatibility with WooCommerce Bookings (Minification, Delay JS and DJE)"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.10.4`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
WooCommerce Bookings has a couple of issues when using WP Rocket JavaScript features.
The issues seem to be only on product pages where a calendar is used.

[2021-12-01 10:31] viobru commented on #2440
Related ticket: https://secure.helpscout.net/conversation/1713342178/311842/

[2021-12-01 13:36] NataliaDrause commented on #1636
Related: https://secure.helpscout.net/conversation/1708863463/310756/

[2021-12-01 15:30] #3813 closed, assigned to remyperona

[2021-12-01 15:30] #4144 closed, assigned to remyperona

[2021-12-01 15:56] #4214 closed, assigned to nobody

[2021-12-01 20:02] alfonso100 commented on #4548
Related: https://secure.helpscout.net/conversation/1712436600/311647?folderId=2683093

[2021-12-01 22:32] camilamadronero-zz opened #4553 "Automatic exclusion for Load JavaScript deferred and Carousel Upsells and Related Product for WooCommerce"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - Yes
- Used the search feature to ensure that the bug hasn’t been reported before - Yes

**Describe the bug**
When Load JavaScript deferred is enabled the carousel spacing is reduced, making products appear constrained.

**To Reproduce**
Steps to reproduce the behavior:

[2021-12-02 08:01] DahmaniAdame opened #4554 "Remove Unused CSS should preserve empty stylesheets acting as a place holder"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.10.4`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Some themes and plugin will set an empty stylesheet with an ID to act as a placeholder to a style injected later.

Example:

[code]
[code]

After processing

[2021-12-02 10:51] DahmaniAdame opened #4555 "Delay JavaScript Execution compatibility with Customer Reviews for WooCommerce"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.10.4`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When [Customer Reviews for WooCommerce](https://wordpress.org/plugins/customer-reviews-woocommerce/) is used with Delay JavaScript Execution, and `/jquery-?

[2021-12-02 13:06] piotrbak commented on #4493
Since this is going to to be [S] + [M] + 2* [S-M], we're going to block this and check if the problem is fixed within the new RUCSS Approach.

[2021-12-02 13:43] piotrbak commented on #4555
@DahmaniAdame I wasn't able to reproduce this error. I believe that some previous exclusions caused this issue to happen.

[2021-12-02 14:17] #2200 closed

[2021-12-02 14:18] #4541 closed, assigned to remyperona

[2021-12-02 14:43] #4219 closed, assigned to iCaspar

[2021-12-02 14:44] #3967 closed, assigned to nobody

[2021-12-02 15:39] NataliaDrause opened #4557 "RUCSS and Minify CSS: The CSS variable value 0px is changed to 0 and breaks calc() function"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.10.4
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
When a CSS variable declared as `0px` the `px` part is removed in Used CSS and calculation with `calc()` function returns a different result.
This is happenin

[2021-12-02 16:15] alfonso100 commented on #4548
Another case:
https://secure.helpscout.net/conversation/1712436600/311647?folderId=273766

According to the customer, the production site was affected.
I wasn't able to reproduce it after updating from 3.10.3 to 3.10.4 on the Dev site.

going back to Production, the customer deactivated RUCSS. After reactivating it, the exclusions were taken into consideration again and the issue was solved.

[2021-12-02 17:11] futtta opened #4558 "JS delaying vs Autoptimize notice causes end-user confusion"
**Before submitting an issue please check that you’ve completed the following steps:**
:heavy_check_mark:  Made sure you’re on the latest version
:heavy_check_mark:  Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When JS is delayed in WPR and Autoptimize is aggregating JS a notice is shown that confuses our joint users.

**To Reproduce**
Steps to r

[2021-12-02 17:28] piotrbak commented on #4558
Hello @futtta thank you for opening the discussion here, it's nice to meet you.

I believe that we'll firstly go with the `2nd` approach, leaving some time for compatibility and exploratory testing of the `1st` one.

My concern here is that we're forcing our customers not to use our own JS aggregation together with delay JS. When Autoptimize's JS aggregation will be used with our Delay JS, our aut

[2021-12-02 17:32] piotrbak commented on #4558
@wp-media/php Could you groom both scenarios, as the issue is important and we won't have time for a detailed exploration of the 1st approach during the upcoming sprint?

For the `2nd` approach:
1. Change the wording as in this https://github.com/wp-media/wp-rocket/pull/4551
2. Make it a notice instead of warning
3. Display it only on WP Rocket's screen

[2021-12-02 17:42] futtta commented on #4558
hey @piotrbak :)

re.

Although not _always_ the case, usually people have AO active already when adding WP Rocket/ activating "delay JS" (someone without AO who is running WPR + delay JS is unlikely to still need/ want to install AO afterwards), and in that default scenario it makes sense to warn people on the WP Rocket "delay JS" screens? ;-)

[2021-12-02 18:13] camilamadronero-zz commented on #3395
New case https://secure.helpscout.net/conversation/1713946495/311979/

[2021-12-02 19:08] weotch commented on #2974
I ran into this myself.  In my case WP Rocket is acting on an already minified JS file.  The source regex comes [from here](https://github.com/amplitude/ua-parser-js/blob/9999815ac8c969306594c650566695fba3506830/src/ua-parser.js#L450
).  Here is a snippet from the minified state, pre-WP Rocket.  Note the `\sbuild\/.+silk\` part:

[code]

After this JS is ran through WP Rocket, the `//` and everyth

[2021-12-03 05:48] DahmaniAdame commented on #4555
@piotrbak the issue only happens when jquery was previously excluded :)
Updated the main post to include that detail 👍

[2021-12-03 08:39] GeekPress opened #4559 "Replace link to our guide to measure the loading time"
**Describe the solution you'd like**
In the sidebar, for the tutorial to measure the loading time, we would like to replace the link to the video with a link to our blog.

Replace « Watch the video » to « Read our guide ».

New URL: https://wp-rocket.me/blog/how-to-test-wordpress-site-performance-measure-speed-results/

[2021-12-03 08:41] vmanthos commented on #4284
**Related ticket:** https://secure.helpscout.net/conversation/1713221534/311778/

The customer was using the **Kadence** theme which allows to preload CSS files from the customizer:
_​Customize > General > Performance > Enable CSS Preload_

Disabling that feature allowed the CSS files to be removed.
​

[2021-12-03 12:22] DahmaniAdame commented on #3960
Related - https://secure.helpscout.net/conversation/1714525891/312138

[2021-12-03 16:23] iCaspar commented on #4558
To implement "Approach 2":

**Reproduced:**
Yes, current behavior is how we built it for 3.10.4

**Root cause:**
Autoptimize compatibility class adds warning notices. Wording for those notices can be improved. Notices can be downgraded to info, and shown only on the WPR dashboard page.

**Solution:**
In the Autoptimize compat class:
1. Change `status` item in `rocket_notice_html` array in both not

[2021-12-03 18:40] sriharshayarabarla commented on #3073
Having the same issue. All my images are converted to webp by Smush plugin and I don't see any featured image while sharing in whatsapp.... Facebook and Twitter just works fine with webp images. If I bypass wp-rocket by appending ?nowprocket the featured image shows in whatsapp.

[2021-12-03 18:49] piotrbak commented on #3073
Hello @sriharshayarabarla thank you for your comment. If you disable our webp addon the problem goes away?

[2021-12-03 21:23] fritexvz commented on #2366
Kindly, I've just seen either W3 Total Cache has this issue and are working on it, please add this feature as soon as possible due to security and protection:
https://github.com/W3EDGE/w3-total-cache/issues/450

[2021-12-04 11:55] DahmaniAdame commented on #4548
Possibly related - https://secure.helpscout.net/conversation/1709706235/310902/
Menu not working after updates.
Testing downgrade/upgrade didn't trigger the issue.
Waiting for the customer to catch the next occurrence to investigate further.

[2021-12-05 15:46] barabasis commented on #1959
I really hate this kind of decision you are taking for your users even going against GDPR. Still today, everytime I load my plugin page, sensitive data is sent to mixpanel and their script is loaded on my backend (attached).
It's terribly disturbing me and my privacy as a paying user and the fact that this thing is going on since at least 3 years and your trick has been unveiled and showed illegal

[2021-12-05 18:22] sriharsha-y commented on #4035
seeing this issue on my website as well.....

[2021-12-05 19:54] maximejobin commented on #3207
It was decided that Rocket-Nginx will not support the WebP feature.

[2021-12-05 19:54] #3207 closed

[2021-12-06 08:56] vmanthos commented on #4166
**Related ticket:** https://secure.helpscout.net/conversation/1708424786/310639?folderId=2135277

It's a Flatsome slider this time named: `banner-`+`random numbers`.

[2021-12-06 10:42] swissspidy commented on #3879
Is there anything I can help with to move this forward?

[2021-12-06 10:45] swissspidy opened #4563 "Google Fonts combining should be disabled for AMP pages"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**

Google Fonts combining adds `onload` attributes to the `link` tags, which causes AMP invalidation, for example when using the Web Stories WordPress plugin.

This is done he

[2021-12-06 10:55] vmanthos commented on #2041
This is still an issue when the CDN's CNAME matches the hostname, for example, when the hostname/CNAME are:
* **hostname:** `example.com`
* **CNAME:** `cdn.example.com`

Code sample:
[code]

In the `$html` here:
https://github.com/wp-media/wp-rocket/blob/290c89ed141b814641bae71b5238b46498c1f4e8/inc/Engine/CDN/CDN.php#L63

the `srcset` URLs are already rewritten to point to the CDN.

So, `//cdn.exa

[2021-12-06 15:06] #4558 closed, assigned to iCaspar

[2021-12-06 16:06] #2849 closed

[2021-12-06 16:07] #4559 closed, assigned to engahmeds3ed

[2021-12-06 16:24] alihs opened #4564 "Filter Missing to modify data-bg elements."
Just like there is a filter available for `rocket_lazyload_html` where we can modify images loaded while cache is being generated.
Can we do the same while background-images are being generated? The function is `lazyloadBackgroundImages`.

Looking forward for help/support on how to do that?

[2021-12-06 16:26] remyperona commented on #4364
### Scope a solution ✅
Add `hcaptcha.com/1/api.js` to `AbstractJSOptimization::get_excluded_external_file_path()`

### Estimate the effort ✅
Effort `[XS]`

[2021-12-06 16:31] remyperona commented on #4358
### Scope a solution ✅
Based on the last comment, add `wpformsRecaptchaCallback`, to the `DelayJS\HTML::$excluded` array

### Estimate the effort ✅
Effort `[XS]`

[2021-12-06 19:11] remyperona commented on #4539
@piotrbak This plugin doesn't seem to be maintained anymore, do we still want to go forward with the exclusion for it?

[2021-12-06 19:13] NataliaDrause commented on #3511
Related: https://secure.helpscout.net/conversation/1717395030/312699?folderId=3864740

[2021-12-06 19:23] remyperona commented on #4521
### Reproduce the issue ✅
Reproduced the issue

### Identify the root cause ✅
This is happening when `/wp-content/plugins/woocommerce/assets/js/frontend/single-product.min.js` is delayed, as it is this script that is controlling the display of the tabs on the product page.

To fix the initial display, we would have to exclude this script, and also jQuery, from delay JS.

@piotrbak Do we want to go

[2021-12-06 19:36] remyperona commented on #4506
### Scope a solution ✅
Add `/library/js/ai-uncode.js` to the function `rocket_exclude_defer_js_uncode()`, in addition to the current exclusions we already have. We might also want to add the minified version `/library/js/min/ai-uncode.min.js`, `/library/js/ai-uncode.min.js`.

### Estimate the effort ✅
Effort `[XS]`

[2021-12-06 20:00] NataliaDrause opened #4565 "Deactivation popup button "Send & Deactivate" looks grayed-out when active."
WP Rocket feedback popup that appears on an attempt to deactivate the plugin has a misleading color of the button.

When one of the options is selected the "Send & Deactivate" button is visible but has a gray color. It looks grayed-out which generally means non-active.
The button is still active though.

Screenshot:

![image](https://user-images.githubusercontent.com/60236665/144913368-a80e362d-f1

[2021-12-07 07:45] Mai-Saad opened #4569 "Payment popup for RocketCDN UI problems with small screens"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.10.4
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Some text or button is not fully displayed on payment popup for mobile screens

**To Reproduce**
Steps to reproduce the behavior:
1. Go to CDN
2. Click get started

[2021-12-07 08:46] DahmaniAdame opened #4570 "Config file is not generated when activating the plugin using WP CLI"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.10.4`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When activating WP Rocket using WP CLI, the configuration file is not generated.

Once the user accesses the admin, the configuration file is then generated

[2021-12-07 09:24] DahmaniAdame commented on #4258
Related - https://secure.helpscout.net/conversation/1714525891/312138

[2021-12-07 10:28] DahmaniAdame commented on #4507
Related - https://secure.helpscout.net/conversation/1717570783/312730

[2021-12-07 12:14] vmanthos commented on #4161
Related: https://secure.helpscout.net/conversation/1716049544/312487/

[2021-12-07 13:33] GeekPress commented on #1959
This isn't true.

_Mixpanel does not store IP addresses, but rather, only uses IPs to assign geolocation properties to data upon ingestion._

Source: https://help.mixpanel.com/hc/en-us/articles/360000679006-Managing-Personal-Information#disable-geolocation-tracking

We have defined since the beginning the IP parameter to false to disable the geolocation tracking. It means the IP isn't stored and n

[2021-12-07 13:55] barabasis commented on #1959
Well, here are a few examples:
- transparency with your users... by letting them KNOW about this, cause 99% of your users is ignoring mixpanel as 3rd party
- letting the decision making to your users if they want this script to be loaded on their backend/websites or not...  cause this is still analytics that you are taking from our backend, again, without us to know nor accept this
- the fact that

[2021-12-07 14:15] GeekPress commented on #1959
We will add something about Mixpanel on our Privacy Policy page to be transparent.

I can't agree. We are NOT sending any data from your back-end. The only thing which is sent to Mixpanel is the response of the form, nothing else.

The script is loading only on the plugins.php file. It's not « everywhere ». And I can guarantee it's not slowing down your backend and it set to priority low in order

[2021-12-07 14:18] NataliaDrause commented on #4563
Related tickets:
https://secure.helpscout.net/conversation/1717271304/312671
https://secure.helpscout.net/conversation/1718076149/312826?folderId=3864740

Issue is also reported here: https://github.com/google/web-stories-wp/issues/9896

[2021-12-07 14:19] GeekPress commented on #1959
@barabasis  Don't get me wrong, we aren't against updating our script or doing adjustements.

We need to know exactly what is really not respecting GDPR. Because currently, there is no tracking of your IP, website URL, or personal data.

[2021-12-07 14:34] piotrbak commented on #4539
Since it's just one exclusion, we cna move forward with this. It has more than 100k active installs.

[2021-12-07 14:51] piotrbak commented on #4521
@Tabrisrp Yes, let's wait for the feedback. Tabs are usually at the bottom or even outside of viewport.

[2021-12-07 15:51] girlie commented on #4507
Pursuant to a discussion we just had in Slack, about another customer's ticket here:

https://secure.helpscout.net/conversation/1715901852/312457/

...the conclusion was that we should probably just not serve cached pages to WhatsApp in the first place (e.g., by blocking their User Agent).

Another ticket was also mentioned during that discussion, so I'll drop it here as well:

https://secure.help

[2021-12-07 16:04] NataliaDrause commented on #2619
Possibly related: https://secure.helpscout.net/conversation/1718387896/312901?folderId=3864740

[2021-12-07 16:40] NataliaDrause commented on #4072
Related: https://secure.helpscout.net/conversation/1718502461/312918?folderId=3864740

[2021-12-07 17:15] barabasis commented on #1959
actually this modal
https://ibb.co/kJ47jyX
that you are showing everytime wprocket is diabled:
a) is purely a SELFISH thing to get your internal feedback and statistics. Clients get NOTHING out of it.
b) because of a), it's definitely NOT best-in-class-example. This is luckily rarely followed by other plugins (which don't interrupt you when you need to disable them)
c) this is a very annoying moda

[2021-12-07 17:16] webtrainingwheels commented on #4270
Related: https://secure.helpscout.net/conversation/1707641216/310371/
Missing `head` tag meant that our Delay script was added in the middle of the page, after this tag: `<header class=header_section>`

[2021-12-07 17:20] webtrainingwheels commented on #4548
Probably related:  https://secure.helpscout.net/conversation/1715312840/312326/
RUCSS working fine, without any exclusions.
Customer updates from 3.10.3 → 3.10.4 and suddenly some things are broken and resolved when disabling RUCSS. Did not see any unprocessed CSS files.
Rolled back, issue still exists. Updated again to 3.10.4, issue magically resolves itself at some point.

[2021-12-08 06:35] DahmaniAdame commented on #4507
Related - https://secure.helpscout.net/conversation/1717998293/312802

[2021-12-08 07:41] DahmaniAdame commented on #3511
Related - https://secure.helpscout.net/conversation/1716689123/312583/

[2021-12-08 08:10] DahmaniAdame commented on #3511
We should do the same for Used CSS as well.

[2021-12-08 09:07] worldwildweb commented on #4033
also had the case where a user added is full domain URL in the Excluded JavaScript Files from Delay JavaScript execution
related https://secure.helpscout.net/conversation/1714941948/312265?folderId=5547167

![image](https://user-images.githubusercontent.com/1954918/145180441-c93180ef-411d-46d4-86d0-a369938568d2.png)

[2021-12-08 10:25] GeekPress commented on #4439
Hi @jeriss-cloud-center

Thanks for your suggestion.

Indeed you are right, it seems logical to merge both. If we clear OPcache, we also need to clear the caching files. Let's do these actions together to have one action required only.

[2021-12-08 10:58] GeekPress commented on #4440
Hi @jeriss-cloud-center

A `Regenerate Used CSS` button isn't required as the `Clear UsedCSS` button is the only action required. The UsedCSS is automatically generated once the caching file will be re-generated.

You can Clear UsedCSS and Preload the cache.

[2021-12-08 10:58] #4440 closed, assigned to nobody

[2021-12-08 11:07] GeekPress commented on #4455
Thanks for the details @jeriss-cloud-center

We will discuss about your suggestions internally and will let you know about our decision :)

[2021-12-08 15:00] #4542 closed, assigned to iCaspar

[2021-12-08 19:17] alfonso100 commented on #4548
Probably related:
https://secure.helpscout.net/conversation/1719291270/313032

RUCSS issues previously fixed, resurfaced after a WP Rocket update.
The customer fixed it by deactivating/reactivating the feature

[2021-12-08 21:39] camilamadronero-zz commented on #4507
New one https://secure.helpscout.net/conversation/1720452797/313220/

[2021-12-09 07:44] Mai-Saad opened #4573 "Minified files containing @font-face are processed with Minify CSS"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.10.4
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Minify CSS is minifying `.min` file which contains font rule

**To Reproduce**
Precondition:
- Having a page that uses local stylesheet containing font rules
[code

[2021-12-09 07:49] vmanthos commented on #3916
I had another case where allowlisting the server's IP allowed the fetching of resources.

@piotrbak I'd say this is not random and we should move forward with it.

**Ticket:** https://secure.helpscout.net/conversation/1720845757/313287/

**UPDATE**

Here is a screenshot of the blocked requests in WordFence's log:
![](https://i.vgy.me/I4WI7J.jpg)

[2021-12-09 08:19] Mai-Saad commented on #4565
Can reproduce on the trunk.
@NataliaDrause Do we need style as Skip & Deactivate or as here?
![Screenshot from 2021-12-09 10-09-01](https://user-images.githubusercontent.com/76941962/145359665-2578f58e-b90a-4e73-b8bc-56f41d986dfd.png)

While exploring (even on older versions)found that:
1- Initially without selecting anything, the btn has no text at all. Is this what we want?
![Screenshot from 202

[2021-12-09 08:26] vmanthos commented on #4072
Related: https://secure.helpscout.net/conversation/1720346012/313192

[2021-12-09 09:06] GeekPress opened #4574 "Bump minimum support versions to WordPress 5.5 and PHP 7.1"
**Describe the solution you'd like**
We would like to bump the minimum required WordPress version to 5.5 and PHP version to 7.1.

We have today 97.15% of our users using WordPress 5.5 or + and 98.6% of our users using PHP 7.1 or +.

**What do we need to change?**
In `wp-rocket.php`, update `WP_ROCKET_WP_VERSION` to `5.5` and `WP_ROCKET_PHP_VERSION` to `7.1`

[2021-12-09 09:41] Alex43515 commented on #4161
Related: https://secure.helpscout.net/conversation/1718307353/312879?folderId=273766

[2021-12-09 12:31] NataliaDrause commented on #4565
@Mai-Saad

Your variant (blue background) looks much better.

It looks "broken". I would suggest having the inactive button visible but grayed out (they way it appears when active right now)

I think this is correct, so you can pick a new option: screen recording https://recordit.co/3klQGjVdde
As long as the colors are correct, it'll look good.

These are just my opinions. Others may have differen

[2021-12-09 12:43] iCaspar commented on #4574
Also need to update test matrix in github workflows.

[2021-12-09 16:31] juricazuanovic opened #4576 "Images with data-skip-lazy and other excluded attributes get LazyLoaded"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.10.4
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Images get lazy loaded even if they contain `data-skip-lazy` attribute, or other excluded attributes listed here: https://docs.wp-rocket.me/article/1421-some-image

[2021-12-09 16:37] webtrainingwheels commented on #4573
@Mai-Saad Not sure if you already pinged @camilamadronero somewhere about this for the docs. But, can you confirm what the resulting content of the processed file was?  Any changes? Did we maybe  update the font-display to `swap` but didn't minify the content?

[2021-12-09 17:29] NataliaDrause commented on #4161
Related: https://secure.helpscout.net/conversation/1721669952/313415?folderId=3864740

[2021-12-09 17:52] camilamadronero-zz commented on #4573
Thanks, @webtrainingwheels! Yes, I'm in the loop already thanks to @Mai-Saad!

I've also tested this on [my site](http://camilamo.esy.es/minify-files-check/), and we minified everything in the CSS it seems:

- http://camilamo.esy.es/wp-content/styles/minifycss_style_2.min.css

- http://camilamo.esy.es/wp-content/cache/min/1/wp-content/styles/minifycss_style_2.min.css?ver=1638983102

[2021-12-09 20:15] NataliaDrause commented on #2907
Related: https://secure.helpscout.net/conversation/1721692155/313429/

[2021-12-10 05:13] Mai-Saad commented on #4573
@webtrainingwheels

For the `.min.css` file containing font rules:
1- If the file content was already minified => we only force` font-display=swap`
2- If the file content wasn't minified => we minify the file content and force `swap`

Note: if the `.min.css` file does not contain font rules, we won't do any changes to the file independent of the content state (actually minified or not)

[2021-12-10 07:27] DahmaniAdame opened #4577 "Add a notice when a compatibility mandatory/dynamic cookie is excluded"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.10.4`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
WP Rocket is not notifying the customer if they are trying to use the `Never cache cookie(s)` feature against a dynamic/mandatory cookie automatically exclu

[2021-12-10 07:45] vmanthos commented on #4199
**Related ticket:** https://secure.helpscout.net/conversation/1720253627/313178/

The unremoved files were coming from the [OceanWP](https://oceanwp.org/) theme:
[code]

[2021-12-10 08:13] GeekPress commented on #1959
So, this isn't a GDPR problem, you don't like this modal ;) This is totally different topic.

We will discuss about it internally, and let you know if we decide to make some changes based on feedbacks we received.

[2021-12-10 09:29] DahmaniAdame opened #4578 "Beautify settings content when exported"
**Is your feature request related to a problem? Please describe.**

When exporting settings from WP Rocket, the JSON content is minified.

It makes it hard to read when needed, like when having a quick look at the settings.

Since the file is small, keeping its content minified doesn't really add any value. Beautifying the content will add 20% file-size-wise, but it will be still less than 10kb.

[2021-12-10 11:10] barabasis commented on #1959
So, this isn't a GDPR problem, you don't like this modal ;) This is totally different topic. >> oh right, then it's totally fine ;)

...based on feedbacks we received. >>  you should also use the feedback you DON'T receive, common sense and best in class examples.

[2021-12-10 11:11] piotrbak commented on #4573
It needs to be covered by our docs.

[2021-12-10 13:45] luckyankit commented on #4219
You know it would be way better to give users a choice if they want to swap or not. You guys seriously are against providing options to fine-tune settings!

[2021-12-10 14:42] piotrbak commented on #4219
Hello @akkiverma Since 3.10.5 version you can use this filter to change the value of the `font-display`:
https://docs.wp-rocket.me/article/1312-optimize-google-fonts#changing-display-attribute

[2021-12-10 15:21] luckyankit commented on #4219
How about giving an option on main plugin only like Litespeed does. These hacks are temporary solutions and such practice should be strongly discouraged as you might change the decision again. Then no one has time to follow up updates and remove the code in the future if that becomes obsolete. Let's do better and stick to the main plugin on providing the options!

[2021-12-10 16:32] GeekPress commented on #4219
@akkiverma For this kind of advanced configuration, we prefer to use a filter, and not an option. We are strongly following the WordPress philosophy: « Decision, not option »

Here, we are making the decision to set the default value for our users. Most of them know nothing about web performance and rely on us to configure it properly without worrying about anything on their side.

For advanced us

[2021-12-10 16:48] JiveDig commented on #3292
We're hitting this error as well. One user is Administrator and the other is Editor. Both hit the same error when trying to save some posts and cpts.

[2021-12-10 17:40] webtrainingwheels commented on #4573
@piotrbak Is the above how it's intended to work? I thought we weren't supposed to minify .min files at all?

[2021-12-10 17:48] piotrbak commented on #4573
@webtrainingwheels Yes, it's happening here:
https://github.com/wp-media/wp-rocket/blob/aea8f96b0725f900deaa337af2f87c37277676ff/inc/Engine/Optimization/Minify/CSS/Minify.php#L274

[2021-12-11 00:42] luckyankit commented on #4219
Yes, hide those features behind an advanced toggle. That is way better decision.

[2021-12-11 07:28] DahmaniAdame opened #4579 "Sanitize or Notify customers when trying to exclude /wp-content/cache/min/1/ from minification"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.10.4`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Users might sometimes try to exclude an already processed resource by adding the full path including the `/wp-content/cache/min/1/` from `CSS and JavaScript

[2021-12-11 08:06] DahmaniAdame commented on #2698
Related - https://secure.helpscout.net/conversation/1719750060/313131/ (which is related to https://secure.helpscout.net/conversation/1704641593/309409/)

[2021-12-11 09:59] GeekPress commented on #4219
I'm not talking about and advanced toggle, but a WordPress hook (filter) ^^

[2021-12-11 16:55] girlie commented on #4507
Another: https://secure.helpscout.net/conversation/1723300434/313723/

[2021-12-12 20:26] roberthedlund commented on #3142
I just wanted to let you guys know that, after updating to latest WP-rocket this issue is totally gone on two of my WooComerce sites. I didt see anything related to this in the change log? 😎👌

[2021-12-13 12:43] viobru commented on #4563
Related ticket: https://secure.helpscout.net/conversation/1724424648/313860/

[2021-12-13 12:44] freshuk opened #4582 "Error (E_WARNING): rmdir Invalid argument on cache flush"
hi guys,
Since few versions already, my php error log is flooded with:
"Error (E_WARNING): “rmdir(/home/..../domains/.....co.il/public_html/wp-content/cache/min/1/...): Invalid argument“ at `./wp-admin/includes/class-wp-filesystem-direct.php:373`." lines.
I noticed it mostly happens after i clear cache from wp rocket gui.
after each cache flush, i have one of those lines for every plugin or theme

[2021-12-13 12:55] piotrbak commented on #4582
Hello @freshuk thanks for creating the issue. Have you already contacted our support team? Before moving forward, we need to investigate what's exactly going on there. Please contact us [here](https://wp-rocket.me/support/) and refer to this GitHub issue.

[2021-12-13 12:59] NataliaDrause commented on #2409
Related: https://secure.helpscout.net/conversation/1723986647/313814?folderId=3864740

[2021-12-13 13:05] freshuk commented on #4582
hi @piotrbak , yes i did, quoting their reply:
"
The following warning is coming from the mkdir() PHP function. The result will return as a warning if your are debugging WordPress.
Whenever preload tries to create cache, we check first if cache for a specific page exists before starting the process.
This one might be possibly ignored from our end as we are the ones to trigger the mkdir() function.

[2021-12-13 13:12] piotrbak commented on #4582
Could be somehow related:
https://github.com/wp-media/wp-rocket/issues/2440

Related ticket with more details:
https://secure.helpscout.net/conversation/1714888008/312252/

[2021-12-13 13:19] freshuk commented on #4582
@piotrbak i stumped on #2440 it does look similar in some aspects, and i do not have anything in "flush on query strings"

[2021-12-13 15:14] girlie opened #4584 "CDN src rewrite for images not working if the URL includes comma"
Here is the example HTML provided by the customer which caused the failure in their case:

`<img src="https://www.xxx.com/wp-content/uploads/2021/12/2021121014410054.jpg?image_process=resize,w_850/quality,Q_95/sharpen,100" />`

And in my testing, it seems to be the comma that's actually triggering the problem:

FAIL: `<img src="http://example.com/wp-content/uploads/2021/12/2021121014410054?image_p

[2021-12-13 17:14] webtrainingwheels commented on #3142
https://secure.helpscout.net/conversation/1718385239/312899?folderId=377611
This case was solved with this; https://github.com/wp-media/wp-rocket/issues/3142#issuecomment-882012665

[2021-12-13 21:15] piotrbak commented on #3138
The issue will be resolved while using the `rocket_cdn_relative_paths` filter:
https://docs.wp-rocket.me/article/42-using-wp-rocket-with-a-cdn#troubleshoot

[2021-12-13 21:15] #3138 closed

[2021-12-13 21:18] piotrbak commented on #2322
The issue will be resolved while using the `rocket_cdn_relative_paths` filter:
https://docs.wp-rocket.me/article/42-using-wp-rocket-with-a-cdn#troubleshoot

[2021-12-13 21:18] #2322 closed

[2021-12-14 10:11] vmanthos commented on #4161
Related: https://secure.helpscout.net/conversation/1726460643/314198/

[2021-12-14 10:47] DahmaniAdame opened #4585 "Getwid compatibility with Delay JavaScript Execution (when jQuery is excluded)"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.10.5`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When using [Getwid](https://wordpress.org/plugins/getwid/) with Delay JavaScript Execution, and when jQuery is excluded, using the tab block produces the fo

[2021-12-14 11:34] viobru commented on #2156
Related: https://secure.helpscout.net/conversation/1725284929/314015

[2021-12-14 20:22] camilamadronero-zz opened #4586 "Preload Links inflating Thirsty Affiliates or Pretty Links referral click count"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - Yes
- Used the search feature to ensure that the bug hasn’t been reported before - Yes

**Describe the bug**
The Preload Links feature is inflating the Thirsty Affiliates or Pretty Links referral click count, when the links are setup as internal, because the visitors ar

[2021-12-14 20:43] davesuy commented on #2314
https://app.intercom.com/a/apps/hrpt54hy/inbox/inbox/3620849/conversations/46884623268536

[2021-12-14 21:29] alfonso100 commented on #4161
related https://secure.helpscout.net/conversation/1726333447/314171

[2021-12-15 10:54] Mai-Saad opened #4587 "Deleting post permanently isn't deleting cache for related category"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.10.5
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When permanently deleting the post, the related taxonomy cache is not cleared

**To Reproduce**
Steps to reproduce the behavior:
1. Create a category
2. Link post

[2021-12-15 13:57] mehedihasanziku commented on #4403
**Observation:** This happening in some sites where dom changed+inline css changed on each page load like #4166
I checked this by comparing dom when it returns multiple times without rucss

Note: In most of them doesn't have random `?ver=` issue where this issue happened always.

[2021-12-15 15:06] WordPresseur opened #4588 "Delay JavaScript Execution compatibility with XL WooCommerce Sales Triggers"
**Before submitting an issue please check that you’ve completed the following steps:**

- [X] Made sure you’re on the latest version: **3.10.5**
- [X] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When [XL WooCommerce Sales Triggers](https://xlplugins.com/woocommerce-sales-triggers/) is used with Delay JavaScript Execution, the notification box do

[2021-12-15 21:08] alfonso100 commented on #2441
related https://secure.helpscout.net/conversation/1728379095/314505/

[2021-12-16 01:19] worldsdream opened #4589 "Cloudflare cache not in the lead"
I always used wprocket without cloudflare and worked good. Now that I integrated cloudflare free plan, I see issues.

Enabled wprocket addon and added the api for a connection with cloudflare.

- Hosting (origin) uses http protocol 1.x
- Cloudflare uses http protocol 3.x
- No static caching enabled
- No APO or any other paid features enabled

Testing:
- Clear the wprocket cache.
- Clear browser ca

[2021-12-16 10:18] piotrbak commented on #4589
Hello @worldsdream this sounds like an issue with Cloudflare not caching some resources. I'd suggest waiting a couple of minutes/hours to see if they're cached then.

If not, please be in touch with our support, they will investigate headers of your resources. Anyways, it doesn't sound like a bug with our product, if it's and it's confirmed, please reopen the issue.

[2021-12-16 10:18] #4589 closed, assigned to nobody

[2021-12-16 12:59] worldsdream commented on #4589
@piotrbak Yes, I had to wait a little more for Cloudflare to propagate properly. However, even though it showed that the propagation finished, I double-checked it after 24 hours, and everything worked as described.

I have enabled minify JS/CSS/HTML in WPRocket and Cloudflare.

[2021-12-16 14:35] #4364 closed, assigned to mostafa-hisham

[2021-12-16 14:35] juricazuanovic opened #4590 "RocketCDN UI: In WP Rocket 3.10.5 RocketCDN price is not displayed"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.10.5
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
In a CDN tab, the price for RocketCDN is missing, This started happening in WP Rocket 3.10.5. I checked previous 3.10.x versions and they don't have this issue. Al

[2021-12-16 14:36] #4186 closed, assigned to vmanthos

[2021-12-16 14:36] #4358 closed, assigned to mostafa-hisham

[2021-12-16 15:05] piotrbak commented on #4590
This is what is logged in `$data` when visiting the dashboard.

[code]

[2021-12-16 15:37] NataliaDrause commented on #4166
Related: https://secure.helpscout.net/conversation/1728256924/314490/

[2021-12-16 17:54] remyperona commented on #4563
### Scope a solution ✅
We can do as we did for the other options, and use the filter to disable the option when on AMP pages in the `disable_options_for_amp()` method.

`add_filter( 'pre_get_rocket_option_minify_google_fonts', '__return_false' );`

### Estimate the effort ✅
Effort `[XS]`

[2021-12-16 19:05] webtrainingwheels commented on #2804
https://secure.helpscout.net/conversation/1729356082/314659?folderId=377611

[2021-12-16 19:25] webtrainingwheels opened #4593 "Exclude additional hubspot domain from Load JavaScript Deferred"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version 👍
- Used the search feature to ensure that the bug hasn’t been reported before 👍

**Describe the bug**
We have an [automatic exclusion for Hubspot ](https://github.com/wp-media/wp-rocket/blob/7efe5e0c685884f99cf54e6fc6b178a1a98fc256/inc/Engine/Optimization/DeferJS/DeferJS

[2021-12-16 20:00] #4590 closed, assigned to nobody

[2021-12-16 20:29] remyperona commented on #4539
### Scope a solution ✅
Add `renderInvisibleReCaptcha` to `DeferJS::$inline_exclusions` array

### Estimate the effort ✅
Effort `[XS]`

[2021-12-16 20:44] remyperona commented on #4507
@piotrbak Do we want to go with the user agent exclusion for this one?

[2021-12-17 06:20] Mai-Saad opened #4595 "Only regular price shall be displayed if Campaign banner isnot displayed"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.5.10.1
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Discount price is displayed also no campaign banner when campaign name is not set

**To Reproduce**
- Having an active campaign but with no campaign name
Steps t

[2021-12-17 06:34] Mai-Saad opened #4596 "Price format shall be consistent while FR local"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.5.10.1
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
A clear and concise description of what the bug is.
The regular price is displayed with `,` while discount price with `.`

**To Reproduce**
- Have an active camp

[2021-12-17 07:47] vmanthos opened #4597 "Caching/optimizations aren't applied when HTTP_HOST is different from the home_url()"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅`3.10.5.1`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

In cases where the `HTTP_HOST` is different from the site's URL, as that's returned by `home_url()`, caching and optimizations do not work because WP Rocket's

[2021-12-17 11:15] DahmaniAdame opened #4598 "RUCSS should preserve some <style> in some cases"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.10.5`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Some themes and plugin will try to manipulate existing `<style>`.

When RUCSS is used, the target `<style>` element will be deleted. Leaving a console error

[2021-12-17 12:04] DahmaniAdame opened #4599 "Delay JavaScript Execution compatibility with Bookingsuedtirol.com"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.10.5`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
[Bookingsuedtirol.com](https://www.bookingsuedtirol.com/) has a widget that can be inserted in any website.

[code]
When used with Delay JavaScript Executio

[2021-12-17 12:40] DahmaniAdame commented on #296
Related - https://secure.helpscout.net/conversation/1711029079/311308/ (nothing we can do, just for the record)

[2021-12-17 12:54] DahmaniAdame commented on #4072
Related - https://secure.helpscout.net/conversation/1729528645/314677/
Hosting - Kinsta

[2021-12-17 13:01] GeekPress commented on #4599
@DahmaniAdame Can you please do a PR including the patterns you added into the doc to our default exclusion list? Please check with a developer if you don't know where to add the patterns.

[2021-12-17 16:13] piotrbak commented on #4507
@Tabrisrp Yes, this seems like the best way out. We need to be sure to exclude a very unique user agent though.

[2021-12-17 16:26] #4506 closed, assigned to mostafa-hisham

[2021-12-17 16:28] #4227 closed, assigned to alfonso100

[2021-12-17 16:42] remyperona commented on #4507
They seem to use `WhatsApp` in their UA, so it should be specific enough?

[2021-12-17 17:20] piotrbak commented on #4507
Yes, I think you're right

[2021-12-17 19:20] remyperona commented on #4507
### Scope a solution ✅
In `inc/functions/options.php`, function `get_rocket_cache_reject_ua()`

Add `$ua[] = 'WhatsApp';` on line 408

### Estimate the effort ✅
Effort `[XS]`

[2021-12-17 19:30] remyperona commented on #4599
Based on the provided code snippet, we could use `booking-suedtirol-js` to exclude both at the same time

[2021-12-17 19:44] remyperona commented on #4593
### Scope a solution ✅
In `DeferJS` class, add `js-eu1.hsforms.net` to the `$exclude_defer_js` array.

### Estimate the effort ✅
Effort `[XS]`

[2021-12-17 19:51] remyperona commented on #4588
### Scope a solution ✅
Add `/xl-woocommerce-sales-triggers/assets/js/wcst_combined.min.js` to the exclusion array `DelayJS::$excluded`

### Estimate the effort ✅
Effort `[XS]`

[2021-12-17 20:09] remyperona commented on #4576
### Identify the root cause ✅
`data-skip-lazy` and `skip-lazy` have been removed from the exclusions array during development for native lazyload, and they have not been re-added when we switched the solution back.

### Scope a solution ✅
Add back `data-skip-lazy` and `skip-lazy` to the exclusions array in `Images::getExcludedAttributes()` in the lazyload common library.

Update the related tests

[2021-12-18 07:03] worldsdream opened #4600 "Delay javascript compatibility Prismatic plugin"
When you enable the feature Delay JavaScript Execution in the WP Rocket plugin, there are a couple of issues with [Prismatic](https://wordpress.org/support/plugin/prismatic/) plugin.

The issues that I see are:

1. Prism copy button doesn’t show up
2. Syntax highlighting colors don’t show up
3. Line numbers don’t show up

At WP Rocket they have a Delay JavaScript Execution compatibility exclusions

[2021-12-18 09:57] DahmaniAdame opened #4601 "Prevent unexisting fonts from getting preloaded"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.10.5.1`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When unexisting fonts are preloading using the Preload Fonts feature, it results in a 404 error on the browser's console.

**To Reproduce**
N/A

**Expecte

[2021-12-18 10:37] DahmaniAdame commented on #4599
@GeekPress will do 👍
I believe the exclusions go here - https://github.com/wp-media/wp-rocket/blob/cfebe7a459e1106171ccb5d1eade107ece81b6eb/inc/Engine/Optimization/DelayJS/HTML.php#L26-L68
@Tabrisrp just to be sure, can you please confirm that's the right file before I proceed? 🙏

[2021-12-18 10:56] DahmaniAdame commented on #4458
Related - https://secure.helpscout.net/conversation/1727751196/314385/

[2021-12-18 12:46] DahmaniAdame commented on #3426
Related - https://secure.helpscout.net/conversation/1714525891/312138/

[2021-12-18 20:07] luckyankit commented on #4455
Clearing RUCSS everytime you clear cache is a bad idea as clearing cache triggers many times even when there is no change on the front end. It would be an unnecessary headache for the webmaster as many a time site would be loading pages with render-blocking CSS then. Over simplification can lead to terrible things too and wp-rocket has a great history with that!

[2021-12-19 20:20] worldsdream commented on #2441
I confirm that I do see the same. Waiting for a fix!

[2021-12-20 06:46] mostafa-hisham commented on #4557
[code]
The value 0px is preserved in the new approach.

[2021-12-20 08:19] Chaiavi commented on #4161
This is a HUGE issue!

My site was offline during the night as this unused CSS table got to 28gb !!
it crashed when my backup plugin attempted to backup this table so it filled the harddrive till no space was left

Which caused the MySql server not to start at all!

Please do the fix ASAP
Best temporary solution I found is to disable this very bad (28GB) functionality and truncate this table:
http

[2021-12-20 19:41] webtrainingwheels opened #4603 "Increase expires for SVG to 4 months"
**Is your feature request related to a problem? Please describe.**
PageSpeed sometimes flags svgs under the "cache policy" section: https://jmp.sh/zqmCqsm
We currently set a 1 month expires for these.

**Describe the solution you'd like**
We could increase the expires to 4 months like we do for other file types

Tickets:
- https://secure.helpscout.net/conversation/1590297649/284984/
- https://secu

[2021-12-21 05:40] vmanthos commented on #4599
@DahmaniAdame You got this right. 👍

[2021-12-21 06:40] DahmaniAdame commented on #4216
Related - https://secure.helpscout.net/conversation/1730493439/314856/
Issue seems to only happen when there is no exclusions.
Issue is fixed after using [Elementor's exclusions](https://docs.wp-rocket.me/article/1560-delay-javascript-execution-compatibility-exclusions#elementor-pro).

[2021-12-21 13:12] WordPresseur commented on #3520
Another case: https://secure.helpscout.net/conversation/1732966426/315258?folderId=1213662

[2021-12-21 17:43] #3464 closed

[2021-12-21 18:06] rayrutjes commented on #4433
Hey there,

Anybody has a workaround so we can start using Early Hints with WP-Rocket?

[2021-12-21 22:05] westonruter commented on #3520
At the very least, the response's original `Content-Type` should be preserved, and when it is not `text/html` there should not be any HTML comment appended to the response. We're seeing that when WP Rocket caches `/wp.serviceworker` it is then serving `text/html` instead of the expected `text/javascript`, and then appending the HTML comment causes a syntax error.

[2021-12-22 07:03] vmanthos commented on #4166
**Related ticket:** https://secure.helpscout.net/conversation/1726370873/314178?folderId=273766

In this case, there are dynamic ids added by the [Unlimited Elements for Elementor (Premium)](https://unlimited-elements.com/) plugin:
[code]

[2021-12-22 10:25] DahmaniAdame commented on #2409
Related - https://secure.helpscout.net/conversation/1734006529/315448/

[2021-12-22 10:32] Mai-Saad commented on #4062
@juricazuanovic @piotrbak Please find the notes below from the exploratory test:

1- Cookiebot is working fine on trunk without any exclusions (by default Cookiebot is excluded from Minify/Combine JS) , do we still need to add auto exclusion here?
i.e this script is not minified nor combined  
 `<script type="rocketlazyloadscript" data-rocket-type="text/javascript"
  |id="Cookiebot"
 src="https://

[2021-12-22 12:13] engahmeds3ed commented on #4062
I can see that Cookiebot plugin uses our filter to add those exclusions here:

https://github.com/CybotAS/CookiebotWP/blob/master/cookiebot.php#L195-L198

https://github.com/CybotAS/CookiebotWP/blob/master/cookiebot.php#L2224-L2234

I don't think that we need to add it from our side too, I'd suggest closing this PR.

[2021-12-22 13:10] juricazuanovic commented on #4062
Since this is now excluded on Cookiebot side, we can close this.

[2021-12-22 20:07] Hbitvof commented on #4072
Same problem here.
Hosting - Savvii

[2021-12-23 11:32] DahmaniAdame opened #4605 "DJE and defer JS compatibility with the WP Content Copy Protection & No Right Click"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When Delay JavaScript Execution is used with [WP Content Copy Protection & No Right Click](https://wordpress.org/plugins/wp-content-copy-protector/), a console error

[2021-12-23 11:47] DahmaniAdame opened #4606 "Delay JavaScript Execution compatibility with the Eikra theme"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When the Eikra is used with the Delay JavaScript Execution, the preload is not working even after user interaction.

No console errors show up.

Excluding the follow

[2021-12-23 12:00] DahmaniAdame opened #4607 "jQuery regex doesn't exclude unminified jQuery - eg jquery.js"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
The Regex to exclude jQuery `/jquery-?[0-9.](.*)(.min|.slim|.slim.min)?.js` doesn't take into consideration unminified jQuery - eg. `jquery.js`

This will give the u

[2021-12-23 13:44] DahmaniAdame commented on #4598
Related - https://secure.helpscout.net/conversation/1734135948/315461/

[2021-12-23 16:46] Woorooo commented on #3843
Can't wait to get this feature, I hope it's still coming :)

[2021-12-24 04:08] kasket091 commented on #2899
Can the dev do something like after all script have been delayed then if no interaction for 1 sec or custom time on it and will load all the script since it looks like broken.

[2021-12-24 05:02] kasket091 opened #4609 "After JS Delayed Add custom time"
Can the dev do something like after all script have been delayed then if no interaction for 1 sec or custom time, it will load all the script since it looks like broken if all script have been delayed i know there is an exclude option but delaying all scripts makes the performance faster.

[2021-12-24 08:08] JerissCloudCenter commented on #4609
Duplicate https://github.com/wp-media/wp-rocket/issues/3938

[2021-12-24 08:23] #4609 closed, assigned to nobody

[2021-12-24 09:54] DahmaniAdame opened #4610 "Remove Unused CSS to inform the user if there is a CSS error that might prevent a file from getting processed"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When a CSS error exists in a CSS file, it might not be processed properly on SaaS.

A couple of examples:

- An additional `}`  or `{` or `;` between two rulesets on

[2021-12-24 11:46] DahmaniAdame commented on #3680
Related - https://secure.helpscout.net/conversation/1736195549/315811

[2021-12-24 21:19] camilamadronero-zz commented on #3327
New case https://secure.helpscout.net/conversation/1734816420/315578/

[2021-12-25 06:31] DahmaniAdame opened #4611 "Delay JavaScript Execution compatibility with Gravity conditions"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.10.5`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When Delay JavaScript Execution is used with Gravity conditions, the form is not working and the following browser console message shows up:

[code]

Exclud

[2021-12-25 06:57] DahmaniAdame opened #4612 "Delay JavaScript Execution compatibility with WP Search with Algolia"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.10.5`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When Delay JavaScript Execution is used with the [WP Search with Algolia](https://wordpress.org/plugins/wp-search-with-algolia/), the search featyre is not

[2021-12-25 09:57] kasket091 commented on #3938
is this feature already added?

[2021-12-25 14:09] mehedihasanziku commented on #4610
This is an issue with some sites.

Used CSS added but missed some selector like the issue stated.
So, normally i go through https://jigsaw.w3.org/css-validator/ and add url with querystring `?nowprocket`
It will scan all inline/external and show the exact line of that file & w3c validator will mark it as **"Parse Error"**
![image](https://user-images.githubusercontent.com/48652123/147386738-60ef27

[2021-12-26 21:50] 79ho3ein opened #4613 "The wp-rocket plugin is incompatible with jet woobuilder."
hello
The jet woobuilder plugin has a query to display recently visited products. But when wp-rocket is enabled, this query completely crashes.
Please make wp-rocket compatible with this plugin. Both plugins are very popular, so this incompatibility is very bad. Please investigate this issue. thanks

[2021-12-27 09:15] vmanthos commented on #4072
Likely related: https://secure.helpscout.net/conversation/1739451488/316045/

[2021-12-27 09:18] Hbitvof commented on #4072
I can't see these secure links.

[2021-12-27 09:21] vmanthos commented on #4072
@Hbitvof Those are internal links that are accessible only to our team.

All info important to you will be publicly available here.

[2021-12-27 15:40] NataliaDrause commented on #2498
Communication with the plugin's theme: https://secure.helpscout.net/conversation/1739992100/316138/

@piotrbak could you please take a look into this compatibility issue, if this can be added to one of the upcoming projects?

[2021-12-27 16:09] juricazuanovic commented on #4406
Related: https://secure.helpscout.net/conversation/1731822527/315029/

[2021-12-27 17:49] alfonso100 opened #4614 "Add .bigscoots-staging.com to our allowed list of staging environments"
**Is your feature request related to a problem? Please describe.**
**.bigscoots-staging.com** is the default staging URL of Bigscoots hosting:
https://help.bigscoots.com/en/articles/4063548-wpo-creating-your-staging-site

**Describe the solution you'd like**
Add this domain to our list of staging domains at
https://github.com/wp-media/wp-rocket/blob/trunk/inc/functions/api.php#L119

**Additional c

[2021-12-27 18:41] NataliaDrause commented on #4057
Related: https://secure.helpscout.net/conversation/1740377181/316222?folderId=3864740

[2021-12-27 20:48] JerissCloudCenter commented on #4376
Dear @DahmaniAdame

Does this mean that enabling "Separate cache for mobile devices" is recommended for the themes spotted in this feature?

Thanks
Simon

[2021-12-28 06:19] DahmaniAdame opened #4616 "External script automatic exclusion from minification and/or deferred yanovis.Voucher.js"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.10.5`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
The following external script creates console errors when hosted and/or deferred - [voucher.getavo.it/public/js/yanovis.Voucher.js](https://voucher.getavo.i

[2021-12-28 06:34] vmanthos commented on #4376
**Related ticket:** https://secure.helpscout.net/conversation/1732728449/315224/
The Woodmart theme was used.

[2021-12-28 09:29] DahmaniAdame commented on #4376
@jeriss-cloud-center yes :)

[2021-12-28 10:03] DahmaniAdame commented on #3142
Related to - https://secure.helpscout.net/conversation/1729817263/314706/
Using the FastClick fix worked.

[2021-12-28 10:30] JerissCloudCenter commented on #4376
@DahmaniAdame Thanks for the confirmation

I just have one concern. I've seen in your documentation that enabling "Separate cache for mobile devices" may lead to some issues with Varnish on Cloudways environment. Is this still the case today with WP Rocket?

If yes, how are we supposed to "make sure that the Varnish configuration is set up to distinguish mobile requests from desktop requests"? How

[2021-12-28 11:11] vmanthos commented on #3270
Related ticket: https://secure.helpscout.net/conversation/1731975365/315065?folderId=2135277

[2021-12-28 12:22] DahmaniAdame commented on #4376
@jeriss-cloud-center we can't set how other cache tiers differentiate between mobile and desktop cache.

For Varnish specifically, and if Cloudways allows modifying the config files, you can add the following to the `default.vcl` file - https://gist.github.com/marcofbb/99b7c1fdc14d2a262844a9d20d466ff0

It will basically create a different cache for each device type. So, each request will go initia

[2021-12-28 12:51] NataliaDrause commented on #3426
Likely related: https://secure.helpscout.net/conversation/1740316903/316213/

[2021-12-28 17:14] webtrainingwheels opened #4617 "Partial purge does not clear CPT archive when non-default cache files are used"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
This arose in regards to WooCommerce, but I guess affects CPTs in general. Some customers complained that updating a product's stock didn't reflect on their main Shop page.

[2021-12-28 17:19] webtrainingwheels commented on #4617
🤦‍♀️ Sorry,  I'm closing as a duplicate, in fact. It's the same as: https://github.com/wp-media/wp-rocket/issues/4508

[2021-12-28 17:19] #4617 closed, assigned to nobody

[2021-12-28 17:21] webtrainingwheels commented on #4508
This is not specific to Cookie GDPR but will happen whenever we create any non-default cache files. So it happens when WebP is active also, for example. @Mai-Saad maybe you could update the title to make it more general?

This is also related to: https://github.com/wp-media/wp-rocket/issues/2068

[2021-12-29 03:33] alfonso100 commented on #4507
@camilamadronero new doc in draft state, to be published when the PR is released:
https://docs.wp-rocket.me/article/1665-enable-cache-for-whatsapp-agent?preview=61cbd61a6e49f25358bc9614

(it is almost a clone of the Facebook one)

[2021-12-29 03:50] alfonso100 commented on #4563
@Tabrisrp I think the method name is **disable_options_on_amp()**?
https://github.com/wp-media/wp-rocket/blob/trunk/inc/ThirdParty/Plugins/Optimization/AMP.php#L111

[2021-12-29 04:21] alfonso100 commented on #4531
when running the unit tests, I'm getting an error with the code above : `if ( false === $value || rocket_bypass() ) {`

7 errors: https://snippi.com/s/cb1ka4k
Maybe related to the fact that I need to update the tests?

thanks!🙏

[2021-12-29 15:08] alfonso100 commented on #4588
The file `/xl-woocommerce-sales-triggers/assets/js/wcst_combined.min.js` requires **jQuery**: https://i.imgur.com/1YMj5iR.png

So, excluding only that file will trigger jQuery console errors.

In the specific site, there are no console errors because jQuery is excluded from DelayJS:
https://i.imgur.com/v3xDWnG.png

[2021-12-29 21:43] NataliaDrause commented on #4297
Related: https://secure.helpscout.net/conversation/1742544395/316560?folderId=3864740

[2021-12-29 21:56] camilamadronero-zz opened #4622 "Automatically exclude Bridge theme files from static file generation"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - **Yes, 3.10.5.1**
- Used the search feature to ensure that the bug hasn’t been reported before - **Yes**

**Describe the bug**
Static File Creation breaks [Bridge theme's](http://bridge.qodeinteractive.com/) styles and scripts.

**To Reproduce**
Steps to reproduce the b

[2021-12-30 11:47] alihs opened #4623 "Count of total preloaded pages"
We are working with preload and also use Cloudflare.
We have noted if pages are not preloaded they are wrongly cached within Cloudflare.
Would like to know if we have a list of pages that are preloaded within the dashboard or if i could find a hook/action that i could plug-into and create a custom function for this?

[2021-12-31 06:33] DahmaniAdame commented on #4376
Related - https://secure.helpscout.net/conversation/1736989193/315918/

[2022-01-02 08:05] sriharsha-y commented on #3760
Having been facing the same issue it's very annoying

[2022-01-02 10:40] klautrup commented on #4161
I see the same issue.
The table grew to 20+ Gb.
I then tried to delete all content of the table which messed up CSS.
So I had to change settings from 'REMOVE UNUSED CSS (BETA)' to 'LOAD CSS ASYNCHRONOUSLY'.

When will this bug be fixed?

[2022-01-03 11:34] piotrbak commented on #4600
Hello @worldsdream thank you for creating the issue. Have you already contacted our support team, so they would be able to investigate the case and find the correct exclusions? If not, please do so or post more detailed steps to reproduce it for us, for example:
1. Use Gutenberg editor
2. Create a new page and add specific element
3. Visit the page in incognito mode
4. See an error

Thank you!

[2022-01-03 12:02] piotrbak commented on #4623
Hello @alihs thank you for creating the issue. We'll be rewriting the preload completely, unfortunately, it's still not scheduled.

When it comes to the status of the preload we don't have any official script, but one of our customers has written a script. You can reach me here piotr[at]wp-media.me and I'll send it to you. Of course, we don't maintain it nor guarantee that it'll work, but you woul

[2022-01-03 12:02] #4623 closed, assigned to nobody

[2022-01-03 12:11] piotrbak commented on #4606
@DahmaniAdame Is `Page Preloader` a feature of this theme?

If so, is everything working correctly when it's disabled and Delay JS is enabled?

[2022-01-03 12:27] piotrbak commented on #4062
Closing it, since the issue is fixed on their end.

[2022-01-03 13:16] piotrbak commented on #4613
Hello @79ho3ein can you tell me what does `this query completely crashes` mean?

If the results are cached, we can do nothing about this, authors should make sure that their plugin is compatible with page cache (use cookies to store and ajax to display data, for example).

[2022-01-03 13:37] 79ho3ein commented on #4613
hello @piotrbak, thank you for your attention.

The problem is that if, for example, we see the iphone 13 among the products, it will add other products to the list in addition to the iphone 13. Or sometimes it does not even show the product we have visited. But by disabling the wp-rocket plugin, the recently viewed product query works properly.

**I even disabled all the Rocket plugin options, bu

[2022-01-03 14:00] mehedihasanziku commented on #3916
tried to allow server ip like @vmanthos said, but didn't stopped logging but strange to notice even with that logging used css added but not always as i checked in multiple sites.

although it's not good to use:  [reason told by WF support](https://wordpress.org/support/topic/many-e-mails-wordfence-alert-domain-dk-increased-attack-rate)

![image](https://user-images.githubusercontent.com/48652123/

[2022-01-03 14:14] piotrbak commented on #4613
@79ho3ein This sounds like a problem with cache itself. If plugin is not using ajax to refresh some output, then we'll cache the response and it'll stay like it was during the first request.

If `woocommerce_recently_viewed` cookie is used, you can use this helper plugin to be sure things are displayed correctly:
https://github.com/wp-media/wp-rocket-helpers/tree/master/compatibility/wp-rocket-com

[2022-01-03 14:14] #4613 closed, assigned to nobody

[2022-01-03 14:21] 79ho3ein commented on #4613
thank you dear @piotrbak .

[2022-01-03 14:55] NataliaDrause commented on #3960
Likely related: https://secure.helpscout.net/conversation/1742526549/316557/

[2022-01-03 17:02] #2820 closed

[2022-01-03 18:41] NataliaDrause commented on #4161
Related: https://secure.helpscout.net/conversation/1745283233/316958?folderId=3864740

[2022-01-03 19:04] iCaspar commented on #4588
We'll need to find a different solution, given the need to exclude jQuery when this is present.

[2022-01-03 23:18] JerissCloudCenter commented on #4376
@DahmaniAdame Is it mandatory to add this code in the `default.vcl` ? Modifying the `default.vcl` isn't available at every host (at least, not for mine). Therefore, I'm getting blocked. On one hand, I'd get a feature enabled automatically to ensure theme compatibility. On the other hand, I have host incompatibility with this feature enabled automatically, for which I can't apply the workaround bec

[2022-01-04 06:57] DahmaniAdame commented on #4376
@jeriss-cloud-center `default.vcl` is Varnish's configuration file. The directives should go there, I'm afraid.

Plugins can't change files outside of the premise of the WordPress environment. This is not something that can be controlled or automated from our end.

You will need to check with the hosting provider to allow you to access the file. Or they can do it themselves for you if accessing th

[2022-01-04 11:12] DahmaniAdame commented on #4072
Related - https://secure.helpscout.net/conversation/1746390969/317191/
WP Engine

[2022-01-04 14:29] #4064 closed, assigned to NataliaDrause

[2022-01-04 15:10] iCaspar commented on #4599
Closed by #4604

[2022-01-04 15:10] #4599 closed, assigned to nobody

[2022-01-04 16:43] #4614 closed, assigned to alfonso100

[2022-01-04 19:09] Hakira-Shymuy commented on #4364
Guys im having a problem on multiple websites with wpforms and Hcaptcha
With all the WPR settings enabled I'm getting a (This field is required) when sending the form

With all the settings active :
Minify/combine
Defer
Delay

It works yes for logged in users, if we test it on incognito this a real issue, any form wont work at all

Only way I can get it to work is if I disable the Defer and Delay,

[2022-01-04 19:14] piotrbak commented on #4364
Hello @Hakira-Shymuy please reach our support in order to find the correct exclusions/solution.

[2022-01-04 19:51] #4576 closed, assigned to remyperona

[2022-01-04 22:15] remyperona commented on #4596
In fact in french, the separator for decimals is a comma instead of a dot, so in this case it's the regular price that is using the correct formatting, and the discounted one that isn't.

[2022-01-05 08:51] Agathemed opened #4627 "Update Texts for the Expiring Soon and Expired Banners"
We need to update the text displayed in the Expiring Soon and Expired banners in the plugin.

You'll find the new texts and translation [here.](https://docs.google.com/document/d/1gSwxpp0VikIDJkO4uRWERXZX-lepXmCJlGdTtKIuLKo/edit?usp=sharing)

[2022-01-05 09:52] DahmaniAdame opened #4628 "LazyLoaded images below the fold not working on Safari iOS"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.10.5`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
LazyLoaded images below the fold not working on Safari iOS. Expect for `V12`.

Test `V13`, `V14`, `V15`. All won't show lazyloaded images below the fold.

T

[2022-01-05 10:29] piotrbak commented on #4628
@DahmaniAdame Do you happen to have staging site for this specific website? We need more details to see what can be done.

[2022-01-05 10:51] DahmaniAdame commented on #4628
@piotrbak I initially asked the customer to keep the creds active.
I just sent them a request to enable (or we enable) a staging site instead.
I will let you know whenever I hear back from the customer.

[2022-01-05 12:03] DahmaniAdame commented on #4606
Yes. It's a feature of the theme that can be turned on and off.

For memory, it worked with no issues when the preloader was turned off.

I asked the customer to give me access to the site to confirm that part.

I will keep you informed.

[2022-01-05 14:44] Mai-Saad commented on #2708
These markups are not LL as well:
[code]

[2022-01-05 17:06] remyperona commented on #4627
### Scope a solution ✅
In `Engine\License\Renewal.php`

method `display_renewal_expired_banner()`:
- we don't need to get the discount percent/price anymore, so we can directly pass only the `renewal_url` to the view

in `Engine\License\views\renewal-expired-banner.php`:
- Update the paragraphs with the text changes
- Remove the references to the discount percent/price

in `Engine\License\views\re

[2022-01-05 18:27] NataliaDrause commented on #4161
Related: https://secure.helpscout.net/conversation/1748313076/317601?folderId=3864740

[2022-01-06 03:56] d19dotca commented on #4364
@Hakira-Shymuy - according to https://github.com/wp-media/wp-rocket/pull/4566/files the change is to exclude 'hcaptcha.com/1/api.js' but if that's not working for you then this fix may not fix it in your particular case, meaning you may have a slightly different issue or require a different solution.

[2022-01-06 06:59] DahmaniAdame commented on #3142
Related - https://secure.helpscout.net/conversation/1747586547/317449/
Using the FastClick fix worked.

[2022-01-06 08:33] DahmaniAdame opened #4633 "Make Delay JavaScript Execution exclusions case sensitive"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.10.5.1`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
The current Delay JavaScript Execution won't consider case sensitive strings. Which will exclude anything that matches the pattern, and consequently exclu

[2022-01-06 09:29] DahmaniAdame commented on #4606
@piotrbak I did some tests. There is no issue if the `Page Preloader` is deactivated on the theme when Delay JavaScript Execution is activated.

[2022-01-06 11:24] Mai-Saad commented on #4508
another scenario with WebP here https://github.com/wp-media/wp-rocket/issues/4617

[2022-01-06 15:01] remyperona commented on #4622
@piotrbak I'm adding the potential grooming under, but I'm wondering if this should be investigated more at first. Bridge is using this for a while I believe, and we didn't have any issue with those files before. So did something change on their side? Is it something else?

Also not sure it's a `good first issue`, as we would be creating a new method, and it needs tests added alongside it too.

##

[2022-01-06 15:49] #4603 closed, assigned to remyperona

[2022-01-06 16:42] webtrainingwheels commented on #4633
Seems that we should be recommending a more specific keyword to exclude the inline script then? Like `var DIVI`?

[2022-01-06 17:01] piotrbak commented on #4633
Agree with @webtrainingwheels

Let's keep this open to see if we receive any positive feedback about that from our customers.

[2022-01-06 17:05] remyperona commented on #4633
Making the exclusions case sensitive also increases the chances of user input errors, if the user mistyped something with/without the correct casing

[2022-01-06 17:07] DahmaniAdame commented on #4633
Good catch @webtrainingwheels. I was in the middle of it. I overlooked that detail 😅.
But it will only fix the Divi situation cited as an example.
Updated the Delay JavaScript Execution Exclusions.
We can't control how users will enter their exclusions. A case sensitive exclusions will surely be a plus for the Delay JavaScript Execution.

[2022-01-06 17:28] DahmaniAdame commented on #4633
It's a risk, yes.

I would argue that a mismatch won't be necessarily be site breaking and easier to debug vs. non-obvious false positives that might break other things that the customer is initially focusing on, and would be harder to make a link to them while debugging.

We don't have enough cases to justify any action, though.

[2022-01-06 19:34] remyperona commented on #4492
### Scope a solution ✅
In `Engine\Optimization\DelayJS\HTML::$excluded`, replace exclusions related to Jetpack lazyload by `jetpack-lazy-images`. This should cover everything we need for the exclusions when using JetPack and/or JetPack boost.

### Estimate the effort ✅
Effort `[XS]`

[2022-01-06 20:00] remyperona commented on #4553
### Scope a solution ✅
In `Engine\Optimization\DeferJS\DeferJS::get_excluded()`, add `/carousel-upsells-and-related-product-for-woocommerce/assets/js/glide.min.js ` to the exclusions array

### Estimate the effort ✅
Effort `[XS]`

[2022-01-06 20:32] remyperona commented on #4605
### Scope a solution ✅
In `Engine\Optimization\DelayJS\HTML::$excluded`, add `wpcp_css_disable_selection` as an exclusion pattern

### Estimate the effort ✅
Effort `[XS]`

[2022-01-06 20:33] remyperona commented on #4611
### Scope a solution ✅
In `Engine\Optimization\DelayJS\HTML::$excluded`, add `/gravityforms/js/conditional_logic.min.js` as an exclusion pattern

### Estimate the effort ✅
Effort `[XS]`

[2022-01-06 20:35] remyperona commented on #4612
### Scope a solution ✅
In `Engine\Optimization\DelayJS\HTML::$excluded`, add the following exclusion patterns:
[code]

### Estimate the effort ✅
Effort `[XS]`

[2022-01-06 20:54] remyperona commented on #4586
### Scope a solution ✅
In `Engine\Preload\Links\Subscriber::get_uris_to_exclude()`, we can add to the `$uris` variable the 2 patterns `/refer/` and `/go/`.

### Estimate the effort ✅
Effort `[XS]`

[2022-01-07 12:05] piotrbak commented on #4622
@Tabrisrp You're right about the `good first issue`. When it comes to the Bridge theme itself, I've been investigating it for a while, it looks like they're loading the `.php` dynamic file only when there are problems with permissions:
![image](https://user-images.githubusercontent.com/26767037/148541634-9a023fa4-e608-4c51-9fb7-4f8062594b69.png)

That's why we haven't had any problems with that so

[2022-01-07 14:40] piotrbak commented on #4586
@Tabrisrp There's a possibility to choose between link prefixes (or even add a custom one) in the ThirstyAffiliates plugin. The default one is `/recommends/`.

Prettylinks on the other hand allows to create totally custom links, there are no any suggestions nor recommendations.

Let's add `/recommends/` to the default exclusion list and later we'll see if we should do the compatibilities for each

[2022-01-07 14:45] GeekPress commented on #4586
@piotrbak Does the prefix be saved into an option for `ThirstyAffiliates `? If so, we must grab the value of the option to automatically exclude the right path.

[2022-01-07 15:26] tnowak commented on #1524
Any progress on this issue?

[2022-01-07 16:37] piotrbak commented on #4586
@Tabrisrp Compatibility for `ThirstyAffiliates` will be needed, they offer a function to grab the prefix. The scenario to cover is to:
1. If the TA plugin is enabled, we'll grab the prefix and exclude only it
2. If it's not enabled (customers are using different affiliate plugin) we'll use default list of exclusions, we'll do 1. step for other plugins in the future, if needed.

The default exclusi

[2022-01-08 07:52] DahmaniAdame commented on #3963
Related - https://secure.helpscout.net/conversation/1749608997/317830

[2022-01-08 08:03] DahmaniAdame commented on #4628
@piotrbak the customer allowed us to make a staging site on WPStageCoach.
I will leave it to you guys since you and @Mai-Saad won't be around until Monday. If it's not done by then, I will make it ready for you on Tuesday when I'll be back from my weekend.

[2022-01-10 14:14] #4539 closed, assigned to alfonso100

[2022-01-10 16:41] piotrbak commented on #4557
@mostafa-hisham I'm experiencing the opposite. Could you check it here?
https://rocketlabsqa.ovh/js-fetcher/

Search for: `:root{--my-variable:0`

[2022-01-10 17:13] NataliaDrause commented on #4217
Related: https://secure.helpscout.net/conversation/1752424903/318375/

[2022-01-10 17:30] KinG-InFeT opened #4638 "Page caching is not detected (AMP Di AMP Project Contributors)"
**Describe the bug**
into wordpress Site Health out the cache error for plugin
Plugin WP-Rocket version: 3.10.5.1
Plugin AMP version: 2.2.0
Wp version: 5.8.3
Theme: Neve

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Site Health' into wordpress backend
2. See error "Page caching is not detected"

**Expected behavior**
[code]

**Backlog Grooming (for WP Media dev team use only)**
- [

[2022-01-10 17:50] piotrbak commented on #4638
Hello @KinG-InFeT and thank you for the issue. The way in which AMP plugin is looking for a page caching is very unreliable. We'll check if there's anything we can do on our side, but most likely, it'll has to be fixed on the AMP plugin side.

[2022-01-10 20:16] alfonso100 commented on #2409
related - https://secure.helpscout.net/conversation/1752773544/318466?folderId=2683093

[2022-01-10 20:42] alfonso100 opened #4639 "WP Rocket 3.10.6 - Conditional Comments removed when Async CSS is enabled"
**Before submitting an issue please check that you’ve completed the following steps:**
Yes - Made sure you’re on the latest version
Yes - Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
**IE Conditional Comments** are removed when using the latest version of **WP Rocket 3.10.6** and **Async CSS.**
It is related to #4186 and PR #4583

**To Reproduce*

[2022-01-10 20:45] webtrainingwheels commented on #4639
Related: https://secure.helpscout.net/conversation/1750239202/317944?folderId=377611

[2022-01-10 22:47] remyperona commented on #2498
@piotrbak Looking at the code on their side, they copied a lot of our code to handle the compatibility already, in this file: https://github.com/ahmedkaludi/accelerated-mobile-pages/blob/master/templates/features.php

They are also handling the query string compatibility based on the related option value, and the CDN rewritting for images.

I don't think there is anything more to do on our side in

[2022-01-11 07:22] mostafa-hisham commented on #4557
@piotrbak
all variables in :root{} are preserved
![image](https://user-images.githubusercontent.com/29744252/148897965-389ac1bd-cf26-4b50-a387-b43e3a917fdf.png)
![root](https://user-images.githubusercontent.com/29744252/148898405-5a134d42-f9db-4fbd-bad9-d0fc6436ac2a.png)

[2022-01-11 07:46] mostafa-hisham commented on #4557
@piotrbak @engahmeds3ed
the variable is preserved form the sass side but it getting remove from the plugin side
i think we need to disable the minification in the plugin side we already do this in sass server

![image](https://user-images.githubusercontent.com/29744252/148901410-1a5e3a93-ed82-412c-b53f-3114e9a10a7d.png)

[2022-01-11 08:07] vmanthos opened #4640 "Disable OPCache purging on SiteGround"
**Is your feature request related to a problem? Please describe.**

We have at least a couple of reports from SiteGround customers that they are getting the `OPcache purge failed.` message when they are trying to purge the OPCache.

Their support told one of [the customers](https://secure.helpscout.net/conversation/1729608368/314685/#thread-5074820863) (internal link) they are using file-based OPc

[2022-01-11 08:53] Mai-Saad opened #4641 "Renewal banner is displayed while auto renew is set"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.10.6
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Renewal banner is displayed for users with auto-renewal true

**To Reproduce**
Precondition:
- Having user with license about to expire within next 30 days + auto-

[2022-01-11 10:25] vmanthos commented on #4072
Related: https://secure.helpscout.net/conversation/1753105226/318518?folderId=3572159
WP Engine

[2022-01-11 12:43] KinG-InFeT commented on #4638
hi @piotrbak , i open new issue to AMP plugin for find a new solutions.

[2022-01-11 16:44] webtrainingwheels commented on #4640
https://secure.helpscout.net/conversation/1644124796/297607/

[2022-01-11 18:08] westonruter commented on #4638
@piotrbak hi:

What is unreliable about it?

[2022-01-11 19:10] alfonso100 opened #4643 "Clear EWWW/ExactCDN cache when WP Rocket cache is cleared"
**Is your feature request related to a problem? Please describe.**
When updating posts, the ExactCDN cache needs to be manually purged. Maybe we could automate this?

**Describe the solution you'd like**
Clear ExactCDN cache to keep caches in sync after updating posts or pages in WP Rocket.

**Additional context**
Ticket: https://secure.helpscout.net/conversation/1752760856/318463?folderId=2683093

[2022-01-11 19:13] remyperona commented on #4641
There is a check for the auto renew value before displaying the banner: https://github.com/wp-media/wp-rocket/blob/4549191aaf543f641d8785afbf23352ed1ebfd03/inc/Engine/License/Renewal.php#L165

Did the user tested with correctly have the `has_auto_renew` property value to `true` from the API?

[2022-01-11 21:38] #4593 closed, assigned to NataliaDrause

[2022-01-11 22:29] piotrbak commented on #2498
@Tabrisrp Yes, it seems so. I'll confirm to see if we pass the AMP tests using their compatibility

[2022-01-11 22:32] piotrbak commented on #3009
@iCaspar Is this PR still in progress? It was in the `Ready for Review` on the previous sprint.

[2022-01-12 14:07] NataliaDrause opened #4648 "Delay JS auto-exclusion for WooCommerce Product Gallery break Elementor scripts"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.10.6
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
We add auto-exclusions for WooCommerce Product Gallery as per #4077 on pages with the gallery, but this breaks Elementor's elements.

On customer's site, the

[2022-01-12 14:51] #4563 closed, assigned to alfonso100

[2022-01-12 14:52] #4616 closed, assigned to DahmaniAdame

[2022-01-12 14:56] #4089 closed, assigned to iCaspar

[2022-01-12 16:39] mehedihasanziku commented on #4648
If we turn off this by default wc exclusion (using filter by rocket ) , and exclude only jQuery above errors also noticable in console after UI.

Like this thread #4156 , so it's not completely related to wc exclusion, it's something which missing JS load order

[2022-01-12 20:34] piotrbak commented on #4638
Hello @westonruter and thanks for your comment.

The existence of browser caching headers doesn't mean that the page is cached. Our plugin, to handle the browser caching and make sure that it's invalidated correctly uses [Last-Modified](https://github.com/wp-media/wp-rocket/blob/876df7a7d0de2dc194b78430ee2dacf72a9fabf4/inc/classes/Buffer/class-cache.php#L157) header.

There's also [ETag](https://d

[2022-01-13 00:04] westonruter commented on #4638
Thanks for the additional information. We tested with several page caching plugins and they were consistently using `Expires` and/or `Cache-Control`. However, clearly we didn't test every plugin and hosting platform.

I recall considering `ETag` and/or `Last-Modified` but likewise they don't necessarily indicate that any page caching is present. It could be that pages are still being generated dyn

[2022-01-13 08:10] DahmaniAdame commented on #3426
Related - https://secure.helpscout.net/conversation/1754437330/318772/

[2022-01-13 08:10] vmanthos commented on #4072
Likely related: https://secure.helpscout.net/conversation/1751894862/318257?folderId=2135277

[2022-01-13 10:47] piotrbak commented on #4638
`It's clearly difficult to sniff with 100% accuracy whether page caching is present based on response headers. So what's important is to detect most cases and err on the side of false positives rather than false negatives.`
After adding my comment I read the conversation related to your PR and realised that, indeed, it's not easy to have universal answer to this.

The only idea that comes to my mi

[2022-01-13 13:18] WordPresseur commented on #3142
Related: https://secure.helpscout.net/conversation/1754094479/318724?folderId=1213662
This case was solved with this [comment](https://github.com/wp-media/wp-rocket/issues/3142#issuecomment-882012665)

[2022-01-13 13:54] iCaspar opened #4651 "Extract all the "Can do X" checks to a "FeatureEnabledChecker""
In our current architecture, many features (and sub-functions within features) have a private "can_do" check.

This is an anti-pattern: it requires the feature class to know details about the overall plugin state.
The code smell for this is that each feature/sub-function needs extensive additional test complexity to check all the conditions when it should or should not run. Any time the conditions

[2022-01-13 16:15] sandyfzu opened #4653 "Delay JS: RocketElementorAnimation is declared twice"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**
In the next website: https://basaltblock.de/leistungen/webdesign/, two body tags can be found, one of them seems to be related to a modal.

WP Rocket adds the "fix_eleme

[2022-01-13 16:41] piotrbak commented on #4653
@sandyfigueroa Valid HTML document can contain only one `head` tag and one `body` tag:
https://html.spec.whatwg.org/multipage/sections.html#the-body-element

The website doesn't pass the HTML validation. Unless there's any new specification that allows to use two `body` tags inside the document, we can not fix this issue. Basically, we expect a valid HTML document while processing it. Please let m

[2022-01-13 19:43] piotrbak opened #4654 "Compatibility with StatsCounter"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version 🆗
- Used the search feature to ensure that the bug hasn’t been reported before 🆗

**Describe the bug**
Stats are not beign collected when Minify and Delay JS are enabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable StatsCounter plugin and login to their d

[2022-01-13 20:11] westonruter commented on #4638
I think we tried going down that route. The problem with cache-busting query parameters is that caching is some caching plugins disable caching altogether when there is a query parameter present.

It seems like we'll need to just include `Last-Modified` and `ETag` among the signals for whether page caching is present. Since WordPress doesn't send these by default (except for `/feed/` responses), i

[2022-01-13 20:28] piotrbak commented on #4638
`The problem with cache-busting query parameters is that caching is some caching plugins disable caching altogether when there is a query parameter present.`
Exactly, then there'll be a noticeable difference between not-cached request (because of the random query string) and the cached one.

`It seems like we'll need to just include Last-Modified and ETag among the signals for whether page caching

[2022-01-13 21:51] westonruter commented on #4638
I think the problem is it's not consistent. Some caching plugins may disable caching altogether when a random query parameter is present. Other plugins may strip it out silently and serve a response as if it wasn't present in the first place. Others will cache it separately from a page without the query parameter. All of this variability, along with the variability introduced by the network itself

[2022-01-14 06:32] vmanthos opened #4656 "Google Site Kit - Console errors with Minify JS files and User Cache"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

On a customer's website with [Google Site Kit](https://wordpress.org/plugins/google-site-kit/) installed there were JavaScript errors in the admin area:
[code]

<detail

[2022-01-14 08:01] DahmaniAdame commented on #4598
Related - https://secure.helpscout.net/conversation/1747586547/317449/

[2022-01-14 12:53] piotrbak commented on #2498
@Tabrisrp @vmanthos I've checked with the latest version of the [plugin](https://wordpress.org/plugins/accelerated-mobile-pages/) and it seems that their compatibility is working just fine. The page is cached and AMP tests are passing when all features are enabled.

[2022-01-14 12:53] #2498 closed

[2022-01-14 14:54] #4639 closed, assigned to remyperona

[2022-01-14 14:54] #4507 closed, assigned to alfonso100

[2022-01-14 14:55] #4611 closed, assigned to DahmaniAdame

[2022-01-14 16:52] remyperona commented on #4654
@piotrbak Can you provide a full code snippet for QA?

[2022-01-14 18:36] piotrbak commented on #4654
@Tabrisrp I have the plugin set up on my test website. I'll provide it with instructions to Mai to save the time.

[2022-01-14 19:19] piotrbak commented on #4648
Adding the following files to the exclusion on the product page with gallery resolves the issue:

- `/elementor-pro/assets/lib/sticky/jquery.sticky.min.js`
- `/elementor-pro/assets/js/elements-handlers.min.js`

We'll probably add those exclusions to the not empty product gallery exclusions:
https://github.com/wp-media/wp-rocket/blob/38e0fa379460fdc5bf6cbe6b49580c422d913274/inc/ThirdParty/Plugins/E

[2022-01-14 20:15] sandyfzu commented on #4653
You are absolutely right here @piotrbak .

In any case, @vmanthos was helping me to check this case, so, I would like to hear what his thoughts are.

[2022-01-14 21:59] remyperona commented on #2293
Looking at the code of `heartbeat.js`, I think there is a bug in it when `minimalInterval` is used:
- If `minimalInterval` is set, and is between 0 and 120, it's multiplicated by 1000
- After that, if `minimalInterval` is superior to `mainInterval` (which is likely always the case with the multiplication), the new value of `mainInterval` is `minimalInterval`
- And then a bit further down, the valu

[2022-01-15 08:51] DahmaniAdame commented on #4598
@piotrbak  - there is an additional problem related to this issue.

The dynamic file will override the same selectors once it loads using JavaScript since it comes after RUCSS.

Maybe we should automatically disable Divi's Dynamic CSS when using RUCSS?

The same would apply to Divi's Critical CSS.

It doesn't make sense to keep it anyway if we are generating the Used CSS.

Should I open a separate

[2022-01-15 13:27] saschafoerster commented on #1959
I was once a customer of WP rocket. When I saw mixpanel.js in the plugin-backend, I was concerned. When I read the the list of external services that open up, when I use WP Rocket in my backend was longer than the list of my own domains, then I decided, WP Rocket has to go. And when I see, that you set plenty of cookies (for instance from stripe), without my consent, I am angry.

I don't think it

[2022-01-16 18:18] piotrbak commented on #4640
Tagging it as blocked as I'd like to see if WordPress built-in OPCache invalidation will work there.

[2022-01-16 18:18] piotrbak commented on #2950
I'd like to see if it resolves the following issue:
https://github.com/wp-media/wp-rocket/issues/4640

[2022-01-16 18:19] piotrbak commented on #2950
That would be the first step in order to get rid of `Clear OPcache` buttons:
https://github.com/wp-media/wp-rocket/issues/4439
https://github.com/wp-media/wp-rocket/issues/1491

[2022-01-17 05:37] vmanthos commented on #4653
We can safeguard our code even if that's not valid code.

@sandyfigueroa Our job is to report such findings. In the end, it's the product team that decides if putting the resources to cover such edge cases worths the trouble.

[2022-01-17 08:01] eric-ppt opened #4659 "Preview page is coaching by wp rocket ."
Page Builder with Elementor .

**Describe the bug**
Check the preview page . the latest updata can not by update . and changed style can not works .
I must check the update via forced refresh with the normal page url ,

https://s3.bmp.ovh/imgs/2022/01/52d69c2bf8670332.png

[2022-01-17 08:04] eric-ppt commented on #4659
Sometime i must use "clear coach" to check the update by normal page url .  in preview page "clear coach" can not make the update and style works .

[2022-01-17 10:09] vmanthos commented on #4395
This is happening again.

The following PHP fatal error is thrown when the language is set to "Português do Brasil".
[code]

In **rocket-pt_BR.po**, the following line:
`%1$sComplemento %2$ %3$s está ativo no momento. Não é necessário configurar CDN para %2$ funcionar no seu site.`

should be replaced with this:
`%1$sComplemento %2$l %3$s está ativo no momento. Não é necessário configurar CDN para

[2022-01-17 12:25] piotrbak commented on #4653
@sandyfigueroa @vmanthos Is this modal being added by any plugin or theme, or it's coming from the custom code written by a customer?

[2022-01-17 12:32] piotrbak commented on #4659
Hello @eric-ppt thank you for creating the issue.

Please contact our [Support team](https://wp-rocket.me/support/), in order to move forward with investigation of this issue. I wasn't able to reproduce it.

I'm going to close it, since it doesn't contain any steps nor using our bug template. As soon as the bug is confirmed, we may want to open a new one with all the steps and correct template.

[2022-01-17 12:32] #4659 closed, assigned to nobody

[2022-01-17 14:10] #4553 closed, assigned to vmanthos

[2022-01-17 14:11] #4627 closed, assigned to remyperona

[2022-01-17 14:11] #3523 closed, assigned to iCaspar

[2022-01-17 15:28] remyperona commented on #2950
Since `opcache_invalidate()` requires a specific script path, we won't be able to use this in the end.

But we could still deprecate `rocket_maybe_reset_opcache()` and remove its callback on `upgrader_process_complete`, as WP is handling that automatically, and more precisely. What do you think @piotrbak ?

[2022-01-17 15:47] remyperona commented on #4640
@piotrbak From the PHP doc for `opcache_invalidate()`, `This function only invalidates in-memory cache and not file cache.` It's the same for `opcache_reset()`.

I was not able to find a way to purge the file-based OPCache from a PHP function or script.

What we could do is check for the `opcache.file_cache_only` configuration value, and if it's set to `true`, we don't try to purge OPCache, and al

[2022-01-17 16:34] piotrbak commented on #2950
Yes, that sounds like a good idea, definitely. Can we be sure that WordPress itself is doing just enough?

From what I can see it's clearing specified file before upgrading core and this is the only thing related to `upgrader_process_complete` and `opcache_invalidate`:
https://developer.wordpress.org/reference/classes/core_upgrader/upgrade/

[2022-01-17 16:38] NataliaDrause opened #4660 "Delay JS auto-exclusion for WooCommerce Product Gallery don't include jQuery-migrate script and break the gallery"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.10.6
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
Delay JS auto-exclusions for WooCommerce Product Gallery don't include jQuery-migrate script for WordPress version 5.7+. This breaks the gallery and causes th

[2022-01-17 16:57] piotrbak commented on #4640
@Tabrisrp This seems to be a good approach.

@vmanthos Do we have access to any SiteGround website to confirm in the PHPINFO that the `opcache.file_cache_only` value there is set to `true`?

[2022-01-17 19:53] mifrero commented on #4161
Related: https://secure.helpscout.net/conversation/1759505595/319758?folderId=273766

[2022-01-17 20:13] remyperona commented on #3727
### Scope a solution ✅
In `Engine\Media\ImageDimensions\ImageDimensions`, we need to update the method `get_image_sizes()`:
- Replace calls to `getimagesize()` by `$this->getimagesize()`

Create a new private method `getimagesize()`, which will use the code Adame wrote as the base. I believe there is some optimizations to do.

Add new test cases for svg files, with width/height attributes, and wit

[2022-01-17 20:20] remyperona commented on #2950
@piotrbak The `wp_opcache_invalidate()` function is used in `copy_dir()`, which is the function used by WP when installing/updating a theme/plugin (notably). And the function is called for each file in the directory.

It is also what is stated in the make post:

So I believe this is safe to do.

[2022-01-17 20:45] remyperona commented on #3511
This one will be difficult to implement without a  big rewrite of the existing code in my opinion. It's also still in the old architecture, so we would take the opportunity  to move it to the new one at the same time.

Maybe we can work on it, but it would fit more for a major version to be safer?

[2022-01-18 06:53] vmanthos commented on #4640
No, we don't, but I'll keep my eye on this.

@Tabrisrp The [WP OPcache](https://wordpress.org/plugins/flush-opcache/) plugin claims they "support both memory and file caching". Maybe you want to take a look there.

[2022-01-18 10:11] worldwildweb commented on #4660
A customer has reported a woocommerce issue that is related to this issue where Images are not displayed:
When jQuery migrate is disabled, products with multiple images do not display images properly: https://github.com/woocommerce/woocommerce/issues/31636

[2022-01-18 11:43] piotrbak commented on #4640
@vmanthos Thank you, could you also check if the above plugin is compatible with their stack?

[2022-01-18 12:06] vmanthos commented on #4640
According to SiteGround's support, the plugin isn't compatible because the path they save OPCache is out of the reach of plugins.

[2022-01-18 12:38] piotrbak commented on #4648
@NataliaDrause whenever you have a chance, could you confirm on the customer's website that the [above](https://github.com/wp-media/wp-rocket/issues/4648#issuecomment-1013391073) exclusions solve the issue?

[2022-01-18 14:23] remyperona commented on #4640
I'm not seeing anything in this plugin that could be clearing the file cache, it uses `wp_opcache_invalidate()` too.

[2022-01-18 14:35] WordPresseur opened #4662 "LazyLoad - Exclude from WP Rocket LazyLoad tick box in Image Elementor widget"
**Is your feature request related to a problem? Please describe.**
In Elementor, using a CSS class does not work because Elementor is not adding it to the image tag but to a parent div tag.
Putting every single filename in the LazyLoad exclude settings can be an issue for WP Rocket users.
[In this ticket](https://secure.helpscout.net/conversation/1759506315/319759?folderId=273766), I found out a w

[2022-01-18 15:46] 79ho3ein opened #4663 "Ability to preload images"
**Describe the solution you'd like**

hello

Image preloading has a tremendous impact on website speed. By placing the following tag in the website header, I preloaded the home page banner images and the site speed was greatly increased.

<link rel="preload" as="image" href="">

Adding the ability to preload images to the wp-rocket can be great. With this feature we can preload all the images on t

[2022-01-18 15:59] NataliaDrause commented on #3982
Related: https://secure.helpscout.net/conversation/1757712607/319410?folderId=3864740

[2022-01-18 16:20] piotrbak commented on #4663
Hello @79ho3ein we're planning to implement this feature totally automatically somewhere this year.

[2022-01-18 16:20] #4663 closed, assigned to nobody

[2022-01-18 16:30] 79ho3ein commented on #4663
thank you @piotrbak. Good luck

[2022-01-18 16:55] jacksonwp commented on #3982
+1 to everything @warudin said. We're seeing this alot with Beaver Builder when the included assets, eg: Font Awesome get a version bump. Critical CSS is then referencing asset folders that don't exist any longer.

[2022-01-18 19:19] #3570 closed, assigned to remyperona

[2022-01-18 19:44] remyperona commented on #4660
@piotrbak This looks like from the above that it will be fixed directly in WooCommerce with their next minor version, I think we don't need to do anything in the end, what's your opinion?

[2022-01-18 19:45] piotrbak commented on #4660
Yes, let's keep the issue open until their release.

[2022-01-18 21:24] NataliaDrause commented on #4628
I attached the HTML that can be used for reproducing the issue in the note here:
https://secure.helpscout.net/conversation/1741856008/316423/#thread-5175057847
also added a few screenshots in the note.

[2022-01-19 11:20] Mai-Saad opened #4665 "Renewal banner better be auto dismissed once counter is 0"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => yes
- Used the search feature to ensure that the bug hasn’t been reported before => yes

**Describe the bug**
Although the counter for renewal is 0, the banner is still displayed until we refresh the page

**To Reproduce**
Precondition:
- Have user whose license will e

[2022-01-19 11:26] Mai-Saad opened #4666 "Refreshing user info better auto reflect on existing banner"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Given renewal banner is displayed, then the license is renewed.
when the user refreshes his info, the renewal banner is still displayed till we refresh the page

**To Reprod

[2022-01-19 13:21] worldwildweb commented on #4639
related https://secure.helpscout.net/conversation/1760535314/320015?folderId=5547167

[2022-01-19 14:09] #4654 closed, assigned to remyperona

[2022-01-19 17:28] webtrainingwheels commented on #4395
https://secure.helpscout.net/conversation/1760180933/319898?folderId=377611

[2022-01-19 19:26] remyperona commented on #4395
Fixed on Transifex, it will be in 3.10.7

[2022-01-19 20:56] remyperona commented on #4640
### Scope a solution ✅
In `inc/admin/upgrader.php`, `rocket_reset_opcache()`, add a check for `opcache.file_cache_only`. If it's true/1, bail-out, as we won't be able to reset OPCache with `opcache_reset()`.

We also need to add  this check in `rocket_admin_bar()` (`inc/common/admin-bar.php`), and in `inc/views/settings/page-sections/dashboard.php`, to prevent the display of the purge OPCache link

[2022-01-20 01:58] webtrainingwheels commented on #4376
I had 2 cases with Woodmart recently:
- https://secure.helpscout.net/conversation/1747368659/317417/
- https://secure.helpscout.net/conversation/1736060054/315780/

[2022-01-20 11:52] piotrbak commented on #60
Closing it, since it doesn't seem to cause problems. We'll reopen if needed.

[2022-01-20 11:52] #60 closed

[2022-01-20 12:04] piotrbak commented on #500
@Tabrisrp Do you remember which page builder was used for this issue?

[2022-01-20 12:52] piotrbak commented on #1224
Closing it, since the last solution mentioned by @alfonso100 is working correctly.

[2022-01-20 12:52] #1224 closed

[2022-01-20 13:03] vmanthos commented on #1224
Actually, that solution didn't work.

The updated one in our doc does:
https://docs.wp-rocket.me/article/1320-managewp-how-to-clear-wp-rocket-cache

PS: I'm adding this here in case anyone reaches this thread.

[2022-01-20 13:05] piotrbak commented on #1224
@vmanthos Yes, I meant that @alfonso100 pointed to the docs in the last reply, sorry for not being clear.

[2022-01-20 15:48] piotrbak opened #4669 "Disable Combine CSS feature when RUCSS is enabled"
**Is your feature request related to a problem? Please describe.**
We should not allow to use Combine CSS feature when RUCSS is enabled with the new approach

**Describe the solution you'd like**
We'll do the same as we already do for Delay JS and Combine JS.

**Additional context**
It's being done to be able to safelist whole CSS files + use them to determine whether something is present on the w

[2022-01-20 15:53] piotrbak opened #4670 "Queue implementation for the new RUCSS approach"
**Describe the solution you'd like**
We need to implement queue management on a plugin side to handle the async way of RUCSS.

The issue is created to keep all discussion in one place.

[2022-01-20 16:07] piotrbak opened #4671 "Problems with async way of handling the RUCSS"
**Describe the bug**
There are at least 2 major problems we'll be having with async way of handling the RUCSS.

**1. Dynamic DOM/CSS:**
We know that Flatsome and Woodmart themes are using that kind of markup, possibly Essential Addons for Elementor. If the DOM/CSS changes on each refresh, then the followign scenario will happen:

- In the DOM we have `wd-1` CSS class
- Puppeteer will get the cache

[2022-01-20 18:07] juricazuanovic commented on #4639
Related: https://secure.helpscout.net/conversation/1762515052

[2022-01-20 19:00] NataliaDrause opened #4672 "RUCSS: Stylesheets with relative file path ../ are not processed"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.10.6
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
When a stylesheet has a relative file path as in example `../mycss.css` it will not be processed by the Remove Unused CSS.

**To Reproduce**
Steps to reproduc

[2022-01-20 19:46] pcworld opened #4673 "Elementor hook leads to entire cache being cleared for every new page loaded"
## Bug Description

When using the [Elementor plugin](https://github.com/elementor/elementor) with option `minify_concatenate_css` enabled and Elementor's "CSS Print Method" set to "External File" (appears to be default), the entire cache is cleared _every time_ a new page is accessed for which Elementor has not yet saved a corresponding `_elementor_css` postmeta, which appears to be done by Eleme

[2022-01-20 22:01] piotrbak commented on #1640
The plugin is not maintained since 3 years already. We won't be fixing the compatibility.
https://wordpress.org/plugins/wp-facebook-open-graph-protocol/

[2022-01-20 22:01] #1640 closed

[2022-01-20 22:13] piotrbak commented on #1598
It looks like `Minify And Combine CSS Files` feature was removed from Divi options.

[2022-01-20 22:13] #1598 closed

[2022-01-20 22:24] piotrbak commented on #1594
The only incompatibility we have is that SmartSlider doesn't appear unless user interaction when DelayJS is enabled. Exclusions needed:
[code]

[2022-01-20 22:42] piotrbak commented on #1177
Looks like everything works correctly with 8.1.2 version of Newspaper theme

[2022-01-20 22:42] #1177 closed

[2022-01-20 23:00] piotrbak commented on #1010
Tested with `EU Cookie Law 3.1.6` and WP Rocket 3.10.6, the message goes away correctly.

[2022-01-20 23:00] #1010 closed

[2022-01-21 08:20] GeekPress commented on #4671
We must not rely on that part. To not have any dependency on 3rd party.

[2022-01-21 08:44] engahmeds3ed commented on #4671
if we found a way to detect those CSS blocks we may ignore the full block and keep it on the page (from the plugin side)

[2022-01-21 10:01] engahmeds3ed commented on #4670
We will send the async request to SaaS side after creating the cache file and send the cached version link so it loads faster.
Here is the plan we agreed on before:

## The main request

![image](https://user-images.githubusercontent.com/15707971/150507014-567307af-d268-47fa-8467-1359a7ffaba4.png)

## The CRON job

![image](https://user-images.githubusercontent.com/15707971/150507069-4ffc9a48-3ddb

[2022-01-21 13:29] GeekPress commented on #4670
Thanks @engahmeds3ed for the grpah.

A cron every 10 minutes is very long. If a website has thousands of pages, it's going to take hours to have all Used CSS generated.

[2022-01-21 13:45] engahmeds3ed commented on #4670
What do u suggest?

We need to discuss this interval and also how many items to get at each time?

[2022-01-21 20:46] remyperona commented on #4439
@piotrbak Do we even want to keep the OPCache clear functionality?

It made sense when WordPress was not handling that for updates of core/themes/plugins, but now that it's in core, I'm not sure there is any value remaining here.

[2022-01-22 08:25] DahmaniAdame commented on #4072
Likely related - https://secure.helpscout.net/conversation/1755298266/318968

[2022-01-22 09:31] Michaelgimii opened #4678 "Disable Google fonts in wp-rocket"
Removing Google fonts is a required feature that is present in most optimization plugins, but unfortunately does not exist in wp-Rocket.
Google fonts create additional requests that negatively affect the performance of the site. Please add the Google Fonts Disable feature.
thanks

[2022-01-22 09:35] Michaelgimii opened #4679 "Lazy load image in wordpress & wp-rocket"
As you know, WordPress is lazy load by default. WordPress has also said that it will fully develop this feature in WordPress 5.9. Therefore, all WordPress websites have lazy load by default. The question is, with these conditions, does wp-rocket remove the lazy load feature?

[2022-01-22 10:42] Snadex opened #4680 "RocketCDN is not compatible with "Preload Fonts" functionality"
Hello,
we are using self-hosted fonts and want to preload them. We are also using RocketCDN and turns out the "Preload Fonts" functionality is not compatible.

**To Reproduce**
Add Local Path in the "Fonts to preload" section.
Have RocketCDN enabled

**Expected behavior**
We would expect WP Rocket to preload the local fonts which are moved to the CDN - Currently it is not.

**Additional context**

[2022-01-23 05:21] JerissCloudCenter commented on #4679
WP Rocker provides additionnal settings to customize the lazyload (exclusions...), which is not the case (yet) with WordPress' lazyload. Therefore, I believe it would be a bad idea to remove this feature for now.

[2022-01-23 14:09] NataliaDrause commented on #4161
Related: https://secure.helpscout.net/conversation/1765392508/320918/

[2022-01-23 20:55] NataliaDrause commented on #4416
Related: https://secure.helpscout.net/conversation/1764897984/320838/

[2022-01-24 07:40] vmanthos commented on #2713
Related request: https://secure.helpscout.net/conversation/1765871401/321009?folderId=2135277

[2022-01-24 11:48] piotrbak commented on #4439
@Tabrisrp What about the situation when customer is making changes to the PHP code without updating any part of the WP? Does it make sense to clear the OPCache then?

[2022-01-24 12:16] Mai-Saad commented on #4563
Well for Web stories 1.15.1 (while AMP is activated 2.2.0) => GF optimization is not applied while for Web Stories 1.16.0, GF optimization is applied now on develop @alfonso100 @Tabrisrp can you please check this (not sure why optimizations are there for 1.16.0)

[2022-01-24 12:44] NataliaDrause commented on #4640
Related: https://secure.helpscout.net/conversation/1763060057/320494?folderId=3864740

[2022-01-24 12:59] NataliaDrause commented on #4640
PHP info from the previous ticket:
![image](https://user-images.githubusercontent.com/60236665/150787048-8625be0b-8685-4da7-94a0-60b7d30af6cd.png)
Full-screen image: https://i.imgur.com/qNn7aI7.png

[2022-01-24 13:14] NataliaDrause commented on #4057
Related: https://secure.helpscout.net/conversation/1764441703/320762/

[2022-01-24 16:52] remyperona commented on #4439
### Scope a solution ✅
In `inc/common/purge.php`, function `do_admin_post_rocket_purge_cache()`, add a call to `rocket_reset_opcache()` after the call to `rocket_clean_domain()`.

In `inc/common/admin-bar.php`, remove the section adding the link to purge OPCache (l174-197)

In `inc/views/settings/page-sections/dashboard.php`, remove the section adding the link to purge OPCache (l173-197)

### Esti

[2022-01-24 17:28] Cr-Virtualassistant opened #4681 "WP Rocket is not working with 3rd party plugin leadmarkt (Lead Generator)"
HI there,

I wanna use this plugin
https://profiles.wordpress.org/leadmarkt/
but it does not work with  WP Rocket – File optimization - Delay JavaScript execution

If I activate the box it displays like this (see Pic 1)
![Pic 1](https://user-images.githubusercontent.com/98343157/150832828-ffde8ef5-1059-49aa-89fb-e639f8a9c0c7.png)
 here.
If I deactive the box it displays properly like this (see Pic

[2022-01-24 17:30] Cr-Virtualassistant commented on #4681
Sorry, I forgot to mention that the problem is happening on mobile and tablet.

[2022-01-24 17:32] piotrbak commented on #4681
Hello @Cr-Virtualassistant can you please reach our Support Team? After their investigation we'll be able to see what can be done to resolve the problem. Thank you.

[2022-01-24 17:34] Cr-Virtualassistant commented on #4681
How can I contact them?

[2022-01-24 17:36] piotrbak commented on #4681
You'll be able to reach us here, by following the dropdown:
https://wp-rocket.me/support/

[2022-01-24 17:37] Cr-Virtualassistant commented on #4681
ah ok, that is not working, cause I don't have a login....I got an agency installation

[2022-01-24 17:45] piotrbak opened #4682 "Update DelayJS script"
Issue for update the Delay JS script to the newest version that can be fetched [here](https://github.com/wp-media/delay-javascript-loading/pull/16).

[2022-01-24 20:24] NataliaDrause opened #4683 "WIP: RUCSS times out when large blocks of inline CSS are present in the source code"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.10.6
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
This issue is created to monitor the following problem and see number of sites affected by this:

Pages with large inline CSS blocks time out and no Used CSS

[2022-01-25 08:57] Mai-Saad commented on #4395
Can still see a problem in the msg when only Cloudflare or Sucuri is enabled on develop
![Screenshot from 2022-01-25 10-50-43](https://user-images.githubusercontent.com/76941962/150944585-c92a0da5-d657-4dbf-9a04-0881b5d473aa.png)
Can you please check @Tabrisrp?

[2022-01-25 09:45] Mai-Saad commented on #3879
The same problem (on develop) as mentioned here https://github.com/wp-media/wp-rocket/issues/4563#issuecomment-1020038533 with Web Stories 1.16.0 @piotrbak @Tabrisrp can you please check that

[2022-01-25 10:09] swissspidy commented on #3879
Let me know if I can help with anything from the Web Stories side. Off the top of my head I am not aware of any changes in 1.16.0 that would break this.

[2022-01-25 12:10] DahmaniAdame commented on #2440
Related - https://secure.helpscout.net/conversation/1765546608/320958/

2 items triggered the issue:
- Non-latin slug.
- Long search result with query strings.

For the non-latin part, probably the more frequent of the two potential triggers, maybe we can simply store cached files using `post_id` instead of the slug.

That assumes there is an efficient way to retrieve the information when processi

[2022-01-25 12:12] piotrbak commented on #3879
@swissspidy @Mai-Saad @Tabrisrp For any reason, the result of this conditional is different in `1.15.1` and `1.16.0` version of Web Stories (it's being checked on [wp](https://github.com/wp-media/wp-rocket/blob/9cf3d2d43d44072672eddbfdb6da16b87b0183ca/inc/ThirdParty/Plugins/Optimization/AMP.php#L51) action):
https://github.com/wp-media/wp-rocket/blob/9cf3d2d43d44072672eddbfdb6da16b87b0183ca/inc/Th