[2022-04-23 23:35] jazir555 commented on #4006
@berkmh Yes actually! Add this to the css selector exclusion list: .e-font-icon-svg. The reason your exclusions won't work is because the icon is not a font awesome icon, it is an e-icons icon.

[2022-04-24 15:14] NataliaDrause commented on #3077
Related: https://secure.helpscout.net/conversation/1857583117/338858?folderId=3864740

[2022-04-24 16:05] NataliaDrause commented on #4802
related: https://secure.helpscout.net/conversation/1850560070/337857?folderId=3864740

70 000 posts.

[2022-04-24 21:41] Michaelgimii opened #4963 "Rocket interference with elementor flex box"
**Describe the bug**

Many colleagues reported that the rocket interfered with the elementor flex box. This interference naturally occurs when the website is built with an elementor flex box. Has anyone had a similar experience?
It would also not be bad if Rocket optimizes more css files in elementor. In previous versions, Rocket banned a number of css files in elementor from optimization.
thanks

[2022-04-25 01:32] engahmeds3ed commented on #4960
## Grooming

**Reproduce the problem**
Sometimes I can see it using the following code:
[code]

and then refresh on admin UI multiple times till reaching two rows in AS tools page for our hook `rocket_rucss_pending_jobs_cron` in `pending` status.

**Identify the root cause**

We are not 100% sure about that but as mentioned in the Action Scheduler's issue here: https://github.com/woocommerce/actio

[2022-04-25 09:46] piotrbak commented on #4940
@basslion `rocket_rucss_job_check_status` is not related to this issue. WP Rocket is set to remove up to 6000 `rocket_rucss_job_check_status` completed entries per hour since 3.11.0.5.

Please remove the mentioned filter and the number will start decreasing (you can also just remove those actions manually, which will be a faster solution). If you need any further help, please reach our support.

[2022-04-25 09:51] piotrbak commented on #4963
@Michaelgimii thank you for being in touch. We use GitHub for development purposes, also for bugs reporting we have a dedicated template which should be used.

Your ticket doesn't seem like be a confirmed bug that we can fix. If you'd like to share your opinion and ask some questions to other users, I'd suggest posting on our Facebook group (named WP Rocket Users). On the other hand, if you prefer

[2022-04-25 09:51] #4963 closed, assigned to nobody

[2022-04-25 14:07] piotrbak commented on #4962
Hello @berkmh I wasn't able to reproduce this problem. Could you please clear the RUCSS and try again?

If you're still experiencing this issue, please be in touch with our Support Team, we'll take care of further investigation and apply the fix immediately.

[2022-04-25 14:07] #4962 closed, assigned to nobody

[2022-04-25 14:29] CrochetFeve0251 commented on #4942
### Scope a solution
Tables are deleted when they are too old (1 month) but also when we change a post:
As a solution I propose to add a 2 filters:
- One controlling the time when values are too old with a default value of 1 (1 month).
If this filter return 0 or less then the deleting function gonna be deactivated.
- One controlling deletion from RUCSS when an entity is updated with a default valu

[2022-04-25 15:09] CrochetFeve0251 commented on #4231
### Scope a solution
Problem come from the fact we check the url with its params on [this line](https://github.com/wp-media/wp-rocket/blob/7bc0dd8dcc0ef5e2af156d978c8a437ec8bb1bd1/inc/Engine/Optimization/AbstractOptimization.php#L133).

A solution would be to apply `strtok($url, '?')` on the url before the check to remove params and preventing a match with them.

### Estimate effort
Effort `XS`

[2022-04-25 15:52] NataliaDrause opened #4964 "RUCSS may break layout on customized pages which URL contains query string"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.11.0.5
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
When URL containing a query string like `https://example.com/shop/?rv-products=1234` has a different layout from the `https://example.com/shop/` Remove Unus

[2022-04-25 16:14] girlie commented on #3142
Related: https://secure.helpscout.net/conversation/1857224034/338785/

[2022-04-25 18:40] piotrbak commented on #4147
@DahmaniAdame isn't it related to this filter?
https://github.com/wp-media/wp-rocket/blob/63f649200fa3b5b81ec83812d3448eeeea28e464/inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php#L345

[2022-04-25 19:02] camilamadronero-zz opened #4966 "Remove Warnings for the Minification Features"
**Is your feature request related to a problem? Please describe.**

With Remove Unused CSS and Delay JavaScript execution as the key optimization features, the **Minify CSS files** and **Minify JavaScript files**  features should be enabled in one click, without this warning:

![image](https://user-images.githubusercontent.com/23031592/165156064-93098252-f797-4585-a70a-df5df029200b.png)

Thanks!

[2022-04-25 19:15] alfonso100 opened #4967 "Remove Google Fonts CSS when Remove Unused CSS is enabled"
**Is your feature request related to a problem? Please describe.**
When Remove Unused CSS is enabled, we are not removing the Google Fonts CSS call, and that can trigger the Remove Unused CSS warning in PSI results.

In some cases, even our own **wpr-usedcss** is going to be listed together with the Google fonts, because any safelistings or automatic compatibility in our SaaS can make the used CSS

[2022-04-25 19:27] alfonso100 commented on #3960
related: https://secure.helpscout.net/conversation/1859348732/339059

[2022-04-26 06:19] DahmaniAdame opened #4968 "Delay JavaScript Execution compatibility with Thrive Comments"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.0.5`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When Thrive Comments is used with Delay JavaScript Execution, the comment form is not displayed.

No console error is showing.

The issue is that the `.th

[2022-04-26 06:44] worldwildweb commented on #4961
maybe related https://secure.helpscout.net/conversation/1859522245/339096

[2022-04-26 09:10] worldwildweb commented on #4940
related https://secure.helpscout.net/conversation/1860021378/339140/

[2022-04-26 09:56] #4065 closed, assigned to nobody

[2022-04-26 14:07] CrochetFeve0251 commented on #4967
### Scope a solution
A solution would be to add to the default safelist in the [`treeshake` method](https://github.com/wp-media/wp-rocket/blob/6f905396f43c1831c370848e9c36bf14e72ab545/inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php#L192) from the `UsedCSS` class.

For that we need to add the value to the [default array](https://github.com/wp-media/wp-rocket/blob/6f905396f43c1831c370848e9c36bf

[2022-04-26 14:11] GeekPress commented on #4098
We are closing this issue as we won't do this enhancement.

Why?
- No other requests since a year
- Async CSS has been released for years, and it has been never discussed.
- It concerns a very few users
- Users still have the possibility to temporarily deactivate their htpassword.

For these reasons, we don't want to complexify our features.

[2022-04-26 14:11] #4098 closed, assigned to nobody

[2022-04-26 14:14] GeekPress commented on #4270
@richiekastl Hi!

Can you please elaborate what are the problems with SEO?

[2022-04-26 14:20] GeekPress commented on #4454
@piotrbak The best solution should be to add conditions in the safelist back-end instead of adding compatibilities into the plugin, what do you think?

[2022-04-26 15:09] CrochetFeve0251 commented on #4252
@piotrbak I tried with the SAAS in local and my local Wordpress and the file was process.
Look like it has been fixed with the new SAAS.

[2022-04-26 15:11] girlie commented on #928
Possibly related: https://secure.helpscout.net/conversation/1860578815/339247/

[2022-04-26 15:22] piotrbak commented on #4454
@GeekPress Not sure if that's possible, it's about preserving whole inline styles in the source. 🤔

[2022-04-26 15:55] alfonso100 opened #4969 "Allow filtering the CSS files added with <link> before they are removed by RUCSS"
**Is your feature request related to a problem? Please describe.**
In some cases, we might need to exclude CSS files from being removed by RUCSS.
When for any reason, removing them causes issues and we cannot properly safelist them.
This might simplify the troubleshooting of some edge cases (safelisting doesn't work, CSS links are using media queries that we cannot cover, etc)

**Describe the solu

[2022-04-26 17:00] GeekPress commented on #4480
@piotrbak Maybe it's time to add Asset Cleanup into the default incompatible plugins. With RUCSS, there is no need to manage and select which CSS has to be loaded on the page. With Delay JS, there is no need to manage and select which JS has to be loaded on the page.

What do you think?

[2022-04-26 17:02] GeekPress commented on #4480
@gabelivan I would love to have your feedback too. Are you seeing any benefits to use Asset Cleanup and WP Rocket at the same time?

[2022-04-26 17:26] veltix commented on #4700
WP rocket 3.11.0.5 and still same issue with elementor pro popup when enabling remove unused css.

[2022-04-26 17:31] piotrbak commented on #4700
@Veltix Please contact our Support Team, we'll confirm the issue and fix it immediately.

[2022-04-26 18:42] DahmaniAdame commented on #4147
@piotrbak yes! I just used that filter last week. Forgot to update this one.

[2022-04-26 19:48] alfonso100 commented on #4802
related: https://secure.helpscout.net/conversation/1862370950/339676?folderId=4913970

[2022-04-26 20:22] adnanwk commented on #4802
There has to be an expiry of some sort to discard cache of for those posts which are not active. Probably it should include a setting for number of days from the last-viewed time.

Mine is a current affairs website. For me, 7 days is a good enough time. But there are sites which aren't updated so frequently, and their contents remain relevant, they may desire a much longer period.

[2022-04-26 22:23] camilamadronero-zz opened #4970 "Update Broken Link in Plugin's Deactivation Form"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - Yes
- Used the search feature to ensure that the bug hasn’t been reported before - Yes

**Describe the bug**
There is a 404 error in the [correctly-measure-websites-page-load-time](https://wp-rocket.me/blog/correctly-measure-websites-page-load-time/?utm_source=wp_plugin

[2022-04-27 00:42] engahmeds3ed commented on #4970
I think this one can be handled in https://github.com/wp-media/wp-rocket/pull/4880

[2022-04-27 04:53] DahmaniAdame commented on #4147
Related - https://secure.helpscout.net/conversation/1856472620/338688/
Style is added after the element and selectors change on each cache generation.
Fixed by excluding `#image_` using `rocket_rucss_inline_content_exclusions`.

[2022-04-27 05:06] DahmaniAdame opened #4971 "Remove Unused CSS compatibility with Flatsome dynamic #image_ selector"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Flatsome adds a highly dynamic selector for their images wrappers - `#image_`.

That selector has a corresponding inline style added just below the element.

[code]

[2022-04-27 05:19] DahmaniAdame opened #4972 "Remove Unused CSS to preserve inline CSS for the WP Recipe Maker"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.0.5`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
WP Recipe Maker has a class used to style recipe list items that change over time: `.wprm-advanced-list-`.

This will result in its corresponding style be

[2022-04-27 07:17] DahmaniAdame commented on #4969
Related - https://secure.helpscout.net/conversation/1848228658/337520/

@piotrbak This one is the consequence of preserving the `divi-style-parent-inline-inline-css` to fix this - https://github.com/wp-media/wp-rocket/issues/4598

The preserved inline style will override the child theme's style in this case `/wp-content/themes/divi-child/style.css`.

If we had a filter, we could preserve that styl

[2022-04-27 07:25] DahmaniAdame commented on #4598
Related - https://secure.helpscout.net/conversation/1848228658/337520/

@piotrbak This one is the consequence of preserving the `divi-style-parent-inline-inline-css` to fix this - https://github.com/wp-media/wp-rocket/issues/4598

Fixing it will require preserving any stylesheet that the above overrides.

Maybe we should have different preservation processing to fit the following:

1. Cases where

[2022-04-27 08:24] twwn commented on #4792
I'm not at all sure if it's even related, but we also got a layout bug if Divi's Dynamic CSS (4.17.1) & wp-rocket (3.11.0.5) is enabled: The product list will no longer show 3 per line, but in the pattern 3→1→2→2→1→3 on repeat. That's happened for months now, but doesn't with Divi 4.13 (unfortunately the only version I could rollback to).

Annoyingly, this doesn't occur immediately & can't be trig

[2022-04-27 08:46] piotrbak commented on #4970
@camilamadronero What @engahmeds3ed wrote is correct, I'm closing it.

[2022-04-27 08:46] #4970 closed, assigned to nobody

[2022-04-27 09:00] DahmaniAdame opened #4973 "Exclude getresponse.com tracker from JavaScript minification"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.0.5`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**

When `ga.getresponse.com/script/ga.js` is minified and hosted, it returns the following console error:

[code]

Checking the resulting file content when

[2022-04-27 09:57] NataliaDrause commented on #928
Related: https://secure.helpscout.net/conversation/1861813545/339437?folderId=3864740
The customer clarified that the issue is happening when posts are being saved/updated.

[2022-04-27 10:28] vmanthos opened #4975 "RUCSS - Vamtam's Health Center breaks because dynamic selectors aren't preserved"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.10.0.5`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

Vantam's [Health Center](https://themes.vamtam.com/?theme=health-center) theme is using dynamic selectors in `<style>` elements:
`#wpv-expandable-da6b839703e

[2022-04-27 10:31] piotrbak commented on #4975
@vmanthos Could you make a PR for this?

[2022-04-27 10:32] vmanthos commented on #4975
I'm already doing that. 😉

[2022-04-27 11:18] Dalias96 opened #4977 "After restart of container app, cache fails to generate until Admin logs in."
**Describe the bug**
After container restart plugin fails to generate any kind of cache untill admin logs in.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable WP Rocket
2. Generate some cache
3. Restart app
4. Enter page without entering admin panel - cache will never be generated.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
n

[2022-04-27 11:20] jeawhanlee commented on #4957
### Reproduce the problem ✅
Reproduced on local environment

### Identify the root cause ✅
This is happening because `wpf-public.js` requires some libraries like @DahmaniAdame mentioned and these libraries are jquery dependent but jquery is defered.

### Scope a solution ✅
Create a Thirdparty compatibility class for WC Product Filter that excludes jQuery and js/jquery/ui/(.*) from being defered an

[2022-04-27 12:17] vmanthos commented on #4598
**Related:** https://secure.helpscout.net/conversation/1862820678/339724?folderId=2135277

In this case, `divi-style-inline-inline-css` contains inline CSS and is overriding rules from the used CSS.

[2022-04-27 12:37] NataliaDrause commented on #2584
Related: https://secure.helpscout.net/conversation/1862118963/339614?folderId=3864740

[2022-04-27 13:14] Dalias96 commented on #4977
This issue is related to critical css as well, after container restart there is no generated css files, and these will not be generated until manual regeneration.

[2022-04-27 15:31] CrochetFeve0251 commented on #4252
### Identify the root cause
The  problem come from the regex in the [method `remove_used_css_from_html`](https://github.com/wp-media/wp-rocket/blob/6f905396f43c1831c370848e9c36bf14e72ab545/inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php#L300) from the class `RUCSS\Controller\UsedCSS`.
### Scope a solution
A solution would be to change [this regex](https://github.com/wp-media/wp-rocket/blob/6f

[2022-04-27 18:01] jeawhanlee commented on #4971
### Scope a solution ✅
Add the selector `#image_` to the preserved pattern in `WP_Rocket\ThirdParty\Themes\Flatsome::preserve_patterns`

### Estimate the effort ✅
[xs]

[2022-04-28 06:07] vmanthos opened #4980 "RUCSS - Kinsta's cache isn't cleared after successfully creating the used CSS"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.11.0.5`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

After the successful creation of the used CSS we are purging the URLs cache:
https://github.com/wp-media/wp-rocket/blob/b1d16b7bd8ddfb0a998330fea09cd3fd687fb

[2022-04-28 06:20] Mai-Saad commented on #4980
For retest: the same problem exists with the WP Engine test site

[2022-04-28 06:55] vmanthos commented on #4792
**Related ticket:** https://secure.helpscout.net/conversation/1862820678/339724?folderId=2135277

 `divi-style-inline-inline-css` contained inline CSS that was overriding rules from the used CSS.

[2022-04-28 07:03] vmanthos commented on #2068
Related: https://secure.helpscout.net/conversation/1861646403/339382?folderId=2135277

[2022-04-28 09:56] vmanthos commented on #4792
**Related ticket:** https://secure.helpscout.net/conversation/1862641888/339713/

Again, `divi-style-inline-inline-css` contained inline CSS that was overriding rules from the used CSS.

[2022-04-28 10:15] piotrbak commented on #4792
@vmanthos In all cases, disabling Divi Dynamic CSS solves the problem?

[2022-04-28 10:17] vmanthos commented on #4792
Yes, it does, in all cases I've checked.

[2022-04-28 10:24] piotrbak commented on #4792
The solution here will be to disable Divi's Dynamic CSS when our RUCSS is enabled.

[2022-04-28 11:09] engahmeds3ed commented on #4957
@jeawhanlee do u think we need to exclude also `/js/jquery/ui/(.*)` as @DahmaniAdame  Mentioned? or excluding jquery only solve the issue?

If u want to conditionally exclude those so u need to create thirdparty compatibility class and add tests for it.

I'd suggest changing the effort to `[S]` instead of `[XS]`

[2022-04-28 11:34] worldwildweb opened #4982 "CDN exclusions are not reflected when resource is inside the CSS file"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When Content Delivery Network is enabled, font awesome Icons are not displayed when caching for mobile devices is enabled.
While excluding a font file from the CDN, that kee

[2022-04-28 12:05] jeawhanlee commented on #4957
@engahmeds3ed Excluding just jQuery solved the issue but we can  also add `/js/jquery/ui/(.*)` this to the exclusion list.

[2022-04-28 12:13] engahmeds3ed commented on #4957
Calling @piotrbak @DahmaniAdame

[2022-04-28 12:16] piotrbak commented on #4957
@engahmeds3ed @jeawhanlee @DahmaniAdame We need to be sure that excluding jQuery solves the problem described. If so, we'll exclude only it in a thirdparty compatibility class.

Ideally only on pages when the filter is displayed, but probably it won't be possible.

[2022-04-28 12:16] GeekPress commented on #4971
@piotrbak Can this be included in 3.11.1? We don't really need any QA process here, and doesn't worse to have one.

[2022-04-28 12:19] piotrbak commented on #4971
@GeekPress Yes, we could do that. I'll check if there are any similar issues more.

@engahmeds3ed Could you do a CR and merge it to develop so it passes the smoke tests?
@Mai-Saad FYI

[2022-04-28 12:20] piotrbak commented on #4975
@engahmeds3ed We need a CR and a merge here too 🙏
@Mai-Saad FYI

[2022-04-28 12:28] #4971 closed, assigned to nobody

[2022-04-28 12:28] engahmeds3ed commented on #4971
Done

[2022-04-28 12:28] jeawhanlee commented on #4957
@piotrbak @engahmeds3ed For me, excluding just jQuery on WPR solved the problem...

[2022-04-28 12:30] piotrbak commented on #4957
@jeawhanlee Okay, let's do it and validate this later with @DahmaniAdame + @wp-media/qa

If things still won't be working, adding another exclusion will be very fast

[2022-04-28 12:36] #4975 closed, assigned to nobody

[2022-04-28 12:36] engahmeds3ed commented on #4975
Done

[2022-04-28 12:42] kmiskiewicz commented on #4977
Would be great if you could consider the scenario where the cache plugin is used in a multi instance environment where the number of instances is dynamic (depends on the current traffic load).  I suppose Wp-Rocket should generate the cache based on an automatically scheduled cron event rather than a manual trigger.

[2022-04-28 12:58] piotrbak commented on #4977
@kmiskiewicz symlinking WP Rocket's cache and config to directories shared between servers won't be enough? 🤔

[2022-04-28 13:36] #4867 closed, assigned to remyperona

[2022-04-28 13:39] kmiskiewicz commented on #4977
@piotrbak Thank you for your advice. Yes, it could do the job, however, I'm not sure about the performance of this approach. Reading files from a local directory is always much faster than from a remote disk.  As @Dalias96 said on the issue, we struggle with the plugin not starting generation of the cache as long as someone will not load the admin panel.

[2022-04-28 13:49] #4868 closed, assigned to CrochetFeve0251

[2022-04-28 14:13] piotrbak commented on #4802
@Tabrisrp whenever you're available, we need to think about the moving data to filesystem here. Of course, using compression where we can, etc. Let's have a discussion about the approach we'll take.

[2022-04-28 16:16] NataliaDrause commented on #4969
Related:
https://secure.helpscout.net/conversation/1864391207/340028/

We are not able to process this stylesheet: https://cdn.ampproject.org/amp-story-player-v0.css?ver=v0 due to a [comment line](https://i.imgur.com/8LC5iG1.png).
It is not possible to edit the file, so preserving it entirely would be a workaround.

[2022-04-28 16:16] #4960 closed, assigned to CrochetFeve0251

[2022-04-28 18:01] Ebeldev commented on #3709
I'm do get this error on all sites I do have WP-Rocket installed.
 Fatal error: Uncaught Exception: A service provider must be a fully qualified class name or instance of (\WP_Rocket\Dependencies\League\Container\ServiceProvider\ServiceProviderInterface)
in .../wp-content/plugins/wp-rocket/inc/Dependencies/League/Container/ServiceProvider/ServiceProviderAggregate.php on line 52

We do update our c

[2022-04-29 05:29] vmanthos commented on #4980
**Related ticket:** https://secure.helpscout.net/conversation/1863208289/339825?folderId=2135277

[2022-04-29 05:34] DahmaniAdame commented on #4957
@piotrbak @jeawhanlee I just retested. Only jQuery needs to be excluded.
Pretty sure not excluding `/js/jquery/ui/(.*)` still triggered the issue though when I tested the first time. But right now, it's consistently working just by excluding jQuery alone.
Let's see what @wp-media/qa team finds out.

[2022-04-29 06:52] DahmaniAdame opened #4984 "Remove Unused CSS compatibility with ConvertPlug dynamic .content-"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.0.5`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
ConvertPlug adds popups with dynamic IDs with their respective style added inline just below them.

[code]

When the cache is regenerated, the above class

[2022-04-29 08:01] CrochetFeve0251 opened #4985 "Tests are failing on develop"
Tests are currently failing on dev due to a `Test_Treeshake` error.

As a rapid solution disable the test in question waiting for the solution from mockery.

[2022-04-29 08:31] GeekPress commented on #4984
@piotrbak Can't these kinds of compatibility be done from the back-end?

[2022-04-29 08:43] GeekPress opened #4987 "Add one.com logo when the account has been created from one.com"
**Is your feature request related to a problem? Please describe.**
One.com is going to release its reseller plan. They would like to let the user know they bought WP Rocket from One.com.

**Describe the solution you'd like**
In the dashboard, next to the license name, we will One.com logo if we detected the user bought the license from One.com.

[Screenshot](https://share.getcloudapp.com/OAu6ynGQ)

[2022-04-29 09:32] GeekPress opened #4988 "Update Delay JS script to latest version"
**Is your feature request related to a problem? Please describe.**
We have 3 fixes left on the Delay JS script:
- https://github.com/wp-media/delay-javascript-loading/pull/18
- https://github.com/wp-media/delay-javascript-loading/pull/21
- https://github.com/wp-media/delay-javascript-loading/pull/24

**Describe the solution you'd like**
Merge all PR to create a new version of the script.

**Additi

[2022-04-29 09:42] piotrbak commented on #4984
@GeekPress In the future, with the new backend for other features

[2022-04-29 09:45] DahmaniAdame commented on #4961
Related - https://secure.helpscout.net/conversation/1858594675/338974
Temporarily fixed by removing `loading=lazy` using manipulate buffer helper plugin.

[2022-04-29 10:54] piotrbak commented on #4210
Working correctly in the new approach.

[2022-04-29 10:54] #4210 closed, assigned to nobody

[2022-04-29 10:55] piotrbak commented on #4147
I'm closing this issue. Each case should be treated separately.

[2022-04-29 10:55] #4147 closed, assigned to nobody

[2022-04-29 11:03] vmanthos commented on #4802
**Related ticket:** https://secure.helpscout.net/conversation/1864520160/340083/

There are ~6.500 URLs and the database size is ~1.5GB.

[2022-04-29 11:19] piotrbak commented on #4146
@wpsumo this issue is resolved in the 3.11, we are removing unnecessary `@keyframe`

[2022-04-29 11:19] #4146 closed, assigned to nobody

[2022-04-29 11:20] vmanthos commented on #4792
**Related ticket:** https://secure.helpscout.net/conversation/1861235649/339324?folderId=2135277

[2022-04-29 11:48] DahmaniAdame commented on #4984
@piotrbak should I add a PR for this one, or does it need grooming?

[2022-04-29 11:50] piotrbak commented on #4984
@DahmaniAdame `.content-` doesn't seem to be unique, we'll need a separate compatibility class for this plugin.

[2022-04-29 11:51] DahmaniAdame commented on #4972
@piotrbak should I add a PR for this one, or does it need grooming?

[2022-04-29 12:39] CrochetFeve0251 commented on #4792
### Scope a solution
Divi theme provide us a filter to disactivate the functionnality.
For that we have to return false as I did here:
[code]

A solution would be to add a new method in the Divi thirdparty class `disable_dynamic_css_on_rucss`:
- that check if RUCSS is activated with `pre_get_rocket_option_remove_unused_css` filter and bail out if it is.
- apply the filter `et_use_dynamic_css` and

[2022-04-29 13:16] Mai-Saad opened #4990 "Multi-site: Network deactivation not working probably"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.11.1
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When clicking network deactivate  for wpr, not working unless we open the NW deactivate link in another tab and the deactivation form won't be displayed

**To Repr

[2022-04-29 13:25] CrochetFeve0251 commented on #4984
### Reproduce the problem
As the plugin is not free it is not possible to reproduce the problem.
### Scope a solution
A solution would be to create a third party classs for the plugin that check if the plugin is activated before registering filters.
On this class we will create a method that will register to the filter `rocket_rucss_inline_atts_exclusions` and add `cp-form-css` to the exclusion li

[2022-04-29 15:51] alfonso100 commented on #4969
In the initial case, https://secure.helpscout.net/conversation/1853433495/338231/

Excluding the 3 responsive stylesheets from being removed solved the responsive layout issue, without impacting the PSI report in this case

[code]
 

[2022-04-29 18:19] Mai-Saad opened #4991 "Flatsome: RUCSS compatibility with dynamic elements like #row- , #text-"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.11.1
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Dynamic styles added by Flatsome aren't preserved

**To Reproduce**
Steps to reproduce the behavior:
1. Flatsome active theme
2. Add a page with row, styled text u

[2022-04-29 21:41] webtrainingwheels commented on #4802
https://secure.helpscout.net/conversation/1866269415/340397?folderId=377611
7900+ URLs - ~2.2 Gb in the database

[2022-04-30 08:24] DahmaniAdame commented on #4802
Possibly related - https://secure.helpscout.net/conversation/1865916125/340328

[2022-04-30 18:50] Mecanik opened #4992 "Content-Type header is being removed"
I have encountered the most unusual issue with a friend's WordPress installation using paid WP Rocket.

**Describe the bug**
The most important, very important, must have HTTP header Content-Type is being removed.

**To Reproduce**
Just use WP Rocket.

**Expected behavior**
Do not remove HTTP Content-Type?

**Screenshots**

With WP Rocket (caching ON):
![image](https://user-images.githubuserconten

[2022-05-01 07:02] njhowarth opened #4993 "Serve images stored in url of inline style as WebP"
In situations where a background-image is stored in url of an inline style, e.g:

<span style="background-image: url('https://www.mywebsite.com/wp-content/uploads/2020/09/image.jpg')" ></span>

It is not picked up by the RegEx used by WP Rocket that expects an =" or =' before the URL of the image. As a consequence, the WebP version of the image will not be loaded.

Request to include images stored

[2022-05-01 08:36] NataliaDrause commented on #4792
Related: https://secure.helpscout.net/conversation/1861916862/339496/

[2022-05-01 10:36] engahmeds3ed commented on #4802
I think we have two options to think of here to possibly solve this issue as follows:-

1. Before saving the css into the DB we can combare its hash with the other rows' hash and only save something like row::ID replacing the ID with the reference ID and save also the real hash then when clearing the reference row, this will lead to remove all rows with the same hash. This will prevent any duplica

[2022-05-01 14:10] felixstuermer commented on #4700
Same here

[2022-05-01 15:57] tranngocminhhieu commented on #3142
Since 3.10.9 the issue has came back, I use Jnews theme and has got the issue with mobile version.

[2022-05-01 18:05] DahmaniAdame commented on #4802
@engahmeds3ed option 1 will still fail to fix the issue in sites with high number of pages with little ratio of duplicates.

Option 2 is more efficient and would fit most shared hosting environments where file storage is unlimited and database storage has usually a cap.

It will also give the flexibility to store CSS gziped when possible, which should take less space.

The hash part is still valid

[2022-05-01 21:43] Michaelgimii opened #4994 "An important bug in clear cache (Sometimes the logo and favicon are removed)"
**Describe the bug**
Ever since opcache is removed, when I clear [clear cache](https://prnt.sc/brxIbc8wYIHo)(Or maybe [clearing the database](https://prnt.sc/8P_QuyxSxqzg)), sometimes the logo or favicon is deleted!
Please check this item. I have this problem on all my websites. There is such a problem even for colleagues. This problem has occurred exactly since opcache was removed. There was no s

[2022-05-02 08:20] Garnet-Fox commented on #3142
Since version 3.10.9, this is not only a bug of the Safari/Ios mobile version. There are also problems on Chrome Destop last version. The problem is the click before the delayed scripts are fully loaded. At the same time, if a click event occurs while loading delayed scripts, the click event may fire, or it may not fire after loading delayed scripts. No errors in the console. Rolling back the scri

[2022-05-02 11:45] piotrbak commented on #4992
@Mecanik Hello and thanks for creating an issue.

Have you already contacted our support team? It would be great if we could investigate this.

[2022-05-02 11:47] piotrbak commented on #4993
@njhowarth It seems to be a duplicate of https://github.com/wp-media/wp-rocket/issues/3511

If that's not, please reopen the issue with some more details.

[2022-05-02 11:47] #4993 closed, assigned to nobody

[2022-05-02 11:56] piotrbak commented on #4700
@medienstuermer Please contact our Support Team, we'll check the issue and fix it immediately.

[2022-05-02 12:00] piotrbak commented on #4994
@Michaelgimii Please contact our Support Team, we'll be happy to investigate this further and find a solution.

[2022-05-02 12:19] piotrbak commented on #3142
@tranngocminhhieu @Garnet-Fox Could you reach our support team and send the URLs? If you have a staging site it's even better. We'll investigate the issue further and provide the solution asap

[2022-05-02 13:05] piotrbak commented on #4969
@DahmaniAdame In this case, https://github.com/wp-media/wp-rocket/issues/4792 should fix the problem.

@alfonso100 Why we had the problems with responsive layout? Separate Cache for Mobiles didn't help here?

@NataliaDrause Thanks, let's see if @mostafa-hisham will be able to fix the root cause.

[2022-05-02 13:07] piotrbak commented on #4968
@DahmaniAdame Do we have any staging for that? If not, I believe we should reproduce this and be in touch with Gael

[2022-05-02 13:30] CrochetFeve0251 commented on #4984
@DahmaniAdame I just realize that without the plugin I can't know how to detect when it is activated.
As it is paid plugin I can't have it easily that's why I would like to know if you have it?

[2022-05-02 13:31] Mecanik commented on #4992
My friend did yes (the customer).

[2022-05-02 13:40] #4985 closed, assigned to CrochetFeve0251

[2022-05-02 13:51] alfonso100 commented on #4969
@piotrbak Separate cache for mobiles didn't help in this case, nor did adding the metatag.
slack thread for reference: https://wp-media.slack.com/archives/C029G1B5HD2/p1650551460727419

[2022-05-02 15:16] #4578 closed, assigned to jeawhanlee

[2022-05-02 15:30] #4869 closed, assigned to remyperona

[2022-05-02 16:57] GeekPress commented on #4991
@piotrbak We have more and more exclusion to do like this one. I'm wondering if we should automatically keep all the time CSS IDs located in an inline CSS to avoid having to maintain a huge list of compatibility.

[2022-05-02 17:10] piotrbak commented on #4991
@GeekPress I think we're still fine there. The current situation is:
1. 6 exclusions related to dynamic CSS of Flatsome
2. 2 exclusions related to dynamic CSS of Gutenberg
3. 1 exclusion related to dynamic CSS of another plugin

There are also a couple of exclusions related to plugins/themes that need specific CSS ID in the source to work correctly (7).

I believe that the list won't grow much mor

[2022-05-02 17:20] #4894 closed, assigned to vmanthos

[2022-05-02 17:20] #4898 closed, assigned to vmanthos

[2022-05-02 17:25] #4776 closed, assigned to vmanthos

[2022-05-02 19:44] #4765 closed, assigned to CrochetFeve0251

[2022-05-02 20:05] camilamadronero-zz commented on #2366
related https://secure.helpscout.net/conversation/1868754208/340692/

[2022-05-03 01:43] webtrainingwheels opened #4997 "Enhance Heartbeat Control Plugin Conflict Notice"
**Is your feature request related to a problem? Please describe.**
When Heartbeat Control is enabled in WP Rocket and the standalone Heartbeat Control plugin is activated, we show a red conflict notice: https://jmp.sh/v8jfS4P

This is a bit confusing and in some cases customers have even deactivated WP Rocket instead of the Heartbeat plugin.
In reality, the standalone plugin can be used, they just

[2022-05-03 06:46] tranngocminhhieu commented on #3142
@piotrbak

Here my demo site with new and old version

Version 3.11.1 -- Need twice click to open menu
https://huongdan.lucidgen.com/

Version 3.10.7 -- One click to open menu
https://lucidgen.com/

Hope team can fit this problem for Jnews theme in the next update!

[2022-05-03 07:26] ZnimonB opened #4998 "Varnish's cache of URL isn't cleared when UsedCSS generation is "complete""
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version :white_check_mark: 3.11.1
- Used the search feature to ensure that the bug hasn’t been reported before :white_check_mark:

**Describe the bug**

When UsedCSS is successfully generated (reaches "complete" status in Database), the cache of the URL is properly cleared:

http

[2022-05-03 08:26] vmanthos commented on #4967
**Related ticket:** https://secure.helpscout.net/conversation/1867973721/340586?folderId=2135277

[2022-05-03 10:24] ZnimonB commented on #4998
I'm using those two Hooks on our Websites and it works fine :). Would be great to have this in the Product, just to be save for Updates.

![image](https://user-images.githubusercontent.com/25100809/166437998-13562f4f-b70c-4dd8-976b-6033eb243657.png)

[2022-05-03 11:12] andrii-bakulin opened #4999 "bad link to "heartbeat.js""
In file `inc/Engine/Heartbeat/HeartbeatSubscriber.php` you have a bad link to `heartbeat.js` file

Need to remove the path in the asset folder. On frontend pages have bad link to this file.

PS: in the last version 3.11.1

[2022-05-03 11:42] jeawhanlee commented on #4991
### Scope a solution ✅
Add the selector `#row-` & `#text-` to the preserved pattern in WP_Rocket\ThirdParty\Themes\Flatsome::preserve_patterns

### Estimate the effort ✅
[xs]

[2022-05-03 12:25] Garnet-Fox commented on #3142
Yes, a good illustrative example https://huongdan.lucidgen.com /. Quickly click in the main menu, let's say links from Home to News and vice versa, several times. The link is not always followed, the click is lost.

[2022-05-03 12:45] CrochetFeve0251 commented on #4980
@vmanthos I need a test server on Kinsta  to reproduce the issue (waiting for support to see if they have a server otherwise we will have to create one)

[2022-05-03 14:34] #3720 closed, assigned to jeawhanlee

[2022-05-03 14:37] #4059 closed, assigned to jeawhanlee

[2022-05-03 14:41] #4711 closed, assigned to jeawhanlee

[2022-05-03 14:41] #4547 closed, assigned to jeawhanlee

[2022-05-03 15:11] remyperona commented on #4998
Hi @ZnimonB,

Thank you for the report, we're going to add the missing hook to the existing PR to completely fix the issue. I'm going to close this issue as it's very similar to https://github.com/wp-media/wp-rocket/issues/4875

[2022-05-03 15:11] #4998 closed, assigned to nobody

[2022-05-03 16:17] piotrbak opened #5003 "Respect site's trailing slash"
**Describe the bug**
Closing https://github.com/wp-media/wp-rocket/issues/1392 in favour of this one, since we have  abetter view of what's needed and what risks are.

When serving the cache page using PHP, we're not respecting the `/` settings in permalinks. We should respect that and the solution will solve this problem except the scenarios when:
1. Rewrite rules are present and working
2. Serve

[2022-05-03 16:18] piotrbak commented on #1392
Closing it in favour of #5003.

@engahmeds3ed
[code]

This one is not happening, since we're serving cache files before WordPress is loaded.

[2022-05-03 16:18] #1392 closed

[2022-05-03 16:37] jeawhanlee commented on #4987
### Scope a solution ✅

- Add one.come logo in the root assets/img folder.
- Validate `has_one-com_account` in inc/Engine/Admin/Settings/Page:customer_data and add new element to returned array if true.
- Do a conditional check in views/settings/page-sections/dashboard.php and add one.com logo

[2022-05-03 19:09] remyperona commented on #4284
Is this still something that needs to be modified with the new approach?

[2022-05-03 19:12] remyperona commented on #4972
I don't think we need grooming for it, the classname seems specific enough

[2022-05-03 20:18] webtrainingwheels commented on #4802
https://secure.helpscout.net/conversation/1869293907/340811?folderId=377611

[2022-05-03 20:39] remyperona commented on #4980
Note: we should take the opportunity to move the Kinsta compatibility code to the new architecture

[2022-05-03 20:59] remyperona commented on #4802
Some thoughts:
- Storing on the filesystem seems to be the way to go. We could add back the `used-css` folder in which we would store the files
- The files can be named using a hash generated base on the content, which would allow to re-use the same file for different URLs that have the same used CSS
- In the DB, we replace the CSS content by the path to the corresponding used CSS file
- On update

[2022-05-04 06:04] swabhav commented on #4758
my site logo loading under the script tag but getting an issue - Image elements do not have explicit width and height

screenshot - https://prnt.sc/CIO1j8Md2z4s
site url - https://sarkarify.com/

[2022-05-04 06:06] swabhav commented on #4461
my site logo loading under the script tag but getting an issue - Image elements do not have explicit width and height

screenshot - https://prnt.sc/CIO1j8Md2z4s
site url - https://sarkarify.com/

[2022-05-04 06:21] ZnimonB commented on #4998
Hi @Tabrisrp,

perfect. Thank you! :smiley:

[2022-05-04 08:27] vmanthos opened #5005 "[WIP] PHP Fatal error: Uncaught InvalidArgumentException: Unidentified action ... in ActionScheduler_DBStore.php on line 451"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

We have reports of PHP Fatal errors like the following one:
[code]

This is likely happening because the action we are trying to cancel doesn't exist.

**To Reproduce**

[2022-05-04 08:29] NataliaDrause commented on #5005
Related: https://secure.helpscout.net/conversation/1871459805/341115/
it is `E_Error` in this case.

[2022-05-04 08:37] GeekPress opened #5006 "Shutdown old RUCSS servers"
### What are we proposing to do?
Since we released the new RUCSS and it confirmed it’s more scalable and stable than the previous infrastructure, we want to shut down the old RUCSS servers.

[More info](https://docs.google.com/document/d/1JrkvRKPTWQc7UoPMv-UFEMDZSbFrLHC0mPBntGJhaM8/edit?usp=sharing
)

[2022-05-04 09:51] dazetoyo commented on #3142
can confirm that version 3.10.7 does not have this problem. Wp-rocket team please stop messing up this script every couple of weeks... :)

[2022-05-04 10:28] vmanthos commented on #4802
https://secure.helpscout.net/conversation/1870579150/341015/

[2022-05-04 12:57] piotrbak commented on #4802
@Tabrisrp In terms of hashing the filenames, we'd be storing them all in the same directory. If we had 70k or 100k CSS files there, wouldn't it slow down operations on those files?

[2022-05-04 13:23] przestrzal commented on #404
Hi,

i found that WP Rocket already is clearing whole site cache after ACF options page is updated. Unfortunately it's not compatible with "WP Rocket | Disable Cache Clearing".

I've installed this addon and WP Rocket is clearing cache after every update. Please check it.

[2022-05-04 13:24] GeekPress commented on #2937
Closing this issue in favor of the new one just created.

[2022-05-04 13:24] GeekPress commented on #2938
Closing this issue in favor of the new one just created.

[2022-05-04 13:24] #2938 closed

[2022-05-04 13:24] GeekPress commented on #2939
Closing this issue in favor of the new one just created.

[2022-05-04 13:24] #2939 closed

[2022-05-04 13:24] GeekPress commented on #2940
Closing this issue in favor of the new one just created.

[2022-05-04 13:24] #2940 closed

[2022-05-04 13:26] GeekPress commented on #2941
Closing this issue in favor of the new one just created.

[2022-05-04 13:26] #2941 closed

[2022-05-04 13:28] piotrbak commented on #3142
@tranngocminhhieu This is what I'm experiencing with your example:
https://www.loom.com/share/63b708a94e6549e0a1e2fb72d2362d22

Scripts are loading around 1-4 seconds each, but the menu is loaded at the end. We're going to improve this, but the menu is loaded, could you confirm that?

@dazetoyo We're happy to investigate each issue for further improvements, however, without URL to your site where

[2022-05-04 13:46] alfonso100 commented on #5005
another case: https://secure.helpscout.net/conversation/1871543254/341131/
`Fatal error` in this case

[2022-05-04 14:04] camilamadronero-zz commented on #4461
@swabhav Hey! Your site's logo was added using a `picture` tag ([as seen in the source code](https://jmp.sh/Rju1Bta)), and these images are excluded from the **Add missing image dimensions** feature.

You can extend the feature to be applied on `picture` tags, [by following this guide](https://docs.wp-rocket.me/article/1570-extend-missing-image-dimensions). And, if you have any further questions,

[2022-05-04 14:30] #3734 closed, assigned to jeawhanlee

[2022-05-04 14:32] #4179 closed, assigned to jeawhanlee

[2022-05-04 15:16] CrochetFeve0251 commented on #4980
### Reproduce the issue
As I don't have Kinsta I wasn't able to reproduce the issue.

### Scope a solution
First we will have to move the old code to the new architecture:
We will have first to move the old code to `ThirdParty\Hostings\Kinsta`.
For that we will implement the interface `Subscriber_Interface` and add each action to the events.
Then we will need to add Kinsta to the `HostSubscriberFa

[2022-05-04 15:29] #2918 closed

[2022-05-04 15:29] #2919 closed

[2022-05-04 15:29] #2921 closed

[2022-05-04 15:30] #2922 closed

[2022-05-04 15:30] #2923 closed

[2022-05-04 15:30] #2924 closed

[2022-05-04 15:30] #2925 closed

[2022-05-04 15:31] #2927 closed

[2022-05-04 15:32] #2930 closed

[2022-05-04 15:32] #2932 closed

[2022-05-04 15:33] #2936 closed

[2022-05-04 17:26] #4984 closed, assigned to CrochetFeve0251

[2022-05-04 18:14] camilamadronero-zz opened #5007 "Add integration with StackPath CDN"
**Is your feature request related to a problem? Please describe.**
When using StackPath CDN, the StackPath's network cache can't be cleared directly from our CDN tab.

**Describe the solution you'd like**
Add a button to clear StackPath CDN cache when we detect (in the CDN CNAME) a site is using their CDN service. This would allow customers to easily clear the CDN cache within WP Rocket, similar t

[2022-05-04 19:43] webtrainingwheels commented on #4999
Another customer is reporting the same problem: https://secure.helpscout.net/conversation/1870486230/341007?folderId=377611

[2022-05-04 19:47] alfonso100 commented on #4999
Another case here: https://secure.helpscout.net/conversation/1872230178/341231?folderId=2683093

[2022-05-04 19:51] alfonso100 commented on #4999
Seems related to this line:
https://github.com/wp-media/wp-rocket/blob/7c388fedbeb262485127b095edd27eabdc16b5d4/inc/Engine/Heartbeat/HeartbeatSubscriber.php#L69

[2022-05-05 06:50] javiergutierrezchamorro opened #5009 "Add decoding async and fetchpriority to image tags"
Lazy load of images can benefit of new decoding and fetchpriority attributes which could be added to images when LazyLoad is enabled.

- Decoding: https://developer.mozilla.org/en-US/docs/Web/API/HTMLImageElement/decoding
- Fetchpriority: https://developer.mozilla.org/en-US/docs/Web/API/HTMLImageElement/fetchPriority

[2022-05-05 11:54] viobru opened #5010 "Remove WP Rocket's options from Elementor templates"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version (3.11.1)
- Used the search feature to ensure that the bug hasn’t been reported before ✔️

**Describe the bug**
Elementor has an option to create/use templates, but we are not creating any cache file/folder for them since this content is not publicly visible and thus, disp

[2022-05-05 12:44] piotrbak commented on #4284
@Tabrisrp Yes, we're not removing the `<link rel="preload" id='preload-test' href="https://domain.com/wp-content/rocket-test-data/styles/minifycss_style.css" media='all' as='style' />` from the source when RUCSS is enabled.

[2022-05-05 12:58] NataliaDrause opened #5012 "[WIP] WooCommerce Multilingual currency switcher compatibility code is not stable"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - yes
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**

When WooCommerce Customer Location is set to Geolocate [our code](https://github.com/wp-media/wp-rocket/blob/6f905396f43c1831c370848e9c36bf14e72ab545/inc/3rd-pa

[2022-05-05 13:01] #4999 closed, assigned to nobody

[2022-05-05 13:23] worldwildweb commented on #4057
related: https://secure.helpscout.net/conversation/1855919898/338576/

[2022-05-05 13:40] CrochetFeve0251 commented on #4284
### Reproduce the problem
The issue is easy to reproduce just by adding into the foote or the header from a theme:
`<link rel="preload" id='preload-test' href="https://domain.com/wp-content/rocket-test-data/styles/minifycss_style.css" media='all' as='style' />`
### Scope a solution
The problem comes from the fact we are not searching for preload links in the `remove_used_css_from_html` from `RUCSS

[2022-05-05 14:01] CrochetFeve0251 commented on #4802
@piotrbak using the url as a path the same we do with cache can solve the problem? (I saw we got the url inside the table we can use for that)

[2022-05-05 14:03] piotrbak commented on #4802
@CrochetFeve0251 Yes, but then sharing the same CSS file between different posts will be a bit harder/misleading

[2022-05-05 14:08] CrochetFeve0251 commented on #4802
@piotrbak how about a tree system.
First we search the hash file at the first level for common to all pages or inside homepage.
If it is not there then we search a level lower the hash if it is common to that group of page. (Normally common css is between group of page if it is not the template for exemple the blog or the products or the categories)
If it is not there we go a level lower again and

[2022-05-05 14:15] piotrbak commented on #4802
@CrochetFeve0251 The problem is that the Used CSS will be mostly shared between the posts in the same type:
1. Posts
2. Products
3. Events, etc.

It means that `domain.com/product/example` will have the same CSS as the `domain.com/product/another`. This issue needs brainstorming and possibly also prototypes.

[2022-05-05 15:12] CrochetFeve0251 commented on #4802
The last info I bookmark cause I close theses tabs: Yes it slows down as you can see in theses answer to theses questions on Linux and Windows:
https://serverfault.com/questions/147731/do-large-folder-sizes-slow-down-io-performance
https://superuser.com/questions/623965/can-file-system-performance-decrease-if-there-is-a-very-large-number-of-files-in

[2022-05-05 16:57] tranngocminhhieu commented on #3142
@piotrbak
You need to test on an actual phone. I confirm that the menu can not open with one click on my iPhone. 😔

[2022-05-05 18:51] webtrainingwheels commented on #4802
https://secure.helpscout.net/conversation/1872365496/341241?folderId=377611
Siteground customer with a 1GB database limit

[2022-05-05 20:07] remyperona commented on #4802
We can also decide to not share used CSS files between different URLs, as filesystem storage is not really as limited as DB storage. If we gzip the files, it will also reduce quite a lot the space required anyway.

[2022-05-05 20:12] DahmaniAdame commented on #4802
How about we create subfolders from the hash itself?

Let's say this is the hash of the generated RUCSS - `5960d662a60f0fc3761434de3559caef`

We can use the left characters as sub-folders.

The file structure would be something like: `wp-content/cache/rucss/5/9/6/0d662a60f0fc3761434de3559caef`

We can add as many subfolders as needed depending on how many pages the website has or using a filter.

[2022-05-05 22:53] DjTribunus commented on #4700
No, the problem was not corrected. The bug is still present in version 3.11.2, is there any way to fix it? The solution proposed by the godlesowned user, not function always and it also seems to slow down the opening of the other pages on the site a lot.

I think it is appropriate to reopen this discussion.

[2022-05-06 08:29] Dalias96 commented on #4977
@piotrbak We found a way to fix that, I created a pull request for that.

[2022-05-06 08:55] viobru commented on #3348
Likely related: https://secure.helpscout.net/conversation/1870176892/340936

[2022-05-06 09:56] piotrbak commented on #4700
@DjTribunus You might want to contact our Support Team, we'll check the issue and fix it immediately.

Please understand, we're doing extensive tests to make sure things are working correctly. Without seeing your websites, we can't check why our compatibility is not 100% accurate.

[2022-05-06 09:58] piotrbak commented on #4977
@Dalias96 thank you for the PR. We'll discuss it shortly and when it passes the CR and QA, it'll be added to one of the upcoming releases.

[2022-05-06 10:23] piotrbak opened #5017 "Remove Unused CSS clears only up to 100 rows in specific conditions"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Remove Unused CSS feature can clear only up to 100 rows of Used CSS.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable RUCSS on site with 200+ pages
3. Enable pre

[2022-05-06 11:57] piotrbak opened #5018 "RUCSS compatibility with Jevelin theme"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
We need a comptibility with Jevelin theme. When it's activated, dynamic inline stylesheets containing `#heading-` should be preserved in the source.

Jevelin code can be fou

[2022-05-06 12:03] piotrbak commented on #4925
@cooltronicpl [compatibility with Jevelin](https://github.com/wp-media/wp-rocket/issues/5018) will be built-in most likely starting from 3.11.3. Till then you can use filter shared by me before.

@androidacybot @sriharsha-y I'm closing the issue, since it's very generic. If you're experiencing issues with treeshaker, please contact our support team and we'll fix problems immediately. Moreover, our

[2022-05-06 12:03] #4925 closed, assigned to nobody

[2022-05-06 12:20] viobru commented on #4802
Likely related: https://secure.helpscout.net/conversation/1872967693/341323/

[2022-05-06 12:46] engahmeds3ed commented on #5017
yes, it deletes only 100 rows from completed/failed rows.

We need to pass the number attribute here:
https://github.com/wp-media/wp-rocket/blob/8318b7efde95a1d075d0dc2f015ecb121baa9ce7/inc/Engine/Optimization/RUCSS/Database/Queries/UsedCSS.php#L324

and if not, it will fallback to the default 100 rows here on BerlinDB:
https://github.com/wp-media/wp-rocket/blob/7e03b2305c012202e330bbe2f57b0c7b030

[2022-05-06 12:58] worldwildweb commented on #4999
related https://secure.helpscout.net/conversation/1873200124/341359?folderId=5547167

[2022-05-06 14:12] juricazuanovic commented on #3142
Related: https://secure.helpscout.net/conversation/1873508285/341405/

[2022-05-06 16:29] piotrbak commented on #4972
@DahmaniAdame if you can, please do the PR 😁 If not, no worries.

[2022-05-06 17:48] sandyfzu opened #5020 "CDN feature is rewriting .cfm URls"
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**
When a .cfm url is present in the page, like: https://webdev3.regent.edu/support/give/online.cfm it is rewritten to: https://CDNURL.com/support/give/online.cfm

Maybe we should add it here: https://github.com/wp-media/wp-rocket/blob/develop/inc/Engine/CDN/

[2022-05-06 18:24] strategio commented on #5012
Hi @NataliaDrause,

I've managed to reproduce the issue with the customer's dump and I believe it's an edge depending on initial settings.

You can try the following patch. Edit the file `wp-content/plugins/woocommerce-multilingual/inc/currencies/class-wcml-multi-currency.php` on line 332 and replace:

[code]

with:

[code]

I could verify it's actually fixing the problem on the client's dump and

[2022-05-06 18:46] webtrainingwheels opened #5021 "Action Scheduler missing tables notice may show up incorrectly"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**
The [missing action scheduler warning](https://github.com/wp-media/wp-rocket/blob/d6ac32fa837a6446ae788fe6c9640a0d5cf39928/inc/Engine/Optimization/RUCSS/Admin/Settings.p

[2022-05-06 20:53] DahmaniAdame commented on #4972
@piotrbak done!

[2022-05-07 02:15] d19dotca opened #5024 "Umami.js needs to be excluded from Minification by default"
**Describe the bug**
When Minification is enabled, Umami.js (an analytics tracker, alternative to Google Analytics & Matomo) fails to run properly. I must exclude it on each site from WP Rocket Minification in order for it to work properly. Requesting that the umami.js script be excluded by default as this will surely affect all customers using Umami for data collection / website analytics.

Umami

[2022-05-08 08:09] Michaelgimii opened #5025 "The delay javascript option interferes with the menu cart elementor widget."
**Describe the bug**
The menu cart elementor widget does not open properly when I enable this option. After the first click on it, a # is added to the url.

**To Reproduce**
1- Use the menu cart elementor widget
2- Make sure the hello elementor template is enabled
3- Enable the delay javascript option and then try to open the menu cart.

[2022-05-08 09:56] NataliaDrause opened #5026 "Exclude Interactive Geo Maps plugin scripts from Minify JS"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version -3.11.2
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
When Minify JavaScript option is enabled, it causes the following console errors:

![image](https://user-images.githubusercontent.com/60236665/167290920-0b81d7

[2022-05-08 12:11] NataliaDrause commented on #5005
Related:
Fatal error here:
https://secure.helpscout.net/conversation/1875479948/341684?folderId=3864740

[2022-05-08 12:15] NataliaDrause commented on #5005
Related:
https://secure.helpscout.net/conversation/1876112016/341764/
https://secure.helpscout.net/conversation/1875810385/341739

[2022-05-08 15:11] NataliaDrause commented on #5012
thank you @strategio !

This resolved the problem on the staging site I have.
I am checking with the customer, if it is also resolved for them (I don't have access any longer). I will update when I hear from them.

[2022-05-09 06:08] vmanthos opened #5028 "RUCSS - Preloaded fonts are not rewritten to the CDN"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.11.2`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

During tree-shaking we preload fonts that we find in the used CSS:
https://github.com/wp-media/wp-rocket/blob/3a5b9b11dbda004854d54a4f07dc4ddc95bf2dbc/inc/Engi

[2022-05-09 08:19] CrochetFeve0251 commented on #4932
@Tabrisrp I talked about the logic with @engahmeds3ed some weeks ago and we figure out that there could be a problem if the cache was already loaded on some pages as PHP won't be runned.
This resulting in some page jobs never completing.

For that we figure out a simple solution: check in the cache file if the cache already exists for the page before the get request.
If the file is already here th

[2022-05-09 09:22] vmanthos commented on #4802
**Related:** https://secure.helpscout.net/conversation/1875436075/341676?folderId=2135277

[2022-05-09 10:58] vmanthos commented on #4802
**Related:** https://secure.helpscout.net/conversation/1876343690/341799?folderId=2135277

[2022-05-09 11:45] jeawhanlee commented on #5018
### Scope a solution ✅
Create a ThirdParty class for Jevelin theme to preserve dynamic selector `#heading-`
Add tests too.

### Estimate the effort ✅
[s]

[2022-05-09 11:58] piotrbak opened #5029 "Create a possibility to define RUCSS environment in constant"
**Is your feature request related to a problem? Please describe.**
In Imagify, when we want to use develop environment we can easily define it in the constant. We should do the same for RUCSS

**Describe the solution you'd like**
Add that kind of check:
[code]
here:
https://github.com/wp-media/wp-rocket/blob/81e5b989f9f4af1d7933c9637a3ca8e444578099/inc/Engine/Optimization/RUCSS/AbstractAPIClient.p

[2022-05-09 12:22] CrochetFeve0251 commented on #5029
You can use `WP_ROCKET_SAAS_API_URL` to change this url.

[2022-05-09 12:22] #5029 closed, assigned to CrochetFeve0251

[2022-05-09 12:47] CrochetFeve0251 commented on #5028
### Scope a solution
To fix this issue there was to way:
- Change the priority from the CDN action. However i didn't found anyway to make this solution possible.
- Replace the font url when adding it.

For that we will call the filter `rocket_asset_url` at the [line 655](https://github.com/wp-media/wp-rocket/blob/3a5b9b11dbda004854d54a4f07dc4ddc95bf2dbc/inc/Engine/Optimization/RUCSS/Controller/Use

[2022-05-09 13:53] CrochetFeve0251 commented on #5003
### Scope a solution
First we will have to add a new configuration by adding an new key to the configuration in the class [`Buffer\Config`](https://github.com/wp-media/wp-rocket/blob/81e5b989f9f4af1d7933c9637a3ca8e444578099/inc/classes/Buffer/class-config.php#L143) and saving domains where the trailing slash is activated and another that will store domains where non-trailing slash is activated.

T

[2022-05-09 14:55] remyperona commented on #5003
We also need to do the opposite action, redirect to non-trailing slash if the current permalink structure doesn't have one and the current URL has one

[2022-05-09 20:50] alfonso100 commented on #4802
Related: https://secure.helpscout.net/conversation/1867066831/340497?folderId=2683093

[2022-05-10 00:25] dazetoyo commented on #3142
@piotrbak
there is nothing to investigate
compare version 3.10.7 with the version live right now and see what changes you made to the script that affects iphones.
And yes, tests have to be done with an actual iphone, either using browserstack or some emulator, chrome tools won't work.

[2022-05-10 05:02] javiergutierrezchamorro commented on #5009
As an additional note this is now available in Flying-Press.

[2022-05-10 07:24] NataliaDrause commented on #5012
@strategio the fix is working on the customer's staging site. It looks like it is good to go!

[2022-05-10 08:57] piotrbak commented on #3142
**>there is nothing to investigate**
@dazetoyo thank you for your opinion.

**>compare version 3.10.7 with the version live right now and see what changes you made to the script that affects iphones.**
We're working on it and there is no one reason, but rather a couple of them. Sharing your website via our Support Team or here will be valueable to gather more data.

Could you also share what versi

[2022-05-10 10:37] vmanthos opened #5030 "RUCSS - Automatically allowlist the SaaS IP(s) in Cloudflare's firewall"
**Is your feature request related to a problem? Please describe.**

In some cases, Remove Unused CSS cannot be created because Cloudflare blocks the used CSS generator's IP.

**Describe the solution you'd like**

Automatically, allowlist the SaaS IP(s) in Cloudflare's firewall.

Here is the API we can use:
https://developers.cloudflare.com/firewall/api/cf-firewall-rules/endpoints/

**Describe alte

[2022-05-10 10:42] vmanthos opened #5032 "RUCSS - Automatically allowlist the SaaS in Cloudflare Bot Fight Mode"
**Is your feature request related to a problem? Please describe.**

In some cases Remove Unused CSS cannot be created because Cloudflare Bot Fight Mode blocks our SaaS.

Currently, only paying Cloudflare customers can[ bypass restrictions](https://developers.cloudflare.com/bots/get-started/pro/).

**Describe the solution you'd like**

Automatically allowlist the SaaS in Cloudflare Bot Fight Mode.

[2022-05-10 11:46] Michaelgimii opened #5034 "Remove Unused CSS Disables navigation points in elementor."
**Describe the bug**
If I enable Remove Unused CSS, all [navigation points](https://prnt.sc/NCvzV_utSEjs) in elementor and its addon will be disabled.

**To Reproduce**
1- In the elementor add the slides widget
2- Enable the Remove Unused CSS option
3- If you view the website with mobile, the slides navigation points are disabled.

But they are not hidden in the desktop.

I experience this bug in

[2022-05-10 12:56] #4948 closed, assigned to NataliaDrause

[2022-05-10 12:57] NataliaDrause commented on #5017
Related: https://secure.helpscout.net/conversation/1846812383/337290?folderId=3864740

[2022-05-10 12:58] #4973 closed, assigned to nobody

[2022-05-10 13:36] thd-fox commented on #3252
There is an other situation now, that pushes this issue higher again.

My situation is: valid license, but I needed to add the license like below:
[code]

Due to that situation I run into the bug even if I pay and have a valid license.
I can't save variations and this is no acceptable situation for a paying customer.

I worked around with this rewrite:
[code]

But I now have no clean cache feature

[2022-05-10 15:59] remyperona commented on #4802
### Scope a solution ✅
In `Engine\Optimization\RUCSS\Admin\Subscriber`, add a new method to truncate the used CSS table when updating to the version adding this change.

Create a new `Engine\Optimization\RUCSS\Controller\Filesystem` class, that will manage the paths and reading/writing/deleting the used CSS in the files. It will also manage the creation of the `cache/wp-rocket/used-css/` folder fo

[2022-05-10 19:21] remyperona commented on #4988
### Scope a solution ✅
In addition to merging the 3 PRs and minifying the script, the following needs to happen in the `Engine\Optimization\DelayJS\HTML`:

In `replace_scripts()`, we also need to transform the `src` attribute to `data-rocket-src` if it is present in the attributes of the matched script.

The related automated tests will need to be updated to match the changes.

### Estimate the ef

[2022-05-11 04:38] Mecanik commented on #4992
It's been more than 10 days without any resolution for my friend which is paying for WPRocket. Support has been very limited and with replies that are very... let's just say limited.

- On first access of the website: HTTP 200 - Content-Type header present.
- Subsequent access of the website: HTTP 304 - Content-Type header is missing.

https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/304

[2022-05-11 07:14] NataliaDrause commented on #3680
Related: https://secure.helpscout.net/conversation/1876516229/341827/

[2022-05-11 08:46] piotrbak commented on #4992
@Mecanik when we are sure that the browser cache is valid, serving 304 status code is the most efficient optimisation. This issue is related:
https://github.com/wp-media/wp-rocket/issues/1423
We created it 4 years ago and there were just a couple of people asking for implementation.

**>This is extremely bad, I cannot comprehend why you are doing this or why you would offer such option to people.*

[2022-05-11 09:25] vmanthos commented on #4792
**Related:** https://secure.helpscout.net/conversation/1878132072/342048/

[2022-05-11 09:53] DahmaniAdame commented on #2404
Related - https://secure.helpscout.net/conversation/1878847753/342181?folderId=3864735

[2022-05-11 16:54] juricazuanovic commented on #4406
Related: https://secure.helpscout.net/conversation/1866806214/340465/

[2022-05-11 18:37] Rodrihead commented on #4940
Hi everyone.

The problem is related to the "Removed unused CSS (beta)" option.
You have to disable it in order to fix the number of scheduler actions.

I hope WP Rocket fixes it on the next release.
Regards.

[2022-05-12 06:28] DahmaniAdame opened #5035 "Polylang and the mandatory cookie enhancement"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.2`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
WP Rocket sets the mandatory cookie `pll_language` when Polylang uses the browser language detection feature.

Browser language detection only works on the

[2022-05-12 06:28] Mecanik commented on #4992
Thank you for showing me where to comment out, this is really helpful. Regarding what I said, well... WP is a dynamic site, and you cannot HTML on dynamic sites; well you can but with "rules".

My friend (your customer) had to exclude like 50 pages from caching in WP Rocket otherwise his whole site broke.  I am really stunned that people use it "as is" because it's impossible to "just cache" the H

[2022-05-12 07:41] Michaelgimii opened #5036 "After the recent update, the database size decreased"
hi @piotrbak , After the recent update, the volume of my website database was reduced from 36 to 10 mb. I wanted to ask if this was due to the wp-rocket update? thanks

[2022-05-12 07:52] WordPresseur opened #5037 "Add Safe Mode button in Tools tab"
**Is your feature request related to a problem? Please describe.**
When a customer asks if there is such a thing as Safe Mode for WP Rocket, we have to explain that they need to try to "deactivate" plugin to be prompted to the safe mode which is a UX non-sense IMHO.

**Describe the solution you'd like**
Since we have now a real Safe Mode, It would be useful to have a button directly in the Tools T

[2022-05-12 08:28] piotrbak opened #5038 "Backend safelist for RUCSS exclusions"
**Is your feature request related to a problem? Please describe.**
It's a plugin part of the following issue:
https://github.com/wp-media/rucss-backend/issues/5

**Describe the solution you'd like**
WP Rocket needs to fetch specific exclusions from the remote server. It's about `inline_atts_exclusions`, `inline_content_exclusions` arrays.

**Additional context**
We need to make sure:
1. Fallback i

[2022-05-12 09:05] vmanthos opened #5039 "RUCSS - Total theme's carousel is breaking because of dynamic classes"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.11.2`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

[Total theme's ](https://total.wpexplorer.com/ )carousel is using dynamic, inline CSS selectors:

![](https://i.vgy.me/ULaJOW.jpg)

Those are not preserved in

[2022-05-12 10:25] vmanthos commented on #5005
**Related:** https://secure.helpscout.net/conversation/1880861679/342468?folderId=2135277

[2022-05-12 10:31] mostafa-hisham commented on #5038
**Initial solution discussed with @piotrbak**

- when RUCSS starts connecting with the backend API to fetch the updated exclusion list
- create a Transient that will store the RUCSS exclusion list, and save the list in a JSON file as a backup if we cannot reach the backend api.
- on the next RUCSS request going to check if there is data in the Transient and use it
- after the Transient is expired

[2022-05-12 10:50] vmanthos commented on #4284
**Related:** https://secure.helpscout.net/conversation/1875622067/341710/

[2022-05-12 14:27] NataliaDrause opened #5041 "RUCSS - Inline Related Posts widget breaks due to dynamic inline selector"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - yes
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
The Inline Related Posts plugin adds inline style with a selector like this `.u7cb7434f55ddbc61829903e3a7b5fb85`.
The numeric-letter value is dynamic and the lay

[2022-05-12 16:58] DahmaniAdame opened #5042 "Defer inline scripts"
**Is your feature request related to a problem? Please describe.**
It's possible to defer inline JavaScript code by transforming it to the following data scheme `data:text/javascript`.

This should help preserve the order of execution and less dependency on exclusions since everything will be deferred at once.

It will benefit more websites with extensive exclusions from Delay JavaScript Execution

[2022-05-12 17:19] piotrbak commented on #5041
Yes, we'll need a separate class for that one.

[2022-05-12 19:22] remyperona commented on #5038
Shouldn't the implementation of this be very similar to https://github.com/wp-media/wp-rocket/issues/3602 but simplified for just those parts?

[2022-05-13 06:02] DahmaniAdame commented on #4969
Related - https://secure.helpscout.net/conversation/1877221883/341924?
@piotrbak in this case, the customer is using Advanced Ads to serve Elementor templates.
When the ad is rotated on the page, it won't have any reference for its CSS on the page.
The style is added using `/wp-content/uploads/elementor/css/post-###.css`
Ticket - https://secure.helpscout.net/conversation/1877221883/341924

[2022-05-13 07:37] beekelder commented on #4813
Currently running in to the same issue; We're running a rather large webshop as a multisite-installation.

In every build/deploy i'm creating a php-file to run the `rocket_clear_domain()` function to clear the cache (so that i dont have any manual actions). I have recently discovered that the function only clears one domains cache, so now i'm still required to run through all sites and clear the i

[2022-05-13 09:17] mehedihasanziku commented on #4435
somehow related to #3602 , but with more specific objective.
maybe also help here #5038

[2022-05-13 12:00] DahmaniAdame opened #5045 "Delay JavaScript Execution compatibility with Ajax Search Pro"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.2`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
[Ajax Search Pro](https://ajaxsearchpro.com/) plugin doesn't work if jQuery is excluded from Delay JavaScript Execution.

No console error is showing. But w

[2022-05-13 15:21] poolet08 commented on #5021
Experiencing the same issue on our site this morning after the latest update. We were a few updates behind but everything seems to be working but that error is persistent at the top.

[2022-05-14 10:41] Michaelgimii opened #5047 "Automatic preloading of fonts"
**Describe the solution you'd like**

We can now manually put the desired font links in wp-rocket to be preloaded. But it would be great if the fonts were preloaded automatically. In fact, this feature will save time as well as better performance.

[2022-05-15 08:51] NataliaDrause commented on #5017
Related: https://secure.helpscout.net/conversation/1862766086/339722/

[2022-05-15 11:45] NataliaDrause commented on #5005
Related:
https://secure.helpscout.net/conversation/1884162535/342969?folderId=3864740
https://secure.helpscout.net/conversation/1884016662/342948

[2022-05-15 12:52] NataliaDrause commented on #4792
Related: https://secure.helpscout.net/conversation/1863027200/339767/

[2022-05-16 09:39] NataliaDrause commented on #5017
Related: https://secure.helpscout.net/conversation/1870469756/341005/

To add more details: customer added a new element/functionality on the page that had missing CSS. Clearing Used CSS didn't resolve the issue because site has almost 700 pages and only 100 were cleared - so the "fix" was not visible until all the Used CSS was manually cleared from the table.

[2022-05-16 10:44] JerissCloudCenter commented on #5047
I'm not part of the WP Rocket team but how do you expect to implement this? Some times need preloading some fonts, some not at all. If you mean that we should automatically preload all fonts, then absolute no on my side as it would give worse performance (too many requests blocking the first paint/rending of the page).

[2022-05-16 11:34] piotrbak commented on #5047
@Michaelgimii @jeriss-cloud-center Automatic preload of the fonts is implemented within the new Remove Unused CSS feature. You can read more about it here and learn how to disable it, etc.:
https://docs.wp-rocket.me/article/1529-remove-unused-css#preload-fonts

[2022-05-16 11:34] #5047 closed, assigned to nobody

[2022-05-16 13:19] piotrbak commented on #5036
@Michaelgimii Hello, thanks for creating the issue. Please remember that we use GitHub for development purposes. Your question should go directly to our beloved Support Team. To answer your question, yes, our update most likely casued this.

Thank you.

[2022-05-16 13:19] #5036 closed, assigned to nobody

[2022-05-16 13:55] Mai-Saad commented on #3889
Note for retest: WPR transients shall be deleted as well

[2022-05-16 16:56] viobru commented on #4990
Related: https://secure.helpscout.net/conversation/1872950941/341320/

[2022-05-16 19:01] alfonso100 commented on #5005
related https://secure.helpscout.net/conversation/1886047187/343257?folderId=273766

[2022-05-16 20:29] camilamadronero-zz commented on #2068
Related https://secure.helpscout.net/conversation/1885893114/343229/

[2022-05-17 05:40] DahmaniAdame commented on #2207
Related - https://secure.helpscout.net/conversation/1878460858/342084
The site has 200+ pages.
​After a couple of tries, preload is completed after processing a range between 50 up to 150 pages.
​The website has logs with Memory Limit issues as well as [a server configuration limitation](https://stackoverflow.com/questions/33375823/apache-proxfy-fcgi-error-dispatching-request-to). It might be link

[2022-05-17 06:58] NataliaDrause commented on #5017
Same case: https://secure.helpscout.net/conversation/1884953725/343052/

Changes were not applied even after clearing used CSS. There are ~2600 pages.
The issue is resolved after manually clearing the table.

[2022-05-17 09:06] DahmaniAdame opened #5051 "RUCSS to preserve inline CSS for the Ultimate Addons for WPBakery Page Builder"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.2`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
The Ultimate Addons for WPBakery Page Builder uses dynamic selectors by setting a random string:

[code]
![image](https://user-images.githubusercontent.com/

[2022-05-17 09:06] DahmaniAdame commented on #5051
@piotrbak this one is straightforward and won't need grooming. Should I add the PR directly?

[2022-05-17 09:23] vmanthos opened #5052 "RUCSS - JetEngine listing grid images aren't displayed because of dynamic classes"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.11.2`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

JetEngine's listing grid is using dynamic classes to display images:

![](https://i.vgy.me/LQlND0.jpg)

Every time a page is cached different items will be lis

[2022-05-17 09:27] piotrbak commented on #5051
@DahmaniAdame yes please, great

[2022-05-17 09:53] DahmaniAdame commented on #4507
Related - https://secure.helpscout.net/conversation/1882881657/342810/
@piotrbak we might need to reopen this one.
The implemented fix doesn't cover scenarios with other cache tiers where the cached version with the RUCSS will still be sent to WhatsApp.

[2022-05-17 09:54] piotrbak commented on #4507
@DahmaniAdame what do you mean by other cache? Server side caching mechanisms?

[2022-05-17 10:59] DahmaniAdame commented on #4507
@piotrbak yes. The fix won't work if the server-side cache doesn't bypass their cache when the WhatsApp user agent.

[2022-05-17 11:30] piotrbak commented on #4507
@DahmaniAdame But we're excluding this UA from every optimization from our end. Why our optimizations are applied then?

[2022-05-17 12:11] vmanthos commented on #4714
@piotrbak @Tabrisrp

I checked the following cases:
* `WP_Error`
* Response code other than `200`
* No response data.
*
Notices are displayed as expected. Please find my comments below.

When the response code isn't `200` we are displaying this notification:
![](https://i.vgy.me/QknjE6.jpg)

I think the message is a bit cryptic without a more specific context for a user that doesn't know we are su

[2022-05-17 12:22] piotrbak commented on #4714
@vmanthos Thank you! Indeed, the wording could be more accurate here, @Tabrisrp could you change it to the one proposed by Vasilis?
[code]

@Tabrisrp Do you know why the Beacon doesn't work? The article is published and URL/code seem to be good:
`60ddc72d9e87cb3d01249270`
`https://docs.wp-rocket.me/article/1608-error-notices-during-the-rocketcdn-subscription-process`

@vmanthos In terms of trouble

[2022-05-17 14:40] remyperona commented on #4714
I updated the message returned. For Beacon, the RocketCDN section was unchecked in the Beacon configuration, which would explain why it was not working. Should be good now.

[2022-05-17 15:00] juricazuanovic commented on #4940
Related: https://secure.helpscout.net/conversation/1887059298/343413/

[2022-05-17 15:07] viobru commented on #4990
Related: https://secure.helpscout.net/conversation/1887050808/343407

[2022-05-17 15:10] NataliaDrause commented on #5017
related: https://secure.helpscout.net/conversation/1886250247/343281/

~15000 pages

[2022-05-17 16:41] DahmaniAdame commented on #4507
@piotrbak that's true on websites without server-side or DNS-side cache. WP Rocket is directly handling requests and will be able to bypass cache.

If there are other caching layers, the response will be an optimized page as the other caching layer is not set to bypass cache if the request comes from WhatsApp, and they preceed WP Rocket's cache. And consequently will trigger the issue with RUCSS a

[2022-05-17 21:53] #5034 closed, assigned to nobody

[2022-05-18 04:46] DahmaniAdame commented on #5051
@piotrbak PR added.

[2022-05-18 07:28] worldwildweb opened #5055 "pop-ups from cdn.popt.in/pixel.js are not displayed"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ 3.11.2
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**
Pop-ups from popt.in (cdn.popt.in/pixel.js) are not displayed.
Pop-ups are showing when cdn.popt.in/pixel.js is excluded from JS minification.

**To Reproduce**
S

[2022-05-18 08:01] sarangsss29 commented on #4814
Same here. Any update on this WP-Rocket team?
Edit: Also, the sidebar and footer.

[2022-05-18 08:08] NataliaDrause commented on #4802
Related: https://secure.helpscout.net/conversation/1887224486/343452/

[2022-05-18 11:44] dreamjobma opened #5057 "WP Rocket Rollback not working"
When trying to rollback WP Rocket from 3.11.2 to 3.10.9, we have the following message:

<img width="707" alt="wp rocket rollback error" src="https://user-images.githubusercontent.com/49077367/169031189-60ddb033-eb6c-41cc-a830-f5e521d810aa.png">

[2022-05-18 11:55] NataliaDrause commented on #5057
related: https://secure.helpscout.net/conversation/1888476610/343643/

[2022-05-18 12:14] GeekPress commented on #5057
It's fixed.

[2022-05-18 12:14] #5057 closed, assigned to nobody

[2022-05-18 13:30] #4714 closed, assigned to remyperona

[2022-05-18 13:50] #5005 closed, assigned to remyperona

[2022-05-18 16:22] viobru commented on #3142
Related: https://secure.helpscout.net/conversation/1888852368/343735/

[2022-05-19 09:29] worldwildweb opened #5059 "Add Missing Dimensions doesn't work when XCurrent plugin is enabled"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ 3.11.2
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**
Add Missing Dimensions doesn't work when XCurrent plugin is enabled

**To Reproduce**
Steps to reproduce the behavior:
1. Install and activate [XCurrent](https://

[2022-05-19 09:30] kskonovalov commented on #1890
+1 same issue: when we update the page in the second language, the cache is not flushed for this page, even if we used the code from https://gist.github.com/herewithme/055a44497e7ad51920a9 (sometimes it worked and sometimes it's not)

[2022-05-19 09:42] worldwildweb opened #5060 "Add Missing Dimensions doesn't work when JetPacks Speed up image load times is enabled"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅  3.11.2
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**
Add Missing Dimensions doesn't work when JetPacks Speed up image load times is enabled

**To Reproduce**
Steps to reproduce the behavior:

1. Install and activat

[2022-05-19 13:43] #4252 closed, assigned to CrochetFeve0251

[2022-05-19 13:43] #4284 closed, assigned to CrochetFeve0251

[2022-05-19 13:44] #4745 closed, assigned to CrochetFeve0251

[2022-05-19 13:45] #4881 closed, assigned to CrochetFeve0251

[2022-05-19 13:48] #4972 closed, assigned to nobody

[2022-05-19 13:53] #4987 closed, assigned to jeawhanlee

[2022-05-19 16:41] camilamadronero-zz opened #5062 "Fusion Form 403 Error with Delay JavaScript execution"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - Yes
- Used the search feature to ensure that the bug hasn’t been reported before - Yes

**Describe the bug**
When Delay JavaScript execution is enabled, and even after user interaction, the Fusion Builder form will throw a 403 error when submitting the form.

**To Repro

[2022-05-20 07:41] DahmaniAdame opened #5063 "Enable Separate cache for mobile devices when JetMenu is used"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.2`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
JetMenu recommends using the Separate cache files for mobile devices to avoid responsive issues for their Megamenu.

https://crocoblock.com/troubleshooting/

[2022-05-20 08:05] DahmaniAdame commented on #928
Related - https://secure.helpscout.net/conversation/1888771471/343723

As per the customer's feedback, the following two lines were duplicated:

[code]

In another update, WP Rocket added its HTACCESS rules in double.

[2022-05-20 08:34] mehedihasanziku commented on #5063
Note: I did test before, separate cache will not cover all cases.

In one case i need to set separate cache as tablet instead of mobile [WP Rocket | Set Tablets As Mobile](https://github.com/wp-media/wp-rocket-helpers/blob/50ba7f182b531db302bf793f0d622ac1069a1f77/cache/wp-rocket-cache-tablet/wp-rocket-cache-tablet.php)

Extra Info: separate cache can be avoided if user decided to duplicate that me

[2022-05-20 08:47] DahmaniAdame commented on #5063
@mehedihasanziku thank you for your feedback.

This is more of an edge case and is likely related to the responsive breakpoints set by the theme and how the menu fits in the layout.

That would be an action/decision required from the user. We try to make things work out of the box as much as possible.

[2022-05-20 09:06] mehedihasanziku commented on #4507
I haven't tested this case such way, thanks for enlighten me another way to debug.

I think this issue will not be there if wprocket decided to use **RUCSS FileSystem Method**, but still this thread cases should be considered for future edge case

[2022-05-20 10:28] DahmaniAdame opened #5064 "RUCSS compatibility with the BoomBox theme dark mode"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.2`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
BoomBox dark mode dynamically injects a stylesheet that overrides the light mode style.

It's done using inline JavaScript that looks for a specific inline

[2022-05-20 13:07] #4231 closed, assigned to CrochetFeve0251

[2022-05-20 13:43] engahmeds3ed opened #5065 "RUCSS wrong home_url detection with WPML enabled"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version **Yes**
- Used the search feature to ensure that the bug hasn’t been reported before **Yes**

**Describe the bug**
With RUCSS we have SaaS dedicated queue for home pages so we need to detect if the current page is the home page and send this info to SaaS to operate it qui

[2022-05-20 13:58] alfonso100 commented on #3960
related: https://secure.helpscout.net/conversation/1882152963/342709

[2022-05-20 18:11] PaulSchiretz commented on #2952
Pleas add this soon, I'm going to replace some gif and apng images for speed reasons with mp4, pretty pointless if lazyloading doesn't work...

[2022-05-21 07:52] DahmaniAdame commented on #4991
Related: https://secure.helpscout.net/conversation/1889616387/343840/

This case requires preserving `#banner-grid-`.

At this point, it's clear that we are likely to have more of these cases.

What makes us miss it so far is that the elements need to be customized in order for their accompanying style to show up.

Flatsome declares the dynamic IDs when it processes the shortcodes as follows:

[co

[2022-05-21 08:05] DahmaniAdame commented on #4991
@piotrbak regarding @GeekPress suggestion, maybe we can do as Jo said, but restrict that to specific themes.

That would be one array referencing themes/plugins where we need to preserve inline style with IDs referencing a rand string or a timestamp. With a filter to control that array for flexibility.

It won't require individual compatibility files.

[2022-05-21 10:22] DahmaniAdame commented on #5065
Related - https://secure.helpscout.net/conversation/1887544004/343505/

[2022-05-21 11:12] DahmaniAdame commented on #4598
Ticket - https://secure.helpscout.net/conversation/1890117290/344013/

Preserving `divi-style-parent-inline-inline-css` is causing style override if Divi adds more style using another inline CSS `et-divi-customizer-global-cached-inline-styles`.

Both inline styles should be preserved to avoid conflicts.

@piotrbak should I PR that directly?

[2022-05-21 18:07] engahmeds3ed commented on #5065
As a temporary solution, we can use the following code to disable connecting to home SaaS queue
[code]

[2022-05-22 08:46] piotrbak commented on #4942
@Tabrisrp this should be regroomed considering the move to the filesystem, right? 🤔

[2022-05-22 09:33] piotrbak commented on #5024
Hello @d19dotca and thank you for the PR. When it passes the CR and QA, it'll be released in the new minor version.

[2022-05-22 09:36] piotrbak commented on #4991
@DahmaniAdame Are you sure that after each of those strings we have `rand` functions?

[2022-05-22 10:06] DahmaniAdame commented on #4991
@piotrbak yes, 100% sure. I checked them all individually. They are all appended by either `rand()` or `wp_rand()` like the two examples I mentioned. I tested a few to make sure they behave the same as the others we are already listing (when personalized, the inline style is added to the page below the element).

[2022-05-22 13:54] NataliaDrause commented on #4865
Related: https://secure.helpscout.net/conversation/1892862162/344371?folderId=3864740

[2022-05-22 15:00] girlie commented on #2441
Related: https://secure.helpscout.net/conversation/1892468362/344331/

[2022-05-22 18:37] Michaelgimii opened #5069 "Exclude WooCommerce cookies from cache"
**Describe the bug**
hi wp-rocket team!
I use the recently viewed WooCommerce query on my website. This query no longer works properly when I enable wp-rocket.
So I removed the cookie (woocommerce_recently_viewed) from the cache and the problem was solved.
If possible, please exclude this cookie from the cache by default in wp-rocket. This is really a very small task that can be solved in the next

[2022-05-23 02:33] chrismask commented on #3348
Hey, on my site commenting last-modified doesn't eliminate the problem, just reduces the occurrence sometimes. If user has visited homepage sometimes, it still shows the logged in version after logging out.
There is a 3rd occurrence of Last-Modified on this file. Should it be commented it too?
Edit: I can confirm commenting 3rd Last-Modified on the  maybe_process_buffer() function fixes the proble

[2022-05-23 08:06] engahmeds3ed commented on #5065
# Grooming

## Reproduce the problem
Yes I saw this issue on the customer's site.

## Identify the root cause
As mentioned in the issue, the whole problems comes from `is_home` request parameter.

## Scope a solution
We have two options here:-
1. **Hard option:** Add a new column in the DB usedcss table called `is_home` and when getting the job_id from SaaS we need to set it and use it on the othe

[2022-05-23 08:25] lhall-amphibee commented on #4105
I'm having the same issue on a Themosis install (using Illuminate as well).

[2022-05-23 09:05] mostafa-hisham commented on #4969
slack thread for reference: https://wp-media.slack.com/archives/C029G1B5HD2/p1650551460727419

I checked this issue before the client was switching from device-width to other by window resizing without refresh
we are caching separate CSS for mobile and desktop need to refresh to serve the correct one

@NataliaDrause is this issue still exist? also, the CSS file URL is not working

[2022-05-23 10:49] mostafa-hisham commented on #5041
After checking the plugin code
there are no filters or options provided in the plugin that we can use to preserve the style in a good way
the solution implemented by @NataliaDrause in the [ticket](https://secure.helpscout.net/conversation/1875506582/341695/)
is the only thing that we can do to keep the dynamic styles

**Scope a solution**
- create Third-party compatibility  `InlineRelatedPosts` in

[2022-05-23 13:27] viobru commented on #4802
Related: https://secure.helpscout.net/conversation/1882929807/342816

[2022-05-23 14:31] alfonso100 commented on #4802
related: https://secure.helpscout.net/conversation/1891882349/344266

[2022-05-23 15:03] NataliaDrause commented on #5041
Only the Pro version had the `.centered-text-area` selector, so this might be specific for that site only.

`.ctaText` is present in both: pro and free versions. So this one might be a better one.

[2022-05-23 17:27] bwafels commented on #4802
would it be possible to have this fix in 3.11.3? My host is giving me a temporary free database upgrade.

[2022-05-24 06:34] DahmaniAdame commented on #4961
Related - https://secure.helpscout.net/conversation/1892367990/344316/
Temporarily fixed by removing `loading=lazy` using manipulate buffer helper plugin.

[2022-05-24 06:45] NataliaDrause commented on #4991
Related: https://secure.helpscout.net/conversation/1894114754/344564/

Inline styles with `#col-` selectors needed to be preserved.
Used this helper to resolve the problem: https://docs.wp-rocket.me/article/1694-prevent-inline-styles-from-being-removed-by-remove-unused-css

[2022-05-24 07:54] engahmeds3ed commented on #5064
That's a good idea of replacing the id of the style with our styles, but I don't like changing the user's own script in that way as this may reproduce other unknown issues, I'd take the safest approach as u did using the helper plugin installed on the customer's site.

@wp-media/productrocket @piotrbak I think this is a product decision to take if this plugin is widely used we can make third party

[2022-05-24 08:08] DahmaniAdame commented on #5064
@engahmeds3ed Preserving the stylesheet is indeed safer.
Maybe we could have a separate preservation mechanism to keep only the empty `<style>` to use in cases where the issue is related to JavaScript.
This will avoid duplicate CSS and extra unnecessary weight on the page.
In this case, 1000 lines of code (CSS) is added to both the Used CSS and the preserved `<style>` tag.
This could apply to http

[2022-05-24 08:31] engahmeds3ed commented on #4660
@piotrbak what should we do here? do we need to still support older versions of WooCommerce or rely on the latest version?

[2022-05-24 08:44] piotrbak commented on #5064
@engahmeds3ed what do you think about the above? I think that it definitely makes sense 🤔

[2022-05-24 09:17] piotrbak commented on #4660
@engahmeds3ed It would be great to have a condition to be compatible with older versions too.

[2022-05-24 09:34] engahmeds3ed commented on #5017
I think it'd be better to use a raw query to delete all completed/failed rows instead of deleting one by one for many reasons:-
1. One query is always faster than multiple ones and u can notice that with huge sites.
2. To delete one by one we need to go into a loop which may take a lot of time and maximum execution time is reached and error would be triggered.
3. We took this approach before based

[2022-05-24 11:38] #4763 closed, assigned to vmanthos, jeawhanlee

[2022-05-24 13:09] #4967 closed, assigned to vmanthos, CrochetFeve0251

[2022-05-24 13:21] #5039 closed, assigned to nobody

[2022-05-24 13:22] #5052 closed, assigned to nobody

[2022-05-24 15:20] remyperona commented on #5017
I agree for our case it does seem better

[2022-05-24 18:38] remyperona commented on #5020
### Scope a solution ✅
Add `cfm` to the `$excluded_extensions` array in `CDN::is_excluded()` method

### Estimate the effort ✅
Effort `[XS]`

[2022-05-25 08:05] engahmeds3ed opened #5075 "Drop RUCSS resources table completely with old RUCSS shutdown date"
**Is your feature request related to a problem? Please describe.**
With old RUCSS shutdown at 30th of May 2022, we need to completely delete the resources table.

**Describe the solution you'd like**
With update we need to run raw query to drop this table and delete all related table class and schema from the code.
Don't forget the delete the table version row from options table that's added by Be

[2022-05-25 08:37] worldwildweb commented on #3142
related: https://secure.helpscout.net/conversation/1891607252/344233

[2022-05-25 09:28] #5006 closed, assigned to engahmeds3ed

[2022-05-25 09:34] DahmaniAdame opened #5076 "Clear RUCSS after a while when the feature is deactivated"
**Is your feature request related to a problem? Please describe.**

Currently, the only auto-clearing mechanism we have is `rocket_rucss_clean_rows_time_event` which we turn off after the feature is deactivated. I assume the same logic will remain when we move to the filesystem (data will still be kept in that scenario as well).

We are not clearing RUCSS data to make sure the Used CSS will still

[2022-05-25 09:51] NataliaDrause commented on #4814
Related: https://secure.helpscout.net/conversation/1889582751/343834?folderId=3864740

[2022-05-25 11:08] DahmaniAdame opened #5078 "Defer JS compatibility with Toolset Views"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.2`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**

When the Toolset View is added to a page where Defer JS is enabled without any exclusions, the content of the view doesn't show up, and the following error

[2022-05-25 13:42] #4789 closed, assigned to CrochetFeve0251

[2022-05-25 14:03] worldwildweb commented on #4961
related: https://secure.helpscout.net/conversation/1896784059/344970

[2022-05-25 14:47] #4769 closed, assigned to nobody

[2022-05-25 14:48] #5055 closed, assigned to nobody

[2022-05-25 15:03] #5051 closed, assigned to nobody

[2022-05-25 15:10] Mai-Saad commented on #4988
We need to fix https://github.com/wp-media/delay-javascript-loading/issues/34

[2022-05-25 16:25] #3929 closed, assigned to jeawhanlee

[2022-05-25 18:40] remyperona commented on #2293
The fix on the core side has been added in WP 6.0, so this should be working correctly now. @vmanthos Could you do a test to confirm?

[2022-05-25 18:50] remyperona commented on #5075
I think we should do that in 3.12, this kind of actions fit better in a major release

[2022-05-26 05:22] vmanthos commented on #2293
@Tabrisrp I checked this with **Heartbeat** set to **Reduced activity** and the value was `120`:

![](https://i.vgy.me/3OA7x4.jpg)

@piotrbak I'm guessing we can close this one.

[2022-05-26 06:43] NataliaDrause opened #5083 "RUCSS to preserve inline CSS for the Elementor's Unlimited Timeline widget"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.11.2
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
Timeline styles are added with inline CSS that has dynamic selectors like `#uc_unlimited_timeline_elementor15108`.

![image](https://user-images.githubusercon

[2022-05-26 07:44] NataliaDrause opened #5085 "RUCSS to preserve inline CSS for the Unlimited Elements plugin"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.11.2
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
I am creating this GH issue to collect all the dynamic selectors issues related to the [Unlimited Elements](https://nl.wordpress.org/plugins/unlimited-element

[2022-05-26 07:46] NataliaDrause commented on #5085
@piotrbak I could submit another PR for the current case as done [here](https://github.com/wp-media/wp-rocket/pull/5084).
But let me know if maybe we should approach it differently, since this plugin may have a big variety of dynamic selectors.

[2022-05-26 08:25] DahmaniAdame commented on #5005
Related - https://secure.helpscout.net/conversation/1896277937/344907/

[2022-05-26 09:47] Joliamendi commented on #5069
+1
I also experience this problem with installing rockets.
hi @piotrbak, Please check this issue , thanks!

[2022-05-26 10:51] piotrbak commented on #5085
@NataliaDrause We don't have any other way so far. I was trying to find in the PHP the pattern to locate all dynamic classes, but I wasn't able so far. Do you happen to know that?

[2022-05-26 12:04] piotrbak commented on #5085
Okay, after investigation we need a separate class for this plugin.

If it's enabled, or its pro version is enabled, we need to preserve the styles that contain:
`#uc_`

[2022-05-26 12:05] NataliaDrause commented on #5083
Closing this one because it will be tackled with a more generic approach in this GH #5085

[2022-05-26 12:05] #5083 closed, assigned to nobody

[2022-05-26 12:42] engahmeds3ed commented on #5064
Yes I like this idea, will update the grooming.

[2022-05-26 12:59] piotrbak commented on #5069
Hello @Michaelgimii thanks for creating the issue.

Could you tell me which plugin are you referring to?

Basically, to get it to work with full caching properly, you'd need to update that kind of widgets with ajax, there's no other way (of course except preventing the cache from beign generated with the cookie is present).

Your solution is not perfect, as the cookies are stored for some time and

[2022-05-26 13:16] piotrbak commented on #5078
@DahmaniAdame I've just asked for this plugin, will reproduce it on our own environments.

[2022-05-26 13:41] alfonso100 opened #5087 "RUCSS Compatibility with Flatsome's flickity slider"
**Before submitting an issue please check that you’ve completed the following steps:**
yes - Made sure you’re on the latest version
yes - Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When Flickity slider is used in Flatsome, the following class needs to be safelisted:
`(.*).flickity-(.*)`

The condition file to trigger the safelist is this file:

[2022-05-26 13:44] alfonso100 commented on #5087
@piotrbak this one requires a file detection in PHP probably, and QA, so I can't create a PR

[2022-05-26 13:44] Michaelgimii commented on #5069
hi @piotrbak, thanks for the reply.
I'm using the jet woobuilder plugin, and with this plugin I can display recently viewd products. This plugin exactly follows WooCommerce and uses the woocommerce_recently_viewed cookie. Therefore, caching this cookie in wp-rockrt causes a problem. So I think if you exclude this cookie from the cache, the problem will be solved.

[2022-05-26 15:27] claudio-uey commented on #4700
@piotrbak I am also seeing this issue.

[2022-05-26 15:35] piotrbak commented on #4700
@claudio-uey Please contact our Support Team, we'll investigate this and apply the fix immediately.

[2022-05-26 15:36] #2293 closed

[2022-05-26 17:07] mehedihasanziku opened #5088 "Preload Fonts: Change Preload Font Order"
**Is your feature request related to a problem? Please describe.**
Preload Fonts using `wp_head` hook doesn't look good (it's parsing later) , it's not improving CLS significantly.

**Describe the solution you'd like**
It should be added right after `</title>`

**Describe alternatives you've considered**
Maybe a filter to control it's position, but ultimately not needed, it should be right after `

[2022-05-27 07:08] vmanthos commented on #3889
@piotrbak The same is happening for transients as well, i.e. they are deleted from the main site but not from sub-sites. This should be taken into consideration when fixing the specific issue.

[2022-05-27 08:09] ghost commented on #928
Over the past months, i had few sites aswell that got the same issue.
The only temporary fix i have for now is to set `.htaccess` to 444 permissions, but it's quite problematic as you can guess.
Host: **O2switch** _(which use LiteSpeed Web Server)_

[2022-05-27 08:43] piotrbak commented on #3889
@vmanthos Thank you, updated my comment

[2022-05-27 12:13] DahmaniAdame opened #5091 "RUCSS compatibility with Polygone theme expanding sections"
RUCSS compatibility with Polygone theme expanding sections

**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.2`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Polygone theme (child theme for Divi) has a feature to expand section when they reach the middle

[2022-05-27 12:16] DahmaniAdame commented on #5091
Not adding a PR for now until I confirm another issue related to the same theme. Just in case we needed a compatibility file to fix it.
The expandable section stops behaving properly when lazyload for images is enabled.

[2022-05-27 12:31] jeawhanlee commented on #5085
Checked the plugin to see if I could find other selectors with prefix having dynamic suffixes that we could also preserve alongside `#uc_` but couldn't find any.

### Scope a solution
So going with @piotrbak. We will Create a Thirdparty Class, check if plugin is installed `UNLIMITED_ELEMENTS_INC` then hook to `rocket_rucss_inline_content_exclusions` and preserve `#uc_` and finally add tests.

###

[2022-05-27 13:11] piotrbak commented on #80
I can see that `Cache` option is not available there anymore and all performance settings (browser caching and gzip) are disabled by default. The plugin is just 10k installs and we have 4 tickets related to it during a couple of years. We can easily close the ticket.

[2022-05-27 13:11] #80 closed

[2022-05-27 13:16] piotrbak commented on #500
@Tabrisrp I think we can close the issue, I don't think it's reproducible for now. If you think opposite, please feel free to reopen it. 🙏

[2022-05-27 13:16] #500 closed

[2022-05-27 13:20] piotrbak commented on #503
We haven't heard about this issue for some time already. The Load CSS Asynchronously changed during this time too. Please feel free to repoen this issue with more details if needed.

[2022-05-27 13:20] #503 closed

[2022-05-27 15:49] piotrbak commented on #955
@webtrainingwheels is this still accurate? I wasn't able to get the `custom-css=` in the DOM. Added CSS as described here:
https://jetpack.com/support/custom-css/
was an inline one

[2022-05-27 16:07] piotrbak commented on #1089
@Tabrisrp is this still accurate with the new architecture? 🤔

[2022-05-27 16:07] Mai-Saad opened #5093 "CDN rewrite URL query string in certain cases"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.11.2
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
CDN rewrite URL query string which contains domain part

**To Reproduce**
Steps to reproduce the behavior:
1. Use the following script with your domain name `<scri

[2022-05-27 16:29] piotrbak commented on #1484
The UI has changed since then.

[2022-05-27 16:29] #1484 closed

[2022-05-27 20:35] camilamadronero-zz opened #5094 "Restore settings after Safe Mode"
**Is your feature request related to a problem? Please describe.**
Once you enable Safe Mode, there is no way to restore the old settings. This can cause the loss of multiple exclusions across multiple features.

**Describe the solution you'd like**
There is a way to restore the old settings after enabling Safe Mode instead of starting over and create double work in tricky configuration and exclus

[2022-05-27 21:49] camilamadronero-zz commented on #1997
Another request https://secure.helpscout.net/conversation/1898866009/345291/

[2022-05-28 08:27] DahmaniAdame commented on #3842
Related - https://secure.helpscout.net/conversation/1896903503/344999

[2022-05-28 08:27] DahmaniAdame commented on #5060
Related - https://secure.helpscout.net/conversation/1896903503/344999

[2022-05-30 04:43] mostafa-hisham commented on #4969
## Scope a solution :white_check_mark:
- Add a new filter to preserve URLs of links href
`$preserve_link_styles_urls = apply_filters( 'rocket_rucss_preserve_link_styles_url', [] );`
- create new function in`inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php` to check if the link should be preserved i the cache based on the filter
[code]
-  update the condition that removes styles from HTML
https

[2022-05-30 08:40] piotrbak commented on #5094
This is related:
https://github.com/wp-media/wp-rocket/issues/5037

[2022-05-30 11:56] piotrbak commented on #1594
Closing it since it works as expected. To load it immediately when Delay JS is enabled, we need to add exclusions described here:
https://docs.wp-rocket.me/article/1560-delay-javascript-execution-compatibility-exclusions#smart-slider

[2022-05-30 11:56] #1594 closed

[2022-05-30 11:59] piotrbak commented on #1604
@Tainq This is made for compatibility with GDPR. If you feel that our compatibility is not working correctly, please reopen the issue and share with me some more details.

[2022-05-30 11:59] #1604 closed

[2022-05-30 12:05] piotrbak commented on #1618
Closing it since there's no interest in this topic. It can be easily fixed with CDN and we have a solution if needed.

[2022-05-30 12:05] #1618 closed

[2022-05-30 12:35] piotrbak commented on #1736
@GeekPress Do you think we can close this issue?

Seems that there are no tickets about this at all:
https://secure.helpscout.net/search/?query=tag%3Athe7%20theme%20dynamic

[2022-05-30 12:39] GeekPress commented on #1736
@piotrbak Indeed, I think we can safely close it :D

[2022-05-30 12:39] #1736 closed

[2022-05-30 12:40] piotrbak commented on #1737
@GeekPress Closing it, since they provided a way to refresh data with ajax. Based on the latest ticket, it seems to be working perfectly with WP Rocket:
https://secure.helpscout.net/conversation/1803512989/329212

[2022-05-30 13:00] piotrbak commented on #1801
@tridoan We haven't heard about any similar case during that time. I'm closing this issue then, if you feel that there's still a problem, please reopen this and provide us with some further details.

[2022-05-30 13:00] #1801 closed

[2022-05-30 13:34] piotrbak commented on #2031
Since we haven't heard about this issue and from my last tests it's fixed- I'm going to close it. Feel free to reopen it if needed.

[2022-05-30 16:33] #5041 closed, assigned to jeawhanlee

[2022-05-30 16:58] NataliaDrause opened #5098 "Add Missing Image Dimensions throws PHP Warning: simplexml_load_file() [...] when relative path is used for SVG"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.11.2
- Used the search feature to ensure that the bug hasn’t been reported before  - yes

**Describe the bug**
The following PHP warning is being logged when a relative path is used for SVG.

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Add an SVG `yo

[2022-05-30 17:23] NataliaDrause commented on #4802
related: https://secure.helpscout.net/conversation/1902127202/345640?folderId=273766

[2022-05-30 18:19] piotrbak commented on #2094
@ScottTravisHartley For more than 2 years noone contacted us with this issue. If you're still experiencing it, please open a support ticket and we'll investigate this.

[2022-05-30 18:19] #2094 closed

[2022-05-30 18:22] piotrbak commented on #2098
Resolved here:
https://github.com/wp-media/wp-rocket/issues/2620

[2022-05-30 18:22] #2098 closed

[2022-05-30 19:09] piotrbak commented on #1459
Closing it in favor of:
https://github.com/wp-media/wp-rocket/issues/2285

[2022-05-30 19:09] #1459 closed

[2022-05-30 19:11] piotrbak commented on #2283
@GeekPress Do you think we should still consider this in `times of RUCSS`?

[2022-05-30 19:31] alfonso100 commented on #4969
Another case:
https://secure.helpscout.net/conversation/1894560161/344647/

**Cloudways** + **Varnish** in this case, since the **Separate cache for mobile devices** doesn't work properly on this environment, the following is not preserved as expected/is producing unexpected results:

`<link rel='stylesheet' id='woocommerce-smallscreen-css'  href='https://example.com/wp-content/plugins/woocommerce

[2022-05-31 07:16] #5028 closed, assigned to jeawhanlee

[2022-05-31 07:38] GeekPress commented on #2283
@piotrbak Indeed, with RUCSS it's useless. We can close it :)

[2022-05-31 10:09] NataliaDrause commented on #4802
related: https://secure.helpscout.net/conversation/1902797994/345687/

[2022-05-31 12:05] NataliaDrause commented on #4991
Related: https://secure.helpscout.net/conversation/1904615210/345963/

Preserved these selectors:
[code]

[2022-05-31 12:36] piotrbak commented on #2662
Looks like the problem is solved with the newest versions of the plugins.

[2022-05-31 12:36] #2662 closed

[2022-05-31 13:00] DahmaniAdame opened #5100 "Mention what plugin is forcing the separate cache for mobile devices"
**Is your feature request related to a problem? Please describe.**
When WP Rocket forces the separate cache for mobile devices when it's required by a plugin, we return the following message:

[code]

We don't mention which plugin is forcing the behavior. That could be useful for the customer to decide if they want to keep that plugin or not.

https://github.com/wp-media/wp-rocket/blob/c2e2a2405cc

[2022-05-31 13:28] #5024 closed, assigned to nobody

[2022-05-31 13:29] #4980 closed, assigned to vmanthos, CrochetFeve0251

[2022-05-31 15:44] piotrbak commented on #3103
Going to close this one, since we can't reproduce it and we don't have any negative feedback from customers.

[2022-05-31 15:44] #3103 closed

[2022-05-31 15:45] piotrbak commented on #3084
This is being covered by Remove Unused CSS in WP Rocket 3.11+.

[2022-05-31 19:33] #4991 closed, assigned to jeawhanlee

[2022-05-31 22:41] camilamadronero-zz opened #5102 "Update Broken Link in Plugin's First Activation Notice"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - yes
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
There is a 404 error in the [correctly-measure-websites-page-load-time](https://wp-rocket.me/blog/correctly-measure-websites-page-load-time/?utm_source=wp_plugin

[2022-06-01 05:28] DahmaniAdame commented on #4478
Related - https://secure.helpscout.net/conversation/1889629277/343846
Scrolling was not required. Just navigating on the website will at some point lock clicks. Even anchor links stop working.

[2022-06-01 08:59] paxtonpaxy opened #5103 "Exclude images from being lazy-loaded only on Desktop"
**Is your feature request related to a problem? Please describe.**

Hi, after using WP Rocket on many sites, I noticed that there is no option to exclude images from being lazy-loaded on a specific device (Mobile / Desktop / maybe Tablet).
In many cases, I had an issue with an LCP on the Desktop where the LCP was the image that was being lazy-loaded. So in order to improve the score on Desktop, I

[2022-06-01 09:00] #5085 closed, assigned to jeawhanlee

[2022-06-01 09:01] #2842 closed

[2022-06-01 10:25] NataliaDrause opened #5104 "Fatal error on Rollback from 3.11.3 version to 3.10.9"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.11.3
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
The following fatal error comes up on rollback from 3.11.3 to 3.10.9:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Have version 3.11.3 instal

[2022-06-01 10:27] NataliaDrause commented on #5104
a similar issue was reported here: https://github.com/wp-media/nodejs-treeshaker/issues/41

[2022-06-01 10:40] engahmeds3ed commented on #5104
This may happen when an action is working on the background and u try rollback so I believe we can cancel all active Action Scheduler actions when rollback.

[2022-06-01 10:44] NataliaDrause commented on #5104
I also reproduced it with a fresh 3.11.3 copy (no Remove Unused CSS is enabled, only default settings), and no pending AS actions from us: https://i.imgur.com/wewUNWG.png

[2022-06-01 13:06] piotrbak commented on #5104
@NataliaDrause does it cause site being inaccessible? Or just fatal error is logged? 🤔

[2022-06-01 13:22] #5026 closed, assigned to NataliaDrause

[2022-06-01 13:43] NataliaDrause commented on #5104
@piotrbak only the error in the log and only once. After that, it seems to be working fine with no errors.

[2022-06-01 22:30] DahmaniAdame opened #5106 "Clear cache when Brooklyn theme enables/disables their maintenance mode"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.2`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When the Brooklyn theme toggles its maintenance mode, it doesn't trigger cache clearing on our side.

This will create a stalling page showing the wrong mai

[2022-06-02 07:04] DahmaniAdame opened #5107 "Lazyload compatibility with Masonry grids"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.2`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When lazyload is used with a masonry grid, the grid doesn't render properly:

The grid will render as:

![image](https://user-images.githubusercontent.com/1

[2022-06-02 11:40] viobru opened #5108 "Minify JS compatibility with Sparxpres for WooCommerce"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version `3.11.2`
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
[Sparxpres for WooCommerce](https://wordpress.org/plugins/sparxpres-for-woocommerce/) widget is not properly displayed on the product page when Minify JS files is e

[2022-06-02 11:43] viobru opened #5109 "Delay JS compatibility with Sparxpres for WooCommerce"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version `3.11.2`
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
[Sparxpres for WooCommerce](https://wordpress.org/plugins/sparxpres-for-woocommerce/) widget is not properly displayed on the product page when Delay JavaScript exe

[2022-06-02 14:57] CrochetFeve0251 opened #5110 "New preload: Partial Preload part"
Need to partially preload when actions are done to posts, terms, categories.

For that we need to hook each filters linked to updating or adding theses entities.
On each of theses hook we need to get urls to update and update them in the database to pending.

[2022-06-02 20:05] #4930 closed, assigned to CrochetFeve0251

[2022-06-03 13:54] #5110 closed, assigned to CrochetFeve0251

[2022-06-03 14:14] alfonso100 commented on #5065
another case: https://secure.helpscout.net/conversation/1894560161/344647?folderId=2683093
the [filter](https://github.com/wp-media/wp-rocket/issues/5065#issuecomment-1133745028) fixed the problem thank you Ahmed!

[2022-06-03 18:30] sandyfzu opened #5111 "Serve YouTube Thumbnail in WebP format."
**Is your feature request related to a problem? Please describe.**
YouTube can serve thumbnails in WebP format, but WP Rocket Lazyload is serving only JPG.

**Describe the solution you'd like**
Making a few changes in the URL, a WebP image can be served.

Example:

JPG: https://i.ytimg.com/vi/Fgvokdu74fw/hqdefault.jpg
WebP: https://i.ytimg.com/vi_webp/Fgvokdu74fw/hqdefault.webp

The only differenc

[2022-06-03 21:02] juricazuanovic opened #5112 "Files modified with filemtime are not getting processed"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Customer is using [Imperva cache](https://www.imperva.com/products/cdn-caching/), and to clear the cache on Imperva they have to use .filemtime function during enqueue_style

[2022-06-04 11:08] DahmaniAdame commented on #3142
Related - https://secure.helpscout.net/conversation/1903198858/345790/
Fastclick didn't help in this case.

[2022-06-06 09:03] CrochetFeve0251 opened #5113 "New Preload: Remove old classes"
Remove classes and tests linked with the old preload:
- The full preload process.
- The partial preload process.
- The sitemap preload process.
- The homepage preload process.

[2022-06-06 09:38] piotrbak commented on #5109
We'll need a separate compatibility class here. Let's resolve the following one within the same PR:
https://github.com/wp-media/wp-rocket/issues/5108

[2022-06-06 09:40] piotrbak commented on #5108
Closing it in favor of:
https://github.com/wp-media/wp-rocket/issues/5109

[2022-06-06 09:40] #5108 closed, assigned to nobody

[2022-06-06 09:48] piotrbak commented on #5076
@wp-media/php It would make sense to keep `rocket_rucss_clean_rows_time_event` enabled when the function is deactivated. It should not cause any issues, what do you think? 🤔

[2022-06-06 11:36] CrochetFeve0251 opened #5115 "New Preload: Add thirdparties classes"
Thirdparty classes from:
- Yoast
- All in 1 SEO
- Jetpack
- SEOPress
- Math Rank
are obsolete and needs to be refactored.
Only Jetpack needs to send a sitemap URL with the filter `rocket_sitemap_preload_list` as there is no redirection from the Wordpress sitemap to their.

[2022-06-06 13:04] piotrbak commented on #5102
@GeekPress Can we resolve this on the website's side? Or should it be corrected in WP Rocket code?

[2022-06-06 13:40] #4933 closed, assigned to remyperona

[2022-06-06 13:49] jeawhanlee commented on #5104
@piotrbak I wasn't able to reproduce this issue perhaps there are other factors to consider to reproduce it @NataliaDrause ?

[2022-06-06 13:58] piotrbak commented on #5038
Related PR from backend repo:
https://github.com/wp-media/rucss-backend/pull/6

[2022-06-06 14:05] piotrbak commented on #5104
@jeawhanlee Could you try it on a bigger site? Like:
1. Disable Preload completely, make sure that there are no RUCSS entries in DB
2. Enable RUCSS
3. Enable sitemap preload (to preload at least 100 URLs)
4. Wait around 1 minute and rollback

[2022-06-06 14:10] jeawhanlee commented on #5104
@piotrbak  Ok will do that
I was just considering what @NataliaDrause natalia stated here about Removed Unused CSS being disabled. 🙂

[2022-06-06 15:19] gmetais commented on #4988
Hello,

I've added a commit (https://github.com/wp-media/delay-javascript-loading/pull/24/commits/ead18c3586b344c2da70f72aa0f61086ab51e0a9) on the branch `fix-layout-slowness-2` that fixes the bug reported in https://github.com/wp-media/delay-javascript-loading/issues/34.

Can you please merge it with the rest?

(Thanks for the bug detection @Mai-Saad & @piotrbak !)

[2022-06-06 15:22] piotrbak commented on #4988
@jeawhanlee Could you update the script and the plugin's branch?

@gmetais Thank you! 🥇

[2022-06-06 16:35] jeawhanlee commented on #4988
@piotrbak Ok

[2022-06-06 17:15] webtrainingwheels commented on #955
@piotrbak I haven't seen it in a while.... maybe they changed something since 2018 😬

[2022-06-06 18:44] alfonso100 commented on #4802
related: https://secure.helpscout.net/conversation/1908787648/346556/

[2022-06-07 07:49] NataliaDrause commented on #5017
Related: https://secure.helpscout.net/conversation/1871590138/341144/
Failed rucss for the homepage until I manually truncated the Used CSS table.
Site has 2000+ pages

[2022-06-07 08:16] NataliaDrause commented on #2441
Related: https://secure.helpscout.net/conversation/1907687759/346423?folderId=3864740

[2022-06-07 08:45] vmanthos commented on #5094
**Related ticket:** https://secure.helpscout.net/conversation/1910733609/346845?folderId=2135277
The request is in the video sent by the customer.

[2022-06-07 09:07] vmanthos opened #5117 "WP Rocket's ignored query strings aren't preserved in the URL in specific conditions"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.11.3`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When testing [ignored query strings](https://docs.wp-rocket.me/article/971-caching-query-strings#ignored-parameters), e.g. `utm_source` and the following condi

[2022-06-07 11:51] vmanthos commented on #4942
Related request: https://secure.helpscout.net/conversation/1912981398/347148/

[2022-06-07 13:07] #5113 closed, assigned to CrochetFeve0251

[2022-06-07 13:24] jeawhanlee commented on #5104
### Reproduce the problem
I was able to reproduce the error on a much larger site as recommended by @piotrbak with the steps given.

### Identify the root cause
As stated by @engahmeds3ed This happened because there was a running action before trying to rollback and since 3.10.9 does not introduce `AS` just yet, the class is undefined and an error is thrown.

### Scope a solution
I think we can ad

[2022-06-07 15:26] alfonso100 commented on #4376
Another case with woodmart:
https://secure.helpscout.net/conversation/1889988975/343926

[2022-06-07 15:27] remyperona commented on #5104
The idea is good, I created a new filter in this PR, you can re-use to do this change https://github.com/wp-media/wp-rocket/pull/5105/files#diff-36ba3dfbe3bfc24e0e008d6506a06f4b35ae273b89234eebb5948c96ba0b6e26

[2022-06-07 20:04] #4931 closed, assigned to CrochetFeve0251

[2022-06-07 23:04] webtrainingwheels opened #5118 "Minify CSS whitespace removal affects calc()"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**
When CSS minification is enabled, some whitespace is removed in `calc` functions which breaks them.
This is known to affect the popular Total theme (50 000 sales on them

[2022-06-08 06:55] vmanthos commented on #4792
**Related ticket:** https://secure.helpscout.net/conversation/1910733609/346845/

In the case I checked (`WP Rocket 3.11.3`), disabling programmatically the dynamic CSS didn't resolve the issue. That was resolved only when I disabled the **Dynamic CSS** from Divi's options page.

In this case, a file was injected using JavaScript (https://snippi.com/s/bfm6xqd) and that overrode CSS rules in the us

[2022-06-08 10:03] vmanthos opened #5119 "Action Scheduler deprecated DateTime warnings with PHP 8"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.11.3`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When using Remove Unused CSS with PHP 8 (tested with `8.1.6`) the following warnings pop up in the `debug.log`:
[code]

**To Reproduce**
Steps to reproduce the

[2022-06-08 10:30] vmanthos commented on #5017
Related: https://secure.helpscout.net/conversation/1914150627/347353/

[2022-06-08 13:09] #5017 closed, assigned to engahmeds3ed

[2022-06-08 13:09] #4875 closed, assigned to CrochetFeve0251

[2022-06-08 13:42] Agathemed opened #5121 "Cancel RocketCDN subscription"
**Is your feature request related to a problem? Please describe.**

There are 2 ways to stop a RocketCDN subscription:
- from the WP Rocket plugin, CDN tab
- from the account pages of WP Rocket, RocketCDN Billing tab

We would like to keep only one of these 2 ways.

**Describe the solution you'd like**

In the WP Rocket plugin, CDN tab, remove the `Manage Subscription` link.

![Capture d’écran 20

[2022-06-08 14:15] alfonso100 opened #5122 "Typo in Use WP_Rocket\ENgine\Admin\Beacon\Beacon declaration at inc/Engine/Optimization/RUCSS/Admin/Settings.php"
**Before submitting an issue please check that you’ve completed the following steps:**
yes - Made sure you’re on the latest version
yes - Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
There is a typo, `ENgine` on[ this line](https://github.com/wp-media/wp-rocket/blob/2a31aaac709286193db679d9155861da4600e46f/inc/Engine/Optimization/RUCSS/Admin/Sett

[2022-06-08 14:22] NataliaDrause commented on #2956
Another request: https://secure.helpscout.net/conversation/1913362632/347250?folderId=3864740

[2022-06-08 21:32] camilamadronero-zz commented on #2366
New request https://secure.helpscout.net/conversation/1909733078/346740/

[2022-06-09 09:27] DahmaniAdame commented on #2366
Related - https://secure.helpscout.net/conversation/1913521013/347268/

[2022-06-09 12:30] jeawhanlee commented on #5109
### Reproduce the problem
I was not able to reproduce this because there was something required on the sparxpres plugin called link ID.

### Scope a solution

**For Delay js exclusion**
We can create a Thirdparty class for sparxpress like @piotrbak stated.
- Check if plugin is activated
- We hook to `rocket_delay_js_exclusions` filter then exclude `/wp-includes/js/imagesloaded.min.js`

**For Minif

[2022-06-09 13:30] NataliaDrause opened #5126 "Usage of rocket_use_native_lazyload filter breaks some images when LazyLoad is enabled"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.11.3
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
In some cases when our filter `rocket_use_native_lazyload` is used and our LazyLoad is enabled, we apply double lazy-load on images.
The attribute `loading=la

[2022-06-09 13:35] worldwildweb opened #5127 "Replace YouTube iframe with preview image alt attribute is empty"
**Is your feature request related to a problem? Please describe.**
When Lazyload > Replace YouTube iframe with preview image is enabled the image has an empty alt attribute.
<img src="https://i.ytimg.com/vi/q_1D6wMXIAI/hqdefault.jpg" **alt=""** width="480" height="360">

**Describe the solution you'd like**
The alt attribute could have alt="youtube preview image" for instance
<img src="https://i.y

[2022-06-09 13:56] NataliaDrause commented on #5126
Possibly related: https://secure.helpscout.net/conversation/1914004737/347338?folderId=3864740

`loading=lazy` attribute is present along with our LazyLoad

[2022-06-09 16:38] #4932 closed, assigned to CrochetFeve0251

[2022-06-09 17:02] piotrbak commented on #5103
Hello @risticaivan and thanks for creating the issue. We're planning to take care of auto-exclusions and preload of the images that are visible on the first paint. Because of that, we won't be implementing additional fields for that.

For now, you can easily use code similar to this one (+ `rocket_lazyload_excluded_attributes` or `rocket_lazyload_excluded_src` filters) to exclude images programati

[2022-06-09 17:02] #5103 closed, assigned to nobody

[2022-06-09 17:35] piotrbak commented on #5119
Seems like this problem was resolved in 3.4.1 version of Action Scheduler:
https://github.com/woocommerce/action-scheduler/blame/3.4.1/functions.php#L330

We need to update our package

[2022-06-09 20:05] #4934 closed, assigned to CrochetFeve0251

[2022-06-09 22:39] smerriman opened #5128 "Limiting critical CSS to the latest item is not sufficient"
When WP Rocket generates critical CSS for posts, it creates it solely based on the most recent post - same for pages, categories, etc.

Our site displays posts from a particular category in a different style to posts in other categories.

When critical CSS is regenerated, this results in completely wrong critical CSS being applied to a large set of posts.

It appears the only option is to disable

[2022-06-10 07:38] engahmeds3ed opened #5129 "RUCSS: Automatic detection for dynamic DOM elements and styles"
**Is your feature request related to a problem? Please describe.**
We need a way to automatically detect the dynamic DOM elements and styles to be preserved in the page.

**Describe the solution you'd like**
When we talked in the last meeting we found possible solutions which need to be validated based on the current issues/patterns as follows:-

1. Preserve alpha-numeric IDs/Classes which has mor

[2022-06-10 08:21] DahmaniAdame opened #5131 "Defer JS compatibility with LayerSlider"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.3`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When Layer Slider is used with Defer JS, the following error shows up:

[code]

The issue is coming from the inline script declaring `lsjQuery`.

[code]

Si

[2022-06-10 08:25] endcoreCL commented on #5126
Is there any quickfix for this issue? We do not use the filter `rocket_use_native_lazyload`.

*edit*

adding `add_filter( 'rocket_use_native_lazyload', '__return_true' );` will fix the issue for us.

[2022-06-10 08:33] DahmaniAdame opened #5132 "Defer JS compatibility with Medical Clinic theme"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.3`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When [Medical Clinic theme](https://themeforest.net/item/medical-clinic-health-doctor-medical-wordpress-theme/18277620) is used with Defer JS, the following

[2022-06-10 09:46] jeawhanlee commented on #5087
### Reproduce the problem
Reproduced online

### Identify the root cause
In regards to what @mostafa-hisham stated when the issue was reported - we are not waiting for events to fire after the load.

### Scope a solution
I think I can see 2 solutions here.

**First one**
- We can add a second argument to the filter which is the buffer output $html.
https://github.com/wp-media/wp-rocket/blob/a51217

[2022-06-10 10:12] jeawhanlee commented on #5121
We can remove this method `WP_Rocket\Engine\CDN\RocketCDN\AdminPageSubscriber::display_manage_subscription` and also remove related tests here `WP_Rocket\Tests\Integration\inc\Engine\CDN\RocketCDN\AdminPageSubscriber`

[2022-06-10 10:18] Michaelgimii opened #5134 "Preload website images automatically in wp rocket"
**Is your feature request related to a problem? Please describe.**
no, Request a new feature

**Describe the solution you'd like**

Preloading images has a tremendous effect on increasing the loading speed of the website. So great if you add this feature. I do not know, maybe you already have a plan for it. If yes, is it clear in which version this feature will be added?
Thank you in advance for y

[2022-06-10 10:22] DahmaniAdame opened #5135 "Enhancing browser cache for pages"
**Is your feature request related to a problem? Please describe.**
We currently use `max-age=0` on cached pages.

This forces the browser to always revalidate the page before using it from cache.

Though the overhead is not much (involves only the headers), it is still a request that shouldn't necessarily be sent on every revisit of the page.

**Describe the solution you'd like**

We can use `max-

[2022-06-10 10:41] piotrbak commented on #5129
Here's the list of the patterns:
https://docs.google.com/spreadsheets/d/1tIxvwSn_qJVdWIopqwVJ2DetAo5fNfIfr-d4ib1xs6k/edit?usp=sharing

[2022-06-10 12:35] alfonso100 commented on #4961
related: https://secure.helpscout.net/conversation/1915957845/347723?folderId=2683093

[2022-06-10 14:50] mifrero opened #5137 "WPR cannot be deactivated because the deactivation modal is not present on the plugins page"
**Before submitting an issue please check that you’ve completed the following steps:**
**- Made sure you’re on the latest version**
- Yes, WP Rocket 3.11.3 installed
**- Used the search feature to ensure that the bug hasn’t been reported before**
No previous issues related.

**Describe the bug**
When WP Rocket is activate in Plugins page, cannot be deactivated clicking on Deactivate link. Only rig

[2022-06-10 18:11] camilamadronero-zz commented on #5017
related https://secure.helpscout.net/conversation/1914726953/347501?folderId=2675957

[2022-06-10 18:26] lukecav commented on #5134
https://docs.wp-rocket.me/article/1494-preload-largest-contentful-paint-image

[2022-06-11 04:35] DahmaniAdame commented on #4961
Related - https://secure.helpscout.net/conversation/1913205820/347217/

Temporarily fixed by removing `loading=lazy` using manipulate buffer helper plugin.

[2022-06-11 11:27] worldwildweb commented on #4032
related https://secure.helpscout.net/conversation/1916333415/347773/ but in wpr 3.11.3
The issue occurs only when Behavior in backend is set to Reduce Activity

[2022-06-13 04:00] mostafa-hisham commented on #5137
### Reproduce the problem
I was not able to reproduce this issue.

testing on m local setup the modal shows up correctly also the warning in the image shows
![image](https://user-images.githubusercontent.com/29744252/173275939-16b8f082-a6e6-43fb-b827-be2d32e468a9.png)

the warning in this image and video should not prevent the Model from showing up

After reviewing the [slack thread ](https://wp-m

[2022-06-13 12:42] NataliaDrause commented on #4802
possibly related: https://secure.helpscout.net/conversation/1918142358/348049?folderId=3864740

[2022-06-13 15:11] #4913 closed, assigned to remyperona

[2022-06-14 04:33] vmanthos commented on #4802
**Related:** https://secure.helpscout.net/conversation/1918522374/348134/

[2022-06-14 07:53] CrochetFeve0251 commented on #4792
## Scope a solution

In the Divi thirdparty class we can add a new method `remove_late_assets` that is fired on the action `after_setup_theme` to make sure the theme is loaded and the callback already registered.

Inside this function we will have juste to remove the callback to the action with the following logic:
[code]

## Estimate effort

Effort `XS`

[2022-06-14 08:00] CrochetFeve0251 commented on #4942
@piotrbak  I got some review from @Tabrisrp 25 days ago but I think we will have to adapt the solution anyway as this is not clearing files.

@piotrbak do we wait the PR with the filesystem to be merged?

[2022-06-14 08:55] engahmeds3ed commented on #5137
@mifrero
The problem mainly is a conflict with a plugin called [WordPress REST API Authentication](https://wordpress.org/plugins/wp-rest-api-authentication/)

The problem mainly in this plugin is they have an opened div without having a closing one for it here:

https://plugins.trac.wordpress.org/browser/wp-rest-api-authentication/trunk/admin/partials/support/class-mo-api-authentication-feedback.p

[2022-06-14 08:57] engahmeds3ed commented on #5137
@piotrbak need ur input to remove from the sprint as it's not our problem, what do u think?

[2022-06-14 09:05] piotrbak commented on #5137
@engahmeds3ed Yes, and let's see the future feedback. This happened to me too, but it was also caused by 3rd party.

[2022-06-14 09:20] engahmeds3ed commented on #5087
@mostafa-hisham I believe this will be solved when you finish the part of DOM conditions, right?
I believe we need to wait till Mostafa finishes this issue so it'd be solved.

[2022-06-14 09:27] mostafa-hisham commented on #5087
@engahmeds3ed
it should be solved by backend DOM conditions
but if it is urgent we can do the third-party solution and then remove it when the backend DOM conditions solution is done and tested
also, we need to check the other third-party if it can be fixed by backend DOM conditions we should remove them
@piotrbak  what do you think?

[2022-06-14 09:56] andyz02 commented on #3142
Do you already know when you will be able to fix the double click issue? We haven't been able to update from 3.10.8 on multiple sites yet due to the double click issue. Your support also received all our login credentials for checking already...

[2022-06-14 10:38] piotrbak commented on #5087
@mostafa-hisham @engahmeds3ed Yes, let's wait for the DOM conditions to be available.

[2022-06-14 12:19] tranngocminhhieu commented on #3142
My solution is to switch to LiteSpeed Cache (my hosting is LiteSpeed Server); the performance is excellent. The problem was resolved.

I can not wait for the developer to fix the problem. So I don't have to spend money for WPRocket after switching.

[2022-06-14 13:00] #5119 closed, assigned to engahmeds3ed

[2022-06-14 13:08] #5076 closed, assigned to remyperona

[2022-06-14 13:09] #5122 closed, assigned to alfonso100

[2022-06-14 20:41] thekendog commented on #5135
So if I'm testing something and purge the URL from the cache, I have to wait 60 seconds to see my change?

[2022-06-14 20:56] DahmaniAdame commented on #5135
@thekendog this is just a concept yet to be tested and validated.
The idea is to limit unnecessary requests to origin to revalidate the content when content is static and revisited in a short period of time.
If it behaves as expected and proves to enhance things, there will likely be a filter to change the figures. Possibly a testing mode now that you brought that detail to the table.

[2022-06-15 00:12] dbarproductions commented on #4802
This table is 46GB on my client's site that has over 100,000 WooCommerce products in it. Even the postmeta table for that many products is only 2.4GB. I only just discovered this issue when trying to clone the database to my local dev environment (they installed the WP Rocket plugin on their own) and saw how huge it was. It's going to use all their disk space very quickly with the nightly backups.

[2022-06-15 01:38] JoshuaVB commented on #4961
is it possible to share the plugin/function being used to strip the `loading=lazy`? We're having this issue with a client site (http://influitive.com/) and trying to figure out how to resolve. We have an active WP Rocket account but can't log in as the password reset links are going to a 503 page - otherwise I would have submitted a ticket normally (account email joshua.vanboxtel@gmail.com).

[2022-06-15 02:00] melissahie commented on #4961
@JoshuaVB WP Rocket customer service linked me this plugin https://jmp.sh/AEmEIZD

It worked, but i've since then decided to disable lazy-loading via WP rocket since Wordpress has implemented native lazy loading since WP 5.5, so I decided to just use that.

[2022-06-15 04:14] Nader-abdi commented on #2409
I have this issue too, OpenLiteSpeed 1.7.16 and WP Rocket 3.9.13....

[2022-06-15 06:42] DahmaniAdame commented on #4478
Related - https://secure.helpscout.net/conversation/1907547127/346403?folderId=3864735

[2022-06-15 07:18] DahmaniAdame commented on #4961
@JoshuaVB the helper plugin @melissahie shared is the one.

@melissahie a quick clarification about the native lazyload.

It has a 1250px (up to 2500px on 3G) threshold from the viewport vs. our lazyload has a 300px threshold from the viewport.

That means the native lazyload will trigger loading images way too early, and in some cases, it will load unnecessary images that the user won't reach on

[2022-06-15 07:23] melissahie commented on #4961
@DahmaniAdame thanks for the detailed explanation. it's what i was trying to find out when I was deciding between native vs WP rocket lazy load! I'll take a look again and see which one is best for my website.

[2022-06-15 07:25] bwafels commented on #4802
@dbarproductions My host also makes daily automatic DB backups. Normally they keep 14 days of backup but I see that in my case they only have 7 days. They probably are trying to keep it within the limits that way for a little longer.

[2022-06-15 07:28] DahmaniAdame commented on #4802
@dbarproductions + @bwafels the issue will soon be fixed as storing the used CSS will move from the database to the filesystem.

[2022-06-15 09:38] RoyKoeleman commented on #2542
This problem is even worse, as it also removes all custom headers used.

[2022-06-15 11:06] DahmaniAdame commented on #5021
The extra tables seem to be backups. They will always contain a number.

If we replaced the SQL we do here - https://github.com/wp-media/wp-rocket/blob/1e4ad9da4e138dc018d9d29eee9eab20fb409abe/inc/Engine/Optimization/RUCSS/Admin/Subscriber.php#L126-L128

with:

[code]

This will grab any table containing `actionscheduler` and will exclude any table with numbers from the results.

We should get an

[2022-06-15 12:20] engahmeds3ed commented on #5129
I got the main page builders examples and I found that the pattern of alpha-numeric is also there mainly without having dynamic part so if we safelisted all this pattern, we will have a big used CSS that isn't used in the page so I see that the cons is more than the pros.

@mostafa-hisham suggested to have the html from the SaaS and then the plugin serve it in the cache file but this will be valid

[2022-06-15 13:10] #4605 closed, assigned to DahmaniAdame

[2022-06-15 13:59] NataliaDrause commented on #2441
Related: https://secure.helpscout.net/conversation/1896805238/344974?folderId=3864740

[2022-06-15 14:07] vmanthos commented on #5063
@DahmaniAdame Do you happen to have a copy of the JetMenu plugin? I need to use that for QA.

[2022-06-15 15:31] NataliaDrause commented on #5065
Likely related: https://secure.helpscout.net/conversation/1921362375/348655?folderId=3864740

[2022-06-15 15:49] remyperona commented on #5126
First screenshot is as expected when native lazyload is enabled.

Second screenshot is using background image on a div element, which is going to use the JS lazyload always. The code looks ok, but possibly since it looks like a kind of carousel, it's not working correctly?

[2022-06-15 15:53] remyperona commented on #5126
Looking at the JS library repo, enabling use native prevents background images lazyload from working with our current code implementation: https://github.com/verlok/vanilla-lazyload/issues/439

We will need to update the code to make it work based on the proposed solution in this issue.

[2022-06-15 17:17] #5121 closed, assigned to jeawhanlee

[2022-06-15 17:18] #5065 closed, assigned to jeawhanlee

[2022-06-15 18:42] girlie commented on #5094
Related: https://secure.helpscout.net/conversation/1921475913/348681/

[2022-06-15 19:23] remyperona commented on #5129
Remember that the goal is not to have them in the used CSS, but to safelist the patterns when we remove the styles from the HTML.

[2022-06-15 21:04] alfonso100 opened #5148 "Clear cache for additional categories when %category% is used in permalinks"
**Before submitting an issue please check that you’ve completed the following steps:**
yes - Made sure you’re on the latest version
yes - Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When a site is using this permalink structure: ` /%category%/%postname%/`
and a post is added into 2 categories, WordPress will allow to visit the post using any cat

[2022-06-16 04:48] DahmaniAdame commented on #5063
@vmanthos no, I don't. But I can ask the customer if they can provide the plugin for testing.

[2022-06-16 04:53] vmanthos commented on #5063
I "fake-installed" JetMenu by creating an empty `jet-menu/jet-menu.php` plugin. As long as that's the correct file for the plugin we should be good.

But it would be best to test this with the actual plugin. If you don't mind, please ask for it.

[2022-06-16 06:45] arunbasillal commented on #5010
Hello everyone 👋 🥰

Can we also extend this to other post types with `public` and/or `publicly_queryable` as `false`?

Example: WooCommerce coupons.

![image](https://user-images.githubusercontent.com/5751474/174004500-7f972092-b555-4ea5-bd57-9890dd7d0895.png)

The following is a screenshot from a custom post type for emails where `'public' => false,` and `'publicly_queryable' => false,`

![image]

[2022-06-16 07:08] #4969 closed, assigned to engahmeds3ed

[2022-06-16 08:08] #5010 closed, assigned to jeawhanlee

[2022-06-16 08:10] piotrbak commented on #5010
Hey @arunbasillal thanks for your comment! That sounds good, I'll create a new issue to cover it.

[2022-06-16 08:29] piotrbak opened #5149 "Remove WP Rocket's options from not public post types"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When the post type is not `public` we should not display:
1. `Clear this cache` button on the view listing all CPT entries
2. `Clear This Post` button from top menu while ed

[2022-06-16 09:12] DahmaniAdame opened #5150 "Hardcode lazyload placeholder single quotes to avoid conflicts"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.3`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
We use the following placeholder when lazyloading images:

[code]

The single quotes holding the values might conflict if an image is added inside a JavaScr

[2022-06-16 09:39] engahmeds3ed commented on #5129
Good point, so I need to check if those alpha-numeric patterns that are used extensively in elementor and visual composer as examples, are used in internal CSS or not, if not so I believe we could start with adding this alpha-numeric pattern to preserve the internal style into the page then we can test with main themes and popular page builders and see if the used CSS changes in a bad way or not.

[2022-06-16 12:29] arunbasillal commented on #5149
Thanks for opening this @piotrbak.

- If post type is not `public`, the post will not have a view when logged-in as admin. So point 3 will not exist for these posts.

- If the post type uses classic editor, then these posts will still have the `Clear Cache` button in the `Publish` meta box. (Screenshot available in https://github.com/wp-media/wp-rocket/issues/5010#issuecomment-1157295620)

[2022-06-16 13:15] #5117 closed, assigned to remyperona

[2022-06-16 13:27] #4802 closed, assigned to remyperona

[2022-06-16 14:07] reuhno opened #5152 "Varnish add-on doesn't purge when Polylang is set up to work with multiple domains"
Hello,

On multilanguage site with multiple domains set up with Polylang and Cloudflare, clean cache don't send purge request to secondary domain.

When flushing cache for individuals page, eg `/wp-admin/admin-post.php?action=purge_cache&type=post-1234&_wpnonce=xxx` this does not work either. Every request is sended with this header :

[code]

_Since cloudflare is enabled, the localhost address is

[2022-06-16 15:29] JerissCloudCenter commented on #4801
https://wpml.org/forums/topic/page-specific-settings-arent-being-duplicated-by-wpml-advanced-editor/#post-10718373

Please have a look at this code, it's been provided by WPML themselves and it solves the issue.
Can you fix this in your plugin? Thanks

[code]

[2022-06-16 15:33] CrochetFeve0251 commented on #5098
## Reproduce the problem

I was able to reproduce the error with a diffrent svg using the one from this issue:
https://forge.typo3.org/issues/86428

## Identify the root cause
The root cause I that the content from the SVG is malformed and that generate a warning.

## Scope a solution

To solve this problem we can simply add a new param to not show warnings from the function.
[code]
This is the on

[2022-06-17 05:18] DahmaniAdame commented on #5064
Related (mechanics-wise) - https://secure.helpscout.net/conversation/1920150352/348451/

We exclude `divi-style-inline-inline-css` from RUCSS https://github.com/wp-media/wp-rocket/issues/4598, which causes it to overrule other styles. In this case, I had to exclude `et-critical-inline-css` as well.

Should be fixed when this issue is sorted out.

[2022-06-17 06:02] DahmaniAdame commented on #5129
I've never seen any dynamic classes on an actual CSS file. So, we are mainly targeting inline CSS with dynamic selectors/classes.

SaaS can be involved as we have already partially processed some information we need in this case. We store there an array of selectors when processing pages.

We could use that to pick matching alpha-numeric patterns used on `classes` and `IDs`, strip the alpha-numeri

[2022-06-17 06:47] DahmaniAdame opened #5153 "Delay JavaScript Execution compatibility with Divi's fake jQuery"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.3`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**

When Divi's jQuery Body feature is enabled, it adds the following script on the page:

[code]

When used with Delay JavaScript Execution, the following err

[2022-06-17 07:53] #5064 closed, assigned to engahmeds3ed

[2022-06-17 07:58] #5115 closed, assigned to CrochetFeve0251

[2022-06-17 08:05] CrochetFeve0251 opened #5155 "Change name of classes from string to ::class in Services providers"
To keep maintenance of service provider easier and the code cleaner, we will change class mapping in service providers from string to their ::class.

For that we need to change classes mapping in:
- https://github.com/wp-media/wp-rocket/blob/f88acf3ab2e14d150b887075d1d82173261bb9d6/inc/Plugin.php
- https://github.com/wp-media/wp-rocket/blob/develop/inc/Addon/ServiceProvider.php
- https://github.co

[2022-06-17 08:16] engahmeds3ed commented on #5129
Thanks @DahmaniAdame

Yes all of them are in style tags only.

You mean if we have for example `banner-ou3hlkl45s` we will return `banner-` from the SaaS, right?
I don't know if this will affect the used CSS generation time or not and also will need to check this exclusions list every time we get used CSS from the SaaS side, so what about making it page specific list so we may have this list into

[2022-06-17 08:37] DahmaniAdame commented on #5129
Yes!

There will be a slight increase.

My thinking, since we already have the selectors extracted + SaaS has more resources than customers servers, it will cost less time and efforts overall.

Yes, it should be done for each URL.

The first option looks good to me - grouping exclusions and applying them to all pages.

If one dynamic selector is used by a theme, it's likely to be used on multiple

[2022-06-17 08:38] piotrbak commented on #4454
Closing, since it's resolved and we'll have a backend for safelisting.

[2022-06-17 08:38] #4454 closed, assigned to nobody

[2022-06-17 08:49] engahmeds3ed commented on #5129
The cases that I saw was that those CSS styles are being added with blocks so with the banner block for example they add some internal styles for it directly after the block itself so if you don't use the block in any page, you will not see those stylings.

[2022-06-17 08:56] DahmaniAdame commented on #5129
@engahmeds3ed, yes, this is how it usually goes.

Nothing will change whether we go with a global exclusion file or a url-based exclusion file as we are using the `rocket_rucss_inline_content_exclusions` filter.

Only inline style matching one of the selectors will be preserved.

[2022-06-17 09:47] CrochetFeve0251 commented on #3444
### Reproduce the issue
I  was able to reproduce the issue.

### Root of the problem
We are not checking for folders starting with the # character when clearing the cache inside `rocket_clean_home`.

### Scope a solution
We need to add a check for `#` starting folders in `rocket_clean_home` and delete them if they exist.
For that we can add this code to the `rocket_clean_home` method:
[code]

###

[2022-06-17 10:17] nmohanan opened #5156 "There has been a critical error on this website. Please check your site admin email inbox for instructions."
php(89): WP_Rocket\\ThirdParty\\Plugins\\ModPagespeed->has_pagespeed_with_cache(),wp-includes/class-wp-hook.php(307):
WP_Rocket\\ThirdParty\\Plugins\\ModPagespeed->show_admin_notice('')\n#5 wp-includes/class-wp-hook.php(331): WP_Hook->apply_filters(NULL, Array)\n#6
WP-Rocket plugin showing critical error on the WordPress admin. can you please check.

[2022-06-17 10:26] piotrbak commented on #5156
Hello @nmohanan thanks for creating the issue.

Have you already contacted our support team so we could take a look at the problem?

[2022-06-17 10:31] nmohanan commented on #5156
Not yet, please provide an email id to contact.

[2022-06-17 11:18] piotrbak commented on #5156
Please contact us here and would be great to mention that it's related to this specific issue:
https://wp-rocket.me/support/

[2022-06-17 11:57] straightvisions-matthias-bathke commented on #2952
We've implemented the patch I've posted before in this ticket as opt-in-feature in our SV100 Companion Plugin: https://de.wordpress.org/plugins/sv100-companion/

**Output**

without our patch
`<video class="wp-block-cover__video-background intrinsic-ignore" autoplay muted loop playsinline src="..."></video>`

with our patch plain (noscript)
`<video class="rocket-lazyload wp-block-cover__video-back

[2022-06-17 12:02] DahmaniAdame commented on #5065
Related - https://secure.helpscout.net/conversation/1922725461/348914

[2022-06-17 14:03] camilamadronero-zz commented on #2068
Related https://secure.helpscout.net/conversation/1920201248/348460/

[2022-06-17 14:11] stefanoginella commented on #5156
I recently started getting this error message on a client site hosted on WP Engine.
Now I can't open the settings page. I just noticed today.

[code]

[2022-06-17 14:18] piotrbak commented on #5156
@stefanoginella please reach our support, we need to have more data to investigate and fix this problem.

[2022-06-17 15:58] webtrainingwheels commented on #5094
https://secure.helpscout.net/conversation/1922616083/348892?folderId=377611

[2022-06-17 19:28] camilamadronero-zz commented on #4806
Related https://secure.helpscout.net/conversation/1920225480/348464?folderId=2675957

[2022-06-17 21:52] webtrainingwheels commented on #4990
https://secure.helpscout.net/conversation/1923573665/349066?folderId=377611

[2022-06-18 22:39] JoshuaVB commented on #4961
@melissahie @DahmaniAdame
Thanks for providing the plugin! It worked perfectly simply by adding to the site, a very tidy fix. We use Divi and so presuming that was the culprit.

I agree with @DahmaniAdame that Native lazyload threshold is too high, it may be that they really want to give the browser enough time to load the image before you reach it on slow networks. Either way, it triggers too man

[2022-06-19 18:25] UltraBurstXD commented on #2202
I totally agree with @arunbasillal, I have cache levels in server side, there I use minutes because in my case using 'hours' unit would create undesirable issues. I don't want my servers recompute same requests every time, but I can't cache requests and assets for too long too... So, my cache needs to be cleared ever 30 mins in max (server side + client side). As he said, everyone has his/her use

[2022-06-20 05:19] vipiny35 commented on #4433
Any update here, been waiting for too long now.

[2022-06-20 06:17] gayanchandrab commented on #5156
So it is not recommended to install WPRocket on a WPEngine site currently?

[2022-06-20 06:29] engahmeds3ed commented on #5156
Hello,
No for sure, You can install it on WP Engine for the following reasons:-
1. Even if you faced this error, you will see it in WP Rocket's admin page only, will not affect the whole site.
2. Any plugin uses the WP Core function `apache_mod_loaded` will throw this fatal error in WP Engine with php8 or above environment.
3. The solution is very simple and already done and will be patched this w

[2022-06-20 06:44] gayanchandrab commented on #5156
@engahmeds3ed Thank you very much for the detailed answer.

[2022-06-20 06:58] engahmeds3ed commented on #5156
We are here to help.

We also created a ticket in WordPress Core here: https://core.trac.wordpress.org/ticket/56010 and will contribute to fix this in the Core as well ASAP.

[2022-06-20 09:29] NataliaDrause commented on #5085
Related: https://secure.helpscout.net/conversation/1922007950/348761/

[2022-06-20 10:13] #5156 closed, assigned to nobody

[2022-06-20 10:43] #5063 closed, assigned to nobody

[2022-06-20 14:55] remyperona commented on #4105
### Scope a solution ✅
In `composer.json`, change the version number for monolog to `^1.0 || ^2.0`.

In `.github/workflows/deploy_plugin.yml`, change the php version used to `7.1`, to ensure the deployed version uses the minimum supported version when building the zip file.

This solution should allow installation for anyone using composer, while still making sure our build version is working for

[2022-06-20 15:21] piotrbak commented on #4403
Closing it since the approach has changed since 3.11

[2022-06-20 15:21] #4403 closed, assigned to nobody

[2022-06-21 05:12] gevcen commented on #3969
Since its release 6.5.2, the Woodmart theme handles the JS files exclusions for WP Rocket automatically when enabling its feature. Therefore, this ticket can be closed.

![image](https://user-images.githubusercontent.com/51261962/174720959-6694a2ed-3d0f-4e97-bb2e-a92047ffb8fb.png)

[2022-06-21 05:12] #3969 closed, assigned to nobody

[2022-06-21 07:46] NataliaDrause opened #5164 "RUCSS to preserve inline CSS for the XStore theme slider"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.11.3
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
Slider layout has dynamic CSS selectors added in the inline style:
![image](https://user-images.githubusercontent.com/60236665/174743391-29b127bd-9759-4e69-95

[2022-06-21 07:49] NataliaDrause commented on #5164
Adding a PR for automatically preserving `.slider-item-` seems a bit too generic.
@piotrbak what do you think is the best approach here?

[2022-06-21 09:31] engahmeds3ed commented on #5129
Here is the summary of the call with @mostafa-hisham talking about this issue and how SaaS may be involved in that:-

- We talked about how to detect this pattern and the process we thought about was to detect the alphanumeric classes and IDs from the internal CSS and return this list to the plugin and be saved with each url into the DB so the next time the cache is cleared we will (try to) get th

[2022-06-21 09:38] worldwildweb opened #5165 "wpr link preloading does not work for logged-in users"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version 3.11.3 ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**
WP Rocket Preload links feature does not work for logged-in users

**To Reproduce**
Steps to reproduce the behavior:
1. Enable caching for logged-in WordPress use

[2022-06-21 10:09] piotrbak commented on #4690
This will be solved with the new preload.

[2022-06-21 10:24] piotrbak commented on #2553
It's fixed with the new preload.

[2022-06-21 10:27] piotrbak commented on #2513
The preload is triggered correctly in the new version.

[2022-06-21 10:37] piotrbak commented on #3788
This is resolved with the new preload

[2022-06-21 10:45] piotrbak commented on #5164
@NataliaDrause Yes, I think you're right. We'll need a separate compatibility class for this theme.

[2022-06-21 10:55] piotrbak commented on #5134
Hello @Michaelgimii and @lukecav automatically preloading images and excluding them from lazy load is on our roadmap and it'll be implemented this year.

[2022-06-21 10:55] #5134 closed, assigned to nobody

[2022-06-21 11:04] vmanthos opened #5168 "PHP notice - undefined index when the license validation server isn't accessible"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.11.3`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When the license validation server isn't accessible an `Undefined index: is_from_one_dot_com` PHP notice pops up in the `debug.log`:
[code]

Here is a screensh

[2022-06-21 11:15] vmanthos opened #5169 "RUCSS progress notices are displayed even when the used-css folder cannot be created"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅`3.11.4`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When permissions aren't correct and we can't create the `used-css` folder we display the "countdown" notice:
![](https://i.vgy.me/Z42nKj.jpg)

and then the "suc

[2022-06-21 12:53] GeekPress commented on #5102
Sorry I missed the notification.

Better to fix from the plugin to avoid a redirection.

[2022-06-21 13:28] viobru commented on #3586
Likely related: https://secure.helpscout.net/conversation/1925680949/349535

[2022-06-21 15:45] remyperona commented on #5165
This was done on purpose, see https://github.com/wp-media/wp-rocket/issues/4711

[2022-06-21 15:47] piotrbak commented on #5165
@Tabrisrp I tested this on my website yesterday, preload links feature was able to generate user specific cache 🤔 What do you think??

[2022-06-22 07:22] Mai-Saad commented on #5100
For retest: an example with JetMenu plugin
![Screenshot from 2022-06-20 15-27-04](https://user-images.githubusercontent.com/76941962/174968522-f91f42be-abdd-42ad-97de-6a824ad5d56d.png)

[2022-06-22 07:50] Mai-Saad opened #5174 "Interactive geo map compatibility with Delay JS"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.11.3
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
The map is not displayed when Delay JS is enabled with default exclusions

**To Reproduce**
Steps to reproduce the behavior:
1. Use [interactive geo map](https://w

[2022-06-22 09:51] viobru commented on #3142
Related: https://secure.helpscout.net/conversation/1921871383/348735/

[2022-06-22 10:17] vmanthos commented on #491
I'm reopening this one as I found the conditions under which this issue occurs.

**To reproduce:**
1. **Permalink settings:** remove the trailing `/`
![](https://i.vgy.me/87Ti2b.jpg)

2. Add `location` in the _Advanced Rules tab > Cache Query String(s)_ .

Visiting https://example.com/hello-world

the cache is created in `/cache/wp-rocket/example.com/hello-world/`.

Visiting:
* https://example.com

[2022-06-22 14:19] camilamadronero-zz opened #5177 "Enable 3.9.5 version in outdated PHP/WordPress version banner"
**Is your feature request related to a problem? Please describe.**

When a customer is using an outdated WordPress or PHP version, the banner will suggest using 3.9.4 but since this version is no longer available, downloading the 3.9.4 version throws a PCLZIP_ERR_BAD_FORMAT error.

![image](https://user-images.githubusercontent.com/23031592/175052472-4ad42531-bebd-4e9d-b3ab-7ac5e18aa009.png)
![ima

[2022-06-22 22:01] novelnet commented on #4681
We made a few updates for better compatibility and responsiveness support. As there is no new response, i guess the issue can be closed.

[2022-06-23 04:40] vmanthos opened #5178 "RUCSS jobs are created even if the used-css folder cannot be created"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.11.4`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When the `used-css` folder cannot be created, e.g. because of restricting permissions, we still generate RUCSS jobs, which if the permissions issue isn't fixed

[2022-06-23 05:47] DahmaniAdame commented on #4865
Related - https://secure.helpscout.net/conversation/1913831985/347319/

[2022-06-23 10:44] DahmaniAdame opened #5179 "WPForms compatibility with Remove Unused CSS (missing style for hidden field)"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.4`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When WPForms is used with Cleantalk (a spam protection plugin), the following hidden field is added to forms:

[code]

RUCSS doesn't pick up the `#apbct__em

[2022-06-23 11:29] piotrbak commented on #5179
@DahmaniAdame The regular safelisting doesn't work, right?

This array was designed to handle mostly the dynamic CSS classes. Do we know why this CSS is not picked up?

[2022-06-23 11:33] DahmaniAdame commented on #5179
@piotrbak yes, the regular safelist doesn't work.

I see.

Not yet. Waiting for @mostafa-hisham feedback.

We discussed it here - https://wp-media.slack.com/archives/C029G1B5HD2/p1655978915394059

But since this wasn't generated consistently, I went ahead and added the PR.

Let's pause the PR until we hear back from Mostafa.

[2022-06-23 11:38] piotrbak commented on #5179
@DahmaniAdame Exactly, solving the problem at the root will allow us to improve the product and decrease the future problems related to the same issue.

[2022-06-23 17:24] #5169 closed, assigned to jeawhanlee

[2022-06-23 17:27] remyperona commented on #5177
We won't be able to fix that on the plugin side

[2022-06-24 06:43] DahmaniAdame opened #5182 "Gravity Forms attachments conflict with htaccess gzip rules"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.3`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**

When using the file upload on a Gravity Forms form, the file is properly uploaded and added to entries.

It's then accessible using a URL similar to this o

[2022-06-24 10:03] DahmaniAdame commented on #5065
Related - https://secure.helpscout.net/conversation/1929109608/350179/

[2022-06-24 11:07] vmanthos opened #5186 "WP Engine's cache isn't automatically cleared after successfully creating the used CSS"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.11.4`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

After the successful creation of the used CSS we are purging the URLs cache:
https://github.com/wp-media/wp-rocket/blob/635769c38d685916b97f8184bd7f9219baddefc

[2022-06-24 11:35] DahmaniAdame opened #5187 "Control Load CSS Asynchronously visits interval"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.3`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
CPCSS sends consecutive requests to websites in order to generate pages and process them.

In rare cases where there are a lot of sample pages to check and

[2022-06-24 15:18] jeawhanlee commented on #5164
### Reproduce the problem ✅
Reproduced this issue with xstore 8.2

### Scope a solution ✅
- Create a 3rd party class for xstore
- Check if current theme is `xstore`
- Hook to the `rocket_rucss_inline_content_exclusions` and preserve `[ '.slider-', '.slider-item-' ]`
- Update related ServiceProvider as per https://github.com/wp-media/wp-rocket/pull/5099#discussion_r890151607
- Add tests too

### Es

[2022-06-24 17:24] cspcreative commented on #4940
I'm experiencing this issue as well. I am on the latest version of WP Rocket. I've even uninstalled WP Rocket, deactivated WooCommerce, and for some reason my Scheduled actions are still flooding with:

**rocket_rucss_pending_jobs_cron** | Complete |  Every 1 minute | 2022-06-24 17:13:18 +0000(7 minutes 42 seconds ago) | 2022-06-24 17:12:18 +0000 action created 2022-06-24 17:13:24 +0000 action sta

[2022-06-24 17:26] camilamadronero-zz commented on #3142
Related https://secure.helpscout.net/conversation/1929478938/350276/

[2022-06-24 19:15] jcatello commented on #4940
Yeah it's a nightmare :(

Do you have access to SSH / WP CLI:

To collect some information, this will print out all current hooks and what status they are in.

`wp db query "select status from $(wp config get table_prefix)actionscheduler_actions; " | sort | uniq -c | sort -n`

You will most likely see something like..

`12 rocket_rucss_pending_jobs_cron  failed`
`358 rank_math/analytics/get_inspec

[2022-06-25 08:45] DahmaniAdame opened #5189 "Compatibility with One.com (CDN and page cache)"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.3`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When One.com is used with WP Rocket's minification, none of the assets are minified (not created).

The debugged is returning:

[code]

Tracking back the er

[2022-06-25 09:59] DahmaniAdame commented on #5094
Related - https://secure.helpscout.net/conversation/1930196188/350454

[2022-06-25 11:49] DahmaniAdame commented on #4297
Related - https://secure.helpscout.net/conversation/1931222382/350631/

[2022-06-26 14:12] NataliaDrause commented on #3938
new request: https://secure.helpscout.net/conversation/1930408468/350518?folderId=3864740

[2022-06-26 15:05] GoldenGoldy commented on #3142
Currently using version 3.11.3 (latest version) of WP Rocket and the issue still exists. When "Delay Javascript execution" is enabled, you need to double tap/click in Safari on IOS almost 100% of the time. Interestingly, even when adding exclusion rules that cover all of the .js scripts loaded on the page, the issue still occurs.
When disabling "Delay Javascript execution" the issue is gone immedi

[2022-06-26 19:29] roam92 commented on #3142
This ticket is almost two years old and still open...

[2022-06-27 08:49] GoldenGoldy commented on #3142
That's true!
Before the issue was manageable though, at least for me, I would figure out which scripts to add to the exclusions as only some (for example Facebook, Twitter, and Google reCaptcha) were giving issues. It would work correctly with a few scripts in the exclusions.
At the moment though, I can't use the delay Javascript function at all, as per my message above.

I see others mentioned th

[2022-06-27 09:31] piotrbak commented on #3142
@GoldenGoldy Of course, we're working on this problem. There are a couple of different `kinds` of this issue, each of them is caused by different factors. Have you already sent us an URL or template where we could replicate it?

[2022-06-27 09:37] piotrbak commented on #5189
@DahmaniAdame Could you confirm that adding CNAME to the CDN section doesn't help?

[2022-06-27 09:37] andyz02 commented on #3142
We have the same issue with multiple websites. As there doesn't seem to be a fix from wp-rocket (we reported the issue already in March) we came up with a quick-fix in the mean time.

Basically we are simulation the first user interaction on iOS devices. This way we fix the double-click issue. Just put this code to the footer and add the script to the late execution exclusions:

<script id="fakeus

[2022-06-27 09:50] piotrbak commented on #4940
@jcatello @cspcreative thanks for posting. Have you already contacted our Support Team telling that the problem is still there?

It should be fixed in the https://github.com/wp-media/wp-rocket/issues/4960 so checking why it still appears would be valueable.

[2022-06-27 10:34] GoldenGoldy commented on #3142
Thanks for that workaround! I'll look into that.
And let's hope WP Rocket will come up with a proper solution soon.

[2022-06-27 12:12] piotrbak commented on #5189
@DahmaniAdame I've been in touch with One.com Team and clarified a couple of things:
[code]
It would be good to implement compatibility class with `One.com` hosting:
1. If their CDN is enabled (oc_cdn_enabled option set to true)
- Grey out our CDN input and fill it with the CNAME value
- Either exclude `/wp-includes/(.*)` or confirm with One.com why it's handled like this on their end

2a. If thei

[2022-06-27 14:02] jeawhanlee commented on #4357
After a discussion with @mostafa-hisham, We can add a new job here https://github.com/wp-media/wp-rocket/blob/develop/.github/workflows/deploy_plugin.yml that will run during deployment using
- `gulp build` for javascript
- `gulp sass_all` for css

[2022-06-27 22:35] roam92 commented on #3142
See also if the [workaround proposed above](https://github.com/wp-media/wp-rocket/issues/3142#issuecomment-699957659) in September 2020 by @engahmeds3ed works for you... It did for me.

[2022-06-28 08:25] DahmaniAdame commented on #5189
@piotrbak I can confirm that the issue is fixed if the CDN feature is used.

Thanks for checking with One.com. In light of your findings, should we turn this issue to broader compatibility with One.com? Or keep it that way and only automate enabling the CDN + add `https://usercontent.one/wp/domain.ext/` as a CNAME to it when we detect One.com CDN being used?

[2022-06-28 08:34] GoldenGoldy commented on #3142
Great thanks will look into that as well! Not the greatest solution I guess to start editing the plugin's code but if nothing else helps it can be considered as temporary fix I suppose.

[2022-06-28 08:39] piotrbak commented on #5189
[code]

Yes, let's do it!

[2022-06-28 10:47] vmanthos opened #5192 "Update the list of default Delay JavaScript Execution exclusions"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.11.4`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

The current list of default Delay JavaScript Execution exclusions is this:
[code]

If the WordPress version is `<5.7` we also display:
[code]
**Code reference:

[2022-06-28 11:21] DahmaniAdame commented on #4062
Related - https://secure.helpscout.net/conversation/1932295986/350802/

[2022-06-28 12:41] pluspol commented on #4845
We experience the same issue and dug into the code.
The error seems to come from this file:
https://github.com/wp-media/wp-rocket/blob/develop/inc/classes/dependencies/wp-media/background-processing/wp-background-process.php

The cron call `handle_cron_healthcheck()` passes some code (in the same file) which may result in `wp_die()` or `exit()` being called.
Therefore the cron exits prematurely an

[2022-06-29 06:13] Mai-Saad opened #5194 "PHP Deprecated: preg_match(): Passing null to parameter #2 ($subject) of type string is deprecated in debug.log with certain cases"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.11.4
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
`PHP Deprecated:  preg_match(): Passing null to parameter #2 ($subject) of type string is deprecated in /var/www/new.rocketlabsqa.ovh/htdocs/wp-content/plugins/wp-

[2022-06-29 07:10] Mai-Saad opened #5195 "RUCSS counter msg isnot displayed without refresh in certain case"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version =>. 3.11.4
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Counter msg for RUCSS is not displayed till refreshing the dashboard after activating RUCSS

**To Reproduce**
Steps to reproduce the behavior:
1. Fresh install to

[2022-06-29 08:35] worldwildweb commented on #4961
related: https://secure.helpscout.net/conversation/1932257775/350794

[2022-06-29 09:41] engahmeds3ed commented on #5195
The problem is that the first time we enable the plugin and the RUCSS option, there we don't have the `used-css` directory inside the `cache` directory so when we check if this directory is writable to show the processing counter notice here:
https://github.com/wp-media/wp-rocket/blob/3830fc28818e1f46d465f994a9085cc31d8056df/inc/Engine/Optimization/RUCSS/Admin/Settings.php#L318-L320

it bails out

[2022-06-29 09:53] Mai-Saad opened #5197 "Charset handle isnot working probably in certain cases with Delay JS"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.11.3
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
If we have commented charset in the source, it will be used before the Delay JS script.
If we have multiple charset i.e one commented and the other is not commente

[2022-06-29 10:37] Agathemed opened #5198 "RUCSS Deactivation for Non Expired Users Rollingback"
The RUCSS feature available in versions prior to 3.11 has been shut down in May 2022.
When non-expired users are rolling back to a previous version, we need to inform them that the RUCSS feature won’t be available.

[Details are available here](https://docs.google.com/document/d/1jlyfrU4hYqhFxT_Ol9f-sNJp8h8_ZRo7R4o_5IOjjV8/edit?usp=sharing)

[2022-06-29 11:43] DahmaniAdame commented on #5189
@piotrbak changed the title and included your comment on the description.

[2022-06-29 12:49] jeawhanlee commented on #5178
We can do a check on L156 https://github.com/wp-media/wp-rocket/blob/90e3efde30df36a03a7f4e54c7062181be8cce49/inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php#L131-L156 with `$this->filesystem->is_writable_folder()`
I don't think we need to update tests, so I'll roll a PR for this as the effort is `[XS]`

[2022-06-29 13:55] GeekPress commented on #3960
@vmanthos @webtrainingwheels If you have any ideas for the text needed for the notices, you're welcome to share :)

[2022-06-29 14:09] GeekPress commented on #5129
We have decided to stop working on this enhancement. We will wait to see how the dynamic lists will work to know if we need to re-open this one.

[2022-06-29 14:09] #5129 closed, assigned to engahmeds3ed

[2022-06-29 14:26] GeekPress commented on #3947
@piotrbak Until to work on this which require some UI work too, we can display a notice like we are doing for CPCSS.

[2022-06-29 18:12] jeawhanlee commented on #5198
### For Step 1:
We already have branches for the 2 minor release 3.10.10 & 3.9.5 so we can create branches from them to implement our changes:

- We replace our current banner content here:
https://github.com/wp-media/wp-rocket/blob/4f5b3eddc14660564fab531eb9b51dfe54e53560/views/settings/page-sections/dashboard.php#L36-L48
with the one on the [Doc here](https://docs.google.com/document/d/1jlyfrU4h

[2022-06-29 20:01] webtrainingwheels commented on #3680
https://secure.helpscout.net/conversation/1934976164/351286?folderId=377611

[2022-06-30 06:51] vmanthos opened #5204 "Rolling back from 3.10.9 installs the latest available version"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ❌` 3.10.9` should be installed
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When rolling back from `3.10.9` the latest WP Rocket version that's available to the user's account is installed, e.g. `3.11.4` at the mome

[2022-06-30 07:00] vmanthos opened #5205 "PHP deprecated notice with Cloudflare for trim() in PHP 8.1"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.11.4`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

With:
* PHP `8.1`
* Cloudflare

the following notice is added in the `debug.log`:

This comes from this line:
https://github.com/wp-media/wp-rocket/blob/9e7f73

[2022-06-30 10:18] jeawhanlee commented on #5194
I was not able to reproduce the issue.
This is happening because we are validating to `null` in this ternary function here:
https://github.com/wp-media/wp-rocket/blob/d59db4d9d1854453c3c3af60b446c7e4a58376db/inc/Engine/Optimization/Minify/CSS/AbstractCSSOptimization.php#L129-L130
and using it here:
https://github.com/wp-media/wp-rocket/blob/d59db4d9d1854453c3c3af60b446c7e4a58376db/inc/Engine/Optim

[2022-06-30 10:34] DahmaniAdame commented on #2907
Related - https://secure.helpscout.net/conversation/1934829956/351249/

[2022-06-30 11:08] #5155 closed, assigned to CrochetFeve0251

[2022-06-30 11:09] #5126 closed, assigned to jeawhanlee

[2022-06-30 13:31] jeawhanlee commented on #5186
### Reproduce the problem
I was able to reproduce this issue.

### Identify the root cause
Like @vmanthos stated, we are not clearing the url cache after generating used css on WP Engine.

### Scope a solution
After checking the WPE MU-Plugin, I couldn't find a way for us to handle url cache clearing on WP Engine like @vmanthos mentioned.
The only thing we can do hook `clean_wpengine` to `rocket_r

[2022-06-30 13:39] camilamadronero-zz commented on #5204
Related https://github.com/wp-media/wp-rocket/issues/5177

[2022-06-30 14:01] piotrbak commented on #5186
@jeawhanlee I can see that we could have that possibility. Take a look at the `purge_varnish_cache` function from `/wpengine-common/plugin.php`:
https://snippi.com/s/77foeca

[2022-06-30 14:04] NataliaDrause commented on #4062
I found that `consent.cookiebot.com` is now automatically excluded from Minify JavaScript option, but there is an issue caused by the Delay JavaScript Execution.

Tested on WP Rocket (3.11.4) and [Cookiebot](https://wordpress.org/plugins/cookiebot/) (4.1.0).

Steps to reproduce (reproduced on my test site):

1. Install and activate **[Cookiebot | GDPR/CCPA Compliant Cookie Consent and Control](htt

[2022-06-30 14:20] jeawhanlee commented on #5186
Thanks @piotrbak I will update the grooming

[2022-06-30 14:21] piotrbak commented on #5186
@jeawhanlee I'm still not sure if we'll be able to purge the page using URL, not post ID...

[2022-06-30 14:26] jeawhanlee commented on #5186
@piotrbak I think we can by passing the url to the `url_to_postid()` which will return the `post_id` then we pass the related `post_id` to `WpeCommon::purge_varnish_cache( $post_id );`. This might work. what do you think?

[2022-06-30 14:28] piotrbak commented on #5186
@jeawhanlee Many of our URLs are not posts, unfortunately... We need to clear the cache based on URL only...

[2022-06-30 14:30] jeawhanlee commented on #5186
@piotrbak So I put a pend on this issue?

[2022-06-30 15:08] piotrbak commented on #5186
I'm blocking it and let's wait for the WP Engine contact

[2022-07-01 09:46] piotrbak opened #5207 "Potential redirect loop when using 3.11.4, trailing slash redirection"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.11.4
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When permalinks are set to be without `/` and website is in the subdirectory we might experience redirect loop.

**To Reproduce**
Steps to reproduce the behavior:
1

[2022-07-01 09:48] piotrbak commented on #5207
Related tickets:
https://secure.helpscout.net/conversation/1937096734/351722?folderId=273761
https://secure.helpscout.net/conversation/1937085805/351717?folderId=273761

[2022-07-01 10:13] DahmaniAdame opened #5208 "Check if Google Fonts URLs are valid before combining them to avoid issues"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.4`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
If one of the Google Fonts URL is not valid, it will break the combined Google Fonts URL as well.

We can check if individual URLs are valid before parsing

[2022-07-01 15:38] alfonso100 commented on #5207
related
https://secure.helpscout.net/conversation/1937407389/351806?folderId=273761

[2022-07-02 22:22] small-fork opened #5210 "Preload does not occur after comment approval from WPAdmin moderation"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before  ✅ (not that I could find at least)

**Describe the bug**
When a comment is approved and replied to from the WPAdmin comment interface in Wordpress, WPRocket will purge the post, home page, and

[2022-07-03 18:57] piotrbak commented on #5210
Hello @small-fork thanks for creating the issue. This problem will be fixed in the next major version 3.12.

[2022-07-03 18:57] #5210 closed, assigned to nobody

[2022-07-03 19:34] piotrbak commented on #4710
We'll display dismissable notice when this constant is defined.

[2022-07-03 23:21] d19dotca commented on #5024
Hi @piotrbak - I noticed this doesn't seem to be included in the WP Rocket update on June 30th... any reason why this wasn't included? Judging based on the changelog at least.

[2022-07-04 07:20] vmanthos opened #5211 ".htm and .html files are preloaded by the preload links feature"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.11.4`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When there are URLs of `.html` or `.htm` files on a page, WP Rocket `prefetch`es them when the **Preload Links** feature is enabled.

Adding those to `$images_

[2022-07-04 12:27] piotrbak commented on #5104
We are still having this issue with 3.11.4. @wp-media/php do you think we have any option to guard against it in a reliable way?

[2022-07-04 12:35] Mai-Saad commented on #5204
Using the 3.11.4 zip if we roll back then refresh the rollback [page](https://new.rocketlabsqa.ovh/wp-admin/admin-post.php?action=rocket_rollback&_wpnonce=3f3225313e), we will install the latest version i.e 3.11.4 instead of 3.10.9

[2022-07-04 12:37] Mai-Saad commented on #5104
Notes for a retest: we need to check using a zip file while PHP 7.4 and PHP 8.1.7

[2022-07-04 13:25] #5168 closed, assigned to remyperona

[2022-07-04 13:55] vmanthos opened #5213 "RUCSS - Page breaks when it includes <style></style> element that contains only a space"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.11.4`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

In `3.11.4` we preserve `<style></style` elements while removing their content:
https://github.com/wp-media/wp-rocket/blob/391bc8b0a00a30bc036454c0336c45a8378e

[2022-07-04 19:01] alfonso100 commented on #5021
related: https://secure.helpscout.net/conversation/1937660459/351837/

[2022-07-05 09:00] NataliaDrause commented on #5021
Related: https://secure.helpscout.net/conversation/1925806544/349562/

[2022-07-05 10:52] NataliaDrause commented on #2441
Related: https://secure.helpscout.net/conversation/1938723213/352023?folderId=3864740

[2022-07-05 13:12] #5213 closed, assigned to remyperona

[2022-07-05 16:43] girlie commented on #4400
Related: https://secure.helpscout.net/conversation/1923648428/349105/

[2022-07-05 18:32] alfonso100 opened #5216 "Exclude 'var wpforms_user_journey' inline JS from combine JS to avoid cache dir size issue"
**Before submitting an issue please check that you’ve completed the following steps:**
yes - Made sure you’re on the latest version
yes - Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
`var wpforms_user_journey` is dynamically changing **page_id** value

example: https://cb-hypnotherapy.com/hypnotherapy-treatments/
script: https://snippi.com/s/i9ci

[2022-07-05 19:29] remyperona commented on #5204
Duplicate of #3077

[2022-07-06 10:54] viobru commented on #3142
Related: https://secure.helpscout.net/conversation/1940106113/353887

[2022-07-06 14:11] NataliaDrause opened #5219 "RUCSS to preserve inline CSS for the Smart Slider 3"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.11.3
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
Slider layout has dynamic CSS selectors added in the inline style:
![image](https://user-images.githubusercontent.com/60236665/177569410-9e79abe2-382d-495c-bb

[2022-07-06 14:14] NataliaDrause commented on #5219
I can submit PR, but not sure which approach is better:

-  preserving `.n-uc-` with `rocket_rucss_inline_content_exclusions` filter,
- or `n2-ss-` with `rocket_rucss_inline_atts_exclusions` filter.

@piotrbak what do you think?

[2022-07-06 14:20] piotrbak commented on #5219
@NataliaDrause Let's go with `n2-ss-`, just in case someone adds additional CSS somewhere, so we won't safelist unnecessarily whole script.

[2022-07-06 18:15] piotrbak commented on #5207
@wp-media/qa PR5215 is the one ready for tests

[2022-07-07 10:21] #5178 closed, assigned to jeawhanlee

[2022-07-07 12:48] viobru commented on #5094
Related: https://secure.helpscout.net/conversation/1940815032/354058/

[2022-07-08 11:09] mehedihasanziku commented on #5219
@piotrbak Do you know/have any reason why all inline css are not excluded by default? every two days i have seen thread regarding inline css issues. Every Unused CSS Removal plugin I know they are excluding this by default. including them is an experimental feature. I really don't see issues if you exclude all inline css by default, normally by default inline css added by users/plugins/theme, they

[2022-07-08 13:28] sanderdekroon commented on #1997
I have solved this issue by editing the `advanced-cache.php` file and injecting a custom `Cache` instance. This custom implementation removes the `-loggedin-<random_hash>` from the cache file path. This way, everyone always gets served the guest cache files.

I have made this into [a small helper plugin over here](https://github.com/sanderdekroon/WP-Rocket-Guest-Cache).

[2022-07-08 13:32] alfonso100 opened #5227 "3.11.4.1 Fatal error: redeclaring rocket_remove_partial_purge_hooks on Presslabs compatibility file"
**Before submitting an issue please check that you’ve completed the following steps:**
Yes - Made sure you’re on the latest version
Yes - Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Afrer updating to 3.11.4.1, there is a fatal error on sites hosted in Presslabs.

Per @engahmeds3ed:
The `rocket_remove_partial_purge_hooks` was deprecated in this P

[2022-07-08 15:54] alfonso100 opened #5229 "RUCSS - Revolution theme - Multiple elements break because dynamic CSS inline selectors"
**Before submitting an issue please check that you’ve completed the following steps:**
yes - Made sure you’re on the latest version
yes - Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
The [Revolution Theme, by fuelthemes](https://themeforest.net/item/revolution-creative-multi-purpose-theme/21758544) uses dynamic inline selectors.

So, our Used CSS

[2022-07-08 16:07] alfonso100 commented on #5229
I can do a PR to add `#thb-` to our [automatic exclusions](https://github.com/wp-media/wp-rocket/blob/25f42089e03da6f43e391bdcac108bb707ab6bb3/inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php#L89)

But I don't know if it'd be too generic and cover many other cases.
So I'm not doing the PR until we can decide if that's the best way, or doing a compat file is better

The heme prepends that in ma

[2022-07-09 08:21] worldwildweb commented on #4802
related: https://secure.helpscout.net/conversation/1943498960/354657

[2022-07-09 10:39] worldwildweb commented on #3142
related: https://secure.helpscout.net/conversation/1943901877/354756/

[2022-07-10 08:58] JerissCloudCenter commented on #5100
The same would be required for Themes if you ever decide to implement https://github.com/wp-media/wp-rocket/issues/4376

[2022-07-11 01:35] froddo7 commented on #3142
Yes I can confirm this workaround works on our website with Tagdiv's Newspaper Pro Theme. No more double click on Iphones or Androids even. Thanks a lot!