[2022-07-11 08:12] aharonyltd commented on #3142
This solution is not good:

<script id = "fakeuserinteraction"> if (navigator.userAgent.match (/ (iPhone | iPod | iPad) / i)) {window.onload = () => window.dispatchEvent (new Event ('touchend')); } </script>

It causes all JS files to load

This means that the JavaScript Delay does not work with this code

[2022-07-11 08:29] froddo7 commented on #3142
Can anyone else confirm this observation?

[2022-07-11 08:34] aharonyltd commented on #3142
Check the site before you enter the code and after you enter:
https://www.browserstack.com/

Check the link in the GT
https://gtmetrix.com/reports/ganor.ussl.co.il/qIJdj94C/

Analysis options: iPhone XS Max/11 Pro/11 Pro Max/12 Pro Max

The code is currently working on the site and is disabling the JavaScript Delay

[2022-07-11 09:38] vmanthos opened #5231 "Presslabs - Homepage's cache isn't cleared when using the admin bar menu item"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.11.4.2`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

On Presslabs, when using the **Purge this URL** admin bar menu item, the cache of the homepage isn't cleared.

This is happening because our code is returnin

[2022-07-11 11:03] viobru commented on #4396
Related: https://secure.helpscout.net/conversation/1943500224/354659/

[2022-07-11 12:58] NataliaDrause commented on #2907
Related: https://secure.helpscout.net/conversation/1943075369/354543?folderId=3864740

[2022-07-11 13:06] jeawhanlee commented on #3960
### Reproduce the problem
I was able to reproduce this issue

### Identify the root cause
We don't have a method to check and display notice when related RUCSS tables are not created.

### Scope a solution
- Import the `Resource` and `UsedCSS` Database class into `WP_Rocket\Engine\Optimization\RUCSS\Admin\Settings`
[code]
- Then create a method to check if the usedcss table exists
[code]
Then disp

[2022-07-11 13:48] vmanthos commented on #3960
The following text should be fine:

@webtrainingwheels Can you please check this?

Most of the time this won't be an issue with WP Rocket, but:
1. with the host which prevents writing to the database or
2. the database settings, e.g. `DB_COLLATE`:
https://wp-media.slack.com/archives/C029G1B5HD2/p1643185904044200

If @camilamadronero can write a doc, we can replace the "Please reach out to our supp

[2022-07-11 15:02] joejoe04 commented on #4865
Related: https://secure.helpscout.net/conversation/1945266979/355056/

[2022-07-11 18:26] jeawhanlee commented on #3947
### Scope a solution
We can set a new option of an integer maybe `rocket_api_response_error` in this check that we will increment for each failed response.
https://github.com/wp-media/wp-rocket/blob/499eaf1bcfa79ef66191f287e3a63ea13851e378/inc/Engine/Optimization/RUCSS/AbstractAPIClient.php#L126
also reset option before this line when there is a successful call. https://github.com/wp-media/wp-rock

[2022-07-11 18:37] jeawhanlee commented on #5204
### Reproduce the problem ✅
### Scope a solution
I believe we already have a solution here as @engahmeds3ed stated in https://github.com/wp-media/wp-rocket/issues/3077#issuecomment-689893560 but this time we will only implement this fix on our current version, https://github.com/wp-media/wp-rocket/tree/v3.9.5.1 and https://github.com/wp-media/wp-rocket/tree/v3.10.10.1 as checked with @Tabrisrp and

[2022-07-11 20:09] camilamadronero-zz opened #5234 "Compatibility with The Events Calendar plugin (counter widget) and Load JavaScript deferred"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - YES
- Used the search feature to ensure that the bug hasn’t been reported before - YES

**Describe the bug**
Load JavaScript deferred breaks the counter widget from [The Events Calendar plugin (pro version)](https://theeventscalendar.com/products/wordpress-events-calend

[2022-07-11 22:23] webtrainingwheels commented on #2068
https://secure.helpscout.net/conversation/1944925281/354956?folderId=377611

[2022-07-11 22:44] camilamadronero-zz commented on #3960
@vmanthos Thanks for the ping and I certainly can put together a new doc! I'm following this issue to see if using a doc is the final decision. And in the meantime, the fixes [mentioned in the thread](https://wp-media.slack.com/archives/C029G1B5HD2/p1643185904044200) are fairly technical, so I'm just wondering if those are the ones to document.

[2022-07-12 09:30] CrochetFeve0251 commented on #4710
## Reproduce the problem
Ok
## Identify the root problem
This is due to Cloudflare adding the preload after our process.
However clearing the cache from Cloudflare after updating RUCSS on a page can maybe on that.
## Scope a solution
To fix that problem we can create a thirdparty class for Cloudflare that uses the constant `CLOUDFLARE_HTTP2_SERVER_PUSH_ACTIVE` and `rocket_is_cloudflare` function t

[2022-07-12 12:13] viobru commented on #3142
Related: https://secure.helpscout.net/conversation/1929331126/350239

[2022-07-12 12:46] CrochetFeve0251 commented on #5030
## Reproduce the problem
For the moment I can't reproduce it
## Find the root cause
It comes from the firewall from Cloudflare as @vmanthos said.
## Scope a solution
To fix this problem we will have to modify the Cloudflare Addon to add a rule to the  firewall.
The first class we will have to modify is `APIClient` where we will have to create a new method to call the firewall endpoint from Cloudfl

[2022-07-12 12:53] sebssingh opened #5235 "Detect if WP Rocket is on one.com environment"
Hi
Similar to what WP Rocket has for other hosting providers such as seen in:
https://github.com/wp-media/wp-rocket/blob/develop/inc/ThirdParty/Hostings/HostResolver.php

It would be great if this could also be done for domains on one.com environment.

We have a lot of server variables for instance $_SERVER['ONECOM_DOMAIN_NAME'] that would only be present on the one.com environment.

So if you hav

[2022-07-12 13:21] girlie commented on #4628
Related: https://secure.helpscout.net/conversation/1945501906/355138/

[2022-07-12 13:26] remyperona commented on #3960
One note: we don't need to check for the resources table, as it's no longer used, and is going to be removed in 3.12

[2022-07-12 15:18] #5227 closed, assigned to remyperona

[2022-07-12 15:41] #5091 closed, assigned to vmanthos, CrochetFeve0251

[2022-07-12 15:42] #5194 closed, assigned to jeawhanlee

[2022-07-12 15:52] joejoe04 commented on #4865
Related: https://secure.helpscout.net/conversation/1945266979/355056/

[2022-07-12 18:37] #5018 closed, assigned to CrochetFeve0251, jeawhanlee

[2022-07-12 18:59] camilamadronero-zz commented on #3680
related https://secure.helpscout.net/conversation/1946719617/355394/

[2022-07-12 19:01] #5164 closed, assigned to jeawhanlee

[2022-07-13 01:41] exonianp commented on #4802
For a site with 10k products (of 50 attributes) the table is 5GB.

I do not think that creating CSS for each and every page/product does the trick, regardless of the storage method. Obviously when in filesystem we will not have the increased memory requirements that we are now facing. Our site, consumes 15GB of RAM even when "idle" - thanks to your huge table that is 8 (eight) times the size of th

[2022-07-13 08:50] GeekPress commented on #4802
Sorry but it's a no-go ;)

Why?
Each page can be totally different by using Gutenberg with a ton of different blocks between pages. It's exactly the same with pages created with Page Builders.

Check our website for a very good example. All our pages are totally different and don't contain the same blocks, and so they need a different Used CSS for each of them.

By the way, the issue is fixed sinc

[2022-07-13 11:52] juricazuanovic commented on #208
Related: https://secure.helpscout.net/conversation/1945664238/355184/

[2022-07-13 13:22] aharonyltd commented on #4648
Hi
How do I turn off Delay JS auto-exclusions?
Anyone know?

[2022-07-13 13:31] mifrero commented on #4722
Related: https://secure.helpscout.net/conversation/1942309913/354402/

[2022-07-13 14:02] NataliaDrause commented on #4865
Related: https://secure.helpscout.net/conversation/1948000627/355719/

[2022-07-13 15:39] NataliaDrause opened #5241 "LazyLoad causes PHP Warning: preg_replace(): Compilation failed: regular expression is too large at offset 75520..."
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.11.4.2
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
This might be an edge case, but creating this GH to monitor issues like the following:
When `<img>` has a lengthy attribute, it will throw the following err

[2022-07-13 19:01] JJJ commented on #3960
Let's write some code together that can help your team(s) confirm that database tables _can be_ created before the utility (BerlinDB) tries and fails in front of your users 💖

99% of the time, if WordPress was able to create its own database tables, BerlinDB and WP Rocket should be able to too. If web-hosts are known for locking something down that you/we rely on, BerlinDB should handle those grac

[2022-07-14 05:01] DahmaniAdame commented on #5241
Seems like the same mechanism failing as here - https://github.com/wp-media/wp-rocket/issues/3996

[2022-07-14 08:55] DahmaniAdame commented on #5005
Possibly related - https://secure.helpscout.net/conversation/1947687050/355595?folderId=3864735

[2022-07-14 13:07] #3077 closed

[2022-07-14 13:56] joejoe04 commented on #5177
Related - https://secure.helpscout.net/conversation/1948913704/355889

[2022-07-14 14:10] NataliaDrause commented on #3717
WPX reach out with more compatibility suggestions here:
https://secure.helpscout.net/conversation/1949018441/355918?folderId=3864740

@piotrbak pinging you to take a look at what could be done on our end.

[2022-07-14 15:31] joejoe04 commented on #3348
Related - https://secure.helpscout.net/conversation/1947520970/355560/

[2022-07-14 20:32] camilamadronero-zz commented on #2156
new case https://secure.helpscout.net/conversation/1942637809/354472/

[2022-07-15 03:20] jcatello commented on #5207
Not sure if this should be in a separate bug report but it is also forcing a trailing slash on ads.txt

[code]

[2022-07-15 08:14] melissahie commented on #4961
Given that this issue: https://github.com/wp-media/wp-rocket/issues/5126
has been closed, does it mean the lazyload will work again without the extra plugin?

[2022-07-15 18:00] joejoe04 commented on #1511
Possibly related: https://secure.helpscout.net/conversation/1949978825/356080

[2022-07-17 03:54] jammy26 opened #5244 "RUCSS - jnews Theme - Navigation Bar/Search Icon Not working"
**Describe the bug**
When using RUCSS method for CSS Optimization, neither Hamburger Icon nor search icon works on Mobile in jnews theme. Those icons shows up but don't work. They work just fine with Method "Load CSS Asynchronously"

**To Reproduce**
I have setuped a staging website just for this.
Steps to reproduce the behavior:
1. Go to https://dobermannclub.net/ with actual mobile browser
2. Cl

[2022-07-17 10:52] Michaelgimii commented on #5134
hello @piotrbak ,I am very excited about this feature. Is the release version of this feature specified? A good news?

[2022-07-17 14:42] mehedihasanziku commented on #5244
Add below selectors in rucss safelist box, here is the guideline https://docs.wp-rocket.me/article/1529-remove-unused-css#css-safelist

[code]

[2022-07-17 18:45] 79ho3ein opened #5245 "Increased loading time of wc-fragments"
**Describe the bug**
When wp-rocket is active, POST ?wc-ajax=get_refreshed_fragments&elementor_page_id=20 takes at least 2 seconds to load.
screenshot : https://prnt.sc/Kbbc9entnHGx
After I disabled wp-rocket, the load speed of this request improved greatly, dropping to 678ms.
A number of users who use wp-rocket have this problem. Because a large part of the loading time of the website is devoted

[2022-07-17 18:47] girlie commented on #928
Related: https://secure.helpscout.net/conversation/1950922043/356255/

[2022-07-18 00:05] JanWebofka commented on #5245
Thank you for opening this ticket @79ho3ein ! Waiting for fix

[2022-07-18 06:33] vmanthos commented on #5030
@CrochetFeve0251 @jeawhanlee @wp-media/productrocket

I manually added a firewall rule using Cloudflare's UI. It included all IPs listed above:
[code]
These have no effect in allowing the SaaS to reach a site where the **Bot Fight Mode** (BFM) is enabled. i.e. only disabling the latter allows our SaaS to reach the site and generate used CSS.

Also, when that's disabled it doesn't matter whether th

[2022-07-18 07:00] jeawhanlee commented on #5030
@vmanthos So we can close this issue as fixing https://github.com/wp-media/wp-rocket/issues/5032 will also fix it?

[2022-07-18 07:02] vmanthos commented on #5030
Let's close it @jeawhanlee. We can reopen it if anything changes.

[2022-07-18 07:02] #5030 closed, assigned to jeawhanlee

[2022-07-18 10:11] vmanthos commented on #4710
I wasn't able to reproduce the issue. I didn't get a `Push/Other` initiator though.

@DahmaniAdame do you know if anything more is necessary in addition to having the Cloudflare plugin and setting `CLOUDFLARE_HTTP2_SERVER_PUSH_ACTIVE` to `true`?

By the way, I could see the `preload` resource hint added for JavaScript files but when Remove Unused CSS was applied no CSS files were added to the sour

[2022-07-18 10:43] engahmeds3ed commented on #5032
We would need to fill Cloudflare Bot safelisting form here: https://docs.google.com/forms/d/e/1FAIpQLSdqYNuULEypMnp4i5pROSc-uP6x65Xub9svD27mb8JChA_-XA/viewform

I'm discussing with JB and Mostafa the details to be provided and will subit the form once I get all required info.

[2022-07-18 10:50] Michaelgimii commented on #5245
+1

[2022-07-18 13:26] GeekPress commented on #4327
@futtta Thanks for adding `?no_cache` and `?no_optimize`.

Unfortunately, we won't be able to use them.

Why?

Our SaaS used to generate Remove Unused simulates a visit on the website with the `?nowprocket` query string to be sure to get the uncached version with no optimization.

If we change the query string to `?no_cache` or `no_optimize` on our SaaS, it means we won't correctly generate the Us

[2022-07-18 13:47] futtta commented on #4327
As you asked so kind, see
https://github.com/futtta/autoptimize/commit/090bef03e74795624274a445db1a91a82182d987

That should give users some more time to update to versions that
integrate no_cache/ no_optimize, but do consider this is a temporary
workaround ;-)

On 18/07/2022 15:26, Jonathan Buttigieg wrote:

[2022-07-18 14:10] GeekPress commented on #4327
Thanks @futtta

I'm afraid this will need to be a permanent enhancement to implement.

Whenever we decide to implement it into our SaaS, changing the URL will cause a ton of users to have an inaccurate RUCSS.

I can see that you already have specific conditions for Elementor, Visual Composer, etc...

[2022-07-18 14:37] futtta commented on #4327
I would make sure my SAAS adds both nowpocket AND no_cache (or no_optimize) in the querystring and have newer versions of my premium plugin honor no_cache instead of nowprocket. That way over time (almost) all sites will honor no_cache and nowprocket can be gently laid to rest. But it's not my SAAS or premium plugin, obviously ;-)

On 18/07/2022 16:10, Jonathan Buttigieg ***@***.***> wrote:

[2022-07-18 14:42] GeekPress commented on #4327
Ah ok, I didn't think about that solution. Thanks for sharing. I will discuss it with our developers asap.

[2022-07-19 06:54] DahmaniAdame opened #5247 "Avada carousel not working when DJE is enabled + jQuery is excluded"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.4.2`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When Avada's carousel element is used with DJE + jQuery is excluded, the carousel doesn't show up.

No console error is showing.

Excluding the following

[2022-07-19 07:49] DahmaniAdame commented on #4376
Related - https://secure.helpscout.net/conversation/1949610538/356018/

[2022-07-19 09:58] jeawhanlee commented on #5235
### Scope a solution ✅
We will update WP_Rocket\ThirdParty\Hostings::HostResolver to check for one.com env
[code]
Then we will update `WP_Rocket\ThirdParty\Hostings::HostSubscriberFactory` .

Related tests should also take most effort.

Estimate the effort ✅
[S]

[2022-07-19 10:31] piotrbak commented on #5245
Hello @79ho3ein from the thread you shared, it looks like a couple of factors are involved. From WP Rocket's end, I'd suggest checking if using this helper plugin resolves the problem:
https://github.com/wp-media/wp-rocket-helpers/tree/master/compatibility/wp-rocket-compat-wc-cart-fragments

[2022-07-19 10:55] 79ho3ein commented on #5245
thank you @piotrbak  Yes, much better than before.
Before installing this plugin: 1.6s
after installing this plugin: 741ms

[2022-07-19 10:57] Michaelgimii commented on #5245
It worked great for me. Do we always need to install this plugin? Or will it be added to wp-rocket in future updates?

[2022-07-19 11:02] piotrbak commented on #5245
@Michaelgimii This plugin **disables** our optimization related to cart fragments. You can read more about it here:
https://docs.wp-rocket.me/article/1100-optimize-woocommerce-get-refreshed-fragments

Probably adding the page ID to request changes something in the native WC function and makes our optimization (and some features of other plugins mentioned in the above thread) not working correctly.

[2022-07-19 11:07] vmanthos opened #5249 "RUCSS allowlisted IP isn't removed from Wordfence's options"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅`3.11.4.2`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

We allowlist the RUCSS SaaS IP here:
https://github.com/wp-media/wp-rocket/blob/98a11540dc19c3ae598d7361e0b7ecee79045df9/inc/ThirdParty/Plugins/Security/WordF

[2022-07-19 11:26] WordPresseur opened #5250 "LazyLoad - Update to latest version of Vanilla Lazyload"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**
The latest version of [Vanilla Lazyload](https://github.com/verlok/vanilla-lazyload) is `17.8.2` and we still use the `17.5`:
https://github.com/wp-media/wp-rocket/blob/

[2022-07-19 11:36] viobru commented on #3142
Related: https://secure.helpscout.net/conversation/1952246494/356557/

[2022-07-19 14:29] joejoe04 commented on #3142
Related: https://secure.helpscout.net/conversation/1952930497/356667/

[2022-07-19 14:39] NataliaDrause opened #5251 "Add "Clear Used CSS of this URL" option on Edit screen"
`Clear Used CSS of this URL` top menu option is currently not available if you are on the Edit screen.

![image](https://user-images.githubusercontent.com/60236665/179776643-3e8b7f41-172e-4566-9f16-482203c5d781.png)
Full-screen image: https://i.imgur.com/GTKnKU0.png

The option is only available when you are logged-in and viewing URL:

![image](https://user-images.githubusercontent.com/60236665/17

[2022-07-19 14:45] piotrbak commented on #5219
Hello @mehedihasanziku thanks for your comment

`psi also doesn't flag inline css then what's the purpose of it. I really want to understand insights behind this.`
It's not triggering the warning, that's true. However, other metrics are worsened and it's blocking the render. We're looking for the best performing solution that is good for everyone.

[2022-07-19 22:16] piotrbak commented on #5244
Hello @jammy26 thanks for creating the issue. We'll try to reproduce the problem and then we'll make sure that things are resolved on our end without the need of safelisting CSS classes on your end.

Could you reach our Support Team and provide access to the staging site?

[2022-07-19 22:16] #5244 closed, assigned to nobody

[2022-07-19 22:17] piotrbak commented on #5244
Thank you @mehedihasanziku for your answer.

[2022-07-20 06:05] DahmaniAdame opened #5252 "Compatibility with Rocket.net hosting (sync cache purging)"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.4.2`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Rocket.net uses Cloudflare to manage its page cache.

When cache is purged by WP Rocket, the website content will remain stale until it's purged on their

[2022-07-20 08:03] DahmaniAdame opened #5254 "Social Media Share Buttons compatibility with Defer and Delay JS when the jQuery library is excluded"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.4.2`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When the [Social Media Share Buttons & Social Sharing Icons](https://wordpress.org/plugins/ultimate-social-media-icons/) is used with either Delay JS or D

[2022-07-20 08:30] neilcthacker commented on #3142
Also experiencing this issue. I have tried all of the fixes listed throughout this thread, but no luck.

It's a shame because the delay JS feature is by far the biggest impact on my site speed. Without it WP Rocket is fairly useless on my site.

[2022-07-20 09:56] GeekPress opened #5255 "Remove « Beta » from Remove Unused CSS feature"
**Describe the solution you'd like**
We would like to remove the « Beta » mention on the « Remove Unused CSS » selector into the « Optimize CSS Delivery ». option.

The current text displayed once the option is selected will be replaced by the warning notice we have for Minify or Combine CSS options.

[2022-07-20 10:32] DahmaniAdame commented on #4792
Still not working on 3.11.4+. I had to disable the feature manually for it to work.
Ticket - https://secure.helpscout.net/conversation/1952347457/356586?folderId=3864735
@piotrbak this one might need reopening or re-running QA to make sure the dynamic style is always disabled.

[2022-07-20 11:28] piotrbak commented on #4792
@DahmaniAdame Thanks, please ping me if you're able to get the staging site 🙏

[2022-07-20 11:29] viobru commented on #3142
Likely related: https://secure.helpscout.net/conversation/1953165220/356716

[2022-07-21 05:48] sebssingh opened #5258 "If WP Rocket is on one.com environment, Varnish add-on should be enabled upon activation"
Hi!
Once https://github.com/wp-media/wp-rocket/issues/5235 is in production, I would like to request that we enable the Varnish add-on (available in the WP Rocket add-on settings) by default for customers activating the plugin on a one.com environment, since one.com uses Varnish caching.

[2022-07-21 07:55] DahmaniAdame commented on #4792
@piotrbak, the customer will make a staging site available after their next deployment. I will let you know whenever it's ready.

[2022-07-21 08:31] NataliaDrause opened #5259 "RUCSS: Cookie Notice plugin stylesheet is skipped during Remove Unused CSS process"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.11.4.2
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
When RUCSS is enabled, all Cookie Notice styles are missing. The Cookie Notice bar looks broken.
The Cookie Notice stylesheet is skipped during the Remove U

[2022-07-21 08:47] piotrbak commented on #5258
Hello @sebssingh thanks for creating the issue. While ago we've created an issue similar to this one but also including the CDN feature compatibility:
https://github.com/wp-media/wp-rocket/issues/5189#issuecomment-1167274538

The above issue contains more details, what do you think about closing this one and continue the work there?

I also have two questions about the compatibilities:
1. Is Varni

[2022-07-21 09:03] piotrbak commented on #5189
Hey @sebssingh ! I have some questions related to the compatibilities:
1. Is Varnish always enabled? If not, do you have any entry in the $_SERVER array to determine if it's enabled?
2. How we could determine if the CDN option is enabled and also get the CNAME of the CDN?

[2022-07-21 09:03] piotrbak commented on #5258
Closing it in favour of 5189

[2022-07-21 09:03] #5258 closed, assigned to nobody

[2022-07-21 10:47] mostafa-hisham commented on #5259
Fix in sass side with the correct user agent

[2022-07-21 10:47] #5259 closed, assigned to nobody

[2022-07-21 10:50] DahmaniAdame commented on #3180
Related - https://secure.helpscout.net/conversation/1953820886/356890/

[2022-07-21 11:37] CrochetFeve0251 commented on #5255
## Scope a solution

For this we will have to remove the beta mention on the [title](https://github.com/wp-media/wp-rocket/blob/ff6d8014d7736c140fde328215d6aa58128db70b/inc/Engine/Admin/Settings/Page.php#L723).
Another part we need to remove this the warning [section](https://github.com/wp-media/wp-rocket/blob/ff6d8014d7736c140fde328215d6aa58128db70b/inc/Engine/Admin/Settings/Page.php#L727).

## E

[2022-07-21 12:09] vmanthos opened #5261 "PHP deprecated notice when converting boolean to array for Yoast SEO"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version N/A
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

With:
* WP Rocket `3.9.5.1`
* PHP `8.1.x`

the following is displayed in the `debug.log`:
[code]

It's about this line:
https://github.com/wp-media/wp-rocket/blob/8ef

[2022-07-21 12:23] vmanthos opened #5262 "PHP deprecated notice when passing null to json_decode() for 3.9 and 3.10 versions"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - this is affecting versions `3.9.5.x` and `3.10.10.x`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When using either `3.9.5.1` or `3.10.10.1` with PHP `8.1.x` the following notice is displayed in the `debug.log`:

[2022-07-21 12:54] NataliaDrause opened #5263 "RUCSS to preserve inline CSS for the Advanced Ads plugin"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.11.4.2.
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
Ads are missing when Remove Unused CSS is enabled due to the dynamic selectors not preserved in Used CSS.

The affected selectors:
![image](https://user-im

[2022-07-21 14:24] juricazuanovic commented on #4961
Related https://secure.helpscout.net/conversation/1940750121/354049/

[2022-07-21 18:08] marka33 commented on #3327
This problem is still NOT RESOLVED.
I'm using Elementor v3.6.7, Elementor Pro v3.7.2 and WP Rocket 3.11.4.2

I run on an HTTP/2 enabled server (kinsta), and would prefer not to enable the Combine CSS as it tends to compete with the HTTP/2 advantages.

[2022-07-22 04:02] thesquaremedia opened #5265 "Lasyloading does not seem to work properly when testing on chrome responsive mode with devtools."
When I view the devtools elements on desktop mode the images lazy load on the browser tab appropriately but when I switch to responsive mode it does not work. if I set the user agent to a chrome Mac or windows then it works correctly. is wp rocket checking user agents to apply lazy loading?

[2022-07-22 05:41] DahmaniAdame opened #5266 "Divi delayed variable causing corresponding feature to not work"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.4.2`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
If a variable declaration in Divi is delayed, its corresponding feature doesn't work properly.

In this case, it's the `et_link_options_data` used to map

[2022-07-22 08:56] CrochetFeve0251 commented on #4920
## Reproduce the issue
After trying to reproduce the issue and a talk with @DahmaniAdame. This is issue has been resolved by a PR solving another issue: https://github.com/wp-media/wp-rocket/pull/4995

[2022-07-22 08:56] #4920 closed, assigned to CrochetFeve0251

[2022-07-22 09:33] engahmeds3ed commented on #5032
For @piotrbak action:

@mostafa-hisham Changed the user-agent header from the SaaS to be a real browser and this solved the issue and I believe he confirmed that with @vmanthos

I think we don't need to submit the form above, what do u think?

[2022-07-22 09:40] engahmeds3ed commented on #5229
@alfonso100

Thanks for taking time to get the whole selectors.

I believe we don't need to have the generic one `#thb-` and only add the ones that we can see because I can see that this prefix is used in the whole elements even the not timestamed ones!

We can start with the ones u mentioned and once we see another items we can open another issue and resolve them there.

The good thing behind hav

[2022-07-22 09:43] vmanthos commented on #5032
Just a note on my part.

Yesterday with Mostafa we couldn't replicate the Bot Fight Mode issues, i.e. BFM blocking used CSS generation, on my test site.

In retrospect, the only thing that was different yesterday compared to when I checked this on my own was that I installed the official Cloudflare plugin after the checks.

I'm adding this detail here in case we need to revisit this in the future.

[2022-07-22 10:24] vmanthos opened #5268 "Asset Cleanup inline CSS/JavaScript features prevent the application of some of WP Rocket's automatic compatibilities"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅`3.11.4.2`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

Asset Cleanup has the following two features:
* Inline CSS files
* Inline JavaScript files

When they are enabled, the content of the files is added inline, a

[2022-07-22 10:26] piotrbak commented on #5265
Hello @thesquaremedia thanks for creating the issue. WP Rocket's lazyload should work correctly on all UAs.

If you're still experiencing this problem, please contact our Support Team and we'll try to address your concerns

[2022-07-22 10:26] #5265 closed, assigned to nobody

[2022-07-22 13:20] joejoe04 commented on #3142
Related: https://secure.helpscout.net/conversation/1955395538/357227/

[2022-07-22 16:56] juricazuanovic commented on #3142
Related https://secure.helpscout.net/conversation/1955665009/357352

[2022-07-24 09:20] NataliaDrause opened #5270 "RUCSS to preserve JNews theme inline CSS"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version -3.11.4.2
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
Some CSS rules are missing when Remove Unused CSS is enabled due to the dynamic selectors not being preserved in Used CSS.

The affected selectors:
![image](

[2022-07-24 22:45] trendymail opened #5272 "Adding exclusive lock (to avoid unnecessary CPU usage) when WP Rocket knows a page can be cached?"
Hello!

I am just wondering why "maybe_process_buffer()" doen't use an exclusive lock when it detects that a page can be put in cache.

For instance, if a page is not in cache and there are 10 simultaneous requests to it within a short laps of time, then WP Rocket will let PHP render this page from scratch many times until a cached version is written and detected.

Is it intended? (Maybe yes, I am

[2022-07-25 09:24] NataliaDrause commented on #4062
Another case where Delaying `consent.cookiebot.com` is blocking all the links.

Ticket: https://secure.helpscout.net/conversation/1956525959/357496/

[2022-07-25 11:11] piotrbak commented on #5272
Hello @trendymail and thank you for starting the discussion.

@Tabrisrp what would be your opinion here? 🤔

[2022-07-25 12:02] piotrbak opened #5274 "GitHub actions to deploy fallback lists"
Creating the issue as a missing part for:
- https://github.com/wp-media/wp-rocket/issues/5038
- https://github.com/wp-media/rucss-backend/issues/5

During the release we need to create a fallback file to make sure that customers have exclusions when there's no connection with our backend.

[2022-07-25 13:19] remyperona commented on #5272
It's an interesting idea, I don't know if it's something that can be achieved through PHP though.

[2022-07-25 13:39] #3837 closed, assigned to remyperona

[2022-07-25 16:48] jeawhanlee commented on #5261
@piotrbak @vmanthos I don't think we will need to make any changes on the new preload because this notice is triggered when we are converting a var to an array on the fly and since we are already taking care of this here by setting a default, I think we are good.
https://github.com/wp-media/wp-rocket/blob/33c67aac0319eda785aadd6ea26a9d00d36f5ca5/inc/ThirdParty/Plugins/SEO/Yoast.php#L84

[2022-07-25 20:13] trendymail commented on #5272
AFAIK, mkdir() is atomic (except over NFS, SSHFS, other?) so this function could be used to set/get an exclusive lock in PHP.

Not sure that PHP flock() is thread safe.

[2022-07-26 06:37] DahmaniAdame commented on #3348
Related - https://secure.helpscout.net/conversation/1948867774/355866/

[2022-07-26 08:04] DahmaniAdame opened #5279 "WP Rocket picks up the wrong URL to purge/use a referrer when Weglot is used"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.4.2`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When [Weglot](https://wordpress.org/plugins/weglot/) is used, and the user is on a translated page, we are picking up the original URL to `Purge this URL`

[2022-07-26 10:19] piotrbak commented on #5229
@alfonso100 Is that list a complete one or we need further investigation?

[2022-07-26 11:14] DahmaniAdame commented on #3749
Related - https://secure.helpscout.net/conversation/1956051079/357412?folderId=3864735
Avada infinite scroll when using the posts grid.
Avada loads the page in full in the background, but it only adds the missing items to the posts grid.
The behavior is the same as described on the issue.

[2022-07-26 12:02] DahmaniAdame commented on #3142
Related - https://secure.helpscout.net/conversation/1953813548/356889

[2022-07-26 12:54] AleksBaikalsky opened #5281 "Need a hook (action) on Clear cache"
**Is your feature request related to a problem? Please describe.**
I need to execute my function when user clicks 'Clear cache' button.

**Describe the solution you'd like**
Some action hook, e.g. 'after_rocket_clear_cache'.

**Describe alternatives you've considered**
Workarounds, and that's not an acceptable solution. Looking through WP Rocket codebase in had no results, maybe I looked in the wr

[2022-07-26 12:57] piotrbak commented on #5281
Hello @AleksBaikalsky there's a hook when the whole cache is getting cleared:
https://github.com/wp-media/wp-rocket/blob/850621a6fd88e1c3ec47f92de55a78d7e4ae2cf6/inc/functions/files.php#L781

In the same file you'll see some other hooks related to cache clearing. Does it answer your question?

[2022-07-26 13:07] AleksBaikalsky commented on #5281
Hello,

Yes, thank you @piotrbak

[2022-07-26 13:07] #5281 closed, assigned to nobody

[2022-07-26 18:30] juricazuanovic opened #5282 "Accessibility issue - DJE with recommended Elementor exclusions duplicates element with the same ID"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version -3.11.4
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
When using Delay JavaScript execution with recommended Elementor exclusions, it causes the duplication of `<span id="elementor-device-mode" class="elementor-sc

[2022-07-27 11:58] sebssingh commented on #5189
Hi @piotrbak Apologies for the delay in my response.

1. Yes, Varnish is always enabled by default for all one.com customers.
2. In order to check if a customer is using the CDN option via our Performance Cache plugin you can make use of the database option oc_cdn_enabled that is either set to true (CDN) or false (no CDN). The CNAME of the CDN would be https://usercontent.one/wp/www.domain.tld/ if

[2022-07-27 14:50] girlie commented on #2441
Related: https://secure.helpscout.net/conversation/1961268769/358386/

[2022-07-27 15:16] girlie commented on #5094
Related: https://secure.helpscout.net/conversation/1960171738/358167/

[2022-07-27 16:42] froddo7 commented on #3142
Yes this Delay JS seems to be an IOS/Apple issue. Till this is fixed, we have moved to perfmatters plugin.

[2022-07-27 16:46] Mahjouba91 commented on #4845
Hello, I have the same bug in a multisite installation, I actually use the same piece of code that @Rahe shared.

After digging a bit, the only cron event that throws an empty error is that one for me: `rocket_rucss_warmup_scanner_cron` I'm not sure if it happens for other ones as well

[2022-07-27 17:06] neilcthacker commented on #3142
So this issue is exclusive to WPRocket in your experience?

[2022-07-27 17:32] froddo7 commented on #3142
No it's not exclusive to WP rocket but our theme works ok with perfmatters & delay js.

[2022-07-28 05:01] DahmaniAdame opened #5283 "RUCSS compatibility with Mandatory Cookies"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.4.2`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When RUCSS is used on website using `dynamic cookies`, SaaS is generating the Used CSS against the website without considering the `dynamic cookie`.

This

[2022-07-28 08:05] DahmaniAdame commented on #2371
Related - https://secure.helpscout.net/conversation/1954916245/357146/

[2022-07-28 08:22] DahmaniAdame commented on #2371
Related as well - https://secure.helpscout.net/conversation/1870169543/340933/ (waiting for feedback)

[2022-07-28 10:35] NataliaDrause commented on #5283
Related: https://secure.helpscout.net/conversation/1944914010/354952/

[2022-07-28 16:07] viobru commented on #3142
Related: https://secure.helpscout.net/conversation/1958425178/357855

[2022-07-29 14:58] Michaelgimii opened #5284 "wp rocket slow down ajax in elementor."
**Describe the bug**

I design a store website using elementor, jet plugins (jet woobuilder, jet smart filters & jet compare & wishlist) and hello elementor theme. In fact, adding to cart, applying filters, adding to favorites and comparing are done in Ajax.
When wp rocket is active, Ajax speed will be between 2 and 4 seconds. But when I disable wp-rocket, ajax speed is super fast. It even works i

[2022-07-29 15:00] piotrbak commented on #5284
Hello @Michaelgimii isn't it a duplicate of this issue?
https://github.com/wp-media/wp-rocket/issues/5245

[2022-07-29 15:36] Michaelgimii commented on #5284
hello @piotrbak , No, I don't think so. This is related to Ajax request. It seems that the cause of this problem may be that wp-rocket is not compatible enough with jet plugins. Because Ajax is widely used in two plugins, Jet woobuilder and Jet Smart Filters. Please check these if possible Maybe you need to pay more attention to jet plugins
Anyway, thank you

[2022-07-29 15:37] 79ho3ein commented on #5284
I can confirm this too. wp-rocket really slows down ajax in elementor and jet plugins.

[2022-07-30 03:09] jivaneo commented on #3142
Hi there,
So, not sure to understand, is this issue fixed?

[2022-07-30 04:09] jivaneo commented on #4700
Same here :(

[2022-07-30 15:13] girlie commented on #5094
Related: https://secure.helpscout.net/conversation/1963065900/358738/

[2022-07-31 03:14] jazir555 commented on #5284
I have the same issue with woolentor

[2022-07-31 09:05] NataliaDrause commented on #3567
related: https://secure.helpscout.net/conversation/1944437692/354841?folderId=3864740

[2022-07-31 10:43] NataliaDrause commented on #2068
https://secure.helpscout.net/conversation/1963318105/358804?folderId=3864740

[2022-08-01 11:55] jeawhanlee commented on #5104
Closing until issue resurfaces.

[2022-08-01 11:55] #5104 closed, assigned to jeawhanlee

[2022-08-01 13:29] engahmeds3ed commented on #4660
instead of checking the WP version [here](https://github.com/wp-media/wp-rocket/blob/74a8c93d41a8b72b3a197aaadd53c048aa99ef93/inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber.php#L591-L595) to detect if jQuery Migrate is enqueue or not, we can use the function [wp_script_is](https://developer.wordpress.org/reference/functions/wp_script_is/)
to check if its enqueue or not.
Then adjust the cor

[2022-08-01 15:09] remyperona commented on #5251
### Reproduce the issue ✅
Reproduced

### Identify the root cause ✅
It's happening because the method adding this admin bar item has a check for `is_admin()` and bails-out if true.

### Scope a solution ✅
Remove the check for `is_admin()` in `RUCSS\Controller\UsedCSS::add_clear_usedcss_bar_item()`

### Estimate the effort ✅
Effort `[XS]`

[2022-08-01 15:23] piotrbak commented on #5087
@alfonso100 This one can be solved with the backend now.

[2022-08-02 05:00] jivaneo commented on #4700
Hey guys,

Elementor support sent me a solution.
Adding this to CSS safelist:

[code]
Worked for me.

Cheers!

[2022-08-02 08:28] matzeeable commented on #5283
Hey WP Rocket team!

Here is Matthew, developer behind Real Cookie Banner. 😀

More and more customers are running into the issue and our plugin is no longer working correctly when using RUCSS feature. The root cause for this is, that if your cloud service is adding the URL to queue, the cookie banner is always shown as your crawler did not yet give consent to it (no cookie as @DahmaniAdame describ

[2022-08-02 10:20] piotrbak commented on #5003
Closing it in favor of:
https://github.com/wp-media/wp-rocket/issues/5207

[2022-08-02 10:20] #5003 closed, assigned to jeawhanlee

[2022-08-02 15:01] mobiledevres opened #5286 "We cleared the WP Rocket cache. But website always loads from previous cache data."
We are using WP Rocket Version 3.10.8. After we make changes in Insert Headers and Footers section that changes will not reflect in original website. But when i try to view my website with (www.domain.com/?nocache=true) then i can able to see my new changes. I tried all caching clearing options provided by WP Rocket. But nothing works. Can you please suggest some good option to clear and verify ca

[2022-08-02 18:08] jeawhanlee commented on #5249
### Identify the root cause ✅
We are currently not handling the updating the ip on wordfence whitelist.

### Scope a solution ✅
I propose:
- Use the wordfence config class `use wfConfig;`
- Add a new prop to the [wordfence Thirdparty Class](https://github.com/wp-media/wp-rocket/blob/develop/inc/ThirdParty/Plugins/Security/WordFenceCompatibility.php) -> `$old_rucss_ip` which will hold the old ip we

[2022-08-02 19:47] webtrainingwheels commented on #1756
This issue still exists. The commit that closed it is unrelated.

New case:
https://secure.helpscout.net/conversation/1965737480/359306?folderId=377611

[2022-08-03 08:17] DahmaniAdame opened #5288 ""?nowprocket" is cached when it's used with a cacheable query string"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.4.2`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
`?nowprocket` is sending back a cached page when used with a cacheable query string.

![image](https://user-images.githubusercontent.com/1289174/182553423

[2022-08-03 08:44] NataliaDrause commented on #4648
Related: https://secure.helpscout.net/conversation/1963257907/358787/

Due to the automatic Gallery exclusions, the navigation menu breaks on Product pages only.

I had to exclude the following scripts:
[code]
But these are applied globally and deteriorate homepage and other non-product pages' performance.

[2022-08-03 09:10] #5219 closed, assigned to nobody

[2022-08-03 09:10] #5270 closed, assigned to NataliaDrause

[2022-08-03 09:14] #5263 closed, assigned to NataliaDrause

[2022-08-03 12:26] piotrbak opened #5289 "Improve Beaver Builder compatibility"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
We're clearing the whole cache when editing any post using Beaver Builder.

**To Reproduce**
Steps to reproduce the behavior:
1. Install BB and WP Rocket, generate some cach

[2022-08-03 13:23] piotrbak commented on #5286
Hello @mobiledevres and thank you for creating the issue.

It sounds like you have another layer of cache present on your website (server-side, browser cache, maybe Cloudflare or Sucuri, etc.). This is rather a support request than a real bug or enhancement that we could work on GitHub. Please reach our Support Team here, we'll be happy to help you:
https://wp-rocket.me/support/

[2022-08-03 13:23] #5286 closed, assigned to nobody

[2022-08-03 15:57] alfonso100 opened #5290 "RUCSS inline exclusion to preserve inline CSS for the Convert Plus plugin"
**Before submitting an issue please check that you’ve completed the following steps:**
yes - Made sure you’re on the latest version
yes - Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug:**
When CTA banners are added using the **Convert Plus** plugin, the styling is lost when Remove Unused CSS is enabled due to dynamic selectors not preserved in Used C

[2022-08-03 19:38] #5198 closed, assigned to remyperona

[2022-08-03 19:41] #5262 closed, assigned to jeawhanlee

[2022-08-03 19:42] #5261 closed, assigned to jeawhanlee

[2022-08-03 19:43] #5204 closed, assigned to remyperona

[2022-08-03 19:50] #4105 closed, assigned to remyperona, jeawhanlee

[2022-08-04 06:59] DahmaniAdame commented on #4376
Related - https://secure.helpscout.net/conversation/1965364903/359210/
Theme: Houzez
When RUCSS is used, mobile menu is not styled properly. Activating the separate cache for mobile devices fixes the issue.

[2022-08-04 09:09] JerissCloudCenter commented on #2404
Will this be fixed as part of the New Preload Module ?

It was supposed to be the case as mentioned in https://github.com/wp-media/wp-rocket/issues/2404#issuecomment-626641823

[2022-08-04 13:48] #5274 closed, assigned to mostafa-hisham

[2022-08-04 16:48] piotrbak commented on #5087
Resolved here:
https://b.rucss.wp-rocket.me/rucss-safelist/edit/L2ZsYXRzb21lL2Fzc2V0cy9qcy9mbGF0c29tZS5qcyYmZGF0YS1mbGlja2l0eS1vcHRpb25zPQ%3D%3D

[2022-08-04 16:48] #5087 closed, assigned to nobody

[2022-08-04 17:36] piotrbak commented on #5229
This is the complete list of dynamic elements:
[code]

@engahmeds3ed You remember where did you see the `#thb-` in internal style that's not dynamic? 🤔

[2022-08-04 19:24] webtrainingwheels commented on #4040
Same issue is happening here: https://secure.helpscout.net/conversation/1968230782/359797?folderId=377611
Also a WP Engine site. In this case the warning is related to the cache/busting folder:

`RecursiveDirectoryIterator::__construct(/nas/content/live/xxx/wp-content/cache/busting/1/): failed to open dir: No such file or directory`

`in RecursiveDirectoryIterator::__construct called at /nas/conte

[2022-08-04 20:48] alfonso100 commented on #4628
possibly related: https://secure.helpscout.net/conversation/1948213678/355766?folderId=2683093
I have enabled lazyload on Jetpack and it works as expected

[2022-08-05 12:08] DahmaniAdame commented on #3511
Related - https://secure.helpscout.net/conversation/1968899781/359935/

[2022-08-05 16:38] sandyfzu opened #5293 "Lazyload: Background images added directly as code are removed from the HTML"
**Before submitting an issue please check that you’ve completed the following steps:**
- ✅ Made sure you’re on the latest version
- ✅ Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
For background images we seem to expect for a URL in the style attribute, but the image can also be added as code:

Example:

`<div class="awb-background-mask" style="ba

[2022-08-05 16:38] sandyfzu commented on #5293
Related case: https://secure.helpscout.net/conversation/1967487595/359615/

[2022-08-06 13:16] cafecafe commented on #3142
Having the same issue on the client`s website: Storefront theme + Woocommerce + Elementor menu (same issue with default frontend.min.js too). Both iOS Chrome and Safari.

[2022-08-07 09:38] slhuile commented on #1524
Since 2019 the Brotli compression feature is requested for WP-Rocket. Many updates appeared but still no Brotli!!
Isn't it nonsense for a plugin that prides itself on being one of the best for improving PageSpeed ​​score?

Please provide a fix urgently because on many servers with PHP 8.1 it is no longer possible to integrate GZIP, only Brotli.

[2022-08-07 13:56] NataliaDrause opened #5294 "Delay JS: automatic exclusion of lazysizes.js causes jQuery is not defined error"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.11.5
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
We automatically exclude `lazysizes.js` [here](https://github.com/wp-media/wp-rocket/blob/5afc9584b9e57e550231f5a8bfe8ae91fbd0b0cf/inc/Engine/Optimization/Del

[2022-08-08 07:37] mostafa-hisham commented on #5293
### Reproduce the problem
I was able to reproduce the problem locally.

### Identify the root cause
we are lazyloading base64 images (i don't think we need to do that)

### Scope a solution
we can add a condition to stop lazy load background-image with `data:image`
[code]
after
https://github.com/wp-media/wp-rocket/blob/5afc9584b9e57e550231f5a8bfe8ae91fbd0b0cf/inc/Dependencies/RocketLazyload/Image

[2022-08-08 09:27] engahmeds3ed commented on #5177
@piotrbak @GeekPress

May I add the `won't fix` label here?

Like @Tabrisrp mentioned, this can't be fixed from the plugin side.

So the only option here is to have 3.9.4 zip files uploaded to our site with the files from 3.9.5 not to have such errors, what do u think?

[2022-08-08 09:53] mostafa-hisham commented on #4442
### Reproduce the problem
I was able to reproduce the problem locally.

### Identify the root cause
We have a couple of problems here
- **The first problem** is that we are not checking the `<P>` tag (@wp-media/php is this on purpose)
https://github.com/wp-media/wp-rocket/blob/5afc9584b9e57e550231f5a8bfe8ae91fbd0b0cf/inc/Dependencies/RocketLazyload/Image.php#L61

- **The second problem** is that w

[2022-08-08 10:00] piotrbak commented on #5294
We'll need to exclude jQuery when Avada's LL is enabled.

We also need to make sure that jQuery is not excluded when our LL is enabled as we have compatibility between LL scripts.

[2022-08-08 12:05] vmanthos opened #5295 "rocket_get_purge_urls() is adding a double / to always purged URLs"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.11.5`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When a URL is added in the **Always Purge URL(s)**, we purge that whenever the cache is cleared.

We collect those URLs here:
https://github.com/wp-media/wp-ro

[2022-08-08 12:54] engahmeds3ed commented on #5229
Thanks for the full list @piotrbak

I meant that `thb` prefix is used in all elements but for the IDs, in the customer's page, you are right, all dynamic IDs are prefixed with `#thb-`.

Also bear in mind that we have checked only this site, but we can give it a try, this theme has about 4000 purchases and last update was from more than 1 year so I believe we are in the safe side to use `#thb-`

[2022-08-08 13:01] piotrbak commented on #5229
@engahmeds3ed Great, let's do it then!

[2022-08-08 15:09] mifrero commented on #3142
Related: https://secure.helpscout.net/conversation/1971231894/360426/

[2022-08-08 19:02] #5255 closed, assigned to CrochetFeve0251

[2022-08-09 00:12] jivaneo commented on #3142
Thanks, but I don't have access to this conversation, can you post the solution here?

[2022-08-09 06:18] mostafa-hisham commented on #5294
### Reproduce the problem
No

### Identify the root cause
We need to exclude jQuery when Avada's LazyLoad is enabled.
### Scope a solution
In `/inc/ThirdParty/Themes/Avada.php`
we need to subscribe to `rocket_exclude_delay_js` filter
then check if `$avada_options['lazy_load'] === 'avada'` (very similar to `maybe_disable_lazyload` function in the sam file)
then exclude `/jquery-?[0-9.](.*)(.min|.sl

[2022-08-09 07:02] DahmaniAdame opened #5296 "RUCSS compatibility with WP Geotargeting redirections"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.5`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When WP Geotargeting redirections are enabled, URLs using `?nowprocket` that we use to check the page when processing the Used CSS are redirected as well.

[2022-08-09 13:38] #5075 closed, assigned to remyperona

[2022-08-09 13:39] #5290 closed, assigned to nobody

[2022-08-09 13:55] NataliaDrause commented on #4814
Related: https://secure.helpscout.net/conversation/1967812788/359694?folderId=3864740

[2022-08-09 15:10] NataliaDrause opened #5299 "Cloudflare cache is not cleared when posts are published or edited by Editor or Author user"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.11.5
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
When Cloudflare Cache Everything is activated via page rules, our **Cloudflare add-on** doesn't clear cache when a user with `Author`  or `Editor` user role e

[2022-08-09 18:29] webtrainingwheels commented on #2375
https://secure.helpscout.net/conversation/1967662776/359651?folderId=377611

Clearfy has an option to keep HTML comments. When this is enabled the problem is resolved:
![image](https://user-images.githubusercontent.com/1043076/183734382-1b04248d-7e70-43b3-a030-71e91fdfb1a1.png)

[2022-08-10 07:08] NataliaDrause commented on #5294
**UPDATE:**
The customer reported that excluding jQuery from the _Delay JavaScript Execution_ caused additional problems with Fusion animations and carousel.

The following list of additional exclusions resolved the issue on the customer's site:
[code]

I was able to reproduce a similar problem with a slider on the Mega Avada homepage.
The following additional exclusions resolved the problem:
[cod

[2022-08-10 07:47] GeekPress opened #5300 "Bump minimum support versions to WordPress 5.6 and PHP 7.2"
**Describe the solution you'd like**
We would like to bump the minimum required WordPress version to 5.6 and PHP version to 7.2.

We have today 98.28% of our users using WordPress 5.6 or + and 99.33% of our users using PHP 7.2 or +.

**What do we need to change?**
In wp-rocket.php, update `WP_ROCKET_WP_VERSION` to 5.6 and `WP_ROCKET_PHP_VERSION` to 7.2

We also need to update test matrix in GitHub

[2022-08-10 13:05] rodentooth opened #5302 "What is NitroPack doing that WP-Rocket is not doing?"
**Is your feature request related to a problem? Please describe.**
The problem is that NitroPack drastically improves my sitespeed (from 10-20 score to 70-80 Score), while wp-rocket only increases it mediocre. (30-40 Score).

**Describe the solution you'd like**
What is NitroPack doing in order to speed up my site so good?

I have checked the manual settings of NitroPack and applied every rule to

[2022-08-10 13:07] GeekPress commented on #5302
Please open ticket on our support page to get help from our engineers: https://wp-rocket.me/support/

Our Github repository is used to discuss issues related to WP Rocket, and nothing else.

Thanks

[2022-08-10 13:07] #5302 closed, assigned to nobody

[2022-08-10 14:39] girlie commented on #5189
FYI, regarding the CDN compatibility, one of our mutual customers was recently told this by someone on the One.com team:

This came about because I noticed that having it activated (and applied to **All files**) on the customer's site resulted in a significant number of bad request errors.

Related: https://secure.helpscout.net/conversation/1959988243/358134/

[2022-08-10 15:32] Preen opened #5303 "Fatal Error when activating the plugin (activation not found)"
**Describe the bug**
Have installed the plugin via composer.
When activating the plugin I get this error:

[code]

[2022-08-10 15:37] piotrbak commented on #5303
Hello @Preen thank you for creating the issue. Could you confirm that you followed our documentation when installing the plugin?
https://docs.wp-rocket.me/article/1301-wp-rocket-installation-from-github-using-composer

If so and the problem still exists, please contact our Support Team and we'll see what's going on:
https://wp-rocket.me/support/

[2022-08-10 15:37] #5303 closed, assigned to nobody

[2022-08-11 01:28] mostafa-hisham commented on #5032
in my opinion this issue should be closed
the fix we implemented 20days ago worked fine
and i don't think we faced it again

[2022-08-11 12:00] DahmaniAdame commented on #2441
Related - https://secure.helpscout.net/conversation/1974358566/361074/

[2022-08-11 15:00] alfonso100 commented on #5229
Cool, Should I do the PR?

[2022-08-11 15:23] remyperona commented on #5295
Seems to be fixed in #5226

[2022-08-11 21:52] webtrainingwheels commented on #928
https://secure.helpscout.net/conversation/1972938073/360746?folderId=377611

[2022-08-12 04:31] vmanthos commented on #5295
Indeed! I'm closing this.

[2022-08-12 04:31] #5295 closed, assigned to jeawhanlee

[2022-08-12 07:48] DahmaniAdame opened #5304 "DJE compatibility with Impreza datepicker (used on forms)"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When DJE is used with Impreza's form date picker, the following error shows up on the browser's console:

[code]

The date picker popup doesn't show up.

Excluding t

[2022-08-12 10:45] DahmaniAdame opened #5305 "RUCSS better compatibility with Elementor's elements delivered using webpack.runtime"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Elementor on some occasions will dynamically inject elements using JavaScript the RUCSS SaaS won't be able to catch the resulting markup and add it to the Used CSS.

[2022-08-12 10:51] mbmjertan commented on #3504
Can confirm that this is still reproducible.

If you use Composer in a project to manage plugins, and download WP Rocket as a Packagist package (which is installed using `composer/installers` as its type is set to `wordpress-plugin`), autoloaders for the WP Rocket plugin will not be dumped in the plugin folder.

This happens even if your project's autoloader is correctly included, as it does not p

[2022-08-12 11:51] Wolic commented on #2956
The problem with the empty alt tag still exists. Will it still be fixed?

[2022-08-12 14:33] Mai-Saad opened #5306 "Fatal error when activate WPR while PHP version on WP not matching that on server"
**Before submitting an issue please check that you’ve completed the following steps:**
- Make sure you’re on the latest version => 3.12
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Fatal error when activate WPR while PHP version on WP != PHP on server

**To Reproduce**
Steps to reproduce the behavior:
1. Server with PHP 8.1.8
2. WP using PHP 7.

[2022-08-12 18:23] #5102 closed, assigned to remyperona

[2022-08-13 05:19] DahmaniAdame commented on #3142
Related - https://secure.helpscout.net/conversation/1966571981/359434/

[2022-08-13 12:01] DahmaniAdame commented on #5283
@matzeeable thank you for jumping in.

As sorry for the delay :)

`Real Cookie Banner` was cited here as an example as it illustrated perfectly a potential use case that might cause trouble with our Remove Unused CSS :)

We did some tinkering about the specific case of `Real Cookie Banner,` and we found a turnaround that will be implemented on our side.

**(Recommended) Allow to define further par

[2022-08-14 05:44] gayanchandrab opened #5307 "DJE skips urls with type= parameter in the query string"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version :white_check_mark: 3.11.5
- Used the search feature to ensure that the bug hasn’t been reported before  :white_check_mark:

**Describe the bug**
DJE excludes delaying JavaScript requests with urls that have a parameter 'type=' in the query string which are not specificall

[2022-08-14 12:02] NataliaDrause commented on #2956
Related request: https://secure.helpscout.net/conversation/1976765678/361564

[2022-08-14 15:12] girlie commented on #3644
Related: https://secure.helpscout.net/conversation/1976315958/361477/

[2022-08-14 21:21] Michaelgimii commented on #2678
Does preloading images include this feature?

[2022-08-15 10:12] piotrbak commented on #5229
@alfonso100 Yes, please!

[2022-08-15 10:17] piotrbak commented on #5032
Okay, let's close it and get back to it if reoccurs

[2022-08-15 10:17] #5032 closed, assigned to engahmeds3ed

[2022-08-15 13:17] remyperona commented on #5235
@piotrbak shouldn't this one be closed in favour of #5189?

[2022-08-15 13:21] piotrbak commented on #5235
@Tabrisrp Yes, it can be easily closed now. Thanks!

[2022-08-15 13:21] #5235 closed, assigned to CrochetFeve0251

[2022-08-15 13:46] #5300 closed, assigned to nobody

[2022-08-15 17:07] piotrbak commented on #4357
Reopening issue since the solution provided didn't match the requirements. Minified JS/CSS files were not present in the package.

[2022-08-16 05:00] vmanthos opened #5308 "Cache is cleared for async features RUCSS & Load CSS Asynchronously upon activation"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When activating the following features:
* Remove Unused CSS
* Load CSS Asynchronously

we clear the whole cache as we do when activating other features that affect the

[2022-08-16 05:37] matzeeable commented on #5283
Hi again @DahmaniAdame !

Thanks for the workaround solution. Does the `rocket_usedcss_content` filter only contain the CSS stylesheet or also the `<style` tag, so we can e.g. exclude tags by custom attribute (`<style ignore-me></style>`)?

Is there an ETA for this? And would it make sense to also modify the user agent, so we can also do a client-side check of `navigator.userAgent` (e.g. when usin

[2022-08-16 07:17] DahmaniAdame commented on #5283
It filters the resulting Used CSS. It only contains the CSS code.

The only workable solution available for the time being is:

[code]

Ideally to be used only when the blur feature is enabled.

The fix will require implementing the solution + a filter on our plugin as well. No ETA for now as the team is busy with the release of our revamped Preload.

We sent the following user agent at some point

[2022-08-16 09:25] worldwildweb commented on #4648
related: https://secure.helpscout.net/conversation/1978541946/361811/
This broke the Elementor scripts and further other scripts that are dependent on it: jet-reviews, jet-gallery, AcyMailing

[2022-08-16 12:08] DahmaniAdame commented on #2083
@piotrbak reopening this one because the issue is still there.

Tested by adding `:root {--test-margin-offset: 0px}` and minifying it.

It returned: `:root{--test-margin-offset:0}`.

Ticket - https://secure.helpscout.net/conversation/1978873460/361870/

[2022-08-16 12:25] piotrbak commented on #2083
@DahmaniAdame It seems that library doesn't process this CSS correctly when it's in one line:
[code]
In the above example the `px` is preserved correctly, in the below not at all:
[code]

[2022-08-16 12:34] piotrbak commented on #2083
It's fixed in the library here:
https://github.com/matthiasmullie/minify/issues/397

[2022-08-16 12:39] Mai-Saad opened #5310 "WP Rocket | Enforce Trailing Slash on URLs isnot working probably on single site with subdirectory while WPR is activated"
**Before submitting an issue please check that you’ve completed the following steps:**
- Make sure you’re on the latest version => 3.11.5
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When accessing the post URL in a subdirectory i.e domain/dir/post, we automatically redirected to domain/post while Enforce Trailing Slash on URLs is activated

**

[2022-08-16 19:02] #2678 closed

[2022-08-17 01:49] jorgefduran commented on #2409
Same issue here... any solution? I have tested the @khaledmokhtar  solution but not work for my.

[2022-08-17 05:01] DahmaniAdame commented on #2083
@piotrbak yes, it seems indeed it's only happening when there is no return to the line!

[2022-08-17 08:52] engahmeds3ed commented on #5306
This is because in this PR #5166 we added the use of Monolog V2.
The latest version of Monolog2 is `2.8.0` which loads this [psr/log package](https://github.com/Seldaek/monolog/blob/2.8.0/composer.json#L17)

So when you run the composer command from the terminal which has PHP version >=8 this will load psr/log V3 which requires php 8.0 as in here:
https://github.com/php-fig/log/blob/3.0.0/composer

[2022-08-17 12:34] bgabler commented on #5252
Our Rocket.net MU plugin already ties into several WP-Rocket hooks and we haven’t seen any cases about this. Unless it’s some sort of update that recently took place.

Have you already contacted our Rocket.net support?

[2022-08-17 14:00] MichiBeck commented on #5283
Same problem on our websites running WP-Rocket and RCB. Thanks for the quick-fix.

[2022-08-17 17:52] webtrainingwheels opened #5318 "3.12-alpha3 Database error - Specified key was too long"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
On 3.12-alpha3 I get these database errors logged https://snippi.com/s/rtdv3fw

**To Reproduce**
It happens as soon as WP Rocket is activated. It's on a local site.
Server i

[2022-08-17 18:17] piotrbak commented on #5318
The issue is there also on `alpha4`, confirmed with @webtrainingwheels

[2022-08-17 22:08] webtrainingwheels commented on #5165
https://secure.helpscout.net/conversation/1981010378/362246?folderId=377611

[2022-08-17 22:35] piotrbak commented on #5318
Working solution is to limit number of characters:
`UNIQUE(url(150))"`
https://github.com/wp-media/wp-rocket/blob/c53d551c38788c3ac1e171cf60b52af4c777c204/inc/Engine/Preload/Database/Tables/Cache.php#L47-L54

We've already done this for RUCSS and haven't seen issues so far:
https://github.com/wp-media/wp-rocket/blob/df46486ccb8cf5358f8b4ec4883672ab791e4dcd/inc/Engine/Optimization/RUCSS/Database/Ta

[2022-08-17 22:40] Tabrisrp commented on #5318
the url is not a KEY though for the cache table. The other values used as KEY are the same (id, modified, last_accessed)

[2022-08-17 22:53] remyperona commented on #5318
We can increase the value of the url column to 2000, and use a maximum of 191 for the unique key

[2022-08-17 23:17] piotrbak commented on #5318
[code]
Confirmed with @webtrainingwheels that those values are not generating error. @wp-media/php please update whenever you can 🙏

[2022-08-18 05:21] DahmaniAdame commented on #2083
Tested the updated regex by replacing the following line:

https://github.com/wp-media/wp-rocket/blob/95912c3f648820dfd04119d4fe187834a552ebee/inc/Dependencies/Minify/CSS.php#L743

With:

[code]

It's working! The unit is preserved.

[2022-08-18 13:44] #5318 closed, assigned to nobody

[2022-08-18 14:14] viobru commented on #2441
Related: https://secure.helpscout.net/conversation/1982154359/362477

[2022-08-19 10:03] worldwildweb commented on #3142
related: https://secure.helpscout.net/conversation/1982730694/362571

[2022-08-19 11:52] devrasel commented on #4992
This is not working though, in the light speed server, I have tested using cyberpanel in Digital Ocean VPS

[2022-08-20 04:49] Mecanik commented on #4992
LiteSpeed is a super complex (and the best) caching system for WordPress. You can't use it properly with this plugin. I suggest you just use LSCache plugin.

[2022-08-20 04:49] #4992 closed, assigned to nobody

[2022-08-20 14:30] DahmaniAdame commented on #5252
I didn't know that you guys had compatibility with WP Rocket, so I didn't look for our hooks on your MU plugin. Thank you for pointing that out, @bgabler.

Now I see that you are hooked up to `rocket_purge_cache` and `set_transient_rocket_preload_complete`.

Only manual cache purging and cache purging after preload are covered.

However, it doesn't cover other scenarios like purging individual pos

[2022-08-20 14:34] bgabler commented on #5252
Aweosme!! Thank you so much, we emailed in a while back and those where the only hooks we got so this is super helpful

[2022-08-21 11:10] NataliaDrause commented on #4792
Related: https://secure.helpscout.net/conversation/1968608733/359854/

[2022-08-21 13:27] matzeeable commented on #5283
@DahmaniAdame Thanks for your follow-up. Unfortunately, the `rocket_usedcss_content` does not work when we try to exclude "dynamic" CSS. Is there any other filter we can use to exclude CSS?

[2022-08-22 19:15] piotrbak opened #5328 "Fatal error when updating to 3.12"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When updating to 3.12 we can see the following fatal error:
https://snippi.com/s/mfbn9j1
https://snippi.com/s/4il048x

**To Reproduce**
Steps to reproduce the behavior:
1. U

[2022-08-22 19:33] magnoliaman commented on #5328
Same fatal error: https://share.businesswright.com/GGuzP7Oo

[2022-08-22 19:47] #5328 closed, assigned to nobody

[2022-08-22 22:01] piotrbak opened #5330 "Fatal error on 3.12.0.1"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
There's another error, here's the log:
https://snippi.com/s/0nvclnq
https://snippi.com/s/dffb0ka

**To Reproduce**
I wasn't able to reproduce the error till now.

**Backlog

[2022-08-23 07:57] twwn opened #5332 "PHP Warning: Attempt to read property "id" on bool (Cache.php)"
**Describe the bug**
Minor new bug appeared (so far once) after updating to 3.12[.0.1]:
`PHP Warning:  Attempt to read property "id" on bool in /srv/wp-content/plugins/wp-rocket/inc/Engine/Preload/Database/Queries/Cache.php on line 257`

**To Reproduce**
No idea, wasn't caused by staff.

**Expected behavior**
No negative impact noticed.

**Backlog Grooming (for WP Media dev team use only)**
- [ ]

[2022-08-23 09:52] piotrbak commented on #5332
Hello @twwn thank you for creating the issue, we're looking into it.

[2022-08-23 11:47] DahmaniAdame commented on #1167
Related - https://secure.helpscout.net/conversation/1985693825/363231?folderId=3864735
@piotrbak will the new preload support preload multiple values of the same cookie? https://docs.wp-rocket.me/article/1676-preload-custom-cookie

[2022-08-23 11:58] Mai-Saad opened #5335 "WPR can be deleted on multisite although it is active on a sub-site"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.11.5
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
WPR can be deleted from multisite although it is active at subsite + `define( 'WP_CACHE', true );` not changed to false

**To Reproduce**
Steps to reproduce the be

[2022-08-23 12:12] DahmaniAdame commented on #5283
Unfortunately, no.

You won't be excluding a dynamic CSS. The above filter targets the `filter` property without any selectors:

[code]

Isn't it what you are using on this sample style that is used to blur the page?

[code]

[2022-08-23 13:08] remyperona commented on #5335
I can't reproduce this issue on my local multisite installation.

The delete link only appears at the network level when the plugin is deactivated on all sub-sites. If the plugin is active on at least one sub-site, the link doesn't show.

[2022-08-23 14:44] remyperona commented on #5335
After further investigation, this is an issue coming directly from WP core. A plugin enabled on a sub-site that is not the main sub-site can be deleted from the network without warning.

There is multiple tickets related to this:
- https://core.trac.wordpress.org/ticket/53255
- https://core.trac.wordpress.org/ticket/31673
- https://core.trac.wordpress.org/ticket/53132

[2022-08-23 14:44] #5335 closed, assigned to nobody

[2022-08-23 14:55] #5330 closed, assigned to engahmeds3ed

[2022-08-23 15:13] #4424 closed, assigned to engahmeds3ed

[2022-08-23 23:49] webtrainingwheels commented on #5283
https://secure.helpscout.net/conversation/1986512852/363444?folderId=377611

[2022-08-24 03:19] mostafa-hisham commented on #3772
### Identify the root cause ✅
We use the `src` image attribute to get the image source, Soledad theme is replacing it with a small image so we get its size which is wrong, and don't have a way to use a different image attribute

### Scope a solution ✅
I propose:
- Add a new filter `rocket_specify_images_src_attr` to set a different attribute before
https://github.com/wp-media/wp-rocket/blob/29b0d6

[2022-08-24 05:14] DahmaniAdame commented on #4396
Related - https://secure.helpscout.net/conversation/1966571981/359434?folderId=3864735

[2022-08-24 07:06] DahmaniAdame commented on #3142
Related - https://secure.helpscout.net/conversation/1981258356/362306/

[2022-08-24 09:25] worldwildweb opened #5339 "Too many URLs in the Never Cache URL(s) will break that feature"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version: 3.11.4.2
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**
Too many URLs in the Advanced Rules>Never Cache URL(s) will break the feature and generate an error in the WordPress log:

`[24-Aug-2022 08:41:05 UTC] PHP Warnin

[2022-08-24 09:26] piotrbak commented on #5339
Related issue:
https://github.com/wp-media/wp-rocket/issues/5339

[2022-08-24 09:33] mostafa-hisham commented on #3911
### Scope a solution ✅
- Create new hosting third-party compatibility with events
[code]
- create  `clean_raid_boxes_cache` function
[code]
- use the function to clear Raidboxes cache `after_rocket_clean_domain`
`'after_rocket_clean_domain'               => 'clean_raid_boxes_cache',`

**IDK if we should clear it on other events **

### Estimate the effort ✅
[S]

[2022-08-24 12:31] DahmaniAdame opened #5340 "Essential Addons login failure and page cache"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.5`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
The [Essential Addons](https://wordpress.org/plugins/essential-addons-for-elementor-lite/) plugin manages the login/registration process.

When a login fail

[2022-08-25 06:19] mostafa-hisham commented on #3724
### Identify the root cause ✅
 tested it on images locally
`<img src="/wp-content/download.jpeg" width="100" height="100">`
worked fine

did not work on
`<img src="../wp-content/download.jpeg" width="100" height="100">`

### Scope a solution ✅
To fix relative URLs starting with `.`
we need to change the regex in
https://github.com/wp-media/wp-rocket/blob/bb4ab38d0c2f551259bce097d77d7efa4f16fc37/in

[2022-08-25 07:12] GeekPress commented on #5339
It's an edge case here. If you have 1200 URLs to exclude, you must have a pattern to be able to use a regex and reduce the list.

I don't think it is worth working on that fix.

[2022-08-25 07:18] GeekPress commented on #5251
Correct me if I'm wrong, but we must delete the Used CSS when we update the page, right?

If so, we don't need this link.

For which we would like/need to clear the Used CSS on one page if it has not been updated?

[2022-08-25 07:34] vmanthos opened #5342 "Relative URLs added with rocket_preload_load_custom_urls are not preloaded"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.12.0.3`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When using the `rocket_preload_load_custom_urls` filter:
https://github.com/wp-media/wp-rocket/blob/bb4ab38d0c2f551259bce097d77d7efa4f16fc37/inc/Engine/Prelo

[2022-08-25 07:46] DahmaniAdame opened #5343 "JS minification compatibility with trustindex.io"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.5`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Trust Index widget is added using:
[code]

When minified, the widget will stop working without the involvement of any other JS feature.

There is no console

[2022-08-25 08:00] vmanthos opened #5345 "Specific URLs preloaded with rocket_preload_load_custom_urls are added multiple times in the DB"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.12.0.3`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When using the rocket_preload_load_custom_urls filter:
https://github.com/wp-media/wp-rocket/blob/bb4ab38d0c2f551259bce097d77d7efa4f16fc37/inc/Engine/Preload

[2022-08-25 11:12] vmanthos opened #5346 "URLs with error 404, deleted, and trashed posts aren't removed from the wpr_rocket_cache table"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.12.0.3`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When:
* the status code of a URL is `404`
* a post of any post type is trashed and deleted

their URLs are not removed from the `wpr_rocket_cache` table. In

[2022-08-25 11:46] piotrbak opened #5347 "Database error while dropping old resources table"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
From time to time we can see the following error in the logs:
[code]

**To Reproduce**
We didn't find any reliable way to reproduce it, it sometimes may happen during the up

[2022-08-25 12:04] Mai-Saad opened #5348 "Quick edit for post, won't clear cache for prev/next post"
**Before submitting an issue please check that you’ve completed the following steps:**
- Make sure you’re on the latest version => 3.12.0.3
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Quick edit post is not clearing the cache for previous and next post as same as the typical edit works

**To Reproduce**
Steps to reproduce the behavior:
1. Cach

[2022-08-25 12:04] CrochetFeve0251 commented on #5346
##  Identify the root cause
Problem comes from the fact the filter `pre_handle_404` is missing in the [Preload subscriber.](https://github.com/wp-media/wp-rocket/blob/bb4ab38d0c2f551259bce097d77d7efa4f16fc37/inc/Engine/Preload/Subscriber.php#L201-L205)
## Scope a solution
Add the filter `pre_handle_404` to the list of filters from the class with the following code:
[code]
##  Estimate the effort
E

[2022-08-25 12:28] vmanthos opened #5349 "Display a notice when WP_HTTP_BLOCK_EXTERNAL is used and *.wp-rocket.me isn't allowlisted"
**Is your feature request related to a problem? Please describe.**

Sometimes users set `WP_HTTP_BLOCK_EXTERNAL` to `true`, and unless they allowlist `*.wp-rocket.me` using `WP_ACCESSIBLE_HOSTS` license validation won't take place.

If the addition of `WP_HTTP_BLOCK_EXTERNAL` takes place after license validation features that need to contact our servers won't work:
* Remove Unused CSS
* Load CSS A

[2022-08-25 13:05] CrochetFeve0251 commented on #5332
@twwn @piotrbak unfortunately I wasn't able to reproduce the issue.

[2022-08-25 13:36] #5343 closed, assigned to DahmaniAdame

[2022-08-25 15:44] mifrero commented on #3142
Related: https://secure.helpscout.net/conversation/1977835670/361715/

[2022-08-25 17:25] twwn commented on #5332
We've seen it almost a dozen times by now in the log.

[2022-08-25 17:26] piotrbak commented on #5332
@twwn Could you reach our Support Team and send WP/SFTP access to affected website?

[2022-08-25 21:50] alfonso100 commented on #5347
related: https://secure.helpscout.net/conversation/1989722707/364094/

[2022-08-26 09:57] piotrbak opened #5351 "Database guard when cache table is not created"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
We have one ticket related to the `cache` table not being created:
https://snippi.com/s/uqa7zrn

**To Reproduce**
We're not sure how it's possible that this error happened.

[2022-08-26 10:12] CrochetFeve0251 commented on #5351
## Scope a solution
We can prevent to execute logic by doing a check on the table class [`Cache`](https://github.com/wp-media/wp-rocket/blob/develop/inc/Engine/Preload/Database/Tables/Cache.php) with the method `exists` and bail out if it returns `false` in each of the callback from the [Preload Subcriber](https://github.com/wp-media/wp-rocket/blob/develop/inc/Engine/Preload/Subscriber.php) and hi

[2022-08-26 10:16] CrochetFeve0251 commented on #5351
@engahmeds3ed could you double my grooming on that issue?

[2022-08-26 11:51] engahmeds3ed commented on #5347
Really I tried everything to reproduce this issue like deleting the resources table before upgrade and keep the version in options table then upgrade and then tried also with deleting the version option and then upgrade and I can't see the error.

Easily we can
[code]

instead of
[code]

here
https://github.com/wp-media/wp-rocket/blob/2e5221e872ad551d8fb40bf547f61901526a2b80/inc/Engine/Optimizatio

[2022-08-26 14:07] juricazuanovic opened #5353 "RocketCDN tab - Misspelled word bandwidth"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
In WP Rocket settings, on the CDN tab, the word bandwidth is misspelled. The word "bandwith" should be corrected to "bandwidth".
This text string is [located here](https://g

[2022-08-26 16:11] piotrbak opened #5354 "High CPU usage related to 3.12 in dashboard only"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
It looks we have kind of loop in dashboard caused by incompatibility with 3rd parties.  Notices are displayed in a loop until the timeout/fatal error happens.

**To Reproduc

[2022-08-26 16:12] piotrbak commented on #5354
Potentially related tickets:
https://secure.helpscout.net/conversation/1990980854/364366?folderId=273761
https://secure.helpscout.net/conversation/1990990089/364369?folderId=273761
https://secure.helpscout.net/conversation/1991065735/364385?folderId=273761
https://secure.helpscout.net/conversation/1990685406/364292?folderId=7043481
https://secure.helpscout.net/conversation/1991045594/364381?folder

[2022-08-26 17:58] camilamadronero-zz opened #5355 "Update Preload feature name in RUCSS admin notice"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - Yes, 3.12.0.3
- Used the search feature to ensure that the bug hasn’t been reported before - Yes

**Describe the bug**
This Remove Unused CSS notice is using old Preload name: https://jmp.sh/BwSJofO.

**To Reproduce**
Steps to reproduce the behavior:
1 With Preload disa

[2022-08-26 19:03] alfonso100 commented on #5354
Another one:
https://secure.helpscout.net/conversation/1991254565/364418?folderId=273761

[2022-08-26 19:44] alfonso100 commented on #5354
Another case, is related to Ninja Forms.
Disabling ninja forms, or WP Rocket fixes the issue
After enabling WP Rocket, there is a timeout followed by a 524 error from cloudflare

https://secure.helpscout.net/conversation/1988914598/363935?folderId=2683093

update: the proposed fix worked on this case

[2022-08-26 19:49] alfonso100 commented on #5354
This can be reproduced by installing **WP Rocket 3.12.0.3** and **Ninja Forms**
https://wordpress.org/plugins/ninja-forms/

![QO960oE](https://user-images.githubusercontent.com/229406/186980621-d9fc22de-c9ff-409d-8104-5d5596391c7f.png)

https://i.imgur.com/QO960oE.png

[2022-08-26 20:42] alfonso100 commented on #5354
Another one, related to Ninja Forms:
https://secure.helpscout.net/conversation/1990404557/364233?folderId=273761

[2022-08-26 21:10] piotrbak commented on #5354
Problem seems to be related to those specific lines, commenting them out fixes it:
https://github.com/wp-media/wp-rocket/blob/c09453b151d7e94289a2d07bcedae249dd7212ad/inc/Engine/Preload/Admin/Subscriber.php#L47-L48

Solution proposed by @Tabrisrp is to change those lines to:
[code]

It fixes the problem, we need further investigation why it happens only on a very small minority of users.

[2022-08-26 22:57] fidoboy opened #5357 "About the new preloader engine"
**Is your feature request related to a problem? Please describe.**
Yes. The problem is related to the situation that happens when the new preloader (>= 3.12) engine takes the same time to warm up than the number maximum hours that Wordpress allows, that is, 10 hours to invalidate the nonces.

**Describe the solution you'd like**
There are many approaches to solve the issue, but I believe that the

[2022-08-27 06:55] worldwildweb commented on #3110
related: https://secure.helpscout.net/conversation/1990304624/364216/

[2022-08-27 09:03] DahmaniAdame commented on #5354
Related - https://secure.helpscout.net/conversation/1990404062/364232/
Fixed by updating https://github.com/wp-media/wp-rocket/blob/c09453b151d7e94289a2d07bcedae249dd7212ad/inc/Engine/Preload/Admin/Subscriber.php#L47-L48 as provided by the PHP.

[2022-08-27 16:05] alfonso100 commented on #5354
Related https://secure.helpscout.net/conversation/1991065735/364385?folderId=273766

[2022-08-27 16:52] akram-Qbh commented on #4940
I'm having the same problem with the latest version

[2022-08-27 17:16] akram-Qbh commented on #4940
![image](https://user-images.githubusercontent.com/112213171/187040899-511afd83-50ab-4c26-bfde-179f3ee257a6.png)

[2022-08-27 17:16] akram-Qbh commented on #4940
![image](https://user-images.githubusercontent.com/112213171/187040970-cc05dcad-dc08-4974-9a31-1e4db090e6cc.png)

[2022-08-27 18:21] piotrbak opened #5358 "Action Scheduler crashed table causes fatal error"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When Action Scheduler table is corrupted, enabling WP Rocket is not possible, as it causes fatal error:
https://snippi.com/s/eorhryc
https://snippi.com/s/gjwbowh

**To Repro

[2022-08-27 21:57] alfonso100 commented on #5351
related https://secure.helpscout.net/conversation/1991884662/364557/

[2022-08-28 09:14] NataliaDrause commented on #5358
For some reason the snippi links with errors are not opening for me.

There seems to be a related issue in the ticket here: https://secure.helpscout.net/conversation/1992023959/364575/

Error:
[code]

[2022-08-28 11:43] dgnerlab commented on #1997
I made a simple snippet to make good use of the User Cache. Hope this can help you.

https://github.com/dgnerlab/unbreakable-user-permalink

[2022-08-28 18:47] froddo7 commented on #3142
Hi so has this issue been fixed by WP Rocket? I would appreciate some feedback from the company's developers and other users too. Thanks!

[2022-08-29 06:08] NataliaDrause commented on #2053
another request: https://secure.helpscout.net/conversation/1990656022/364278?folderId=3864740

[2022-08-29 07:17] engahmeds3ed commented on #5358
@piotrbak
How can I make the DB table crashes?

From what I understand the table crashes from one of the following reasons:-
1. Hard disk failure.
2. Sudden server reboot.

or any other thing that may lead to those two reasons, so the only solution here is to repair the table.

So I can't find a way to detect the corrupted/crashed tables, also WP tried to automatically repair it as in the second m

[2022-08-29 08:09] engahmeds3ed commented on #5351
Thanks @CrochetFeve0251

In BerlinDB we already check if table exists with `admin_init` hook, and create/upgrade it when needed.

The problem may happen only when the CRON or frontend tries to deal with the table and it's not there, and the code to create the table isn't there as it's not the admin interface that triggers `admin_init`

Also we don't need to add admin notice because as mentioned, t

[2022-08-29 08:38] engahmeds3ed commented on #5354
Starting from those two lines:

https://github.com/wp-media/wp-rocket/blob/fd8afafcc6c0ab105184febc937ab7f7e59d781b/inc/Engine/Preload/Admin/Subscriber.php#L46-L49

So when we add the subscriber in the event manager class here:

https://github.com/wp-media/wp-rocket/blob/0aed8bdcc0e25845aa0a3f45c49d2a1b9e502e9f/inc/classes/event-management/class-event-manager.php#L45

and will pass the following v

[2022-08-29 08:40] dreamjobma commented on #4814
Hello, any update on this? Thanks.

[2022-08-29 08:56] simkoG opened #5361 "Table `wp_wpr_rocket_cache` doesn't exist when running WP-CLI cronjobs"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**
There is an error message in the log file when WP cron is called via WP-CLI.

[code]

_The log's language is Hungarian. Translation: "**WordPress database error Table wp

[2022-08-29 09:05] CrochetFeve0251 commented on #5351
@engahmeds3ed when I try in local and open admin if the table is deleted but not the option then it doesn't recreate the table.
This was to address this problem that we would like to display a notice when the table is missing.

[2022-08-29 09:20] engahmeds3ed commented on #5351
I believe this is not a real case, and I think we talked about this before that we may provide the users a button in the database tab in our settings to make like site health and have a button to recreate the missed tables if found.

the main issue was talking about the table not being created so there is no way to create the option without creating the table itself!

[2022-08-29 09:59] piotrbak commented on #5358
@engahmeds3ed Not sure, in the example I shared I had to manually repair the table from PHPMyAdmin, and it worked. I assume WP is doing something different.

The repaired table was full of old actions including former RUCSS.

[2022-08-29 11:57] CrochetFeve0251 commented on #5361
## Reproduce the problem
I couldn't reproduce the issue following that process.
## Identify the root cause
However I guess the problem can be solved by adding a guard before use the preload table as asked in #5351.
What do you think @piotrbak ?

[2022-08-29 11:59] NataliaDrause opened #5363 "Fatal error when attachment_link filter incorrectly changing return of the function get_permalink"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.12.0.3
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**

This issue is created in order to monitor similar cases caused by 3rd party plugins.

Fatal error occurs when `attachment_link` filter incorrectly changing

[2022-08-29 13:51] alfonso100 commented on #5354
related: https://secure.helpscout.net/conversation/1990990089/364369/

[2022-08-29 14:15] remyperona commented on #5361
It wouldn't make sense to guard the use of the table if it exists, as we want the cronjobs to run in CLI too for it

[2022-08-29 14:33] daigo75 opened #5366 "Conflict between Monolog 1.x and 2.x"
**Describe the bug**
In a recent update (version 3.12.0.3), WP Rocket seems to have started using version 2.x of the Monolog library. This causes conflicts with plugins that still use version 1.x (all of mine, for example).

Although the interface of the two versions is compatible, the code in itself is not. Due to that, when the autoloader fetches some files from version 1.x and some from version

[2022-08-29 15:53] #5354 closed, assigned to engahmeds3ed

[2022-08-29 15:53] #5347 closed, assigned to engahmeds3ed

[2022-08-29 15:54] #5346 closed, assigned to CrochetFeve0251

[2022-08-29 15:54] #5351 closed, assigned to jeawhanlee

[2022-08-29 17:27] xaquinr commented on #5318
Sorry, english is not my natural language...

In table _wpr_rucss_used_css change ROW_FORMAT to DYNAMIC

[2022-08-29 17:28] twwn commented on #5332
I'm afraid that's not possible due to customer data present.

But I did add a line that logs the URL for which the warning is emitted. From the one time it's happened since:

We use Post SMTP. Seems that's only an issue under specific circumstances though, since there were dozens of mails sent today, not just that one. (Also, only more occurrences will tell if it doesn't happen with other URLs.)

[2022-08-29 17:33] daigo75 commented on #5366
I sent an email to your support contact, with a link to download the latest Currency Switcher. That should allow you to reproduce the issue easily.

[2022-08-29 17:50] mcmito opened #5368 "No selective preloading?"
Thanks to sitemaps, it was previously possible to keep certain areas of a website from being preloaded and thus avoid long processing times. Unfortunately, this is no longer the case.

I wish there was a way to specify which areas (e.g. through selecting post types, taxonomies or even an url range) should be cached but not automatically preloaded.

My website has over 30k posts of which I only wan

[2022-08-29 17:59] piotrbak commented on #5368
Hello @mcmito and thanks for creating the issue. We already have that kind of feedback from [customer](https://github.com/wp-media/wp-rocket/issues/5357), I'm marking it as a duplicate then.

[2022-08-29 17:59] #5368 closed, assigned to nobody

[2022-08-29 18:31] #5355 closed, assigned to nobody

[2022-08-29 20:06] camilamadronero-zz commented on #3142
@froddo7 Sorry, this hasn't been resolved on WP Rocket's side yet. This issue will be closed when that's the case.
As of now, I can only suggest using the alternatives and workarounds available in the comments, it seems you've already tried one that worked. Other from that, once there is a fix integrated in the plugin, this issue will be closed. Thanks!

Related new case: https://secure.helpscout.

[2022-08-29 20:56] piotrbak opened #5369 "Bug related to preload process when user cache is enabled"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When User Cache is enabled, visiting URL while being logged-in changes the value in DB to `completed`.

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure that p

[2022-08-30 06:28] NataliaDrause commented on #5366
This is the ticket: https://secure.helpscout.net/conversation/1993213637/364883?folderId=3864740

[2022-08-30 07:03] daigo75 commented on #5366
**Additional note**
A client reported that the conflict apparently doesn't arise with PHP 8.0, whereas it occurs with PHP 7.4. However, we can't explain why.

I wouldn't rely on this information as a possible solution. I just added it to this conversation to speed up the testing, as the error might not occur with some PHP versions.

[2022-08-30 08:16] CrochetFeve0251 commented on #5369
## Reproduce the problem
I can reproduce the problem.
## Identify the root cause
Problem comes from the fact the cache is loaded when a user is enabled and that there is no way to check if the user is connected.
## Scope a solution
In the [preload subscriber](https://github.com/wp-media/wp-rocket/blob/develop/inc/Engine/Preload/Subscriber.php) we can guard the method [`update_cache_row`](https://g

[2022-08-30 08:31] Mai-Saad commented on #5332
Can reproduce it on 3.12.0.4 with the following scenario:
1- Install and activate WPR
2- Delete any post permanently
Test env:https://new.rocketlabsqa.ovh/
PHP 8.1.8, Wp 6.0.2, active theme https://pcm.wordpress.org/themes/minimalistblogger/

[2022-08-30 10:06] piotrbak commented on #5366
@daigo75 thank you for creating the issue. Could you check if `PHP8.x` is available on the server while WordPress is using `PHP7.x`?

[2022-08-30 10:23] piotrbak commented on #5339
Yes, 1200+ is indeed and edge case. We should use a pattern in this case.

[2022-08-30 10:23] #5339 closed, assigned to nobody

[2022-08-30 10:25] piotrbak commented on #5366
Potentially related issue:
https://github.com/wp-media/wp-rocket/issues/5306

[2022-08-30 10:34] piotrbak commented on #973
The issue is not relevant anymore, since we changed the way how we're dealing with URLs that are supposed to be preloaded.

[2022-08-30 10:34] #973 closed

[2022-08-30 10:37] piotrbak commented on #1387
The issue is not relevant with the 3.12 preload implementation

[2022-08-30 10:37] #1387 closed

[2022-08-30 10:40] piotrbak commented on #1686
The issue is not relevant anymore starting from 3.12 update of the WP Rocket, since we're not using WP Background Processing anymore.

[2022-08-30 10:40] #1686 closed

[2022-08-30 10:50] piotrbak commented on #2207
The issue is not relevant with the 3.12 preload implementation, as we're storing URLs in the database.

[2022-08-30 10:50] #2207 closed

[2022-08-30 10:52] piotrbak commented on #2315
Preload feature is using Action Scheduler since 3.12 version.

[2022-08-30 10:52] #2315 closed

[2022-08-30 10:57] piotrbak commented on #2404
The issue is not relevant with the 3.12 preload implementation, as the preload now is an ongoing process.

[2022-08-30 10:57] #2404 closed

[2022-08-30 10:57] piotrbak commented on #2415
The issue is not relevant with the 3.12 preload implementation.

[2022-08-30 10:57] #2415 closed

[2022-08-30 10:58] piotrbak commented on #2428
Preload is running Mobile/Desktop requests in parallel since 3.12

[2022-08-30 10:58] #2428 closed

[2022-08-30 11:06] daigo75 commented on #5366
The client indicated that, on a staging site, the issue occurred with PHP 7.4. When they switched to PHP 8.x, it didn't occur. However, it also didn't occur anymore with PHP 7.4 after switching back. There wasn't a mix of PHP versions, WordPress used the one configured on the system.

I'm afraid that we can't rely on PHP to load all the files from one location to avoid mixing up files. As long as

[2022-08-30 11:09] piotrbak commented on #5366
@Tabrisrp Your feedback here would be very valuable, could you take a look?

[2022-08-30 11:17] piotrbak commented on #2441
Related: https://secure.helpscout.net/conversation/1990501756/364243

[2022-08-30 11:18] piotrbak commented on #2454
The issue is not relevant with the 3.12 preload implementation.

[2022-08-30 11:18] #2454 closed

[2022-08-30 11:24] #2513 closed

[2022-08-30 11:25] piotrbak commented on #2514
The approach has changed in the 3.12 WP Rocket. We use Action Scheduler to handle the queue

[2022-08-30 11:25] #2514 closed

[2022-08-30 11:25] #2553 closed

[2022-08-30 11:28] piotrbak commented on #2475
@Tabrisrp this seems to be ongoing topic, right?
https://developer.chrome.com/blog/user-agent-reduction-deprecation-trial/

[2022-08-30 11:33] piotrbak commented on #2805
The issue is not relevant anymore starting from 3.12 update of the WP Rocket.

[2022-08-30 11:41] piotrbak commented on #3696
It's fixed starting from 3.12 WP Rocket version.

[2022-08-30 11:41] #3696 closed, assigned to nobody

[2022-08-30 11:58] #3788 closed, assigned to nobody

[2022-08-30 11:59] piotrbak commented on #4129
The issue is not relevant with the 3.12 preload implementation.

[2022-08-30 11:59] #4129 closed, assigned to nobody

[2022-08-30 12:19] daigo75 commented on #5366
If I may add a personal note, this issue is not particularly rare, nor necessarily difficult to address. It's a know fact that WordPress lacks any sort of dependency management, and plugins that bundle different versions of the same libraries may introduce clashes.

I came across a similar issue with the Bundles plugin, about a year ago. That plugin also bundled Monolog 2.x, but it turned out that

[2022-08-30 12:21] piotrbak commented on #4845
@Mahjouba91 @pluspol @Rahe We changed the way how the Preload/RUCSS feature work in the 3.12 version of WP Rocket.

Please let us know if you're still experiencing this problem after the update.

[2022-08-30 12:46] piotrbak commented on #4051
@Mai-Saad It seems to be resolved with 3.12, I'm not able to reproduce it. Feel free to reopen it if there's still something.

[2022-08-30 12:46] #4051 closed, assigned to nobody

[2022-08-30 12:46] #4690 closed, assigned to nobody

[2022-08-30 13:55] #5363 closed, assigned to remyperona

[2022-08-30 14:10] remyperona commented on #5366
While we don't particularly need v2 in our plugin usage, we upgraded the version because we had users requests for it, and conflicts with other plugins or systems who already updated to v2, notably when using composer installation.

We considered using Mozart to namespace Monolog within our code, but that means bringing hundreds of classes into our committed repository when we use a very small sub

[2022-08-30 14:11] remyperona commented on #2475
Indeed, it's been more than 2 years already, so we can still wait and see.

[2022-08-30 14:20] daigo75 commented on #5366
@Tabrisrp unfortunately, I'm afraid that the only ways to prevent conflicts are the two ones I described. With Monolog 2.x, you risk conflicts with plugins using 1.x. With 1.x, you risk conflicts with 2.x (which, based on the past 9 years of experience, are less common).

From our side, I confirm that we won't move to Monolog 2.x yet, so that's not an option.

Adding a namespace is not too bad. Yo

[2022-08-30 14:31] daigo75 commented on #5366
From my specific side, in addition to the technical aspect, there's also the user experience factor. I've been recommending WP Rocket to dozens of customers, for the past 8 years, because it includes native support for our solutions, out of the box. Unlike alternative plugins, which require some tinkering, WP Rocket just works. However, if the users were to switch to WP Rocket and see a crash, whi

[2022-08-30 17:24] viobru commented on #1167
Related: https://secure.helpscout.net/conversation/1993136632/364868/

[2022-08-31 07:21] NataliaDrause commented on #2409
related: https://secure.helpscout.net/conversation/1993869120/365002?folderId=3864740

[2022-08-31 10:09] DahmaniAdame opened #5372 "Defer JS compatibility with the Shoptimizer theme"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.5`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When using Defer JS with Shoptimizer, jQuery needs to be excluded from the feature.

This is caused by the following code:

[code]

Which causes WP Rocket t

[2022-08-31 10:50] piotrbak opened #5373 "Guard against exceeding in-progress items in the cache table"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When the batch size is bigger than what server is processing, we're stashing the `in-progress` entries

**To Reproduce**
Steps to reproduce the behavior:
1. Open the databas

[2022-08-31 10:59] piotrbak commented on #5251
@GeekPress Yes, you're right here. That's the same behaviour with `Clear this Post` in the backend editor 🤔  maybe we should consider removing that one, since updating the post is obviously, clearing the cache

[2022-08-31 11:08] DahmaniAdame commented on #3142
Related - https://secure.helpscout.net/conversation/1992728967/364749/

[2022-08-31 11:41] piotrbak opened #5374 "Improve is_already_cached function to cover webp"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
`is_already_cached` function is the one that wasn't touched for a while. We're not looking for `-webp` files there.

**To Reproduce**
Steps to reproduce the behavior:
1. Ena

[2022-08-31 12:08] twwn opened #5375 "Deadlock found when trying to get lock (UPDATE prefix_actionscheduler_actions)"
**Describe the bug**
Without apparent regularity nor reproducibility (timing issue), our log now carries anything to 1-2 dozen mentions of this per day (dates & action_id varying ofc):

`WordPress database error Deadlock found when trying to get lock; try restarting transaction for query UPDATE {prefix}_actionscheduler_actions SET attempts = attempts+1, status='in-progress', last_attempt_gmt = '20

[2022-08-31 13:55] piotrbak opened #5376 "Decrease the usage of CPU when preload is used"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
For the preload we use a separate queue runner in Action Scheduler. However, the default behaviour of AS is that whenever default runner is idle, it takes the next free acti

[2022-08-31 14:29] NataliaDrause opened #5378 "RUCSS to preserve inline CSS for the Divi range slider"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.11.5
- Used the search feature to ensure that the bug hasn’t been reported before - ues

**Describe the bug**
Range slider (filter) is missing some styling due to the dynamic inline CSS rules like `.et_pb_de_mach_search_posts_item_471437 .irs-bar`.
Numeric value is ch

[2022-08-31 14:37] remyperona opened #5379 "Skipped tests because of missing data provider"
We have some skipped tests because there is no data provider for them. The corresponding fixtures files are missing.

- ` WP_Rocket\Tests\Unit\inc\Engine\Common\Queue\PreloadQueueRunner\Test_Init`
- `WP_Rocket\Tests\Unit\inc\Engine\Preload\Admin\Settings\Test_MaybeDisplayAsMissedTablesNotice`
- `WP_Rocket\Tests\Integration\inc\Engine\Preload\Admin\Subscriber\Test_MaybeDisplayAsMissedTablesNotice`

[2022-08-31 15:27] CrochetFeve0251 commented on #5376
## Scope a solution
First thing we will have to do is do  delete the queue runner [`PreloadQueueRunner`](https://github.com/wp-media/wp-rocket/blob/develop/inc/Engine/Common/Queue/PreloadQueueRunner.php) and places where it is used:
- In the service provider: https://github.com/wp-media/wp-rocket/blob/6be2f4ffb2968262aaa096c5ce9f6517297f2aab/inc/Engine/Preload/ServiceProvider.php#L121
- In the Cro

[2022-08-31 16:06] webtrainingwheels commented on #5372
https://secure.helpscout.net/conversation/1992590413/364698?folderId=377611

[2022-08-31 16:14] remyperona commented on #5376
is it possible to know how many queue runners exists? I can see we can know about concurrent batches, but that's not the same thing

[2022-08-31 16:19] #5369 closed, assigned to CrochetFeve0251

[2022-08-31 17:46] webtrainingwheels commented on #3586
https://secure.helpscout.net/conversation/1995634521/365361?folderId=377611

[2022-08-31 18:13] alfonso100 commented on #5358
related https://secure.helpscout.net/conversation/1995486700/365334?folderId=273766

[2022-08-31 18:28] joejoe04 commented on #3960
Related: https://secure.helpscout.net/conversation/1992140978/364599/

[2022-08-31 23:33] alfonso100 commented on #5366
Another case here:
https://secure.helpscout.net/conversation/1995774773/365380?folderId=2683093

With https://wordpress.org/plugins/wp-piwik/ (60k installs)
error log and environment information is in the ticket

[2022-09-01 05:39] DahmaniAdame commented on #5357
That could benefit cases like this one where an attack pattern (URLs ending with `],`) were preloaded + had RUCSS jobs created and failed because they timed out.

Ticket - https://secure.helpscout.net/conversation/1985597795/363204/

[2022-09-01 06:27] CrochetFeve0251 commented on #5376
@Tabrisrp Yes I can't find anything on that and I was thinking asking @engahmeds3ed on that point.

[2022-09-01 07:45] worldwildweb commented on #3960
related: https://secure.helpscout.net/conversation/1994145263/365089/

[2022-09-01 08:25] engahmeds3ed commented on #5376
I don't think we can detect the number of queue runners but we can detect the default concurrent batches as u mentioned.

@piotrbak I believe detecting the default concurrent batches is what we need here, so when the filter for the default queue runner is used to change the concurrent batches we can show a notice or at least change the sleep time, what do u think?

[2022-09-01 08:28] piotrbak commented on #5376
@engahmeds3ed sounds good. We should display notice I believe

[2022-09-01 08:29] engahmeds3ed commented on #5376
but the end user won't be able to do anything about it and will not know which plugin is changing this concurrent

[2022-09-01 08:41] GeekPress commented on #5376
Displaying a notice should provide an easy solution to the user. If they can't resolve the issue themself easily, the notice won't be helpful.

[2022-09-01 08:42] GeekPress commented on #5376
@engahmeds3ed What will be changing here? And what will be the consequences?

[2022-09-01 09:10] piotrbak commented on #5376
@GeekPress
[code]
I was aiming to give information about this.
1. If they're modificating the settings, I believe that they should now that it affects Preload.
2. If the settings are modified by 3rd-party, they don't know about that and have CPU problems. I was thinking it would be good to let them know, so they can find possible root cause quickly and contact us.

[2022-09-01 09:45] DahmaniAdame commented on #928
Related - https://secure.helpscout.net/conversation/1995090338/365198/

[2022-09-01 10:46] DahmaniAdame commented on #5357
Related - https://secure.helpscout.net/conversation/1995477991/365332

[2022-09-01 11:14] fidoboy commented on #5357
Thanks @DahmaniAdame

All of these issues are related but the problem still exists. It could be easy to accomplish and easy to use, a new text area into settings page to allow a list of URLs to be excluded from preload (but not from cache) as I suggested. There are sites with thousands of posts and tags and it has no sense to include them all into the initial preload. Under my point of view it has

[2022-09-01 11:23] DahmaniAdame opened #5382 "Exclude pages ending with `.php` from getting added to the new preload module"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.12.0.4`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
WP Rocket's Buffer skips processing pages ending with `.php`.

https://github.com/wp-media/wp-rocket/blob/3a1dfedbf8937d084351be7a7e3f1b36b0b853f9/inc/cla

[2022-09-01 13:48] #5376 closed, assigned to engahmeds3ed

[2022-09-01 14:01] paulherzlich commented on #5357
There needs to be some control of the scope of caching and it needs to reflect the site structure. There are whole areas of my site that are not frequently visited and don't need to be preloaded. Not preloading them ensures that I don't overload the server and abuse my shared hosting contract. Previously I could select parts of my site by selecting only some of the sitemaps (generated by Rank Math

[2022-09-01 15:24] mifrero opened #5383 "Change the message on used CSS generation confirmation to match with new preload"
**Is your feature request related to a problem? Please describe.**
Change the message on used CSS generation confirmation as in 3.12.x Sitemap preload is not available any more.
![image](https://user-images.githubusercontent.com/11164737/187951360-5d06dc28-c4bd-455c-b6e9-3e653af260c8.png)

**Describe the solution you'd like**
Remove the reference to Sitemap preload
![image](https://user-images.git

[2022-09-01 16:14] mifrero commented on #5383
Repeated from https://github.com/wp-media/wp-rocket/issues/5355

[2022-09-01 16:14] #5383 closed, assigned to nobody

[2022-09-01 18:47] twwn commented on #5375
Site ran without WP Rocket for 24h and no new errors occurred. So I'm leaning towards the plugin indeed being the cause.

I've deleted an entry in cron/AS leftover by WP-R despite the deactivation & will now reactivate it again to check further.

[2022-09-02 01:17] mattsummers commented on #3728
Why does this remove "font-display: optional"? I wasted a day trying to understand why my careful strategy of setting above-the-fold fonts to 'optional' wasn't working.

'Swap' introduces CLS. Stop changing our settings.

If you must change it to satisfy the bulk of sites, how about we compromise and only alter the font display if it's set to something like "auto", "block" or is undefined.

By def

[2022-09-02 05:28] Mai-Saad opened #5386 "Fatal error when install/activate WPR while WPR debug mode"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.12.0.5
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When activating WPR while `define( 'WP_ROCKET_DEBUG', true); ` , Fatal error is there
`[02-Sep-2022 05:16:55 UTC] PHP Fatal error:  Uncaught Error: Interface "Ps

[2022-09-02 08:19] DahmaniAdame opened #5387 "Defer JS compatibility with Elementor sticky state"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.5`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When Elementor sticky element is enabled with Defer JS, it might cause the following console error:

[code]

In addition to the sticky state not working, it

[2022-09-02 12:42] #4961 closed, assigned to remyperona

[2022-09-02 12:43] #5266 closed, assigned to nobody

[2022-09-02 12:45] #5020 closed, assigned to remyperona

[2022-09-02 12:47] #4710 closed, assigned to jeawhanlee

[2022-09-02 12:47] #5205 closed, assigned to jeawhanlee

[2022-09-02 12:48] #5098 closed, assigned to CrochetFeve0251

[2022-09-02 14:04] #5216 closed, assigned to nobody

[2022-09-02 19:30] jeawhanlee commented on #5379
Tests for 2 & 3 are now added [here](https://github.com/wp-media/wp-rocket/pull/5230).

[2022-09-03 00:35] valmirselmani commented on #3770
When will this issue be fixed? In my case, when a CPT post is changed from "published" to "draft" or from "draft" to "pending review", the whole cache is purged not only the post from that specific CPT.

The problem is that my site has over 1000 pages and the whole cache is purged every hour because we have an API connected that updates some CPT posts every hour. I paid $249 in order to fix the pe

[2022-09-03 08:02] bwafels opened #5389 "Hamburger menu mobile needs multiple touches to register click"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version: YES
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Lately I have noticed this behaviour on your site and my site. The hamburger menu does not register the first touch because the site is not completely loaded. Clicks on

[2022-09-03 09:10] atabakmorghi opened #5390 "trying to access array offset on value of type null in js_composer"
hi dear

when i want to edit every product my wp panel become very slow
and when i enable dibug display i see this eror

/home/myusernamesite/public_html/wp-content/plugins/js_composer/include/autoload/vc-shortcode-autoloader.php on line 64

line 64 is this :

		if ( self::$config['classmap'] ) {

my wp panel for write article or another page don't have any problem and this problem only for edit p

[2022-09-05 05:55] mostafa-hisham commented on #5308
## Reproduce the issue :heavy_multiplication_x:
No need to reproduce

## Scope a solution :white_check_mark:
after talking with @vmanthos
we need to add  `remove_unused_css` , `async_css` , `optimize_css_delivery` options in `$removed` array
only if `remove_unused_css` OR `async_css`are activated
to not clean the cache domain after they are enabled

https://github.com/wp-media/wp-rocket/blob/b3956

[2022-09-05 08:34] mostafa-hisham commented on #5353
@Tabrisrp
Do we need to fix it [module-rocketcdn](https://github.com/wp-media/module-rocketcdn/blob/trunk/views/cta-big.php) too?

[2022-09-05 09:34] piotrbak commented on #3781
Closing it, since we didn't hear from you in the support ticket and the issue is not related to preload at all.

[2022-09-05 09:34] #3781 closed, assigned to nobody

[2022-09-05 09:40] piotrbak commented on #5389
Hello @bwafels thanks for creating the issue.

This issue is most likely related to Delay JS feature. Please find our documentation useful in order to exclude the correct scripts from being delayed:
https://docs.wp-rocket.me/article/1560-delay-javascript-execution-compatibility-exclusions

If that doesn't work, please reach our support to see if there's something we can do about it.

[2022-09-05 09:40] #5389 closed, assigned to nobody

[2022-09-05 09:42] piotrbak commented on #5390
Hello @atabakmorghi could you reach our support team and send us administrator access to your website? We'd love to debug this problem further.

[2022-09-05 13:58] alfonso100 commented on #5366
Another case here:
https://secure.helpscout.net/conversation/1999666497/366226/

With https://wordpress.org/plugins/matomo/ (60k installs)

error in the ticket:

```2022-09-05 09:22:24 'Got invalid response from API request: ?module=API&method=CoreAdminHome.archiveReports&idSite=1.=day&date=2022-09-05&format=json&trigger=archivephp. Response was \'PHP Fatal error: Declaration of Symfony\\Bridge\\M

[2022-09-05 14:59] piotrbak opened #5394 "Allow excluding part of the website from the preload feature"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
In some specific cases, customers might want to preload only part of the website. That's useful when the site owner is sure that specific URLs are not being visited at all.

[2022-09-05 16:34] PaulSchiretz commented on #5382
Same is true for .kml(location data) files, they need to be present in the sitemap, but are stuck in "in progress" in the preload table, i currently excluded them via the exclude options in the cache & optimizations tab....

[2022-09-05 16:42] fidoboy opened #5395 "Selective max age for cache"
**Is your feature request related to a problem? Please describe.**
Problem happens specially on sites where 99% of pages and posts doesn't relies on use of nonces but there is a 1% that will need it.

**Describe the solution you'd like**
It could be useful to have an option to allow selective max age for only certain URLs. For example I set 48 hours as default, but for a a small list of URLs I wan

[2022-09-05 18:37] datajake-hill commented on #4940
![image](https://user-images.githubusercontent.com/53716770/188501099-c16dc32f-3eef-42ef-8835-51f54234bc4e.png)

Upgraded to 3.12 and I'm also having this issue.

[2022-09-05 19:06] alfonso100 commented on #3142
Related https://secure.helpscout.net/conversation/1990386574/364231/

[2022-09-06 02:22] melissahie commented on #4961
Hello, do we know on which version this fix will be released? I want to uninstall the hotfix plugin once this fix has been released.

[2022-09-06 07:54] vmanthos commented on #5358
@engahmeds3ed I got the same error with a fresh install of the current `trunk` when no AS tables existed in the database.

In an existing `3.12.*` installation, deleting the `wp_actionscheduler_actions` table should through the fatal error: https://snippi.com/s/v7iu8lz

This is happening with `3.12.*` but not with `3.11.5` where we display the notice to create the missing tables.

[2022-09-06 08:08] WordPresseur commented on #5366
Another case here: https://secure.helpscout.net/conversation/1996450797/365527/

With [Thrive Architect page builder plugin](https://thrivethemes.com/architect/)

[2022-09-06 09:03] worldwildweb commented on #3142
related: https://secure.helpscout.net/conversation/2000643761/366632/

[2022-09-06 09:23] piotrbak commented on #4961
Hello @melissahie It'll be added to 3.12.1 version of the plugin.

[2022-09-06 09:25] piotrbak commented on #5358
@vmanthos This sounds like a different problem, could you create a new issue about this, so we could guard early?

[2022-09-06 09:32] vmanthos opened #5396 "PHP fatal error with a fresh install when Action Scheduler tables don't exist"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.12.0.5`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

With `3.12.*` the following PHP fatal error occurs with a fresh install when no Action Scheduler (AS) tables exist in the database:
https://snippi.com/s/v7iu

[2022-09-06 10:54] piotrbak commented on #5396
We need to make sure there's no conflict there:
https://github.com/wp-media/wp-rocket/issues/5021

[2022-09-06 12:01] WordPresseur commented on #4190
Related ticket: https://secure.helpscout.net/conversation/1995267507/365271/

[2022-09-06 13:08] jeawhanlee commented on #5396
###  Reproduce the problem ✅
Reproduced locally.

### Identify the root cause ✅
@piotrbak, I don't think there is a conflict.
This is happening because the required AS tables are not present before we [activate](https://github.com/wp-media/wp-rocket/blob/b39567786ccc5c321ace147e1ff9dcfaa6fa2eed/inc/Engine/Preload/Activation/Activation.php#L40) the preload since this is enabled by default.

### Sco

[2022-09-06 13:10] CrochetFeve0251 commented on #5396
@jeawhanlee that looks good to me

[2022-09-06 15:05] Agathemed opened #5397 "Update texts and banners for users with an expired license"
The  messages for users with an expired license need to be updated:

- to inform users about the optimize CSS features that will/have disappear/ed
- to display the correct renewal price

Conditions and messages are available [here.](https://docs.google.com/spreadsheets/d/1Zu1MbsVNkOWCsW0CmVRuY69I0t3vtTLG4ykhuOI3YVI/edit?usp=sharing)

[2022-09-06 15:17] CrochetFeve0251 commented on #5379
Look like test 1 disappeared too on develop (surely @engahmeds3ed that removed it when he removed the preload queue runner)

[2022-09-06 15:35] camilamadronero-zz commented on #3718
related https://secure.helpscout.net/conversation/2000992076/366738/

[2022-09-06 15:56] #5021 closed, assigned to jeawhanlee

[2022-09-06 16:37] joejoe04 commented on #3511
Related - https://secure.helpscout.net/conversation/1999551773/366195/

[2022-09-06 17:46] piotrbak commented on #5358
Closing as we won't be able to find the corrupted tables.

[2022-09-06 17:46] #5358 closed, assigned to nobody

[2022-09-06 21:22] joejoe04 commented on #4792
Related: https://secure.helpscout.net/conversation/1997365669/365700/

[2022-09-06 22:49] alfonso100 commented on #5366
Another case here:
https://secure.helpscout.net/conversation/2001124249/366767?folderId=3572159

unknown plugin

[2022-09-06 23:53] etoc-ro commented on #5357
We have almost 32000 url to preload including tags, categories and attributes, excluding attributes save us almost 3000 pages and excluding outofstock products almost 6000 and now we only need to preload 23000 pages but even then it would not finish preloading because is slow (don’t know why) and the server is a 32 cores with 128gb ram and nvme storage with avarage load 6.

A new option useful wou

[2022-09-07 07:49] CrochetFeve0251 commented on #5374
### Scope a solution
In the `is_already_cached` method from `PreloadUrl` :
- Check if the option `cache_webp` is enabled.
- If it is not the case keep the original process.
- If it is not the case then:
    - Create a path to search for `$webp_path  = rocket_get_constant( 'WP_ROCKET_CACHE_PATH' ) . $url['host'] . strtolower( $url['path'] . $url['query'] ) . 'index' . $mobile . $https . '-webp.html

[2022-09-07 08:18] CrochetFeve0251 commented on #5332
@Mai-Saad did you done any other step cause even doing that doesn't generate the warning on my env?

[2022-09-07 08:23] DahmaniAdame commented on #5375
Related:
- https://secure.helpscout.net/conversation/2000637515/366629/
- https://secure.helpscout.net/conversation/1985640222/363222/
- https://secure.helpscout.net/conversation/1998433981/365950/
- https://secure.helpscout.net/conversation/1986834892/363497/

[2022-09-07 08:40] jeawhanlee commented on #5379
@CrochetFeve0251 True! Closing issue as Test 1 will not be needed since the preload queue runner was removed [here](https://github.com/wp-media/wp-rocket/pull/5381) and also Tests 2 & 3 have moved [here](https://github.com/wp-media/wp-rocket/pull/5230)

[2022-09-07 08:40] #5379 closed, assigned to nobody

[2022-09-07 08:45] CrochetFeve0251 commented on #5397
@Agathemed from  what I saw in the code we need to add new cases for the licence, am I right?

Just want to confirm before grooming.

[2022-09-07 08:58] Agathemed commented on #5397
I believe the only case that is not in place yet is the "not grand-fathered user" scenario.

[2022-09-07 09:14] piotrbak commented on #5357
Hello everyone, since this issue is very overall, I'm about to close it.

I opened one related to regex exclusion from the preload:
https://github.com/wp-media/wp-rocket/issues/5394

Handling high CPU was improved a lot in the 3.12.0.5 and we'll be focused on that even further during upcoming minor releases. Due to the fact that we use Github for development purposes, each improvement will be desc

[2022-09-07 09:14] #5357 closed, assigned to nobody

[2022-09-07 09:39] CrochetFeve0251 commented on #5332
## Reproduce the problem
I was able to reproduce the problem.

## Identify the root cause
The problem is due to the fact [`get_rows_by_url`](https://github.com/wp-media/wp-rocket/blob/cdf8f7bd07a2566b800d13f0981bf5babfd5b63f/inc/Engine/Preload/Database/Queries/Cache.php#L248) use the cache when quering that seems to return  boolean value instead of the object as it is already deleted.

##  Scope a

[2022-09-07 10:14] CrochetFeve0251 commented on #5397
@piotrbak look like the API doesn't provides us the information if an user is grand-fathered.

[2022-09-07 10:42] DahmaniAdame commented on #5394
Related - https://secure.helpscout.net/conversation/1999988402/366464/

[2022-09-07 11:22] DahmaniAdame commented on #5394
Related - https://secure.helpscout.net/conversation/2000056403/366486/

[2022-09-07 12:09] piotrbak opened #5400 "Better handling RUCSS errors"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
1. If job wasn't successful, we don't store any data why it failed
2. When SaaS receives timeout, we're increasing the `retries` column up to 3 and then change the status to

[2022-09-07 12:44] WordPresseur commented on #4372
Related: https://secure.helpscout.net/conversation/1992687473/364731/

[2022-09-07 12:44] juricazuanovic commented on #3142
Related: https://secure.helpscout.net/conversation/1999398636/366160

[2022-09-07 13:10] GeekPress commented on #5251
Yes we could

[2022-09-07 13:12] piotrbak opened #5401 "Guard against unnecessary request when RUCSS and Preload are used together"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When RUCSS and Preload are used together it's possible that we'll do one additional, unnecessary request to the URL.

**To Reproduce**
Steps to reproduce the behavior:
1. En

[2022-09-07 13:46] jamiematrix commented on #4940
Highly recommend getting in contact with WP Rocket support!

[2022-09-07 15:49] twwn commented on #5375
Since I can't see those, could you please tell me whether they contain signs (recency, more details, etc.) that this is actually a WP-R issue? Or even workarounds?

I still have no clue where it's actually coming from, seeing there's zero further details in the WP's debug.log nor (have I been able to find) really helpful resources on the net.

[2022-09-08 06:19] DahmaniAdame opened #5403 "Delay JavaScript Execution compatibility with FuseBox player"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.12.0.5`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When Delay JavaScript Execution is used with the FuseBox player, the player's image will show the default image placeholder set by the player.

![image](h

[2022-09-08 07:22] CrochetFeve0251 commented on #5394
For that I was wondering if we can save somewhere (like a transient) the output of the filter and only if it is different than the old one then run a CRON or a AS task to clear to clean the old URLs in the database.

Outside this case we can just prevent from adding new URL matching the regex in the database.

What do you think @piotrbak @engahmeds3ed ?

[2022-09-08 08:20] CrochetFeve0251 commented on #5401
### Scope a solution
We could create add a filter in the loop changing [rows to in-progress](https://github.com/wp-media/wp-rocket/blob/cdf8f7bd07a2566b800d13f0981bf5babfd5b63f/inc/Engine/Preload/Controller/PreloadUrl.php#L178) that returns `true` by default so it will guard from passing that row `in-progress`.

(We could also make a request to modify that row even we don't pass it `in-progress` s

[2022-09-08 09:30] worldwildweb opened #5405 "The more info link under Minify CSS>Excluded CSS Files leads to Excluding External JavaScript from Combine?"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version 3.12.0.5
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
The "more info" link under Minify CSS>Excluded CSS Files leads to [Excluding External JavaScript from Combine](https://docs.wp-rocket.me/article/39-excluding-extern

[2022-09-08 09:37] mostafa-hisham commented on #5400
### Scope a solution
- Respond with a different error code (**504**) on timeout on the SAAS side
- Update [RUCSS controller](https://github.com/wp-media/wp-rocket/blob/develop/inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php) to create a new JOB on 504 errors
- create a new function to create new jobs and use it in tree shake and in timeout error from
https://github.com/wp-media/wp-rocket/blob

[2022-09-08 11:31] DahmaniAdame commented on #5394
Related - https://secure.helpscout.net/conversation/2001890228/366891?folderId=3864735

[2022-09-08 11:36] vmanthos opened #5406 "Enhance preloading when there are additional layers of cache"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.12.0.5`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

Currently, when one or more additional layers of cache are _not_ cleared in sync with WP Rocket, preloading URLs that are already cached in the extra layer w

[2022-09-08 12:18] Michaelgimii commented on #4937
Are there any plans to fix this?

[2022-09-08 12:32] viobru commented on #5394
Related: https://secure.helpscout.net/conversation/2000380354/366561

[2022-09-08 12:49] joejoe04 commented on #4628
Possibly related: https://secure.helpscout.net/conversation/1995744842/365373/

[2022-09-08 14:37] alfonso100 opened #5407 "Guard against PHP 8.0.0 and higher versions: count() throwing fatal error on invalid countable types passed to the value parameter"
**Before submitting an issue please check that you’ve completed the following steps:**
yes - Made sure you’re on the latest version
yes - Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
A fatal error happens on WP 6.0.2 / PHP 8.1.9 / WPR 3.12.0.5 if the `$_GET` value is null here:
https://github.com/wp-media/wp-rocket/blob/6e499c21b143497d36ef54e4d6

[2022-09-08 14:51] mehedihasanziku commented on #5088
@piotrbak sorry, I know lots of critical issue ongoing, but this should be considered to Improve CLS

[2022-09-08 14:56] piotrbak commented on #5088
@mehedihasanziku Helllo and thanks for creating this one. We'll check the real impact of this change, I'll let you know.

[2022-09-08 15:44] juricazuanovic commented on #2441
Related: https://secure.helpscout.net/conversation/1991719079/364515/

[2022-09-09 03:18] #5038 closed, assigned to mostafa-hisham

[2022-09-09 04:59] hoahieu655 opened #5408 "Preload increases CPU and database memory"
In my Action Scheduler generated over 300,000 preload links and the same log file since upgrading to you 3.11.5 (I have now upgraded to 3.12). Can I delete it?
My Database Action Schedule grows to almost 500MB

Image : https://i.imgur.com/SNp0Toq.jpeg

I have Yoast seo installed but in WP Rocket it doesn't automatically display compatible with Yoast sitemap link

[2022-09-09 05:56] vmanthos commented on #5406
@wp-media/php @piotrbak Following up on the idea of using a dedicated, cacheable query string to bypass additional layers of cache, we could make the query string dynamic to tackle cache layers that are caching query strings.

For example, we could append `cachewprocket_{dynamic part}` to the preload requests. The dynamic part could be a hash of the URL + `time()` to ensure query strings will not

[2022-09-09 06:59] DahmaniAdame opened #5409 "WebP Cache bug when the UPLOADS constant is defined"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.12.0.5`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**

When a custom uploads file is defined using `define( 'UPLOADS', 'custom-wp-uploads' )`, building the WebP cache will fail at the following location:

htt

[2022-09-09 07:22] #5403 closed, assigned to nobody

[2022-09-09 07:52] Mai-Saad opened #5410 "Used CSS isnot automatically generated for home page if preload is disabled"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.12.0.5
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When enabling RUCSS while preload is disabled, although success msg mentioned that the home page was processed. nothing exists in the used CSS table

**To Reprod

[2022-09-09 09:59] DahmaniAdame commented on #5361
Related - https://secure.helpscout.net/conversation/1998433981/365950/

[code]

The issue is not specific to CLI.

Before safeguarding it, we need to understand first why it's happening.

I've seen it in the past targeting different plugins as well. It might be a server configuration issue. In this case, WP Rocket's table was the only one prompting the error though.

[2022-09-09 10:29] piotrbak commented on #5408
Hello @hoahieu655 and thank you for creating the issue. We are using Github for development purposes, could you reach our
support team to investigate the issue further?

Yes, but please include URL of this issue in the support ticket.

[2022-09-09 10:29] #5408 closed, assigned to nobody

[2022-09-09 11:20] engahmeds3ed commented on #5394
No plz, we don't need additional CRON.
I checked the preload code and I can see only two places that are creating/updating DB cache rows as below:

1. When the optimizations are done on the page (after applying rocket_buffer filter)
https://github.com/wp-media/wp-rocket/blob/6e499c21b143497d36ef54e4d682d1044e464a4b/inc/Engine/Preload/Subscriber.php#L192-L198

2. When this url's cache is cleared an

[2022-09-09 12:12] piotrbak commented on #5361
@DahmaniAdame The problem with cache table that's not related to CLI is going to be fixed here:
https://github.com/wp-media/wp-rocket/issues/5351

[2022-09-09 12:15] DahmaniAdame commented on #4597
Related - https://secure.helpscout.net/conversation/1717861502/312768/
Any progress on this one?

[2022-09-09 12:40] CrochetFeve0251 commented on #5361
@DahmaniAdame @piotrbak  my idea when guarding the table is the fact that when we launch the preload queue from the cli it won't create the table if it is missing.
But then if we open the admin it will create it making us think the table was there.

I tried some scenarios and that for the moment the only one I can reproduce that issue.

[2022-09-09 12:45] DahmaniAdame commented on #5351
Related - https://secure.helpscout.net/conversation/1998433981/365950/

[code]

I've seen it in the past targeting different plugins as well. It might be a server configuration issue. In this case, WP Rocket's table was the only one prompting the error though.

[2022-09-09 16:23] webtrainingwheels opened #5412 "Exclude Rocket LazyLoad plugin from Delay JavaScript Execution"
https://wordpress.org/plugins/rocket-lazy-load/
For better user experience, we could exclude this LazyLoad script from Delay, so that images will load without interaction, as we do for other LazyLoad scripts.

This is the file:
`/plugins/rocket-lazy-load/assets/js/16.1/lazyload.min.js`

Tested with WP Rocket version 3.12.0.5  - it's not excluded automatically

[2022-09-09 16:43] sandyfzu commented on #3246
Another case where rocket_clean_posts() clears the whole cache: https://secure.helpscout.net/conversation/1997887310/365868/

It is happening when updating an Elementor's template.

[2022-09-09 16:46] sandyfigueroa commented on #3246
Another case where rocket_clean_posts() clears the whole cache: https://secure.helpscout.net/conversation/1997887310/365868/

It is happening when an Elementor's template is updated.

[2022-09-09 17:09] piotrbak commented on #3717
**Scope of the PR:**
1. We need to detect that WPX Cloud caching is enabled by checking the following entry is `on` in the array:
`HTTP_WPXCLOUD`
I needs to happen before the detection of LiteSpeed.
2. We'll set up Varnish Add-on to send requests to the following IP/Port:
`127.0.0.1:6081`
3. We'll send `PURGE` requests to clear the cache:
- / - purge home page
- /.* - clear all cache
- /some-blog-

[2022-09-09 18:45] viobru opened #5413 "Display caching and Used CSS status"
**Is your feature request related to a problem? Please describe.**

Currently, there is no way for customers to check from the site which pages have been already cached or which ones have the used CSS already created.

This can be checked through the server, but it is not handy for sites with lots of URLs.

From the customer:
_At the moment the preloading/caching runs itself and we get a wee messa

[2022-09-09 19:58] camilamadronero-zz commented on #4990
Related: https://secure.helpscout.net/conversation/2003119492/367148/

[2022-09-09 21:00] camilamadronero-zz commented on #5094
Related https://secure.helpscout.net/conversation/2003206887/367177/

[2022-09-09 21:43] alfonso100 commented on #2441
related https://secure.helpscout.net/conversation/1980848784/362202?folderId=2683093
In this case, is 3.12.0.5 and is happening not only on the 1st preload

[2022-09-10 19:01] EusebiuOprinoiu opened #5414 "Better Optimal Settings in the Cloudflare Addon"
Hello, everyone!

I recently started using the Cloudflare integration provided by WP-Rocket, and I don't think your Optimal Settings are very good.

### Issue 1
You're changing the Browser Cache TTL to 1 year. This forces every single cached asset to have this TTL. (including the RSS feeds)
The value of Browser Cache TTL is the minimum TTL value for cached assets. Cloudflare checks the original he

[2022-09-11 10:49] akram-Qbh commented on #4940
Who faced this problem and managed to solve it?

[2022-09-11 10:52] akram-Qbh commented on #4940
hi did you manage to solve it

[2022-09-11 12:08] jcatello commented on #4940
Just recreate the table manually is the fastest approach:

https://github.com/woocommerce/woocommerce/issues/25895#issuecomment-724683575

[2022-09-11 13:30] privatedevops opened #5415 "Eliminate render-blocking resources and v3.12.0.5 September 1, 2022"
Hello,

Seems after WP rocket release version 3.12.0.5 September 1, 2022, there is some issue with "Eliminate render-blocking resources", after I revert back to older version, in my case  3.11.5 everything is ok.

[2022-09-11 13:33] privatedevops commented on #5415
The issue occur with both REMOVE UNUSED CSS or  LOAD CSS ASYNCHRONOUSLY

[2022-09-11 13:35] akram-Qbh commented on #4940
I added it but it didn't solve the problem
![image](https://user-images.githubusercontent.com/112213171/189530480-5e92ff85-c3e2-4f69-a2cd-d3c36061a523.png)

[2022-09-11 13:42] akram-Qbh commented on #4940
![image](https://user-images.githubusercontent.com/112213171/189530769-95619f51-69bb-42ff-a516-df576f4ebe13.png)

[2022-09-12 09:43] engahmeds3ed commented on #5394
@CrochetFeve0251 has a concern regarding,
When the user clears cache or even the automatic cache is run before the user applied the new filter.

After some discussions, We agreed to simply do it as follows (from the customer perspective):
1. Use the filter to stop preloading some url (regex)
2. Clear the cache & preload OR wait till the next automatic cache clear.
3. As groomed above, we will dele

[2022-09-12 09:44] #5396 closed, assigned to jeawhanlee

[2022-09-12 09:44] #5373 closed, assigned to engahmeds3ed

[2022-09-12 09:44] #4942 closed, assigned to CrochetFeve0251

[2022-09-12 09:49] #5407 closed, assigned to jeawhanlee

[2022-09-12 10:15] Kilbourne commented on #5003
Hi,
Any news about this? It was released and then reverted. Currently it doesn't redirect to the canonical version.

[2022-09-12 10:16] #5249 closed, assigned to jeawhanlee

[2022-09-12 11:46] #4905 closed, assigned to CrochetFeve0251

[2022-09-12 12:14] piotrbak commented on #2068
As an update for this specific case and the new Preload:
1. Warning in the logs is not present
2. We're clearing the cache of `shop` (archive for WooCommerce products) correctly
3. We're **not** changing the status of `shop` in the database
4. **We're adding** the unnecessary entries (`shop/index-https.html` `shop/index-https.html_gzip` `shop-7/index-httpspage`) to the database and setting their s

[2022-09-12 12:59] #5353 closed, assigned to mostafa-hisham

[2022-09-12 16:03] camilamadronero-zz commented on #5387
related https://secure.helpscout.net/conversation/2001170340/366775/

[2022-09-12 16:03] mifrero commented on #3938
New request: https://secure.helpscout.net/conversation/2004342086/367415?folderId=2952229

[2022-09-12 20:13] piotrbak opened #5416 "Limit the index column size for queue_name"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
For specific table encoding we might encounter the following error:
[code]

**Expected behavior**
We should limit `INDEX 'queue_name_index' ('queue_name'),` to be maximum 19

[2022-09-12 20:42] camilamadronero-zz commented on #5406
related https://secure.helpscout.net/conversation/1982701968/362568/

[2022-09-13 00:47] webtrainingwheels commented on #5413
Requesting preload stats: https://secure.helpscout.net/conversation/2007580342/368089?folderId=377611

[2022-09-13 04:52] jammy26 opened #5417 "RUCSS - generatepress Theme - Navigation Bar/Search Icon Not working"
**Describe the bug**
When using the RUCSS method for CSS Optimization, neither Hamburger Icon nor search icon works on Mobile in generatepress theme. The search icon also doesn't work on the Desktop.

Those icons show up but don't work. They work just fine with Method "Load CSS Asynchronously"

**To Reproduce**
My test website is online.
Steps to reproduce the behavior:

Go to with actual mobile b

[2022-09-13 06:10] DahmaniAdame commented on #5288
Related - https://secure.helpscout.net/conversation/2001306081/366806

[2022-09-13 07:10] DahmaniAdame commented on #4964
https://secure.helpscout.net/conversation/2001306081/366806 (same website)

@piotrbak the issue is that we don't process RUCSS for URLs with query strings. We just send the RUCSS built for the URL without the query string to any matching URL.

It's not common to have that, but it's still a scenario that we should consider and accommodate to.

Maybe a filter to use when appropriate?

[2022-09-13 07:42] DahmaniAdame commented on #4964
It can be temporarily sorted out by excluding the problematic query strings from Remove Unused CSS using https://github.com/wp-media/wp-rocket-helpers/tree/fb56cec80e6ef5c21fd2538e1b4726d2bc9b2518/rucss/wp-rocket-conditionally-disable-remove-unused-css

[2022-09-13 09:01] WordPresseur opened #5418 "Preload - Query strings in Sitemaps can't be preloaded anymore"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**
In the previous version of the preload feature, it was possible to preload query strings found in a sitemap if the parameters were set as cacheable. It's not possible an

[2022-09-13 09:50] #3960 closed, assigned to CrochetFeve0251

[2022-09-13 13:09] CrochetFeve0251 commented on #5382
### Identify the root cause
The root issue is that we are not checking if the URL finishes by a `.php` in the query add the URL to the preload.
### Scope a solution
For fixing that a solution would be to guard against that inside the [`create_or_update`](https://github.com/wp-media/wp-rocket/blob/37319214bd835a6d1cee5dcdea8327a2f6f498cf/inc/Engine/Preload/Database/Queries/Cache.php#L124) method an

[2022-09-13 13:41] remyperona commented on #5397
### Scope a solution ✅
We need to update all the banners to update the part related to the price + discount that is going to be offered.

In Engine\License\Renewal:
- Update `display_renewal_soon_banner()` method to check for grandfathered and change the message returned
- Update `display_renewal_expired_banner()` method to check for grandfathered and change the message returned
- Update the renew

[2022-09-13 13:48] remyperona commented on #5410
### Identify the root cause ✅
We're missing in the new preload the code we had before:
https://github.com/wp-media/wp-rocket/blob/cb0ef908b6d0e1eace8545b96d23b0b93c44d1ec/inc/Engine/Preload/PreloadSubscriber.php#L391
https://github.com/wp-media/wp-rocket/blob/cb0ef908b6d0e1eace8545b96d23b0b93c44d1ec/inc/Engine/Preload/PreloadSubscriber.php#L59

### Scope a solution ✅
Add to the new preload a metho

[2022-09-13 14:16] camilamadronero-zz commented on #5394
Related https://secure.helpscout.net/conversation/2003129371/367151/

[2022-09-13 15:03] piotrbak commented on #5400
@engahmeds3ed @mostafa-hisham I just updated the description of the issue.

[2022-09-13 17:54] remyperona commented on #5405
Can we have the ID for the article, and the ID + URL for the FR versions?

[2022-09-13 19:58] CrochetFeve0251 commented on #5416
### Identify the root cause
The issue comes from the configuration of the msql server that are a maximum size of key inferior to what we expected.
### Scope a solution
The solution will be to reduce the size of the index to 191.
For that we can modify the following line in the **[`UsedCSS`](https://github.com/wp-media/wp-rocket/blob/develop/inc/Engine/Optimization/RUCSS/Database/Tables/UsedCSS.php

[2022-09-13 20:33] camilamadronero-zz opened #5423 "Adjust Preload notice"
**Is your feature request related to a problem? Please describe.**
The [Preload notice](https://jmp.sh/CtTXxBi) is currently shown in when [clearing the cache](https://docs.wp-rocket.me/article/78-how-often-is-the-cache-updated#full-cache-deletion) and it has a [re-appearing behavior](https://wp-media.slack.com/archives/GUKB44GNN/p1663011215372739). This doesn't go inline with the continuous natur

[2022-09-13 20:57] camilamadronero-zz opened #5424 "Detect usage of Autoptimize's RapidLoad Used CSS"
**Is your feature request related to a problem? Please describe.**
Currently, customers can enable [RapidLoad Power-Up for Autoptimize]( https://wordpress.org/plugins/unusedcss/) at the same time as WP Rocket's Remove Unused CSS, causing layout issues or stuck Used CSS generation problems.

**Describe the solution you'd like**
WP Rocket could detect the usage of RapidLoad Remove Unused CSS and gra

[2022-09-14 06:18] DahmaniAdame opened #5425 "Load CSS Async to generate a separate CPCSS For Author pages"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.12.0.5`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When Load CSS Async is used, specific CPCSS for the archives pages is not generated. The frontpage CPCSS is added to that type of pages.

That creates a F

[2022-09-14 07:16] DahmaniAdame commented on #5394
@piotrbak, a possible enhancement is to allow prioritizing preload specific items, maybe a sitemap with the most viewed posts. But I'm not sure if the Action Scheduler can facilitate that.
Ticket - https://secure.helpscout.net/conversation/2006557268/367868?folderId=3864735

[2022-09-14 08:08] DahmaniAdame commented on #2409
Related - https://secure.helpscout.net/conversation/2006581536/367880?folderId=3864735

[2022-09-14 09:16] vmanthos opened #5426 "PHP fatal error on activating RUCSS when there aren't Action Scheduler tables in the database"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.12.05`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When the Action Scheduler (AS) tables are not in the database, activating Remove Unused CSS is causing a PHP fatal error:
http://snippi.com/s/2uqtuy1

Refresh

[2022-09-14 09:59] DahmaniAdame commented on #2409
Related - https://secure.helpscout.net/conversation/2009007775/368396/

[2022-09-14 11:12] piotrbak opened #5428 "Allow prioritization of preloaded URLs"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Bigger websites could take advantage of key content prioritization.

**Expected behavior**
The simplest solution I can think of is to:
1. Allow filtering this [query](https:

[2022-09-14 11:13] piotrbak commented on #5394
@DahmaniAdame Created separate issue about this enhancement:
https://github.com/wp-media/wp-rocket/issues/5428

[2022-09-14 20:55] camilamadronero-zz commented on #5418
Request https://secure.helpscout.net/conversation/2003218245/367180/

[2022-09-14 21:50] marcloeb commented on #5418
line 185 seems not to be the only one cutting out the querystring in cache.php for preload, as well the following lines in cache.php strip the querystring:

line 125:
$url = untrailingslashit( strtok( $resource['url'], '?' ) );

line 226:
$url = strtok( $url, '?' );

please fix, because I depend on preload querystrings

[2022-09-14 23:04] webtrainingwheels commented on #2409
https://secure.helpscout.net/conversation/2007438544/368071?folderId=377611

[2022-09-15 00:01] alfonso100 opened #5431 "[WIP] Action Scheduler: lots of past-due rocket_preload_job_preload_url actions found"
**Before submitting an issue please check that you’ve completed the following steps:**
yes - Made sure you’re on the latest version
yes - Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
@webtrainingwheels noticed a trend:
On some sites using **3.12.0.5** the `rocket_preload_job_preload_url` starts piling up. (6k, 70k, 80k entries)
Users are mentioni

[2022-09-15 04:37] DahmaniAdame commented on #5431
The warning is related to this Action Scheduler change on Action Scheduler `3.5.0`.
https://github.com/woocommerce/action-scheduler/releases

![image](https://user-images.githubusercontent.com/1289174/190315036-bc4e1904-e6ab-441e-9ec6-3e08ed633481.png)

Other plugins relying on Action Scheduler are getting similar warnings as well - https://wordpress.org/support/topic/action-scheduler-4-past-due-a

[2022-09-15 04:54] worldwildweb commented on #5431
probably related: https://secure.helpscout.net/conversation/2006999241/367997/

[2022-09-15 07:55] DahmaniAdame opened #5432 "Compatibility with JetEngine custom posts"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.12.0.5`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When custom post types are added using the JetEngine plugin, purging one of the posts will include multiple root URLs from other post types to our `$purge

[2022-09-15 09:41] #5332 closed, assigned to CrochetFeve0251

[2022-09-15 11:39] DahmaniAdame commented on #5394
Related - https://secure.helpscout.net/conversation/2007775038/368118/

[2022-09-15 11:41] DahmaniAdame commented on #5431
Related - https://secure.helpscout.net/conversation/2007775038/368118/

[2022-09-15 16:46] webtrainingwheels opened #5435 "RUCSS PHP Error: Unable to claim actions. Database error."
**Before submitting an issue please check that you’ve completed the following steps:**
- Version 3.11.0.5

**Describe the bug**
While troubleshooting a site where RUCSS is not being generated, this error was found in the log:

`[13-Sep-2022 22:29:18 UTC] PHP Fatal error: Uncaught RuntimeException: Unable to claim actions. Database error. in /public_html/wp-content/plugins/wp-rocket/inc/Dependencie

[2022-09-15 16:48] iuzairjan commented on #5431
<img width="1272" alt="Screenshot at Sep 15 22-22-02" src="https://user-images.githubusercontent.com/25842257/190462533-cdeb4103-e9e3-48df-9c91-764e11832066.png">
The same is happening with me I have 40k Post

<img width="1437" alt="Screenshot at Sep 15 22-14-42" src="https://user-images.githubusercontent.com/25842257/190461548-e0605b5f-8ec9-4a01-8faf-f5528d2de2fc.png">

[2022-09-15 17:12] joejoe04 commented on #3960
Related: https://secure.helpscout.net/conversation/1992140978/364599/
The cause was something new, in this case, it was due to object cache:
Further details here: https://wp-media.slack.com/archives/C029G1B5HD2/p1663255224632399

[2022-09-15 19:35] piotrbak commented on #5229
Fixed with dynamic backend

[2022-09-15 19:35] #5229 closed, assigned to alfonso100

[2022-09-15 21:05] joejoe04 commented on #1756
Related: https://secure.helpscout.net/conversation/2008215877/368260/

[2022-09-16 01:53] making8 commented on #5431
I'm using Rankmath without WP Rocket active and seeing the issue. It's definitely way worse when WP Rocket is on though.

[2022-09-16 05:28] DahmaniAdame commented on #5394
Related - https://secure.helpscout.net/conversation/2003558807/367275/

[2022-09-16 05:54] DahmaniAdame commented on #2441
Related - https://secure.helpscout.net/conversation/2008053824/368221/
`3.12.0.5` as well.

[2022-09-16 07:06] manfredinicolas commented on #5021
We still have the issue with new version

[2022-09-16 07:13] DahmaniAdame commented on #4376
Related - https://secure.helpscout.net/conversation/2008590217/368335/
Woodmart

[2022-09-16 08:57] mapsteps commented on #5021
+1. I just updated to version 3.12.1 and this pops up on all of my sites 😮

[2022-09-16 09:42] DahmaniAdame commented on #4917
Related - https://secure.helpscout.net/conversation/2008793724/368352/
@piotrbak issue is still happening.

[2022-09-16 11:30] RudyRodriuez commented on #5431
A headache, we have already deactivated the "preload" now the box is like this. We hope that the next update will be fixed without problems.

![1](https://user-images.githubusercontent.com/38331144/190629339-51a6a084-f75e-40f2-adf8-32f1cd7921e6.png)

[2022-09-16 12:11] vmanthos commented on #4943
Additionally to the transients that Mai listed this one is not deleted as well:
`wpr_dashboard_seen_`

The same goes for the following option:
`rocket_cache_dir_size_check`

[2022-09-16 12:54] vmanthos opened #5438 "Remove the cache directory size check feature"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

We should consider removing the cache directory size check feature since:
* We haven't been using this feature for a long time.
* With the use of Delay JavaScript Execu

[2022-09-16 13:02] GeekPress commented on #5438
+1

[2022-09-16 13:27] vmanthos opened #5439 "RUCSS - "database error table doesn't exist for queries" errors in the debug.log"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.12.1`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

Database table errors like the following have been popping up in the `debug.log` during QA:
[code]

or @Mai-Saad found this:
[code]

**To Reproduce**
Steps to

[2022-09-16 14:43] piotrbak opened #5440 "Improve detection of missing AS tables"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
In the current approach we have a bug related to the not expected characters in the database name. Our query here is not using `` causing fail of the check and displaying fa

[2022-09-16 14:44] piotrbak commented on #5440
This will resolve the following issue:
https://github.com/wp-media/wp-rocket/issues/5426

[2022-09-16 14:58] jeawhanlee commented on #5426
Closing this in favour of https://github.com/wp-media/wp-rocket/issues/5440

[2022-09-16 14:58] #5426 closed, assigned to nobody

[2022-09-16 16:04] remyperona commented on #5440
Are we removing the existing notice?

[2022-09-16 16:15] piotrbak commented on #5440
Yes, the notice won't be needed anymore.

[2022-09-16 18:01] jeawhanlee commented on #5440
### Scope a solution ✅
I propose creating a new class and subscriber in https://github.com/wp-media/wp-rocket/tree/develop/inc/Engine/Admin
[code]
### When activating the plugin, before Preload do any operation on the tables
In the new subscriber hook a new method to `rocket_activation` that calls `maybe_recreate_as_tables()`
- remove https://github.com/wp-media/wp-rocket/blob/3584bcca26fdee58f812

[2022-09-16 18:14] remyperona commented on #5440
that sounds good to me 👍🏼

[2022-09-16 21:18] alfonso100 opened #5442 "Allow to stop a preload in process"
**Is your feature request related to a problem? Please describe.**
It'd be good if we can allow to stop the preload process.
It was an old request from customers and we just got a new question about this.

**Describe the solution you'd like**
Add a button to stop an ongoing preload, without clearing the cache.
Just pausing the process and allowing to resume it.

**Additional context**
https://secu

[2022-09-17 04:57] DahmaniAdame commented on #5431
Past-due jobs are expected to happen. And there seem to be two main reasons:

- The consistency of the CRON jobs. Having a server-side CRON helps.
- Frequent `deadlocks` on the database ([reference](https://github.com/woocommerce/action-scheduler/issues/530#issuecomment-904674211)). This one seems to be a mix of [Race conditions affecting ActionScheduler_QueueRunner::maybe_dispatch_async_request()

[2022-09-17 06:39] DahmaniAdame opened #5443 "RUCSS compatibility with Popups for Divi"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.12.0.5`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When RUCSS is used with [Popups for Divi](https://wordpress.org/plugins/popups-for-divi/), the inner popup style is missing.

The style is not prefixed an

[2022-09-17 09:11] oscarwerther commented on #5021
updated to version 3.12.1 and this pops up on all of my sites -> here too
rolled back to 3.11.5 and no errors -> please fix that

[2022-09-17 16:33] kulterryan opened #5444 "action_scheduler_run_queue_rucss is late to run"
**Describe the bug**
After updating to v3.12.1, the error appears in the site health.

**Expected behavior**
Resolves after clearing Unused CSS but appears right after 5 minutes.

**Screenshots**
![image](https://user-images.githubusercontent.com/36154235/190866983-fddddb87-e7c1-472a-9110-2eba4de5c958.png)

**Additional context**
Rolling back to v3.12.0.5 resolves the issue.

[2022-09-17 20:58] AriGolden commented on #5021
Same problem here with 3.12.1.

[2022-09-18 10:18] Joliamendi commented on #5396
Hi everyone What should we do if we see this error? This error keeps showing up in my WordPress dashboard.

[2022-09-19 03:10] socialpreneur commented on #4940
Is this really a closed issue? I'm seeing "WP Rocket: We detected missing database table related to Action Scheduler. Please visit the following URLto recreate it, as it is needed for WP Rocket to work correctly." on the latest version.

This happens without using RUCSS.

[2022-09-19 06:52] AriGolden commented on #4940
Same problem here since version 3.12.1.

[2022-09-19 07:51] NataliaDrause commented on #2440
related: https://secure.helpscout.net/conversation/2010126595/368651/

Same triggers as above:
- Non-latin slug.
- Long search result with query strings.

[2022-09-19 08:13] piotrbak commented on #5021
@manfredinicolas @MapSteps @oscarwerther @AriGolden Please follow the following issue:
https://github.com/wp-media/wp-rocket/issues/5440

The message doesn't affect how WP Rocket works, it's an UI problem only.

[2022-09-19 08:14] piotrbak commented on #5396
@Joliamendi Please follow the following issue:
https://github.com/wp-media/wp-rocket/issues/5440

The message doesn't affect how WP Rocket works, it's an UI problem only.

[2022-09-19 08:34] Sh4d0wHunt3rX commented on #5012
Hi @strategio and @NataliaDrause . Few days ago I was working on a client's site and I noticed, in first load, the wp rocket is not working and when refresh the page, the wp rocket works. I noticed the client has "WooCommerce Multilingual & Multicurrency with WPML" and the cookie of "wcml_client_country" is empty, that was the reason. Client had last version of all plugins.

So, have you fixed thi

[2022-09-19 08:42] Michaelgimii commented on #5444
+1
Please fix this issue. This error is constantly displayed in the counter.

![wp](https://user-images.githubusercontent.com/88034902/190980461-7239c307-ad99-49a5-85bd-9dbe87242105.png)

It doesn't disappear no matter what I try. Is there a solution for that?

[2022-09-19 08:52] Michaelgimii commented on #5431
+1
This error is constantly displayed in the counter.

![wp](https://user-images.githubusercontent.com/88034902/190980461-7239c307-ad99-49a5-85bd-9dbe87242105.png)

It doesn't disappear no matter what I try. Is there a solution for that?

[2022-09-19 08:55] piotrbak commented on #5444
@kulterryan The warning is related to this Action Scheduler change on Action Scheduler, you can read more and follow the thread in this issue:
https://github.com/wp-media/wp-rocket/issues/5431

@Michaelgimii It's only an UI problem that doesn't affect the functionality. It usually happen when database name contains `.` or special character. You can check the details here:
https://github.com/wp-med

[2022-09-19 08:55] #5444 closed, assigned to nobody

[2022-09-19 08:58] Michaelgimii commented on #5444
hi @5431 , Thanks for the great information. So will the error display problem in the counter be solved in the next version?

[2022-09-19 09:02] Michaelgimii commented on #5444
hi @piotrbak  , Thanks for the great information. So will the error display problem in the counter be solved in the next version?

[2022-09-19 09:14] NataliaDrause commented on #5413
Preload and Used CSS status request: https://secure.helpscout.net/conversation/2010217975/368693?folderId=3864740

[2022-09-19 09:59] NataliaDrause commented on #2441
Related: https://secure.helpscout.net/conversation/2013336384/369394/
version `3.12.0.5`

[2022-09-19 10:56] vmanthos commented on #5431
**Related ticket:** https://secure.helpscout.net/conversation/2011973090/369100/

[2022-09-19 11:31] vmanthos opened #5445 "URLs excluded from caching are still using the Action Scheduler"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.12.1`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When a URL is excluded from caching, e.g. it has been added to the **Never Cache URL(s)** (Advanced Rules tab) it will not be cached but still be processed by

[2022-09-19 12:43] joejoe04 commented on #5431
Related: https://secure.helpscout.net/conversation/2007118146/368019/

[2022-09-19 13:00] pluspol commented on #4845
@piotrbak Thanks for the update. I can confirm that the empty error messages no longer occur.

[2022-09-19 13:02] piotrbak commented on #4845
@pluspol Thank you for the feedback. I'm going to close the issue, if someone still experiences it, feel free to reopen.

[2022-09-19 13:02] #4845 closed, assigned to nobody

[2022-09-19 13:02] Rahe commented on #4845
It seems that this is not bugging anymore, thank you :)

[2022-09-19 16:08] joejoe04 commented on #5431
Related: https://secure.helpscout.net/conversation/2010617770/368798/

[2022-09-19 18:01] alfonso100 commented on #5431
related: https://secure.helpscout.net/conversation/2000637515/366629/

[2022-09-19 18:58] joejoe04 opened #5446 "Apply LazyLoad to WordPress Comments"
**Is your feature request related to a problem? Please describe.**
Currently, WP Rocket does not apply any kind of LazyLoad to WordPress comments. A user has requested this saying it would be useful for well-trafficked sites with a lot of comments.

**Describe the solution you'd like**
We could consider offering a version of LazyLoad for WordPress comments.

**Describe alternatives you've consider

[2022-09-19 20:55] strategio commented on #5012
Hi @amiremami,

This issue has been fixed in WCML 5.0.0 released in May (now 5.0.2).
I cannot close this ticket (@NataliaDrause should do so now).

@amiremami, could you please create another ticket?

[2022-09-19 20:57] Sh4d0wHunt3rX commented on #5012
Thanks. Ok, the client was using 5.0.2 and the issue was still there. I will create another ticket.

[2022-09-19 21:54] camilamadronero-zz commented on #5394
related https://secure.helpscout.net/conversation/2011691051/369058/

[2022-09-20 05:53] Michaelgimii opened #5448 "Brick builder support"
**Describe the solution you'd like**

Please add brick builder page builder support to wp rocket.

[2022-09-20 06:24] worldwildweb commented on #5266
related: https://secure.helpscout.net/conversation/2000805280/366688/

[2022-09-20 08:11] CrochetFeve0251 commented on #2441
## Reproduce the problem ❌
I wasn't able to reproduce the problem on local.

## Identify the root cause :white_check_mark:
The root cause seems to come from the fact the temp file is not created at [this level](https://github.com/wp-media/wp-rocket/blob/3584bcca26fdee58f81269708218b48dfc9ddad8/inc/classes/Buffer/class-cache.php#L335) or [this one](https://github.com/wp-media/wp-rocket/blob/3584bcc

[2022-09-20 10:09] vmanthos commented on #5431
related: https://secure.helpscout.net/conversation/2012366332/369180

[2022-09-20 10:19] piotrbak opened #5450 "Hide past due actions in Action Scheduler"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Since Action Scheduler 3.5 version, users can see a tab with past-due actions. This doesn't play well with async actions, as the date can not be set and it ends up with fill

[2022-09-20 10:29] piotrbak commented on #5448
Hello @Michaelgimii thanks for creating the issue.

Do you have any specific problems with that builder?

[2022-09-20 10:44] Michaelgimii commented on #5448
Hi @piotrbak
No, I just wanted you to keep that in mind.

[2022-09-20 10:58] piotrbak commented on #5012
Hello @amiremami thanks for your comment. The behaviour you described here:
`Few days ago I was working on a client's site and I noticed, in first load, the wp rocket is not working and when refresh the page, the wp rocket works`

Is expected behaviour when mandatory cookies are used. Please check the following documentation article:
https://docs.wp-rocket.me/article/1313-create-different-cache-fi

[2022-09-20 10:58] #5012 closed, assigned to nobody

[2022-09-20 11:29] piotrbak commented on #5448
@Michaelgimii I checked our support history, we have only one ticket related to Remove Unused CSS feature and we're working on it. Besides that, nothing was reported.

I'm going to close the issue and if we see any problems, we'll create a new one with detailed description. Thank you!

[2022-09-20 11:29] #5448 closed, assigned to nobody

[2022-09-20 12:28] nowarah opened #5455 "PHP Warning: Attempt to read property "id" on bool in /wp-rocket/inc/Engine/Preload/Database/Queries/Cache.php on line 257"
**Before submitting an issue please check that you’ve completed the following steps:**
yes - Made sure you’re on the latest version
yes - Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
A clear and concise description of what the bug is.
----
this warning is fill out my erro_log PHP Warning:  Attempt to read property "id" on bool in /wp-rocket/inc/E

[2022-09-20 12:36] piotrbak commented on #5455
Hello @Noarah thanks for creating the issue. It's already fixed in 3.12.1 version:
https://github.com/wp-media/wp-rocket/issues/5332

However, it's available for 25% of our customers. You'll soon receive the update. I'm going to close the issue, if the problem is still there after the update, please feel free to reopen #5332

[2022-09-20 12:36] #5455 closed, assigned to nobody

[2022-09-20 14:09] twwn opened #5456 "PHP Deprecated: preg_match(): Passing null to parameter #2"
**Describe the bug**
On PHP 8.1 & WP-Rocket 3.12.1, this can still happen:

**To Reproduce**
1. Not known. I was doing customizer stuff at the time, but it only occurred once, which leads me to doubt it was me.

**Expected behavior**
No deprecation warning.

**Additional context**
[preg_match manual](https://www.php.net/manual/en/function.preg-match.php)

**Backlog Grooming (for WP Media dev team

[2022-09-20 14:29] juricazuanovic commented on #5431
Related: https://secure.helpscout.net/conversation/2012869136/369297

[2022-09-20 16:59] camilamadronero-zz commented on #5431
Related https://secure.helpscout.net/conversation/2013379749/369429/

[2022-09-20 18:36] girlie opened #5457 "Add .myraidbox.de to our allowed list of staging environments"
**1) Is your feature request related to a problem? Please describe.**

Raidboxes provides their customers with an option to setup "demo-boxes" for testing (one per customer, lasts 14 days) using `*.myraidbox.de`.

**2) Describe the solution you'd like**

Add this domain to our list of staging domains, e.g., same as the others on this list:
https://docs.wp-rocket.me/article/109-can-i-run-wp-rocket-

[2022-09-20 20:39] camilamadronero-zz commented on #5440
Related https://secure.helpscout.net/conversation/2013558411/369507/

[2022-09-21 06:19] Mingendahl commented on #5457
It's 14 days for the minimum setup (1 core) and 4 days for all others.
After this period of time, the machines get deleted.

[2022-09-21 06:35] CrochetFeve0251 commented on #2068
## Reproduce the problem
The problem was easy to reproduce.
## Identify the root cause
The root cause of the problem is coming from the clearing cache logic.
As we don't want it to clean recursively every files inside the shop folder, we have to precise files.
However at the level of the preload we are saving urls given directly.

## Scope a solution

A quick solution would be to remove `index.htm

[2022-09-21 07:27] NataliaDrause commented on #5387
Related: https://secure.helpscout.net/conversation/2002820685/367101/

[2022-09-21 09:32] NataliaDrause opened #5459 "Minify JS breaks Podigee podcast player"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.12.0.5
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
Minification of the `https://player.podigee-cdn.net/podcast-player/javascripts/podigee-podcast-player.js` breaks the podcast iframe.

Excluding `podigee-pod

[2022-09-21 10:25] #5450 closed, assigned to engahmeds3ed

[2022-09-21 10:25] #5431 closed, assigned to nobody

[2022-09-21 11:33] #5440 closed, assigned to remyperona

[2022-09-21 13:16] Kilbourne opened #5462 "Critical Css Generation service ignores stylesheets with media attribute"
**Describe the bug**
If a page contains a link tag with a media attribute assigned to a media-query (ex. media="(min-width: 1024px)" ), Critical generation service ignores that stylesheet even if it is applicable to viewport.

**Expected behavior**
The stylesheet should be used if applicable to viewport

[2022-09-21 13:55] remyperona opened #5463 "Catch Action Scheduler exceptions"
Action Scheduler functions to enqueue or schedule action can throw exceptions when an error happens. Exceptions are going to create fatal errors on website if not caught. We have seen this happen when the tables were missing for example.

We added guards to recreate the tables when they are missing, but there is other cases where exceptions could be thrown, so we should guard against them wherever

[2022-09-21 13:56] joejoe04 commented on #5431
Related: https://secure.helpscout.net/conversation/2014444588/369651/

[2022-09-21 16:04] NataliaDrause commented on #4362
Related: https://secure.helpscout.net/conversation/2011649144/369044/

[2022-09-22 08:58] aronikakume1211 opened #5465 "JavaScript Execution compatibility with Gravity conditions"
Uncaught ReferenceError: gform is not defined
    at conditional_logic.min.js?ver=2.4.21:1:7400

Not disply gravity form automatically , but while user mouse hover or enter to the page , the form visible

[2022-09-22 12:04] twwn commented on #5375
I'm not sure if this is related: Rather than deadlocks, I'm now getting sporadic out-of-memory errors on 3.12.1.

We've got 256M and this has never happened in 2y+. We don't have many plugins either and all optional ones are disabled.

[2022-09-22 12:10] vmanthos commented on #5394
Related: https://secure.helpscout.net/conversation/2012325277/369162/

[2022-09-22 16:58] joejoe04 commented on #5431
Possibly related: https://secure.helpscout.net/conversation/2015667303/369947/

[2022-09-23 11:42] vmanthos commented on #4792
**Related:** https://secure.helpscout.net/conversation/2015472989/369887/

[2022-09-23 12:30] Mai-Saad opened #5468 "action_scheduler_run_queue_rucss isnot removed after deactivate/delete wpr"
**Before submitting an issue please check that you’ve completed the following steps:**
- Make sure you’re on the latest version => 3.12.1
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
RUCSS-related queue cron is not removed after deactivating/deleting WPR

**To Reproduce**
Steps to reproduce the behavior:
1. Enable RUCSS
2. Deactivate or delete

[2022-09-23 12:39] worldwildweb commented on #5440
related: https://secure.helpscout.net/conversation/2016408467/370146

[2022-09-23 12:57] juricazuanovic commented on #3142
related: https://secure.helpscout.net/conversation/2016371168/370140/

[2022-09-23 15:03] remyperona commented on #5361
I can't replicate the issue either

[2022-09-23 19:30] joejoe04 commented on #5431
Related: https://secure.helpscout.net/conversation/2016931710/370309

[2022-09-23 21:54] camilamadronero-zz commented on #5423
Related https://secure.helpscout.net/conversation/2017147213/370362/

[2022-09-24 22:21] pedddro opened #5470 "Filter to add Delay JS Exec. exceptions on the required page"
**Is your feature request related to a problem? Please describe.**
Since WP Rocket delays all JS by default with Delay JS and many users on Wordpress use different plugins, pages may have different conflicts, and therefore adding it to the UI expectation would not net the max potential as a filter to add delay js exception by page would offer.

**Describe the solution you'd like**
Filter to add De

[2022-09-25 07:13] NataliaDrause commented on #5387
Exclusions are heavily affecting the performance.

Alternatively, it is possible to disable "sticky" menu in Elementor:
![image](https://user-images.githubusercontent.com/60236665/192132433-d7088163-e39d-40cf-b671-deeae8a13fd6.png)
_Full-screen image: https://i.imgur.com/Oow9nr0.png_

This way, only jQuery script would need to be excluded from the Load JavaScript Deferred option. No exclusions wou

[2022-09-25 10:50] mehedihasanziku commented on #5470
WP Rocket provides filter to do this,
Full Guideline: https://docs.wp-rocket.me/article/1645-exclude-js-scripts-from-delay-js-only-at-some-urls

[2022-09-25 17:56] piotrbak commented on #5361
@CrochetFeve0251 @Tabrisrp If the issue is the one described by Cyrille here:
https://github.com/wp-media/wp-rocket/issues/5361#issuecomment-1241928628

We could handle this on the CLI end maybe?

[2022-09-26 07:15] vmanthos commented on #4362
Likely related: https://secure.helpscout.net/conversation/2017744677/370455/

[2022-09-26 08:07] Mai-Saad opened #5471 "Fatal error is generated when custom sitemap filter returns null"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.12.1
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
If the custom sitemap is set to Null for any reason, a fatal error will exist on dashboard

**To Reproduce**
Steps to reproduce the behavior:
1- Install and activa

[2022-09-26 08:42] Mai-Saad commented on #5195
Happening now on 3.12.1 and develop

[2022-09-26 09:46] vmanthos commented on #4376
Related: https://secure.helpscout.net/conversation/2014523790/369690?folderId=2135277
Woodmart theme.

[2022-09-26 10:16] piotrbak commented on #5470
Hello @pedddro thanks for creating the issue.

As @mehedihasanziku mentioned, we don't provide UI field for this, but it's of course, possible. Thank you @mehedihasanziku for your input here 🙏

[2022-09-26 10:16] #5470 closed, assigned to nobody

[2022-09-26 10:27] piotrbak commented on #5465
Hello @mebratukumera thanks for creating the issue. Could you specify steps that are needed to reproduce the issue?

If not, please reach our support and then we'll be happy to investigate the problem.

[2022-09-26 10:31] piotrbak commented on #5394
@wp-media/qa Within the same PR the following issue is fixed:
https://github.com/wp-media/wp-rocket/issues/5445

Please don't forget to include it in the tests. 🙏

[2022-09-26 10:32] piotrbak commented on #5415
Hello @hostingidol thanks for creating the issue. We didn't change anything that could cause that kind of issue. Please reach our Support in order to investigate what has happened to your site. Thank you!

[2022-09-26 10:32] #5415 closed, assigned to nobody

[2022-09-26 11:02] vmanthos commented on #5440
related: https://secure.helpscout.net/conversation/2017851035/370501?folderId=2135277

[2022-09-26 12:38] CrochetFeve0251 commented on #5463
### Scope a solution

All Action Scheduler function are centralized into the [`AbstractASQueue`](https://github.com/wp-media/wp-rocket/blob/develop/inc/Engine/Common/Queue/AbstractASQueue.php) class.
To fix that problem we will have to add the logger into the class as a property so we can use it later to log errors from AS.
Due to that we will have to add the logger as an argument from the followi

[2022-09-26 13:13] piotrbak commented on #5417
Hello @jammy26 thanks for creating the issue.

I wasn't able to reproduce any of the mentioned issues with GeneratePress:
1. Hamburger menu works fine and search icon is present on mobile
2. Search icon works just fine on desktops

Have you tried enabling Separate Cache for Mobile devices already?

If you're still experiencing the issue, please reach our Support Team for further investigation.

[2022-09-26 13:13] #5417 closed, assigned to nobody

[2022-09-26 14:51] camilamadronero-zz opened #5474 "Preconnect is not removed in all cases"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - Yes
- Used the search feature to ensure that the bug hasn’t been reported before - Yes

**Describe the bug**
From 3.8.8, WP Rocket is detecting if there are Google Fonts before adding "preconnect" to a site, [here](https://github.com/wp-media/wp-rocket/issues/3219). How

[2022-09-26 16:53] Nick776 commented on #2441
actually it's just annoying

[2022-09-26 20:30] joejoe04 commented on #5431
Related: https://secure.helpscout.net/conversation/2018336284/370597

[2022-09-26 22:12] camilamadronero-zz commented on #1997
Related request: https://secure.helpscout.net/conversation/2018545345/370625/

[2022-09-26 22:15] camilamadronero-zz commented on #1997
Related https://secure.helpscout.net/conversation/2003655862/367291/

[2022-09-27 09:13] viobru commented on #5431
Related: https://secure.helpscout.net/conversation/2018036796/370549/

[2022-09-27 09:54] FreddyEE commented on #3961
I still have this issue with the lastest version of wp rocket with elementor, how could that be fix ?
![image](https://user-images.githubusercontent.com/114480904/192494895-aa0854ff-e622-440c-9088-a9b4519bf97d.png)

[2022-09-27 10:38] Mai-Saad opened #5477 "PHP Notice: getimagesize(): Read error! when preload with missing image dimensions in certain cases"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.12.1.1
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Read error notice exists in logs, when clear and preload while using invalid CDN

**To Reproduce**
Precondition:
- Fresh install for WPR on mega/divi
Steps to re

[2022-09-27 10:40] Daniel-HBK commented on #4940
Same problem here!

[2022-09-27 10:51] piotrbak commented on #4940
@socialpreneur @AriGolden this issue was resolved in 3.12.1.1, apologies for the troubles.

@Daniel-HBK Which issue are you reffering to? This specific thread is strictly related to `rocket_rucss_pending_jobs_cron` actions inside the pending or complete state in Action Scheduler tables.

[2022-09-27 11:04] Daniel-HBK commented on #4940
@piotrbak I have a diff one but the same flood issue.
rocket_preload_job_preload_url

![image](https://user-images.githubusercontent.com/22178756/192508994-6b0aa513-4f0a-426b-9df3-1681e129079a.png)

![image](https://user-images.githubusercontent.com/22178756/192509230-a90d37c6-df31-43b4-a49a-e7d213e9259a.png)

[2022-09-27 11:17] piotrbak commented on #4940
@Daniel-HBK Updating to 3.12.1.1 will solve the problem. If you still don't have access to it (it's a staggered release), please reach our Support and we'll make it available for you.

[2022-09-27 11:20] CrochetFeve0251 commented on #5401
## Scope a solution
To prevent unnecessary requests we can create a lock system on the preload that would prevent locked rows from  being loaded.

For that we will need:
- To add a new column `is_locked` on the table cache with a `boolean`.
- To create an action `rocket_preload_lock_url` and another `rocket_preload_unlock_url` that will lock or unlock a URL passed in parameter.
- On RUCSS we will

[2022-09-28 03:16] FreddyEE commented on #4648
I had to use this code, because my site had some issues with Elementor after the delay of JS:

`ElementorProFrontendConfig`
`elementorFrontendConfig`
`/jquery-?[0-9.](.*)(.min|.slim|.slim.min)?.js`
`/jquery-migrate(.min)?.js`
`/elementor/`
`/elementor-pro/`

is there any way to exclude the least quantity of URLs ?

[2022-09-28 11:47] Fourmarketing360 opened #5479 "Adding exclusion to Delay JS execution breaks elementor from loading"
**Before submitting an issue please check that you’ve completed the following steps:**
- I'm up to date on updates.
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When adding a exclusion to delay js execution (for cookie banner in my case), elementor menu dropdowns no longer load once user interacts with the webpage.

**To Reproduce**
Steps to re

[2022-09-28 13:51] CrochetFeve0251 commented on #5418
## Reproduce the problem
The issue is easily reproducible.

## Identify the root cause
The root issue is due to the fact the preload has been guarded against query strings.

## Scope a solution

As we don't want to remove the guard for everyone we can implement the solution and activate it using a filter named `rocket_preload_query_string`.

Then we will have to remove guard inside the [Cache clas

[2022-09-29 07:13] vmanthos opened #5481 "PHP Fatal error when Template is used in a parent theme"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.12.1.1`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When the header of a parent theme incorrectly includes a `Template` a PHP Fatal error occurs:
[code]
here:
https://github.com/wp-media/wp-rocket/blob/103abf7

[2022-09-29 08:52] mostafa-hisham commented on #5481
### Scope a solution
Like @vmanthos  said we need to convert null to string so we don't generate the TypeError

we can use to convert null to empty string to avoid the problem
` 'flatsome' === strtolower( $theme->get_template() ?? '' )`

we need to update all files that uses `strtolower( $theme->get_template() ?? '' )` Jevelin, Xstore
### Estimate effort:
Effort `xs`

[2022-09-29 08:58] engahmeds3ed opened #5482 "Duplication in preload DB table when sitemap contains query strings"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version **Yes**
- Used the search feature to ensure that the bug hasn’t been reported before **Yes**

**Describe the bug**
If the sitemap contains urls with query strings, for example: https://example.org/?post_type=test&id=5 we save this url into the database without query strin

[2022-09-29 09:11] worldwildweb commented on #5482
related: https://secure.helpscout.net/conversation/2014343438/369630

[2022-09-29 09:28] viobru commented on #4372
Related: https://secure.helpscout.net/conversation/2021196231/371234/

[2022-09-29 10:13] vmanthos opened #5484 "JavaScript minification breaks Prism.js when that's served from a CDN"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅`3.12.1.1`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When [Prism.js](https://prismjs.com/index.html) is loaded from a CDN and JavaScript minification is enabled, storing the files locally breaks the script and t

[2022-09-29 10:29] vmanthos opened #5486 "Advanced Ads Pro PHP placement positioning prevents optimizations from being applied"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅`3.12.1.1`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

No optimizations are applied when the "Placement positioning" (Advanced Ads > settings > Pro) is set to "Before page load using PHP."

With that option, WP Ro

[2022-09-29 11:21] twwn opened #5487 "VAT missing in cached WooCommerce mobile product pages"
**Describe the bug**
Every other day cached WooCommerce mobile product pages will omit our VAT (Germany: 19%). Our prices are entered with VAT included on the backend, so something must have triggered WooCommerce to subtract it out.

Desktop pages are unaffected.

There are no errors/warning message whatsoever. The only thing that is any indication is that the problem temporarily ceases when I cle

[2022-09-29 11:42] piotrbak commented on #5487
Hello @twwn this sounds like a problem with configuration, rather than a bug in the code. WP Rocket caches what was displayed on the screen or what was preloaded. If you allow prices without VAT being displayed (for people outside the EU, etc.), it's possible that WP Rocket cached it and shown for all customers afterward. For that kind of cases we usually suggest using ajax to dynamically update t

[2022-09-29 11:42] #5487 closed, assigned to nobody

[2022-09-29 11:52] piotrbak commented on #4988
Blocking the issue till we have an answer here:
https://github.com/wp-media/delay-javascript-loading/pull/32#issuecomment-1260857280

[2022-09-29 11:54] piotrbak commented on #5361
@Tabrisrp What do you think about handling it inside the WP Rocket CLI itself? 🤔

[2022-09-29 13:16] joejoe04 commented on #3142
Related: https://secure.helpscout.net/conversation/2015657841/369944/

[2022-09-30 10:08] vmanthos commented on #5423
Related: https://secure.helpscout.net/conversation/2022286927/371469?folderId=2135277

[2022-09-30 11:17] vmanthos commented on #5445
Related: https://secure.helpscout.net/conversation/2022334719/371503/

[2022-09-30 13:49] joejoe04 commented on #5394
Related: https://secure.helpscout.net/conversation/2022394131/371525/

[2022-09-30 20:55] alfonso100 opened #5489 "Detect Action Scheduler tables integrity, for example "autoincrement" for id columns"
**Before submitting an issue please check that you’ve completed the following steps:**
yes - Made sure you’re on the latest version
yes - Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
If AS tables don't have the `autoincrement` value in the respective id fields, it will trigger errors when trying to activate WP Rocket.

`
Fatal error: Uncaught Run

[2022-10-01 12:01] kulterryan opened #5490 "Duplicate queries detected in WP Rocket"
**Describe the bug**
After updating the plugin to v3.12.1.1, there's an issue with the Duplicate query in the Action Scheduler.
**To Reproduce**
Steps to reproduce the behavior:
The issue can be easily detected using Query Monitor.

**Screenshots**
![image](https://user-images.githubusercontent.com/36154235/193408610-bdf9ca9f-4b91-4e96-997d-82a8fe01044f.png)

[2022-10-02 18:54] piotrbak commented on #5489
@wp-media/php What do you think about this one?

[2022-10-03 07:18] engahmeds3ed commented on #5489
This isn't a common case and isn't related directly to WP Rocket, I'd say we can create GH issue in Action Scheduler's repository and we can discuss there to see what is the root cause behind such thing.
What do u think?

[2022-10-03 07:25] vmanthos opened #5492 "PHP Warning: Undefined array key "host" in /wp-rocket/inc/Engine/Optimization/AssetsLocalCache.php"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅`3.12.1.1`
- Used the search feature to ensure that the bug hasn’t been reported before check

**Describe the bug**

A customer reported the following PHP warning:
[code]

This is coming from here:
https://github.com/wp-media/wp-rocket/blob/ba69c9365ac25fe9eb3c09d6910799

[2022-10-03 08:30] NataliaDrause commented on #5413
Preload status request: https://secure.helpscout.net/conversation/2024358554/371929?folderId=3864740

[2022-10-03 09:43] CrochetFeve0251 commented on #5482
@engahmeds3ed we suppose to have a check on the db before adding the URL at this line: https://github.com/wp-media/wp-rocket/blob/103abf7be9d8acd6ea3abae742b533bfd9cd4c32/inc/Engine/Preload/Database/Queries/Cache.php#L188
Maybe there is an issue on the check from the database (maybe another issue from the cache?).

[2022-10-03 09:59] mostafa-hisham commented on #4035
## Reproduce the problem :white_check_mark:
on local.

## Identify the root cause :white_check_mark:
After some digging with help of @engahmeds3ed
the `purge_post_terms_urls` function was not clearing pagination cache

## Scope a solution :white_check_mark:
we need to pass true as the second parameter to clear the pagination cache
https://github.com/wp-media/wp-rocket/blob/c53d551c38788c3ac1e171cf

[2022-10-03 10:38] piotrbak commented on #5489
@engahmeds3ed Yes, that sounds good. We'll keep this issue open to collect cases though.

[2022-10-03 11:44] vmanthos commented on #5418
Related: https://secure.helpscout.net/conversation/2023325526/371698?folderId=2135277

[2022-10-03 13:12] piotrbak opened #5493 "Refactor Delay JavaScript feature"
In 3.13 version of the plugin we'll update the way how Delay JavaScript feature is displayed in the dashboard and how the exclusions are being handled.

We'll use backend to provide 3rd-party exclusions.

All the details are described and discussed here:
https://docs.google.com/document/d/1UbYybn-SaRjhqPz2qwZpwJlOglfUTAuRHlLNQcCGkAM/edit?usp=sharing

[2022-10-03 13:52] NataliaDrause commented on #2287
Possibly related: https://secure.helpscout.net/conversation/2024580575/372051/

[2022-10-03 14:52] NataliaDrause commented on #5387
Related: https://secure.helpscout.net/conversation/2014721817/369753?folderId=3864740

[2022-10-03 15:27] CrochetFeve0251 commented on #5482
@engahmeds3ed I found the issue and it is in our code.
I will publish the grooming and fix the issue as it will be XS one.

[2022-10-03 15:39] CrochetFeve0251 commented on #5482
## Reproduce the problem
Reproduced it successfully.

## Identify the root cause
The root cause is due to the fact on [this line ](https://github.com/wp-media/wp-rocket/blob/103abf7be9d8acd6ea3abae742b533bfd9cd4c32/inc/Engine/Preload/Database/Queries/Cache.php#L190) we need to use the variable `$url` to apply previous operations on the url.
## Scope a solution
On [this line ](https://github.com/wp

[2022-10-03 16:18] camilamadronero-zz commented on #1511
Related https://secure.helpscout.net/conversation/2015904468/370037/

[2022-10-04 10:42] viobru commented on #2153
Related: https://secure.helpscout.net/conversation/2021206825/371239
In this case, the customer tried deactivating WP Rocket to troubleshoot another issue and the site crashed.

[2022-10-05 09:27] #5149 closed, assigned to jeawhanlee

[2022-10-05 09:30] #5457 closed, assigned to remyperona

[2022-10-05 09:34] #5412 closed, assigned to jeawhanlee

[2022-10-05 09:35] #5423 closed, assigned to jeawhanlee

[2022-10-05 09:38] #5382 closed, assigned to CrochetFeve0251

[2022-10-05 09:53] LarsKerff opened #5495 "Don't serve cache for specific users"
I want to be able to bypass the cache to be served for specific users.
We have paid content on our website which we would like to be crawled by Google. This content is only visible for a google bot (or logged in user). I've tried the following, inspired by https://github.com/wp-media/wp-rocket-helpers/blob/master/cache/wp-rocket-no-cache-for-admins/wp-rocket-no-cache-for-admins.php

[code]

The co

[2022-10-05 13:15] joejoe04 commented on #1636
Related: https://secure.helpscout.net/conversation/2027765287/372701/

[2022-10-05 18:32] alfonso100 commented on #5366
Another case here:
https://secure.helpscout.net/conversation/2029244386/373087/

plugin: https://wordpress.org/plugins/wp-simple-firewall/

[2022-10-05 19:28] webtrainingwheels commented on #5445
https://secure.helpscout.net/conversation/2027787640/372714?folderId=377611

[2022-10-06 05:46] worldwildweb opened #5496 "DJE issue: type="rocketlazyloadscript" is added to the code highlighter"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ 3.12.1.1
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**
When a code highlighter is on the page and DJE enabled, JS code within the code highlighter will be modified by DJE.
`<script>` will become `<script type="rocke

[2022-10-06 09:29] mifrero commented on #5418
Related: https://secure.helpscout.net/conversation/2028936698/372958/

[2022-10-06 09:39] vmanthos opened #5497 "3CX Free Live Chat breaks with Minify JavaScript files"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.12.1.1`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

The [3CX Free Live Chat](https://wordpress.org/plugins/wp-live-chat-support/) plugin breaks when the **Minify JavaScript files** feature is enabled with the