[2022-01-25 12:23] swissspidy commented on #3879
On which priority are you hooking into the `wp` action? The Web Stories plugin defines the `is_amp_endpoint` function on priority 10. So it might be that your code is also running on 10, but _before_ the WS one. That can happen if one plugin is initialized before the other.

Does `'wp'                         => [ 'disable_options_on_amp', 20 ]` fix the issue?

[2022-01-25 12:38] piotrbak commented on #3879
Didn't work, unfortunately. Let's wait for @Tabrisrp opinion then...

[2022-01-25 13:49] 79ho3ein commented on #4678
+1
This is really needed.

[2022-01-25 14:28] remyperona commented on #4395
The translation update was not merged to develop yet

[2022-01-25 15:25] NataliaDrause commented on #4072
Related: https://secure.helpscout.net/conversation/1767312069/321368/

[2022-01-25 15:53] remyperona commented on #3879
We're hooked on the default priority 10 too, so increasing our priority should do the trick

[2022-01-25 15:58] alfonso100 commented on #4681
I have directly contacted the plugin developers about this. We will publish an update as soon as we can work on the issue.

[2022-01-25 16:07] swissspidy commented on #3879
Testing with 3.10.6, I can definitely see increasing/decreasing the priority making a difference.

[2022-01-25 16:51] remyperona commented on #3879
@swissspidy Which priority value did you use?

[2022-01-25 16:56] swissspidy commented on #3879
Changing to 5 -> `function_exists( 'is_amp_endpoint' )` returns `false`
Changing to 10 -> result not certain, depends on load order, etc.
Changing to 20 -> `function_exists( 'is_amp_endpoint' )` returns `true`

So 20 should always do the trick, since the Web Stories plugin uses 10.

[2022-01-25 17:33] novelnet commented on #4681
Hi there!
Thanks for contacting me, I'm the Dev at https://leadmarkt.ch.
The lead generator is embedded as an iFrame, for the responsibility we depend on a JS library, unfortunately.
It seems the initialization function initLeadGenIframe() at the iFrame onLoad event gets called before the whole script is loaded.
When initializing initLeadGenIframe() over the dev console manually, it works as test.

[2022-01-25 18:09] remyperona commented on #3879
I pushed that change to the `develop` branch @Mai-Saad

[2022-01-25 18:59] NataliaDrause commented on #4105
Related: https://secure.helpscout.net/conversation/1767587006/321585/

It is causing conflict with conflict with **Simple Schedule Appointments** plugin and fatal error due to different versions of Monolog are used:

`Fatal error: Declaration of Monolog\Handler\StreamHandler::write(array $record) must be compatible with Monolog\Handler\AbstractProcessingHandler::write(array $record): void in /srv/

[2022-01-25 20:38] remyperona commented on #4395
It's merged now 👍🏼

[2022-01-25 21:39] camilamadronero-zz commented on #3142
New ticket: https://secure.helpscout.net/conversation/1765823739/320992/

[2022-01-25 21:39] mediacerebri opened #4686 "Fatal Error Wp Rocket"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
A clear and concise description of what the bug is.

Fatal Error in php, my website is down, error 503

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'upload pl

[2022-01-25 21:40] mediacerebri commented on #4686
I'm using openlitespeed server

[2022-01-25 22:46] piotrbak commented on #4686
Hello @mediacerebri thank you for creating this issue. Could you reach our Support Team, so we'll be able to verify and investigate the problem?
https://wp-rocket.me/support/

[2022-01-26 01:22] cooltronicpl opened #4687 "Compatibility with GIFs and WP Bakery Builder"
The images added as a background image in WP Bakery on the potacki.com website are not lazy-loaded.
Add GIF support to Lazy Load with Webp Support of these files.
Many styles from WP Bakery tag <style> added to a webpage also are not loaded with an option, are old option to add a Critical CSS generated from websites is possible, because now on potacki.com site I'm using Autoptimize to insert Criti

[2022-01-26 08:45] Mai-Saad commented on #4395
@Tabrisrp CDN msg is fine now for Português do Brasil.
But can see the message mixed English/Italiano or English/Espanol while Italiano and Espanol Language.=> Do we need another GH issue for that? (for Espanol, we have extra inverted `?` for need help link as well)
![Screenshot from 2022-01-26 10-34-27](https://user-images.githubusercontent.com/76941962/151130586-7db9485c-0409-4382-8749-bc5ac647e

[2022-01-26 09:33] Mai-Saad commented on #3879
@Tabrisrp The problem still exists in develop branch (our optimizations are still applied). can you please check?

[2022-01-26 10:05] DahmaniAdame commented on #3960
Related - https://secure.helpscout.net/conversation/1736871992/315893/
Tables were not created because of a faulty `DB_CHARSET` and `DB_COLLATE` combo.
No information was relayed to the user.

[2022-01-26 10:05] engahmeds3ed commented on #3879
I tried changing the action to `init` and it works but we need to bailout here when `is_admin` not to affect the real admin options of WPR:

https://github.com/wp-media/wp-rocket/blob/52aeacd03267b82f1a1f3b9b35581fcd55ccf4af/inc/ThirdParty/Plugins/Optimization/AMP.php#L112

[2022-01-26 11:18] piotrbak commented on #4687
Hello @cooltronicpl we use GitHub to collect confirmed bugs in a specific template that you could see while creating the issue. This template helps us with reproducing the issue and finding the root cause.

You mentioned three different issues, please contact our Support Team to see which of them can be resolved without any changes to the core and which ones need a patch.

[2022-01-26 11:18] #4687 closed, assigned to nobody

[2022-01-26 14:18] remyperona commented on #4395
No we don't need to additional GH issues for that, those will be updated in Transifex when a translator is available.

[2022-01-26 14:51] camilamadronero-zz commented on #3938
new request https://secure.helpscout.net/conversation/1767650605/321623/

[2022-01-26 14:59] remyperona commented on #3879
`function_exists( 'is_amp_endpoint' )` returns true when using the priority 20, but the function itself `is_amp_endpoint()` is returning `false` when on a web story page on version 1.16

[2022-01-26 15:56] swissspidy commented on #3879
That sounds odd 🤔

For reference, the Web Stories plugin does [basically this](https://github.com/GoogleForCreators/web-stories-wp/blob/51497f589eff096ed1da69da617d6975058a97ec/includes/compat/amp.php#L29-L44):

[code]

This code hasn't changed in quite a while, and definitely hasn't changed in 1.16.0

And in my quick testing (using prio 20, adding some `var_dump()` in `disable_options_on_amp()`)

[2022-01-26 15:58] #4395 closed, assigned to remyperona

[2022-01-26 16:32] Mai-Saad opened #4688 "Fusion slider for Avada theme not displayed while Delay JS is enabled even after user interaction"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Slider is not displayed even with user interaction while Delay JS is enabled

**To Reproduce**
Steps to reproduce the behavior:
1. Enable Delay JS
2. Open the home page cont

[2022-01-27 06:45] vmanthos opened #4690 "Terms pages are not preloaded after updating posts"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅`3.10.6`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When a post is updated, we clear the respective terms/date archive pages here:
https://github.com/wp-media/wp-rocket/blob/7b62ef5111c97c30888f7e6daa2ba2f920dabc

[2022-01-27 10:35] DahmaniAdame commented on #4072
Likely related - https://secure.helpscout.net/conversation/1768504551/321902/

[2022-01-27 11:13] thegulshankumar commented on #2877
With Version 3.10.5.1, AMP validation fails for /web-stories/ page

Search Console says 'HTML Event attributes, aka 'on*', are not allowed in AMP. Instead use 'amp-bind'.'

Not related: We also need to disable Lazy Rocket Loader for /web-stories/ as custom JS is not allowed.

[2022-01-27 11:15] piotrbak commented on #2877
The problem is described here, we're in talkis with Web Stories developer:
https://github.com/wp-media/wp-rocket/issues/3879

[2022-01-27 17:36] remyperona commented on #3879
@swissspidy What happens when both the Web Stories and the AMP plugins are enabled at the same time?

I'm guessing AMP is not checking for `is_singular( 'web-story' )`, so if it registers `is_amp_endpoint()` first, this might explain the issue we were seeing.

Are those plugins supposed to be used together, or are they exclusive?

[2022-01-27 19:12] swissspidy commented on #3879
Sounds like you have been testing this with both plugins active?

They _can_ be used together, but don't _have to_.

If both are active, the Web Stories plugin [tricks the AMP plugin into](https://github.com/GoogleForCreators/web-stories-wp/blob/176f93a9933db3024438d1c835401255ea65c9a1/includes/Integrations/AMP.php#L122-L141) making sure `is_amp_endpoint()` returns `true` when viewing a story.

An

[2022-01-27 20:16] alfonso100 commented on #2440
related: https://secure.helpscout.net/conversation/1713358945/311851/
this customer is using [WP GraphQL](https://www.wpgraphql.com/) but the endpoint URLs were too long

[2022-01-27 21:36] westonruter commented on #3879
I'm not aware of any compat issues.

[2022-01-27 23:34] swissspidy commented on #3879
Just updated to 3.10.7 for testing and still don't see any issues. The `is_amp_endpoint()` check in `disable_options_on_amp()` returns `true` when viewing a single story, even when the AMP plugin is active.

[2022-01-28 01:04] webtrainingwheels commented on #4690
Related: https://secure.helpscout.net/conversation/1754057435/318712?folderId=377611

[2022-01-28 22:23] westonruter commented on #4638
OK, we've merged the improved page caching test: https://github.com/ampproject/amp-wp/pull/6849.

See the various test scenarios here: https://github.com/ampproject/amp-wp/pull/6849#issuecomment-1023762369

[2022-01-29 07:39] DahmaniAdame opened #4696 "Delay JavaScript Execution compatibility with WP iCal Availability"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.10.7`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When DJE is enabled and `jquery` is excluded, WP iCal Availability will return the follow errors:

[code]

Excluding the following from DJE fixes the issue:

[2022-01-30 14:51] KinG-InFeT commented on #4638
yes, now Site Health not return the error for cache 👍

[2022-01-31 11:01] piotrbak commented on #4638
Thank you @westonruter, it looks great!

[2022-01-31 11:01] #4638 closed, assigned to nobody

[2022-01-31 11:05] piotrbak commented on #4679
Hello @Michaelgimii thnak you for creating the issue. We're prepared to switch to native lazy load when it's needed, you can even do it with the filter any time:
https://github.com/wp-media/wp-rocket/blob/f48cb29346ab9a4f42c39d01f14e024b9a31086a/inc/Engine/Media/Lazyload/Subscriber.php#L161

For now, we made performance tests and JS library gives better results.

[2022-01-31 11:05] #4679 closed, assigned to nobody

[2022-01-31 13:24] vmanthos commented on #4072
Likely related: https://secure.helpscout.net/conversation/1765543580/320956/

[2022-01-31 15:09] piotrbak commented on #4439
@Tabrisrp I've scanned our HelpScout to see how and if our customers are using this option.

Let's remove the feature and deprecate the function, just to make sure that we won't cause any fatal errors.

[2022-02-01 08:53] DahmaniAdame commented on #4199
Related - https://secure.helpscout.net/conversation/1770086284/322313/

The file kept on this case are the following:
[code]
This leads to showing the wrong fonts and sizes.

[2022-02-01 11:29] DahmaniAdame opened #4698 "Add a select dropdown on the "Account" page to pick the version of WP Rocket to download"
**Is your feature request related to a problem? Please describe.**
Only the latest version of WP Rocket is available for download.

Some customers might need other versions for testing or by preference.

The only way for them to do that is:
- through `rollback` for major versions
- using `define( 'WP_ROCKET_LASTVERSION', '3.x.x' );` if they want a specific version to use
- asking support to lock t

[2022-02-01 12:49] DahmaniAdame opened #4699 "Delay JavaScript Execution compatibility with the Essential Add-on registration form"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.10.7`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When the [Essential Add-on](https://essential-addons.com/elementor/login-register-form) registration form is used as a modal, half of the form is cut when D

[2022-02-01 12:58] piotrbak commented on #4699
@DahmaniAdame Is there any way to have a more specific exclusion?

I'm thinking that some files from `/essential-addons-elementor/(.*).js` might be jQuery dependent. It could cause some issues in other scenarios

[2022-02-01 13:04] DahmaniAdame commented on #4699
@piotrbak it's actually one file but since it's dynamic, we need to exclude the above pattern.
Example:
[code]

[2022-02-01 13:22] godlesowned opened #4700 "Remove unused CSS break Elementor Pro popups"
Popups not working when Remove Unused CSS with Elementor Pro Popups.

Steps to reproduce the behavior:
1. Install Elementor Pro and create Popup
2. Create page with button and add action to button to load popup
3. Remove unused CSS
4. See error

/*edit*/
Added this to exclusion and work.

.dialog-widget
#elementor-popup-modal-[YourPopupPostID]
.dialog-type-lightbox
.body.admin-bar
.dialog-lightbox

[2022-02-01 13:42] DahmaniAdame commented on #4699
Updated to `/uploads/essential-addons-elementor/(.*).min.js` to be more accurate.

[2022-02-01 14:01] #3292 closed

[2022-02-01 14:01] #3395 closed

[2022-02-01 15:41] #2950 closed

[2022-02-01 15:59] Mai-Saad opened #4701 "Console Errors for logged-in user when Combine js is enabled while Elementor plugin is active"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.10.7
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Console error displayed for the logged-in user when combine js and user cache are enabled while Elementor is active

**To Reproduce**
- Elementor is enabled
- User

[2022-02-01 19:23] #4656 closed, assigned to vmanthos

[2022-02-01 20:51] remyperona commented on #4640
Closing this as we are removing the OPCache purge feature.

[2022-02-01 20:51] #4640 closed, assigned to remyperona

[2022-02-02 06:49] vmanthos commented on #4062
Despite Cookiebot adding the exclusions on their side, these aren't really applied.

This is because the following conditional isn't met:
https://github.com/CybotAS/CookiebotWP/blob/befb56c106f642d688794ac3e5fc2e3a06be9f19/src/lib/WP_Rocket_Helper.php#L8-L10

Changing it to `if ( function_exists( 'rocket_clean_domain' ) )` doesn't change anything.

@piotrbak We need to decide whether we'll reach o

[2022-02-02 11:31] piotrbak commented on #4062
@vmanthos we should handle that on our side. Depending on others doesn't seem to be the best way out.

[2022-02-02 12:39] piotrbak commented on #4557
@mostafa-hisham it's inside the `In Progress` column, should I move it back to the `To do`?

[2022-02-02 12:44] DahmaniAdame opened #4703 "Emoji optimization and WordPress 5.9 compatibility"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.10.7`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
After upgrading to 5.9 and trying to use the `wp` function, a console error shows up.

The issue seems to be related to our Emoji optimization and 5.9.

All

[2022-02-02 13:01] piotrbak commented on #4703
@DahmaniAdame if you see any way to reproduce it using the live elements/blocks, etc. instead of calling `wp` manually, it would be great.

[2022-02-02 13:03] mostafa-hisham commented on #4557
@piotrbak
@engahmeds3ed removed the minification from the plugin side
this should fix the issue
please check it

[2022-02-02 13:14] DahmaniAdame commented on #4703
It only happens when the `wp` is called. So, I guess we need a scenario where something calls it.

I will try to find a way and update the ticket if I do.

[2022-02-02 13:21] 79ho3ein commented on #4439
+1

[2022-02-02 13:24] 79ho3ein commented on #4586
+1

[2022-02-02 14:08] #3520 closed, assigned to remyperona

[2022-02-02 14:36] piotrbak commented on #4557
@mostafa-hisham It's good, thank you!

[2022-02-02 15:10] camilamadronero commented on #4703
I have a `wp is not defined` case here: https://secure.helpscout.net/conversation/1775791636/323565/ - WordPress 5.9.

[2022-02-02 16:09] Michaelgimii opened #4704 "Ability to clear the database from empty and useless tables"
**Is your feature request related to a problem? Please describe.**

The problem is that some plugins add tables to the database after installation. But when we delete the plugin, their tables still remain in the database. Rarely does this increase the size of the database.

**Describe the solution you'd like**

Please add a new feature to the database configuration so that we can use it to complet

[2022-02-02 17:25] camilamadronero-zz commented on #4161
Related: https://secure.helpscout.net/conversation/1773463050/323020/

[2022-02-03 08:46] NielsVornholt commented on #4072
Any progress with this issue yet or any estimation on when this will be improved/solved?
We also suffer big time from this. `rocket_rucss_warmup_resource_fetcher` constantly destroys our production stacks due to 100% CPU consumption. In combination with `rocket_saas_warmup` it hits even worse. Very annoying.

![image](https://user-images.githubusercontent.com/98944558/152311282-bd2b4688-92d5-49aa-

[2022-02-03 09:36] DahmaniAdame opened #4706 "Defer and minify JS compatibility with Typekit"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When using the Typekit fonts with Defer JS, fonts are not rendered properly on Safari mobile. But they work fine on Desktop on Safari, and on both Desktop and Mobile

[2022-02-03 13:19] vmanthos commented on #4538
**Related ticket:** https://secure.helpscout.net/conversation/1774220074/323148?folderId=2135277

This was again an issue coming from Elementor's files.

[2022-02-03 17:09] juricazuanovic commented on #4400
Related: https://secure.helpscout.net/conversation/1776653215/323862/

[2022-02-03 17:41] mehedihasanziku commented on #4403
I don't understand how inline css can do this ( #4683 ) . anyways i noticed changing `'timeout' => 5, ` value to higher like 15/20 or more higher, inserting css properly, so if server respond slow and rucss will not generate not even requeued that page till clear again.

So, i feel that, this timeout thing should be guarded with filter like [Preload Intervals](https://github.com/wp-media/wp-rocket

[2022-02-03 19:23] #2852 closed

[2022-02-03 20:37] alfonso100 opened #4707 "Compatibility with Bigscoots"
**Is your feature request related to a problem? Please describe.**
Bigscoots is working towards compatibility with WP Rocket. I am opening this feature request so we can cooperate with their devs to achieve this.
More details here: https://secure.helpscout.net/conversation/1766407024/321141?folderId=2683093

**Describe the solution you'd like**
- Deactivate WP Rocket's page caching in favor of the

[2022-02-04 07:18] vmanthos opened #4708 "Delay JS - WP Smart Preloader breaks the GTMetrix/PageSpeed Insights tests"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅`3.7.10`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When:
1. The [WP Smart Preloader](https://wordpress.org/plugins/wp-smart-preloader/) is installed and a preloader is applied. - 10,000+ active installations
2.

[2022-02-04 12:50] DahmaniAdame commented on #4703
@piotrbak Did some digging.

The difference between loading `5.8.3` and `5.9` is that `5.9` is no longer loading the `/wp-includes/js/wp-embed.min.js` by default.

That's why testing `wp` on `5.8.3` worked while it returned a dependency error when used with `5.9`.

Disabling the Emoji Optimization just added the dependency for `wp` to return without any errors.

This is a `wontfix` since there is

[2022-02-04 14:17] #3617 closed, assigned to remyperona

[2022-02-04 15:27] Michaelgimii opened #4709 "wp-rocket is not compatible with elementor custom code ."
**Is your feature request related to a problem? Please describe.**

If you disable the "Combine JS" option, an error will be displayed in the browser console. This error occurs when we enter a custom code in the custom code elemento. https://prnt.sc/26opr2p
For example, on my website, in the elementor custom code section, I wrote JavaScript code. That error was displayed. I do not know exactly why

[2022-02-04 23:39] 79ho3ein commented on #4701
I have this problem too. Please solve this problem.

[2022-02-04 23:40] #4709 closed, assigned to nobody

[2022-02-04 23:44] Michaelgimii commented on #4701
+1
Please fix this in the new version.

[2022-02-05 07:38] DahmaniAdame opened #4710 "RUCSS compatibility with ​CloudFlare Server Push"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.10.7`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When using the CloudFlare plugin and enabling Server Push using the following constant, CloudFlare will add all resources with the `rel=preload` hint on the

[2022-02-07 09:05] Mai-Saad opened #4711 "Preload links isnot working properly for logged in users while user cache is disabled"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.10.7
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Preload Links is sending requests on hover for logged in users + add prefetch in the header also cache for logged in users is disabled

**To Reproduce**
- Cache fo

[2022-02-07 09:07] vmanthos commented on #4161
Related: https://secure.helpscout.net/conversation/1779729235/324496?folderId=273766

[2022-02-07 13:37] piotrbak commented on #4701
Excluding the following script from Combine JS solved the issue for me:
`/wp-includes/js/dist/hooks.min.js`

[2022-02-07 14:20] #4492 closed, assigned to vmanthos

[2022-02-07 16:02] alfonso100 commented on #4639
related: https://secure.helpscout.net/conversation/1775567482/323492/

[2022-02-07 16:40] NataliaDrause commented on #2441
related: https://secure.helpscout.net/conversation/1779894562/324519?folderId=3864740

[2022-02-07 16:47] ecotechie commented on #4042
Having the same issue with sites using CodeGuard as a backup. This is what they've reported:

"It's getting MySQL error 1412. This error means that columns or indexes on a particular table (in this case, the table is wp_snl_wpr_rucss_used_css) are being changed while CodeGuard is trying to back it up. Typically, a table's definitions are set when it is created and then rarely change after that. Ho

[2022-02-07 16:57] ecotechie commented on #4161
Same as others here. I find this feature unusable since it makes the database size grow astronomically. Patiently awaiting a fix, till then asynchronous loading it is.

[2022-02-07 17:02] girlie opened #4712 "Offer an option to determine whether to load the Combined CSS file early or late"
Customer had excluded some files (used for above the fold content) from Combine CSS, leaving only "less important" files to be included in the combined CSS file, and thus, wanted that file to load _after_ all the excluded files.

To achieve this, they modified the code in `/wp-rocket/inc/Engine/Optimization/Minify/CSS/Combine.php:279`:

FROM: `return preg_replace( '/<\/title>/i',`
TO: `return preg

[2022-02-07 19:28] G00golplex commented on #4161
Same here, Identical issue. The site crashed because the maximum site of the database has been reached. is there really no fix for this?

[2022-02-07 20:35] #4439 closed, assigned to remyperona

[2022-02-08 10:26] WordPresseur opened #4714 "RocketCDN - Improve "RocketCDN is not available" message in CTA"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ☑️
- Used the search feature to ensure that the bug hasn’t been reported before ☑️

**Describe the bug**
Like this one [https://github.com/wp-media/rocketcdn-plugin/issues/12](https://github.com/wp-media/rocketcdn-plugin/issues/12), this message is not enough when it’s th

[2022-02-08 10:44] vmanthos commented on #1511
Related ticket: https://secure.helpscout.net/conversation/1780475154/324697?folderId=2135277

[2022-02-08 16:50] #3727 closed, assigned to remyperona

[2022-02-08 18:20] iCaspar commented on #3879
I'm also not able to reproduce the `false` response locally given the hook on priority 20.
On a desktop browser, it returns false -- but that presumably wouldn't be an amp enabled page, so I expect false in that environment.
On a mobile, however, it returns true for me.
The below shows my var_dump on mobile with AMP in Transitional mode (last item is for `is_amp_endpoint()` result in the Rocket co

[2022-02-08 18:51] #4244 closed, assigned to remyperona

[2022-02-09 04:43] DahmaniAdame commented on #4454
Another one: Kadence theme

Uses dynamic classes for containers:
[code]
Ticket - https://secure.helpscout.net/conversation/1770437176/322376

[2022-02-09 07:19] vmanthos commented on #4072
**Related ticket:** https://secure.helpscout.net/conversation/1781707430/324918/

This was on WPX.

[2022-02-09 09:18] NataliaDrause commented on #4366
@piotrbak
there are new errors that popped up with Uncode and our Combine JS.

When no exclusions are added and only **Minify JS** and **Combine JS** are enabled, we get these errors:
![image](https://user-images.githubusercontent.com/60236665/153162745-9a7d2038-9279-40ef-87e4-e05063845e93.png)
_full-screen image: https://i.imgur.com/n5vsMyt.png_

We automatically exclude some Uncode files [here](

[2022-02-09 10:01] warudin opened #4716 "Critical CSS generation process is overloading server"
I observed some problems with a new site we released recently. When we updated the theme (using GitHub Updater), the server got overloaded. At first I thought the problem was caused by GitHub Updater, but after investigating some more, it was clear to me that WP Rocket is causing the problem.

Our themes contain a hook to clean up and regenerate WP Rocket caches (Minified files, Page preloading, C

[2022-02-09 12:17] WordPresseur opened #4717 "Update Kinsta Compatibility"
Kinsta no longer use KeyCDN and they have updated their MU Plugin to remove the `\Kinsta\CDN_Enabler` class.
That is causing the following notice to always show for users due to the logic in this file https://github.com/wp-media/wp-rocket/blob/develop/inc/3rd-party/hosting/kinsta.php :

This could also causes WP Rocket to no longer clear the Kinsta cache.

**Additional context**
HS Ticket from Kin

[2022-02-09 12:30] viobru commented on #4717
Related ticket (Kinsta cache not synced with WP Rocket): https://secure.helpscout.net/conversation/1779812094/324509/

[2022-02-09 14:27] #4586 closed, assigned to remyperona

[2022-02-09 15:06] NataliaDrause commented on #4072
related: https://secure.helpscout.net/conversation/1780007440/324554?folderId=3864740

[2022-02-09 16:32] 79ho3ein opened #4718 "Error activating Load java script deferred"
**Describe the bug**
If we disable the two options minify css & minify js, then enable the Load java script deferred option, the browser console error will be displayed.
In fact, Rocket's suggestion is not to enable these two options.

elementor is installed.

[2022-02-09 16:54] piotrbak commented on #4718
Hello @79ho3ein please reach our Support Team https://wp-rocket.me/support/. They will help you and we'll fix the issue in the core if that's needed.

[2022-02-09 16:54] #4718 closed, assigned to nobody

[2022-02-09 17:14] alexstine commented on #4717
@WordPresseur I opened this PR: https://github.com/wp-media/wp-rocket/pull/4719

No idea if it works or not, cannot figure out how to build the plugin locally in to a production version that I can test on a Kinsta site. Can you provide build instructions?

Thanks.

[2022-02-09 17:26] piotrbak commented on #4717
@Tabrisrp could you take a look at the PR?

@alexstine you'd need to:
- clone repository using `git`
- install dependencies using `composer install --no-dev --no-scripts -o`
- define constants in the `wp-config`. `WP_ROCKET_EMAIL` which is the email for your WP Rocket account and `WP_ROCKET_KEY` which is your API Key. Both of them can be found in the downloaded zip file of WP Rocket in the `licens

[2022-02-09 18:00] NataliaDrause opened #4720 "Minify JS breaks embeds from snapppt.com by Sauce platform"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.10.6
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
Minify JS breaks embeds from `snapppt.com` by Sauce platform https://www.getsnapppt.com/

Excluding `snapppt.com` from Minify JS resolves the problem.

**To R

[2022-02-09 18:11] webtrainingwheels commented on #3271
Related ticket: https://secure.helpscout.net/conversation/1775589790/323499?folderId=273766
An empty domain in the WPML settings was the cause (thanks @vmanthos for the confirmation!)

[2022-02-09 18:57] alexstine commented on #4717
@piotrbak I have successfully generated the patched plugin and uploaded it to a Kinsta dev site.

URL: https://kmpnocdn2.kinsta.cloud
User: test
Pass: r(KKprr1V30(jrd(3@m8D*vO

Don't worry, it is a dev site so I'll remove it when we're finished here.

Can you add a license key and give it a test? If I need to add license info in wp-config.php, you can reach out at alexstine@kinsta.com. I do not ha

[2022-02-09 19:41] #4720 closed, assigned to NataliaDrause

[2022-02-09 20:30] Mai-Saad commented on #4366
Couldn't reproduce it on the test site using 3.10.7 with the default setup (account not registered)
Note: Maybe the problem with certain setup or other plugin is used with default auto exclusion to jQuery (further investigation is needed)

[2022-02-09 20:56] iCaspar commented on #3879
I think I see what is going on.
@swissspidy @westonruter see if this makes any sense.

We're checking for whether the `is_amp_endpoint()` function exists and returns true.
Given that both AMP and Web Stories is active, the function will exist by the time we get to the wp hook, pri 20. So function_exists test passes. BUT, the criteria for the function returning `true` will be different, depending o

[2022-02-09 23:32] piotrbak commented on #4716
Hello @warudin thank you for creating this issue.
[code]
I'm not able to reproduce this issue on my own environment. Could you check access log to see what's happening there? Our requests will be present there.

[2022-02-10 06:57] vmanthos opened #4722 "[WIP] Lazyload - images aren't displayed on older mobile iOS devices with the default placeholder"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅`3.10.7`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

On a customer's website, **some** of the lazyloaded images weren't displayed on mobile iOS (tested on browserstack.com with an iPhone 11 /iOS 13), despite the f

[2022-02-10 07:49] warudin commented on #4716
Hi @piotrbak,

Here's an access log from the minutes after I activate the Critical CSS generation process: https://drive.google.com/open?id=1HseOReaUvj75W3do4NQTJ93h_5uQ3xS8&authuser=dominique%40noesteijver.nl&usp=drive_fs

[2022-02-10 16:31] AnkushChharri opened #4725 "I can confirm that WP-Rocket is working fine with Cloudflare APO."
"Hi, Can You tell me, You use Cloudflare Plugin or WP Rocket Adon"
I can confirm that WP-Rocket is working fine with Cloudflare APO.

Header:

status: 200
x-cache: HIT
set-cookie: __cfduid=d47b0b49c7bf0f606541c64303647b1531602349346; expires=Mon, 09-Nov-20 17:02:26 GMT; path=/; domain=.teacherph.com; HttpOnly; SameSite=Lax; Secure
cf-cache-status: HIT
expires: Sat, 10 Oct 2020 14:53:22 GMT
vary: A

[2022-02-10 16:52] alexstine commented on #4717
@piotrbak Thanks for the email. I successfully activated the plugin on the test site above and all seems to be working fine. I tried a cache clear from both plugins and see no errors in logs. Would you like to confirm everything is working as it should?

Thanks.

[2022-02-10 17:09] viobru opened #4728 "Deprecation notice when using PHP 8.1"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ☑️
- Used the search feature to ensure that the bug hasn’t been reported before ☑️

**Describe the bug**
A customer informed this deprecation notice is displayed when running PHP 8.1:

`Deprecated: Constant FILTER_SANITIZE_STRING is deprecated in /var/www/vhosts/f****g.co

[2022-02-11 19:01] mifrero opened #4730 "Add use.typekit.com to default exclusions on Defer JavaScript"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
On some sites, typekit fonts are being downloaded from `use.typekit.com` and not from `use.typekit.net`.

**To Reproduce**
Check this thread: https://wp-media.slack.com/arch

[2022-02-12 05:31] DahmaniAdame commented on #4730
It was already posted :) https://github.com/wp-media/wp-rocket/issues/4706

[2022-02-12 05:57] DahmaniAdame commented on #4706
@piotrbak we have occasionally automatic exclusions that require exclusions from both deferring and minify.
Maybe we should have a different list for these for maintainability before the list grows too much?

[2022-02-12 12:27] DahmaniAdame commented on #4210
~~Related - https://secure.helpscout.net/conversation/1783623979/325298/~~

Not related to this one. Created a separate issue for it.

@mostafa-hisham your fix should work for this specific case 😅

[2022-02-14 08:33] #3879 closed, assigned to iCaspar

[2022-02-14 10:39] Michaelgimii opened #4731 "Wp-rocket interference with the new version of elementor pro"
**Describe the bug**

After the new version of elementor, if we do not activate the wp-rocket plugin, there is no error. But after activating wp-rocket, an error will be displayed in the browser console. https://prnt.sc/26vj761
These two errors are fixed when we enable the java script deferred option.

There is definitely a problem. I only use hello elementor theme, elementor and elementor pro plu

[2022-02-14 11:14] piotrbak commented on #4731
Duplicated:
https://github.com/wp-media/wp-rocket/issues/4701

[2022-02-14 11:14] #4731 closed, assigned to nobody

[2022-02-14 11:17] piotrbak commented on #4725
Hello @AnkushChharri thank you for being in touch.

Cloudflare cache might not be synchronised with WP Rocket's one. We did our best to make sure it won't cause broken layout on your site though.

[2022-02-14 11:17] #4725 closed, assigned to nobody

[2022-02-14 11:32] piotrbak commented on #4707
@alfonso100 We'll need an account to test things on their hosting, do you happen to have one?

[2022-02-14 11:37] piotrbak commented on #4730
@mifrero closing this issue as it's a duplicate of https://github.com/wp-media/wp-rocket/issues/4706

[2022-02-14 11:37] #4730 closed, assigned to nobody

[2022-02-14 11:56] piotrbak commented on #4366
@NataliaDrause Do you happen to have a staging environment where we could see the problem?

[2022-02-14 12:05] piotrbak commented on #4059
@camilamadronero What do you think?

[2022-02-14 12:10] piotrbak commented on #3641
Closing it since this is related to the plugin/theme/environment combination

[2022-02-14 12:10] #3641 closed, assigned to nobody

[2022-02-14 12:19] piotrbak commented on #3426
@Tabrisrp Do you see any way we can move forward with this problem? 🤔

[2022-02-14 12:51] NataliaDrause commented on #4366
Yes, there is a staging site in the ticket: https://secure.helpscout.net/conversation/1781372866/324847/
Customer provided credentials and they are still working for me.

[2022-02-14 14:39] camilamadronero-zz commented on #4059
Thanks for the ping! I agree 100% with Violeta here.
I've added H2 to the document, so we can point to the specific section.
With this, the link to use is: https://docs.wp-rocket.me/article/1321-critical-css-issues-fouc#use-fallback-critical-css.

[2022-02-14 14:40] remyperona commented on #3426
@piotrbak Since the CSS is updated, we have to clear the minified files, and that results in having to clear the whole cache too, else we would get a 404 on cached pages for the combined CSS file.

It's not ideal, but it's the safest way to make sure there is no errors. Note that it's only for cases where combine CSS is enabled.

[2022-02-14 15:08] remyperona commented on #4706
### Scope a solution ✅
Add `use.typekit.com` to:
- `DeferJS::$exclude_defer_js` array
- `AbstractJSOptimization::get_excluded_external_file_path()` method

### Estimate the effort ✅
Effort `[XS]`

[2022-02-14 15:22] camilamadronero-zz commented on #3644
Related https://secure.helpscout.net/conversation/1782452404/325032/

[2022-02-14 15:23] NataliaDrause commented on #2409
related: https://secure.helpscout.net/conversation/1780011401/324558/
Removing htaccess rules didn't help.

[2022-02-14 15:24] remyperona commented on #4728
### Scope a solution ✅
Replace the current sanitization code by `sanitize_key()` in `upgrader.php`, `rocket_upgrader()` line 41.

### Estimate the effort ✅
Effort `[XS]`

[2022-02-14 16:01] jcatello commented on #4707
@piotrbak Can you invite me to a channel on slack or reach me via justin@bigscoots.com

[2022-02-14 16:27] remyperona commented on #4701
Is it only when user cache is enabled?

[2022-02-14 20:20] piotrbak commented on #4701
@Tabrisrp Yes, this is happening because `/wp-includes/js/dist/i18n.min.js` is automatically excluded from JS Combination and it's calling `/wp-includes/js/dist/hooks.min.js` which is inside the combined file.

[2022-02-14 20:29] remyperona commented on #4714
We can improve the notifications a bit by:
- Returning the error message when we get a `WP_Error` from the WP Request API
- Returning a more specific message when we get a `40x` status code from the HTTP request
- Add a link to the doc in the notification

Would that work? @piotrbak

[2022-02-14 20:35] remyperona commented on #4701
### Scope a solution ✅
In the Elementor compatibility file, add a new method to exclude `/wp-includes/js/dist/hooks.min.js` from JS combine if:
- Combine JS is enabled
- User cache is enabled and the user is logged-in

Add tests for the method

### Estimate the effort ✅
Effort `[XS]`

Does that seem good from a product view @piotrbak ?

[2022-02-14 20:36] piotrbak commented on #4714
@Tabrisrp Yes, it'll work perfectly. Can we expect that any 40x status code is caused by the firewall, etc.?

[2022-02-14 20:41] remyperona commented on #4714
We can't expect it to be always the case no. So for this I wouldn't recommend using such a specific message, but something more along the lines of "Received an unexpected response code" or something like that.

[2022-02-14 21:15] remyperona commented on #4714
### Scope a solution ✅
In `RocketCDN\APIClient::get_remote_pricing_data()`, update the method:
- If `$response` is a `WP_Error`, return it directly
- If the status code is not `200`, return a new specific error message
- Add links to the documentation to all error messages

In `RocketCDN\APIClient::purge_cache_request()`, add the method:
- If `$response` is a `WP_Error`, return the error message f

[2022-02-15 13:31] Alex43515 commented on #4703
Related ticket: https://secure.helpscout.net/conversation/1784824105/325587/

[2022-02-15 14:26] artkom commented on #3270
It looks like the modification suggested by @engahmeds3ed not working anymore. The min folder still uncleader.

[2022-02-16 00:00] camilamadronero-zz opened #4734 "Exclude Usercentrics Domain from Minify JavaScript files"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - Yes
- Used the search feature to ensure that the bug hasn’t been reported before - Yes

**Describe the bug**
Minify JavaScript files prevents the cookie banner from being shown

**To Reproduce**
Steps to reproduce the behavior:
1. Activate Minify JavaScript files on a s

[2022-02-16 05:45] DahmaniAdame opened #4735 "Wrong URL when using minification and relative URLs on subfolders"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When WordPress is installed on a subfolder, relative paths are outputted wrong when using minification and relative paths.

Root folder: https://example.com/2020
Rel

[2022-02-16 06:54] vmanthos commented on #3037
**Related ticket:** https://secure.helpscout.net/conversation/1776646575/323858/

[2022-02-16 09:35] DahmaniAdame opened #4738 "Exclude js.hscta.net from JS defer (possibly minification as well)"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.10.7`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When `js.hscta.net` is deferred, the following dependency errors show on the browser console.

[code]
![image](https://user-images.githubusercontent.com/128

[2022-02-16 14:38] #4070 closed, assigned to nobody

[2022-02-16 14:38] #4717 closed, assigned to nobody

[2022-02-16 16:46] camilamadronero-zz commented on #4072
related https://secure.helpscout.net/conversation/1788668773/326426/

[2022-02-17 03:06] jcatello commented on #1847
Is there any plans to add a filter to disable preloading?

[2022-02-17 07:28] vmanthos opened #4740 "Console error when saving locally the cdn.jsdelivr.net/npm/hockeystack file"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

A console error:
![](https://i.vgy.me/nfuqS9.jpg)

pops up when saving locally the following file:
`https://cdn.jsdelivr.net/npm/hockeystack@latest/hockeystack.min.js`

[2022-02-17 10:02] Mai-Saad opened #4742 "Always Purge URL isnot clearing Kinsta Cache when editing post"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.10.7
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When editing post1 while Always Purge URL contains /post2/, Post2 cache is not cleared by Kinsta

**To Reproduce**
- Site hosted by Kinsta
- Always Purge URL conta

[2022-02-17 11:30] vmanthos opened #4743 "Jetpack's Gravatar Hovercards break with JavaScript minification"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.10.7`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

Jetpack's Gravatar Hovercards feature breaks, i.e. the following isn't taking place, and only the image is displayed:
![](https://i.vgy.me/BHfceK.gif)

when it

[2022-02-17 12:18] worldwildweb opened #4745 "Delay JavaScript Execution compatibility with WS Form PRO"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When [WS Form PRO](https://wsform.com/) is installed and activated the contact form is not displayed when WP Rocket Delay JavaScript execution is enabled. Even if /jquery-?[

[2022-02-17 15:01] NataliaDrause commented on #4628
Possibly related: https://secure.helpscout.net/conversation/1789494407/326607?folderId=3864740

[2022-02-17 15:04] Mai-Saad opened #4746 "Can't exclude js file containing space in it's path from Delay JS nor Defer JS"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.10.7
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Active theme containing space in its name or file name contains %20

**To Reproduce**
Steps to reproduce the behavior:
1. Enable Defer JS and Delay JS
2. Add file

[2022-02-17 18:38] tbba commented on #4161
I also had a database going from 8 MB to 800 MB because of this. Such large database killed lots of actions like saving/restoring or doing seach/replaces in there. Timeouts, stalls, and so on.

Issue:
There is no way to empty that table other than purge the content with some database tool.

Expected / suggestion:
The table (which is cache and can be recreated anytime) should be purged
- when switc

[2022-02-18 02:50] chrismask commented on #4439
What is this shit? You are not fucking Apple to remove uNusED things by target audience. Your target audience is not only dumbasses but also programmers and people that need and want all the extra things. Personally, if I purge OPcache, my Google Maps API has to request again some details every time a page is accessed (if not already cached) and on average I have to pay 50$ daily if opcache is aut

[2022-02-18 06:12] doodelybeep commented on #4439
THANK YOU, about time someone said something...

[2022-02-18 07:44] DarkAllMan commented on #4439
Please bring this back! See above!

[2022-02-18 09:17] creative-minded commented on #4439
Because there are people who do not understand the function of opcache
It is not necessary to remove the function completely from the plugin..
So prefer to keep it in wp-rocket !

[2022-02-18 09:27] viobru opened #4747 "Clearly warn customers that upgrading a license does NOT change its expiration date"
**Is your feature request related to a problem? Please describe.**

Currently, the way we inform the customers that upgrading a license won’t change its expiration date it is not clear enough.
We receive lots of tickets from customers that skipped that information or that are confused about this.

We only mention this in the following line on the Account page:

N.B.: Upgrading your license doesn’t

[2022-02-18 10:02] GeekPress commented on #4439
If you need to purge OPcache, we are recommended you to use [WP OPcache](https://wordpress.org/plugins/flush-opcache/) plugin which will also provide you a lot of useful data about OPcache that WP Rocket could not offer you.

[2022-02-18 10:05] GeekPress commented on #4439
I think you didn't understand correctly what we are doing now: WP Rocket **doesn't purge OPCache anymore**. So if I understand well, thanks to that, we are saving you $50 daily ;)

[2022-02-18 11:07] DahmaniAdame opened #4748 "Delay JavaScript Execution compatibility with Dynamic Pricing & Discounts Lite"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When Delay JavaScript Execution is used with Dynamic Pricing & Discounts Lite, the following error show up on the browser console:

[code]

The issue happens on both

[2022-02-18 11:53] Mai-Saad commented on #4706
@DahmaniAdame @piotrbak if Delay JS is enabled, then wrong fonts will be displayed till user interaction. Do you think we shall exclude it from Delay JS as well?

[2022-02-18 12:05] vmanthos commented on #4166
Related ticket: https://secure.helpscout.net/conversation/1790500857/326787?folderId=273766

This is another case of Flatsome's `#banner-(.*)` dynamic selector.

[2022-02-18 12:27] vmanthos commented on #4161
Related ticket: https://secure.helpscout.net/conversation/1790748325/326851?folderId=2135277

[2022-02-18 14:59] juricazuanovic opened #4749 "Improve compatibility with Aelia Tax Display"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.10.8`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**
The tax/VAT information and prices are not displayed correctly, so our compatibility is not working as expected. When the plugin is enabled, the first visit to

[2022-02-18 17:49] daigo75 commented on #4749
@juricazuanovic I'm the author of the Aelia plugins, for which WP Rocket includes an integration. I thought of chiming in, to help addressing the issue.

Current status
--
Based on the information collected from the customer, it looks like, at the moment, WP Rocket works as follows:

1. When the Aelia Currency Switcher is active, and its geolocation option is enabled, the content for the first vis

[2022-02-19 05:55] DahmaniAdame commented on #4454
Related - https://secure.helpscout.net/conversation/1788658765/326421
Theme: Jevelin
The theme is extensively using dynamic selectors:

[code]

[2022-02-19 11:21] DahmaniAdame opened #4750 "Disable WP Rocket CDN when any DNS CDN feature is enabled on WP Engine"
**Is your feature request related to a problem? Please describe.**
WP Engine's features [Global Edge Security](https://wpengine.com/support/ges/) or [advanced network](https://wpengine.com/support/advanced-network/) use a CDN at the DNS level.

If we have a way to check if any of the two services is activated, we could gray WP Rocket CDN feature and mention that the CDN is already being taken care

[2022-02-19 13:25] DahmaniAdame opened #4751 "WP Rocket CDN compatibility with Elementor's Improved Asset Loading feature"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.10.8`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When Elementor's Improved Asset Loading is activated, assets subject to this feature won't load loading WP Rocket CDN.

The reason for that is the assets ar

[2022-02-19 14:14] florianguillaumin commented on #3458
Hello 👋

I just looked into a similar issue for the [Cache Enabler plugin](https://github.com/keycdn/cache-enabler/pull/306). I am not an user of Wp Rocket.

KK Star Rating is using [`update_post_meta` and `add_post_meta`](https://github.com/kamalkhan/kk-star-ratings/blob/7406eeb4ebcbd3d137e9bed4a41f9ceaa1d63b17/src/functions/post_meta.php#L46L52) to save new ratings. You can hook here.

Otherwise

[2022-02-21 12:36] piotrbak commented on #4706
@Mai-Saad Since it's not causing negative impact on the PSI score, we can easily exclude it from the DelayJS too.

[2022-02-21 13:50] piotrbak commented on #4706
@Mai-Saad editing my comment there, thanks to your finding. Exclusion makes PSI scores worse, let's not exclude it for now.

[2022-02-21 17:24] NataliaDrause commented on #4147
Possibly related: https://secure.helpscout.net/conversation/1791886419/327085/#thread-5279558329

[2022-02-21 17:26] juricazuanovic commented on #4072
Related: https://secure.helpscout.net/conversation/1792673456/327207/

[2022-02-21 17:38] camilamadronero-zz commented on #3680
New case https://secure.helpscout.net/conversation/1792952411/327251/

[2022-02-21 17:56] #4740 closed, assigned to nobody

[2022-02-21 18:02] #4743 closed, assigned to nobody

[2022-02-21 18:16] camilamadronero-zz commented on #4161
new case https://secure.helpscout.net/conversation/1793052513/327262/

[2022-02-21 18:19] NataliaDrause commented on #4161
related: https://secure.helpscout.net/conversation/1792957710/327252/

[2022-02-21 18:41] tbba commented on #4161
Are you sure you want to hide the discussion away from GitHub to some closed space via those "related" links?
This is not really encouraging users to further providing free feedback.
Or what is the reason? and what is the outcome?

[2022-02-21 21:00] remyperona commented on #4547
### Scope a solution ✅
In `inc/functions/options.php`, `rocket_get_ignored_parameters()`, add the following to the array:
- `gbraid`
- `wbraid`

Also make sure to regenerate the config file in `rocket_new_upgrade()`, for the corresponding version this issue is fixed in.

### Estimate the effort ✅
Effrt `[XS]`

[2022-02-21 21:13] remyperona commented on #4742
Could be related to https://github.com/wp-media/wp-rocket/issues/4441

[2022-02-21 22:27] remyperona commented on #4133
Since we don't have an option (anymore) for the feed cache, we don't have an easy way to detect if we should or not call the clean function.

I'm wondering though if at that point we should remove the default call of this function in our code, and instead update our helper plugin to hook on `after_rocket_clean_post` and call the function only when the helper is enabled.

@piotrbak what do you thin

[2022-02-21 22:51] piotrbak commented on #4133
Yes, that sounds like the best approach. Thanks @Tabrisrp !

[2022-02-22 06:38] vmanthos commented on #4133
This approach will result in feeds not being cleared, when we make the change, and will create tickets.

How about using `has_filter()` for `wp_rocket_cache_feed` which is used in the helper plugin?
https://github.com/wp-media/wp-rocket-helpers/blob/fe97245d17d5341f206de1638db87bdc0554a141/cache/wp-rocket-cache-feed/wp-rocket-cache-feed/wp-rocket-cache-feed.php#L30

[code]
Here I am making an assu

[2022-02-22 06:49] vmanthos commented on #928
Likely related: https://github.com/wp-media/wp-rocket/issues/928

[2022-02-22 08:15] NataliaDrause opened #4753 "Provide compatibility with Composer Installers v2"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - yes
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
We are currently not compatible with Composer installers v2.

We require Composer installers ~1 [here](https://github.com/wp-media/wp-rocket/blob/db453edf38fecad

[2022-02-22 08:17] vmanthos commented on #3142
**Related ticket:** https://secure.helpscout.net/conversation/1794828640/327600/

[2022-02-22 08:18] Mai-Saad opened #4754 "Uncode theme + WooCommerce plugin compatibility"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.10.8
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
jQuery console error exists when WooCommerce is enabled with Uncode Theme and our Delay JS is enabled

**To Reproduce**
- Active theme Uncode
- WooCommerce is enab

[2022-02-22 08:34] Mai-Saad commented on #3724
Note: CDN not applied on js relative URL too (probably any relative internal URL)
i.e `<script src="/wp-content/rocket-test-data/scripts/testdummy2.js"> crossorigin='anonymous'</script>`

[2022-02-22 10:27] Chaiavi commented on #4161
I don't understand the DEV here

This is a SEVERE bug, it breaks some of the sites the plugin is installed on and for moths they are not taking care of it.

This bug should have been addressed the moment it was found or at least within the week.

What is WP-ROCKET waiting for ?
Beats me

[2022-02-22 11:53] DahmaniAdame opened #4755 "Delay JavaScript Execution compatibility with Product Slider Pro for WooCommerce"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When Product Slider Pro for WooCommerce is used with Delay JavaScript Execution, the added slider stops working and the following error shows on the console:

[code]

[2022-02-22 13:52] Mai-Saad opened #4756 "WCML update/rollback/replace won't affect existing cookies in wp-config file"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.10.8
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Cookies in wp-config won't be affected when updating/rollback/replacing WCML version

**To Reproduce**
- WPR is installed and activated 3.10.8
- WCML is installed

[2022-02-22 14:14] remyperona commented on #4133
We can do that too, it's true that it will has less side-effect

[2022-02-22 14:46] Mai-Saad opened #4757 "Exclude the script for AMP redirection from Delay JS"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.10.8
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
The script which redirects mobile pages to the amp is delayed

**To Reproduce**
- Cache for mobile devices is enabled
- Delay JS is enabled
- Amp redirect is enabl

[2022-02-22 15:03] Mai-Saad opened #4758 "Automatically exclude the script which remove cpcss style tag after page loads from Delay JS"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.10.8
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When CSS load async is enabled with delay js, the `id='rocket-critical-css'` is not removed from inspect till user interaction

**To Reproduce**

Precondition:
- E

[2022-02-22 16:04] NataliaDrause commented on #4722
Possibly related: https://secure.helpscout.net/conversation/1780026066/324571/

[2022-02-22 17:10] remyperona commented on #3426
### Scope a solution ✅
New approach for this: since Elementor CSS files are already minified, we're going to exclude them from minify/combine CSS. It's also going to fix the issue #3327.

This way, we don't have to clear the minify folder anymore, and thus don't have to clear the whole cache.

In the Elementor compatibility class:
- add a new method hooked on `rocket_exclude_css`, that will be exc

[2022-02-22 17:30] NataliaDrause opened #4759 "Add missing image dimensions feature breaks scripts that contain image"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.10.8
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
**Add missing image dimensions** feature is being applied within scripts when they append HTML. This may break the script due to mismatch of the single/double

[2022-02-22 18:21] piotrbak commented on #4161
Hello @tbba and @Chaiavi. `Related` URLs are for internal use only, they are pointing to the support tickets that are associated with the specific issue. There are a couple of reasons why we are doing that.

When it comes to the issue itself, we are working on it for a longer period of time already. The fix will be announced and released soon.

[2022-02-22 22:39] piotrbak commented on #4748
@DahmaniAdame Do you happen to have access to the site?

Why `owlCarousel` is not defined, is this because our auto exclusions?

[2022-02-23 06:28] DahmaniAdame opened #4761 "Lazy load dynamic element using AJAX"
**Is your feature request related to a problem? Please describe.**
Some themes have conditional elements as a feature where an element will show conditionally depending on the device, location, and other factors.

When used with page cache, those types of elements will only show the first iteration at the moment of the cache creation.

**Describe the solution you'd like**
Build a mechanism to extr

[2022-02-23 08:39] vmanthos commented on #4062
**Related ticket:** https://secure.helpscout.net/conversation/1793965046/327462/

Excluding `consent.cookiebot.com/uc.js` from JavaScript minification resolved the issue.

[2022-02-23 09:22] rikgoedhart commented on #4761
Yes this would be GREAT for Avada (Wordpress theme) users! It's also great for improving the Google Pagespeed results when using different containers for mobile and desktop. There is a significant difference between not rendering an Element and simply hiding it on the page.

More info on this feature:
https://theme-fusion.com/documentation/avada/how-to/how-to-use-conditional-element-rendering-in-a

[2022-02-23 12:11] NataliaDrause commented on #4166
Related: https://secure.helpscout.net/conversation/1795001410/327658/

Flatsome's `#banner-(.*)` dynamic selector case.

[2022-02-23 12:31] worldwildweb opened #4762 "Woocommerce Image gallery [shortcode] broken on Safari when caching for mobile devices and LazyLoad are enabled"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
when using [woocommerce Product Category shortcode](https://woocommerce.com/document/woocommerce-shortcodes/), images in the gallery are broken on the category page when WPR

[2022-02-23 15:18] WordPresseur opened #4763 "LazyLoad for iframe - Auto exclude Mediavines ads iframes from being LazyLoaded"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**
Mediavines uses iframes like the following for showing their ads:
`<iframe frameborder="0" src="https://xxxxxxxxxxxxxxxxxxxxxxxxxxxxx.safeframe.googlesyndication.com/saf

[2022-02-24 07:29] DahmaniAdame commented on #2068
Related - https://secure.helpscout.net/conversation/1790422765/326752/

[2022-02-24 08:15] vmanthos commented on #4072
Likely related: https://secure.helpscout.net/conversation/1796149391/327887/
On WP Engine.

[2022-02-24 10:47] nicomollet commented on #4701
Can confirm the issue.
Waiting for a fix and subscribing.

[2022-02-24 11:03] 79ho3ein commented on #4701
hi , Is it clear when this update will be released?

[2022-02-24 11:52] piotrbak commented on #4701
The release is planned for the next week if everything goes correctly.

[2022-02-24 12:02] 79ho3ein commented on #4701
thank you @piotrbak , Good luck.

[2022-02-24 14:37] #4682 closed, assigned to remyperona

[2022-02-24 17:54] piotrbak commented on #4588
We're not able to reproduce the initial issue, it could be related to the specific themes/plugins combination. Let's wait for the future feedback in order to check the root cause.

[2022-02-25 08:01] DahmaniAdame opened #4765 "Query string caching overrides excluded pages from cache"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.10.8`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When a query string is set to be cached, it will be cached on pages excluded from caching as well.

**To Reproduce**
Steps to reproduce the behavior:
1. Ena

[2022-02-25 09:22] viobru commented on #4072
Likely related: https://secure.helpscout.net/conversation/1796560717/327987/

[2022-02-25 11:55] DahmaniAdame commented on #4748
Yes! It's still on the ticket.

It's because it comes after this one - [/wp-content/plugins/woo-dynamic-pricing-discounts-lite/public/js/rtwwdpdl-woo-dynamic-pricing-discounts-lite-public.js](https://gist.github.com/DahmaniAdame/bf88119e0802a2cb5a4a4d454b956d9c)

[code]

For some reason, if both are delayed, `rtwwdpdl-woo-dynamic-pricing-discounts-lite-public.js` can't satisfy the dependency.

If

[2022-02-25 15:15] #4706 closed, assigned to DahmaniAdame

[2022-02-25 15:21] camilamadronero-zz commented on #4072
Related https://secure.helpscout.net/conversation/1798378864/328308/

[2022-02-25 16:16] piotrbak commented on #4714
@Tabrisrp Moving the issue to the 3.11.1. We don't have time to put it into the 3.10.9

[2022-02-26 00:01] jazir555 commented on #4648
Is there a way for the elementor team to modify their scripts loading method to allow these files to be delayed by wp rocket without breaking functionality?

[2022-02-26 00:01] jazir555 commented on #4648
@piotrbak

[2022-02-26 09:19] DahmaniAdame commented on #4062
Related - https://secure.helpscout.net/conversation/1782506457/325057/

Excluding `consent.cookiebot.com/uc.js` from minification fixes the issue.

As a precaution, I added the same exclusions that CookieBot is trying to do here: [/src/lib/WP_Rocket_Helper.php](https://github.com/CybotAS/CookiebotWP/blob/4c107e8870564b0949d2531c627ccb563ed9f708/src/lib/WP_Rocket_Helper.php)

[code]

[2022-02-27 11:58] NataliaDrause commented on #4161
another ticket with the issue: https://secure.helpscout.net/conversation/1798458681/328334?folderId=3864740

[2022-02-28 07:48] vmanthos commented on #2549
**Related ticket:** https://secure.helpscout.net/conversation/1800682184/328667/

[2022-02-28 08:07] vmanthos commented on #4166
**Related:** https://secure.helpscout.net/conversation/1797479762/328181/

In this case, it's the WP Recipe Maker Premium plugin.

Some of their IDs, e.g. `.wprm-advanced-list-(.*)` are changing dynamically, although this isn't happening on every (uncached_ page load.

[2022-02-28 08:38] Mai-Saad opened #4766 "Google font optimization with 3rd party that rewrites the Google Fonts to the internal styles"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.10.8
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When having a template with no google fonts while Divi theme is enabled, we remove this from source `<link rel="preconnect" href="https://fonts.gstatic.com/" cross

[2022-02-28 10:25] vmanthos opened #4767 "PHP fatal error when lazyloading images"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.10.8`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

A PHP fatal error, like the following:
[code]

occurs if either of the following two lines:
https://github.com/wp-media/wp-rocket/blob/c2f41672833937b3025e6b6a

[2022-02-28 11:44] NataliaDrause opened #4768 "Compatibility with Sucuri should support partial cache clearing"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.10.7
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
When a post is updated, we purge Sucuri cache globally instead of partially. This causes slow time for sites that need to rebuild the whole Sucuri cache.

Any

[2022-02-28 11:54] vmanthos opened #4769 "Delay JS - The Photonic plugin breaks"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ (`3.10.8`)
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When Defer JavaScript files is active galleries that are added with the [Photonic Gallery & Lightbox for Flickr, SmugMug, Google Photos & Others](https://wor

[2022-02-28 14:09] #4701 closed, assigned to remyperona

[2022-02-28 16:29] NataliaDrause opened #4770 "Exclude widget.prod.faslet.net from Minify and Combine JS"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.10.8
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
The issue is caused by caching the script by WP Rocket.

According to the developers of the widget:

**Expected behavior**
`https://widget.prod.faslet.net/fas

[2022-02-28 17:53] NataliaDrause commented on #4768
Customer also shared that:

[2022-02-28 18:34] itsinalis commented on #4761
+1

[2022-02-28 20:26] #3327 closed

[2022-02-28 20:26] #3426 closed

[2022-02-28 20:36] #4770 closed, assigned to NataliaDrause

[2022-02-28 21:54] jazir555 commented on #4683
Yeah if you could fix the unused css generation hang time when first loading a page that would be very helpful, this makes it unusable if you are developing a site and have to clear the cache frequently. Terrible user experience if they encounter that. They'll leave before the unused css is even generated.

[2022-03-01 09:18] vmanthos commented on #4161
**Related ticket:** https://secure.helpscout.net/conversation/1800912983/328748/

[2022-03-01 10:35] NataliaDrause opened #4773 "Clear cache partially instead of globally when Never cache This Page is changed in the Edit screen metabox"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.10.8
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
When Never Cache This Page option is changed in Edit screen metabox, we clear cache for the entire domain. This is unnecessary and not desired.

**To Reproduc

[2022-03-01 11:11] Michaelgimii commented on #4701
hi
Has 3.10.9 been released?

[2022-03-01 11:17] vmanthos commented on #3348
Related: https://secure.helpscout.net/conversation/1795112335/327694?folderId=2135277

[2022-03-01 12:26] vmanthos commented on #4598
Related: https://secure.helpscout.net/conversation/1788130755/326288?folderId=2135277

[2022-03-01 14:21] #1599 closed

[2022-03-01 15:54] viobru commented on #973
Likely related: https://secure.helpscout.net/conversation/1790670091/326833/

[2022-03-01 22:56] Michaelgimii opened #4775 "wp-rocket slows down WordPress dashboard."
**Describe the bug**

From the beginning, the installed plugins section opened very slowly. Even on websites where I used only 5 plugins. This slowness was seen even in WooCommerce products. But the slowness of the installed plugins was more than normal and really boring. I even removed all plugins except elementor and Rocket, but there was still a slow speed. I did not even imagine it, but when I

[2022-03-02 04:33] sarangsss29 commented on #4775
True

[2022-03-02 08:30] 79ho3ein commented on #4775
It is true! I also had a problem with slowdowns in the installed plugins. I disabled the wp-rocket plugin and the speed problem was fixed.
After the rocket was deactivated, there was an increase in speed even in WooCommerce products. Overall, the speed of the WordPress dashboard increased.

[2022-03-02 11:39] vmanthos opened #4776 "Defer JS - Console error for the font loader function of the Artale theme"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅`3.10.8`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

A `(index):46 Uncaught ReferenceError: WebFont is not defined` console error pops up when deferring the following file:
`/artale/modules/kirki/assets/webfont.js

[2022-03-02 16:57] webtrainingwheels commented on #2068
Temporary solution: https://docs.wp-rocket.me/article/1506-remove-custom-post-urls-from-purge

[2022-03-02 17:09] javiergutierrezchamorro commented on #4775
Should be solved I see.
https://github.com/wp-media/wp-rocket/commit/2ba879eebfdf763667163530ca829879492f3754

[2022-03-02 17:48] NataliaDrause commented on #4406
Related: https://secure.helpscout.net/conversation/1803779422/329262/

[2022-03-02 20:30] camilamadronero-zz commented on #4161
Related https://secure.helpscout.net/conversation/1803986580/329294/

[2022-03-03 09:15] worldwildweb opened #4779 "Getaway - Travel & Tourism Theme: Testimonials images not displayed when Delay JavaScript execution is enabled"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When [Getaway - Travel & Tourism Theme](https://themeforest.net/item/getaway-an-upbeat-travel-and-tourism-theme/20719616) is installed and when Delay JavaScript execution is

[2022-03-03 09:16] NataliaDrause commented on #4199
Related: https://secure.helpscout.net/conversation/1802833408/329080/

The file:
`/wp-content/uploads/essential-addons-elementor/cb70d11b8.min.css?ver=1646297681`

[2022-03-03 09:56] worldwildweb opened #4780 "Kava Theme: navigation header color not applied when scrolling down and when Delay JavaScript execution is enabled"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When [Kava Theme](https://crocoblock.com/kava/) is installed and Delay JavaScript execution enabled, color on navigation is not applied on scroll down.

**To Reproduce**
Ste

[2022-03-03 10:33] worldwildweb opened #4781 "Rey Theme: Rey slideshow not displayed when Delay JavaScript execution is enabled"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Rey slideshow is not displayed when Delay JavaScript execution is enabled

**To Reproduce**
Steps to reproduce the behavior:
1. Install [Rey theme](https://themeforest.net/i

[2022-03-03 10:55] vmanthos commented on #4767
**Related ticket:** https://secure.helpscout.net/conversation/1803266318/329150?folderId=2135277

From the `debug.log`:
[code]
In this case, adding `ini_set('pcre.backtrack_limit', PHP_INT_MAX);` in the `wp-config.php` file, stopped the fatal error and allowed lazyload to be applied.

[2022-03-03 12:59] worldwildweb opened #4782 "Progress Bar not working when Delay JavaScript execution is enabled"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When Extra shortcodes Plugin is installed,  [Progress bar](https://getshortcodes.com/demo/extra-shortcodes/progress-bar/) is not working when Delay JavaScript execution is e

[2022-03-03 15:03] camilamadronero-zz commented on #3511
Related https://secure.helpscout.net/conversation/1802271345/329008?folderId=2675957

[2022-03-03 17:40] Mai-Saad opened #4784 "Console error when Combine JS is enabled with Avada theme"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.10.8
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
JS console error exists when enabling Combine JS with Avada theme

**To Reproduce**
precondition:
1- Avada active
2- Combine JS enabled

Steps to reproduce the beh

[2022-03-03 17:51] Mai-Saad opened #4785 "Sucuri API Key is deleted when change settings while key is hidden"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.10.8
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
If we hide Sucuri API key using a filter then we change WPR settings, the API key will be deleted

**To Reproduce**
Steps to reproduce the behavior:
1. Enable Sucu

[2022-03-04 09:33] GeekPress commented on #4758
@piotrbak Can this be planned for the next minor version? It's a very easy enhancement to do.

[2022-03-04 09:34] GeekPress commented on #4757
@Mai-Saad Which JS file or inline script must be excluded from Delay JS to have the redirection without user interaction?

[2022-03-04 09:56] Mai-Saad commented on #4757
@GeekPress this is the inline script (using AMP v2.2.1)

[code]
excluding `amp-mobile-version-switcher` works fine for both standard and transitional mode

[2022-03-04 11:28] worldwildweb opened #4786 "Plugin Twenty20 Image Before-After: images not displayed when Delay JavaScript execution is enabled"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When Delay JavaScript execution is enabled, Twenty20 Image Before-After plugin images are not displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. Install [plugi

[2022-03-04 12:52] juricazuanovic commented on #4628
Related: https://secure.helpscout.net/conversation/1802521163/329049

[2022-03-04 13:33] vmanthos commented on #4166
**Related:** https://secure.helpscout.net/conversation/1805729020/329618?folderId=2135277

Flatsome's ` #banner-(.*)` dynamic selector.

[2022-03-04 14:06] camilamadronero-zz commented on #1890
New case: https://secure.helpscout.net/conversation/1804685395/329416/

[2022-03-04 14:33] juricazuanovic commented on #4133
Related: https://secure.helpscout.net/conversation/1805560493/329554/

[2022-03-04 18:01] jcatello commented on #4374
Seeing this again in 3.10.9

`PHP Fatal error: Uncaught TypeError: preg_match() expects parameter 2 to be string, null given in /home/nginx/domains/domain.com/public/w
p-content/plugins/wp-rocket/inc/Engine/Optimization/DelayJS/HTML.php:221
Stack trace:
#0 /home/nginx/domains/domain.com/public/wp-content/plugins/wp-rocket/inc/Engine/Optimization/DelayJS/HTML.php(221): preg_match()
#1 /home/nginx/d

[2022-03-05 09:31] worldwildweb opened #4787 "Plugin US MAP colors not displayed when Delay JavaScript execution is enabled"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**

US MAP Colors are not displayed when Delay JavaScript execution is enabled

**To Reproduce**

Steps to reproduce the behavior:
1. Install [Plugin US MAP](https://www.wpmapp

[2022-03-06 06:59] BoyetDgte commented on #4662
Would love to have this feature also

[2022-03-06 11:33] 79ho3ein opened #4788 "In the new version, css requests are increased."
**Describe the bug**

Before updating to 3.10.9, the number of css requests on my website was 2. But after the update, it increased to 10 requests. I tested this on 3 other websites and this increase in css request occurred.

Doesn't that seem unusual?

[2022-03-06 13:57] NataliaDrause commented on #4258
Related: https://secure.helpscout.net/conversation/1806895008/329831/

[2022-03-07 10:51] piotrbak commented on #4788
Hello @79ho3ein in 3.10.9 we excluded very few Elementor CSS files from combination, you can see it here:
https://github.com/wp-media/wp-rocket/pull/4760

If that's not related, please contact our Support Team for help and further investigation

[2022-03-07 10:51] #4788 closed, assigned to nobody

[2022-03-07 11:17] piotrbak commented on #4374
Hello @jcatello have you already contacted our support team for further investigation?

[2022-03-07 14:22] remyperona commented on #4758
### Scope a solution ✅
Add `wprRemoveCPCSS` to the `DelayJS\HTML::$excluded` array

### Estimate the effort ✅
Effort `[XS]`

[2022-03-07 14:23] remyperona commented on #4757
### Scope a solution ✅
Add `amp-mobile-version-switcher` to the `DelayJS\HTML::$excluded` array

### Estimate the effort ✅
Effort `[XS]`

[2022-03-07 14:44] remyperona commented on #4759
### Reproduce the issue ✅
Yes

### Identify the root cause ✅
Scripts are not removed from the buffer when we do the parsing, so the feature can currently be applied to images contained in them.

### Scope a solution ✅
To be on the safer side, we should hide the scripts from the buffer before parsing it to find images. We can also do the same for comments and noscripts.

This could be a good opport

[2022-03-07 15:40] mifrero commented on #4072
Related https://secure.helpscout.net/conversation/1807529841/329952/

[2022-03-07 16:34] remyperona commented on #4765
### Reproduce the issue ✅
Yes

### Identify the root cause ✅
This is happening because in the `Buffer\Tests::can_process_uri()` method, we are doing a match against the full request path including the query string, but the pattern uses the `$` token to match end of line, so it's never matching against the excluded paths in the pattern.

### Scope a solution ✅
Instead of using `get_clean_request_ur

[2022-03-07 16:48] remyperona commented on #4763
### Scope a solution ✅
In `RocketLazyload\Iframe::getExcludedPatterns()`, add `google_ads_iframe_` to the returned array.

### Estimate the effort ✅
Effort `[XS]`

[2022-03-07 17:03] remyperona commented on #4711
@piotrbak This is probably a feature that should be completely disabled for logged-in users, as the prefetch doesn't have the cookies information.

[2022-03-07 18:05] piotrbak commented on #4711
@Tabrisrp Yes, totally agree

[2022-03-07 18:41] webtrainingwheels commented on #4062
related https://secure.helpscout.net/conversation/1808246899/330092?folderId=377611

[2022-03-07 20:21] remyperona commented on #4711
### Scope a solution ✅
Add a check for `is_user_logged_in()` in `Preload\Links\Subscriber::add_preload_script()`, bailing-out if the user is logged-in.

### Estimate the effort ✅
Effort `[XS]`

[2022-03-07 20:33] remyperona commented on #4673
@piotrbak This should be solved with the changes in 3.10.9

[2022-03-07 20:39] #4673 closed, assigned to nobody

[2022-03-07 21:30] remyperona commented on #4133
### Scope a solution ✅
In `rocket_clean_post()`, wrap the call to `rocket_clean_home_feeds()` to check if the helper plugin callback is used.

[code]

### Estimate the effort ✅
Effort `[XS]`

[2022-03-08 06:42] vmanthos opened #4789 "Feeds caching isn't working"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✔ `3.10.9`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

Caching the feeds isn't working at the moment for two reasons:
1. The [WP Rocket Cache Feed](https://github.com/wp-media/wp-rocket-helpers/tree/master/cache/wp

[2022-03-08 08:44] engahmeds3ed commented on #3979
We already exclude those pages from caching here: https://github.com/wp-media/wp-rocket/blob/44f9eae34f76dd75445f5b98ad9bc5c148cd0d9a/inc/functions/options.php#L331

So if this cookie is there, the page will not be cached and RUCSS isn't applied.

The only case that may be affected by that, if we use the filter `rocket_cache_reject_cookies` to remove `wp-postpass_` from this array but RUCSS can't

[2022-03-08 10:23] NataliaDrause commented on #3348
Similar issue is happening with Cookie Notice plugin when consent is changing.
Ticket: https://secure.helpscout.net/conversation/1807336051/329918?folderId=3864740

Steps to reproduce:
1. Install and activate [Cookie Notice](https://wordpress.org/plugins/cookie-notice/) plugin;
2. In Cookie notice enable the following options:
- Refuse Consent;
- Revoke Consent;
- Add `<script>alert("true")</scrip

[2022-03-08 11:29] viobru commented on #3728
Related: https://secure.helpscout.net/conversation/1805846258/329673/

[2022-03-08 11:45] Mai-Saad opened #4791 "External relative URL image inside minified external CSS file is not displayed on page"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.10.9
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When enable minify CSS while having an image with relative URL inside external CSS, the image is not displayed on the page

**To Reproduce**
Precondition:
- Having

[2022-03-08 12:43] vmanthos opened #4792 "Divi's Dynamic CSS feature can potentially break the layout when RUCSS is active"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.10.9`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

Divi's Dynamic CSS feature (https://i.vgy.me/wFqnNA.jpg) will load a CSS file using JavaScript:
[code]
![](https://i.vgy.me/jLxSiz.jpg)

This may contain rules

[2022-03-08 13:12] Mai-Saad opened #4793 "Caching isnot working correctly while accessing password protected post(s)"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.10.9
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Accessing any page after accessing pw protected page will result in disabled caching for this page if opened within the same browser window

**To Reproduce**
Preco

[2022-03-08 17:08] prabashri opened #4796 "Static Server Cache - FastCGI by WPMUDEV host is not cleared"
Clearing server cache on every post update is not working in the WPMUDEV hosting sites.

[2022-03-09 00:47] jazir555 opened #4797 "Remove unused javascript programmatically"
**Is your feature request related to a problem? Please describe.**
Similar to remove unused CSS removing unused code, this would remove unused javascript code. Some javascript files cannot be delayed without breaking functionality, but those files still have a bunch of unused code in them, which slows the page down by adding unnecessary extra weight, as well as longer javascript execution time.

*

[2022-03-09 01:07] jazir555 opened #4798 "When Remove Unused CSS is activated, the database table size created by remove unused css is very large(8+ GB)"
**Describe the bug**
Remove unused css causes a massive database table to be created. The size of this table is interfering with the backup process for one of our sites due to the backup process timing out. This even happens on server level backups on AWS sometimes, its not just plugin based backups. It also costs us more money in S3 storage.

**To Reproduce**
Steps to reproduce the behavior:
1. A

[2022-03-09 08:27] 79ho3ein commented on #4427
hi again @piotrbak
I solved this problem. I deleted the cookie (woocommerce_recently_viewed) and the problem was solved : https://prnt.sc/JhGTbRPbnGlI

So I think it would be good if you remove this cookie from the cache by default, so that other users do not have this problem by installing the wp-rocket plugin.

thank you

[2022-03-09 08:27] #4427 closed, assigned to nobody

[2022-03-09 15:25] alfonso100 commented on #3982
Related: https://secure.helpscout.net/conversation/1810450642/330459?folderId=2683093

[2022-03-09 15:54] worldwildweb commented on #4738
[related helpscout issue ](https://secure.helpscout.net/conversation/1810576085/330503/)

`current.js` and `hbspt.cta.load` should be excluded as well from the **Delay JavaScript execution feature**

`<script type="rocketlazyloadscript" data-rocket-type="text/javascript"> hbspt.cta.load(2579063, '###-###-###-###-###', {"useNewLoader":"true","region":"na1"}); </script>`

`<script type="rocketlazylo

[2022-03-09 19:52] JerissCloudCenter opened #4801 "Page-specific settings aren't being duplicated by WPML Advanced Editor"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
The page-specific settings aren't duplicated. According to WPML support :

**To Reproduce**
Steps to reproduce the behavior:
1) Create a Page X with some dummy content
2) De

[2022-03-10 10:43] NataliaDrause commented on #2409
Related:
https://secure.helpscout.net/conversation/1807673458/329968
https://secure.helpscout.net/conversation/1811383384/330655

[2022-03-10 13:32] vmanthos commented on #4072
Related: https://secure.helpscout.net/conversation/1797538548/328191/

[2022-03-10 13:50] vmanthos opened #4802 "RUCSS - the wpr_rucss_used_css table can grow big on large websites"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

The  `wpr_rucss_used_css` table's size depends on the size of the used CSS for each page, and also the number of pages on a site.

On large websites that have a lot of

[2022-03-10 13:57] piotrbak commented on #4802
@vmanthos It would be good to know how many URLs are there. For 18.4GB it would be around 480 000 URLs when the Separate Cache for Mobiles is disabled or 240 000 when it's enabled. Is this accurate more or less?

[2022-03-10 14:34] Klemart3D opened #4803 "Adding missing image dimensions for SVG is excluded in FR docs but not in EN"
Who's right? Why documentations are not updated together?

![fr](https://user-images.githubusercontent.com/7419525/157683405-235a55c3-b6c3-4f25-ab81-0fd789ed30a9.jpg)

![en](https://user-images.githubusercontent.com/7419525/157683399-85f0eca4-bb4a-44aa-ab93-a677be23b862.jpg)

Sources:
- FR: https://fr.docs.wp-rocket.me/article/1369-ajouter-les-dimensions-dimage-manquantes
- EN: https://docs.wp-roc

[2022-03-10 15:00] Klemart3D opened #4804 "Decimals displayed as width and height values with "Add Missing Image Dimensions" option"
**Describe the bug**

From v3.10.8 I have errors from [W3C validator](https://validator.w3.org/nu/) because of bad value (decimals) in width and height attributes of SVG elements loaded in `<img>`tag when WP-Rocket "Add Missing Image Dimensions" option is enabled.

**To Reproduce**

Steps to reproduce the behavior:
1. Add into a page a SVG with decimals in viewBox
2. Enable Rocket "Add Missing Ima

[2022-03-10 15:32] Klemart3D commented on #4804
With #4805 PR, decimals values are rounded to integers, that will no more display errors in W3C checker.

![fixed](https://user-images.githubusercontent.com/7419525/157696010-3cb446fc-1304-4865-a0e2-3b1bf31aeae0.jpg)

[2022-03-10 15:44] CodebyJM commented on #4700
You are a life saver. Thank you!

[2022-03-10 16:45] webtrainingwheels opened #4806 "Apply CDN rewrite in CSS files without requiring minification"
Currently we apply the CDN rewrite on assets within CSS files (e.g. background images) only when CSS minification is enabled.

Ideally the CDN shouldn't depend on this and could be applied whether or not there is minification.

For example, we recently [excluded some specific Elementor files from minification](https://github.com/wp-media/wp-rocket/pull/4760), so some customers will be directly aff

[2022-03-11 13:22] vmanthos commented on #928
Likely related: https://secure.helpscout.net/conversation/1812727658/330905?folderId=2135277

[2022-03-11 17:18] mifrero commented on #2262
Related ticket: https://secure.helpscout.net/conversation/1810674246/330535/

[2022-03-11 19:16] webtrainingwheels commented on #4765
Related case: https://secure.helpscout.net/conversation/1809547889/330315?folderId=377611

This also seems related to: https://github.com/wp-media/wp-rocket/issues/296

[2022-03-11 22:19] reggieofarrell commented on #4628
I'm seeing this issue as well with the most recent version of WP Rocket and Divi Builder.  Something to add to the conversation...

If you change apps or simply go to the home screen on the iOS device and then go back to Safari, the images show up.

[2022-03-14 07:01] kamilgrzegorczyk commented on #4105
Is there any update on when that is going to be resolved?

[2022-03-14 09:19] NataliaDrause commented on #4199
Related: https://secure.helpscout.net/conversation/1800351708/328614/

This time it doesn't work with the One CDN.

All files that come from `https://usercontent.one/wp/example.com/` have a query string that is changing on each reload.

Examples:
[code]

[2022-03-14 10:13] ilyakar commented on #3348
This issue has been open for 1.5 years. Will you guys be able to fix it and provide the update?

[2022-03-14 11:07] vmanthos commented on #4802
@piotrbak One sub-sitemap of the specific site had 6 other sub-sitemaps containing more than 17.000 URLs each. We are talking about hundreds of thousands of URLs in this case.

But the size of the table can be an issue even if it doesn't reach that size. Here is the comment from a customer:

In this case it happens in this way and when exceeding it, write crashes occur or sometimes the database cr

[2022-03-14 19:53] remyperona commented on #3734
### Scope a solution ✅
In `Engine\Cache\WPCache::add_wp_cache_status_test()`, add a conditional check for the `rocket_set_wp_cache_constant` value. If it returns true, continue, if it returns false, bail-out and return the unchanged `$tests` value.

[code]

Update the related unit/integration tests too.

### Estimate the effort ✅
Effort `[S]`

[2022-03-14 21:08] remyperona commented on #4596
### Scope a solution ✅
Remove the method `normalize_number()` and its usage in the `Engine\CDN\RocketCDN\NoticesSubscriber`, as we already have `number_format_i18n()` to handle number formatting in the different locales.

### Estimate the effort ✅
Effort `[XS]`

[2022-03-14 21:29] remyperona commented on #4595
I think we should make sure for this to set the campaign name in the API when setting the `is_discount_active` value to true, because it's this value that is handling the display of the discounted price.

The other alternative is to also check that `discount_campaign_name` is not empty in addition to the current checks we do.

[2022-03-14 21:57] remyperona commented on #4527
In fact Autoptimize doesn't do any lazyload for iframes, so we shouldn't be disabling our lazyload for iframes and the sub-option.

### Scope a solution ✅
In `inc/3rd-party/plugins/autoptimize.php`, remove the calls to:

[code]

in `rocket_maybe_deactivate_lazyload()` and `rocket_activate_autoptimize()`

### Estimate the effort ✅
Effort `[XS]`

[2022-03-15 05:54] DahmaniAdame commented on #4768
Sucuri's API doesn't seem to have a way to clear a single URL from their cache - https://sucuri.net/demo/api/
There is this method called `clearCachePage` on their WordPress plugin, but it doesn't seem to take a URL as a parameter - https://github.com/Sucuri/sucuri-wordpress-plugin/blob/a8832c2d2d253a578e892164d0faa3310531a887/src/firewall.lib.php#L688-L699

[2022-03-15 08:39] WordPresseur opened #4812 "Display a warning when WooCommerce Pixel Manager plugin is detected."
[WooCommerce Pixel Manager plugin](https://wordpress.org/plugins/woocommerce-google-adwords-conversion-tracking-tag/) is excluding several scripts from a lot of WP Rocket's features: https://i.vgy.me/9YvC4M.jpg

It's all of these:
[code]

**Describe the solution you'd like**
Displaying a warning box in File optimization tab when this plugin is detected telling to the user that some of their JS fil

[2022-03-15 12:13] worldwildweb opened #4813 "Clear WP Rocket cache on all sites on WP Multisite"
**Is your feature request related to a problem? Please describe.**
It is not possible to clear the WP Rocket cache on all sites in a multisite installation.

**Describe the solution you'd like**
Have an option to clear WP Rocket cache on all sites in a multisite installation.

Admin bar: Clear cache on all sites:
![Screenshot 2022-03-15 at 13 11 46](https://user-images.githubusercontent.com/195491

[2022-03-16 08:08] dreamjobma opened #4814 "Taxonomies cache are not cleared when Cloudflare Cache Everything is activated via page rules"
**Before submitting an issue please check that you’ve completed the following steps:**
- Yes
- Yes

**Describe the bug**
Taxonomies cache are not cleared when Cloudflare Cache Everything is used via page rules. Homepage cache is cleared and article cache is cleared

**To Reproduce**
Steps to reproduce the behavior:
1. Activate cloudflare cache everything
2. Update article
3. Article and homepage c

[2022-03-16 08:44] WordPresseur opened #4815 "UI: Change "Note: None of these options will be applied..." in WP Rocket Rocket Options Metabox"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**
In Posts/Pages WP Rocket Rocket Options Metabox, the Note under options is:

But these options won't be applied even if this post/page has been excluded from cache in th

[2022-03-16 11:54] DahmaniAdame commented on #2549
Related - [https://secure.helpscout.net/conversation/1816327961/331699/](https://secure.helpscout.net/conversation/1816327961/331699/)

[2022-03-17 06:55] brandonjp commented on #4161
Until this is fixed, is there an authoritative solution (or at least information source) so we can know how to manually remedy this?  Right now I am completely unable to even log into my /wp-admin because the `wpr_rucss_resources` table has grown to over 6gb (which is my db limit on this server)!

Specifically:

1. Can I safely purge/empty/truncate the `wpr_rucss_resources` table?  Will this have

[2022-03-17 08:34] DahmaniAdame opened #4816 "Improve regex cleaning HTML before processing images lazyload"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.10.9`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
In the presence of a faulty closing `</script>`, for example `</script-->`, the regex that cleans up HTML before looking for images might prevent processing

[2022-03-17 08:42] NataliaDrause commented on #2409
Related: https://secure.helpscout.net/conversation/1817901061/332041/

[2022-03-17 10:10] DahmaniAdame opened #4818 "Compatibility with Animate plugin (defer exclusion)"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.10.9`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When the [Animate plugin](https://en-gb.wordpress.org/plugins/animate/) is used with Defer JavaScript, the following console error show up:

[code]

Excludi

[2022-03-17 10:21] DahmaniAdame opened #4819 "Compatibility with Bookly (conditional defer + delay exclusions)"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.10.9`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When the [Bookly plugin](https://www.booking-wp-plugin.com/) is used with Defer JavaScript and `jQuery` is already differed, the following console error sho

[2022-03-17 10:43] vmanthos commented on #4819
I was about to create a GitHub issue for the same plugin.

On the customer's website that I worked on when `jQuery` was delayed, the following had to be excluded from Delay JavaScript Execution for the Bookly form to work:
[code]

I didn't have to exclude the `hammer.min.js` file.
On my own test site, excluding just this 👆fixed the console error though.

@piotrbak This is one of the cases where th

[2022-03-17 10:53] vmanthos opened #4820 "Page Caching is disabled on pages where a Bookly form is used"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When:
1. [WordPress Online Booking and Scheduling Plugin – Bookly](https://wordpress.org/plugins/bookly-responsive-appointment-booking-tool/) is installed.
2. One of th

[2022-03-17 12:41] WordPresseur opened #4822 "Update License validation issue text accordingly to the button name "Validate License""
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**
When a license validation is failing, an warning notice is displayed with this message:

But the name of the button below is **Validate License**

**Expected behavior**

[2022-03-17 12:49] DahmaniAdame commented on #3511
@piotrbak @Tabrisrp if we move `convert_to_webp` buffer priority after `lazyload`, and add `data-bg` to the target markup, we should be able to achieve that without requiring any major overhaul of the code. 

I tested that by moving `covert_to_web` to 19 as a buffer priority (`lazyload` has a buffer priority of 18), and added `data-bg` to `rocket_attributes_for_webp`. The conversion worked properl

[2022-03-17 12:50] DahmaniAdame commented on #3511
Related - https://secure.helpscout.net/conversation/1816270290/331688?folderId=3864735

[2022-03-17 13:08] viobru commented on #3477
Related: https://secure.helpscout.net/conversation/1815232543/331474

[2022-03-17 15:47] #4822 closed, assigned to WP-Romain

[2022-03-17 20:52] DahmaniAdame commented on #4161
@brandonjp 

Yes. 

No. It's there out of the box. No setting is required. 

The process depends on the consistency of the CRON. It could be that. 

In all cases, it's best if you wait for the next iteration of Remove Unused CSS in your case where the resources table will no longer be used on the WordPress side.

[2022-03-18 09:59] DahmaniAdame commented on #3887
It goes the other way around as well. Unprocessed files will be added after the Used CSS, which won't preserve the original order and override style.

@piotrbak Will this one be fixed on the new Remove Unused CSS?

If not, can we have a filter to prevent the Remove Unused CSS from being added to the page if not all resources are processed? To be used in cases where the CSS is overridden.

Related

[2022-03-18 10:36] piotrbak commented on #3887
@DahmaniAdame There won't be unprocessed CSS in the new approach, so this is going to be fixed.

[2022-03-18 20:10] #1491 closed

[2022-03-18 20:28] remyperona commented on #2046
Kinsta doesn't use CDN like that anymore, so we can close this.

[2022-03-18 20:28] #2046 closed

[2022-03-19 07:36] DahmaniAdame opened #4829 "Owl Carousel lazy load compatibility (Firefox only)"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.10.9`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When Owl Carousel is used with Lazyload on Firefox, the carousel will stop working properly.

![image](https://user-images.githubusercontent.com/1289174/159

[2022-03-19 11:29] DahmaniAdame opened #4830 "RankMath generates an error when using the integration"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.10.9`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When the RankMath integration is enabled on the Preload feature, `\RankMath\Helper` will occasionally fail to run and generate the following error on the lo

[2022-03-19 11:55] worldwildweb commented on #2894
related helpscout issue https://secure.helpscout.net/conversation/1820545337/332485/

[2022-03-19 12:35] DahmaniAdame opened #4831 "Delay JavaScript Execution compatibility with Bridge theme's Page Transition"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.10.9`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When the Bridge theme uses the `Page Transition` feature with Delay JavaScript Execution, the following error console is generated:

[code]

The reason why

[2022-03-19 16:50] PaulSchiretz opened #4832 "Delay JavaScript Execution Option to delay only certain scripts"
**Before submitting an issue please check that you’ve completed the following steps:**

Made sure you’re on the latest version ✅
Used the search feature to ensure that the bug hasn’t been reported before ✅

**Description**

Hi there,

I got a short feature request.

Wouldn't it be more practical to offer a feature to delay only certain scripts, that acts like it was before you changed it to delay

[2022-03-20 16:39] NataliaDrause commented on #3077
related: https://secure.helpscout.net/conversation/1820779650/332543?folderId=3864740

[2022-03-21 10:45] NataliaDrause commented on #3271
Related: https://secure.helpscout.net/conversation/1820946124/332572/
Cart page translation was set to `draft `and that stopped caching for homepage.

[2022-03-21 13:49] Kilbourne commented on #2713
Hi,
I'm watching this issue since more than one year.
I would like if, in addition to pages excluded via metabox, the optimizations were applied also to users logged-in with no user cache, excluded urls via advanced settings and pages without metabox.

I would then add a new setting  at plugin level that allows to choose on what of the above apply the optimizations.
This new setting will have a ch

[2022-03-21 20:53] remyperona commented on #4789
Unfortunately we can't use the global because at that point it's not defined yet

[2022-03-21 21:19] remyperona commented on #4767
### Scope a solution ✅
We should update this along #4759, to use the `RegexTrait` too.

[2022-03-21 21:50] remyperona commented on #3482
### Scope a solution ✅
In `ThirdParty/Plugins/ModPagespeed`, also check for `$headers['X-LS-PageSpeed']` in `has_pagespeed()` method.

Update the related tests to add a test for this change.

The integration test should also be updated, to use the filter `pre_http_request` instead of using Brain Monkey expectation for `wp_remote_get()` and `wp_remote_retrieve_headers()`.

### Estimate the effort ✅

[2022-03-21 22:10] remyperona commented on #2366
Before grooming this, we need to determine how we're going to display the choice between the old and new authentification system in the UI

[2022-03-22 00:40] piotrbak commented on #4798
@jazir5 We already have two separate issues related to this topic:
1. https://github.com/wp-media/wp-rocket/issues/4802
2. https://github.com/wp-media/wp-rocket/issues/4161

The second one will be fixed very soon, for the first one we're considering the possible solutions.

[2022-03-22 00:40] #4798 closed, assigned to nobody

[2022-03-22 06:52] DahmaniAdame opened #4837 "Cloudflare optimal settings compatibility with FacetWP"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version (N/A)
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
FacetWP uses an HTML comment as part of its functionality ``.

When the Cloudflare add-on is activated with the `HTML Auto Minify` option, the comment will be dele

[2022-03-22 07:04] nb4cks commented on #4802
@piotrbak I encountered the same problem. My website has about 16w product pages. I use the editor of elementor pro. I checked wp_wpr_rucss_used_css in woocommerce. Now it has only been about a week and it has a size of 14G. Although I am a dedicated server , but this can not support long-term operation, I am very worried that the server will not be able to withstand the crash at any time, can you

[2022-03-22 07:06] nb4cks commented on #4161
@piotrbak I encountered the same problem. My website has about 16w product pages. I use the editor of elementor pro. I checked wp_wpr_rucss_used_css in woocommerce. Now it has only been about a week and it has a size of 14G. Although I am a dedicated server , but this can not support long-term operation, I am very worried that the server will not be able to withstand the crash at any time, can you

[2022-03-22 09:32] CrochetFeve0251 commented on #4767
I added  ignore_scripts() and ignore_noscripts() in the RegexTrait in the PR from #4759, I will fix these issue when PR from #4759 is merged

[2022-03-22 11:19] DahmaniAdame commented on #4802
Possible fix:

The problem might be prevented if we stored the Used CSS in files instead of the database. 

Styles will still be added inline to the page like it's currently done. It will just be fetched from a file instead of the database by refactoring this function to look for if a page's Used CSS exists, and fetch its content if it does - [https://github.com/wp-media/wp-rocket/blob/15574e39574

[2022-03-22 13:39] remyperona commented on #4767
@CrochetFeve0251 You can update this class in the same PR

[2022-03-22 15:08] mehedihasanziku opened #4841 "Defer JS - Inline JS excluded from defer if non-matched pattern in use"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**

 Inline JS excluded from defer if non-matched pattern in exclude list

**To Reproduce**
Steps to reproduce the behavior:
1. Install rocket and enable Load JavaScrip

[2022-03-22 18:03] BasedoEcommerce commented on #4161
My storage is almost full because of this issue and I can't just delete this table?

I've already disabled the "Optimize CSS delivery" option and still I can't delete the `wpr_rucss_resources` table?

[2022-03-22 18:09] alfonso100 opened #4842 "PHP 8.1 Deprecation notice at yoast-seo.php: "Automatic conversion of false to array is deprecated""
**Before submitting an issue please check that you’ve completed the following steps:**
Yes - Made sure you’re on the latest version
Yes - Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**

When using PHP 8.1, we'll get a Deprecation notice:

`Automatic conversion of false to array is deprecated wp-content/plugins/wp-rocket/inc/3rd-party/plugins/seo/yo

[2022-03-23 08:33] Rahe opened #4845 "WP-CLI cron empty Error"
**Describe the bug**
Hello,

There is a weird bug that doesn't occurs everytime but is generating errors on our website, but this was hard to see what's plugin was doing this.
The cron event "rocket_partial_preload_cron" is generating errors on WP-CLI and stop the exection when launching throught the cron event task.

We have this error on single site and multisite.

[code]
No errors displayed, no

[2022-03-23 11:20] dakkafex commented on #4753
Any progress on this? its impossible to install or update the plugin right now.

[2022-03-23 11:21] NataliaDrause commented on #4628
Possibly related: https://secure.helpscout.net/conversation/1823010154/332975?folderId=3864740
Although images above the fold are affected as well.

From the customer:

[2022-03-23 12:55] worldwildweb commented on #4628
possibly related https://secure.helpscout.net/conversation/1823193955/333037/

[2022-03-24 11:44] DahmaniAdame commented on #4802
Related - [https://secure.helpscout.net/conversation/1824377026/333287/](https://secure.helpscout.net/conversation/1824377026/333287/)

Used CSS average 200kb. 
​35k items. 
​That's 7Gb worth of data on the database.

[2022-03-24 12:30] NataliaDrause commented on #928
Related: https://secure.helpscout.net/conversation/1800185693/328586/

[2022-03-24 13:53] Alex43515 opened #4851 "Delay JS - TuneFindForFans script exclusion"
**Before submitting an issue please check that you’ve completed the following steps:**

- [ ]  Made sure you’re on the latest version: 3.10.8
- [ ] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When the Delay JavaScript Execution feature is on and the TuneFindForFans script is added to the site the player and ads are not showing up on the page:

h

[2022-03-24 16:06] AlexMnrs commented on #4072
Same problem here.

Hosting - Alojared

[2022-03-24 17:15] #4669 closed, assigned to remyperona

[2022-03-24 17:15] #4574 closed, assigned to remyperona

[2022-03-24 17:30] #3979 closed, assigned to remyperona

[2022-03-24 17:30] #4549 closed, assigned to remyperona

[2022-03-24 17:30] #4554 closed, assigned to remyperona

[2022-03-24 17:40] #3887 closed, assigned to nobody

[2022-03-25 04:20] LetterAfterZ commented on #3504
I'm also having this issue. I tried adding a callback script to run the installed on our server, but I get errors because we're running php 8.0:

[code]

[2022-03-25 05:58] DahmaniAdame commented on #2713
Related - https://secure.helpscout.net/conversation/1823206921/333041/

[2022-03-25 09:47] DahmaniAdame commented on #1847
Related - https://secure.helpscout.net/conversation/1824290949/333267

[2022-03-25 09:59] DahmaniAdame commented on #1847
A possible enhancement is to set a case for hosting services were we don't manage the cache to limit `is_already_cached()` to check if our signature is present on the DOM. 

[code]

Or a hosting-specific check by looking for the value of their cache headers. 

For example for Kinsta, if `x-kinsta-cache` returns a `HIT`, we set the result of `is_already_cached()` as true to bail out of the preload

[2022-03-25 10:22] djohn151 opened #4858 "Ensure text remains visible during webfont load. Version: 3.10.9"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Since WP Rocket version 3.10.9 the following error is displayed in page speed tools: "Ensure text remains visible during webfont load."

This problem occurs when elementor a

[2022-03-25 10:55] codepuncher opened #4859 "[3.11] Fatal error due to incorrect `woocommerce/action-scheduler` installation"
**Before submitting an issue please check that you’ve completed the following steps:**
- ~~Made sure you’re on the latest version~~
- ~~Used the search feature to ensure that the bug hasn’t been reported before~~

**Describe the bug**
Installation of v3.11 requires `woocommerce/action-scheduler` as a dependency in [`composer.json`](https://github.com/wp-media/wp-rocket/blob/develop/composer.json#L

[2022-03-25 11:05] mehedihasanziku commented on #4858
Expected Reason:

Now here #4760 excluded elementor post css from combine/minify, and it's fails to apply swap because swap will apply only if they passed through minify/combine #3375
another issue will happen due to this #4806

[2022-03-25 11:17] tombroucke commented on #4859
All my continuous deployments are also failing cause of this issue. They are running the latest versions of WooCommerce & WP Rocket. Dependencies & plugins are installed through composer (Bedrock).

[2022-03-25 12:22] SuperHanss commented on #4858
Can confirm this was introduced with 3.10.9

I've since discovered Elementor has a [filter](https://developers.elementor.com/elementor-pro-2-7-custom-fonts-font-display-support/?utm_source=google&utm_medium=cpc&utm_campaign=11138809851&utm_term=&gclid=Cj0KCQjw0PWRBhDKARIsAPKHFGiOUYAuy3qakY2sF0AWkFSq3z5KzLUiqRfhs28LN2OhkbsV9m-tWgMaAqCvEALw_wcB) which can be used to configure font-display.

[2022-03-25 13:49] codepuncher commented on #4859
Update:
I have narrowed this down to being caused by an overriding `installer-paths` property in our `composer.json`.

We are using Bedrock (as is @tombroucke), and our `composer.json` instructs all packages of `type` `wordpress-plugin` to be **moved** into `web/app/plugins/`.

As a result, `woocommerce/action-scheduler` will be moved here.

The workaround is to add another overriding installer pa

[2022-03-25 14:29] remyperona commented on #4859
We're going to move a copy of Action Scheduler into our repository instead of depending on composer, that will avoid any pathing issue.

[2022-03-25 15:06] codepuncher commented on #4859
Great, thanks.
Is there an ETA yet for the bug fix?

[2022-03-25 16:59] #4859 closed, assigned to engahmeds3ed

[2022-03-26 12:57] DahmaniAdame opened #4865 "Compatibility with Fluent Forms Pro file upload (JS defer and Delay JavaScript Execution)"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.10.9`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When Delay JavaScript Execution is used with Fluent Forms, it won't submit until the jQuery library is excluded from deferring.

[code]

If the form contain

[2022-03-26 13:14] DahmaniAdame commented on #4865
Related - [https://secure.helpscout.net/conversation/1825669355/333515/](https://secure.helpscout.net/conversation/1825669355/333515/)

Excluding jQuery fixed this one.

[2022-03-26 13:57] DahmaniAdame commented on #4597
Related - [https://secure.helpscout.net/conversation/1805696754/329611/](https://secure.helpscout.net/conversation/1805696754/329611/)

`$host` is pointing to a totally different name.

[https://github.com/wp-media/wp-rocket/blob/7efe5e0c685884f99cf54e6fc6b178a1a98fc256/inc/classes/Buffer/class-config.php#L194](https://github.com/wp-media/wp-rocket/blob/7efe5e0c685884f99cf54e6fc6b178a1a98fc256/inc

[2022-03-26 14:32] TorbenLundsgaard commented on #3142
This issue is clearly worse since version 3.10.9 where the delay script was updated

[2022-03-26 18:39] DahmaniAdame commented on #3348
Related - https://secure.helpscout.net/conversation/1826988775/333761

[2022-03-26 18:44] DahmaniAdame commented on #3274
Related - https://secure.helpscout.net/conversation/1826988775/333761

[2022-03-28 05:22] vmanthos commented on #4789
@Tabrisrp I've tested this on my local site and I got the following:
[code]

when I logged the value of `$feed_uri`:
[code]

[2022-03-28 07:46] mehedihasanziku commented on #4216
Dom Visualization: ![ezgif-1-cd1d1cdfb3](https://user-images.githubusercontent.com/48652123/160350029-ceff39aa-0b35-4412-9926-ae9526d5fcf1.gif)

This is what exactly happening in dom with elementor sticky and topbar. This working perfectly with competitor feature Permatters, here still this bug has no update.

Excluding is not a solution. it should work like works in competitor feature.

[2022-03-28 09:35] simkoG opened #4866 "WordPress database error / Duplicate key name 'queue_name_index'"
**Before submitting an issue please check that you’ve completed the following steps:**
- <del>Made sure you’re on the latest version</del> ✔ v3.11.0.1
- <del>Used the search feature to ensure that the bug hasn’t been reported before</del> ✔ 0 open / 0 closed

**Describe the bug**
There are plenty of error entries that have been written in my site's LOG file about the WP-Rocket Used CSS feature.

*

[2022-03-28 09:36] simkoG commented on #4866
FYI: the "REMOVE UNUSED CSS (BETA)" function **is not used** on this site.

[2022-03-28 10:11] piotrbak commented on #4775
@Michaelgimii are the things better after applying the above fix?

[2022-03-28 10:15] javiergutierrezchamorro commented on #4775
I think so.

[2022-03-28 10:16] piotrbak commented on #4716
@warudin thank you... Nothing special on our side there, we made 14 requests to the website in 2 minutes, it shouldn't overload any server.

[2022-03-28 10:18] piotrbak commented on #4686
@mediacerebri Are you still experiencing this problem? If so, were you able to reach our support?

[2022-03-28 10:34] Michaelgimii commented on #4775
@piotrbak , yes thank you

[2022-03-28 10:38] 79ho3ein commented on #4663
hi @piotrbak , Is it roughly clear when this feature will be released? Another question is, what images are preloaded in this feature? For example, are the images on the main page or the images of the products in the product archive or even the images of the products on the product page included in this preload?

thank you

[2022-03-28 10:46] piotrbak commented on #4663
@79ho3ein It's not implemented yet. It'll preload necessary images automatically.

[2022-03-28 10:59] 79ho3ein commented on #4663
Thank you for your answer @piotrbak

[2022-03-28 11:29] #3830 closed, assigned to nobody

[2022-03-28 11:39] piotrbak opened #4867 "Change the deactivation intent UI"
**Is your feature request related to a problem? Please describe.**
Right now we display a short poll but answers are not useful at all. Moreover, we had a discussion about the usage of mixpanel:
https://github.com/wp-media/wp-rocket/issues/1959

**Describe the solution you'd like**
We'd like to redesign the deactivation intent poll based on the following graphics:
![Popin - Snooze - 2](https://use

[2022-03-28 11:58] #4775 closed, assigned to nobody

[2022-03-28 13:24] piotrbak opened #4868 "CDN exclusions are not reflected in Used CSS"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When using CDN and RUCSS, CDN exclusions are not taken into the consideration.

**To Reproduce**
1. Enable CDN for all files
2. Enable RUCSS
3. Exclude URL from CDN (URL exi

[2022-03-28 13:29] piotrbak opened #4869 "It's possible to Combine CSS when RUCSS is active"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
There are two scenarios when it's possible to enable the Combine CSS when RUCSS is active:
1. Import settings from the previous version with Combine CSS enabled
2. Enable Co

[2022-03-28 17:00] Glifaus commented on #4866
Hi! i have the same database error. The error log is plenty of this. I dont have the remove unused css(beta) but try it for a moment.

-   Latest Version: 3.11.0.1

Here's and error example:![image](https://user-images.githubusercontent.com/34657530/160449192-bd676112-facf-41e9-8c63-17ac99bcbe6a.png)

[2022-03-28 19:55] remyperona commented on #4867
### Scope a solution ✅
- Move the class `classes/admin/deactivation/class-render.php` to `Engine/Admin/Deactivation/Render.php`
- Update the instantiation of the class in `Engine/Admin/ServiceProvider`

in `Engine/Admin/Deactivation/DeactivationIntent`
- Remove the mixpanel function and remove the entry in the subscribed events array
- Add a new method to enqueue the CSS/JS for the modal on the pl

[2022-03-28 20:12] remyperona commented on #4866
@engahmeds3ed Do you have an idea how this issue could happen, and how to replicate it? Could it be the table version not updated in the DB?

[2022-03-28 20:22] remyperona commented on #4868
Do we have a concrete example of this issue? The code to handle CDN rewrite in the used CSS didn't change in 3.11.

Was it reported before we modified the code to regenerate the used CSS after changing CDN values?

[2022-03-28 20:28] remyperona commented on #4818
@piotrbak Plugin with 800 installs and not updated since 6 years, maybe we don't need an automatic compatibility for it?

[2022-03-28 20:30] remyperona commented on #4059
We will need the same link to the french doc, and also the article IDs for both english and french

[2022-03-28 21:18] remyperona commented on #3720
### Reproduce the issue ✅
Reproduced the issue

### Identify the root cause ✅
PDF files are not excluded from preloading currently in the preload script configuration. Same for the reported doc/docx/xls.

### Scope a solution ✅
The quick and easy solution would be to add the pdf, doc, docx and xls extensions to the `$images_ext` variable value in `Engine/Preload/Links/Subscriber:get_preload_links_

[2022-03-28 21:23] remyperona commented on #4032
### Reproduce the issue ✅
Reproduced

### Identify the root cause ✅
We deregister the script when the settings is on disabled, but it's used as a dependency for other files, so it's going to cause this error.

### Scope a solution ✅
The solution is in 2 parts:
- Create an empty `heartbeat.js` file in our `assets/js` folder.
- When we deregister the core heartbeat script, enqueue the empty one with

[2022-03-29 05:32] vmanthos commented on #4161
**Related ticket:** https://secure.helpscout.net/conversation/1829610497/334178?folderId=2135277

[2022-03-29 06:29] vmanthos commented on #4866
**Related ticket:** https://secure.helpscout.net/conversation/1829860304/334208/

I requested credentials to investigate this. I'll update the thread with my findings.

[2022-03-29 08:13] butchero commented on #4829
I have the same problem! WP-Rocket Lazy Load + owl carousel. The problem is present only on Firefox.

[2022-03-29 08:16] NataliaDrause commented on #4865
Related: https://secure.helpscout.net/conversation/1828068443/333927?folderId=3864740

[2022-03-29 08:31] vmanthos commented on #3142
**Related ticket:** https://secure.helpscout.net/conversation/1828939828/334083?folderId=2135277

[2022-03-29 08:58] Mai-Saad commented on #2375
Another scenario:
1- Enable AMP transitional mode
2- Enable the WebP compatibility option and save
3- Access the AMP page i.e https://rocketlabsqa.ovh/football-soccer/?amp
4- Check source after refresh multiple times => no timestamp is added there

[2022-03-29 10:08] piotrbak commented on #4818
@Tabrisrp You are totally right, sorry for that.

@DahmaniAdame Closing it since the plugin is not maintained anymore.

[2022-03-29 10:08] #4818 closed, assigned to nobody

[2022-03-29 10:11] vmanthos opened #4870 "Delay JS - WP Google Map Pro compatibility"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅`3.10.9`
- Used the search feature to ensure that the bug hasn’t been reported before ✅
The plugin is a different version - "Gold", from the one in #4481.

**Describe the bug**

When:

1. A map is added using the [WP Google Map Pro](https://www.wpmapspro.com/) plugin.
2.

[2022-03-29 14:53] NataliaDrause commented on #3142
related: https://secure.helpscout.net/conversation/1821353471/332640?folderId=3864740

[2022-03-29 14:59] Mai-Saad opened #4871 "Inline script is rewritten to CNAME in certain cases"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.11.0.1
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When using certain markup for the inline script and NoScript, the URL is written to CNAME also it shouldn't

**To Reproduce**
Steps to reproduce the behavior:
1.

[2022-03-29 15:54] NataliaDrause commented on #2698
Related: https://secure.helpscout.net/conversation/1830018487/334238?folderId=3864740

[2022-03-29 15:59] remyperona commented on #4871
The same URL is present in a regular image in this template HTML. When we rewrite to the CDN, we rewrite all occurrences of the matched URL in the HTML, wherever it is (because an URL could be repeated multiple times for some reasons).

So this is expected to happen here.

[2022-03-29 16:18] remyperona commented on #4868
### Scope a solution ✅
As discussed during the standup, we can modify the moment we apply CDN on the used CSS to avoid this issue, and also avoid having to clear the used CSS when changing one of the CDN options.

To do so, we need to move the `apply_filters( 'rocket_usedcss_content', $css );` from `check_job_status()` to `get_used_css_markup()`.

We also can remove the `clean_used_css_with_cdn()`

[2022-03-30 07:06] warudin commented on #4716
Hi Piotrek,

I can agree with you that it shouldn’t overload a server, but it unfortunately it does.
Is there anything special about the requests that could make them more burdening for the server?
The page has not been cached at that moment, so that’s part of the problem but probably necessary.

--

Met vriendelijke groet,

Dominique Pijnenburg

***@***.***
+31 (0) 13 - 782 0130

Bezoek- & postad

[2022-03-30 07:52] vmanthos commented on #4161
**Related tickets:**

https://secure.helpscout.net/conversation/1830612645/334386
https://secure.helpscout.net/conversation/1831185618/334466
https://secure.helpscout.net/conversation/1829942327/334218

[2022-03-30 08:39] NataliaDrause commented on #3348
Related: https://secure.helpscout.net/conversation/1829844198/334206?folderId=3864740

[2022-03-30 10:30] DahmaniAdame opened #4874 "Allow Delay JS script fallback to previous version"
**Is your feature request related to a problem? Please describe.**
When changes are done to the Delay JS script, issues might arise that will require to use of the previous version of WP Rocket to temporary fix them.

This might lock users on an old version of WP Rocket if the issue doesn't have yet a solution. Or force them to disable Delay JS to use the latest version of WP Rocket.

**Describe t

[2022-03-30 10:33] DahmaniAdame commented on #3142
Related - https://secure.helpscout.net/conversation/1820111756/332448/
The issue is more accentuated on `3.10.9` when compared with `3.10.8`. The click fails to trigger way more often vs occasionally on the previous version.

[2022-03-30 11:18] DahmaniAdame commented on #4703
Related ticket - https://secure.helpscout.net/conversation/1827521697/333828/

The `wp` is called by the menu.

[code]

From [/colibri-page-builder-pro/extend-builder/assets/static/js/theme.js](https://gist.github.com/DahmaniAdame/74f6dc3e7d832fe2c3334890190522af#file-theme-js-L8372-L8374)

[2022-03-30 12:17] vmanthos opened #4875 "Varnish's cache isn't cleared when clearing page-specific used CSS"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.11.0.1`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When clearing the used CSS for a specific URL, the cache of the URL is properly cleared:
https://github.com/wp-media/wp-rocket/blob/37eaa0016d79c21fbdc3bfc32

[2022-03-30 14:51] camilamadronero-zz commented on #4059
**English**
https://docs.wp-rocket.me/article/1321-critical-css-issues-fouc#use-fallback-critical-css
5ec5c4072c7d3a5ea54b7de7

**French**
https://fr.docs.wp-rocket.me/article/1327-problemes-critical-css-fouc#critical-path-css-de-secours
5edf8a5504286306f804e1dc

[2022-03-30 19:09] piotrbak opened #4876 "Add prefix to safelisted items during the update"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
In the previous approach of RUCSS safelist worked a bit differently. Support Team was using `.class` to safelist the following CSS: `.parent .class{}`. Now we need either fu

[2022-03-30 19:48] remyperona commented on #4059
### Scope a solution ✅
In `Engine/Admin/Beacon:get_suggest()`, add a new entry to the array:
[code]

in `Engine/Admin/Settings/Page:assets_section()`, use the fallback_css value for the CSS fallback field, instead of the async CSS one.

### Estimate the effort ✅
Effort `[XS]`

[2022-03-30 20:27] alfonso100 opened #4877 "Support older versions of Action Scheduler"
**Before submitting an issue please check that you’ve completed the following steps:**
Yes - Made sure you’re on the latest version
Yes - Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When other plugins are using older versions of **Action scheduler** (below 3.3) it causes a fatal error:

`
Fatal error: Uncaught Error: Call to undefined function W

[2022-03-30 20:33] engahmeds3ed commented on #4877
https://secure.helpscout.net/conversation/1831206396/334473?folderId=273768

Another conflict with [imageseo](https://wordpress.org/plugins/imageseo) plugin.
They are loading the action scheduler with older version 3.1.6 and we use the latest one 3.4.0 and because they are loaded before us, they load the action scheduler from there and ours will be bypassed.
https://plugins.trac.wordpress.org/brow

[2022-03-30 21:11] alfonso100 commented on #2409
Related: https://secure.helpscout.net/conversation/1831666216/334578/

[2022-03-31 05:33] vmanthos commented on #4877
**Related ticket:** https://secure.helpscout.net/conversation/1828622976/334011/

In this case, it's the [WooCommerce Smart Coupons](https://woocommerce.com/products/smart-coupons/) plugin that's using an outdated version of the Action Scheduler (3.1.6).

They are loading that in `/includes/class-wc-smart-coupons.php` with a priority of `-1`:
[code]
Changing that value to `11` allowed both plugins

[2022-03-31 10:07] NataliaDrause commented on #4518
The same error caused by the Strong Testimonial Plugin: https://strongtestimonials.com/

Ticket: https://secure.helpscout.net/conversation/1829916569/334214/

Error:
[code]

[2022-03-31 10:26] NataliaDrause commented on #4518
I reported the above-mentioned error to the Strong Testimonials team.
Ticket: https://secure.helpscout.net/conversation/1832468964/334814/

[2022-03-31 10:47] engahmeds3ed commented on #4877
# Grooming

## Reproduce the problem
Yes I saw it multiple times at customers' sites.

## Identify the root cause
The problem with full details are described here: https://developer.woocommerce.com/2021/10/12/best-practices-for-deconflicting-different-versions-of-action-scheduler/

## Scope a solution
We need to check if function `as_has_scheduled_action` exists otherwise use the function `as_next

[2022-03-31 12:54] engahmeds3ed commented on #4877
@wp-media/productrocket do u think we need to show admin notice when this conflict is detected or even health check message?

[2022-03-31 13:04] piotrbak commented on #4877
@engahmeds3ed If we're able to preserve 100% of our functionality, I don't think we'll need to inform customers about that 🤔

[2022-04-01 08:49] GeekPress commented on #4874
This isn't something we will do. We must fix the problem, instead of using another version of the script. it will benefit everybody.

[2022-04-01 08:49] #4874 closed, assigned to nobody

[2022-04-01 08:50] GeekPress commented on #4832
Hi,

We won't change our minds about how our Delay JS feature is working. We plan to revamp the UI to make it easier to use.

[2022-04-01 08:50] #4832 closed, assigned to nobody

[2022-04-01 08:57] GeekPress commented on #4797
Hi @jazir5

Thanks for your suggestion.

If you didn't find any solutions to do this, it's not a surprise.

Why?
Remove Unused JavaScript automatically isn't something that can be done without breaking your website and being accurate. It's totally different than the CSS where we can guarantee to work most of the time.

This is why we decided to fix that problem by delaying JavaScript execution. We

[2022-04-01 08:57] #4797 closed, assigned to nobody

[2022-04-01 10:50] vmanthos opened #4881 "Disable Avada's combination features when Remove Unused CSS is active (>3.11)"
**Is your feature request related to a problem? Please describe.**

When customers who are using Avada have its CSS/JavaScript combination features active, it won't be possible for them to benefit from the compatibility additions we are making in the RUCSS back-end.

This is because it depends on detecting specific files (CSS or JavaScript) to add the CSS selectors we found.

**Describe the soluti

[2022-04-01 11:47] DahmaniAdame opened #4882 "Compatibility with AffiliateWP"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
AffiliateWP requires pages where their shortcodes were used to be excluded from cache.

The [Affiliate Area page](https://docs.affiliatewp.com/article/693-affiliatea

[2022-04-01 14:14] alfonso100 opened #4883 "Automatically clear the _wpr_rucss_resources table after updating WP Rocket to > 3.11"
**Before submitting an issue please check that you’ve completed the following steps:**
yes - Made sure you’re on the latest version
yes - Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When a site was running WP Rocket 3.10.9, the table `_wpr_rucss_resources` is not cleared after an update to 3.11 version

**To Reproduce**
Steps to reproduce the be

[2022-04-01 14:30] remyperona commented on #4883
It was requested from the product team that we don't truncate the table on update, in case the user rollback and returns to the previous RUCSS system.

The table will be cleaned-up by the cron task that is deleting resources not accessed since 30 days, so that should be solved automatically after some time on 3.11.

[2022-04-01 14:32] #4753 closed, assigned to remyperona

[2022-04-01 17:49] engahmeds3ed commented on #4866
I tried too many scenarios but I'm not able to reproduce it.
We can guard against it by checking if the `queue_name_index` index exists before creating it and bailout if it exists.

[2022-04-02 10:59] DahmaniAdame commented on #4866
Related - https://secure.helpscout.net/conversation/1834647242/335224/

[2022-04-02 21:41] 79ho3ein opened #4887 "remove unused image feature in wp-rocket"
**Describe the solution you'd like**

hi

In WordPress, if we delete an image from the media section, that image will still remain in the uploads folder. The reason for this is that after uploading each image, WordPress automatically creates several different sizes of that image. When we delete an image from the media section, only the original version of that image is deleted. But the image versi

[2022-04-03 06:15] DahmaniAdame commented on #3802
Related - https://secure.helpscout.net/conversation/1826988775/333761/

[2022-04-03 07:29] DahmaniAdame commented on #4830
Related - https://secure.helpscout.net/conversation/1833892152/335095/
@piotrbak any reason why the status is blocked?

[2022-04-04 09:24] piotrbak commented on #4830
@DahmaniAdame We're not touching things related to preload until the rewrite of the preload module. If the problem continues and grows, we might change the priorities though.

[2022-04-04 13:47] #4877 closed, assigned to engahmeds3ed

[2022-04-04 13:48] #4866 closed, assigned to engahmeds3ed

[2022-04-04 14:33] CrochetFeve0251 commented on #4271
@vmanthos I will fix the issue with unit and integration testing checking that it excludes the file beacuse I don't have the plugin.
However if you have the plugin share it to me so I can check if the solution doesn't produce another JS error

[2022-04-04 15:30] #4876 closed, assigned to remyperona

[2022-04-04 18:46] htl-james commented on #4851
That's because this script uses document.write.  If you want to delay it, you should put it in an iframe.  It's designed to be inserted by an adserver like Google Ad Manager.  This isn't necessarily an issue with wp-rocket, the script isn't designed to be loaded asynchronously.

[2022-04-04 18:54] alfonso100 commented on #4161
Related cases:
https://secure.helpscout.net/conversation/1833086760/334928/
https://secure.helpscout.net/conversation/1835978497/335476/

[2022-04-04 20:22] webtrainingwheels commented on #4231
Related: https://secure.helpscout.net/conversation/1835816307/335417?folderId=273766

[2022-04-04 21:58] camilamadronero-zz commented on #3718
New ticket https://secure.helpscout.net/conversation/1835826416/335419/

[2022-04-05 00:44] webtrainingwheels commented on #3142
Related with 3.10.9
https://secure.helpscout.net/conversation/1835702047/335384?folderId=377611

[2022-04-05 05:44] vmanthos commented on #4271
@CrochetFeve0251 Unfortunately, I don't have that plugin.

[2022-04-05 06:14] vmanthos commented on #2068
**Related ticket:** https://secure.helpscout.net/conversation/1824950567/333384/

This is for a custom post type created by the Divi Mega Pro plugin.

[2022-04-05 08:08] CrochetFeve0251 commented on #4271
@vmanthos Nvm I tested the exclusion and I think that gonna be enough

[2022-04-05 08:18] DahmaniAdame opened #4892 "Prevent rocket_clean_post from processing excluded pages to avoid cache clearing loops"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version [x]
- Used the search feature to ensure that the bug hasn’t been reported before [x]

**Describe the bug**
We are not checking if the item processing by rocket_clean_post() is excluded from cache.

This will create a cache clearing loop when preload is active on certain c

[2022-04-05 08:42] viobru commented on #4231
Related: https://secure.helpscout.net/conversation/1834843919/335254/

[2022-04-05 11:47] CrochetFeve0251 commented on #3499
@GeekPress Is this problem still actual? Because I tried to reproduce the issue but the CSS minify normally on my local environnement even if I set WP_CONTENT_URL constant.

[2022-04-05 12:37] piotrbak commented on #4887
Hello @79ho3ein thank you for creating the issue.

This sounds like an issue with the WordPress core itself. Were you able to create a ticket on the official repo?
https://core.trac.wordpress.org/

[2022-04-05 12:44] vmanthos opened #4894 "Defer JS prevents LegalBlink's cookie banner from being displayed"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.11.0.2`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

The cookie banner is not displayed when **Defer JavaScript files** is active.

Excluding the following fixes the issue:
`/api/scripts/lb_cs.js`

**To Reprodu

[2022-04-05 13:17] CrochetFeve0251 commented on #4868
@Tabrisrp While solving this issue I discovered that there are no tests for the class Optimization\RUCSS\Controller, should I create some to test that case?

[2022-04-05 14:54] viobru commented on #3142
Related: https://secure.helpscout.net/conversation/1836254774/335539/

[2022-04-05 17:30] juricazuanovic commented on #4628
Related: https://secure.helpscout.net/conversation/1833655799/335026/

[2022-04-05 19:29] remyperona opened #4896 "Update our test suite to work with PHPUnit 8/9"
The goal is to do any changes necessary so that our test suite can be used with PHPUnit 8 and 9, which will avoid having to ignore platform requirements with PHP 8/8.1.

[2022-04-05 19:50] 79ho3ein commented on #4887
hi @piotrbak , thanks for your response. I will definitely do that. Thank you!

[2022-04-05 19:50] #4887 closed, assigned to nobody

[2022-04-06 09:20] vmanthos opened #4898 "Minify JS - usercentrics cookie banner isn't displayed"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.11.0.2`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

The [usercentrics](https://usercentrics.com/) cookie banner is not displayed when Minify JavaScript files is active, and the file is stored locally (no error

[2022-04-06 10:50] bonakor opened #4900 "Installing with Composer is not possible because of Monolog"
**Describe the bug**
When I try to install Wp Rocket using Composer, I get this error:
[code]

**Additional context**
I'm using Bedrock in its latest version and php 8.0

**Backlog Grooming (for WP Media dev team use only)**
- [ ] Reproduce the problem
- [ ] Identify the root cause
- [ ] Scope a solution
- [ ] Estimate the effort

[2022-04-06 13:11] remyperona commented on #4900
Duplicate of #4105

[2022-04-06 13:11] #4900 closed, assigned to nobody

[2022-04-06 14:15] juricazuanovic commented on #4190
Related ticket: https://secure.helpscout.net/conversation/1838299316/335912

[2022-04-06 18:41] cooltronicpl opened #4902 "Preload is not creating CSS files properly mainly everytime with Unused CSS option"
I have a 3.10.9 WP Rocket newest to my configuration.
Only one of 100 executions CSS files are created properly with the Unused CSS option. It is created without Render Blocking and Unused CSS errors in Pagespeed after preloading periodically (1 to 100).
Affected website: https://cooltronic.pl

[2022-04-06 21:31] #4757 closed, assigned to CrochetFeve0251

[2022-04-07 08:10] worldwildweb commented on #3586
related https://secure.helpscout.net/conversation/1839518867/336088/

[2022-04-07 08:13] vmanthos commented on #4628
This is an issue that is affecting other plugins as well, e.g. Perfmatters, JetPack, Autoptimize, etc.

It has to do with the addition of support for native lazyloading in Safari 15.4:
https://developer.apple.com/documentation/safari-release-notes/safari-15_4-release-notes

If an `<img>` has `loading="lazy"` while our lazyload is applied, it will not be displayed, e.g.:
[code]

When our lazyload i

[2022-04-07 08:49] GeekPress commented on #4883
We will keep it as it is to anticipate a rollback to 3.10. If we truncate the table, the user will have to clear the used CSS to regenerate it. And they won't know they have to do this action.

This table will be removed in 3.12.

[2022-04-07 08:49] #4883 closed, assigned to nobody

[2022-04-07 08:57] GeekPress commented on #4455
We have decided to keep our actual behavior: clear the entire cache won't clear the Used CSS.

Why?
The need to clear the entire cache can be for so many reasons, and not related to a global CSS change. By the way, when a theme is updated, we already automatically clear the cache and regenerate Used CSS. We do the same when the user will switch to another theme.

If you did a change on your global

[2022-04-07 08:57] #4455 closed, assigned to nobody

[2022-04-07 09:12] GeekPress commented on #4881
@piotrbak Can this be scheduled for 3.11.2?

[2022-04-07 10:00] piotrbak commented on #4881
@GeekPress Yes, we'll need to explore other solutions that are combining resources too.

[2022-04-07 11:51] vmanthos commented on #4598
**Related:** https://secure.helpscout.net/conversation/1837137447/335708/

There is also the following Divi selector, that's causing a JavaScript error with `3.11`, and that should be preserved:
`divi-style-inline-inline-css`

We can add it here:
https://github.com/wp-media/wp-rocket/blob/4fd09b218760d854109843528da4f148e668d42b/inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php#L60-L68

The scr

[2022-04-07 11:54] piotrbak commented on #4598
@vmanthos Yes, thank you.

@wp-media/php Can we add it to the 3.11.0.3?

[2022-04-07 12:03] vmanthos commented on #4598
@piotrbak I can create the PR for this.

The real question here is if we want this behavior, i.e. still load that Divi file, given that we have already added the CSS from there in the used CSS.

FYI, on the specific site I checked, the "reduce unused CSS" recommendation isn't there despite loading that file:
![](https://i.vgy.me/jccPzp.jpg)

This is even when Divi's script (https://snippi.com/s/8m

[2022-04-07 12:12] piotrbak commented on #4598
@vmanthos How big is this file?

I don't think we have any other way, we can't cause any errors in JS console.

[2022-04-07 12:13] vmanthos commented on #4598
In this case, it was just ~2kb.

Agreed.

If we decide we don't want this behavior, we could disable the Divi feature that's adding the file, or - a more drastic solution, remove the script from the buffer when Remove Unused CSS is added.

[2022-04-07 12:15] piotrbak commented on #4598
Let's keep it simple. If we see that this file causes PSI warnings, we'll decide what's next.

[2022-04-07 13:26] #4804 closed, assigned to nobody

[2022-04-07 13:33] camilamadronero-zz commented on #4898
Will close https://github.com/wp-media/wp-rocket/issues/4734 too

[2022-04-07 18:45] webtrainingwheels commented on #2068
https://secure.helpscout.net/conversation/1839999608/336206?folderId=377611

[2022-04-08 07:34] CrochetFeve0251 commented on #3077
@piotrbak We have a problem concerning the grooming here and we discussed with @engahmeds3ed about it.
If the solution works for the changed version and the future ones this won't be applied to previous version that will be still running the old code.
Due to that we need to decide until where it is possible to rollback. Should it be until the updated version or until 2.3.7 that would the problem r

[2022-04-08 07:40] CrochetFeve0251 commented on #4660
@Tabrisrp looks like the [PR](https://github.com/woocommerce/woocommerce/issues/31636) linked with the issue  is merged and already in the last version from woocommerce: https://github.com/woocommerce/woocommerce/pull/31623 as last version is 6.3.1 and this was in the middlestone from 6.3.0.
Is this issue still blocked?

[2022-04-08 08:35] DahmaniAdame opened #4905 "Delay JavaScript Execution compatibility with the MinimalistBlogger"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.0.2`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When Delay JavaScript Execution is using with the theme [MinimalistBlogger](https://superbthemes.com/minimalistblogger/), the following error shows on the

[2022-04-08 10:38] vmanthos opened #4907 "RUCSS - <link> elements with rel="preload" aren't removed"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.11.0.2`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

After tree-shaking we remove all `<link>` elements:
https://github.com/wp-media/wp-rocket/blob/be49310eb009ecef984a68bd0465453463a95782/inc/Engine/Optimizati

[2022-04-08 10:39] piotrbak commented on #4907
@vmanthos Isn't this a duplicate of?
https://github.com/wp-media/wp-rocket/issues/4284

[2022-04-08 10:43] vmanthos commented on #4907
Yes, it is. I missed it. 😅

[2022-04-08 10:43] #4907 closed, assigned to nobody

[2022-04-08 10:44] vmanthos commented on #4284
**Related ticket:** https://secure.helpscout.net/conversation/1837121277/335702/

[2022-04-08 15:24] juricazuanovic commented on #4072
Related: https://secure.helpscout.net/conversation/1838506637/335960/

[2022-04-08 16:57] GeekPress commented on #3499
Nobody reported this problem. It seems to be an edge case which happens very rarely.

I'm closing the issue, as we don't need to fix it, and the workaround is easy on the user side to follow the WordPress standard.

[2022-04-08 16:57] #3499 closed, assigned to CrochetFeve0251

[2022-04-08 16:58] GeekPress commented on #4902
Hi @cooltronicpl

Please contact our support here: https://wp-rocket.me/support/

We will be happy to help you.

[2022-04-08 16:58] #4902 closed, assigned to nobody

[2022-04-09 01:05] alfonso100 commented on #4707
Related ticket: https://secure.helpscout.net/conversation/1836096847/335502?folderId=2683093

In this case, the website has a **mu-plugin** that disables **page caching**, and preloading, using our pre_get_rocket_option_ filters, which prevents our options from being enabled: https://snippi.com/s/61llnu2

The plugin is located at:` /wp-content/mu-plugins/wp-rocket-no-cache.php`
​
They are using th

[2022-04-09 08:18] DahmaniAdame opened #4910 "Enable rewrite rules on multisite"
**Is your feature request related to a problem? Please describe.**
WP Rocket disables rewrite rules on multisite environments.

https://github.com/wp-media/wp-rocket/blob/be49310eb009ecef984a68bd0465453463a95782/inc/functions/htaccess.php#L169-L172

https://github.com/wp-media/wp-rocket/blob/be49310eb009ecef984a68bd0465453463a95782/inc/functions/htaccess.php#L294-L297

In some cases, the overhead

[2022-04-09 09:45] GeekPress commented on #4910
It's not something we will do as it's very complex to add rewrites rules for multisite. Each site can have its own rules and lead to a big htaccess. It will also have a bad impact on performance.

Based on our data, multisite users are less than 1%. We will not complexify our rewrite rules for this % of users.

[2022-04-09 09:45] #4910 closed, assigned to nobody

[2022-04-09 12:57] jcatello commented on #4707
We need to disable preloading, we've seen too many cases where WP Rocket basically DOS's the server and brings the site down.  What approach are you suggesting?

[2022-04-09 14:11] alfonso100 commented on #4802
related - https://secure.helpscout.net/conversation/1837014809/335667
Used CSS is 150-180kb
6300kb posts,
around 1.2gb of database storage

[2022-04-10 10:29] twwn commented on #2441
Still seeing this with v3.11.0.2.

[2022-04-11 08:43] vmanthos commented on #4792
On a site I checked, the font "Barlow" that was preserved in the used CSS and that should be used, was overridden by the one added from Divi's dynamic CSS feature: https://youtu.be/3zPqw5QTMYc

Although not breaking the site, the only solution was to disable the following Divi features:
![](https://i.vgy.me/WmYHiD.jpg)

**Related ticket:** https://secure.helpscout.net/conversation/1843557662/33673

[2022-04-11 10:17] CrochetFeve0251 commented on #4789
## Scope a solution :white_check_mark:
After checking the global variable is effectively present at this level of the code and is usable as it returns the right value.
However we can improve the solution readability by changing a bit the code proposed by @vmanthos.

An RSS file doesn't have to pass an `is_html` test and this could be confusing for the developer.

That why I propose this solution:

[2022-04-11 11:02] piotrbak commented on #4831
@DahmaniAdame Was it possible to resolve this problem with any exclusion?

[2022-04-11 11:09] piotrbak commented on #4769
@vmanthos Are you sure we should exclude all JS files under the `/photonic/include/js/front-end/`?

[2022-04-11 11:13] vmanthos commented on #4769
@piotrbak I had to exclude them when I checked this.

[2022-04-11 11:38] CrochetFeve0251 commented on #4765
@piotrbak this issue already has a PR should I pass it to ready for QA in the project?

[2022-04-11 11:40] piotrbak commented on #4765
@CrochetFeve0251 You're right, moving it there.

[2022-04-11 12:05] CrochetFeve0251 commented on #4905
## Reproduce the issue :heavy_multiplication_x:
Has I don't have [minimalistblogger](https://superbthemes.com/minimalistblogger/) I cannot reproduce the issue.

However from the informations you gave me I can clearly see that the problem comes from jQuery that is defined too late as .on is a common function from jQuery.

## Scope a solution :white_check_mark:
As jQuery is a common library widely u

[2022-04-11 12:11] piotrbak commented on #4905
@DahmaniAdame You mentioned here:
[code]
To confirm:
1. We can delay the jQuery without any problems
2. We need to always exclude from the DelayJS `/themes/minimalistblogger/js/script.js` script. It'll then work correctly when jQuery is delayed or not

[2022-04-11 12:59] CrochetFeve0251 commented on #4745
### Reproduce the issue :heavy_multiplication_x:
As we can't have a version from the plugin and the lite version from this plugin doesn't have any problem, we couldn't reproduce the problem.

That's why we asked to the dev team from the plugin if it is possible to have it and we are waiting their answer.

Due to that the solution found is temporary.
### Scope a solution ✅
As `window.wsf_form_json_

[2022-04-11 13:44] #4598 closed, assigned to remyperona

[2022-04-11 14:00] tombroucke commented on #4105
In the last few websites I published (Using Sage 10), WP Rocket is not installed because of this issue. roots/acorn requires illuminate/log^8.70, which in turn requires monolog/monolog^2.0.

Is this issue still on your roadmap?

If it's not, all of us who use Bedrock + Sage 10 will need to find another solution (One way would be to handle the plugin through satispress, hoping that the different mo

[2022-04-11 17:10] #4527 closed, assigned to jeawhanlee

[2022-04-11 17:10] #4020 closed, assigned to jeawhanlee

[2022-04-11 17:11] #4133 closed, assigned to CrochetFeve0251

[2022-04-11 17:12] #4171 closed, assigned to CrochetFeve0251

[2022-04-11 17:12] #4032 closed, assigned to jeawhanlee

[2022-04-11 17:23] #4759 closed, assigned to CrochetFeve0251

[2022-04-11 17:23] #4767 closed, assigned to CrochetFeve0251

[2022-04-11 18:01] #4758 closed, assigned to CrochetFeve0251

[2022-04-11 18:28] alfonso100 commented on #4707
cc/ @piotrbak here

I think a possible approach, instead of disabling the preload, would be to increase the Preload **crawl interval**:
https://docs.wp-rocket.me/article/8-how-the-cache-is-preloaded#crawl-interval

With a bigger interval, the CPU usage will be smaller.

We have a helper plugin you can use as a base if you're interested in testing this approach:
https://github.com/wp-media/wp-rocke

[2022-04-11 19:22] remyperona opened #4913 "New preload: settings update"
Sub-task of #2678

### `inc/admin/upgrader.php`
- remove `sitemap_preload`, `sitemap_preload_url_crawl` and `sitemaps` from `rocket_first_install()` array.

### `inc/admin/options.php`
- remove `sitemap_preload` and `sitemaps` from the `$removed` array in `rocket_after_save_options()`

### `inc/admin/admin.php`
- remove the sitemaps data from `rocket_analytics_data()`

### `inc/Engine/Admin/Settin

[2022-04-12 06:49] DahmaniAdame commented on #4831
@piotrbak unfortunately, no. As long as the page is loaded using AJAX, regardless of the exclusions used, it will still show the error.

It will add the second `class` `RocketLazyLoadScripts`, and the browser will consider it as a duplicate of the previously declared class.

Maybe we could safeguard the script using:

[code]

The previous declaration should still be able to handle the Delay JavaSc

[2022-04-12 09:03] CrochetFeve0251 commented on #4881
## Reproduce the issue
Reproducing the issue is a bit disorienting as there is not real error but you can check the existance from the combined CSS file in the page to see if the constant is working.
`/wp-content/uploads/fusion-styles/{hash}.min.css`
## Scope a solution
Avada is well design so the solution to disable combine file is quite simple:

Add a constant `FUSION_DISABLE_COMPILERS` and set

[2022-04-12 09:12] DahmaniAdame opened #4915 "Disable testing if cached files exist on hosting services where WP Rocket doesn't handle page cache"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.0.3`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
On hosting services where page cache is not handled by WP Rocket, we are still checking if the cache exists.

This might result in warnings when the URL v

[2022-04-12 10:09] remcokalf opened #4916 "Defer JS prevents FacetWP from working when debug mode is active"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**
The FacetWP plugin is not working when **Load JavaScript deferred** is active and FacetWP's **debug mode** is active.

I'm on the FacetWP team, and in support all our us

[2022-04-12 10:28] twwn commented on #4598
yields repeated

… and I can't downgrade, neat

[2022-04-12 10:51] twwn opened #4917 "Undefined $actionsheduler_* properties lead to database error"
**Describe the bug**
Log is now full of

**To Reproduce**
Steps to reproduce the behavior:
1. Update v3.11.0.2 → [v3.11.0.3](https://github.com/wp-media/wp-rocket/pull/4912)
2. Preload

**Expected behavior**
No errors

**Backlog Grooming (for WP Media dev team use only)**
- [ ] Reproduce the problem
- [ ] Identify the root cause
- [ ] Scope a solution
- [ ] Estimate the effort

[2022-04-12 11:33] 79ho3ein opened #4918 "Wp rocket plugin function"
**Describe the solution you'd like**

hi

I wanted to ask if wp-rocket optimizes only the Large (widely used) plugin code, or all the plugins? For example, all pages designed with elementor open very quickly. But pages I made with jet plugins are slower than element pages.
Does not wp-rocket optimize jet plugins code? If not, can you add support for jet plugins? jet plugins are available on almost

[2022-04-12 12:23] piotrbak commented on #3883
Closed with 3.11

[2022-04-12 12:23] #3883 closed, assigned to nobody

[2022-04-12 12:24] piotrbak commented on #3885
Closed with 3.11

[2022-04-12 12:24] #3885 closed, assigned to nobody

[2022-04-12 12:25] piotrbak commented on #3893
We won't fix this. We didn't receive any complaint about this + that kind of setup and exclusion seem to be an edge case.

[2022-04-12 12:25] #3893 closed, assigned to nobody

[2022-04-12 12:25] piotrbak commented on #3900
Closed with 3.11

[2022-04-12 12:25] #3900 closed, assigned to nobody

[2022-04-12 12:26] piotrbak commented on #3901
Closed with 3.11, WP Background Processing is not used anymore for RUCSS

[2022-04-12 12:26] #3901 closed, assigned to nobody

[2022-04-12 12:28] piotrbak commented on #3951
We haven't heard about this issue for almost one year already and we can't reproduce it. If you're still experiencing the issue, feel free to reopen it.

[2022-04-12 12:28] #3951 closed, assigned to nobody

[2022-04-12 12:31] piotrbak commented on #3962
Fixed with 3.11:
https://github.com/wp-media/wp-rocket/blob/63f649200fa3b5b81ec83812d3448eeeea28e464/inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php#L67

[2022-04-12 12:31] #3962 closed, assigned to nobody

[2022-04-12 12:32] piotrbak commented on #3963
Fixed with 3.11:
https://github.com/wp-media/nodejs-treeshaker/pull/55

[2022-04-12 12:32] #3963 closed, assigned to nobody

[2022-04-12 12:35] piotrbak commented on #3994
Closed with 3.11, warmup is not being used anymore

[2022-04-12 12:35] #3994 closed, assigned to nobody

[2022-04-12 12:39] piotrbak commented on #4052
@engahmeds3ed What do you think about this in the 3.11 approach? We have an easier way to replace the servers with new instances, right?

[2022-04-12 12:44] piotrbak commented on #4072
Closed with 3.11, we're not using the warmup anymore.

[2022-04-12 12:44] #4072 closed, assigned to engahmeds3ed

[2022-04-12 12:46] piotrbak commented on #4098
@mostafa-hisham can we set SaaS to go through the HTTP Auth? (asking just theoretically)

[2022-04-12 12:50] piotrbak commented on #4118
Closed with 3.11

[2022-04-12 12:50] #4118 closed, assigned to nobody

[2022-04-12 12:51] piotrbak commented on #4126
Closed by 3.11. The warmup is not used anymore.

[2022-04-12 12:51] #4126 closed, assigned to nobody

[2022-04-12 12:54] WordPresseur commented on #2409
Related: https://secure.helpscout.net/conversation/1843889589/336805/

[2022-04-12 13:02] piotrbak commented on #4147
We should have a better handling of those cases with 3.11. Leaving the issue opened and waiting for feedback.

[2022-04-12 13:04] piotrbak commented on #4145
Closed with 3.11. Confirmed the fix with the new SaaS

[2022-04-12 13:04] #4145 closed, assigned to nobody

[2022-04-12 13:05] piotrbak commented on #4161
This is fixed with 3.11 as we are not storing the data of CSS/JS files anymore.

[2022-04-12 13:05] #4161 closed, assigned to iCaspar

[2022-04-12 13:12] piotrbak commented on #4166
@mehedihasanziku this issue is solved in 3.11. You can use the following filters:
1. This [one](https://github.com/wp-media/wp-rocket/blob/63f649200fa3b5b81ec83812d3448eeeea28e464/inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php#L331) can be used in order not to remove the inline stylesheets based on the style attributes.
2. This [one](https://github.com/wp-media/wp-rocket/blob/63f649200fa3b5b

[2022-04-12 13:12] #4166 closed, assigned to nobody

[2022-04-12 13:14] piotrbak commented on #4173
This is eliminated thanks to the async approach in 3.11

[2022-04-12 13:14] #4173 closed, assigned to nobody

[2022-04-12 13:15] piotrbak commented on #4199
Fixed in 3.11. We don't use the resources table anymore.

[2022-04-12 13:15] #4199 closed, assigned to nobody

[2022-04-12 13:19] piotrbak commented on #4213
This is fixed in 3.11 as we are not using the warmup process anymore.

[2022-04-12 13:19] #4213 closed, assigned to nobody

[2022-04-12 13:19] piotrbak commented on #4215
Removing the `Remove Unused CSS` label as this is handled in 3.11

[2022-04-12 13:19] piotrbak commented on #4222
Fixed in 3.11, warmup is not used anymore.

[2022-04-12 13:19] #4222 closed, assigned to nobody

[2022-04-12 13:21] piotrbak commented on #4230
It's fixed in 3.11:
1. We're not using the WP Background Processing anymore
2. We're not warming up the resources

[2022-04-12 13:21] #4230 closed, assigned to nobody

[2022-04-12 13:29] piotrbak commented on #4258
Closed by 3.11. We are not warming up resources anymore.

[2022-04-12 13:29] #4258 closed, assigned to nobody

[2022-04-12 13:37] piotrbak commented on #4265
This is fixed in 3.11, confirmed with the provided template.

[2022-04-12 13:37] #4265 closed, assigned to nobody

[2022-04-12 13:44] piotrbak commented on #4285
It's fixed with 3.11

[2022-04-12 13:44] #4285 closed, assigned to iCaspar

[2022-04-12 13:52] piotrbak commented on #4316
Fixed with 3.11

[2022-04-12 13:52] #4316 closed, assigned to nobody

[2022-04-12 13:53] piotrbak commented on #4317
Fixed in 3.11 as we're not using the warmup anymore.

[2022-04-12 13:53] #4317 closed, assigned to nobody

[2022-04-12 14:12] piotrbak commented on #4327
In the new approach we need to check for both JavaScript and CSS combination. That's because we're looking for compatibility conditions within the CSS/JS files.

Another solution would be possible from AO side. @futtta 👋
Would it be possible not to apply AO features on the pages ending with query string `?nowprocket`?

If so, then we could make sure that features are compatible with RUCSS and we c

[2022-04-12 14:15] piotrbak commented on #4385
Fixed in 3.11 as the SaaS is different.

[2022-04-12 14:15] #4385 closed, assigned to nobody

[2022-04-12 14:16] piotrbak commented on #4404
Fixed by 3.11.

[2022-04-12 14:16] #4404 closed, assigned to nobody

[2022-04-12 14:21] piotrbak commented on #4437
Fixed in 3.11 as we're not using the resources table anymore.

[2022-04-12 14:21] #4437 closed, assigned to nobody

[2022-04-12 14:22] piotrbak commented on #4450
Fixed in 3.11, there's no progress bar anymore

[2022-04-12 14:22] #4450 closed, assigned to nobody

[2022-04-12 14:28] piotrbak commented on #4477
Fixed in 3.11

[2022-04-12 14:28] #4477 closed, assigned to nobody

[2022-04-12 14:31] futtta commented on #4327
:wave:
Maybe try with `?ao_noptirocket=1` @piotrbak, that should already work? ;-)

[2022-04-12 14:33] piotrbak commented on #4458
Fixed in 3.11

[2022-04-12 14:33] #4458 closed, assigned to nobody

[2022-04-12 14:38] piotrbak commented on #4672
Fixed with 3.11

[2022-04-12 14:38] #4672 closed, assigned to nobody

[2022-04-12 14:43] #4896 closed, assigned to remyperona

[2022-04-12 14:45] piotrbak commented on #4495
Fixed with 3.11

[2022-04-12 14:45] #4495 closed, assigned to nobody

[2022-04-12 14:45] piotrbak commented on #4557
Fixed with 3.11

[2022-04-12 14:45] #4557 closed, assigned to nobody

[2022-04-12 14:46] piotrbak commented on #4683
Fixed with 3.11

[2022-04-12 14:46] #4683 closed, assigned to nobody

[2022-04-12 14:47] piotrbak commented on #4700
Fixed with 3.11, we have autocompatibility for that.

[2022-04-12 14:47] #4700 closed, assigned to nobody

[2022-04-12 14:51] piotrbak commented on #4493
Fixed with 3.11

[2022-04-12 14:51] #4493 closed, assigned to nobody

[2022-04-12 15:01] piotrbak commented on #4327
Didn't know about this query string! Unfortunately, it might not work for us, as we need to make sure that we cover all products that have combination features :/

Moreover, during my tests I realised that AO combination feature is happening after we inject the Used CSS 😢  It ends up with AO's combined CSS file **above** our automatically preloaded fonts...

It would be great if it would be possib

[2022-04-12 16:47] futtta commented on #4327
Hmm, I'm not principally against adding `?nowprocket`, but given you'll probably have to ask other optimization plugin devs (as per "all products that have combination features") the same question, it would make sense to standardize on a non-branded "do not optimize" parameter (much like we standardized the `skip-lazy` class to disable lazyloading of an image back in 2020, @GeekPress or @Tabrisrp

[2022-04-12 17:05] remyperona commented on #4875
### Scope a solution ✅
As Vasilis stated, we need to hook `clean_file()` on `rocket_rucss_after_clearing_usedcss` action

### Estimate the effort ✅
Effort `[XS]`

[2022-04-12 17:29] remyperona commented on #4734
Duplicate of #4898

[2022-04-12 17:29] #4734 closed, assigned to nobody

[2022-04-13 06:07] vmanthos commented on #4917
**Related ticket:** https://secure.helpscout.net/conversation/1846462723/337203/

I have asked for credentials to investigate this.

[2022-04-13 06:42] DahmaniAdame opened #4919 "Delay JavaScript Execution compatibility with Rehub sticky/floating menu"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.0.3`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When Delay JavaScript Execution is used with the Rehub theme, the sticky menu is not adding the `.floating` sticky class among other missing dynamic class

[2022-04-13 08:34] DahmaniAdame opened #4920 "Remove Unused CSS is not processing CSS served as a query string"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.0.3`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Some themes generate CSS on the fly and serve a query string (not a PHP file with a query string, literally a query string).

Example from the ProPhoto th

[2022-04-13 09:39] NataliaDrause commented on #4917
Same case: https://secure.helpscout.net/conversation/1845318410/337077?folderId=3864740

[2022-04-13 10:13] piotrbak commented on #4920
@DahmaniAdame Could you tell me which scenario is happening exactly?
1. The `https://domain.ext/?pp_route=%2Fsite-custom-css&version=1649323597` is not removed from the source but its CSS is in the Used CSS
2. The `https://domain.ext/?pp_route=%2Fsite-custom-css&version=1649323597` is not removed from the source and its CSS is **not** in the Used CSS

[2022-04-13 10:18] santiagopuerta commented on #4917
I reported the same yesterday after update to V3.11.0.3 but it's only a warning :)

[2022-04-13 11:04] DahmaniAdame commented on #4920
@piotrbak it's **not added to the Used** and **not removed from the page**.
It's like it's just ignored.

[2022-04-13 13:25] remyperona commented on #4920
Currently the code on the plugin side to remove CSS from HTML only match when the `.css` is used

[2022-04-13 13:36] NataliaDrause commented on #4917
Related: https://secure.helpscout.net/conversation/1846750557/337281?folderId=3572159

[2022-04-13 15:28] #4728 closed, assigned to remyperona

[2022-04-13 15:28] #4842 closed, assigned to remyperona

[2022-04-13 15:39] CrochetFeve0251 commented on #4787
## Reproduce the issue :heavy_multiplication_x:
The plugin is not free and the free version doesn't have the problem. It is impossible for me to reproduce the issue.
## Scope a solution :white_check_mark:
As us_config is a name that is quite generic, I propose  to create a Thirdparty class for USMap that check in  `get_subscribed_events` check if the plugin is active and add:
`$events['rocket_dela

[2022-04-13 18:10] juricazuanovic commented on #3142
Related: https://secure.helpscout.net/conversation/1842091476/336583/

[2022-04-13 21:14] remyperona commented on #4917
We found that this issue happened on calls to `?wc_ajax=get_refreshed_fragments`, and our method in the WC subscriber to serve a cache of the empty cart.

Because the method is hooked on `after_setup_theme` and then dies, `init` is not fired, so the AS tables are not added to `$wpdb`. But the `shutdown` action is still fired, so the scheduling method is trying to read from something that was not i

[2022-04-14 00:57] androidacy-user opened #4925 "RUCSS completely ignores dynamically inserted content"
**Describe the bug**
When RUCSS is enabled, it only says css is "used" if it's used on completely static content. Content inserted via JavaScript dynamically is ignored. For our use case, "just add the classes to the ignore list" isn't feasible - between Font Awesome and Bootstrap 5, there's quite the handful of classes we add that do not get picked up by RUCSS.

**To Reproduce**
Steps to reproduc

[2022-04-14 05:21] vmanthos commented on #4231
Related: https://secure.helpscout.net/conversation/1835380625/335338?folderId=2135277

[2022-04-14 05:39] vmanthos opened #4926 "Minify JS - tarteaucitron.io cookie bar is not displayed"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅`3.10.0.3`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When tarteaucitron.io's script is stored locally their cookie notification bar isn't displayed.

Here is an example of that script: https://snippi.com/s/r85sx

[2022-04-14 07:23] worldwildweb commented on #3142
related: https://secure.helpscout.net/conversation/1844169714/336844/

[2022-04-14 09:31] fancyric opened #4927 "There is a problem with the Customize Query String Caching"
I want to implement the following function。The number following the key keyword is indeterminate。

example.com/about-us/?key123456
example.com/about-us/?key456412

// will BOTH receive the cache file from:
example.com/about-us/

I use the tutorial of the url below, it can only implement the cache of key=xxx, but not the cache of keyxxxxx.
https://docs.wp-rocket.me/article/1281-customize-query-stri

[2022-04-14 09:36] CrochetFeve0251 commented on #4881
@piotrbak I confirm there is no other usage from that constant in the code.

[2022-04-14 10:07] piotrbak commented on #4925
Hello @androidacybot thank you for creating the issue.

`Content inserted via JavaScript dynamically is ignored.`
This is not actually true, we're parsing the JavaScript on the websites too. Of course, there's always a place for improvements.

Have you already contacted our support team regarding your issue? We're investigating each case carefully to see if there's something we can do to improve o

[2022-04-14 10:13] piotrbak commented on #4927
Hello @fancyric and thank you for creating the issue. Have you already contacted our support team?

[2022-04-14 10:16] fancyric commented on #4927
not yet

[2022-04-14 13:54] futtta commented on #4327
Just added support for both `?no_cache` and `?no_optimize` in what will be AO 3.0.3 (minor release out tomorrow), see https://github.com/futtta/autoptimize/commit/dcbcfb5c0514ca05612fd999318fa3d048aace56

[2022-04-14 15:44] #4917 closed, assigned to remyperona

[2022-04-14 16:13] viobru commented on #3142
Related: https://secure.helpscout.net/conversation/1846834763/337294

[2022-04-14 18:16] remyperona opened #4930 "New preload: database part"
- Create a table to store the cacheable URLs, their cache status, the last accessed time, using BerlinDB
- Add a class to manage queries to this table:
    - add/update/delete URL
    - update cache status
    - delete not accessed URL

[2022-04-14 18:23] remyperona opened #4931 "New preload: admin part"
When enabling the preload option:
- use our 3rd party integrations to use the sitemap to pre-populate the table
- if none of the plugins creating sitemap are enabled, use the default WordPress sitemap
- parse the sitemap to extract the URLs using an async task with action scheduler
- if the sitemap is a combination of sub-sitemaps, create a parsing task for each sitemap to be able to parse everyth

[2022-04-14 18:28] remyperona opened #4932 "New preload: cron & scheduled action"
- Scheduled action every minute, getting a 100 rows of pending URLs in the DB
- for each URL, create a non-blocking get request for it, for desktop (and mobile version if separate cache for mobile is enabled)
- Add cron job to delete not accessed URLs since x amount of time (to be defined)

[2022-04-14 18:35] remyperona opened #4933 "New preload: action on cache creation"
When creating the cache, add an action to do a DB update, either adding the URL if it doesn't exist yet, or updating its status to completed.

This needs to run also when our cache files creation is disabled.

[2022-04-14 18:40] remyperona opened #4934 "New preload: actions updating the DB status"
- When the cache is partially cleared (post update, expired lifespan, etc), update the status of the cleared URLs in the table
- When the cache is fully cleaned, update the status of all the URLs in the table

That way the URLs will be picked up by the scheduled action.

[2022-04-14 21:20] cafecafe opened #4935 "Disable google fonts optimization helper no longer works"
**Describe the bug**
Hello. Uses CSS feature automatically adds the fonts to preloading. I used to skip this feature on multiple websites with _wp-rocket-disable-google-font-optimization_ helper plugin. Unfortunately, since the last couple of updates, it doesn't work anymore, even though it's still listed in the help documents.

Is there any way to disable font preloading while keeping used CSS in

[2022-04-15 07:17] DahmaniAdame commented on #4905
@piotrbak this can't be confirmed unless we test by changing themes.
But since the dependency with `/themes/minimalistblogger/js/script.js` was the only one to trigger the error, I would assume it would have been possible to delay `jQuery` only if using a different theme.

[2022-04-15 07:40] vmanthos commented on #4792
**Related ticket:** https://secure.helpscout.net/conversation/1847376419/337388?folderId=2135277

I gave this further thought.

@piotrbak @mostafa-hisham Instead of disabling the features, I was wondering if it's possible to detect the `et-divi-dynamic-late.css` file and other dynamic CSS files that are injected by Divi, and use them during tree-shaking.

[2022-04-15 08:03] mehedihasanziku commented on #4935
Related to #4729

I don't like this feature, but they added filter to stop this, you can try

`add_filter( 'rocket_enable_rucss_fonts_preload', '__return_false' );`

[2022-04-15 12:22] cafecafe commented on #4935
@mehedihasanziku it worked. Thank you so much!

I guess they still need to update the helper plugin, as other users might be experiencing the same issue.

[2022-04-15 15:33] juricazuanovic commented on #3142
Related: https://secure.helpscout.net/conversation/1848457954/337556

[2022-04-15 17:17] juricazuanovic commented on #2441
Related: https://secure.helpscout.net/conversation/1849706811/337754/

[2022-04-15 18:31] Michaelgimii opened #4937 "elementor maintenances mode & wp rocket cache"
**Describe the bug**

When enabling elementary maintenances mode, we must clear the wp rocket cache to apply the maintenances mode. Please resolve this issue.
In such a way that after activating the maintenances mode, it is applied immediately and there is no need to clear the cache. The current situation is very annoying. Many times we activate the maintenances mode and forget to clear the cache.

[2022-04-16 06:33] DahmaniAdame opened #4938 "Allow scripts to be excluded from Delay JavaScript Execution preconnect"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**

Delay JavaScript Execution `preconnect` to external resources.

This might occasionally trigger a recommendation on Lighthouse/PSI if the resource is not immediatel

[2022-04-16 09:45] DahmaniAdame commented on #4147
Related - https://secure.helpscout.net/conversation/1848224170/337518/ `3.11.0.4`

An issue with a highly dynamic class on https://wordpress.org/plugins/wp-recipe-maker/

![image](https://user-images.githubusercontent.com/1289174/163670259-a9a4dbfe-b922-415b-a611-43a9e31751bc.png)
https://drive.google.com/file/d/1_mh1OS7lKsEQq8l0_Jj1uI17pO7YaZIC/view?usp=drivesdk

By the time the CSS is generated

[2022-04-16 15:46] twwn commented on #4917
I'm still seeing the exact same message, but only once now per run (and not immediately, it seems).

[2022-04-16 19:14] sriharsha-y commented on #4925
I am also observing this from 3.11 version. I rolled back to 3.10.9. There is something that went wrong in 3.11 version all the dynamically added css is broken through out my website.

[2022-04-17 11:47] DahmaniAdame opened #4939 "Remove Unused CSS doesn't process CSS properly"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.0.4`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When Remove Unused CSS  is used on nested CSS, it results in unexpected results.

If a valid class is nested, Remove Unused CSS won't include it on the Us

[2022-04-17 14:29] jcatello opened #4940 "rocket_rucss_pending_jobs_cron flooding actionscheduler_actions"
**Before submitting an issue please check that you’ve completed the following steps:**
Version: 3.11.0.4

**Describe the bug**
The database table actionscheduler_actions is being overwhelmed with Completed tasks from rocket_rucss_pending_jobs_cron

      5 rank_math/analytics/daily_tasks
      6 wpforms_admin_addons_cache_update
      6 wpforms_admin_builder_templates_cache_update
     21 wpforms_

[2022-04-17 14:54] alewolf commented on #4812
Hi

I'm the author of the WooCommerce Pixel Manager.
All those file exclusions have been removed in the newest versions of the WooCommerce Pixel Manager.

Regards
Aleksandar

[2022-04-18 02:46] cooltronicpl commented on #4925
I have an issue with my theme Jevelin.
I have many IDs like: `heading-***`
I used safelist `#heading-(.*)` in 3.10.9, but on 3.11 it is broken :(
Now it is not working anymore. This ID is dynamically created through site loading. I tried to add (.*) .inner-class after the ID but also it is not working properly.

[2022-04-18 06:47] vmanthos commented on #4802
**Related:** https://secure.helpscout.net/conversation/1851789174/337990/

Used CSS is ~ 0.85MB/URL and when I checked ~660 rows were there in the table which weighted ~560MBs.

[2022-04-18 07:13] vmanthos commented on #3348
**Related:** https://secure.helpscout.net/conversation/1851805966/337997/

[2022-04-18 09:31] piotrbak commented on #4925
@cooltronicpl The solution here is to use this [filter](https://github.com/wp-media/wp-rocket/blob/63f649200fa3b5b81ec83812d3448eeeea28e464/inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php#L345) like [this](https://github.com/wp-media/wp-rocket/blob/63f649200fa3b5b81ec83812d3448eeeea28e464/inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php#L75), to preserve the whole block of dynamic CSS (CS

[2022-04-18 09:45] piotrbak commented on #4940
Hello @jcatello and thank you for creating the issue. You can use the following filter to force Action Scheduler to remove its log more frequently:
[code]
The `n` should be replaced by the number of days we want the log to be cleared after. Important note is that this snippet is affecting action scheduler logs for all tasks from different plugins.

[2022-04-18 09:57] piotrbak commented on #4940
The permanent solution here would be to:
1. Not to log our actions
2. Manipulate the AS filter to clear the logs more frequently
3. Create our own [cleaner class](https://github.com/wp-media/wp-rocket/blob/22b9aafffe55920aa40017007169fd3a3ab0849c/inc/Dependencies/ActionScheduler/classes/ActionScheduler_QueueCleaner.php)

[2022-04-18 10:15] piotrbak commented on #4935
Hello @cafecafe thanks for the question.

As @mehedihasanziku mentioned (thank you!), the preload fonts when RUCSS is active is related to the RUCSS, not to the Google Font Optimization. Filter provided is correct and it'll work.

We'll update our documentation soon.

[2022-04-18 10:15] #4935 closed, assigned to nobody

[2022-04-18 10:23] piotrbak commented on #4918
Hello @79ho3ein thanks for creating the issue. WP Rocket is a full page cache plugin, it means that the entire HTML output will be cached. However, some plugins can load additional resources with:
1. Ajax
2. JavaScript

And we can't improve that, since they're supposed to be dynamic. Moreover, Delay JavaScript feature might prevent JS from being executed until the user interaction.

Please contact

[2022-04-18 10:23] #4918 closed, assigned to nobody

[2022-04-18 10:36] vmanthos opened #4942 "Allow disabling the automatic clearing of used CSS"
**Is your feature request related to a problem? Please describe.**

A customer requested a way to prevent the automatic clearing of used CSS given that the site doesn't change often.

**Describe the solution you'd like**

We can have a filter that will prevent used CSS from being automatically cleared.

We should preserve the ability to clear the used CSS globally or on a per-page basis using the

[2022-04-18 12:56] vmanthos commented on #4769
@piotrbak I checked this again because of the error mentioned in @Mai-Saad 's comment:
https://github.com/wp-media/wp-rocket/pull/4772#issuecomment-1099955599

Using the latest version of the Photonic plugin,  the issue was resolved by excluding the following file:
`/photonic/include/js/front-end/nomodule/photonic-baguettebox.min.js`

I'll update my PR to reflect this.

For the gallery to be displ

[2022-04-18 16:13] umviajante commented on #4940
Hi guys... I don't know if this is the right place to ask this. I'm not a programmer, just a WP Rocket user...

When accessing Scheduled Actions I saw a huge number of actions that keep growing... they are successfully completed, but they don't stop every minute...

Along with that, I have another observation...

When I upgrade from Version 3.10.9 to 3.11.0.4 , an alert exists with the following m

[2022-04-18 17:35] piotrbak commented on #4940
@umviajante This alert is correct when Action Scheduler wasn't able to create its tables correctly. They should be recreated while accessing the mentioned link. If that's not happening, could you reach me directly at `piotr [at] wp-media.me` and send me FTP/WP Admin access to your site? We'd like to investigate why it's not happening in your case.

[2022-04-18 23:07] androidacy-user commented on #4925
No I haven't but i don't think your parser is properly executing the JavaScript. The JS in question gets data from our API and renders it in an user friendly form. Some of the classes are preserved, but modals, font awesome icons, etc, are no longer rendering with RUCSS on. Excluding .modal-* and .modal classes doesn't seem to help either,

[2022-04-19 08:06] vmanthos commented on #4802
**Related:** https://secure.helpscout.net/conversation/1844337435/336865

The site has over 20k posts and the used CSS is about ~100kb for each URL.
If the used CSS is created for all URLs it would occupy ~2GB.

[2022-04-19 08:30] Mai-Saad opened #4943 "Some transients aren't deleted after deleting WP Rocket"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.11.0.4
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Some WPR transients aren't deleted after deleting the plugin

**To Reproduce**
Steps to reproduce the behavior:
1. Activate WPR and enable all options
2. Deactiv

[2022-04-19 09:56] piotrbak commented on #4925
@androidacybot
**>No I haven't but i don't think your parser is properly executing the JavaScript.**
Without the URL of your site we won't be able to investigate, and either improve our parser or resolve your problem with safelists.

[2022-04-19 12:06] piotrbak commented on #4905
@CrochetFeve0251 Groomed solution is the correct one.

Thank you @DahmaniAdame 🙏

[2022-04-19 12:33] WordPresseur commented on #3644
Related: https://secure.helpscout.net/conversation/1851117527/337913/

[2022-04-19 12:36] girlie commented on #3142
Related: https://secure.helpscout.net/conversation/1849069752/337633/

[2022-04-19 15:02] viobru opened #4947 "Prevent duplicated cache file/folder from being created"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version (yes - 3.11.0.4)
- Used the search feature to ensure that the bug hasn’t been reported before (Yes)

**Describe the bug**
A duplicated cache file/folder is created if uppercase is used instead of lowercase when visiting a page/post URL.

**To Reproduce**
Steps to reproduc

[2022-04-19 15:23] NataliaDrause opened #4948 "Exclude Cognito Forms plugin scripts from Minify JS"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - yes
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
Cognito forms disappear from the page when its scripts are minified and cached.

The scripts: `https://www.cognitoforms.com/f/seamless.js`

Excluding `cognitofor

[2022-04-19 17:18] webtrainingwheels commented on #678
https://secure.helpscout.net/conversation/1853799938/338280/

[2022-04-19 18:26] juricazuanovic commented on #3142
Related: https://secure.helpscout.net/conversation/1848498492/337563/

[2022-04-19 23:44] alfonso100 commented on #4940
related: https://secure.helpscout.net/conversation/1853681286/338263/

[2022-04-20 06:54] DahmaniAdame opened #4950 "Compatibility with LegalBlink Policy (optimizations not processed + dynamic cookie)"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.0.4`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When LegalBlink Policy plugin is enabled, none of the optimizations is processed.

Page cache is built.

Very likely a buffer conflict.

The plugin also h

[2022-04-20 11:19] vmanthos commented on #4940
related: https://secure.helpscout.net/conversation/1849671052/337746/

[2022-04-20 13:58] Dalias96 opened #4953 "Remove Unused CSS doesn't work on new instalation"
**Describe the bug**
When instaling first time after update to 3.11 (more specificly, [PR#4897](https://github.com/wp-media/wp-rocket/pull/4897/files)) with no history of usage (don't know if thats important, but due to no reports of that issue it might be) of WP Rocket before, Remove of Unused CSS doesn't work. Visited website appear in database in table `wpr_rucss_used_css` but they are stuck wi

[2022-04-20 14:05] Dalias96 commented on #4953
PR is [here](https://github.com/wp-media/wp-rocket/pull/4954)

[2022-04-20 14:14] piotrbak commented on #4953
Hello @Dalias96 thank you for your issue and PR. We already have a ready PR too, please take a look at it here:
https://github.com/wp-media/wp-rocket/pull/4941

Let me know if you have any questions about it.

[2022-04-20 14:50] Dalias96 commented on #4953
Ouch i didn't look into PR's, only into issues 😄 Do you know when this will be released?

[2022-04-20 14:59] girlie commented on #4865
Related: https://secure.helpscout.net/conversation/1854098448/338317/

[2022-04-20 16:00] piotrbak commented on #4953
It's in the QA phase, should be live tomorrow in the 3.11.0.5 version. Going to close the issue, feel free to comment if you have any questions though.

[2022-04-20 16:00] #4953 closed, assigned to nobody

[2022-04-20 18:17] alfonso100 commented on #4570
related: https://secure.helpscout.net/conversation/1851896540/338025/

[2022-04-20 19:08] webtrainingwheels commented on #4940
https://secure.helpscout.net/conversation/1854815022/338436?folderId=273766

[2022-04-20 19:47] alfonso100 commented on #4802
related: https://secure.helpscout.net/conversation/1851953603/338040?folderId=2683093

Used CSS is ~320kb
2000 posts + Separate cache for mobile devices
around 1.25gb of database storage

[2022-04-20 23:18] ScottTravisHartley opened #4955 "Remove Unused CSS Transforming Certain Characters"
Was working on a client site and found a fun bug. When using remove unused CSS the bullets for the carousel made with this plugin -> https://wordpress.org/plugins/carousel-block/ were being transformed in the CSS being output on the page.
This is the CSS as it appears before using remove unused CSS.

`.slick-dots li button:before {
    font-size: 6px;
    line-height: 20px;
    position: absolute;

[2022-04-21 08:19] viobru commented on #4940
Likely related: https://secure.helpscout.net/conversation/1851006282/337894/

[2022-04-21 09:57] hlorofos commented on #4570
I used the following workaround to generate website config files without a need to manually visit admin panel:

`wp eval 'rocket_generate_config_file();'`

obviously you should run this as a very last command after you installed and activated the plugin.

[2022-04-21 10:03] DahmaniAdame opened #4956 "CDN is not replacing URLs using escape characters"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When the CDN feature is enabled, we are not replacing domains using escape characters.

Example:

`https:\/\/domain.ext\/wp-content\/uploads\/2022\/03\/18.jpg`

This

[2022-04-21 10:54] DahmaniAdame commented on #4940
Related - https://secure.helpscout.net/conversation/1815562796/331529/

[2022-04-21 11:03] DahmaniAdame opened #4957 "Defer JS compatibility with WooCommerce Product Filter (Themify)"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.11.0.4`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
The [WooCommerce Product Filter](https://themify.me/themify-product-filter) plugin defers its own script.

When jQuery and some required scripts are defer

[2022-04-21 21:16] jcatello commented on #4940
Looks like this is causing fatal errors now, upgrading to 3.11.05

[code]

[2022-04-21 21:36] piotrbak commented on #4940
You see fatal error in 3.11.0.5?

[2022-04-21 22:15] jcatello commented on #4940
Correct, rolling back to 3.11.04 resolved it

[2022-04-22 00:02] piotrbak commented on #4940
Could you send me WP/SFTP access to affected website? piotr [at] wp-media.me

We can use https://onetimesecret.com for that.

[2022-04-22 00:43] jcatello commented on #4940
Sent

[2022-04-22 05:07] basslion commented on #4940
I am a WP Rocket user and i did experience the wp_actionscheduler table growing quite fast in our DB. We currently have limits on our size of our DB at 1000mg by our host. I was sent a fix that was to be put in the functions.php of our child theme that would clear the table every 24hrs, however it still managed to exceed this in the 24hrs. Also due to this, our CPU usage has skyrocketed and we are

[2022-04-22 09:59] piotrbak commented on #4940
@basslion Our apologies for the troubles you're dealing with. Root cause is, unfortunately, not related to WP Rocket itself, but to the very popular 3rd-party, Action Scheduler:
https://github.com/woocommerce/action-scheduler/issues/698

In 3.11.0.5 we made sure to improve a couple of scenarios related to AS, including the one mentioned in the issue.

[2022-04-22 11:33] juricazuanovic commented on #4892
Related: https://secure.helpscout.net/conversation/1841939716/336557

[2022-04-22 14:12] piotrbak opened #4960 "Improve the control over rocket_rucss_pending_jobs_cron action"
**Describe the bug**
Currently, we improved the behaviour described in the https://github.com/wp-media/wp-rocket/issues/4940 based on the https://github.com/woocommerce/action-scheduler/issues/698 suggestions. However, we can improve it even further by adding a health check cron.

**Expected behavior**
We'll schedule a permanent action/cron that will check the number of `pending` or `in-progress`

[2022-04-22 14:16] piotrbak commented on #4940
@jcatello I'm closing this issue. Fix for it was introduced in 3.11.0.5, the enhancement of this fix will be present in, most likely, 3.11.1.

You can monitor it here:
https://github.com/wp-media/wp-rocket/issues/4960

[2022-04-22 14:16] #4940 closed, assigned to nobody

[2022-04-22 20:49] alfonso100 commented on #3960
related: https://secure.helpscout.net/conversation/1851263971/337927

[2022-04-23 05:29] basslion commented on #4940
This issue still seems to be happening although not as bad, but for our site and hosting which is limited to 1000mb for DB, it is still causing problems. I see these rocket_rucss_job_check_status hooks repeating non stop https://prnt.sc/GB9GH-lfW3V2

Pages and pages of them, 2,900 pages of 100 lines to be exact as I type this comment.

I have applied the update, however I still have the quick fix

[2022-04-23 07:20] DahmaniAdame opened #4961 "Lazyload not working properly on Safari/Chrome 15.4 if loading=lazy is present on the image"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Lazyload will fail on the first couple of images on the page if they somehow contain `loading="lazy"` when using iOS `15.4` Safari/Chrome.

Video comparing behavior

[2022-04-23 07:23] DahmaniAdame commented on #4628
@vmanthos moved your case to https://github.com/wp-media/wp-rocket/issues/4961 since it's only happening on `15.4` and only if `loading=lazy` is somehow present on the the lazy-loaded image.

[2022-04-23 09:36] DahmaniAdame commented on #4961
Related - https://secure.helpscout.net/conversation/1858594675/338974/

[2022-04-23 15:37] berkmh commented on #4006
sorry to reopen this, but has a solution been found @jazir5 ? All of my submenu arrows (across the site) become huge upon activating unused css. adding to safe list:

`.fa-(.*):before
.fa-(.*)`

as suggested by @Yahav did not fix it for me. this is the only problem I have when activating and its driving me nuts.

[2022-04-23 15:51] berkmh opened #4962 "Remove Unused CSS makes elementor pro menu dropdown submenu indicator HUGE"
**Describe the bug**
When activating remove unused CSS elementor pro header submenus chevron indicators (SVG) across the site become gigantic.

**To Reproduce**
Steps to reproduce the behavior:
1. Using elementor pro build a menu with dropdown and submenu indicator
2. turn on remove unused CSS
3. go back to site
4. indicators are now HUGE

**Expected behavior**
to not become huge

**Additional con