[2022-10-06 10:16] webzunft commented on #5486
Thomas from Advanced Ads here. We are happy users of WP Rocket. Since so many WP Rocket users choose Advanced Ads Pro, I wanted to mention that we are happy to assist you. If your devs found the reason for the conflict, we would prefer a solution instead of a warning. I could imagine this being related to output buffering.

[2022-10-06 13:01] GeekPress commented on #5251
Closing this one as we don't do it.

[2022-10-06 13:01] #5251 closed, assigned to remyperona

[2022-10-06 13:12] piotrbak commented on #5495
Hello @LarsKerff and thank you for creating the issue. I'm not sure if I understand the problem correctly, wouldn't adding Google Bot's user agent here resolve your problem?
https://docs.wp-rocket.me/article/1389-never-cache-user-agents

[2022-10-06 13:13] joejoe04 commented on #5394
Related: https://secure.helpscout.net/conversation/2029091199/373032/

[2022-10-06 13:16] piotrbak commented on #5486
Hello @webzunft thanks for being in touch with us! Could you send me the license for your plugin to piotr[at]wp-media.me? We'll try to check what's going on and will let you know.

**>I could imagine this being related to output buffering.**
Yes, I'm pretty sure it's about that, indeed.

[2022-10-06 13:31] piotrbak commented on #5490
Hello @kulterryan thanks for creating the issue.

@wp-media/php What do you think about that? We're checking for AS tables only when:
1. Activating the plugin
2. Updating the plugin
3. Enabling features that are related to AS
Right? 🤔

[2022-10-06 15:46] alfonsrv commented on #922
Replaces it with ``

Cancer product. Paid, yet still implementing ads.

[2022-10-06 16:13] alfonso100 commented on #678
https://secure.helpscout.net/conversation/2030297067/373324?folderId=273766

[2022-10-06 16:42] juricazuanovic commented on #3142
Related: https://secure.helpscout.net/conversation/2030228006/373301

[2022-10-06 17:35] joejoe04 commented on #3142
Possibly related: https://secure.helpscout.net/conversation/2030219993/373299/

[2022-10-06 21:55] camilamadronero-zz opened #5499 "Notify customers when required IP lists change"
**Is your feature request related to a problem? Please describe.**

The list of WP Rocket's IPs required to be allowed for license validation, Remove Unused CSS, etc., change from time to time. We remove, change or add new IPs addresses.

The problem is that a customer who already allowed the IPs list in the past, will be unaware of IP updates.

Customers will have to notice the problem, manually

[2022-10-07 11:20] #5397 closed, assigned to remyperona

[2022-10-07 11:31] #2441 closed

[2022-10-07 11:35] #3703 closed, assigned to remyperona

[2022-10-07 13:33] joejoe04 commented on #3142
Related: https://secure.helpscout.net/conversation/2030200182/373293/

[2022-10-07 13:38] LarsKerff commented on #5495
Hi @piotrbak, thanks for your response. Yeah that's kinda what I want but than for specific pages. Is this possible?
However, this could work as well. Thanks

[2022-10-07 13:48] viobru commented on #5445
Related: https://secure.helpscout.net/conversation/2029385423/373136

[2022-10-07 17:26] webtrainingwheels commented on #2787
https://secure.helpscout.net/conversation/2031202519/373515?folderId=377611

[2022-10-07 22:38] webtrainingwheels commented on #2409
https://secure.helpscout.net/conversation/2031962950/373679?folderId=5321805

[2022-10-10 07:51] NataliaDrause commented on #2068
Related: https://secure.helpscout.net/conversation/2032139861/373700?folderId=3864740

These URLs are being preloaded:
[code]

[2022-10-10 09:44] #5482 closed, assigned to CrochetFeve0251

[2022-10-10 10:05] piotrbak commented on #5308
We won't be fixing it, based on Vasilis comment here:
https://github.com/wp-media/wp-rocket/pull/5391#issuecomment-1243426262

[2022-10-10 10:05] #5308 closed, assigned to mostafa-hisham

[2022-10-10 17:22] CrochetFeve0251 commented on #3717
## Scope a solution

We will update WP_Rocket\ThirdParty\Hostings::HostResolver to check for WPX env

[code]

Then we will update WP_Rocket\ThirdParty\Hostings::HostSubscriberFactory .

We need to create a new third party host class for WPX with the following methods:

A method to add the IP to the ones we sent requests to:
[code]
A method to remove the html expire from the htaccess:
[code]
Relate

[2022-10-11 08:51] jits04 opened #5500 "facade image for DIVI"
Lazyload -> Enable for iframes and videos
-> Replace youtube iframe and videos

If I use code module to insert the iframe, can it works with my THEME? I can not enable it to test. Can I update wordpress database directly just to test?

<iframe width="1268" height="713" src="https://www.youtube.com/embed/myvideo" title="mytitle" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encry

[2022-10-11 08:53] piotrbak commented on #3717
@CrochetFeve0251 the detection needs to happen **before** the LiteSpeed one, since they're using it too:
https://github.com/wp-media/wp-rocket/blob/ee7b7aad54157e2c8dfd2529612453722219508b/inc/ThirdParty/Hostings/HostSubscriberFactory.php#L42

[2022-10-11 11:20] #5416 closed, assigned to CrochetFeve0251

[2022-10-11 12:02] vmanthos opened #5501 "PHP Fatal error occurs when null is passed to rocket_delay_js_exclusions"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅`3.12.1.1`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When `null` is passed to `rocket_delay_js_exclusions` the following fatal PHP error occurs:
[code]

If WooCommerce is installed the following error is logged:

[2022-10-12 05:32] DahmaniAdame commented on #5482
Related - https://secure.helpscout.net/conversation/2032221344/373721/
There was duplicate URLs added `_wpr_rocket_cache` table at the same time.
The first one was process while all remaining duplicate entries were marked as `pending`.
The fix mentioned on the scope worked.
Regarding the fix, shouldn't we replace `$resource['url']` by `$url` on the `logger` as well?
Line [#L149](https://github.com

[2022-10-12 06:31] #5428 closed, assigned to jeawhanlee

[2022-10-12 13:17] #5405 closed, assigned to remyperona

[2022-10-12 15:49] Mai-Saad opened #5502 "More info French broken links"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.12.1.1
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Clicking more info link for Combine JS exclusion or Delay JS for fr profile displays nothing in the beacon

**To Reproduce**
Steps to reproduce the behavior:
1.

[2022-10-13 07:15] DahmaniAdame commented on #4957
Related - https://secure.helpscout.net/conversation/2029011456/372988/

[2022-10-13 08:07] worldwildweb commented on #3142
related: https://secure.helpscout.net/conversation/2012984187/369324/

[2022-10-13 09:04] #5374 closed, assigned to CrochetFeve0251

[2022-10-13 13:09] piotrbak commented on #5500
Hello @jits04, yes, it can work like this.

If you have any problems with that feature, please check our documentation article:
https://docs.wp-rocket.me/article/1488-replace-youtube-iframe-with-preview-image

If you still have any concerns, you can always reach our support.

[2022-10-13 13:09] #5500 closed, assigned to nobody

[2022-10-13 13:10] piotrbak commented on #5499
@camilamadronero We could use Beacon for that, right? 🤔

[2022-10-13 13:19] worldwildweb commented on #2787
related https://secure.helpscout.net/conversation/2035463535/374391

[2022-10-13 13:23] piotrbak commented on #5495
@LarsKerff You can use this filter in combination with specific conditionals, it should be possible:
https://github.com/wp-media/wp-rocket/blob/62de7d8ccab5dd3257bfcd4479581b0c233d4ad6/inc/functions/options.php#L357

[2022-10-13 13:23] #5495 closed, assigned to nobody

[2022-10-13 20:18] remyperona opened #5503 "Deprecation warning related to at() in PHPUnit"
The at() matcher has been deprecated. It will be removed in PHPUnit 10.

We use it in the unit test for `Preload\Database\Queries\Cache\Test_GetPendingJobs`, so we need to update this test to remove the warning.

[2022-10-13 21:05] remyperona commented on #5502
We also need docs IDs for each article

[2022-10-14 06:35] Mai-Saad commented on #5418
We need to prevent adding ignored qs or any non-cache Qs to the cache table + see what else is needed on the [slack discussion](https://wp-media.slack.com/archives/GUKB44GNN/p1665684085589859)

[2022-10-14 08:15] Mai-Saad opened #5506 "Used CSS table isnot cleared when changing permalinks"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.12.1.1
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Changing permalinks is not clearing used CSS table which results in many URLs for pages not found

**To Reproduce**
Steps to reproduce the behavior:
1. With perm

[2022-10-14 08:30] #5497 closed, assigned to nobody

[2022-10-14 08:45] engahmeds3ed commented on #5482
Thanks @DahmaniAdame for your suggestion, but I believe no need to do that because we need to log the full url with query strings.

[2022-10-14 09:54] Fourmarketing360 commented on #5479
Bump

[2022-10-14 12:26] #5471 closed, assigned to remyperona

[2022-10-14 17:52] mifrero commented on #5418
Related: https://secure.helpscout.net/conversation/2036856301/374701/

[2022-10-14 20:09] alfonso100 commented on #678
related: https://secure.helpscout.net/conversation/2037316913/374830?folderId=2683093

[2022-10-15 06:51] DahmaniAdame opened #5507 "Delay JavaScript Execution compatibility with Ivory Search"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When [Ivory Search](https://wordpress.org/plugins/add-search-to-menu/) (90k installs on the official repo) is used with Delay JavaScript Execution + jQuery is exclud

[2022-10-15 09:34] DahmaniAdame commented on #4792
Related - https://secure.helpscout.net/conversation/2034796941/374306?folderId=3864735
In my case, disabling Load `Dynamic Stylesheet in-line` and `Critical CSS` on `Divi's General > Performance tab` fixed the issue.
I disabled the `Dynamic CSS` as well as a precaution.

[2022-10-15 10:22] DahmaniAdame opened #5508 "Compatibility with WP Discourse cache purging"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.12.1.1`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
WP Discourse is bridging a popular discussion platform to WordPress.

Their interaction allows reflecting the comments on the platform with their specific

[2022-10-15 23:34] ultrazeus commented on #1524
When can we expect something movement on this topic?

[2022-10-17 07:19] vmanthos opened #5509 "Never Cache URL(s) exclusions work only when they match the existence or not of a trailing slash in permalinks"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅`3.12.1.1`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When adding URLs to the "Never Cache URL(s)" text area, for them to be excluded they will have to have a trailing slash or don't have one depending on whether

[2022-10-17 09:39] #5410 closed, assigned to remyperona

[2022-10-17 10:17] #5456 closed, assigned to remyperona

[2022-10-17 14:28] Apfelbiss commented on #4035
Hello,

we also noticed this bug with fright last days. When can we expect a fix here?

The bug is only marked with priority "medium", but at least with effort "XS", so I hope this can be fixed soon.

In a large store with many paginated categories, there is a great risk of outdated information for up to 10 hours because of this bug. A complete deletion of the cache (or at least the shop category

[2022-10-17 15:59] alfonso100 opened #5510 "Cache folder grows large due to URLs coming from The Events Calendar empty dates"
**Before submitting an issue please check that you’ve completed the following steps:**
**Yes** - Made sure you’re on the latest version
**Yes** - Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
[The Events Calendar](https://theeventscalendar.com/) plugin allows browsing empty dates as URLs, for example:

[code]

These URLs are added to the `wpr_rock

[2022-10-17 16:32] alfonso100 commented on #4792
related: https://secure.helpscout.net/conversation/2033444410/373982/

Divi's **Dynamic CSS** was not automatically disabled when RUCSS is active

[2022-10-18 06:46] vmanthos opened #5511 "Allow logging WP Rocket's cache clearing"
**Is your feature request related to a problem? Please describe.**

Quite often, `T2`s and `QA` have to log cache clearing, e.g. to tell if the cache was cleared (or not) and what triggered it.

This can be used to troubleshoot cases of excessive cache clearing, for example:
* #3246
* #3770
* #3349, etc.

or cases where the cache should be cleared but it isn't:
* #2983

With the new Preload, this

[2022-10-18 08:48] #5394 closed, assigned to CrochetFeve0251

[2022-10-18 08:48] #5445 closed, assigned to nobody

[2022-10-18 13:00] camilamadronero-zz commented on #5499
Yes, that would be a good idea too 👍🏼

[2022-10-18 19:16] ethanclevenger91 opened #5512 "Missing semicolons at the ends of lines in source Javascript aren't restored during minification"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Missing semicolons at the ends of lines in source Javascript aren't restored during minification, causing JS errors. For example:

[code]

Note the missing semicolon after t

[2022-10-19 05:43] vmanthos commented on #3246
@mostafa-hisham wasn't able to reproduce the issue so I checked it.

The case which led me to create this issue is handled by the following change which happened a while back:
https://github.com/wp-media/wp-rocket/blob/22240ef297b873c476277b88ae8fea8e00eca452/inc/functions/files.php#L533

Now, if a URL doesn't have a `host`, e.g. it has only a `#`, it won't be processed so the specific issue won't

[2022-10-19 07:04] DahmaniAdame opened #5513 "Compatibility with Elementor Cloud"
**Is your feature request related to a problem? Please describe.**
Elementor has a cloud service to host Elementor-based websites.

Based on their FAQs:

Similar to security, there are multiple types of optimizations. You do not need to install any plugin that helps optimization through caching. However, if you have large media files, for example, you might want to install plugins that improve ima

[2022-10-19 08:38] DahmaniAdame opened #5514 "Compatibility with the ThemeREX Add-on plugin"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.12.1.1`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When the feature `Move styles to the head` under `General settings` is enabled, it produces an output buffer issue that leads to be page turning blank or

[2022-10-19 11:01] viobru commented on #4062
Another case where the links were blocked by Dejay JS.

Ticket: https://secure.helpscout.net/conversation/2038330415/375039

[2022-10-19 11:16] DahmaniAdame commented on #2441
Related - https://secure.helpscout.net/conversation/2041155254/375531/

[2022-10-19 12:35] engahmeds3ed commented on #5493
# Admin part
  - We will have a CRON job that runs weekly to get the latest changes from the API: https://staging-sass-backend.wp-rocket.me/api/delay-js-exclusions/list

  - We will save the data into the json file and also cache it for one week in transient (What do u think if we only get the items related to this site so here we can only get the active theme and active plugins?).

* For the sett

[2022-10-19 12:38] NataliaDrause commented on #5435
Related: https://secure.helpscout.net/conversation/2041181194/375545?folderId=3864740

[2022-10-19 12:40] DahmaniAdame commented on #4940
Related - https://secure.helpscout.net/conversation/2039490566/375237/
400k+ failed entries for `rocket_rucss_job_check_status` in just 2 days.
Cleared the failed processes. Asked the customer to set up a server-side CRON and we go from there.

[2022-10-19 18:12] piotrbak commented on #5493
@engahmeds3ed
[code]
I believe that this scenario might fail when there's no connection to our servers, we won't be able to create a website-specific fallback file in plugin's archive.

[2022-10-19 18:28] engahmeds3ed commented on #5493
No, as we always will fallback to the json file which is added with deployment so at first start we will have the full list but then we will only get ours.
Anyway, it was just an idea but in the following point we can do that, then cache them.

[2022-10-19 18:30] piotrbak commented on #5493
Let's brainstorm this, to find the best solution. @Tabrisrp what do you think? This is the case I mentioned during the standup.

[2022-10-19 19:25] MichaelRobb6 commented on #5492
I was experiencing the same issue. The error was being recorded in the logs multiple times a second. I was able to stop it by disabling the "Minify CSS files" option under "File Optimization".

Hope this helps with figuring out a solution to the issue.

[2022-10-20 11:27] NataliaDrause commented on #3770
Related: https://secure.helpscout.net/conversation/2029385423/373136/

In this case, the partial cache clearing purged the cache for the whole domain. This is not Product or CPT, just a regular post.

For the `$purge_urls` [here](https://github.com/wp-media/wp-rocket/blob/be7876ae47fa06f35d403afaf1608b6ba5c66212/inc/common/purge.php#L217) we collected URLs like the following:
[code]

URL `https://

[2022-10-20 14:00] remyperona commented on #5493
in my opinion it's better to get all the data all the time, it's not going to get so big that the data is unusuable, and that way we are safer whenever there is a change

[2022-10-20 15:42] blorange2 opened #5517 "Ensuring the lazy load script is ignored by cookie consent tools"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
A clear and concise description of what the bug is.

WordPress Cookie Consent plugin (CookieBot) causes the wp-rocket lazy load script not to run. Wondering if I can locate

[2022-10-20 18:40] GeekPress commented on #5502
@WordPresseur Can you please share the right IDs?

[2022-10-21 05:33] WordPresseur commented on #5502
- For Minify JS file exclusions fr doc https://fr.docs.wp-rocket.me/article/243-exclure-js-externe-minification : ID = [56967eebc69791436155e649](https://secure.helpscout.net/docs/568e92e39033603f7da2e88a/article/56967eebc69791436155e649)
- For Combine JS inline exclusions fr doc https://fr.docs.wp-rocket.me/article/1109-exclure-les-js-inline-de-la-combinaison : ID = [5b4dd9290428631d7a89023c](htt

[2022-10-21 07:01] vmanthos opened #5519 "Never cache this page is not applied immediately after saving a post"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When activating the "Never cache this page" option in WP Rocket's meta-box, e.g. for `/page-1/`, the change isn't added to the configuration file after saving the post

[2022-10-21 08:28] maxplateau commented on #5003
Hello, I think not respecting trailing slash is a huge issue and i have a solution :
You just need to add a test at the end of the function can_init_process() in class-tests.php file.

// Don't process if not trailing slash
if( substr($this->get_request_uri_base(),-1) != "/" ) {
	return false;
}

My code just check if the uri is ending with a slash and if it's not then the cache is not processed.

[2022-10-21 08:47] piotrbak commented on #5003
@maxplateau Unfortunately, that's not that easy. Please take a look at our discussions in related PRs to learn more about issues we were having. Thanks!

[2022-10-21 09:20] viobru opened #5520 "Perfmatters' Local Google Fonts are preloaded when RUCSS is enabled"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version (3.12.1.1)
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Perfmatters is set to host the Google font files locally, and the fonts are there in the server, but fonts are served from `fonts.gstatic.com` on the cached versi

[2022-10-21 10:12] Kilbourne commented on #5003
Hi!
Checking the relates PRs seems that the reverted solution has issues only when this conditions are met:
_When permalinks are set to be without / and website is in the subdirectory we might experience redirect loop._
As this is a problem only for a (little?) part of the users, while not respecting site's slash is a big problem for most of the users, maybe you could start to release an utility p

[2022-10-21 11:35] #5468 closed, assigned to CrochetFeve0251

[2022-10-21 11:46] maxplateau commented on #5003
I totally agree with @Kilbourne !
In the meantime, my code is working well and it's fixing this issue so I will using it until you find a solution.

[2022-10-21 13:21] GeekPress commented on #3370
I'm closing the issue since we have no reply and nobody else reported this problem.

@socialpreneur Feel free to comment if you are still facing the problem.

[2022-10-21 13:21] #3370 closed

[2022-10-21 21:53] JCwebTECH commented on #5517
Running into the same issue. Here is how to fix it: https://support.cookiebot.com/hc/en-us/articles/360009063660-Disable-automatic-cookie-blocking-for-a-specific-script   @wp-rocket just add this attribute data-cookieconsent="ignore"

[2022-10-22 06:44] DahmaniAdame opened #5523 "Avoid injecting Delay JavaScript Execution on the wrong <head> tag"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.12.1.1`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
The Delay JavaScript Execution script is injected on any tag starting with `<head`. Which will cause issues in some cases.

The problem is the regex `'/<h

[2022-10-23 17:24] piotrbak commented on #5484
Going to be handled on the backend

[2022-10-23 17:31] piotrbak commented on #5510
We'll need to create a 3rd-party compatibility here, find URL structure for that kind of archives and exclude them from the preload.

To be sure we're not excluding too much, we can target the `/calendar/20(.*)`

[2022-10-23 17:33] piotrbak commented on #5496
More details:
https://wp-media.slack.com/archives/C60QX4FC1/p1665479576918649?thread_ts=1665479435.743559&cid=C60QX4FC1

[2022-10-24 07:57] #5438 closed, assigned to remyperona

[2022-10-24 09:07] engahmeds3ed commented on #5493
Ok, agreed, doing the grooming now and creating sub-tasks.

[2022-10-24 09:32] CrochetFeve0251 commented on #4773
## Identify the root cause
The root cause has been found by @engahmeds3ed :
The journey starts [here](https://github.com/wp-media/wp-rocket/blob/d833ad2e34dab92e3e58838fedf4b4d643d84ce8/inc/admin/ui/meta-boxes.php#L134-L138) when saving the post metabox values, when never cache this page option is changed (from true to false or from false to true) this will update our options [here](https://github

[2022-10-24 11:25] mifrero commented on #3142
Related: https://secure.helpscout.net/conversation/2044517455/376256?folderId=2952229

[2022-10-24 11:54] CrochetFeve0251 commented on #4773
Update from the grooming:
While implementing the solution I saw this was creating an issue with the field in the configuration area.
To fix this I will have to propose a new solution.
Instead of adding directly `cache_reject_uri` inside the [array](https://github.com/wp-media/wp-rocket/blob/bbadfba54d3a43501305659207b92840e480b417/inc/admin/options.php#L25) we will create a filter that will allow

[2022-10-24 13:28] CrochetFeve0251 commented on #4773
After a talk with @piotrbak  and @engahmeds3ed the finall grooming is the following one:
- Prevent the full cache from reloading on an update from the option.
- add a callback after saving settings and detect if this field is changed
- Get the newly added urls from the option
- Remove cache for those only

For the first part we will have to remove the cleaning for all the cache by adding `cache_re

[2022-10-24 14:07] viobru commented on #678
related: https://secure.helpscout.net/conversation/2044796593/376351/

[2022-10-24 14:16] viobru commented on #678
related: https://secure.helpscout.net/conversation/2045652338/376521

[2022-10-24 14:18] piotrbak opened #5524 "Allow serving webp for all browsers"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Seems like some browsers are not including the `webp` in HTTP_ACCEPT header. It can cause our preload not being 100% effective. Part of the solution is having control over t

[2022-10-24 14:26] #5293 closed, assigned to mostafa-hisham

[2022-10-24 15:14] #5502 closed, assigned to remyperona

[2022-10-24 17:14] camilamadronero-zz commented on #5094
Related https://secure.helpscout.net/conversation/2046099120/376624/

[2022-10-25 08:54] WordPresseur commented on #678
Related: https://secure.helpscout.net/conversation/2034501617/374218?folderId=1213662

[2022-10-25 09:07] CrochetFeve0251 commented on #5509
## Identify the root cause
The root cause is due to the regex in the method [`can_process_uri`](https://github.com/wp-media/wp-rocket/blob/e6c18910a083ba92aefb07b352bd95d32865ad7a/inc/classes/Buffer/class-tests.php#L592) that only compare to the value without formatting the URL.
## Scope a solution
A solution would be adding the corresponding url with(out) the / inside the regex from  field if it

[2022-10-25 09:14] #4035 closed, assigned to mostafa-hisham

[2022-10-25 10:45] mostafa-hisham commented on #5496
## Reproduce the problem
I couldn't reproduce the issue with Gutenberg :heavy_multiplication_x:
Elementor  :heavy_check_mark:

## Identify the root cause :white_check_mark:

- Gutenberg
we don't add the `type="rocketlazyloadscript`" to the script tags inside the code block
because `<script>` is converted to `&lt;script>` by Gutenberg so it doesn't get picked up by the regex
[DEMO](https://rocketla

[2022-10-25 11:53] #5463 closed, assigned to remyperona

[2022-10-25 11:53] #5435 closed, assigned to remyperona

[2022-10-25 12:33] engahmeds3ed opened #5525 "[Task] Refactor Delay JavaScript - Get remote scripts list (1/3)"
Sub Task from the epic: #5493

# CRON Job

We will have a CRON job that runs weekly to get the latest changes from the API:
https://staging-sass-backend.wp-rocket.me/api/delay-js-exclusions/list

Try using the code from here: https://github.com/wp-media/wp-rocket/blob/029c4de9879a7f235cffa8ddd881828934149c9f/inc/Engine/Optimization/DynamicLists/DynamicLists.php#L148-L152
With the same CRON (Don't

[2022-10-25 13:06] CrochetFeve0251 commented on #5510
## Scope a solution
For this we will create a third party class that detect if the plugin is activated using that constant `TRIBE_EVENTS_FILE`.
Then if it is the case it will register a callback to the filter `rocket_preload_exclude_urls` with the following logic:
[code]
Then we will have to create tests linked to it.

## Estimate the effort
Effort `XS`

[2022-10-25 14:08] girlie opened #5526 "Warning: Attempt to read property "action" on null in /inc/functions/admin.php on line 476"
After updating to 3.12.2, some customers have reported this warning:

- https://secure.helpscout.net/conversation/2047528856/376938/
- https://secure.helpscout.net/conversation/2047894871/377024/
- https://secure.helpscout.net/conversation/2047984346/377064/
- https://secure.helpscout.net/conversation/2048004068/377072/

And another customer reported seeing this _notice_ about the same line of cod

[2022-10-25 16:06] CrochetFeve0251 commented on #5526
### Scope a solution
We can add a check to verify if the return of the function `get_current_screen` is null on the [line 476](https://github.com/wp-media/wp-rocket/blob/918577c39f314bffd7ea0b24d672483249be8a64/inc/functions/admin.php#L476).
[code]

### Estimate effort
Effort `XS`

[2022-10-26 07:09] GeekPress commented on #5186
@piotrbak Any news from WP Engine?

[2022-10-26 07:35] GeekPress commented on #5424
@piotrbak Can we split this issue in two? One for Perfmatter, and another one for Rapidload?

[2022-10-26 07:59] GeekPress commented on #4270
I'm closing the issue until to get more info about what is the issue with SEO.

@richiekastl Feel free to elaborate on why it is an SEO problem, so we can re-open it.

[2022-10-26 07:59] #4270 closed, assigned to nobody

[2022-10-26 08:03] GeekPress commented on #4327
@mostafa-hisham Do you see any problem with SaaS cumulating both query strings (`nowprocket` & `no_optimize`  ) when we visit a page?

Can we do the change directly in SaaS or does it require a change in the plugin?

[2022-10-26 08:05] DahmaniAdame commented on #4792
Related - https://secure.helpscout.net/conversation/2040414379/375426/

[2022-10-26 08:14] GeekPress commented on #5179
@piotrbak Can this be added to the next sprint? First we can check why the selector isn't grabbed, and if we don't know why, let's use the back-end to exclude it.

[2022-10-26 08:15] GeekPress commented on #4052
Is it still required?

[2022-10-26 08:20] GeekPress commented on #4480
@DahmaniAdame Is it still an issue with the new RUCSS? As JS files are executed now, maybe it has been fixed.

[2022-10-26 08:21] GeekPress commented on #4042
@vmanthos Does this issue still exist?

[2022-10-26 08:25] GeekPress commented on #4964
I think it's going to be hard to find a solution here.

We can send a query string to SaaS, but how will we know the right value of the query string?

[2022-10-26 08:28] GeekPress commented on #4327
I found we are adding the `nowprocket` query string in the plugin: https://github.com/wp-media/wp-rocket/blob/develop/inc/Engine/Optimization/RUCSS/Frontend/APIClient.php#L28

I suppose we can add the `no_optimize ` at the same moment

[2022-10-26 08:45] DahmaniAdame commented on #4480
@GeekPress, we didn't have any new cases about it.

The feature is part of the Pro version, so I couldn't test.

The problem has two parts:

- Us detecting the CSS file. Which should be solved by executing JS on SaaS. That's likely working.
- Asset Cleanup still injecting the script to the page because it's managed using JS and we don't remove JS when we inject our RUCSS.

So, the recommendation a

[2022-10-26 09:29] piotrbak commented on #5186
@GeekPress Unfortunately, not

[2022-10-26 09:46] piotrbak commented on #4052
@GeekPress Do we expect any kind of maintenance? I think we can close the issue here as we could use Beacon/Status Page to inform customers about the problems.

[2022-10-26 09:48] GeekPress commented on #4052
Indeed, we can use Beacon to let the user know in advance, and during the maintenance, if needed. Let's close this one.

[2022-10-26 09:48] #4052 closed, assigned to nobody

[2022-10-26 09:49] piotrbak commented on #4042
@GeekPress This one can be closed as it's related to the old db structure.

[2022-10-26 09:49] #4042 closed, assigned to nobody

[2022-10-26 10:01] GeekPress commented on #5296
@piotrbak Can you be in touch with WP Geotargeting?

[2022-10-26 12:21] engahmeds3ed opened #5529 "[Task] Refactor Delay JavaScript - Settings part (2/3)"
Sub Task from the epic: #5493

# Setting view

- We need to create a new field type called `delay_js_exclusion` or we can make it more generic `categorized_multiselect`, start with a method like that: https://github.com/wp-media/wp-rocket/blob/d833ad2e34dab92e3e58838fedf4b4d643d84ce8/inc/Engine/Admin/Settings/Render.php#L425-L434
- This field type will accept a new argument called `items` which wi

[2022-10-26 12:27] engahmeds3ed opened #5530 "[Task] Refactor Delay JavaScript - Frontend part (3/3)"
Sub Task from the epic: #5493

We will use the filter `rocket_delay_js_exclusions` to add the exclusions from the option/transient mentioned here

#5529 in `settings save` section.

[2022-10-26 12:28] engahmeds3ed commented on #5493
# Sub-Tasks

#5525
#5529
#5530

[2022-10-26 12:45] timersys commented on #5296
Hi Guys, I will add a filter to use on the next version. So you could do this then:

[code]

[2022-10-27 07:28] #5479 closed, assigned to nobody

[2022-10-27 08:25] DahmaniAdame commented on #5413
RUCSS status request - https://secure.helpscout.net/conversation/2048084397/377096/

[2022-10-27 10:53] CyberCr33p commented on #3680
Any progress in this?

[2022-10-27 12:30] viobru commented on #5526
Related: https://secure.helpscout.net/conversation/2049036666/377334

[2022-10-27 13:36] joejoe04 commented on #5526
Related: https://secure.helpscout.net/conversation/2049095817/377356/

[2022-10-27 13:37] joejoe04 commented on #5526
Related: https://secure.helpscout.net/conversation/2049097750/377357/

[2022-10-27 14:28] #5526 closed, assigned to CrochetFeve0251

[2022-10-27 14:32] piotrbak opened #5533 "Remove Unused CSS - Detect usage of Perfmatters' Used CSS"
**Is your feature request related to a problem? Please describe.**
Whenever Perfmatters' Used CSS is used together with our RUCSS, it leads to the problems with layout.

**Describe the solution you'd like**
WP Rocket could detect the usage of Perfmatter's Used CSS and gray out Remove Unused CSS in WP Rocket, showing a notice similar to [the one shown when Autoptimize's minification is detected](ht

[2022-10-27 15:26] juricazuanovic commented on #3246
Another case where rocket_clean_posts() clears the whole cache when editing Elementor templates:
https://secure.helpscout.net/conversation/2027023981/372593

[2022-10-27 17:53] ethanclevenger91 opened #5534 "WP Rocket doesn't flush Kinsta's caches in a Bedrock install"
**Describe the bug**
The integration to flush Kinsta's cache does not work on Bedrock or other Composer-driven WordPress setups

**To Reproduce**
1. Set up a Bedrock install on Kinsta hosting
2. Configure their mu-plugin using the Composer instructions [found here](https://kinsta.com/help/kinsta-mu-plugin/#installing-via-composer)
3. Install WP-Rocket
4. Inspect the `$kinsta_cache` var in the Kins

[2022-10-27 18:03] juricazuanovic commented on #3142
Related: https://secure.helpscout.net/conversation/2049825199/377509/

[2022-10-27 20:33] #5501 closed, assigned to remyperona

[2022-10-28 14:44] piotrbak commented on #4738
Added the following exclusions:
1. Defer JS: `js.hscta.net/cta/current.js`
2. Delay JS: `hbspt.cta.load`, `js.hscta.net/cta/current.js`

[2022-10-28 14:44] #4738 closed, assigned to nobody

[2022-10-28 14:45] piotrbak commented on #5459
Excluded `podigee-podcast-player.js` from JS Minification

[2022-10-28 14:45] #5459 closed, assigned to nobody

[2022-10-28 14:46] piotrbak commented on #4926
Excluded `tarteaucitron.io/load.js` from JS Minification

[2022-10-28 14:46] #4926 closed, assigned to nobody

[2022-10-28 14:50] piotrbak commented on #4062
Excluded `consent.cookiebot.com/uc.js` from Delay JS

[2022-10-28 14:50] #4062 closed, assigned to alfonso100

[2022-10-29 06:33] DahmaniAdame opened #5536 "Remove Unused CSS compatibility Divi Areas Pro"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.12.1.1`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When RUCSS is used with Divi Areas Pro, the inner popup style is missing.

Preserving the inline style using `rocket_rucss_inline_content_exclusions` fixe

[2022-10-29 06:34] #5536 closed, assigned to DahmaniAdame

[2022-10-29 09:37] DahmaniAdame opened #5537 "The group "rocket-rucss" does not exist."
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.12.2.1`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
A couple of cases where RUCSS was stuck on pending had the following error:

[code]
The group is there on the database.

Trailing where the message came f

[2022-10-31 21:17] #5503 closed, assigned to jeawhanlee

[2022-11-01 09:19] Kilbourne commented on #5462
Hi!
It seems that the code of CPCSS generation service is not opensourced. Could you reveal it you are using a dependency to extract the css? Maybe the issue should be opened on the upstream dep.
This issue is causing a layout shift and so webvitals score goes down.
( Also could be a regression because i didn't notice the issue until recent)

[2022-11-01 14:35] alfonso100 commented on #2068
related:
https://secure.helpscout.net/conversation/2004873613/367560?folderId=273766

[2022-11-01 16:31] webtrainingwheels commented on #2713
https://secure.helpscout.net/conversation/2052616133/378166?folderId=377611

[2022-11-02 06:52] #3717 closed, assigned to jeawhanlee

[2022-11-02 09:23] DahmaniAdame opened #5539 "Fatal error on Multisite when WP Rocket is activated in main site"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.12.0.5`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When WP Rocket is activated on the main site on a multisite installation, creating a new sub site will cause a fatal error with the following log:

[code]

[2022-11-02 10:02] worldwildweb commented on #5094
related https://secure.helpscout.net/conversation/2053599939/378432

[2022-11-02 16:40] camilamadronero-zz opened #5540 "Remove Unused CSS - Allow using a separate file for Used CSS"
**Is your feature request related to a problem? Please describe.**
Using a separate file to serve Used CSS could result in better performance because the HTML size won't increase, the CSS file can be cached in the browser, etc.
Additionally, other performance plugins include this as an option for customers to decide.

**Describe the solution you'd like**
Remove Unused CSS could have an option or f

[2022-11-02 16:43] viobru commented on #3270
Related: https://secure.helpscout.net/conversation/2049033139/377332

[2022-11-02 16:53] camilamadronero-zz commented on #5094
related https://secure.helpscout.net/conversation/2054232260/378555/

[2022-11-02 17:47] girlie commented on #4990
Related: https://secure.helpscout.net/conversation/2044929569/376381/

[2022-11-02 20:12] matthias-jauernig commented on #3270
We ran in this issue last week, using WP-Rocket 3.11.5 on Wordpress 6.0.3. Today, I was able to track it down to `wp-rocket/inc/functions/files.php` and could solve it (assumed to work for Linux and Windows) with the following adaption in `function rocket_clean_minify` (starting at [line 331](https://github.com/wp-media/wp-rocket/blob/f24cdc04fbe98e405733b72b5a0f88150163ed5b/inc/functions/files.ph

[2022-11-03 07:52] DahmaniAdame opened #5541 "Notify the customer that ProfilePress is preventing page cache"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.12.2.1`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When ProfilePress is enabled, it adds `DONOTCACHEPAGE` to all pages and prevents page cache.

We must notify customers of such behavior to avoid tickets r

[2022-11-03 08:20] mehedihasanziku commented on #5541
https://wordpress.org/support/topic/fix-cache-prevent-excluding-issue/
https://wordpress.org/support/topic/profilepress-seems-to-prevent-cached-pages/

They know about this issue, but not sure why not agree to look on it.

[2022-11-03 08:40] DahmaniAdame commented on #5540
HTML size won't increase + the separate file that needs to be downloaded = the same size.

By separating both, here is what will happen:
- The server will have one request more that will need to be compressed and send.
- The browser will need to load the CSS file in order to parse it (extra task).
- It will be render-blocking (extra inconvenience).
- It will require using CPCSS + RUCSS. Even under

[2022-11-03 10:08] w3guy commented on #5541
Collins from ProfilePress team here.

We only set the DONOTCACHEPAGE constant when viewing login, registration and checkout pages and not on every page.

See https://prnt.sc/FPxq9tbMDayt

If you, however want to disable this completely, you can use the filter below.

[code]

[2022-11-03 10:28] DahmaniAdame commented on #5541
@w3guy thanks for your feedback.

The `DONOTCACHEPAGE` in the couple of cases we recently had was applied to all pages.

Our default exclusions cover these.

Would forcing page cache on pages other than the 3 your mentioned cause any issues?

[2022-11-03 11:03] w3guy commented on #5541
@DahmaniAdame

Note that these are our plugin specific login, registration and checkout pages. And not WP/Woo ones hence the need for us to exclude them from cache in our plugin.

The `is_page()` should return false hence causing the DONOTCACHEPAGE not to be set on other pages. Don't believe me, goto ../wp-user-avatar/src/Membership/Controllers/FrontendController.php

Add a var_dump like so `var_d

[2022-11-03 14:33] mehedihasanziku opened #5543 "Preload - Treat Redirected URLs status as redirected"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
I tested preload feature on a complicated website. so far i found an issue.

When a page discovered inside sitemap and it has 301 redirection, this redirection never

[2022-11-03 16:14] alfonso100 opened #5544 "Preload - disable preload for pagination pages by default"
**Before submitting an issue please check that you’ve completed the following steps:**
yes - Made sure you’re on the latest version
yes - Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Pagination pages will be added to the `wpr_rocket_cache` table, and since WordPress allows accessing "fake" pagination pages like these: http://mega.wp-rocket.me/cf-

[2022-11-03 17:21] SenseAndImage commented on #3757
I am having a problem that is very much related to that:

https://mydomain.tld/artist/Stefano-della-Bella/Verschiedene-Tierköpfe-Têtes-de-différents-animaux-Drei-Kamelköpfe/
Is not being cleared since it is saved as /artist/Stefano-della-Bella/Verschiedene-Tierk%c3%b6pfe-T%c3%aates-de-diff%c3%a9rents-animaux-Drei-Kamelk%c3%b6pfe on disk.

Currently I have to fall back to deleting everything inside

[2022-11-04 14:45] 15kstudios commented on #4678
+1

[2022-11-04 16:15] viobru commented on #2153
Related: https://secure.helpscout.net/conversation/2053179903/378311
In this case, the too many redirects error was displayed after the customer rolled back to a previous version of WPR.

[2022-11-04 18:57] pedddro commented on #4407
Hey @piotrbak, somehow I managed to confirm that `pre_get_rocket_option_remove_unused_css_safelist ` works for Critical CSS.
Using Critical CSS: https://webvitals.dev/cls/g7Thk9T79AWFXyLu7IR4
![image](https://user-images.githubusercontent.com/18357571/200054037-86598d42-c562-417d-a4ad-3129509e8865.png)

Using Critical CSS and filter

[code]

https://webvitals.dev/cls/S9L8oH61gXVzNV4RiJCy
![image](

[2022-11-05 08:10] DahmaniAdame opened #5546 "Avoid SecuPress "Trying to access array offset on value of type bool""
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.12.2.1`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Under unknown circumstances, the `$bases` - which stores the result of `secupress_get_rewrite_bases()` - might return a `bool` instead of an `array` and t

[2022-11-05 09:52] worldwildweb commented on #5366
related https://secure.helpscout.net/conversation/2056760031/379142/

[2022-11-06 18:25] #5484 closed, assigned to piotrbak

[2022-11-07 13:17] #5400 closed, assigned to engahmeds3ed, mostafa-hisham

[2022-11-07 13:32] dvershinin opened #5548 "Unnecessary SetEnvIfNoCase in .htaccess?"
The `.htaccess` file by WP Rocket has the following parts:

[code]

The pattern in the `SetEnvIfNoCase` makes little sense:

* Which, if any, browsers, incorrectly sends things like `X-cept-Encoding` ?
* Why there's a need to "normalize" incoming header `XXXXXXXXXXXXXXX` to `Accept-Encoding` (trying to check it as such)

[Here's a regex test to try makes sense of it...](https://regex101.com/r/mNqg

[2022-11-07 15:30] alfonso100 opened #5549 "Empty the wpr_rocket_cache table after a domain migration"
**Before submitting an issue please check that you’ve completed the following steps:**
yes - Made sure you’re on the latest version
yes - Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When a site changes the domain, for example when moving from Staging to Production, the `wpr_rocket_cache` table will carry entries referencing the old domain. Attem

[2022-11-07 20:26] #5481 closed, assigned to mostafa-hisham

[2022-11-07 23:39] webtrainingwheels opened #5550 "PHP Error on deactivation of BigCommerce plugin"
**Before submitting an issue please check that you’ve completed the following steps:**
👍 Made sure you’re on the latest version
👍 Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When deactivating the BigCommerce plugin while WP Rocket is active, a PHP error is produced. On my test site, it's logged as a PHP warning:

`PHP Warning:  call_user_func_ar

[2022-11-08 05:39] #5496 closed, assigned to mostafa-hisham

[2022-11-08 09:47] Mai-Saad opened #5551 "Minify/Combine CSS optimization isnot working on URL containing Media query string"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.12.2.1
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
If a page contains CSS file with a media query string, it won't be minified or combined

**To Reproduce**
Steps to reproduce the behavior:
1. Use style file cont

[2022-11-08 10:52] DahmaniAdame commented on #5541
The website didn't set any pages.

Using the filter to disable the page cache worked.

@w3guy Can you confirm that the only pages that need to be excluded from page cache?

[code]

We can selectively exclude them from our page cache while keeping optimizations if that's the case.

Something like the following would work in a compatibility file:

[code]

[2022-11-08 11:12] w3guy commented on #5541
@DahmaniAdame correct. That’s the only page that shouldn’t be cached.

but I am genuinely curious as to why this is happening. If the user had none of the pages set, the is_page condition would return false and thus, nocache header would be set.

can you explain or help us find out why the is_page condition is returning true?

[2022-11-08 11:35] #5401 closed, assigned to CrochetFeve0251

[2022-11-08 13:03] alfonso100 opened #5553 "Exclude /wordpress-miniature-earth/miniature.earth.loader.js from JS Minification and Combine"
**Before submitting an issue please check that you’ve completed the following steps:**
yes - Made sure you’re on the latest version
yes - Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When using **[Miniature Earth](https://codecanyon.net/item/miniature-earth-interactive-3d-globe-for-javascript/23390670)** plugin, and JS minification and/or combine

[2022-11-08 14:28] NataliaDrause commented on #5435
Related: https://secure.helpscout.net/conversation/2061109768/380106/

[2022-11-08 20:35] camilamadronero-zz commented on #5537
Related https://secure.helpscout.net/conversation/2047164871/376888?folderId=2675957
https://jmp.sh/NdUbcpKd
Re-installing WP Rocket helped too

[2022-11-09 12:21] vmanthos opened #5555 "Delay JS - PHP fatal error when the HTML of a page is null"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.12.2.1`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When parsing the HMTL of a page here:
https://github.com/wp-media/wp-rocket/blob/6ca9b29e29d71bd0a783f8b797cb54b18357549f/inc/Engine/Optimization/DelayJS/HTM

[2022-11-09 13:45] skrlance opened #5556 "Enforce Trailing Slash"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when your are not allowing us to choose if we like to enforce trailing slash on URLs or not from the plugin options itself.

**Describe the solution you'd like**
Keep an option to enforce trailing slash

**Describe alternatives you've considered**
Currently, I have enforce trailing slash redirect rules setup o

[2022-11-09 14:20] viobru commented on #3348
Related: https://secure.helpscout.net/conversation/2057644500/379356

[2022-11-09 16:49] camilamadronero-zz commented on #3142
Related https://secure.helpscout.net/conversation/2062261386/380391/

[2022-11-09 19:41] alfonso100 opened #5559 "Clear NGINX cache via Nginx Helper after the Used CSS has been generated"
**Before submitting an issue please check that you’ve completed the following steps:**
yes - Made sure you’re on the latest version
yes - Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
On a server running **Nginx Cache** and the **Nginx helper**, we are not clearing the Nginx cache after the Used CSS has been generated-

**To Reproduce**
Steps to r

[2022-11-10 06:08] DahmaniAdame commented on #5541
@w3guy found the culprit.

The problem only happens if there are no pages added to ProfilePress.

The issue is this condition's results on `/wp-user-avatar/src/Membership/Controllers/FrontendController.php`

[code]

It will return true if the `$page_ids` is empty - [reference](https://developer.wordpress.org/reference/functions/is_page/#notes)

This is the correct test that needs to be performed:

[2022-11-10 08:27] E-VANCE opened #5561 "Cache clearing not working on a per-post basis in conjunction with WPML (non-encoded URL / special chars?)"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
We're using WP Rocket in conjunction with WPML and I have noticed a faulty behaviour when it comes to saving a (translated) post – WP Rocket doesn't automatically cl

[2022-11-10 09:18] DahmaniAdame commented on #4722
Related - https://secure.helpscout.net/conversation/2051579814/377981/
Replacing the place holder with `data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=` fixed the issue.
One thing to watch for is the presence of `height` and `width` set to `auto` in this particular case. It might have had some kind of conflict with the SVG placeholder.

[2022-11-10 13:13] WordPresseur commented on #5413
Preload and Used CSS request: https://secure.helpscout.net/conversation/2062683526/380515?folderId=1213662

[2022-11-10 15:55] viobru commented on #3348
Related: https://secure.helpscout.net/conversation/2063079842/380586/

[2022-11-10 17:31] viobru commented on #5418
Related: https://secure.helpscout.net/conversation/2062887866/380557/

[2022-11-10 21:28] joejoe04 commented on #4792
Related: https://secure.helpscout.net/conversation/2063714814/380702

[2022-11-10 21:35] joejoe04 commented on #1997
Related: https://secure.helpscout.net/conversation/2063772281/380725/

[2022-11-11 06:25] w3guy commented on #5541
@DahmaniAdame let me investigate and get back to you please.

[2022-11-11 07:08] w3guy commented on #5541
@DahmaniAdame thank you so much for your help. The next update nextweek will include this fix.

I'll let you know when the update is live so you can close this issue.

[2022-11-11 09:10] #5550 closed, assigned to remyperona

[2022-11-11 15:05] piotrbak commented on #5094
To solve this problem we'll add a checkbox under `Yes, apply "Safe Mode"`.
![export](https://user-images.githubusercontent.com/26767037/201365997-ee12f382-104a-41d4-a971-42007e26f908.png)

**Acceptance criteria:**
1. Additional checkbox is checked by default
2. When it's checked and customer click `Confirm`, export file will be downloaded
3. When it's unchecked, the export file won't be downloaded

[2022-11-12 08:55] worldwildweb commented on #3142
related: https://secure.helpscout.net/conversation/2064913990/380967

[2022-11-13 16:45] mifrero commented on #3142
Related: https://secure.helpscout.net/conversation/2065747531/381145/

[2022-11-14 05:49] mostafa-hisham commented on #4792
Do we know the Divi version of the websites that have the issue?
the filter we currently use to disable **the dynamic CSS option** was added in the Divi theme `@since 4.10.6`
@joejoe04 @DahmaniAdame @alfonso100 @vmanthos

@piotrbak
we can force disable the Divi options by changing the value in the options table

the code close to this

[code]

[2022-11-14 07:27] vmanthos commented on #5510
The solution this PR brings is working as expected but may need to be extended.

During exploratory testing, I found that if an event belongs to a category, e.g. "conferences" the URL for the category is:
https://vasilis.rocketlabsqa.ovh/events/category/conferences

If you visit that, you'll be able to access events like the following:
https://vasilis.rocketlabsqa.ovh/events/category/conferences/d

[2022-11-14 16:48] NataliaDrause commented on #5425
Related: https://secure.helpscout.net/conversation/2066937311/381397/

[2022-11-14 20:49] sandyfzu opened #5566 "Allow to ignore all query strings"
**Is your feature request related to a problem? Please describe.**
From time to time, we get questions about how to ignore all query strings.

Right now we have this helper plugin: https://github.com/wp-media/wp-rocket-helpers/tree/2e5347b364a717be323d06a411036146574ac450/cache/wp-rocket-cache-ignore-query-strings

But it only allows to add known query strings to the array, also, an approach like:

[2022-11-15 05:53] DahmaniAdame commented on #4792
@mostafa-hisham I don't recall `Divi` version on the cases I had. I will keep that in mind and check it on the next case if any.

[2022-11-15 06:40] DahmaniAdame opened #5567 "Fatal error while activating WP Rocket - Argument 2 passed to WP_Rocket\Logger\Logger::error() must be of the type array, string given"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.12.2.1`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Activating WP Rocket directly through the following error:

[code]

Changing:

https://github.com/wp-media/wp-rocket/blob/7249d2ea66c41e7b6905ea42bd64f065

[2022-11-15 07:43] Mai-Saad opened #5568 "CDN isnot applied to relative URL with query string"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.12.2.1
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Relative URLs with query string aren't rewritten to CNAME

**To Reproduce**
Steps to reproduce the behavior:
1. Having a relative URL on the page with query stri

[2022-11-15 10:52] w3guy commented on #5541
@DahmaniAdame the update is now live. https://wordpress.org/plugins/wp-user-avatar/#developers

Many thanks for your help.

[2022-11-15 14:00] mostafa-hisham commented on #5567
### Reproduce the issue :heavy_multiplication_x:

### Scope a solution
I think this will happen in versions >= PHP 8 and this function `as_enqueue_async_action` has to fail
i don't know how to make it fail
But
changing the code as @DahmaniAdame said will fix it

`Logger::error( $exception->getMessage(), ['Action Scheduler Queue'] );
`
### Estimate effort
Effort `XS`

[2022-11-15 15:34] alfonso100 opened #5570 "[WIP] 500 error after updating to 3.12.3 preg_replace() at /DelayJS/HTML.php on line 147"
**Before submitting an issue please check that you’ve completed the following steps:**
yes - Made sure you’re on the latest version
yes - Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
A fatal error lading to 500 errors after updating to **WP Rocket 3.12.3.**

happening at the `preg_replace` function, Delay Javascript Execution HTML.php  [here](htt

[2022-11-15 15:36] joejoe04 commented on #3142
Related: https://secure.helpscout.net/conversation/2067133128/381469/

[2022-11-15 15:54] NataliaDrause commented on #5570
Related: https://secure.helpscout.net/conversation/2068276771/381688?folderId=3864740

[2022-11-15 16:00] juricazuanovic commented on #5094
Related: https://secure.helpscout.net/conversation/2068256522/381670/

[2022-11-15 16:05] alfonso100 commented on #5570
related https://secure.helpscout.net/conversation/2068660366/381815?folderId=273761

[2022-11-15 18:52] juricazuanovic commented on #5570
Related: https://secure.helpscout.net/conversation/2068052258/381643/

[2022-11-16 09:44] DahmaniAdame commented on #3142
Related - https://secure.helpscout.net/conversation/2057770178/379392/

[2022-11-16 10:23] DevsOnWp opened #5572 "Database Cleanup -> Optimize Tables Not Working - PHP Warning: Undefined property: stdClass::$table_name"
Hello;

I am using Wp Rocket version 3.12.3, when I use "Database->Database Cleanup->Optimize Tables" tool I get the following error report, I solve this error as "/public_html/wp-content/plugins/wp-rocket/inc/Engine/Admin I change the "$table->table_name" variable to "$table->TABLE_NAME" in the code on line 131 in the file /Database/OptimizationProcess.php" and the error goes away, but it does no

[2022-11-16 10:56] DahmaniAdame commented on #4990
Related - https://secure.helpscout.net/conversation/2064983254/381010?folderId=3864735

[2022-11-16 12:04] Mai-Saad opened #5573 "PHP Fatal error: Uncaught TypeError: when setting preload rows count filter is set to null"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.12.3
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
A fatal error is added to the debug.log when setting `rocket_preload_cache_pending_jobs_cron_rows_count` filter to null (no problem on the FE)

**To Reproduce**
St

[2022-11-16 13:16] #5567 closed, assigned to mostafa-hisham

[2022-11-16 13:16] #5570 closed, assigned to mostafa-hisham

[2022-11-16 14:21] WordPresseur commented on #1997
Related: https://secure.helpscout.net/conversation/2066501274/381299?folderId=1213662

[2022-11-16 18:19] victoras commented on #5492
+1 The same problem and [Azure Storage](https://wordpress.org/plugins/windows-azure-storage/) is used.

[2022-11-16 21:32] NataliaDrause commented on #4062
Site in [this ticket](https://secure.helpscout.net/conversation/2066140207/381232/) is affected by the fix.

Performance drops significantly when cookiebot script is excluded.

Removing the exclusion brings good scores back and nothing is broken.

[2022-11-17 05:18] spk100 opened #5576 "Mobile Menu does not work with Soledad Theme"
[Soledad Theme](https://themeforest.net/item/soledad-multiconcept-blogmagazine-wp-theme/12945398) has a built-in [speed optimization ](https://soledad.pencidesign.net/soledad-document/#speed-optimization) that is recommended by the theme developer.

When I enable those options and disable the ones inside WP Rocket, the page speed scores are not that great as I have other plugins as well.

When I e

[2022-11-17 08:10] GeekPress commented on #5576
Hi @spk100 ,

You must not use two speed optimization tools at the same time. I really recommend only using WP Rocket to optimize your website.

All CSS options from this theme are totally useless by using WP Rocket and our Remove unused CSS feature.

Using both will be at your own risk.

[2022-11-17 08:10] #5576 closed, assigned to nobody

[2022-11-17 08:18] prathamesh-gharat commented on #1747
define( 'WP_ROCKET_ADVANCED_CACHE_PROBLEM', true );
which will automatically trigger a regeneration of the advanced-cache.php file whenever admin_init is fired

I ran into a problem today.
The old paths exist, but we have moved the directory to a different one on the same server. So I am guessing it does not automatically trigger a regeneration of the `advanced-cache.php`.
How do we manually trigg

[2022-11-17 09:02] WordPresseur opened #5577 "CDN - CNAME field is emptied and can't be added anymore with https protocol."
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**
After updating to 3.12.3, the CDN's CNAME field is emptied and the CNAME can't be added anymore to it if it contains the https:// protocol.

**To Reproduce**
Steps to re

[2022-11-17 09:14] vmanthos commented on #5577
It's because of the following commit:
https://github.com/wp-media/wp-rocket/pull/5105/commits/2244ddcc7e79955170a26a8d4c85d1582a9e9ee2

When a CNAME has a scheme, `sanitize_cdn_cnames()` will return:
[code]

Removing the `FILTER_FLAG_HOSTNAME` flag will resolve this:
https://github.com/wp-media/wp-rocket/blob/5ae181cb176c520f7fc9990cd8f5c9e9f6281d5e/inc/Engine/Admin/Settings/Settings.php#L696

[2022-11-17 15:24] piotrbak commented on #5556
Hello @skrlance thanks for creating the issue.

In terms of trailing slash, we're working on the solution to respect the trailing slash that's used in WP settings. That's a complicated topic in many different aspects.

Could you tell me what benefits do you see when combining and delaying JS in the same time?

[2022-11-17 15:28] piotrbak commented on #5553
@alfonso100 That would be a good candidate for backend exclusion, right? 🤔

[2022-11-17 18:48] webtrainingwheels commented on #4190
More requests:
https://secure.helpscout.net/conversation/2022483496/371558/
https://secure.helpscout.net/conversation/2015160692/369843/
https://secure.helpscout.net/conversation/2014759996/369762/
https://secure.helpscout.net/conversation/1988449432/363806/
https://secure.helpscout.net/conversation/1980369262/362112/
https://secure.helpscout.net/conversation/1916426051/347781/
https://secure.help

[2022-11-18 04:44] ugurcanbulut commented on #5003
@piotrbak This is causing critical issues on SEO. Because, it doesn't even respect our custom 301 redirects. @maxplateau's solution is working. However, modifying the core files isn't what we want.

Can't you apply filter for the `can_init_process()` method. Something like;
[code]

[2022-11-18 09:32] #5577 closed, assigned to engahmeds3ed

[2022-11-18 10:47] DahmaniAdame opened #5580 "RUCSS compatibility with CF7 hidden fields"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.12.3.1`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
CF7 adds an inline style to control the fields visibility state.

RUCSS would generate the style for one, but will miss the next iterations of the selecto

[2022-11-18 10:48] DahmaniAdame commented on #5580
Added to backend.

[2022-11-18 10:48] #5580 closed, assigned to DahmaniAdame

[2022-11-18 12:20] piotrbak commented on #5361
Moving it back to grooming as proposed solution prevents error from being triggered but doesn't resolve the initial problem. Maybe we could handle this on the CLI side? 🤔

[2022-11-18 13:45] NataliaDrause opened #5582 "WordPress database error Table doesn't exist for query SELECT a.action_id FROM a WHERE 1=1 AND a.hook='rocket_preload_job_check_finished'"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.12.3.1
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Preload is getting stuck and the following error occurs in debug.log:

`WordPress database error Table 'wp_faqz6ghts.a' doesn't exist for query SELECT a.action_id

[2022-11-18 14:28] DahmaniAdame opened #5583 "Update jQuery Migrate regex"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.12.3.1`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
We use the following regex in order to exclude jQuery migrate:
[code]

It matches:

[code]

But it doesn't match:

[code]

The following regex fixes that:

[2022-11-18 14:50] NataliaDrause commented on #5555
Related: https://secure.helpscout.net/conversation/2071323578/382433?folderId=3864740

The error is causing error 500 on customer's site.

[2022-11-19 03:20] skrlance commented on #5556
I just want to have control of settings to on myself. I mean let us choose what we like to do! You can suggest but can't force!!

[2022-11-19 12:13] DahmaniAdame opened #5584 "RUCSS compatibility with Cost Calculator"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.12.3.1`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When RUCSS is used with the [Cost Calculator](https://codecanyon.net/item/cost-calculator-wordpress-plugin/12778927) plugin, the calculator form fields ar

[2022-11-20 03:17] valmirselmani opened #5585 "Restore post from trash clears the entire cache"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When you restore a post from the trash, the entire language cache is cleared. It will also clear the entire cache if WPML is not used.

After extensive debugging, i found th

[2022-11-20 16:02] engahmeds3ed commented on #5582
**How can we reproduce this error?**

You can install an older version of Elementor like [v3.7.8](https://downloads.wordpress.org/plugin/elementor.3.7.8.zip) then update manually to [v3.8.0](https://downloads.wordpress.org/plugin/elementor.3.8.0.zip) or update to the latest release.
In my test I updated manually so I replaced the files using ftp or locally by copy/paste not from the UI.

**Notes w

[2022-11-21 08:18] mostafa-hisham commented on #5555
## Scope a solution
we need to safeguard  the HTML variable like @vmanthos  said
## Estimate the effort
Effort `XS`

[2022-11-21 08:49] vmanthos opened #5588 "Partial URL added to Never Cache URLs is excluded from preloading"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.12.3.1`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When adding URLs to the Never Cache URLs text area, those are removed from the `wpr_rocket_cache` table in order to avoid preloading them.

When the partial

[2022-11-21 10:20] #5509 closed, assigned to vmanthos, jeawhanlee

[2022-11-21 10:20] viobru commented on #1890
Related: https://secure.helpscout.net/conversation/2072713376/382729/

[2022-11-21 15:30] NataliaDrause opened #5589 "PHP notice wp_cache_flush_runtime was called incorrectly"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.12.2.1
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**

The following PHP notice is being logged every minute:

`PHP Notice: Function wp_cache_flush_runtime was called <strong>incorrectly</strong>. Your object c

[2022-11-21 19:01] NataliaDrause commented on #3376
Similar request: https://secure.helpscout.net/conversation/2073839881/382958?folderId=3864740

[2022-11-22 08:28] #5559 closed, assigned to alfonso100

[2022-11-22 09:20] Mai-Saad opened #5590 "Clear the cache of certain language will clear the whole cache in some cases"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.12.3.1
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Clearing the cache of one language will clear the whole cache

**To Reproduce**
Precondition:
- WPML language format using qs i.e Language name added as a parame

[2022-11-22 10:11] JulioPotier commented on #5546
Hello, SecuPress dev here, if you need us to change something, we can. Returning a bool here is not a good idea and we don't need it too. See you!

[2022-11-22 10:13] vmanthos commented on #5590
We are ignoring query strings when clearing the cache and keep only the path:
https://github.com/wp-media/wp-rocket/blob/5ddfb40f083765f1df50398efba339571ce82bc7/inc/functions/files.php#L758

So:
* https://vasilis.rocketlabsqa.ovh/?lang=el
* https://vasilis.rocketlabsqa.ovh/?lang=en
are treated like https://vasilis.rocketlabsqa.ovh/

We will likely need to change how the cache is stored when `$lan

[2022-11-22 10:53] carstenjaksch commented on #1524
This seems like a small change. Why isn't it supported in 2022?

[2022-11-22 12:41] LSshopmacher commented on #5241
We are one the latest version 6.1.1 and have the same problem. If I activate lazy loading of JS and add this to the exclude list:

[code]

we start to have white pages in the cache (only some sub pages as it seems). We have the latest WordPress (6.1) and the latest Divi (4.19.1).

Error:

[2022-11-22 14:13] Mai-Saad commented on #5590
Some exploratory test note(s) on the same env (may need new GH):
1- After a fresh install of WPR, language qs folders are fetched only for the home page by strange names (while Home is set to the latest posts or specific page), if we clear and preload the cache, it will be removed
 => on 3.12.3.1 and 3.12.2.1 but not on 3.11.5
![Screenshot from 2022-11-22 13-15-50](https://user-images.githubuserco

[2022-11-22 14:40] viobru commented on #4411
Related: https://secure.helpscout.net/conversation/2075149866/383490/

[2022-11-22 20:07] joejoe04 commented on #3142
Related: https://secure.helpscout.net/conversation/2074063973/383052/

[2022-11-22 22:16] NataliaDrause commented on #5366
related: https://secure.helpscout.net/conversation/2074615401/383342?folderId=3864740
plugin: "Next Active Directory Integration"

[2022-11-23 03:15] mikezielonka commented on #3142
I hope one day this gets fixed.  Maybe its time to 🙏

[2022-11-23 06:43] CyrilDesch opened #5591 "[RUCSS] Bad json & Browser can't open new page"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.12.2.1
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
The bug occur when used css be generated. Saas job failed very often. have two errors send by saas :
- 400 : Bad JSON (most often)
- 408 : Browser couldn't open

[2022-11-23 06:57] #5555 closed, assigned to mostafa-hisham

[2022-11-23 08:19] DahmaniAdame commented on #2371
Related - https://secure.helpscout.net/conversation/2074575621/383322/
(advanced-cache.php got wiped up on a Pantheon commit and not re-added after that by WP Rocket)

[2022-11-23 11:20] matzeeable commented on #5283
@DahmaniAdame any news about this?

I run into a more "big" problem with RUCSS and WP Rocket. We are currently planning to rewrite our cookie banner in CSS-in-JS with scoped class names:

![image](https://user-images.githubusercontent.com/1008534/203533625-60e07195-ef7c-4f69-b039-0627571a45cc.png)
![image](https://user-images.githubusercontent.com/1008534/203533741-afd44fb7-d710-45a3-9083-42a2e0c3

[2022-11-23 14:52] joaodath commented on #4433
Hey, WP-Rocket team! I was wondering if there are any updates to this feature request. It has the potential to improve loading times for many websites and I would love to see it land on the plugin soon <3

[2022-11-23 19:18] jeawhanlee commented on #5094
We will add a checkbox after this line https://github.com/wp-media/wp-rocket/blob/0918f5017d02fcc9d438c6419af5e891a589d848/views/deactivation-intent/form.php#L49 and set a `checked` attribute in it to be checked by default with name attribute maybe `export_settings` and id as `export_settings` too.
Then we will make some changes to our `rocket_do_options_export` https://github.com/wp-media/wp-rock

[2022-11-23 20:09] #5525 closed, assigned to engahmeds3ed

[2022-11-24 08:03] #5591 closed, assigned to nobody

[2022-11-24 10:39] DahmaniAdame commented on #5537
Related - https://secure.helpscout.net/conversation/2076358699/383851/
Re-installing fixed the issue.

[2022-11-24 14:17] blorange2 commented on #5517
@piotrbak hi, I know this is only medium priority but in the interim is there a quick and dirty way for me to add what I need as a temporary fix? Thanks

[2022-11-25 10:43] #5582 closed, assigned to engahmeds3ed

[2022-11-25 11:06] viobru commented on #4957
Likely related: https://secure.helpscout.net/conversation/2077061628/384051

[2022-11-25 14:46] #5189 closed, assigned to jeawhanlee

[2022-11-26 05:52] ollygaspar commented on #3142
This has been an issue with WP-Rocket for over 2 years now and seriously compromises the monetization potential for content sites. Loading an extra outdated script (fastclick) is not a permanent solution.

Pretty disappointing to see no traction regarding this after so many cases reported to support teams.

[2022-11-26 07:19] GeekPress commented on #3142
What a bad supposition you are doing here. It's not because we aren't replying or don't see changes here that means we aren't working on it.

We do...

You don't see it as we have another private repository for our the delay js file.

[2022-11-26 10:09] DahmaniAdame commented on #5288
Related - https://secure.helpscout.net/conversation/2079190820/384799/
Issue happens when the WooCommerce localization `v` query string is used.

[2022-11-26 10:49] DahmaniAdame commented on #4376
Related - https://secure.helpscout.net/conversation/2079159272/384785/
Woordmart

[2022-11-26 17:56] girlie commented on #4751
Related: https://secure.helpscout.net/conversation/2079027439/384753/

[2022-11-27 13:27] w3guy commented on #5541
@DahmaniAdame shouldn't we close this ticket?

[2022-11-27 16:45] NataliaDrause opened #5595 "Add Missing Image Dimensions modifies other attributes in some cases"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.12.2.1
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
After **Add Missing Image Dimensions** option is applied, `alt` attribute is replaced with `data-alt`.

**To Reproduce**
Steps to reproduce the behavior:
1.

[2022-11-28 03:41] s60v5 commented on #4354
This bug still seems to be a problem. Just replicated this on a fresh Wordpress installation with WP Rocket 3.12.3.2.

Steps to reproduce:
1. Create a new javascript file in your child theme, for example under "js/script.js".
2. Add a new event listener:
[code]
3. Exclude the script.js file in WP Rocket Settings under "Delay JavaScript execution" and enable the delay JS.
4. On frontend, everything

[2022-11-28 10:51] WordPresseur commented on #5418
Related: https://secure.helpscout.net/conversation/2077564693/384213?folderId=1213662

[2022-11-28 16:47] NataliaDrause commented on #5035
A somewhat related ticket here: https://secure.helpscout.net/conversation/2078306898/384539?folderId=2675957

This site is using Varnish and Polylang and this is causing issues with Used CSS generation. Varnish is not respecting mandatory cookie and cache is being served immediately while WP Rocket cache is not until the cookie is set. Secondary visit to the same page will keep hitting Varnish unt

[2022-11-28 18:56] camilamadronero-zz commented on #5537
New case: https://secure.helpscout.net/conversation/2064391726/380873?folderId=2675957
Reinstalling fixed it, too.

[2022-11-28 22:55] SimonThSorcerer commented on #1803
Could you take another look at this, I'm using Divi on [my blog](https://simonsblogpark.com/onlinegambling/simons-casino-blog/) as well (along with WPRrocket and I really could use the speed boost. 2 years have passed (almost 3) perhaps a solution presented itself in the meantime (because it still does not work)?

I love your plugin otherwise and I'm paid customer for years, but this should have b

[2022-11-29 00:26] webtrainingwheels commented on #5418
https://secure.helpscout.net/conversation/2080316579/385107?folderId=377611

[2022-11-29 05:58] DahmaniAdame commented on #5541
@w3guy Sorry, I didn't have time to test the latest update.

Just tested. Working as expected now 👍

@piotrbak fix confirmed on the plugin's end. So, no further action is needed on our side.

Closing this one.

[2022-11-29 05:58] #5541 closed, assigned to nobody

[2022-11-29 06:49] aharonyltd opened #5597 "Elementor version 8+ - the mobile menu does not open with one click"
Hi, this is already happening on several sites, as soon as Elementor is upgraded to version 8+, the mobile menu does not open with one click

It seems that something needs to be improved in the plugin that will remember the click and execute it

I improve the performance of websites and I know how to test it in depth
I recommend you check this bug

[2022-11-29 07:19] s60v5 commented on #4354
Hello @piotrbak is the WP Rocket team aware of this issue? It's very problematic for us as we use WP Rocket for many sites.

[2022-11-29 08:23] DahmaniAdame commented on #5539
@engahmeds3ed, any update? I can see the PR here https://github.com/wp-media/wp-rocket/pull/5547, but it's not assigned yet to a release.

[2022-11-29 09:21] engahmeds3ed commented on #5539
@DahmaniAdame
I believe this is fixed here #5586 can u plz validate with the customers having this issue?

in this PR we are checking if `init` hook is finished so this means that Action Scheduler is ready.

[2022-11-29 17:18] GeekPress opened #5598 "Test - Please don't delete."
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See erro

[2022-11-29 18:47] #5598 closed, assigned to nobody

[2022-11-29 19:33] alfonso100 commented on #5589
related https://secure.helpscout.net/conversation/2082026048/385661?folderId=2683093

[2022-11-29 20:21] alfonso100 opened #5599 "The /feed/ url is cached and optimized by default"
**Before submitting an issue please check that you’ve completed the following steps:**
yes- Made sure you’re on the latest version
yes - Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
On WP Rocket 3.12.3.2 `/feed/` is cached and optimized by default. rolling back to 3.11.5 fixes the issue.
this might be affecting `/wp-json/` too and probably other

[2022-11-29 20:25] remyperona commented on #5599
related commit https://github.com/wp-media/wp-rocket/commit/c0fb3c9da98e4db258b94254e4deb9df036d4552 in 3.12.3.2

[2022-11-29 20:47] remyperona commented on #5599
the user_trailingslashit() should only be applied to user added patterns, instead of applying it in the get_rocket_cache_reject_uri(), to avoid adding extra slash to some of the patterns.

This could be done by using this function before saving the value to the database with the pre_update hook for example, or during sanitize of the option

[2022-11-30 07:50] DahmaniAdame opened #5600 "Cloudflare URL purge not working on some hosting compatibilities"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.12.2.2`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
WP Rocket unhooks the following actions as part of compatibility with some of the hosting services where our plugin does not handle cache:

- `wp_trash_po

[2022-11-30 09:08] simkoG opened #5601 "WordPress database error"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**
There is a database error message in our log file which says that there is an SQL syntax error in your plugin.

**To Reproduce**
I'am not entirely sure. I've just checke

[2022-11-30 09:47] DahmaniAdame commented on #5539
@engahmeds3ed the patch didn't work. The issue is still there.
Can you have a look? https://secure.helpscout.net/conversation/2027704694/372683/

[2022-11-30 10:11] simkoG opened #5602 "Feature request: Log critical CSS generation errors"
**Is your feature request related to a problem? Please describe.**
You should log the errors that prevent the "Regenerate Critical CSS" from running. I have seven post types on my site. Sometimes the Critical CSS generation could not be complete because of some type of error. It is hard to find out what causes the problem.

**Describe the solution you'd like**
When the "Regenerate Critical CSS" fa

[2022-11-30 11:21] DahmaniAdame opened #5603 "Support custom htaccess location (like Bedrock)"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.12.2`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When WordPress is deployed using Bedrock + using Multisite, WP Rocket looks for the `htaccess` file using the following:

[`$htaccess_file = get_home_path()

[2022-11-30 11:32] DahmaniAdame commented on #2441
Related - https://secure.helpscout.net/conversation/2081070810/385411/

[2022-11-30 14:50] viobru commented on #3142
Related: https://secure.helpscout.net/conversation/2082598568/385798

[2022-11-30 15:19] NataliaDrause commented on #5599
Related: https://secure.helpscout.net/conversation/2083011318/385873?folderId=3864740

`wp-json` are being cached.

[2022-11-30 21:27] alfonso100 commented on #5599
related https://secure.helpscout.net/conversation/2083458937/386040?folderId=273766

[2022-11-30 22:18] alfonso100 commented on #3142
related https://secure.helpscout.net/conversation/2057252274/379274?folderId=2683093

[2022-11-30 22:24] jeawhanlee commented on #5599
We will need to take out these lines: https://github.com/wp-media/wp-rocket/blob/2f768f904f3b3be3ac44ce56eddd9719745abe75/inc/functions/options.php#L238-L243 so as to stop trailing slash being appended to non user added patterns.

### Match only user added patterns to permalink structure
**When settings is saved**
We will hook a method to `pre_update_option_{$option}` that returns the updated patt