[2021-06-07 19:08] webtrainingwheels commented on #3987
In this case: https://secure.helpscout.net/conversation/1520155387/265828?folderId=377611 I had to make these wpforms exclusions to remove various errors:
`/wp-content/plugins/wpforms-form-locker/assets/js/wpforms-form-locker.min.js`
`wpforms_settings`
`/wp-content/plugins/wpforms/assets/js/jquery.validate.min.js`
`wpforms.js`
`jquery.min.js`

[2021-06-07 19:36] alfonso100 commented on #3958
@GeekPress no new reports. The last one was 6 days ago. closing this one 🙏

[2021-06-07 19:36] #3958 closed, assigned to nobody

[2021-06-07 20:31] iCaspar commented on #3998
Grooming Notes:

### Reproduced ✅

### Root Cause
Per the discussion above, returning cookie on the `wcml_user_store_strategy` filter causes WCML to generate a cookie every time the filter is called (apparently a lot of times with many products/languages) resulting in the possible header size overflow.

### Fix
Remove the Rocket filter. That said, if we remove the filter will be unable to properly

[2021-06-07 20:38] iCaspar commented on #3998
After discussion w/ @Tabrisrp, moving this to `Blocked` -- Keeping it open for now in case we get close to our next release before WPML does -- we can implement this as a temporary solution if needed.

[2021-06-07 21:41] engahmeds3ed commented on #3987
**Reproduce the problem**
I can't reproduce it locally but I can see it at one of our testing sites.

**Identify the root cause**
WPForms doesn't use the default WordPress enqueue functions to enqueue the settings script and instead they echo it here

https://plugins.trac.wordpress.org/browser/wpforms-lite/tags/1.6.7/includes/class-frontend.php#L1579

So with the default exclusion list for our Del

[2021-06-07 21:50] remyperona commented on #3991
We use `rocket_css_content` here to be able to rewrite URLs inside the used CSS to the CDN URL when CDN is enabled.

Adding the `$source` and `$target` don't make much sense in this case. `$source` doesn't exist at all for the used CSS, `$target` does but without the source it's not really useful.

I'm thinking we should create a new filter instead, like `rocket_used_css_content`, and apply our CD

[2021-06-08 01:00] webtrainingwheels commented on #3690
https://secure.helpscout.net/conversation/1532820060/269048?folderId=377611
The fix suggested above worked to purge the GD cache in sync.

[2021-06-08 05:40] deep27ak commented on #3953
Can someone also please look into this. It will help us use WPRocket on the staging site.

[2021-06-08 07:37] GeekPress commented on #4005
@gevcen If you do an interaction (scroll, click), the content should be displayed, isn't it?

[2021-06-08 07:40] GeekPress commented on #4000
If people want to change our folder name, it's at their own risk. If it's for testing, it's their responsibility to update the folder to the original name.

We won't fix that as it's not related to us.

[2021-06-08 07:40] #4000 closed, assigned to nobody

[2021-06-08 08:45] DahmaniAdame opened #4013 "Autoptimize compatibility: make CPCSS compatible when using their "aggregate inline CSS" option"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When Autoptimize `Aggregate CSS-files` > `Also aggregate inline CSS` is enabled, it will combine the CPCSS inline code.

WP Rocket won't make Autoptimize combined CS

[2021-06-08 09:30] crystinutzaa commented on #3991
@wp-media/php Yes, I agree with @Tabrisrp that a custom filter will avoid the Fatal error and also will give the possibility of custom filtering of the used CSS.

[2021-06-08 11:11] piotrbak opened #4014 "Add Delay JS exclusion related to Divi"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Divi is adding its JS variables without the usage of `wp_enqueue_script`. We might want to exclude the following pattern:
`et_animation_data`

The issue is similar to those:

[2021-06-08 11:26] engahmeds3ed commented on #3991
I was talking yesterday with @Tabrisrp  about that one and here is a conclusion:-

- We added this filter here to be able to rewrite local URLs to use CDN for the returned used CSS.
- We apply this filter at fetcher when we send the resources' contents to warmup so we already rewrite CDN URLs for linked resources.
- For internal CSS on the page, we apply rewrite on the page at filter rocket_buffer

[2021-06-08 11:32] engahmeds3ed commented on #3991
**Reproduce the problem**
Yes, I can see the issue on the code level.

**Identify the root cause**
We used one filter on two different places with different signatures.

**Scope a solution**
1. Replace the filter [here](https://github.com/wp-media/wp-rocket/blob/59045e5ace9948b5ad844c6f4d5c46122089af7b/inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php#L586) with this new filter `rocket_used_css

[2021-06-08 11:55] gevcen commented on #4005
Indeed I've tested again and, with user interaction, the animations get triggered.
This issue can be closed since it's working as expected, it's caused by the fact that there is currently no timeout for the Delay JS to get triggered. It does only on user interaction, which I think is not a good idea in my opinion.

https://github.com/wp-media/wp-rocket/issues/3938

[2021-06-08 13:10] GeekPress commented on #3979
I'm decreasing the priority as protected pages aren't something common on websites, and users can easily turn off the option on the specific pages.

[2021-06-08 14:09] iCaspar commented on #4014
## Grooming Notes

### Reproduced ✅
Confirmed on mega/divi that animated items do not animate with DelayJS active

### Root Cause
Script variables used in animations are added outside of `wp_enqueue_script`.
Specifically, `et_animation_data` variable.

### Solution Scope
Add `et_animation_data` to auto-excludes.
(Update test fixtures)

### Estimated Effort
[XS]

[2021-06-08 14:58] ScottTravisHartley commented on #2772
I want to add to this particular issue. With the introduction of the remove unused CSS feature on the sites that can run it without issue, with very little used CSS it often times makes sense to simply inline all the used CSS. This is what I did on my own site, this does cause a warning to appear though since the optimize CSS delivery option is not checked that the google font CSS file is now rend

[2021-06-08 15:29] ScottTravisHartley opened #4015 "Text Parameter For Merged Google Fonts (filter)"
For Google Fonts, the text parameter is seldom used but it can reduce the font package quite a bit. However, this is a bit of an advanced feature and I think it's better to be implemented as a filter but the general gist is this. I have used the text parameter on my own site (and it works since the google font optimization was disabled from wprocket).

Doc: https://developers.google.com/fonts/docs

[2021-06-08 17:54] alfonso100 commented on #2698
related ticket: https://secure.helpscout.net/conversation/1517560118/265060

[2021-06-08 20:17] remyperona opened #4018 "Automatically exclude AdThrive scripts from delay JS"
**Describe the bug**
Our new delay JS is causing issues for users of AdThrive, preventing ads loading and CLS management before any user interaction.

Exclude the 2 inline scripts inserted in the HTML would avoid the issue, and improve the experience of our common users.

To do so, we can add `adthrive` to our exclusion patterns.

**Backlog Grooming (for WP Media dev team use only)**
- [ ] Reprodu

[2021-06-09 06:04] vmanthos opened #4020 "Uninstallation - clear metadata from the postmeta table"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

During WP Rocket's uninstallation, the metadata that is saved in the `wp_postmeta` table isn't removed, the same way we do for other database entries/tables and folders

[2021-06-09 07:11] GeekPress commented on #3961
@tommy83 I already explained to you on your support tickets that a timer is totally useless. Adding a timer is like not having the option turned on, so why should we add this?

A 2 seconds timer is required at minimum to get the benefits of it. But in the meantime, it will destroy your performance on GT Metrix...

[2021-06-09 09:35] tommy83 commented on #3961
@GeekPress
https://github.com/wp-media/wp-rocket/issues/3961

Because: there is no reason to scroll on every website.
And many websites have objects in top section and user will wait for it before interacting with the shown elements. For example filter in top bar, slider and many more.

And Small sites dont have scroll. And very often mobile websites have filter, search and other controle elements

[2021-06-09 09:38] GeekPress commented on #3961
@tommy83 This is why by default the Delay JS excludes ALL internal JS files... We aren't forcing you to delay all your JS files.

You can do your test with WP Meteor as it's a good example. Select 1 second and you won't have any significant improvements.

It's not because other plugins are doing it means it's a good thing to do.

[2021-06-09 09:40] GeekPress commented on #3961
And please check these reports:

Delay User Interaction :
https://gtmetrix.com/reports/www.qconnan-photos.fr/0NZR7vvX/

Delay 2 seconds:
https://gtmetrix.com/reports/www.qconnan-photos.fr/l3whFAwg/

What has been done on this website is to exclude some JS files from the Delay JS to have images displayed without user interaction:

The result is:
 https://gtmetrix.com/reports/www.qconnan-photos.fr/V

[2021-06-09 09:47] GeekPress opened #4021 "Auto-exclude "lazyBookingEntitiesIds" pattern from Delay JS"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
With new delay JS, an error is triggered if we don't exclude this pattern `lazyBookingEntitiesIds` inserted by Amelia WordPress Booking plugin.

The inline JS is:

[

[2021-06-09 10:33] GeekPress commented on #763
I have checked both websites which are using 3.4.4 and 3.7.5 . Both websites have LazyLoad working properly.

I'm closing this issue as it seems to be fixed and nobody reported a bug for a while.

[2021-06-09 10:33] #763 closed

[2021-06-09 10:35] DahmaniAdame commented on #973
Related - https://secure.helpscout.net/conversation/1535656337/269712/

[2021-06-09 10:43] arunbasillal commented on #3997
Hello @javiergutierrezchamorro Is that a difference of 10kb after optimization? Sorry to say this, but pretty sure that is trivial and non-consequential for something that happens on WordPress admin side.

Issues like #1599 can make a bigger difference for user experience.

[2021-06-09 10:49] javiergutierrezchamorro commented on #3997
Indeed. 10 KB savings for admin area, but also for ZIP plugin distribution. Of course there are other performance areas, but improving this one is almost trivial @arunbasillal

[2021-06-09 12:33] thekendog commented on #3961
@GeekPress not sure what you and tommy83 have been discussing through tickets, but is this issue being looked at by the WP Rocket team?

[2021-06-09 13:31] vmanthos commented on #3957
Potentially related: https://secure.helpscout.net/conversation/1534557135/269468/

[2021-06-09 13:43] GeekPress opened #4023 "Get rid of « Combine JavaScript files » option"
**Is your feature request related to a problem? Please describe.**
The proposal is to remove the feature in WP Rocket to combine JavaScript files. This will also result in removing the “Combine JavaScript files” option from WP Rocket UI as well.

**Describe the solution you'd like**
Further details related to this improvement are available [here](https://www.notion.so/wpmedia/5d9809fbfff74a30a0a6e

[2021-06-09 16:50] ScottTravisHartley opened #4025 "Remove Unused CSS Doesn't Automatically Inject Font-Display: Swap"
A bug I have noticed with the introduction of this feature on a wide variety of sites is the generated CSS (inline or file) doesn't appear to automatically append or replace font-display swap for @font-face rules. If I disable the remove unused CSS feature and just have the first three css optimizations enabled, then without issue font-display swap is appended.

So, the issue is related to the rem

[2021-06-09 17:05] piotrbak commented on #4025
@ScottTravisHartley This seems to be a duplicate:
https://github.com/wp-media/wp-rocket/issues/3993

[2021-06-09 17:06] ScottTravisHartley commented on #4025
Yep i was searching for the wrong keyphrase lcosing

[2021-06-09 17:07] #4025 closed, assigned to nobody

[2021-06-09 18:09] tommy83 commented on #3961
@GeekPress @thekendog

My idea is based on this information from WP Meteor Page Speed Optimization Topping by Aleksandr Guidrevitch

To have an fallback is very important. And many websites will not work if the script will wait for user interaction.
So webmaster need to setup an fallback.
Right now admin need to decide: black or white. Yes or no. 0 or 1.

Deactivated > Pagespeed: Not good. UX/Webs

[2021-06-09 19:46] #4005 closed, assigned to nobody

[2021-06-09 21:01] tommy83 opened #4027 "Auto exclude JS delay for burger icon"
Theme: Woodmart
Latest WordPress.
WP Rocket: 3.9.01

If you activate delay js the burger icon will not work at first click. At second click its working fine.

Any chance to auto exclude burger icon from delay js or set fallback timer to fireup js?

you can see effect here: https://gschwendtberger.com

[2021-06-10 06:29] GeekPress commented on #4027
Duplicate of #3142

[2021-06-10 06:29] #4027 closed, assigned to nobody

[2021-06-10 07:41] NataliaDrause opened #4029 "Ninja Forms break when Delay JavaScript 3.9.0.1 is enabled"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - yes 3.9.0.1
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
When _Delay JavaScript_ option is enabled, Ninja Form is not displayed even after interaction on the page.

**To Reproduce**
Steps to reproduce the behav

[2021-06-10 08:05] GeekPress commented on #4029
Excluding `var nfForms` instead of `var formDisplay` will be less generic and more accurate.

[2021-06-10 08:06] GeekPress commented on #4029
@NataliaDrause Did you try to exclude only the inline script?

[2021-06-10 08:18] GeekPress commented on #4029
@NataliaDrause I have just tried and excluding only the inline script pattern is enough.

The exclusion can be only:

`var nfForms`

[2021-06-10 08:22] GeekPress commented on #4029
@iCaspar Can this be added to this PR? https://github.com/wp-media/wp-rocket/pull/4016

[2021-06-10 08:22] NataliaDrause commented on #4029
You're right. I tested it and it works.

It doesn't work always on my site. You can have a look. Only inline is added now: https://testsite.nataliadrause.com/contact/

[2021-06-10 08:25] GeekPress commented on #4029
@NataliaDrause The form is always displayed on my side: https://share.getcloudapp.com/eDuy6Jmy

[2021-06-10 08:30] NataliaDrause commented on #4029
Interesting. I noticed if I use hotkeys to open the page and keep mouse away from the browser while page is loading - everything is working fine after the interaction.
Happens on Windows in Chrome, Opera and Firefox the same way.
Seems similar to this issue: #3961

But when files are excluded together with the inline script, this doesn't happen.

I guess excluding the inline script automatically i

[2021-06-10 08:36] NataliaDrause commented on #4029
Here are the screen recordings:
- when I use mouse  in the browser: https://jmp.sh/7L0e1E7
- when mouse is away from the browser and I use Enter to load the page: https://jmp.sh/rCduWTT

[2021-06-10 08:40] GeekPress commented on #4029
Yes I think it's also related to #3961

[2021-06-10 09:15] NataliaDrause commented on #3998
Related ticket: https://secure.helpscout.net/conversation/1525910893/267257/

[2021-06-10 09:45] Mai-Saad opened #4030 "Better change browser cache setup time in cloud flare msg to day/year/hr"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.9.0.1
- Used the search feature to ensure that the bug hasn’t been reported before => yes

**Describe the issue**
When saving settings for Cloudflare, the unit of Cloudflare browser cache is in seconds => better make this in a unit like a day or an hour so it will be

[2021-06-10 13:07] NataliaDrause opened #4032 "Disabling Heartbeat causes Missing Dependencies error in Query Monitor"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - yes
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
When Heartbeat settings are set to "disable", query monitor reports the following error:
`Missing Dependencies	wp-auth-check	example.com	wp-includes/js/wp-auth-c

[2021-06-10 15:33] WordPresseur opened #4033 "Automatically remove files with inappropriate extensions from exclusion fields"
**Is your feature request related to a problem? Please describe.**
It regularly happens that users put JS files in _Excluded CSS Files_ field or the opposite:
![image](https://user-images.githubusercontent.com/11939512/121553228-64d70500-ca11-11eb-9037-48e488db34fb.png)

**Describe the solution you'd like**
WP Rocket should automatically remove files with inappropriate extensions from exclusion fi

[2021-06-10 17:21] juricazuanovic opened #4034 "CSS minification breaks clamp()"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Minify CSS is removing spaces before and after the + sign for the clamp() CSS function.

Correct code:
`font-size: clamp(2.3131rem, 0.6854rem + 4.823vw, 4.5438rem);`

Code a

[2021-06-10 17:29] iCaspar commented on #4029
## Grooming Notes

### Reproduced
On local per OP description. ✅

### Root cause
A script containing data is injected outside of `wp_enqueue_scripts()`.

### Solution
- Add `var nfForms` to the Delay JS auto-exclusions
- Update testcases with a script sample as follows:
[code]

### Estimated Effort
[XS]

[2021-06-10 18:02] juricazuanovic commented on #3720
This still isn't resolved, but there is a workaround for this issue. You will need to use [WP Rocket | Regex Exclusions](https://github.com/wp-media/wp-rocket-helpers/tree/master/cache/wp-rocket-no-cache-urls-regexes), helper plugin.

Open the file wp-rocket-no-cache-urls-regexes.php with text editor and add:

$uri[] = '(.*).doc';
$uri[] = '(.*).docx';

Or any other files extension. That will end

[2021-06-11 07:07] GeekPress commented on #4004
This bug will be fixed with the new version of the Delay JS script. It will be released on 3.9.0.2.

[2021-06-11 07:07] GeekPress commented on #4002
This bug will be fixed with the new version of the Delay JS script. It will be released on 3.9.0.2.

[2021-06-11 07:08] GeekPress commented on #3961
This bug will be fixed with the new version of the Delay JS script. It will be released on 3.9.0.2.

[2021-06-11 09:35] DahmaniAdame commented on #3718
Related - https://secure.helpscout.net/conversation/1536021331/269823/
Excluding `{{data.srcset}}` from the CDN worked.

[2021-06-11 11:35] mostafa-hisham commented on #3996
### Reproduce the issue ✅
Reproduced on local test site

### Identify the root cause ✅
there are two problems here

- ### First Problem
 The Uncode them use this filter to add extra attributes to the script tag that contains "ai-uncode"
`add_filter('clean_url','uncode_unclean_url',10,3);`

[code]
in "themes/uncode/core/inc/main.php"

so when esc_url() wp function is called the extra attributes wil

[2021-06-11 12:02] alpercelilhankucuk commented on #4032
hi, for some unknown reason i am getting this error. can you help me? also my website's admin panel is very slow. wp-auth-check.min.js error here. I'm not using wp-rocket. Thank you very much in advance for your interest.

![Ekran Resmi 2021-06-11 14 58 30](https://user-images.githubusercontent.com/75019590/121683725-729a9200-cac6-11eb-8f01-d474b6e01c2e.png)

![Ekran Resmi 2021-06-11 15 05 54](htt

[2021-06-11 12:23] DahmaniAdame opened #4035 "Partial cache clearing: Clear paginated taxonomies"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When we clear a post, we only clear the index page of the related taxonomy and not the paginated results (if any).

Example:

- `/product-category/shoes` will be cle

[2021-06-11 12:23] thekendog commented on #3961
@GeekPress excellent.  Thanks for looking into it.

[2021-06-11 14:01] GeekPress opened #4037 "Add Delay JS exclusion related to Revolution Slider"
**Before submitting an issue please check that you’ve completed the following steps:**
[x] Made sure you’re on the latest version
[x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
If a user keeps our default list of Delay JS exclusion, a JS error will be triggered related to Revolution Slider. It's because an inline script isn't inserted by using

[2021-06-11 14:05] GeekPress commented on #4037
@iCaspar Do you think you can add this one into your current PR exclusion? 😇

[2021-06-11 14:58] camilamadronero-zz commented on #1524
Related ticket https://secure.helpscout.net/conversation/1539258239/270630?folderId=2675957

[2021-06-11 17:23] sandyfzu opened #4038 "Feature request: add the possibility to remove DOM elements based on CSS Selectors"
**Is your feature request related to a problem? Please describe.**
This is a feature request from a client.

Sometimes there are elements that the user don't want to be loaded on mobile devices, so, for "Separate cache files for mobile devices" add the possibility to remove DOM elements based on CSS Selectors, for example a specific div element with a specific id or class.

This could even be glob

[2021-06-11 18:21] #3961 closed, assigned to remyperona

[2021-06-11 18:21] #4002 closed, assigned to remyperona

[2021-06-11 18:21] #4004 closed, assigned to remyperona

[2021-06-11 18:40] jazir555 commented on #4023
Please do not do this. My site breaks without being able to combine js.

I don't understand why you are constantly removing features. I benefit from this feature, it doesn't improve my site to have it removed. You can simply leave the warning as is, I don't understand how this benefits people to remove a useful feature. Yes it may not be useful for everyone, but it is useful for me. How does it hu

[2021-06-11 18:45] jazir555 commented on #4006
@GeekPress

I just want to clarify, this is referring to the dropdown indicator which is a font awesome icon, an arrow/chevron down icon.

[2021-06-11 18:53] jazir555 commented on #1599
Anything new with this? I have a pretty slow admin dashboard and this might contribute to it

[2021-06-11 19:11] GeekPress commented on #4023
@jazir5 You have a problem you need to fix. If you need to combine your JS files to fix something you have a serious problem with your website.

Everything is explained in the why section.

You can also check this post for more detailed reasons:
https://wpjohnny.com/why-you-shouldnt-combine-css-js-performance-reasons/

We already explained this in the why section.

_Combine JS is one of the featur

[2021-06-11 19:18] GeekPress commented on #4038
This is a « theme directory ». It's totally out of the scope of WP Rocket. Users can already customize their theme by using the `wp_is_mobile` native WordPress function to display or not something on mobile.

@sandyfigueroa Our public roadmap is https://feedback.wp-rocket.me/ ^^

[2021-06-11 19:18] #4038 closed, assigned to nobody

[2021-06-11 19:21] jazir555 commented on #4023
This doesn't negate the fact that I've tested it with and without combine,
and my speeds are better than without it enabled. You can say that with all
the evidence it should be faster on an http/2 site because it can download
the files in parallel, but I assure you, after testing extensively, it
performs better with combine on.

I'm not really sure why you guys are so opposed to having options,
cu

[2021-06-12 10:12] DahmaniAdame commented on #3680
Related ticket - https://secure.helpscout.net/conversation/1539213429/270611

[2021-06-12 12:04] alfonso100 opened #4040 "WP Engine - E_WARNING on RecursiveDirectoryIterator when clearing cache"
**Before submitting an issue please check that you’ve completed the following steps:**
YES - Made sure you’re on the latest version
YES - Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
On a website hosted in WP Engine, after clearing the cache using any of our Clear Cache functions, the minified files are indeed being cleared, however, for some rea

[2021-06-13 07:02] NataliaDrause opened #4041 "Enfold theme layout breaks when Delay JS is enabled"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - yes 3.9.0.1
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
When Delay JS is enabled and the Exclusion box contains standard exclusions only, the animation for elements in the Enfold theme is not working.

Excludi

[2021-06-13 09:43] aguidrevitch commented on #3945
Any examples of incompatibility issues? Or, how can I make WP Meteor compatible?

[2021-06-13 10:47] NataliaDrause commented on #3523
Related: https://secure.helpscout.net/conversation/1539752863/270765?folderId=3864740

[2021-06-13 16:47] GeekPress commented on #3945
WP Meteor is compatible WP Rocket, but not when our Delay JS is turned on. The notice is displayed only if our Delay JS option is turned.

It doesn't make any sense to have two scripts that will delay all JS and by using different solutions by the way.

[2021-06-13 16:54] szuperman commented on #2409
I have this issue too, OpenLiteSpeed 1.6.21 and WP Rocket 3.9.0.1....

[2021-06-14 05:51] vmanthos opened #4042 "[WIP] - RUCSS WordPress database error Deadlock found when trying to get lock"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

A customer reported they found the following errors in their logs:
[code]
full log: https://snippi.com/s/x7rmqhn

After discussing this with @crystinutzaa these seem to

[2021-06-14 06:40] mostafa-hisham commented on #3944
### Reproduce the issue :x:
I couldn't reproduce it on local test site
the page didn't freeze Maybe because I use a theme without a lot of elements that use js

### Identify the root cause ✅
 delay JS work on all script types even if they are not valid

### Scope a solution ✅
We need to exclude the invalid js types from delay js

by adding a condition to check if JS type is valid or not here
https

[2021-06-14 06:44] GeekPress commented on #3944
@mostafa-hisham It's because the Delay JS inline script contains a part to avoid this bug. The goal is to remove the check in the inline script to be smaller and do the check directly when we are parsing the DOM.

[2021-06-14 08:05] GeekPress opened #4043 "Add Delay JS exclusion for Ajax Search Pro plugin"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
A clear and concise description of what the bug is.

**Expected behavior**
Automatically add this pattern `asp_url` to our default exclusion list. It's safe to exclu

[2021-06-14 08:49] #3987 closed, assigned to iCaspar

[2021-06-14 08:49] #4014 closed, assigned to iCaspar

[2021-06-14 08:49] #4029 closed, assigned to iCaspar

[2021-06-14 09:23] vmanthos opened #4044 "Delay JS - Add explanatory text about default exclusions"
**Is your feature request related to a problem? Please describe.**

Per @wp-media/productrocket we need to display text to explain the reason we are adding the default exclusions when updating WP Rocket 3.7/3.8 and the delay JS feature is active.

@webtrainingwheels suggested the following for when the text area is populated:
`Internal scripts are excluded by default to prevent issues. Remove them

[2021-06-14 09:46] GeekPress commented on #4044
@vmanthos @webtrainingwheels  Thanks for your suggestions.

To be easier / faster for the user, can we directly display the list below the text and suggest just copy and paste it?

[2021-06-14 09:49] vmanthos commented on #4044
Of course!

So, when the text area is empty, the text would be:
[code]

[2021-06-14 10:49] arashnz opened #4045 "disable saving data in varn_wpr_rucss_resources table"
Hello,

There is a table in my database "varn_wpr_rucss_resources" that saves js, css ,type , media, content and last_access data, its like a log file, how can i prevent saving data in this table ? is it possible ?

[2021-06-14 13:04] iCaspar commented on #4037
@GeekPress I am not able to reproduce this. On my install, the script loads correctly. Do you have a page where the issue was found that I could look at?

[2021-06-14 13:15] GeekPress commented on #4037
Sorry, I didn't keep the website's URL and I don't remember which one it was.

Are you using the default exclusion list?

[2021-06-14 13:19] iCaspar commented on #4037
I have DelayJS activated and everything is default locally -- including the new default exclusions on the previous PR issue.

[2021-06-14 13:23] GeekPress opened #4047 "Add default exclusion list for new installation too"
**Is your feature request related to a problem? Please describe.**
The current behavior with the new Delay JS is to add a default exclusion list only for users updating from 3.7/3.8.

After discussing with the marketing & support team, we decided to have the default exclusion list for all users, even for new installations.

After a couple of weeks of the Delay JS usage, we know that excluding ever

[2021-06-14 13:24] GeekPress commented on #4037
By exclusion, I mean the exclusion in the field, not in the code.

[2021-06-14 13:25] GeekPress commented on #4037
This one 👇

[code]

[2021-06-14 13:41] remyperona commented on #3944
One addition to the RegEx we have in Combine, is that we also need to include the `module` type

[2021-06-14 13:45] Agathemed commented on #4044
Could we display the following text in green with an exclamation point to highlight the potential of the action?

[2021-06-14 15:07] iCaspar commented on #4037
Both @Mai-Saad and I have been unable to reproduce an issue using the default exclusions.
@Mai-Saad did note the following:
[code]
So there is an issue with REVSlider when excluding `jquery` by itself, but at least under otherwise default conditions the current exclusions seem ok.

Going to add `needs r&d` for now. If we can find some sites where the issue is happening, we may be able to pinpoint

[2021-06-14 17:59] ScottTravisHartley commented on #4045
1. probably not because the feature needs the data.
2. why would you want to?

[2021-06-14 18:07] arashnz commented on #4045
Actually saving the data is not important, the problem is the data in this table won't delete, the table size was 2GB and I had to remove them manually. for the css table they remove automatically but for this table data won't delete. what is problem ?

[2021-06-14 18:17] iCaspar commented on #4045
This table is essential to the operation of the Remove Unused CSS feature. Please contact our support team for help about this. https://wp-rocket.me/support/

[2021-06-14 18:17] #4045 closed, assigned to nobody

[2021-06-14 18:19] ScottTravisHartley commented on #4044
Just want to add, the inclusion of the easy-to-get copy and paste for the default exclusions would help a lot. Since the default install, doesn't include them by default I have to go to the documentation and copy the 3 lines separately (since it's not one block in the docs), this would be very helpful for diagnosis delay JS issues on fresh installs.

[2021-06-15 07:03] GeekPress commented on #4044
The exclusion list is going to be added by default on all installations (#4047).

[2021-06-15 07:31] NataliaDrause opened #4050 "[WIP] LazyLoad for Images causes endless scroll on Mac in Chrome browser"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.8.8
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
This issue is created to monitor the following problem:

When only _LazyLoad for Images_ option is enabled (i.e. all other options in File Optimization and Med

[2021-06-15 07:32] NataliaDrause commented on #4050
Related ticket: https://secure.helpscout.net/conversation/1540351799/270924/

[2021-06-15 07:40] GeekPress commented on #4037
@Mai-Saad @iCaspar I noticed a new pattern to auto-exclude since the last Revolution Slider version (6.5.0), it's `window.RS_MODULES`

If we don't exclude it by default and if we keep the default exclusion list, the slider won't be displayed until user interaction.

Please check this video:
https://share.getcloudapp.com/2Nuqjomm

[2021-06-15 07:46] mostafa-hisham commented on #3944
@Tabrisrp I updated the condition to include the `module` type and `jscript`

[2021-06-15 09:05] Mai-Saad opened #4051 "Updating WPR options from page edit isnot reflected with single update click while preload is active"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => yes
- Used the search feature to ensure that the bug hasn’t been reported before => 3.9.0.2

**Describe the bug**
Edited WPR options from page edit are not reflected with a single click on the update button. it requires updating twice to see the option reflection.

**T

[2021-06-15 09:22] Mai-Saad commented on #4037
@GeekPress Yes I can see that slider won't be displayed until user interaction using the last Revolution Slider version (6.5.0) with/without default exclusion here https://new.rocketlabsqa.ovh/revslider/.
Agree to exclude `window.RS_MODULES` so it works correctly.

[2021-06-15 09:46] NataliaDrause commented on #4050
Customer shared an update in this ticket: https://secure.helpscout.net/conversation/1540351799/270924?folderId=3864740

CSS property `overscroll-behaviour` in Astra theme was causing this behavior.
Setting `overscroll-behaviour` to `none` resolved the issue.

It is still unclear why the issue was triggered by our LazyLoad for Images option.

[2021-06-15 10:27] engahmeds3ed opened #4052 "SaaS maintenance mode support"
**Is your feature request related to a problem? Please describe.**
Sometimes we will need to stop our SaaS for maintenance so we need a way to tell the user that we are on maintenance and stop sending requests to SaaS.

**Describe the solution you'd like**
We need to stop the RUCSS feature completely (using the filter, for example) when RUCSS is on maintenance mode and show admin notice until main

[2021-06-15 12:15] Mai-Saad commented on #4029
Currently:
- Ninja form displayed with no delay if we have default exclusion
- Ninja form displayed after user interaction if no default exclusion

[2021-06-15 12:17] pythoncreate commented on #3142
Any updates here?  I tried to edit the aforementioned code, but mine seemingly looks different

[2021-06-15 13:16] DahmaniAdame commented on #3419
Related - https://secure.helpscout.net/conversation/1532468157/268917/

[2021-06-15 13:22] iCaspar commented on #4037
### Grooming Notes (Round 2)

### Reproduced: ✅
With new version, `window.RS_MODULES` causes display to delay to user interaction on our test site.

### Cause ✅
The new `window.RS_MODULES` is inserted outside of the normal WP enqueue process.

### Solution ✅
1. Add `window.RS_MODULES` to default exclusions.
2. Add Script sample to tests.

### Effort Estimate
`[XS]`

(Should have this ready to go f

[2021-06-15 13:43] aguidrevitch commented on #3945
Absolutely no sense to have both. But giving 'Disable other plugin'  is, umm, let's say, a one way suggeston. I would have to add a notice about the other option - to disable WP Rocket's 'Delay Javascript Execution' and use WP Meteor instead.

[2021-06-15 14:37] GeekPress commented on #3945
It's a way to avoid our users to have problem.

Why are doing that?
Because we already had tickets about users using both at the same. Our role is to « protect » our users from conflicts.

If you are adding a notice too, that's going to be very confused for the users...

I don't really understand what is the problem on your side. We are doing this with all conflicted plugins and it has never been

[2021-06-15 16:57] engahmeds3ed commented on #4047
## Proposed solution

https://github.com/wp-media/wp-rocket/blob/48f5466c8e9699f23318968a943b1302abadcab6/inc/Engine/Optimization/DelayJS/Admin/Settings.php#L75

- <strike>Here we need to change the new version to be `3.9.0.3` and the old version is before `3.9`.</strike> We will leave the check as-is for old users upgrading from a version before 3.9.
- Adjust the old test and add a new fixture.
-

[2021-06-15 17:09] jorgemartine00 opened #4054 "JS Concatenation removing trailing semicolon on empty for loop"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. turn on JS concatenation and minification
2. Enqueue the following

[2021-06-15 19:24] #3966 closed, assigned to mostafa-hisham

[2021-06-15 21:19] GeekPress commented on #4033
@WordPresseur What is the problem with this? It should not generate issues, and the user should be able to know that what they are trying to exclude isn't working.

[2021-06-15 21:21] GeekPress commented on #3926
@ScottTravisHartley Can you please check if you still have the problem with 3.9.0.2?

[2021-06-15 21:39] GeekPress commented on #2772
@Tabrisrp Like we talked about it during our last call, could we implement this by using the current preload system? If so, can this be scheduled for 3.9.1?

[2021-06-15 21:45] GeekPress commented on #3931
@jazir5 After visiting your website (https://www.lonecbd.com) I can notice you are using WP Meteor AND our Delay JS. Please note it's not possible to use both. You have to select the solution you prefer.

Regarding the original issue, please update to 3.9.0.2 and let me know if the problem has been fixed.

[2021-06-15 21:49] GeekPress commented on #3978
@piotrbak After checking with Gael, we don't have a workaround to implement on our Delay JS script.

Can I let you check with @vmanthos to add a section about this into this doc?
https://docs.wp-rocket.me/article/1560-delay-javascript-execution-compatibility-exclusions

I'm also adding the `wontfix` label as we will have a workaround if a user doesn't like the behavior to have the burger menu brok

[2021-06-15 21:49] #3978 closed, assigned to nobody

[2021-06-15 21:54] jazir555 commented on #3931
@GeekPress

Could you please update my account for wp-rocket(techtutormm@gmail.com) to be able to download 3.9.0.2? For some reason I cant download it

[2021-06-15 22:08] GeekPress commented on #3931
Sure, it's done.

[2021-06-16 04:43] thangdv86 opened #4055 "No 'Access-Control-Allow-Origin"
Access to font at 'https://brevenchatyi-dom.ru/wp-content/cache/min/webfonts/fa-brands-400.woff2' from origin 'https://mydomain.com' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.
Erro this, i try 2 way:
- Install plugin wp-rocket-htaccess-fonts-no-cors
- Add code to ngix location ~* \.(eot|css|otf|ttf|woff)$ {  add_header Access-Cont

[2021-06-16 04:53] #4055 closed, assigned to nobody

[2021-06-16 07:50] vmanthos opened #4056 "RUCSS - allow to safelist CSS selectors targeting attributes"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

Currently, it's not possible to safelist CSS selectors like the following one:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Add the following CSS in a f

[2021-06-16 09:43] vmanthos opened #4057 "P3 Profiler plugin - causes PHP fatal errors"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When running the "scan" process of P3 Profiler several PHP fatal errors are thrown, e.g.:
[code]

On a side note, I noticed the same happening for WooCommerce, again fo

[2021-06-16 10:46] wpsumo opened #4058 "Crawl sitemep.xml's if it's not formatted via a plugin like YoastSEO and other SEOplugins"
**To Reproduce**
Steps to reproduce the behavior:
Just preload sitemap and insert the sitemap url in WP Rocket.
Doesn't crawl standard sitemep.xml's if it's not formatted via a plugin like YoastSEO and other SEOplugins

`<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:image="http://www.google.com/schemas/sitemap-image/1.1" xsi:schemaLocati

[2021-06-16 11:29] mehedihasanziku commented on #4056
What about without attribute?
How to allow child selector ".abc .example p"?
`.abc .example p { font-size: 20px}`
for sure we can't put p, because it will work sitewide,
let me know if i am missing something.
Thanks.

[2021-06-16 11:29] GeekPress commented on #4056
This should be moved to the Tree-Shaker repo.

[2021-06-16 13:00] remyperona commented on #2772
Yes, I re-added the grooming tag, and added it to the 3.9.1 milestone

[2021-06-16 13:09] engahmeds3ed commented on #4047
Thanks for @mostafa-hisham for reminding me of some other cases as follows:-

## Case 1
New user has version 3.9 so the exclusion list is empty and then upgraded to 3.9.0.3 so the exclusion list should be empty or also fill it with the default list?

## Case 2
The user is upgrading from 3.8.8 to 3.9 so the exclusion list is the default list, then he played on this list and then will upgrade to 3.9

[2021-06-16 13:10] WordPresseur commented on #4033
It’s a recurrent UI issue and users who are doing this are actually not able to know that what they are trying to exclude isn't working and moreover are expecting that it will work at some point. As it doesn’t work, they’re opening a support ticket.

All things being equal, I would compare this situation to the diameters of the diesel and gasoline pipes, they are different because you can't put di

[2021-06-16 13:12] viobru opened #4059 "Update the more info link from the Fallback Critical CSS in the UI"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✔️
- Used the search feature to ensure that the bug hasn’t been reported before ✔️

**Describe the bug**
The _more info_ link from the _Fallback Critical CSS_ section in the UI goes to a doc that does not mention it at all.

**To Reproduce**
N/A

**Expected behavior**
The

[2021-06-16 13:13] engahmeds3ed commented on #4047
I got a reply from @GeekPress, We should not change the field in both cases.
so we will just do that with new users and users upgrading from a version before 3.9

[2021-06-16 13:19] GeekPress opened #4060 "Remove WC empty cart cache feature"

[2021-06-16 18:33] juricazuanovic opened #4062 "Compatibility with Cookiebot"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
In order for [Cookiebot](https://www.cookiebot.com/en/) to work with WP Rocket, it is required to exclude the following from Minify JavaScript files/Combine JavaScript files

[2021-06-17 06:56] Mai-Saad commented on #3875
The same occurs when importing old settings with an empty inclusion list for delay js http://snippi.com/s/21fmeu7

[2021-06-17 07:35] mostafa-hisham commented on #4020
### Reproduce the issue ✅
Reproduced on local test site

### Identify the root cause ✅
on uninstall we need to delete meta data of these
[code]
### Scope a solution ✅
like @vmanthos  said in his comment

### Estimate the effort ✅

Effort [XS]

[2021-06-17 08:11] gevcen commented on #4062
Since Combine JS is expected to be deprecated https://github.com/wp-media/wp-rocket/issues/4023 and depending on the priority of this issue here I suppose it's relevant to only exclude these files from Minify JS only?

[2021-06-17 08:39] mostafa-hisham commented on #3976
### Reproduce the issue ✅
Reproduced on local test site

### Identify the root cause ✅

### Scope a solution ✅
Solution provided I the issue by @sandyfigueroa will fix the console error

### Estimate the effort ✅

Effort [XS]

[2021-06-17 10:36] aguidrevitch commented on #3945
Because I'm the author of WP Meteor

[2021-06-17 10:54] DahmaniAdame commented on #3326
Related - https://secure.helpscout.net/conversation/1532530351/268942/

[2021-06-17 12:10] NataliaDrause commented on #3998
Related: https://secure.helpscout.net/conversation/1546043861/272337/

[2021-06-17 12:29] zohebnsr opened #4063 "3.9.X versions are a total mess"
The best version I had was 3.8.8. Once installed 3.9 and even the latest 3.9.0.2 this is a total disaster for the site.

The extremely bugged option: JS Delay.

Earlier it was the option that which script I want to delay and there was a button "Restore Default". Clicking on just this button added some scripts/Keys that needed to be delayed and it worked really great without any bug.

The new one t

[2021-06-17 12:48] GeekPress commented on #3945
And what is the problem?

[2021-06-17 12:50] GeekPress commented on #4063
Hi @zohebnsr,

Please open a ticket support: https://wp-rocket.me/support/

Our GH repository isn't the right place to help you.

Thanks

[2021-06-17 12:50] #4063 closed, assigned to nobody

[2021-06-17 14:40] aguidrevitch commented on #3945
My role is to protect my users as well. My users come to me asking about the message and I have to explain each of them that only 'Delay Javascript Execution' is conflicting option, not the whole plugin.

[2021-06-17 14:56] sandyfzu commented on #146
Related ticket "Alpine" https://secure.helpscout.net/conversation/1539130722/270572/

[2021-06-17 14:57] Mai-Saad opened #4064 "Closing promotion banner will close congratulations banner"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version = > Yes 3.9.0.2
- Used the search feature to ensure that the bug hasn’t been reported before => Yes

**Describe the bug**
When the user closes the promotion banner, the congratulations banner is closed

**To Reproduce**
- Having an active promo displayed on the dashboard

[2021-06-17 15:00] iCaspar opened #4065 "Add a Rate-Limited SaaS API Licence Check"
## Feature Description
As we implement license checking on the Central-SaaS endpoint, we will need WPRocket to request an auth token for use with the SaaS API.

## Desired Solution
Implement a SaaSClient similar to the current [PricingClient](https://github.com/wp-media/wp-rocket/blob/develop/inc/Engine/License/API/PricingClient.php) using transients to track both the token data and to rate-limit

[2021-06-17 15:22] Mai-Saad opened #4066 "Promo counter isnot changed when change timezone using browserstack"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => Yes
- Used the search feature to ensure that the bug hasn’t been reported before =>Yes

**Describe the bug**
When opening the dashboard from BrowserStack in the UK, the promo counter was the same as the one in the normal browser in Egypt

**To Reproduce**
- Have an act

[2021-06-17 15:45] gamersdunia16 commented on #3738
want to exclude google ads from Delay JavaScript.  I tried by adding two keywords `adsbygoogle.js` and `pagead2.googlesyndication.com` to the exclusion list but it did not work.  any suggestion!!

[2021-06-17 15:53] GeekPress commented on #3738
@gamersdunia16 Please open a ticket support from here: https://wp-rocket.me/support/

We won't provide you help on Github, it's not the right place.

[2021-06-17 20:13] #4047 closed, assigned to engahmeds3ed

[2021-06-17 20:14] #3913 closed, assigned to iCaspar

[2021-06-17 20:14] #3993 closed, assigned to mostafa-hisham

[2021-06-18 08:53] paskalr1 commented on #3142
installed the new version 3.9.0.2 and the pages were not rendering. I use wp bakery with the theme and has to exclude below scripts

jquery.min.js
js_composer_front.min.js

still double tap issue remains

website: https://www.celmetro.com/

[2021-06-18 10:31] Mai-Saad commented on #3957
@vmanthos  @Tabrisrp for this URL https://onlinebutcher.co.za/product/boskruin-butchery-and-deli/beef/boerewors-flavoured/ , the problem still on this PR branch and it fixed when excluded `woocommerce.css` .. test template here https://new.rocketlabsqa.ovh/butcher/

[2021-06-18 11:14] remyperona commented on #3957
The full fix is in 2 parts, one on the plugin side, and one on the SaaS side. Can you test with the staging URL to regenerate the used CSS and see if it works?

[2021-06-18 11:53] mostafa-hisham commented on #3967
### Reproduce the issue ✅
Reproduced on local test site

### Identify the root cause ✅
As Remy said, the opening parenthesis are the issue since they are not escaped currently for this field.

### Scope a solution ✅
I think it is better to escape all the characters used in regex patterns
we can use this method [preg_quote](https://www.php.net/manual/en/function.preg-quote.php)
which escape The spe

[2021-06-18 12:17] Mai-Saad commented on #3957
@Tabrisrp yes I am using staging saas and the problem related to `flex-control-nav flex-control-thumbs` is not fixed unless we add `woocommerce.css` to safelist .. I think it's another issue.

https://user-images.githubusercontent.com/76941962/122559285-6de25a80-d03f-11eb-9724-2d65d24e4748.mp4

[2021-06-18 14:18] CriandoSites commented on #2409
OMG It worked dude! Im using OpenLiteSpeed on CyberPanel

[2021-06-18 15:05] iCaspar commented on #3998
After some discussion with @wp-media/php team, we are going to implement this by _temporarily_ commenting out the filter on our end, until WCML releases the fix for the multiple cookie generation expected on their next release. We'll open a new issue to revert this change after that fix/release happens.

[2021-06-18 15:19] Mai-Saad commented on #3991
@vmanthos @Tabrisrp can't reproduce this issue on https://new.rocketlabsqa.ovh/3991template/ using 3.9.0.2 and 3.9.0.1

https://user-images.githubusercontent.com/76941962/122582618-a3477200-d058-11eb-9c02-5cbd4ed75532.mp4

Please let me know what am I missing here or if we have a live URL with the problem.

Used template: http://snippi.com/s/ymo5lcn

Used ShortPixel AI : Version 2.3.0

[2021-06-18 15:53] iCaspar opened #4070 "Revert Changes related to #3998 - Reenable WCML Currency Cookies."
## Describe the bug
We have temporarily commented out the `wcml_user_store_strategy` filter to prevent generating duplicate cookies on sites using WCML. This change needs to be reverted after an anticipated fix to the duplicate cookie issue is released by WCML.

The missing filter will causing a known side-effect (bug) that we cannot read the currrent locale/currency information on cached pages. W

[2021-06-18 16:02] #3998 closed, assigned to iCaspar

[2021-06-18 16:56] #3957 closed, assigned to iCaspar

[2021-06-18 17:27] GeekPress opened #4071 "Add Delay JS exclusion related to Google Tag Manager for WordPress"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Google Tag Manager for WordPress plugin is adding its JS variables without the usage of wp_enqueue_script. We might want to exclude the following pattern:
var gtm4wp

[2021-06-18 19:59] remyperona opened #4072 "High CPU usage related to rocket_saas_warmup async process"
**Describe the bug**
We’re getting some reports about high CPU usage with RUCSS enabled, notably on Kinsta/WP Engine, and both pointing to the asynchonous process of the resource fetcher.

As a reminder, this process is triggered asynchronously on rocket_buffer, so running on uncached pages during the caching process. the AJAX action is `rocket_saas_warmup`

From their logs, some of those calls ar

[2021-06-18 20:12] #3807 closed, assigned to mostafa-hisham

[2021-06-18 20:39] GeekPress commented on #4044
@vmanthos @webtrainingwheels What do you think about adding a sentence + link to the exclusion documentation list?

https://docs.wp-rocket.me/article/1560-delay-javascript-execution-compatibility-exclusions

[2021-06-19 06:53] GeekPress opened #4073 "Automatically exclude inline script containing //<![CDATA["
**Is your feature request related to a problem? Please describe.**
With our default list of exclusion, we can miss inline scripts to be excluded. An internal file can be delayed and add an inline script without using `wp_add_inline_script`.

We can avoid this problem for inline scripts wrapped into `//<![CDATA[ {script} //]]> `. We know these inline scripts can be safely excluded.

**Describe the

[2021-06-19 07:03] GeekPress commented on #3945
@aguidrevitch I forgot we can do something else. Here an example of what we are doing when we detect Lazyload option activated on Autoptimize: https://share.getcloudapp.com/jkuPPqQq

We will do the same for Delay JS and WP Meteor. It means that we won't have a global notice like now to suggest disabling WP Meteor.

I will let you know once it will be released so you could remove the notice on your

[2021-06-19 07:28] GeekPress opened #4074 "Grey out Delay JS option when WP Meteor is activated"
**Is your feature request related to a problem? Please describe.**
After discussing with WP Meteor's author, we decided to implement the same kind of compatibility we are doing for some plugins when we grey out our option when we detect the same option is activated on another plugin.

e.g: https://share.getcloudapp.com/jkuPPqQq

It will be in replacement of the global notice we are now displaying

[2021-06-19 12:25] DahmaniAdame commented on #3142
Issue still there on iPhone 12 Pro - iOS 14.5
Ticket - https://secure.helpscout.net/conversation/1543769478/271789/
@Mai-Saad would it be possible to test this one?

[2021-06-19 16:09] aguidrevitch commented on #3945
It sounds amazing, thanks! I will put the same warning in WP Meteor with suggestion to disable WP Meteor if user wants to use WP Rocket's 'Delay Javascript Execution'

[2021-06-19 17:51] remyperona commented on #4073
There is one issue with this proposal: it's totally possible and valid to have executed code inside `CDATA`, it does not necessarily contain only variables.

Automatically excluding those would mean we might be missing delay on some inline JS that are executing code.

[2021-06-20 08:44] NataliaDrause opened #4075 "Add Cube Portfolio inline script to the Delay JS exclusions"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.9.0.3
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
[Cube Portfolio](https://codecanyon.net/item/cube-portfolio-responsive-wordpress-grid-plugin/8534570) images are not displayed when Delay JS is activated.
St

[2021-06-20 12:34] GeekPress opened #4077 "Auto-exclusion for WooCommerce Product Gallery when Delay JS is on"
**Is your feature request related to a problem? Please describe.**
If we delay all JS files, the product image on a single product page won't be displayed until user interaction.

Here an example:
https://share.getcloudapp.com/9ZuddXp2

As you can see, it's not really a good user experience and even more on mobile.

**Describe the solution you'd like**
The product image on a single product page sh

[2021-06-21 11:10] NataliaDrause opened #4078 "[WIP] FOUC issue when Optimize CSS Delivery and RUCSS are both enabled"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.9.0.3
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
The issue is created to track and further investigate the following problem:
FOUC happens when both options _Optimize CSS delivery_ and _Remove Used CSS_ ena

[2021-06-21 12:18] GeekPress commented on #4078
@NataliaDrause What about excluding `wprRemoveCPCSS`  from being delayed? It could be good to try to exclude this pattern from the Delay JS option.

[2021-06-21 12:36] remyperona commented on #4044
What happens if the textarea is populated, but not with the default exclusions? The currently suggested sentence would not make sense.

[2021-06-21 12:41] GeekPress commented on #4044
@Tabrisrp We should also display the sentence with the default exclusion list.

@vmanthos @webtrainingwheels Can we revisit this a little bit? Something like:

_If you are facing any issues since you removed our default exclusion list, you can restore it by copy and paste the code below:_

[2021-06-21 12:47] NataliaDrause commented on #3976
Related: https://secure.helpscout.net/conversation/1546947382/272543?folderId=3864740

[2021-06-21 13:12] remyperona commented on #4071
### Reproduce the issue ✅
Reproduced the issue on local installation with GTM4WP + WooCommerce

### Identify the root cause ✅
The issue happens because the inline script is delayed, but the external script for WooCommerce tracking is not with the default exclusion list.

The external script is executed immediately, but can't find the inline variable it depends on, and throws the error.

### Scope

[2021-06-21 13:47] NataliaDrause commented on #4078
Thank you @GeekPress. I deactivated Delay JS totally and it, unfortunately, didn't help.
Do you think excluding only  `wprRemoveCPCSS` from being delayed is still worth a try?

[2021-06-21 13:48] GeekPress commented on #4078
No, it confirms that the problem isn't related the Delay JS option if you still have the problem when this option is off.

[2021-06-21 15:09] Mai-Saad commented on #4071
Note: For retest, In google tag manager -> integration -> woocommerce => enable `Track enhanced e-commerce`

[2021-06-21 15:35] remyperona commented on #2772
### Scope a solution ✅
We can go with an intermediate approach where we're going to re-use the solution we are currently using for Optimize CSS Delivery, with the swap of the `rel` attribute between `stylesheet` and `preload`.

In both `Combine` and `CombineV2` classes, we can update the `get_combine_tag()` method to give an output like the following:

[code]

We can skip the preload polyfill now,

[2021-06-21 15:52] sandyfzu commented on #1423
Related ticket: https://secure.helpscout.net/conversation/1541229218/271141

[2021-06-21 15:52] GeekPress opened #4080 "Emulate Elementor Pro animation to improve user experience"
**Is your feature request related to a problem? Please describe.**
Elementor Pro allows users to add animation to elements. By using our Delay JS and when we delay everything, the animation in the header isn't triggered until user interaction.

It leads to an experience like that:
https://share.getcloudapp.com/o0ueez1J

It's not really a good user experience ^^

**Describe the solution you'd like*

[2021-06-21 18:10] BenSibley commented on #3728
This is really a pain. I understand the logic behind making a choice for non-technical users, but I don't understand the reasoning for stripping options away from capable devs.

As of now, my site has 0 "Good" pages (really, Google?) and that's because of a 0.11 CLS score that will never go below 0.1 as long as "swap" is being used. My stylesheet uses "optional" and I don't see why that shouldn't

[2021-06-22 05:59] javiergutierrezchamorro commented on #4078
Confirmed the issue here too. With only one of the two enabled everything works fine. With both the problem happens.

[2021-06-22 08:40] vmanthos commented on #4044
There are 3 scenarios:
1. Default exclusions are in place.
2. No exclusions exist in the text area.
3. Custom exclusions have been added.

The displayed text needs to serve two different purposes:
1. Educate our customers that they need to remove default exclusions to benefit from the feature.
2. Guide our customers to resolve common issues by restoring the default exclusion list for scenarios 2 a

[2021-06-22 08:56] Mai-Saad commented on #3991
Note for retest: Thanks to @engahmeds3ed this issue on shortpixel < 2.2.4
[shortpixel-adaptive-images.2.2.3.zip](https://github.com/wp-media/wp-rocket/files/6692781/shortpixel-adaptive-images.2.2.3.zip)
and  minify CSS is enabled in WPR

[2021-06-22 11:12] engahmeds3ed commented on #4072
I think we can replace this `get_url_details` with `get_url_path` so we only return path and inside the background process, we can get each resource contents and bailout if we found empty content for the resources.

[2021-06-22 11:28] vmanthos commented on #3398
Likely related ticket: https://secure.helpscout.net/conversation/1539235033/270622

[2021-06-22 12:32] engahmeds3ed commented on #4072
# Grooming

**Reproduce the problem**
No need, I can see the issue on the code level and from the description above.

**Identify the root cause**
We do a lot of work inside the `ResourceFetcher` Async request class.

**Scope a solution**
We need to split the processing time between `ResourceFetcher` and `ResourceFetcherProcess` as follows:-

### ResourceFetcher Responsibility
1. Collect CSS/JS res

[2021-06-22 13:33] vmanthos opened #4084 "RUCSS - box-shadow is stripped if rgb values are not separated with commas"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.9.0.3`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

The SaaS will strip the `box-shadow` rule if it's formatted like so:
[code]
The previous will work fine in a browser.

The following rewrite of the CSS rule w

[2021-06-22 15:08] remyperona commented on #4044
@GeekPress How is this going to change based on today's discussion?

[2021-06-22 16:29] GeekPress opened #4085 "Don't activate Delay JS for new users by default + delay everything once it will be activated"
**Is your feature request related to a problem? Please describe.**
Not a problem but a user experience update.

We finally decided to not activate by default the new Delay JS for new installations. And we also decided to delay all files by default once the option will be activated.

It means that we will add our default exclusion list only for users updating from 3.7 or 3.8.

**Describe the soluti

[2021-06-22 16:34] GeekPress commented on #4044
@Tabrisrp We can go with the last suggestion from Vasilis.

Sounds good.

About 👇

`To quickly resolve issues remove any existing exclusions, and paste the default exclusions:`

Can we add more context? Like: `if after activating this option you have any problems...`

[2021-06-22 19:09] remyperona commented on #4085
### Scope a solution ✅
- Revert PR #4061
- Set default value of the delay JS option to zero in `DelayJS\Admin\Settings`
- Update tests fixtures to reflect the change

### Estimate the effort ✅
Effort `[S]` with the QA

### QA scenarios
- New installation should have delay JS disabled and the exclusions list empty
- Upgrade from a version < 3.9 should:
    - have delay JS disabled and the exclusion

[2021-06-22 19:15] alfonso100 commented on #2698
Another case here:
https://secure.helpscout.net/conversation/1529286491/268104?folderId=2683093

In this case, **WP Rocket is installed as a subfolder**: `example.org/folder`
The whole cache is cleared when the homepage cache is cleared.  I've been able to reproduce this on a test install

[2021-06-22 19:32] remyperona commented on #4066
Looking back at it, this is the expected behaviour. The promotion end time is a fixed value, based on a date and time that is set on the API side.

Wherever you are, the absolute time between now and this fixed time value is the same, timezones differences don't apply.

I'll close this as a `wontfix`.

[2021-06-22 19:32] #4066 closed, assigned to nobody

[2021-06-22 19:53] remyperona commented on #4058
Tested this sitemap on my installation. It was correctly parsed by the sitemap preload, the formatting of the sitemap itself doesn't seem to be the root cause here.

[2021-06-22 20:00] remyperona commented on #4034
Will be fixed by PR #3907

[2021-06-22 21:42] jg314 commented on #3504
I'm also seeing this error, but I downloaded the plugin using SFTP from our web server. Here's the full error:

[code]

[2021-06-23 08:53] Mai-Saad commented on #4085
@GeekPress @Tabrisrp Would you please confirm the different cases here:
1- Update
1.1 User update from < 3.9 while DJS is off => option will remain off  But once activated, the list will be filled by default exclusion or not?
1.2 User update from < 3.9 while DJS is on => option will remain on with the default exclusion list
1.3 User update from > 3.9 while DJS is off => option will remain off and

[2021-06-23 09:01] GeekPress commented on #4085
No exclusion list in this case.

Same as 1.1

No exclusion list too.

[2021-06-23 09:25] Mai-Saad commented on #3142
@DahmaniAdame There was an enhancement done on code but it isn't fixed 100% .. still can see it on some links on some sites. as mentioned here https://github.com/wp-media/wp-rocket/issues/3142#issuecomment-853129070

[2021-06-23 09:50] DahmaniAdame opened #4088 "CPCSS for groups of pages (per post type)"
**Is your feature request related to a problem? Please describe.**
Some websites organize their content layout based on templates applied to pages rather than a separate post type.

Let's say we have 10 pages with a normal layout and 10 pages with a different layout.

This will require generating one CPCSS for one layout (that would be the default CPCSS for the post type) and 10 more page-specific

[2021-06-23 09:53] DahmaniAdame commented on #4088
Similar request - https://secure.helpscout.net/conversation/1317420645/204877

[2021-06-23 09:54] vmanthos commented on #4044
I think the line we have is self-explanatory, i.e. the exclusions are to be added to "quickly resolve issues" when the option is active.

Also, we are not writing something like that for other features. It's a given that those text areas in the file optimization tab are to be used like that, if after activating an option that causes problems.

[2021-06-23 10:28] Salimoh commented on #3544
I also had the same issue on my [website](https://iranbatri.com) which uses Betheme - wprocket and elementor page builder. This problem needs to be addressed because Betheme is a really popular plugin.

[2021-06-23 11:23] #4085 closed, assigned to remyperona

[2021-06-23 11:24] #4071 closed, assigned to mostafa-hisham

[2021-06-23 11:24] #3991 closed, assigned to engahmeds3ed

[2021-06-23 11:30] DahmaniAdame opened #4089 "Defer JS exclusions are still applied to Combine JS even if Defer JS is disabled"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When an exclusion is added to Defer JS it is automatically added as an exclusion to Combine JS.
When Defer JS is disable, the exclusion is still applied to Combine J

[2021-06-23 13:08] remyperona commented on #4065
On the same note, we will want to implement that on the user endpoint too, so that we are all covered

[2021-06-23 15:02] ghost opened #4091 "Automated Features Causing Dynamic Cache and Other Issues"
**Issue:**

We have learned that WP Rocket's htaccess code for Browser Caching (an automated plugin feature) causes [SG Optimizer's Dynamic Cache](https://prnt.sc/16ghn93) to fail every time. That is, we get the X-Proxy-Cache = MISS in our website header. Our website speed is affected as well (slows it down).

**Solution:**

To fix the above, we added the following filter to our functions.php file

[2021-06-23 15:22] sparkbold opened #4092 "Uncaught (in promise) TypeError: Cannot read property 'addEventListener' of null"
I found the bug below. I am using:

- Wp Rocket Version 3.9.0.3
- my userAgent: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.106 Safari/537.36"

[code]

[2021-06-23 15:36] mehedihasanziku commented on #4092
It's happen for me too, but it can be solved if you add full pattern in "Delay JS Execution", so mismatch/half pattern in that field throws console error.

means for example

[code]

now if you add "blog-reader-" it will show that error on console. but `"blog-reader-nav"` it doesn't.

[2021-06-23 15:54] sparkbold commented on #4092
Interesting, here are the patterns on our site and they are the default - [link to docs](https://docs.wp-rocket.me/article/1349-delay-javascript-execution?utm_source=wp_plugin&utm_medium=wp_rocket)
[code]

[2021-06-23 15:55] GeekPress commented on #4092
@sparkbold Please open ticket support from here: https://wp-rocket.me/support/

And provide your website URL and WordPress access to be able to help you.

Github isn't the right to help you solving unknown issue like that.

[2021-06-23 15:55] #4092 closed, assigned to nobody

[2021-06-23 19:59] alfonso100 opened #4093 "Delay JS - Exclude scripts from googleoptimize"
**Before submitting an issue please check that you’ve completed the following steps:**
y - Made sure you’re on the latest version
y - Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Delay JS causes errors with the following scripts from googleoptimize.com:
**a,s,y,n,c,h,i,d,e:** anti flicker snippet from google optimize: https://developers.google.co

[2021-06-23 20:06] alfonso100 commented on #4093
moving this one to the compatibility doc instead

[2021-06-23 20:06] #4093 closed, assigned to nobody

[2021-06-24 04:17] NataliaDrause commented on #4072
Related: https://secure.helpscout.net/conversation/1549648702/273380?folderId=3864740
A few sites affected for this customer. They are on Litespeed servers

[2021-06-24 04:59] NataliaDrause commented on #3672
Same request in this ticket: https://secure.helpscout.net/conversation/1547214807/272667?folderId=3864740

[2021-06-24 05:33] vmanthos commented on #3717
Related ticket: https://secure.helpscout.net/conversation/1544200104/271876/

[2021-06-24 09:52] DahmaniAdame commented on #2803
Related - https://secure.helpscout.net/conversation/1548745501/273032/

[2021-06-24 11:32] NataliaDrause commented on #2409
Related: https://secure.helpscout.net/conversation/1549828164/273461?folderId=3864740
changing "_gzip" to "-gzip" in HTTACESS fixes the download file problem

[2021-06-24 15:46] Mai-Saad opened #4095 "Compatibility of Delay JS (while default exclusion) with Divi tool box plugin"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => Yes
- Used the search feature to ensure that the bug hasn’t been reported before => Yes

**Describe the bug**
When the user interacts with the Divi page (having Divi tool box plugin on it) after page load => the page will keep loading forever

**To Reproduce**
Precondi

[2021-06-24 16:03] Mai-Saad opened #4096 "GTM compatibility with Delay JS (with/without default exclusion)"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.9.0.4
- Used the search feature to ensure that the bug hasn’t been reported before => yes

**Describe the bug**
When delay js is on, this script http://snippi.com/s/xqevkjy is delayed causing some images height to be set to 0

**To Reproduce**
Precondition:
- delayjs

[2021-06-24 19:12] camilamadronero-zz commented on #3526
Another case https://secure.helpscout.net/conversation/1551081144/273813?folderId=2675957

[2021-06-24 20:06] alfonso100 commented on #3962
Another case: https://secure.helpscout.net/conversation/1529596348/268184/

[2021-06-24 23:26] ghost opened #4097 "RUCSS Unstable | Added Limitation Between "Combine JS Files" and "Delay JS Execution" Slows Down Website"
**Before Submitting Issue, Ensure The following Steps Have Been Completed:**

- Make sure you’re on the latest version: **Yes, using V3.9.0.4**
- Use the search feature to ensure that the bug hasn’t been reported before: **Yes, checked. No similar issues found.**

**Describe The Bug:**

V3.9.X.X adds a "Remove Unused CSS" feature. It also limits the ability to execute "Combine JS Files" and "Delay

[2021-06-25 09:22] mostafa-hisham commented on #2772
@Tabrisrp
I found out that we use this function "get_font_with_display" in both  Combine and CombineV2 classes
https://github.com/wp-media/wp-rocket/blob/50cb2df771c028fce57c95e0d7cd1a2a1dd6bfe8/inc/Engine/Optimization/GoogleFonts/AbstractGFOptimization.php#L62-L76

if the page has only one google font that adds font display swap

https://github.com/wp-media/wp-rocket/blob/50cb2df771c028fce57c95e0

[2021-06-25 12:40] DahmaniAdame commented on #2713
Related request - https://secure.helpscout.net/conversation/1551697798/274008

[2021-06-25 14:18] camilamadronero-zz opened #4098 "Enable HTTP Auth to Access the RUCSS and Optimize CSS delivery Generators"
**Is your feature request related to a problem? Please describe.**
When a website (usually a staging site) is using HTTP Auth, it can't access or test the Remove Unused CSS and Optimize CSS delivery features.

**Describe the solution you'd like**
Add the option to set HTTP Auth details (user and password) to access the Remove Unused CSS and Optimize CSS delivery generator tools, while a website is

[2021-06-25 16:12] remyperona opened #4099 "Update DelayJS script to the latest version"
For the 3.9.0.5 release, we need to update the delayJS script to the latest version available. This version fixes a bug related to successive `window.onload` events.

[2021-06-25 20:31] SRHDesign commented on #4072
The high CPU usage identified in this issue on Kinsta/WP Engine also occurs on SiteGround's cloud hosting.

[2021-06-25 20:36] ghost commented on #4099
@Tabrisrp,

If you don't mind, prior to releasing 3.9.0.5, can you guys reactivate (re-allow) the simultaneous use of "Combine Javascript Files" and "Delay Javascript Execution."? (Ref: [Github Issue No. 4097](https://github.com/wp-media/wp-rocket/issues/4097))

The above change --introduced in 3.9.X.X -- caused our website to slow down due to additional HTTP Call Requests generated by the imposed

[2021-06-26 08:59] DahmaniAdame opened #4100 "Defer JS + SiteOrigin page builder: Prevents showing Revolution Slider in full width on first load"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When SiteOrigin page builder is in use with Defer JS, it prevents Revolution from showing on full width.

![image](https://user-images.githubusercontent.com/1289174/

[2021-06-26 09:00] DahmaniAdame commented on #4100
I can add the exclusion if greenlighted!

[2021-06-27 07:28] NataliaDrause commented on #2500
similar request: https://secure.helpscout.net/conversation/1553247086/274379

[2021-06-27 12:20] NataliaDrause opened #4103 "Delay JS + Advanced Ads conflict: ads are not displayed"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.9.0.4
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
When _Delay JavaScript Execution_ option is enabled (with or without standard exclusions) the ads added with [Advanced Ads](https://wordpress.org/plugins/adv

[2021-06-27 12:39] NataliaDrause opened #4104 "Minify JS breaks CleverPush script"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.9.0.4
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
When _Minify JavaScript_ option is enabled, the script throws console error:
![image](https://user-images.githubusercontent.com/60236665/123544714-34a39c00-d

[2021-06-27 16:57] Kilbourne opened #4105 "Upgrade Monolog to version 2"
I'm installing WpRocket via Composer and the monolog version conflicts with [another package](https://github.com/roots/acorn) which require v2

Please update to monolog  ( should be pretty easy to update it and probably requires no changes [https://github.com/Seldaek/monolog/blob/main/UPGRADE.md](https://github.com/Seldaek/monolog/blob/main/UPGRADE.md)

[2021-06-28 06:10] engahmeds3ed commented on #4044
@wp-media/productrocket
To summarize this discussion, please confirm the following:-

Add the following message below delay JS exclusion Textarea section only when enabled with green color like what we do with minify JS exclusion list.

[code]

![image](https://user-images.githubusercontent.com/15707971/123588547-35cddb00-d7e8-11eb-931e-b89e36a2c68e.png)
(Thanks @vmanthos)

[2021-06-28 06:49] engahmeds3ed commented on #4080
**Scope a solution**

1. Make a compatibility file for elementor pro by checking on the constant `ELEMENTOR_PRO_VERSION` like this one:

https://github.com/wp-media/wp-rocket/blob/18ae1e009eaf9e93fad8fe23957cc50475e5381a/inc/ThirdParty/Plugins/PageBuilder/Elementor.php

2. Add callback with the `rocket_buffer` filter to add the script before closing the body tag if the Delay JS option is enabled.

[2021-06-28 10:18] kuodain opened #4107 "Remove Google Adsense code from Delaying Javascript option"
Hi,
My WPR version was just updated to 3.9.0.4  and i was noticed a serious Adsense earning dropout after update WPR. I have placed an AdSense code just above the fold and this was not loading during the page load, I have to skip the google Adsense js code from delaying.

Please I need to exclude google Adsense code from delaying the javascript list, earlier we can add /remove js code manually. Bu

[2021-06-28 10:41] GeekPress commented on #4107
You need to add adsbygoogle without .js.

[2021-06-28 10:41] #4107 closed, assigned to nobody

[2021-06-28 10:50] kuodain opened #4108 "How to add a particular Js on Delay javascript execution"
Hi

I have to add the below js to add in Delay javascript execution

//s7.addthis.com/js/300/addthis_widget.js
cse.google.com
google_cse_v2.js

[2021-06-28 11:43] javiergutierrezchamorro commented on #4108
You can simply add it to the exclusions.

![image](https://user-images.githubusercontent.com/4672971/123631268-d5a25d80-d816-11eb-8b83-9e50fa0cc63a.png)

[2021-06-28 12:04] GeekPress commented on #4108
@kuodain Github isn't the right place to get support. Please open a ticket from here: https://wp-rocket.me/support/

[2021-06-28 12:04] #4108 closed, assigned to nobody

[2021-06-28 12:19] GeekPress opened #4109 "Add auto-exclusion for Divi"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Divi is adding a small inline script to add a `js` class to the body. We need to exclude this inline script as it could lead to not have a section or animation loade

[2021-06-28 16:53] Mai-Saad commented on #4100
Can't reproduce it with revslider 6.4.11 and 6.5.3 with WPR 3.9.0.4 nor 3.8.8 and page builder Version 2.12.5  on both FF and chrome for https://new.rocketlabsqa.ovh/revslider/ , https://new.rocketlabsqa.ovh/revslider_client_template/, https://new.rocketlabsqa.ovh/4100template2/

[2021-06-28 17:47] iCaspar commented on #4065
At this point, we will have at least 2 AP-related things using "rate-limits": `PricingClient` and now `SaaSClient`, or possibly `TokenClient` and `SaasClient`. As we lean toward API interactions, we will likely have more in the future. So we should abstract the API rate-limiting to a trait (starting with trait rather than an abstract base-class here because the rate-limiting methods in `PricingCli

[2021-06-28 18:07] webtrainingwheels commented on #4091
(1) This information is already in our KB:
https://docs.wp-rocket.me/article/115-can-i-use-wp-rocket-with-sg-optimizer
https://jmp.sh/sEGN0BF
https://docs.wp-rocket.me/article/1362-x-cache-miss-when-wp-rocket-is-activated

Please specify which other issues are caused by which features.

[2021-06-28 19:00] GeekPress commented on #4097
If your website is slower without combine JS, it means your website isn't on HTTP/2. In 2021, you must have your website running on HTTP/2, and even more when you are trying to optimize your performance. It's the first thing you must apply on your website or ask your hosting to have.

If you want more info about why combining isn't a good thing, please refer to this post: https://wpjohnny.com/why-

[2021-06-28 19:00] #4097 closed, assigned to nobody

[2021-06-28 19:06] GeekPress commented on #4103
As this exclusion is containing several files, we can't do an automatic exclusion. You should be added here: https://docs.wp-rocket.me/article/1560-delay-javascript-execution-compatibility-exclusions

[2021-06-28 19:08] GeekPress commented on #4103
@NataliaDrause Can you please also add this exclusion here? https://docs.wp-rocket.me/article/1560-delay-javascript-execution-compatibility-exclusions

Thanks 🙏

[2021-06-28 19:21] iCaspar commented on #3916
## Grooming Notes:

### Reproduce the Issue
Issue has been reproduced on multiple sites in various contexts.

### Root Cause
WordFence Firewall blocks unknown requests that it considers risky, except when in "Learning Mode" during which time such requests are added to an allow list for later review by site admins. If WPRocket's background requests are not added during a Learning Mode period, the f

[2021-06-28 19:22] engahmeds3ed commented on #3804
# Grooming

## Scope a solution

- At page.php add new settings field below varnish here
https://github.com/wp-media/wp-rocket/blob/fe509b6b002ace0ef0974b9247b28b6fefbda7eb/inc/Engine/Admin/Settings/Page.php#L1852

with the following code
[code]

also keep in mind to add documentation for `rocket_cache_webp_setting_field` filter.

- After this line
https://github.com/wp-media/wp-rocket/blob/fe509b

[2021-06-28 19:22] GeekPress opened #4111 "Don't add anymore the default exclusion list"
**Is your feature request related to a problem? Please describe.**
As explained on [our Slack](https://wp-media.slack.com/archives/G087NJ788/p1624905161247900), we decided to not add anymore the default exclusion which is breaking too many websites.

**Describe the solution you'd like**
Don't add the default exclusion for users who update from 3.7/3.8.

**Additional context**
For users who already

[2021-06-28 19:49] ghost opened #4113 "Re-Opening Issue | Closed Without Fair Consultation (GH Issue No. 4097)"
[Subject GitHub issue](https://github.com/wp-media/wp-rocket/issues/4097) was closed without consultation or giving us the opportunity to interact with DevOps.

DevOps missed our point. Our specific request is to leave "Combine JS Files" and "Delay JS Execution" open for customers to use individually or in combination. Currently, WPR V3.9.0.4 removed that ability. Please reinstate the options as p

[2021-06-28 19:51] ghost commented on #4111
Uh hum, we like the default JS file exclusion list. However, the plugin can be auto-loaded with the "Delay JS Execution"feld blank, but then offer customers a chance to add the recommend JS exclusion list provided in your knowledgebase. Your KB can start by listing what you already have in V3.8.8 and expanded later, as necessary.

[2021-06-28 20:24] ghost commented on #4091
@webtrainingwheels,

Thanks for the information.

Here's the list of Automated features (previously available) that should be added to your plugin in the form of a toggle:

(1) Enable/Disable **Browser Caching** (the No. 1 item that's causing many to report X-Proxy-Cache = MISS) when using SG Optmizer which has over 1M customers. Check their support forum. SG is already claiming your plugin is inj

[2021-06-29 00:37] webtrainingwheels commented on #2952
https://secure.helpscout.net/conversation/1554354344/274685?folderId=377611

[2021-06-29 05:34] NataliaDrause commented on #4103
@GeekPress sure! The list is already added here: https://docs.wp-rocket.me/article/1560-delay-javascript-execution-compatibility-exclusions#advanced-ads

[2021-06-29 10:49] #4111 closed, assigned to engahmeds3ed

[2021-06-29 11:50] vmanthos opened #4114 "Optimize CSS Delivery + OMGF Pro: OMGF's fonts-defining CSS file is removed"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ (3.9.0.4)
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When Optimize CSS Delivery is used, alongside the [OMGF | Host Google Fonts Locally](https://wordpress.org/plugins/host-webfonts-local/) Pro plugin, their CSS

[2021-06-29 12:04] Mai-Saad commented on #3698
@Tabrisrp I can see the main issue affecting social media links icons fixed here https://new.rocketlabsqa.ovh/3698-2/ but for some reason when minify CSS is enabled, the logo of the page is removed => will we fix this here or open a new ticket?

[2021-06-29 12:42] Mai-Saad commented on #3279
I can see it fixed here https://new.rocketlabsqa.ovh/3279template/ on this branch  #3907

[2021-06-29 12:51] #4099 closed, assigned to engahmeds3ed

[2021-06-29 12:52] remyperona commented on #3698
I can't tell without seeing the issue, to know if it's related to the change or something else

[2021-06-30 00:05] webtrainingwheels commented on #3968
https://secure.helpscout.net/conversation/1557784125/275497?folderId=377611

[2021-06-30 05:13] NataliaDrause commented on #1636
Related: https://secure.helpscout.net/conversation/1553458803/274417?folderId=3864740

[2021-06-30 06:52] vmanthos commented on #3690
https://secure.helpscout.net/conversation/1550383886/273586/

[2021-06-30 09:54] DahmaniAdame commented on #3396
Related ticket - https://secure.helpscout.net/conversation/1530505740/268431

[2021-06-30 10:52] gevcen commented on #4113
I'm a user like you but I think there are fair reasons why WP Rocket would not return back on this situation.

1. Combining is something that has no relevancy nowadays. It used to be useful when servers were only able to send requests one after the other with HTTP1, but now if you have a server that isn't on HTTP2 then you should probably change host because that means staying far behind on techno

[2021-06-30 11:05] DahmaniAdame commented on #4100
@Mai-Saad customer reshared the creds with some feedback from the SiteOrigin support.

Current versions:
- WPR 3.9.0.4
- SiteOrigin 2.12.5
- SiteOrigin Widgets Bundle 1.21.0
- RevSlider 6.4.11

The issue is still happening after removing  `/wp-content/plugins/siteorigin-panels/js/styling.min.js` from exclusions.

[2021-06-30 13:53] ghost commented on #4113
@gevcen,

Thank you for your valuable information. Regardless, WP Rocket should still retain both options. Users can always "uncheck" the feature that is causing the issue or not working for them. For example, the option "Optimize CSS Delivery" does not work well for us so we don't select it.

Also, no matter how much we say about HTTP/1, HTTP/2, and HTTP/3, the final verdict is driven by website

[2021-06-30 14:57] gevcen commented on #4113
@Jetxpert

Let's try to make a theorerical thinking of the simultaneous use of those features.

Let's start from the premise that you use Delay JS in its latest version, that is delaying ALL scripts, except :

- certain specific that are automatically excluded by WP Rocket for auto-compatibility purpose,
- AND scripts manually added in the exclusion by the users for manual compatibility purpose (w

[2021-06-30 15:39] Mai-Saad opened #4118 "Template not displayed properly when created while Preload + RUCSS are enabled until we clear cache"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.9.0.5
- Used the search feature to ensure that the bug hasn’t been reported before => Yes

**Describe the bug**
When creating a page template while Preload and RUCSS, the page won't be displayed correctly incognito till clear cache

**To Reproduce**
precondition:
- d

[2021-06-30 17:03] Mai-Saad opened #4119 "Multiple CSS files arenot removed from page source while RUCSS + Woocommerce are enabled"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.9.0.5
- Used the search feature to ensure that the bug hasn’t been reported before => yes

**Describe the bug**
A clear and concise description of what the bug is.
CSS external files aren't removed from the source while Woocommerce is enabled

**To Reproduce**
Precon

[2021-06-30 17:08] engahmeds3ed commented on #4119
Using the following template
[code]

and the root cause is this regex
https://github.com/wp-media/wp-rocket/blob/1c126a97668b9bb6486bd0a1cc35b705900246cd/inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php#L432-L438

you can find the regex test here: https://regex101.com/r/lAVZrF/1/

**Summary:**

Any linked resources between two noscript tags, will not be removed from the page.
[code]

[2021-06-30 20:41] iCaspar commented on #4119
The following is close:
[code]
Play with it here: https://regex101.com/r/vhs2HJ/1

The issue is with the `(*SKIP)` -- including it will work correctly when there is a link inside the noscript, but NOT when there is any other noscript content without a link. On the other hand, removing (*SKIP) fails as all the links are matched by the link pattern after the `|`.

[2021-07-01 05:52] DahmaniAdame opened #4120 "WooCommerce Show Single Variations (Iconic) clears cache on product variation save"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
The **WooCommerce Show Single Variations** plugin has an action to switch themes when a variation is saving, which forces WP Rocket to clear its cache:
`switch_theme

[2021-07-01 06:40] DahmaniAdame opened #4121 "Charset declaration is missing or occurs too late in the HTML (in some cases)"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
On some occasions, Lighthouse & PageSpeed will show the following "Best Practice" notification:

`Charset declaration is missing or occurs too late in the HTML`

**T

[2021-07-01 07:55] GoldenGoldy commented on #3142
I also had the double click/tap issue on IOS / Safari, on WP Rocket version 3.9.0.4
Managed to solve it with the info in this topic:D
I added the exclusion for twitter as suggested in a previous comment by @socialpreneur
In my case I also added an exclusion for Facebook, as the issue was still present.
After adding the Facebook exclusion the issue is gone!
I also had the issue described here https

[2021-07-01 10:04] engahmeds3ed commented on #4119
I tried today the main regex and Caspar's regex and both are working in all cases but if we used the modifiers `gi` only.

We can pass `i` to `find` method call and everything would be fine, I will create a PR with that change and add some test fixtures.

[2021-07-01 10:55] DahmaniAdame commented on #4072
Related ticket - https://secure.helpscout.net/conversation/1556299945/275163

[2021-07-01 11:00] engahmeds3ed opened #4122 "Pre-warmup fetch resources are stopped in some cases"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version **Yes**
- Used the search feature to ensure that the bug hasn’t been reported before **Yes**

**Describe the bug**
I was checking an issue with @vmanthos and the issue was that the fetch process doesn't start at all till 1 hour elapsed and RUCSS is enabled.
After debuggin

[2021-07-01 12:03] vmanthos commented on #4122
The ticket that's related to this issue is: https://secure.helpscout.net/conversation/1547161846/272643/

[2021-07-01 14:34] alfonso100 commented on #2440
Another case. related to Arabic characters encoding:
https://secure.helpscout.net/conversation/1558651034/275746?folderId=4130695

[2021-07-01 15:58] optimiertes commented on #3696
Do you have plans on fixing this? It basically makes cache preloading for people using WPML with multiple domains useless.

[2021-07-01 18:38] roberthedlund commented on #3142
Thank you @GoldenGoldy this also worked for my site!!!! Awesome :)

[2021-07-01 20:43] 79ho3ein opened #4124 "Please add the ability to preload images to the plugin"
Great if you add the ability to preload images to the plugin. I preloaded some images using code and this increased the loading speed by 1.5 seconds.
Please add this feature if possible.

[2021-07-02 05:19] vmanthos opened #4125 "RUCSS - calc() included in rgb() isn't being parsed"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅3.9.0.4
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When using CSS `calc()` inside an `rgb()` that will not be parsed.

For example, the following code:
[code]
becomes:
[code]

and that results in the `--dark` pro

[2021-07-02 05:27] vmanthos opened #4126 "RUCSS - Incorrect notification displayed when RUCSS isn't created"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅3.9.0.4
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

On a customer's website, the pages that RUCSS picks to scan were not fetched at all.
Yet after the 1.5hr mark passed we displayed the following message:
`Remove

[2021-07-02 06:46] vmanthos commented on #2371
Related ticket: https://secure.helpscout.net/conversation/1559941223/276126/

[2021-07-02 06:49] GeekPress commented on #4125
@vmanthos This should be moved to Tree Shaker repo, @Tabrisrp do you confirm?

[2021-07-02 06:55] vmanthos commented on #4125
@GeekPress In the RUCSS training, I asked Remy about where to report such issues, and he told us to do so here. The dev team will move them to the Treeshaker repo.

Reporting these here or in the Treeshaker repo doesn't make any difference to us. We'll go with what you decide.

[2021-07-02 08:02] gevcen commented on #4124
Please search in the repository beforehand. Kindly close this duplicate.

https://github.com/wp-media/wp-rocket/issues/3842

[2021-07-02 08:39] #4124 closed, assigned to nobody

[2021-07-02 11:34] #4119 closed, assigned to iCaspar, engahmeds3ed

[2021-07-02 12:44] iCaspar commented on #4125
Indeed, when there is any question about where to start an issue, it should start here and we can move it 👍

[2021-07-02 21:01] alfonso100 commented on #3968
https://secure.helpscout.net/conversation/1556756730/275243?folderId=2683093

[2021-07-02 22:28] webtrainingwheels commented on #2952
https://secure.helpscout.net/conversation/1557819798/275506?folderId=4130695

[2021-07-03 15:02] bwafels commented on #4077
I have installed the latest update of wp rocket and I can confirm this is not a nice behaviour. On mobile screens the product image take up a large part of the screen. This means customers may get the impression the website is broken.

[2021-07-03 17:18] ghost opened #4127 "WP Rocket Plugin Update Message: "Compatibility with WordPress Unknown""
**Describe the Bug**

WP Rocket plugin update message does not indicate if it's compatible with the latest version of WordPress.

**To Reproduce**

Steps to Reproduce the Behavior:

1. Check for plugin updates.
2. Before updating plugin, review update message. Message currently states: "**Compatibility with WordPress 5.7.2: Unknown**"

**Expected Behavior**

Plugin update should indicate latest co

[2021-07-03 21:28] olivM commented on #2441
i got the same random PHP Warning  with 3.9.0.x from copy() on class-wp-filesystem-direct.php

[2021-07-04 09:21] or128 commented on #4072
This new process is chocking our server, we're on DreamVPS.

[2021-07-04 18:11] moazam1 commented on #4032
Same issue. Please help.

[2021-07-05 07:27] NataliaDrause commented on #2068
Related: https://secure.helpscout.net/conversation/1561866652/276589/

[2021-07-05 07:38] Mai-Saad commented on #3968
Note for retesting:
- OCD is enabled
- create a page with AR slug
- enable RUCSS
- Access this page  => in console used CSS file is canceled + accessing used CSS file in source gives 404

[2021-07-05 07:38] NataliaDrause commented on #3680
Related ticket: https://secure.helpscout.net/conversation/1561866652/276589/

This is also causing multiple PHP Warnings related to preload process:
`PHP Warning: Invalid argument supplied for foreach() in /www/wp-content/plugins/wp-rocket/inc/classes/dependencies/wp-media/background-processing/wp-background-process.php on line 314`

PHP Warnings don't stop logging even when Preload is disabled.

[2021-07-05 08:13] GeekPress commented on #4018
After discussion, the way to go will be :
- detect if Adthrive plugin is activated
- If so, add the pattern `adthrive` in the exclusion (we don't insert into our default exclusion list)

[2021-07-05 08:44] Trisky commented on #2166
Hi there. Just went through the same issue.

It seems that it happens if you run `composer install` in a system that doesn't have `unzip`. For example, if you run it inside a php container.

Solution is just `apt-get install unzip` before running `composer install` in your Dockerfile

[2021-07-05 09:10] Mai-Saad commented on #4034
Can see the problem on the trunk and see the fix on the related branch.
Note: if the expression was on 2 lines like this
`font-size: clamp(2.3131rem, 0.6854rem+`
`4.823vw, 4.5438rem); `
After minification it becomes `h1{font-family:fantasy;font-size:clamp(2.3131rem, 0.6854rem) 4.823vw,4.5438rem)}` . Do we need to handle this @Tabrisrp ? (not sure if it's a valid case)

[2021-07-05 09:38] NataliaDrause opened #4129 "PHP warning: Invalid argument supplied for foreach() in wp-background-process.php"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.9.0.5
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
WP_DEBUG logs multiple errors of the following content:
`PHP Warning: Invalid argument supplied for foreach() in /www/wp-content/plugins/wp-rocket/inc/classe

[2021-07-05 09:40] engahmeds3ed commented on #4044
This one is blocked because from 3.9.0.5 we don't add the default exclusion list by default. So we need to think again about this one.

https://github.com/wp-media/wp-rocket/issues/4111

[2021-07-05 09:51] GeekPress commented on #4044
@engahmeds3ed We can keep the same behavior but we will just change it a little bit the sentence:

[code]

[2021-07-05 09:57] Mai-Saad commented on #4032
Note: for retesting we can use the following settings (heartbeat enabled but activities are disabled)
![Screenshot from 2021-07-05 11-50-51](https://user-images.githubusercontent.com/76941962/124453651-e1969e00-dd87-11eb-8295-0aae12cae883.png)

[2021-07-05 10:12] Mai-Saad commented on #3698
@Tabrisrp I can see it too on the trunk so I think it's not related to the current change
**Update:** Thanks to @piotrbak, the problem is that the logo relative URL in the template is written to the test domain and it's not there

[2021-07-05 11:07] engahmeds3ed commented on #4018
## Scope a solution

1. Create a new compatibility file/class here:
https://github.com/wp-media/wp-rocket/tree/177960bddb73b75dd14407687351ee54a5bf511d/inc/ThirdParty/Plugins

2. Use the following constant to check if the plugin is installed or not:
https://plugins.trac.wordpress.org/browser/adthrive-ads/tags/1.0.48/adthrive-ads.php#L33

3. Load this new class on service provider here:
https://git

[2021-07-05 11:07] moazam1 commented on #4032
My settings are same like yours but still no luck.

[2021-07-05 12:11] Mai-Saad commented on #2974
Can reproduce it on trunk by adding `if(b)return w.IGNORE;var c=B(fb(a,"href"));b=R(fb(a,"hostname"));c=c?/^https?:\/\//.test(c)||/^\/\//.test(c):!1;if(c&&!lc(a)){if(la)return w.TRACK;
if(!0===p.aff_domains[b]||H(lb,b))return w.AFFILIATE;if(Ka(b))return w.PRE_AFFILIATED;` in js file used in template .. fixed on the related branch but if we added space after // the problem will still exist.
@Tabris

[2021-07-05 12:46] KristofDR commented on #4114
Hi @vmanthos

I recently had the same(?) or at least a similar issue, where when enabling "Optimize CSS Delivery" would break font delivery by OMGF Pro.

I was in contact with the dev behind OMGF Pro, and he immediately pushed a code fix on my site which he now pushed to a new update (version 2.3.1 of the plugin, should be available) that fixed the issue for me.

Could you check again if the issue

[2021-07-05 12:57] engahmeds3ed commented on #4044
## Scope a solution

1. Add `helper` key with the value of this description
[code]

2. try getting the value of `wp-content` and `wp-includes` dynamically to help sites with customer directory names to show valid code.

## Estimate the effort
[XS]

[2021-07-05 13:32] NataliaDrause commented on #3419
Related: https://secure.helpscout.net/conversation/1559076163/275840?folderId=3864740

[2021-07-05 15:30] remyperona commented on #2974
No we don't need to handle this case

[2021-07-05 15:31] remyperona commented on #3698
Ok then all good

[2021-07-05 15:31] remyperona commented on #4034
No we don't need to handle this formatting

[2021-07-05 18:37] #3112 closed

[2021-07-05 21:45] gevcen opened #4130 "Improve Delay JS safe exclusions to avoid breaking sites"
**Is your feature request related to a problem? Please describe.**
I would like to provide some feedback about the default exclusion which is not added anymore by default since 3.9.0.5. Many websites are not working anymore since the default exclusion isnt added by default, while re-adding it makes them work again. Please think about the below idea.

**Describe the solution you'd like**
What about

[2021-07-06 02:38] gurkiratgavi opened #4131 "I am unable to Update and Publish Post from block editor but can do easily with classic editor what is the issue?"

[2021-07-06 04:54] vmanthos commented on #4072
Likely related: https://secure.helpscout.net/conversation/1551666723/273988/

[2021-07-06 06:47] GeekPress commented on #4130
It should be the reverse as the default exclusion list is failing a lot of time to exclude some inline JS.

Can you please provide an example where no exclusion is creating an issue?

Thanks

[2021-07-06 06:51] GeekPress commented on #4131
Hi

Please open ticket support from here: https://wp-rocket.me/support/

[2021-07-06 06:51] #4131 closed, assigned to nobody

[2021-07-06 07:33] DahmaniAdame commented on #4072
Likely related - https://secure.helpscout.net/conversation/1555198740/274853/

[2021-07-06 09:38] NataliaDrause commented on #4078
Same issue: https://secure.helpscout.net/conversation/1560710154/276337/
With only one of the two enabled there is no FOUC.
Disabling Delay JS didn't help.

[2021-07-06 13:10] vmanthos opened #4133 "Cache Clearing - rocket_clean_home_feeds() runs even when feed caching is disabled"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ (3.9.0.5)
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When `rocket_clean_post()` runs, `rocket_clean_home_feeds()` will run as well, even when we are not caching the site's feeds, which is the default:
https://gi

[2021-07-06 13:22] vmanthos commented on #4114
Thank you for letting me know about this @KristofDR.

I confirmed this is fixed with the 2.3.1 version of OMGF Pro.

From their changelog:
[code]

[2021-07-06 13:22] #4114 closed, assigned to nobody

[2021-07-06 15:04] #3944 closed, assigned to mostafa-hisham

[2021-07-06 16:32] ghost opened #4134 "WP Rocket External Links (Backend) Do Not Open in New Browser Tab"
**Describe the Bug**

Currently, WP Rocket's external links open in the same page we're logged in (WordPress Dashboard), which prevents us from "multitasking" and slows us down.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to WordPress dashboard
2. Mouseover (hover) on top of  "WP Rocket" (top menu item)
3. Click on "Documentation", "FAQ", or "Support" (external links)
4. External li

[2021-07-06 17:07] girlie commented on #4032
Related ticket: https://secure.helpscout.net/conversation/1562079958/276667/

[2021-07-06 17:15] Mai-Saad commented on #4134
Duplicated with https://github.com/wp-media/wp-rocket/issues/3546

[2021-07-06 21:08] camilamadronero-zz opened #4135 "Add Option to Delay JS for a Fixed Amount of Time"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
The Delay JavaScript execution feature could have the sub-option to set the execution of the scripts for a fixed amount of time (seconds).

**Describe alternatives you've considered**
To set the sub-option in the Delay JavaScript execution feature UI so customers can choose if they want to dela

[2021-07-06 22:02] gevcen commented on #4135
Isnt this the same/duplicate of https://github.com/wp-media/wp-rocket/issues/3938 ?

[2021-07-06 23:36] GeekPress commented on #4135
Duplicate of #3938

[2021-07-06 23:36] #4135 closed, assigned to nobody

[2021-07-07 01:55] webtrainingwheels opened #4136 "Delay JS Execution: PHP Warning when an unclosed parenthesis is in exclusion list"
**Describe the bug**
When using exclusions like `gtag(` in Delay JavaScript Execution (version 3.9.0.5) it causes the following PHP warning and the **exclusion does not work**:

`PHP Warning:  preg_match(): Compilation failed: missing closing parenthesis at offset 5 in /wp-content/plugins/wp-rocket/inc/Engine/Optimization/DelayJS/HTML.php on line 172`

**To Reproduce**
Steps to reproduce the behav

[2021-07-07 06:19] DahmaniAdame opened #4137 "RUCSS doesn't process or safelist preloaded CSS (rel=preload + javascript to inject it)"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
RUCSS doesn't process or able to safelist preloaded CSS automatically switching into a stylesheet after the page loads.

Example:

[code]

Safelisting a used propert

[2021-07-07 07:33] NataliaDrause opened #4138 "Delay JS causes console error when simpli.fi scripts are delayed"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.9.0.5
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
When _[simpli.fi](https://simpli.fi/)_ scripts are delayed, there is the following console error:
![image](https://user-images.githubusercontent.com/60236665

[2021-07-07 10:12] DahmaniAdame commented on #4072
Related ticket - https://secure.helpscout.net/conversation/1562955283/276951/

[2021-07-07 10:51] engahmeds3ed commented on #3282
Blocked by #3690 to just add class alias to deprecated 3.9 file not to add conflicts.

[2021-07-07 11:56] DahmaniAdame commented on #4072
Related ticket - https://secure.helpscout.net/conversation/1563143378/276997

This one is more related to the bandwidth but is caused by the same root cause. A potential fix for this issue should help with the bandwidth aspect as well.

Slack discussion - https://wp-media.slack.com/archives/C08N8J6VC/p1625656955038000

[2021-07-07 12:56] #3279 closed

[2021-07-07 12:56] #3698 closed, assigned to remyperona

[2021-07-07 12:56] #4034 closed, assigned to remyperona

[2021-07-07 13:30] #3997 closed, assigned to remyperona

[2021-07-07 13:59] GeekPress opened #4140 "Emulate Monarch social icons replacement to improve user experience"
**Is your feature request related to a problem? Please describe.**
When using Monarch and Delay JS, the social icons aren't moved in their right position until a user interaction which can lead to an issue like this:
https://d33v4339jhl8k0.cloudfront.net/inline/18928/40f340a6cd26427b285d266de9732eebce7a95cf/8ee087c86de8054b2e8c57e015a9a8dbab9ab977/image.png

**Describe the solution you'd like**
Em

[2021-07-08 07:08] hamidpeya commented on #4111
Delay JS is a great option and I would say the current update 3.9.0.5 is good for beginners as it will automatically delay all the JS. But upon my initial test, I have found that the plugin missed a few JS files that could be delayed. Those JS files were related to the plugins that came with the theme. And I think, for such cases, there should be an option to input such JS paths that were missed b

[2021-07-08 07:50] GeekPress commented on #4111
@hamidpeya Hi 🤚

All JS files should be delayed, if it's not the case for you, it's an issue. Can you please the URL of the website? It will be very helpful to see the problem in reality.

Thanks

[2021-07-08 07:57] vmanthos commented on #4122
Likely related ticket: https://secure.helpscout.net/mailbox/5de4805abf96951b/2135277/

There are two pages that are not fetched:
![](https://i.vgy.me/xeNAk5.jpg)

`update_site_option()` returned `false` here:
https://github.com/wp-media/wp-rocket/blob/3250a7ecdefeb1021bc780f2015566180195c9e7/inc/classes/dependencies/wp-media/background-processing/wp-background-process.php#L101

I used `base64_enco

[2021-07-08 09:38] vmanthos commented on #4122
**Related ticket:** https://secure.helpscout.net/conversation/1555327775/274885/

In this case, `base64_encode/base64_decode()` did the trick, and allowed all pages to be fetched. Previously only 6/9 were.

[2021-07-08 11:50] hamidpeya commented on #4111
@GeekPress Hi 👋

Thanks for the reply, I have investigated it further and the issue is quite opposite. I have added the [given rule](https://docs.wp-rocket.me/article/1560-delay-javascript-execution-compatibility-exclusions#advanced-ads) to exclude jquery for the plugin Advanced Ads, and that resulted in excluding all Jquery .js, the ones that could be delayed.

Site: docformats.com
JS didn't dela

[2021-07-08 11:55] GeekPress commented on #4111
Please add this line to exclude only the right jQuery => wp-includes/js/jquery/jquery.min.js

[2021-07-08 12:03] hamidpeya commented on #4111
It worked like a charm. Thanks 🙏

[2021-07-08 15:42] camilamadronero-zz commented on #3282
new potentially related case https://secure.helpscout.net/conversation/1553032649/274338?folderId=2675957

[2021-07-08 19:15] alfonso100 commented on #3111
related ticket: https://secure.helpscout.net/conversation/1546001981/272321?folderId=2683093
@engahmeds3ed proposed fix also worked there.

Ahmed modified our helper plugin to use a different filter: https://jmp.sh/Uh8kkLj

[2021-07-09 07:11] GeekPress commented on #4111
@hamidpeya Could you please contact me at jonathan [at] wp-media.me and share your WordPress credentials?

I would like to check something on your site.

[2021-07-09 07:13] hamidpeya commented on #4111
@GeekPress I will have to create a staging site. Once done, I will share it with you.

Cheers!

[2021-07-09 07:20] GeekPress commented on #4111
@hamidpeya You rock :) Thanks a million

[2021-07-09 09:00] engahmeds3ed commented on #4077
I did some tests and reached the following code that solves the issue
[code]
I will do the same at our compatibility file.

[2021-07-09 11:41] vmanthos commented on #4072
Related ticket: https://secure.helpscout.net/conversation/1555327775/274885?folderId=2135277

[2021-07-09 20:04] Mad-Virus opened #4143 "Remove unused CSS (Beta) also removes DIVI Blog modul"
**Describe the bug**
As soon i activate "Remove unused CSS" my Divi Blog Modul wents invisible and change the Alignement when im not loged in to the WP Admin. With WP Admin ist visible and look like it should.

**To Reproduce**
Have Divi Blog Modul and activate "Remove unused CSS" log out from Admin, refresh the Page with cleared Cache.

**Expected behavior**
Auto exclude DIVI Blog Module

**Scree

[2021-07-09 23:30] #3984 closed, assigned to DahmaniAdame

[2021-07-10 00:52] webtrainingwheels opened #4144 "CPCSS: Replacing Font-Display with Swap Also Happening in Font URL Path"
**Describe the bug**
Customer is using Blocksy theme. When Optimize CSS Delivery is enabled (3.9.0.5) the font URLS change from:
/wp-content/themes/blocksy-child/fonts/fontawesome/fontawesome.woff2
to
/wp-content/themes/**swapsy**-child/fonts/fontawesome/fontawesome.woff2

**To Reproduce**
Steps to reproduce the behavior:
1. Use Blocksy theme (it's free)
2. Apply original CSS fonts code: https://s

[2021-07-10 04:58] gitgudcameron opened #4145 "Remove Unused CSS ignores clamp()"
First of all, congrats on releasing such a kick-ass feature to remove unused CSS. You guys are absolute wizards.

Just wanted to let you know I came across an issue with the used CSS when using clamp(). The used CSS would ignore my clamp CSS and when I reverted to media queries, it worked fine.

I use clamp() for my font sizes and was having

**To Reproduce**
1. Add some style to a h1 ` font-size:

[2021-07-10 10:35] wpsumo commented on #4072
Same issue on Cloudways with 2 CPU and 2gb RAM in my test.

RUCSS consume 100% CPU and RAM even when preload cache is disabled. It's too intensive, should be better with a 1 page per x seconds. Seem to be the background process for me as well, and it becomes too intensive if preload cache is enabled as well. Without preload cache it's hitting 60% CPU depending on how many pages is hit per second a

[2021-07-10 11:05] wpsumo opened #4146 "Remove Unused CSS missing to clean @Keyframes"
Wanted to mention that I saw the RUCSS miss to remove unused `@keyframes`.

**To Reproduce**
Steps to reproduce the behavior:
1. Add some `@keyframe` css or install oxygen builder (which has several of predefined `@keyframes`)
2. Select 'Remove Unused CSS'

**Expected behavior**
The CSS should be removed from used CSS. As this is not used anywhere RUCSS should be able to remove this.

**Additional

[2021-07-10 11:21] wpsumo opened #4147 "Remove Unused CSS has problems with dynamic css and css selectors"
Wanted to mention that I saw the RUCSS is having problems with selectors that is appended with javascript.

I tested on an Oxygen builder site and RUCSS removed all AOS css so menu drop down in oxygen pro menu is no longer having any fade in effect.

Also tested an item which is appending classes on click, this no longer works as the css selectors is removed in the used.css

Modal

**To Reproduce*

[2021-07-10 11:57] wpsumo opened #4148 "Remove Unused CSS to support wildcard in safe list"
**Is your feature request related to a problem? Please describe.**
It would be preferred to have wildcard so we can write 1 line instead of 50 to add safe list of dynamic classes appended, as RUCSS doesn't manage to find them right now.

**Describe the solution you'd like**
Example:
`.(.*)--is-active`

**Describe alternatives you've considered**

**Additional context**
Used in the KB as an example

[2021-07-11 07:38] bwafels opened #4149 "Delay JS - WPML redirect according to browser language issue"
- Made sure you’re on the latest version: YES (3.9.0.5)

**Describe the bug**
When using delay JS & having WPML automatically redirect to browser language (if it exists & isn't the default site language):

The website loads all elements that don't require user interaction first. Once the user moves his/her mouse the page will load fully in the main language (dutch for my site). After it is fully l

[2021-07-11 09:30] NataliaDrause commented on #3968
Related: https://secure.helpscout.net/conversation/1564890590/277649

[2021-07-11 12:05] NataliaDrause opened #4150 "RUCSS: add missing Owl Carousel classes"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.9.0.5
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
Owl Carousel slider is not displayed when _Remove Unused CSS_ option is enabled.

Safelisting the following classes resolve the problem:
[code]

**Expected b

[2021-07-11 14:38] abdobasha2004 commented on #3968
I would like to suggest using post_id not post_url as identifier for CSS file

[2021-07-12 04:59] NataliaDrause commented on #4150
this is a duplicate for this one: https://github.com/wp-media/js-parser/issues/56

[2021-07-12 04:59] #4150 closed, assigned to nobody

[2021-07-12 11:28] GeekPress commented on #4148
Duplicate of https://github.com/wp-media/tree-shaker/issues/119

[2021-07-12 11:28] #4148 closed, assigned to nobody

[2021-07-12 12:44] Mai-Saad commented on #3900
Note: fix here needs to be tested too when updated the js file that is using Elements i.e add class
=> currently with 1st clear cache and access the page , no entry added in used CSS table until cache is cleared again

[2021-07-12 12:59] Mai-Saad commented on #3617
Note: This issue will prevent updating used CSS  when the dynamic js file is updated
=> As per discussion with @piotrbak it affects minify js as well {the dynamic file is not updated in cache}

[2021-07-12 13:50] NataliaDrause commented on #3747
Related: https://secure.helpscout.net/conversation/1551325854/273854

[2021-07-13 03:55] sarangsss29 opened #4151 "Exclude JS defer for Jetpack Stats not working"
Before submitting an issue please check that you’ve completed the following steps:

Made sure you’re on the latest version ✅
Used the search feature to ensure that the bug hasn’t been reported before ✅

Describe the bug
When using Jetpack Stats
https://wordpress.org/plugins/jetpack/
The latest WP-Rocket v3.9.0.5 defers the WP Stats script resulting in wrong reports of like number of pageviews, hit

[2021-07-13 06:41] javiergutierrezchamorro commented on #4151
This is the native JS defer and not the WP-Rocket rocketlazyloadscript implementation.

[2021-07-13 07:26] vmanthos opened #4152 "RUCSS - used CSS in incorrect when the selector in not() doesn't exist in the DOM"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ (3.9.0.5)
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When using CSS like the following (1):
[code]

and the selector - `wp-rocket` in this case, in `:not()` isn't there in the DOM, the SaaS converts the code to:

[2021-07-13 07:36] NataliaDrause commented on #4129
Same warning, but related to the RUCSS.
Ticket: https://secure.helpscout.net/conversation/1558402299/275665/

[2021-07-13 07:47] NataliaDrause commented on #4129
Related: https://secure.helpscout.net/conversation/1569090688/278901/

[2021-07-13 09:21] or128 commented on #3916
WP-Cerber is also blocking the warmup requests.
Can WP-Rocket become compatible with Cerber?

https://wpcerber.com/

[2021-07-13 10:20] DahmaniAdame commented on #3938
Related ticket - https://secure.helpscout.net/conversation/1570110663/279178/

[2021-07-13 12:21] tommy83 commented on #3938
Yes, 90% of all our clients asking us after using delay option:
Why the website is not build fine? Our visitor asking why they need to move the mouse or any key before start reading the blog... otherwise the website will be not build correct...
So a solution like "WP Meteor Page Speed" woud be a great so user can select: not 100% optimized site, but UX/IX and also pagespeed will be okay by setting

[2021-07-13 12:28] WordPresseur opened #4153 "Delay JS Execution - Add a warning notice before activation"
We currently display a warning notification for Minify JS option but we don’t for Delay JS execution. We should add the same notification and maybe add a button to the [Delay JavaScript Execution compatibility exclusions](https://docs.wp-rocket.me/article/1560-delay-javascript-execution-compatibility-exclusions)

![Capture d’écran 2021-07-13 à 14 22 16](https://user-images.githubusercontent.com/

[2021-07-13 12:44] Hunting4you opened #4154 "Used CSS - 404 error with chinese encoded URI CSS"
Apache will reply 404 when there is woocommerce product with chinese slug

[2021-07-13 12:55] piotrbak commented on #4154
Most likely related:
https://github.com/wp-media/wp-rocket/issues/3968

[2021-07-14 06:37] DahmaniAdame opened #4155 "RUCSS to skip faulty CSS"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When generating RUCSS, faulty CSS might result in producing wrong directives.

Example:

Processing the following faulty code

[code]

Results in producing
[code]

W

[2021-07-14 08:07] mehedihasanziku opened #4156 "Delay JS - Elementor Post Widget & Elementor Menu Broken With jQuery Exclude"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**

Elementor Submenu & Elementor Post Grid/Masonary Doesn't work After UI.

For Submenu: In dom i see `<span class="sub-arrow">` not present and more class like `has-s

[2021-07-14 10:56] luukskeur opened #4157 "Custom PHP enqueued styles not purged"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**
It's a weird bug in a complex situation. It definitely started when upgrading to 3.9+. I can't reproduce the issue on 3.8.8:

I'm using a custom theme where we include c

[2021-07-14 11:16] piotrbak commented on #4157
It could be related to this:
https://github.com/wp-media/wp-rocket/issues/3617

Combined with the update of the cache busting technique:
https://github.com/wp-media/wp-rocket/issues/3618

[2021-07-14 15:19] Alex43515 commented on #3142
Related ticket - https://secure.helpscout.net/conversation/1570565881/279394?folderId=4831552

[2021-07-14 16:25] 79ho3ein opened #4159 "Disadvantages of the new "remove unused css" feature"
hello
I examined this feature. **The result is that this feature has many disadvantages.**
Most importantly, it increased the size of the home screen to 400 KB. While it was supposed to reduce...
The next thing is that I measured the value of unused css before and after the test. After deleting unused css by the plugin, no improvement was achieved in the results.
Another thing is that by activatin

[2021-07-14 18:50] ghost commented on #4023
We agree with @jazir5!

Stop removing **user-controllable features** and incorporating them into your plugin as Automated features or Default settings. You are taking away users' control of what they need to optimize their website.

Another thing to keep in mind is that when WP Rocket conflicts with another plugin (e.g., SG Optimizer) -- with user-controllable features -- we can manually disable o

[2021-07-14 19:02] ghost commented on #4113
@gevcen,

Let users have control of what we they need for their website(s). You're taking away what we liked. We're not alone.

Please read [GitHub Item No. 4023](https://github.com/wp-media/wp-rocket/issues/4023) for our recent input on this topic.

If no improvements are made based on our feedback (and many others), we'll just have to cancel our subscription and take our business elsewhere. It's

[2021-07-14 19:45] #4130 closed, assigned to nobody

[2021-07-14 20:15] alfonso100 commented on #3962
Another case: https://secure.helpscout.net/conversation/1556155336/275128?folderId=2683093

[2021-07-15 03:10] osvaldo0123 opened #4160 "google webfont optimizer"
** Is your feature request related to a problem? Please describe. **
Requests made for google sources often slow down the page for Largest Contentful Paint

** Describe the solution you would like **
I propose to be able to optimize the fonts by converting all the google font requests into one through JS and with the delay it would be a success in the plugin

** Describe the alternatives you have

[2021-07-15 06:28] NataliaDrause opened #4161 "RUCSS - database grows large when versions of the CSS/JS files change frequently"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.9.0.5
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
When a page contains a CSS or JS file with a version that is changing dynamically very often (for example on each page load), the database may grow very larg

[2021-07-15 10:03] DahmaniAdame opened #4162 "Exclude Autoptimizer's lazy loading from Delay JavaScript Execution"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When **Autoptimize lazy load for images** is activated in addition to **Delay JavaScript Execution**, images will only start showing after user interaction with the

[2021-07-15 14:34] #4044 closed, assigned to engahmeds3ed

[2021-07-15 14:38] WordPresseur opened #4163 "RocketCDN UI: Notification about RocketCDN still active even if CDN option has been unticked"
Many RocketCDN customers think that unticking "Activate Content Delivery Network" option will cancel RocketCDN.
If RocketCDN and if CDN option has been unticked, we may should display a warning notification to indicate that a RocketCDN subscription is still running for this domain:
![Capture d’écran 2021-07-15 à 16 28 19](https://user-images.githubusercontent.com/11939512/125806724-a1acc84e-2878

[2021-07-15 19:07] alfonso100 opened #4164 "RUCSS - Elementor - incorrect result for calc() for padding when parent container class .elementor-has-item-ratio is present"
**Before submitting an issue please check that you’ve completed the following steps:**
yes - Made sure you’re on the latest version
yes - Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When **calc()** is used for padding on an Elementor grid object, the result of the calc is incorrect, generating a big space.
RUCSS is including the calc() as expect

[2021-07-15 19:58] webtrainingwheels opened #4165 "Delay JS: Exclude EWWW inline script for webp"
EWWW image optimizer has an option for JS WebP Rewriting: https://jumpshare.com/v/9aPlSgSZ0qDLqA2ZPKrK
There is an inline script for this which must be excluded from Delay JS so that images will load correctly. When not excluded it can take multiple interactions, scrolling up and down the page for example, to display correctly.

The script: https://snippi.com/s/d8h3vh3

In my case I used this excl

[2021-07-15 22:13] remyperona commented on #4160
In our next version, wer are going to update our Google Fonts optimization with the following: #2772

This will handle, in addition to the current combination + preconnect:
- preloading the Google Fonts stylesheet
- asynchronously loading the GF stylesheet

This should be the ideal configuration to load Google Fonts on a website.

We likely won't do a different implementation using JS via webfont.

[2021-07-15 22:36] remyperona commented on #4127
Duplicate of #3570

[2021-07-15 22:36] #4127 closed, assigned to nobody

[2021-07-16 01:15] webtrainingwheels commented on #4129
https://secure.helpscout.net/conversation/1573031603/280180?folderId=377611

[2021-07-16 07:11] Uhtredtb commented on #4032
Yes, it still got this issue, confirmed.

please someone fix this.

Thanks

[2021-07-16 08:50] mehedihasanziku opened #4166 "RUCSS - Safe mode to not process Inline CSS"
**Is your feature request related to a problem? Please describe.**
There is no site probably exist in at least wordpress that they don't have inline css using `<style>` tag. so yes if we use any inline css that must be needed to update sometimes for sure. so now the problem is we need to `"Clear Used CSS"` everytime whenever we do some changes with inline css. before if we do `"Clear Cache"` it cl

[2021-07-16 13:00] #2772 closed

[2021-07-16 15:24] #4077 closed, assigned to engahmeds3ed

[2021-07-16 15:47] GeekPress commented on #4166
@Tabrisrp Is this possible to do?

[2021-07-16 15:51] GeekPress commented on #4162
@Tabrisrp What about replacing EWWW exclusions (https://github.com/wp-media/wp-rocket/blob/develop/inc/Engine/Optimization/DelayJS/HTML.php#L39) to just `lazysizes.min.js`?

[2021-07-16 15:54] #4160 closed, assigned to nobody

[2021-07-16 15:54] GeekPress commented on #4159
Hi @79ho3ein , please open a ticket support from here: https://wp-rocket.me/support/

[2021-07-16 15:54] #4159 closed, assigned to nobody

[2021-07-16 16:00] GeekPress commented on #4157
@luukskeur Thanks for the report. Can you please turn off CSS & JS minification to confirm the issue is fixed by turned off these options?

[2021-07-16 16:03] GeekPress commented on #4155
@Tabrisrp Should we move it to the Tree Shaker repo?

[2021-07-16 16:03] GeekPress commented on #4154
Closing, a duplicate of #3968

[2021-07-16 16:03] #4154 closed, assigned to nobody

[2021-07-16 16:06] GeekPress commented on #4152
@Tabrisrp Should we move it to Tree Shaker repo?

[2021-07-16 16:08] GeekPress commented on #4151
Jetpack Stats is automatically excluded from Delay JS since 3.9.0.5. As @javiergutierrezchamorro said, the defer attribute is added by Jetpack itself.

[2021-07-16 16:08] #4151 closed, assigned to nobody

[2021-07-16 16:13] GeekPress commented on #4146
@Tabrisrp Should we move it to Tree Shaker or CSS Parser?

[2021-07-16 16:13] webtrainingwheels commented on #4162
Can we do a regex?  Because Avada uses `lazysizes.js` which needs excluding. Or, should I make a separate issue for that?

[2021-07-16 16:19] GeekPress commented on #4137
@Tabrisrp Is it an issue that can be resolved from WP Rocket or on SaaS side?

[2021-07-16 16:21] GeekPress commented on #4162
A regex should be fine.

[2021-07-16 16:25] #4134 closed, assigned to nobody

[2021-07-16 16:26] juricazuanovic commented on #3968
Related: https://secure.helpscout.net/conversation/1568979859/278862/

[2021-07-16 16:30] GeekPress commented on #4153
It's a bit overkill after we will release this, isn't it? https://github.com/wp-media/wp-rocket/issues/4044

[2021-07-16 16:31] GeekPress commented on #3926
Closing it as we don't have news.

@ScottTravisHartley Feel free to ask to re-open it if you are still facing the problem.

[2021-07-16 16:31] #3926 closed, assigned to nobody

[2021-07-16 16:35] juricazuanovic commented on #4152
Related: https://secure.helpscout.net/conversation/1565559754/277840/

[2021-07-16 16:37] GeekPress commented on #4096
Decreasing the priority to low as we don't seem to have any tickets related to that problem yet.

[2021-07-16 17:03] GeekPress commented on #4147
@wpsumo Please share the JS code you are using to append classes on click.

Thanks

[2021-07-16 17:05] GeekPress commented on #4156
@mehedihasanziku Please share your full list of Delay JS exclusion.

If you are excluding only jQuery, why are you doing that?

[2021-07-16 18:12] mehedihasanziku commented on #4156
I am excluding only jquery, i am doing that, because i need to trigger manually elementor menu, as i want to delay all js of elementor, so if i do some custom jquery then i can make work elementor menu on first click, but now we can't make it work on first click with all in delay.

this is an needed feature for all sites no matter (elementor or something). as we need to toggle our menu on first cl

[2021-07-16 19:35] GeekPress opened #4169 "Exclude Perfmatter's Lazy Load from Delay JS"
**Describe the bug**
When Perfmatters lazy load for images is activated in addition to Delay JavaScript Execution, images will only start showing after user interaction with the page.

This applies also to all lazy-loaded images above the fold.

**To Reproduce**
Steps to reproduce the behavior:

- Enable Lazy-load for images in Perfmatters
- Enable Delay JS in WP Rocket
- Check a page with images

[2021-07-16 23:34] webtrainingwheels commented on #3617
likely related: https://secure.helpscout.net/conversation/1571793941/279766?folderId=377611

[2021-07-17 04:47] pdfrequest3 opened #4170 "Auto-exclusion for WooCommerce Extra Product Options when Delay JS is on"
**Is your feature request related to a problem? Please describe.**
This problem is related to #4077 Auto-exclusion for WooCommerce Product Gallery when Delay JS is on. But apart from Product Gallery Images, WooCommerce Extra Product Options is also loading way too lazy and only executes seconds after user interaction.

Here an example:
https://share.getcloudapp.com/nOuPyZ84

As you can see, it's n

[2021-07-17 07:51] GeekPress opened #4171 "Compatibility with Judge.me Reviews when default exclusion are used"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
We need to exclude an inline script from Judge.me Reviews to be delayed when the default exclusion list is used to avoid an issue.

**To Reproduce**
Steps to reprodu

[2021-07-17 07:58] GeekPress opened #4172 "Compatibility with Super Socializer when default exclusion are used"
**Before submitting an issue please check that you’ve completed the following steps:**
- [ ] Made sure you’re on the latest version
- [ ] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
We need to exclude some inline scripts from Super Socializer to be delayed when the default exclusion list is used to avoid an issue.

**To Reproduce**
Steps to repr

[2021-07-17 13:36] wpsumo commented on #4147
@GeekPress I will share code example once I'm in front of my computer. But didn't see any jQuery based toggle class to work. One compatibility out of the box is Oxygen builder's pro menu which toggle class on hover for desktop and slide out off canvas on mobile. You can test that part here: https://oxygenbuilder.com/try/

[2021-07-18 07:22] DahmaniAdame commented on #3142
Potential fix using the [FastClick library](https://github.com/ftlabs/fastclick).

Add the following to the header:

[code]

Exclude the following from Delay JavaScript Execution:
[code]

And test if the issue is fixed.

The fix worked on the following case: https://secure.helpscout.net/conversation/1567743453/278526

Requires further testing to confirm.

@Mai-Saad if you have a persistent double-

[2021-07-18 13:01] NataliaDrause commented on #4078
Related: https://secure.helpscout.net/conversation/1565064049/277702/

[2021-07-18 13:29] DahmaniAdame opened #4173 "Using Remove Unused CSS seems to increase I/O usage when generating and preloading"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
The increase seems to be even more when CPCSS is used.

This can be problematic on shared hosting services with low I/O cap.

Increasing the preload interval (fewer

[2021-07-19 10:07] scheibling commented on #3275
@elbauldelgeek did you ever find a solution to this? Stumbling upon the same issue now

[2021-07-19 10:35] elbauldelgeek commented on #3275
Hello @scheibling ,

No, I did . Finally I needed to disable all cache and Minify. I contacted with WP-Rocket or open this issue. and they don't provide me any kind of solution.

[2021-07-19 11:15] scheibling commented on #3275
Thanks for your answer, kind of in the same boat at the moment...
Although I've now found a solution which seems to work, we'll see when our cache expires tonight. There's a cookie which needs to be excluded from caching, wp_woocommerce_session, seems to have worked for me

[2021-07-19 14:02] filipesouza2 commented on #3504
Hello, just to update this up, the problem still persist in 3.9.0.5 version when using composer require:

[code]
Running ```composer install --no-dev --no-scripts ``` inside the wp-rocket in a test environment resolves the error, but there is something wrong with the composer package available.

[2021-07-19 16:15] iCaspar commented on #4162
Grooming Notes:

### Can Reproduce: ✅
Note that on Rocket 3.9.1: In addition to the OP, the conditions for reproducing this happen locally only when the default exclusions are **_not_** added in the DelayJS UI. (ie, pasting the default exclusions resolves the issue.)

### Root Cause:
The autoptimize path for `lazysizes.min.js` is not part of our auto-excluded compatibility list: https://github.com

[2021-07-19 17:38] webtrainingwheels commented on #4161
https://secure.helpscout.net/conversation/1575931995/281101?folderId=377611
Also related to the same Elementor Essential Addons file.

[2021-07-19 18:52] iCaspar commented on #4161
Gooming Notes:

### Can Reproduce:
No need to reproduce. The issue is visible in the code directly.

### Root Cause:
Per @engahmeds3ed remarks in OP refs: We are checking whether a given URL exists already in the DB and then adding it if not. Thus, if a version changes in the URL, regardless of whether the content of that URL is identical to any previously saved version, we create a new resource f

[2021-07-19 19:21] remyperona commented on #4165
### Reproduce the issue ✅
Validated on the user website.

### Identify the root cause ✅
This inline script can't be delayed

### Scope a solution ✅
Add `ewwwWebPInit` to the exclusion patterns, and add a fixture test to validate

### Estimate the effort ✅
Effort `[XS]`

[2021-07-19 19:44] iCaspar commented on #4136
## Grooming Notes:

### Can Reproduce: ✅
Can see the warning locally by just adding the `gtag(` item to the UI exclude list. Preg-match will not be able to match this, so it follows that the script will not be excluded.

### Root cause:
The `(` character is a regex special character and needs to be escaped in order to allow `preg_match()` to work for this pattern.

### Scope a Solution:
In https:/

[2021-07-19 20:03] remyperona commented on #4149
### Reproduce the issue ✅
Reproduced

### Identify the root cause ✅
The WPML script handling the redirection is delayed.

### Scope a solution ✅
Add `/dist/js/browser-redirect/app.js` to the exclusion patterns for delay JS. This is the path to the script in WPML.

Add the corresponding fixture test to validate.

### Estimate the effort ✅
Effort `[XS]`

[2021-07-19 21:28] engahmeds3ed commented on #4161
@iCaspar
What do you think if we checked firstly with the url and if not found, search with the hash, this will eliminate the error margin but may lead to some additional queries in our issue's case.

What do you think?

[2021-07-19 21:36] iCaspar commented on #4161
Indeed, We could run both checks in those cases.

[2021-07-20 00:54] pdfrequest3 opened #4177 "Auto-Apply Delay JS per Page/Post Type"
**Is your feature request related to a problem? Please describe.**
I have around 300 Product Pages and I want to go in to edit on each of the Product Pages one by one to disable Delay JS Checkbox, which is very tiresome.

![image](https://user-images.githubusercontent.com/72587161/126245834-5ddf45b4-4d8c-4f6f-a568-7a2863ec0f03.png)

**Describe the solution you'd like**
A checkbox should be selecte

[2021-07-20 02:34] jazir555 opened #4178 "Generate specific cpcss has stopped working entire"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
I cannot generate specific cpcss. I enter a post via edit, then try to generate a specific CPCSS. It just stopped working suddenly.

**To Reproduce**
Steps to reproduce the

[2021-07-20 07:40] gevcen commented on #4177
Are your products classified by product catégories? Why dont you add the slugs/path url of your categories in the Exclusion box? Isnt this an easy way to solve this issue?

[2021-07-20 07:55] jazir555 commented on #4178
Weird, it just started working. Must have been a server side issue.

[2021-07-20 07:59] vmanthos opened #4179 "Exclude Pixfuture files to prevent issues with their video ads"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ 3.9.0.5
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

A pop-up ad video wasn't displayed when the Delay JavaScript Execution feature was active.

Excluding the following resolved the issue:
[code]

**To Reproduce**

[2021-07-20 08:40] NataliaDrause commented on #4078
Related: https://secure.helpscout.net/conversation/1576528928/281233/

[2021-07-20 09:12] NataliaDrause opened #4180 "When OCD is enabled but CPCSS is not generated, Used CSS is added as a separate file and not as inline"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.9.0.5
- Used the search feature to ensure that the bug hasn’t been reported before -yes

**Describe the bug**
This GH created to monitor this behavior in case it can cause any potential issues.
This is an observation that hasn't produced any issues so far.

When _Remo

[2021-07-20 12:34] iCaspar commented on #4178
Indeed, this was a server issue.

[2021-07-20 12:34] #4178 closed, assigned to nobody

[2021-07-20 12:36] pdfrequest3 commented on #4177
@gevcen I think the path urls only refer to urls to the actual js files and not urls of the pages. I even tried adding "/product/" to the exclusion list -- doesn't work.

![image](https://user-images.githubusercontent.com/72587161/126324976-f936f76b-b926-497e-90fd-c8f0b8a3ac4c.png)

[2021-07-20 12:40] gevcen commented on #4177
@pdfrequest3
No. You can perfectly add a path URL (without necessarily mentionning the js file itself)
You must ensure that your products are using the /product/ in case you've assigned custom permalink paths.
Try adding the product categories slug there, and it should solve this.

[2021-07-20 12:56] pdfrequest3 commented on #4177
@gevcen My URLs are patterned this way:

https://site.com/product-category/2011/
https://site.com/product-category/2011/dodge-2011/
https://site.com/product-category/2011/dodge-2011/ram-1500-dodge-2011/
https://site.com/product/dodge-ram-tipm-part-04692319-rebuilt/

I add these URLs to the exclusion list, still won't work.

/product-category/2011/
/product-category/2011/dodge-2011/
/product-catego

[2021-07-20 15:16] luukskeur commented on #4157
Hi @piotrbak and @GeekPress thanks for your reply!

@GeekPress as I mentioned I have all WP-rocket settings disabled. The plugin is active and that's it. So the issue isn't fixed with deactivating all options sadly.

It's what @piotrbak is saying in #3617 . I can confirm that issue (also for js) and it is probably the same.
So I think this one can be closed and we'll follow up there. Maybe i'll re

[2021-07-20 15:16] #4157 closed, assigned to nobody

[2021-07-20 20:42] DahmaniAdame commented on #4177
@pdfrequest3 you can disable options programmatically using the helper plugin found on this page:

https://docs.wp-rocket.me/article/1561-programmatically-toggle-wp-rocket-options-under-specific-conditions

The default values of the helper plugin will disable Delay JavaScript Execution on product pages.

[2021-07-21 07:26] nsgoyat opened #4184 "New Adsense Code & Preloading Error in the browser console"
On July 19, 2021, Google has launched the New Adsense Ad Code ([Official Source](https://support.google.com/adsense/answer/10627874)) which includes `crossorigin="anonymous"` in the `<script>` tag.

![image](https://user-images.githubusercontent.com/36985369/126447968-63464119-493c-4f6d-a8df-485324d1c4cf.png)

I implemented the new codes from Adsense. I have delayed scripts turned on in WP Rocket.

[2021-07-21 07:29] Alex43515 commented on #4161
https://secure.helpscout.net/conversation/1568978084/278861/

[2021-07-21 08:13] NataliaDrause opened #4185 "RUCSS: Divi animation stops working"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.9.0.5
- Used the search feature to ensure that the bug hasn’t been reported before -yes

**Describe the bug**
Divi animation stops working correctly when _Remove Unused CSS_ option is enabled.

The issue is resolved when Divi stylesheet `/wp-content/themes/Divi/style.

[2021-07-21 08:56] WordPresseur opened #4186 "Commented out stylesheet link loaded into the <noscript> footer"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.9.0.5
- Used the search feature to ensure that the bug hasn’t been reported before - Yes

**Describe the bug**
When a commented out stylesheet is added into the source code like `!-- <link rel="preload" href="https://example.com/wp-content/dummy.css"> --> `, WP Rocket

[2021-07-21 12:07] NataliaDrause commented on #2409
Related: https://secure.helpscout.net/conversation/1577737400/281636/

[2021-07-21 12:41] alfonso100 commented on #3282
Another case here: https://secure.helpscout.net/conversation/1563208085/277015?folderId=2683093

[2021-07-21 18:18] nsgoyat commented on #4184
It seems we need a preload tag like this one:

`<link rel="preload" href="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" as="script" crossorigin="anonymous">`

[2021-07-21 18:47] camilamadronero-zz opened #4188 "Google font URL with the display parameter right after the domain is not processed by the enhanced Google Fonts Optimization"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - Yes, 3.9.1
- Used the search feature to ensure that the bug hasn’t been reported before - Yes

**Describe the bug**
A Google font URL with a display parameter right after the domain is not processed by the Google Fonts Optimization enhanced feature of 3.9.1. https://git

[2021-07-21 19:14] #4149 closed, assigned to remyperona

[2021-07-21 19:15] #4162 closed, assigned to remyperona

[2021-07-21 22:08] jazir555 commented on #4178
@iCaspar

I'm having this issue again. Is there something server side again that's causing it?

[2021-07-21 22:34] jazir555 commented on #4178
@Tabrisrp

Do you know why the server issues keep popping up?

[2021-07-21 23:11] pdfrequest3 commented on #4177
@DahmaniAdame , This one worked for me. But not everyone will be comfortable using this approach. Also, quite few already upvoted for this feature on the WP Rocket Feedback Page: https://feedback.wp-rocket.me/68

[2021-07-21 23:28] jazir555 opened #4189 "Wp-rocket server issues for critical path css generation"
Same issue from 2 days ago all of a sudden

Before submitting an issue please check that you’ve completed the following steps:

Made sure you’re on the latest version
Used the search feature to ensure that the bug hasn’t been reported before
Describe the bug
I cannot generate specific cpcss. I enter a post via edit, then try to generate a specific CPCSS. It just stopped working suddenly.

To Repro

[2021-07-22 01:14] webtrainingwheels opened #4190 "Compatibility with TranslatePress"
When using TranslatePress and WP Rocket we don't purge the cache for additional languages when updating content.

The permalink structure in this case is like this:
Default language: example.com
Additional language: example.com/de/

The customer in this case noted it specifically related to WooCommerce products, but the issue is the same for non-Woo content as well since I guess WP Rocket won't be

[2021-07-22 01:16] webtrainingwheels commented on #4190
I guess this would be fixed at the same time: https://github.com/wp-media/wp-rocket/issues/3760

[2021-07-22 05:33] NataliaDrause opened #4191 "RUCSS: CSS classes started with a number not added to the Used CSS"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.9.0.5
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
When a `class` starts from a number, it has to be declared with an [Escaping syntax](https://www.w3.org/TR/css-syntax-3/#escaping) in CSS. The escaped class

[2021-07-22 11:50] #4165 closed, assigned to remyperona

[2021-07-22 12:01] GeekPress commented on #3947
@vmanthos  @webtrainingwheels Do we have a doc about that particular problem we could redirect the user in the notice?

By the way, do you have any ideas about the text in this notice?

[2021-07-22 13:19] remyperona commented on #2974
Reopening as the change is creating unwanted side effects, described in PR #4192

[2021-07-22 13:33] vlaskiz commented on #4121
Just found out about this in W3 validator tool, glad the ticket is open, but is anything being done regarding this?

[2021-07-22 14:07] wpsumo commented on #4058
It would be easier if we had a debugging function which way a URL cache was generated and found. It seems to work normally, the issue seems more be related to that it stops and due to timeouts and too much load on the server due to the crawls via sitemap. As most sitemaps are huge and one big sitemap for all pages. If WPR could crawl it in more batches in a background process, it would be better.

[2021-07-22 14:10] wpsumo commented on #4147
@GeekPress Example here, which work with the same expressions.

`$(document).ready(function(){
  $("button").click(function(){
    $("p").toggleClass("main");
  });
});`
https://www.w3schools.com/jquery/tryit.asp?filename=tryjquery_html_toggleclass

[2021-07-22 16:30] juricazuanovic commented on #3680
Related ticket: https://secure.helpscout.net/conversation/1575885646/281080?folderId=3572910

[2021-07-22 17:06] mifrero commented on #3142
Related ticket: https://secure.helpscout.net/conversation/1575244886/280804/
The fix provided by @DahmaniAdame worked on this case, but the website header disappears.

**Update:** The fix provided by @DahmaniAdame works fine, adding the script to the <body> that way solved the problem with the header, however this fix negatively impacts the load time, more info in the above ticket.

@Mai-Saad If y

[2021-07-22 17:42] ghost opened #4194 "LazyLoad Module Causes External jQuery Render-Blocking Issue"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version: **3.9.0.5**
- Used the search feature to ensure that the bug hasn’t been reported before: **Yep, nothing found.**

**Describe the Bug:**

When WPR's LazyLoad feature is activated, it causes jQuery (when loaded externally) to be render-blocking. In our case, when using ht

[2021-07-22 19:08] stefanmm commented on #4077
This change results in high CLS score on mobile (~0.172). Is there a way to manually include again that excluded scripts?
`/woocommerce/assets/js/zoom/jquery.zoom.min.js
/woocommerce/assets/js/photoswipe/
/woocommerce/assets/js/flexslider/jquery.flexslider.min.js
/woocommerce/assets/js/frontend/single-product.min.js`

Web Vitals score on mobile dropped from 65 to 50 after 3.9.1 version.

Edit: aft

[2021-07-22 20:44] nosilver4u commented on #4165
Hi folks, just wanted to add some additional clarification to the recent changes in 6.2.0. The script load_webp.js has been split into two pieces:
load-webp.js (renamed as noted in #4174) with source at
https://github.com/nosilver4u/ewww-image-optimizer/blob/master/includes/load-webp.js
https://github.com/nosilver4u/ewww-image-optimizer/blob/master/includes/load-webp.min.js

check-webp.js located

[2021-07-23 15:23] ghost commented on #4194
**Update:**

Above occurs when the noted asset, CDNJS jQuery, is preloaded in the header and WPR's JS modules are activated.

We just learned, however, preloading the asset is not recommended. Instead, we prefetched the asset. Issue fixed, but recommend Team WP Rocket investigate above conflict.

Cheers!

[2021-07-23 15:23] #4194 closed, assigned to nobody

[2021-07-23 19:52] GeekPress commented on #4189
Closing this issue as it was related to our CPCSS servers.

[2021-07-23 19:52] #4189 closed, assigned to nobody

[2021-07-23 19:54] GeekPress commented on #4188
@camilamadronero Does this issue is related to 3.9.1?

[2021-07-23 20:16] GeekPress commented on #4170
@pdfrequest3 Hi 🤚

On my desktop, the extra product options aren't above the fold.

We did the enhancement for the product gallery as we are sure at 100% the product image above the bold whatever the screen resolution.

It doesn't seem to be the case for the extra product options.

If you don't want to delay them, add these line into the Delay JS exclusion field:

[code]

[2021-07-23 20:16] #4170 closed, assigned to nobody

[2021-07-23 20:19] camilamadronero-zz commented on #4188
@GeekPress Yes, 3.9.1

[2021-07-23 20:19] GeekPress commented on #4188
@camilamadronero Thanks for the confirmation.

@wp-media/php A ping for your information :)

[2021-07-24 06:53] osvaldo0123 commented on #4160
observing the new updates and seeing how they applied the optimization I can say that I improved but it could have been better if they had observed this way of applying

What do I notice? because this method would reduce requests and the font would not load as much paint with larger content on the page

[2021-07-24 15:34] javiergutierrezchamorro commented on #4078
Don't have access to helpscout.net, but can confirm that disabling delayed Javascript does not help neither.

[2021-07-24 16:23] ghost commented on #4161
All:

Thanks for addressing this. Our database table "wp_wpr_rucss_resources" (size) is HUGE. Taking up approximately 90% of our whole DB size.

Looking forward to your fix.

Cheers!

[2021-07-24 16:40] girlie commented on #2852
Related ticket: https://secure.helpscout.net/conversation/1573174507/280207/

[2021-07-24 17:00] ghost opened #4196 "RUCSS Table Not Regenerating After Adding New CSS Safelist Item (After Initial RUCSS Run)"
**Pre-Submittal Check:**

- Made sure you’re on the latest version: 3.9.1.1
- Used the search feature to ensure that the bug hasn’t been reported before: Yes

**Describe the Bug:**

When we add a new item to the RUCSS CSS safelist field (after initial RUCSS execution), it appears the affected RUCSS table is not being regenerated. That is, there is no visual indicator (e.g., green progress bar) con

[2021-07-24 19:06] GeekPress commented on #4196
This is normal behavior. We don't need to re-parse your files and to re-do the pre-warmup process.

[2021-07-24 19:06] #4196 closed, assigned to nobody

[2021-07-24 19:32] ghost opened #4197 "Re-Opening GitHub Issue #4196 (RUCCS CSS Safelist Re-Parsing)"
**Reference:** https://github.com/wp-media/wp-rocket/issues/4196

Reference issue was closed by WP Rocket without giving originator an opportunity to comment.

**Comment:**

If CSS safelist item re-parsing is not required, then please update your KB to explain better what happens when a new CSS safelist item is added after initial RUCSS run or execution.

**Additionally (Questions):**

(1) Does th

[2021-07-24 19:42] GeekPress commented on #4197
@Jetxpert  You aren't using Github for the good reason. This is NOT where you are getting support.

Please ask all these questions by opening a ticket from here: https://wp-rocket.me./support/

[2021-07-24 19:42] #4197 closed, assigned to nobody

[2021-07-25 09:59] NataliaDrause opened #4198 "RUCSS: add classes for compatibility with the Xstore theme"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.9.0.5
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
Missing classes in the used css cause broken layout when the _Remove Unused CSS_ option is enabled.
The customer in [this ticket](https://secure.helpscout.ne

[2021-07-25 11:42] NataliaDrause commented on #4032
Related: https://secure.helpscout.net/conversation/1578831054/281990?folderId=3326173

[2021-07-26 07:49] NataliaDrause commented on #4184
Author's ticket: https://secure.helpscout.net/conversation/1578174914/281789?folderId=3864740

[2021-07-26 08:48] nsgoyat commented on #4184
The error isn't there if we exclude `adsbygoogle` from "Delay Javascript Execution". The error occurs only when we are delaying the Google Ads.

[2021-07-26 10:20] Mai-Saad commented on #4180
Note:
- The same case while working local, CPCSS not generated while used CSS is in a file
- Until CPCSS is generated, used CSS will be in the file as well (not sure if we will change this)

[2021-07-26 10:29] piotrbak commented on #4185
What's happening step by step:
- In the HTML we have a section that has a `et_animated` class
- JavaScript removes the above class and adds: `et_is_animating` and specific animation class, for example: `fade`
- At the end it removes those two classes too and add this one: `et_had_animation`

List of all animations':classes that we should preserve:
[code]

Two additional classes to preserve:
[code]

[2021-07-26 11:37] Mai-Saad commented on #4185
Can see it for the services section here https://new.rocketlabsqa.ovh/4185template/.

[2021-07-26 12:12] engahmeds3ed commented on #4122
@wp-media/php I think with this issue: https://github.com/wp-media/wp-rocket/issues/4072

We don't send the content to the options table (background process batch data) as we call the content only inside the background process task.

Also, what do you think about the new approach of encoding/decoding content when saving/updating and retrieving from the DB ( plz check this PR: https://github.com/wp

[2021-07-26 12:15] Mai-Saad commented on #4186
Can reproduce it here https://new.rocketlabsqa.ovh/4186-template/ when OCD is enabled. (UI changed and console error was there if disable js is checked on the browser)

[2021-07-26 12:36] NataliaDrause commented on #4147
This seems to be related: https://secure.helpscout.net/conversation/1573525768/280321/

The site is missing styling even for <body> and other top level elements.

Safelisting all the Oxygen stylesheets still didn't resolve the issue.

Notes and screenshots are in the note of the ticket.

[2021-07-26 12:42] Mai-Saad commented on #4188
Can reproduce it here https://new.rocketlabsqa.ovh/gfv1v2/ (after updating test template)

Note:
- Even with RUCSS disabled and OCD enabled => those URLs with display attribute right after the domain aren't processed

[2021-07-26 13:05] wpsumo commented on #4147
Safelisting all Oxygen stylesheets would defeat the point of the remove unused css. So that would not be an ideal solution to the problem.

[2021-07-26 13:40] Mai-Saad commented on #4198
- Point 1 reproducible here https://new.rocketlabsqa.ovh/4198-template1/, may be related to https://github.com/wp-media/tree-shaker/issues/163
- Point 3 is reproducible here https://new.rocketlabsqa.ovh/4198-template2/

[2021-07-26 14:31] remyperona commented on #4122
Indeed with this change added in 3.9.1 this issue should not happen anymore

[2021-07-26 15:32] Mai-Saad commented on #4191
Reproducible here https://new.rocketlabsqa.ovh/4191-template/

[2021-07-26 16:08] remyperona commented on #3504
Do you correctly have the composer autoload file loaded in your setup?

[2021-07-26 16:11] remyperona commented on #4145
@gitgudcameron Was the CSS value completely removed in the used CSS generated? Could  you provide sample of the HTML and CSS where you had the issue?

[2021-07-26 16:21] remyperona commented on #4146
Preserving keyframes is a safety measure, because keyframes are declaring animations to be used inside other CSS properties.

This is different from what we are doing, where we are matching CSS declaration against CSS selectors.

It does increases the resulting CSS size a bit, but we make sure the animation declaration is there if needed.

[2021-07-26 16:24] remyperona commented on #4166
Clearing the used CSS after doing the change will also clear the cache, so the end result is the same. The new inline CSS will be processed immediately on the next page cache.

[2021-07-26 16:45] Mad-Virus commented on #4143
There are changes on that since the last patch. invisibility is gone but still stays unformated.

Original or logged in as Admin
![Zwischenablage02](https://user-images.githubusercontent.com/11649121/127026861-b925a83a-d843-41a9-85c8-6db2a7be4488.png)

Remove unused css activated and logged out of admin.
![Zwischenablage01](https://user-images.githubusercontent.com/11649121/127027045-432d875d-e09e

[2021-07-26 16:48] iCaspar opened #4199 "Resource Table treats URLs as 1:1 relationship with content, but actual URL-content relationship is many-to-one"
**Describe the bug**

Currently, resources we track in the database `rucss_resources` table assume that any given URL points to a unique resource content. In fact, multiple URLs can refer to the same resource. For example,

`https://example.org/file.css?ver=1` can refer to the same content as `https://example.org/file.css?ver=2`.

As happens in the case of some themes/plugins that change version b

[2021-07-26 17:06] pgirzalsky opened #4200 "Strange bug with RUCSS only on category main pages"
When activating the "remove unused CSS" feature, I get a strange bug on my website.
All urls work fine and are displayed correctly, except for the main pages of the WooCommerce shop categories.

The subcategories are displayed correctly as you can see here:
https://www-staging.lendis.io/bueroausstattung/bueroeinrichtung/telefonboxen/

But the main categories are somehow broken:
https://www-staging

[2021-07-27 09:06] NataliaDrause commented on #3938
Related: https://secure.helpscout.net/conversation/1555713436/274983?folderId=3864740

[2021-07-27 09:48] jazir555 commented on #4147
You mean defeat the point right wpsumo?

[2021-07-27 11:43] DahmaniAdame opened #4201 "Regenerate CPCSS for specific CPT or Taxonomies without having to regenerate CPCSS for everything"
**Is your feature request related to a problem? Please describe.**

When there are a lot of items to generate CPCSS for, some items might fail randomly on the generation process and show the following error:

Potential causes could be rate-limiting on firewalls or server overloads when multiple uncached pages are checked on a short interval.

The main issue is that when re-generating the CPCSS, di

[2021-07-27 11:54] HannesVo commented on #2441
I do become the warning reoccuring.
Version 3.9.0.5 on an IIS Based Azure App Service.
It seems to be reproducable.
in some cases the cache folder
/site/wwwroot/wp-content/cache/wp-rocket/{fulldomainname} is deleted/notexistant.
if the folder does not exists i do become the error on each page which is to be preloaded.
if i recreate the folder manually the cache is build without these error.
so cur

[2021-07-27 13:13] vmanthos commented on #2440
Related ticket: https://secure.helpscout.net/conversation/1583373050/283180?folderId=2135277

This is on Azure/IIS.

[2021-07-27 15:23] juricazuanovic commented on #3938
Related: https://secure.helpscout.net/conversation/1580198490/282368/

[2021-07-27 17:05] straightvisions-matthias-bathke commented on #2952
This should be a nobrainer, please enable lazy loading for video-elements, as these are used in WP Block Editor.

[2021-07-27 20:55] remyperona commented on #4074
### Scope a solution ✅
#### Engine\Admin\Settings\Page
- Add new filter `rocket_delay_js_settings_field` to filter content of the delay JS setting array

### ThirdParty\Plugins\Optimization\WPMeteor
- Inject `Options_Data` dependency in the constructor
- Events:
- `rocket_delay_js_settings_field` => `maybe_disable_delay_js_field`
- `activate_wp-meteor/wp-meteor.php` => `disable_delay_js`

In the `

[2021-07-27 21:49] webtrainingwheels commented on #3976
https://secure.helpscout.net/conversation/1580469255/282440?folderId=377611

[2021-07-28 04:31] sarangsss29 opened #4203 "Option to Enable/Disable WP-Rocket Caching for Managed hosting like DreamPress"
WP-Rocket automatically disables caching feature when it runs on DreamPress. It comes under the Hosting Compatibility feature (https://docs.wp-rocket.me/article/670-hosting-compatibility).
I can understand this is because DreamPress has Server Side Caching (Varnish caching). So it makes sense that WP-Rocket has its caching turned off. It works great if not using Cloudflare Cache Everything Page Ru

[2021-07-28 05:52] wpsumo commented on #4146
@Tabrisrp Make sense maybe a "blacklist" feature would be useful where the user can insert selectors including keyframes to be removed?

[2021-07-28 05:53] wpsumo commented on #4147
@jazir5 Yes sorry for the typo, corrected. Thanks.

[2021-07-28 09:59] straightvisions-matthias-bathke commented on #2952
Hotfix to enable lazy loading for HTML5 video tag via wp-rocket:

[code]

[2021-07-28 10:06] ZiXia1 opened #4204 "Fatal error: Uncaught Error: Class 'WP_Rocket\Plugin' not found in"
Why I keep reporting errors when installing WP Rocket
Wordpress: 5.8
PHP: 7.4

Fatal error: Uncaught Error: Class 'WP_Rocket\Plugin' not found in /www/wwwroot/www.cdnmc.cn/wp-content/plugins/wp-rocket-3.9.1.1/inc/main.php:44 Stack trace: #0 /www/wwwroot/www.cdnmc.cn/wp-includes/class-wp-hook.php(303): rocket_init() #1 /www/wwwroot/www.cdnmc.cn/wp-includes/class-wp-hook.php(327): WP_Hook->apply_fil

[2021-07-28 10:06] vmanthos commented on #3947
We can redirect them here:
https://docs.wp-rocket.me/article/1529-remove-unused-css#basic-requirements
where we mention they need to allowlist the RUCSS IP.

The following could work:

If you prefer the message to be in one line maybe this will do:

@webtrainingwheels may have a way to make this fancier/shorter.

[2021-07-28 10:42] #4204 closed, assigned to nobody

[2021-07-28 13:57] kevinjavitz commented on #1524
Updates please? Shouldn't this just be a simple selector in the WP Rocket settings which compression to use?

[2021-07-29 05:08] vmanthos commented on #4078
LIkely related: https://secure.helpscout.net/conversation/1560969558/276395?folderId=2135277

[2021-07-29 05:42] javiergutierrezchamorro commented on #4078
Since the issue is still opened since more than a month ago, indeed since the 3.9.0 release, is there any possible workarround?

[2021-07-29 07:19] nicomollet commented on #4148
Any news about this?

This issue https://github.com/wp-media/tree-shaker/issues/119 is not public, so we don't know the state of it.

[2021-07-29 08:21] flosteve commented on #4105
The same here. That would be nice. Many thanks

[2021-07-29 11:34] vmanthos opened #4206 "htaccess - Add expiration rules for the avif image format"
**Is your feature request related to a problem? Please describe.**

Currently, we don't add expiration rules for the `image/avif` MIME type:
https://github.com/wp-media/wp-rocket/blob/f3d047fe745660805b96bcb9e0e927527a664a9d/inc/functions/htaccess.php#L455-L463

**Describe the solution you'd like**

Add rules for `image/avif`:
[code]

**Additional context**

I saw the recommendation for this MIME

[2021-07-29 11:55] NataliaDrause opened #4207 "PHP Warning: Attempt to read property "id" on bool in /inc/Engine/Optimization/RUCSS/Database/Queries/ResourcesQuery.php on line 144"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.9.1.1.
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
The following PHP error appear when Remove Unused CSS option is enabled:
[code]

**To Reproduce**
Reproduced on the customer's site where Mod PageSpeed was

[2021-07-29 13:06] nicomollet commented on #4078
I am on WP Rocket 3.9.1.1.

Setup: CSS Minify + Optimize Delivery + Remove Unused + Delay JS + Defer JS

I am seing a FOUC "blue links" on https://www.saintmalogolf.com/ even with my critical path CSS having colored links `a{color:#b19263;text-decoration:none}`.
This means my critical CSS is not loaded before the page is loaded, I don't get the purpose of critical path if it is not supposed to rem

[2021-07-29 14:31] wojsmol commented on #3982
Hi
I have similar need but for deferent reason.  On same setups CPCSS is not regenerated after cache flushed because of expiration.

[2021-07-29 14:38] WordPresseur opened #4208 "Include new rewrite rules in htaccess for query string caching"
**Is your feature request related to a problem? Please describe.**
When WP Rocket uses query string caching, the .htaccess rewrite rules do not change. This means that every request for a cached query string still has to trigger PHP (advanced-cache.php) to find the file.

**Describe the solution you'd like**
Include new rewrite rules that will work with query string caching in htaccess

Ticket: ht

[2021-07-29 15:14] GeekPress commented on #4078
For everybody facing this problem, please note that you don't need to have Optimize CSS Delivery and Remove Unused CSS if you update WP Rocket to 3.9.1.1 (if it's available on your account).

This will result in a better LCP & CLS and no FOUC issue anymore.

I'm closing it as we won't recommend anymore using both options at the same time.

[2021-07-29 15:14] #4078 closed, assigned to nobody

[2021-07-29 15:22] GeekPress commented on #4208
@WordPresseur It's not a big deal to load the cached page from advanced-cached.php and the impact on the loading time should be ridiculous.

@Tabrisrp What do you think?

[2021-07-29 15:23] dotrahat opened #4209 "Do not remove Elementor Popup Styles when enabling Remove Unused CSS"
**Before submitting an issue please check that you’ve completed the following steps:**
✅ - Made sure you’re on the latest version
✅ - Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Popups are not initially visible when page is opened. These only appear when triggered through a condition such as a timer, click on a button or via onclick function. El

[2021-07-29 15:27] GeekPress commented on #4200
@pgirzalsky Hi, please open ticket support from here: https://wp-rocket.me/support/

One of our support engineer will have a look to your problem.

[2021-07-29 15:27] #4200 closed, assigned to nobody

[2021-07-29 15:28] GeekPress commented on #4198
@NataliaDrause For 2 and 3, is there a JS file that is adding all these missing classes?

[2021-07-29 15:30] nicomollet commented on #4078
I followed @GeekPress advice and I now have a better pagespeed score + no more FOUC!

[2021-07-29 18:24] javiergutierrezchamorro commented on #4078
Are you sure about that? Just added Jetpack Boost which implements a kind of Optimized CSS delivery and enabled RUCSS in Rocket. Having both got slightly better results that having only RUCSS.

[2021-07-29 19:10] GeekPress opened #4210 "Incorrect relative URLs in Used CSS"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.9.1.1
- Used the search feature to ensure that the bug hasn’t been reported before - Yes

**Describe the bug**
The Used CSS seems to not rewrite all relative URLs.

Here the default CSS before to be processed by RUCCS:

`.wpex-site-overlay.wpex-active{cursor:url(asset

[2021-07-30 06:50] mehedihasanziku commented on #4166
Yes, it does.

but problem happens when some dynamic class changed every page load, like (tagdiv composer), so after a period when preload cache/clear(cache lifespan) happened html updated but rucss not(as it will clear after 30days), that time user will see broken style till not press "Clear Used CSS"

[2021-07-30 06:57] mehedihasanziku commented on #4209
Yes, it's an reproduceable issues with all popup/lightbox.

WProcket not have an solution for it unless doing it manually. so better approach will be if they support wildcard to rucss safe list or add such wildcard to their own safelist.

[2021-07-30 07:05] mehedihasanziku commented on #4198
Finding lots of class now an headache.

hoping that they will introduce wildcard support soon to safelist, then things will be easy like

`.ui-slider*`
`.swiper*`

[2021-07-30 08:35] Mai-Saad opened #4212 "Cache clear notice shall be dismissed after clear the used CSS"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version -> 3.9.1.1
- Used the search feature to ensure that the bug hasn’t been reported before -> yes

**Describe the bug**
A clear and concise description of what the bug is.
Clear cache notice shall be removed if we clear used CSS as it already clears the cache

**To Reproduce

[2021-07-30 09:57] Mai-Saad opened #4213 "RUCSS progress bar isnot displayed when switch theme (odd order)"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.9.1.1
- Used the search feature to ensure that the bug hasn’t been reported before => yes

**Describe the bug**
A clear and concise description of what the bug is.
Progress bar of RUCSS is not displayed if switched the theme while having values in safelist

**To Repr

[2021-07-30 12:55] #3690 closed, assigned to mostafa-hisham

[2021-07-30 15:51] GeekPress commented on #3947
@vmanthos Thanks a lot for the text. We can use the first one which will be easier to read.

[2021-07-30 21:02] webtrainingwheels commented on #1524
https://secure.helpscout.net/conversation/1584477724/283404?folderId=377611

[2021-07-31 09:51] DahmaniAdame opened #4214 "Afterpay external script breaks if minified"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When the following script is minified (and hosted) - `https://js.afterpay.com/afterpay-1.x.js` - it produces the following error:

![image](https://user-images.githu

[2021-07-31 12:57] DahmaniAdame opened #4215 "Add preloaded fonts before CPCSS and RUCSS to avoid FOUTs"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
In some cases, the font declaration comes a bit late in the style. As a result, CSS generated by CPCSS or RUCSS will start painting the page causing a FOUT.

The FOU

[2021-07-31 16:43] mehedihasanziku commented on #4214
Please add this one also

Plugin: https://wordpress.org/plugins/enable-accessibility/
same for `cdn.enable.co.il/licenses/enable-*/init.js'

Error: nginx error returned if minified

solved also by adding `cdn.enable.co.il` on exclude list.

[2021-07-31 19:00] girlie commented on #3813
Related ticket: https://secure.helpscout.net/conversation/1580923906/282536/

[2021-08-01 08:58] NataliaDrause commented on #4198
@GeekPress

I could not find them referenced in JS files. Only in the theme's CSS.

[2021-08-01 09:33] oliveandlake opened #4216 "WP Rocket Delay JS breaks Elementor sticky header when there is a top bar above it."
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Sticky headers work fine without a top bar present. But don't work when there is a top bar present.

**To Reproduce**
Steps to reproduce the behavior:
Create a sticky header

[2021-08-01 14:50] girlie commented on #2366
Related ticket: https://secure.helpscout.net/conversation/1585840300/283756/

[2021-08-02 05:38] vmanthos opened #4217 "Delay JavaScript Execution - Iubenda JS error with default exclusions"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅3.9.1.1
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When the default exclusions are in place:
[code]
a JavaScript error pops up when Iubenda's inline JavaScript is delayed:

![](https://i.vgy.me/b2vweK.jpg)

This

[2021-08-02 06:05] adinaWP opened #4218 "Adding .wpsc.site to our list of supported localhosts"
**Is your feature request related to a problem? Please describe.**
WP stagecoach has another format for their staging websites: **.wpsc.site** . We already have **.wpstagecoach.com** as a supported localhost that doesn't count towards the license, but we should add **.wpsc.site** as well, to allow customers to install WP Rocket on their staging sites without having this counted towards their licen

[2021-08-02 07:44] mehedihasanziku commented on #4077
Indeed Good Feature, But can you guys please guard this with wordpress filter, so people may not confuse that delay js not working and excluded for valid reason.

with filter, advance people can work with it, please reconsider and guard this with filter so who not want exclude them and stay with it. or a possible approach will be option in wprocket safemode with woocommerce exclusion.

Thanks

[2021-08-02 15:17] viobru commented on #3142
Related ticket: https://secure.helpscout.net/conversation/1586259868/283864?folderId=3051575

[2021-08-02 16:34] juricazuanovic commented on #3142
Related ticket: https://secure.helpscout.net/conversation/1578504399/281872/

[2021-08-02 19:23] #4074 closed, assigned to remyperona

[2021-08-03 03:53] sarangsss29 commented on #4203
Any update on this?

[2021-08-03 04:56] vmanthos opened #4219 "Combine Google fonts - Allow to filter the display attribute"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ 3.9.1.1
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

We used to allow the filtering of the `display` attribute when combining Google fonts using the `rocket_combined_google_fonts_display` filter in the `get_font_d

[2021-08-03 07:20] NataliaDrause opened #4220 "RUCSS: add classes for compatibility with Cookie Notice & Compliance for GDPR / CCPA plugin"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.9.0.5
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
Cookie Notice banner is not clickable when _Remove Unused CSS_ option is enabled.

Safelisting the following selectors resolve the issue:
[code]

**Steps to

[2021-08-03 07:21] NataliaDrause commented on #4041
Related: https://secure.helpscout.net/conversation/1580606237/282471/

[2021-08-03 07:31] NataliaDrause opened #4221 "RUCSS: add classes for compatibility with Avia image lightbox"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.9.0.5
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
Avia image lightbox doesn't display the "zoom" icon when hovered over an image.
When image is clicked, the lightbox appears, but it is missing the image and

[2021-08-03 07:49] GeekPress commented on #4221
All classes started by .mfp are related to Magnific popup: https://github.com/wp-media/tree-shaker/issues/164

[2021-08-03 10:05] mostafa-hisham commented on #4126
**Reproduce the problem**
No, but i can see in the screenshots that  scan resources didn't fetch the resources

**Identify the root cause**
think we need to check if the pre warmup process was forced to stopped (stopped after 1houer)
which means that it failed
then shows a message that it failed

**Scope a solution**
1- if 1 hour is passed we need to add a flag that it was force_stop in checker.ph

[2021-08-03 12:02] piotrbak opened #4222 "The progress bar sometimes gets stuck until the page refresh"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When enabling the RUCSS, the progress bar sometimes gets stuck at 100%. After the refresh it's being replaced by the confirmation that RUCSS is enabled.

The numbers of reso

[2021-08-03 12:43] Mai-Saad commented on #4122
On the current branch, still sometimes stuck fetching the last file after fresh install on https://mega.wp-rocket.me/divi so recommend anyone else test it on divi and try:
1- Enable RUCSS after fresh install
2- Enable RUCSS + OCD after fresh install

[2021-08-03 12:50] NataliaDrause opened #4223 "RUCSS: add classes for compatibility with WP Bakery masonry media grid"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.9.0.5
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
Masonry media grid is breaking when _Remove Unused CSS_ option is enabled.

Issue is resolved with the following selectors in the Safelist:
[code]

**To Repr

[2021-08-03 14:14] remyperona commented on #4126
@wp-media/productrocket During the alpha, with the first iteration of the pre-warmup, we were showing error messages and files that were not warmed-up. We decided together with the product & support team to not display this information, and just move forward and enable RUCSS after 1 hour.

The information is still available when enabling the `WP_ROCKET_RUCSS_DEBUG` constant too.

This issue is ask

[2021-08-03 17:02] GeekPress commented on #4126
@vmanthos Could you explain to which kind of « relevant notification » you are referring to with an example of what you would like to see?

[2021-08-03 18:27] girlie commented on #4121
Related ticket: https://secure.helpscout.net/conversation/1587743174/284214/

[2021-08-04 01:25] webtrainingwheels opened #4224 "3.9.1.1 - Delay JS exclusions for WooCommerce cause issues on Avada"
**Describe the bug**
On a site using Avada, updating from 3.9.0.5  → 3.9.1.1 breaks the layout of the WooCommerce product pages due to the changes here: https://github.com/wp-media/wp-rocket/issues/4077

When using 3.9.0.5 the customer had no exclusions for Delay JS and there were no issues (images displayed correctly on interaction) and no console errors.

After updating to 3.9.1.1 the images are

[2021-08-04 09:37] GeekPress commented on #4078
Yes. But as you may know in performance, there is no rule that can be affirmed working the same way for 100% of websites.

[2021-08-04 09:57] javiergutierrezchamorro commented on #4078
Probably they will be some more users in same situation. So I guess would be nice if RUCSS could be work together with CPCSS avoiding them the need of third party plugins.

[2021-08-04 10:18] DahmaniAdame commented on #4042
Related - https://secure.helpscout.net/conversation/1591215475/285216/

[2021-08-04 11:16] DahmaniAdame commented on #4072
The problem persists after updating to 3.9.1.1 - https://secure.helpscout.net/conversation/1584697558/283470/

[2021-08-04 18:27] zachnicodemous commented on #3544
I am having this same issue on one of my client sites; the Elementor JS files you mentioned are not being combined by WP-Rocket. Did you ever find a fix for this?

[2021-08-05 03:27] nsgoyat commented on #4184
Hey Natalia,
Any update on this?

[2021-08-05 05:51] vmanthos opened #4225 "Microsoft IIS - Azure - cache folders aren't recreated after deletion of the root cache folder"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.9.1.1`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

On a Microsoft server (IIS) on Azure, the cache path isn't recreated once the root cache folder, e.g. `/cache/wp-rocket/www.example.com` is deleted. This fail

[2021-08-05 08:36] NataliaDrause commented on #4209
Related ticket: https://secure.helpscout.net/conversation/1583111685/283071/

The video light box popup doesn't work when _Remove Unused CSS_ is enabled.
The following selectors added to the Safelist resolved the issue:
[code]
More details in the note: https://secure.helpscout.net/conversation/1583111685/283071/#thread-4637141095

[2021-08-05 08:41] mehedihasanziku commented on #4209
@NataliaDrause yes, but it will not fix all styling issues, because after js loaded or popup triggered, it's wrap within this id `"#elementor-popup-modal-*"` and if not exist it breaks. now here `*`(id) is unique for every popup.

[2021-08-05 09:15] jmslbam opened #4226 "Disable auto cache purging when WP_IMPORTING is defined"
**Is your feature request related to a problem? Please describe.**
When running a custom import via cronjob on a production site with WP Rocket enabled, the cache clearing (`rocket_clean_domain`) make the import mega slow.

**Describe the solution you'd like**
Instead of remove all actions like here, https://github.com/wp-media/wp-rocket-helpers/blob/master/cache/wp-rocket-no-cache-auto-purge/wp-r

[2021-08-05 10:20] vmanthos opened #4227 "JavaScript minification - Exclude enable.co.il JS to prevent JS error"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅`3.9.1.1`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

Saving locally the following external JavaScript file:
`cdn.enable.co.il/licenses/enable-###############-####-#####/init.js`
 causes a console error:
![https:/

[2021-08-05 11:35] mehedihasanziku opened #4228 "RUCSS - RGBA/RGB CSS Function Broken"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**

[code]

[code]

In Case 1: It's removed only shadow part [with safelist selector]
In Case 2: It's preserved the shadow [with safelist selector]

in both cases outpu

[2021-08-05 12:23] DahmaniAdame commented on #4072
CPU overload is still there after 3.9.1+ update - https://secure.helpscout.net/conversation/1584697558/283470
Hosting service O2switch - shared plan.

[2021-08-05 12:50] aviranbiz commented on #4216
+1

[2021-08-05 12:55] NataliaDrause commented on #4072
Related ticket: https://secure.helpscout.net/conversation/1578693639/281920/
Issue is still there with 3.9.1.1

[2021-08-05 13:41] NataliaDrause commented on #4072
One more related: https://secure.helpscout.net/conversation/1564832314/277620/

[2021-08-05 15:34] mifrero commented on #4072
Another one with 3.9.1.1 https://secure.helpscout.net/conversation/1587944301/284238/

[2021-08-05 16:10] GeekPress opened #4229 "Automatically exclude jQuery from being deferred when Revolution Slider is activated"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.9.1.1
- Used the search feature to ensure that the bug hasn’t been reported before - Yes

**Describe the bug**
Since the last Revolution Slider update (6.5.5), our Defer JS option isn't compatible anymore. We need to exclude jQuery and jQuery migrate to be compatible.

[2021-08-06 04:57] vmanthos commented on #4166
I noticed the same when the `id` of an element changes dynamically.

This was on a Flatsome website where ids like `banner-959469755` are used:
![](https://i.vgy.me/nTztk1.jpg)

The CSS for those are added inline:
[code]
When caching isn't in place the ids change on each page load. With caching they change every time the cache is cleared.

I safelisted `banner-(.*)` and the rules were added to the

[2021-08-06 05:06] vmanthos opened #4230 "RUCSS - PHP warning: Invalid argument supplied for foreach() > wp-background-process.php > line 314"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.9.1.1`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

A customer reported the following error related to the Remove Unused CSS feature:
[code]
This is happening here:
https://github.com/wp-media/wp-rocket/blob/7b

[2021-08-06 06:26] vmanthos opened #4231 "JS minification exclusion isn't working when an external URL contains the site's TLD"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.9.1.1`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

On a site, e.g. `www.example.com`, when an external JavaScript file's URL contains the site's TLD, e.g. in a query string, like so:
[code]
WP Rocket is treati

[2021-08-06 15:49] mehedihasanziku commented on #4228
another in Elementor Gradient CSS, this is an serious issue with rucss

1. `background-image: linear-gradient(to bottom, rgb(215,238,241) 0%, rgb(228, 251, 255) 60%, rgb(184, 222, 226) 100%);`

2. `background-image: linear-gradient(to bottom, rgb(215,238,241) 0%, rgb(228 251 255) 60%, rgb(184 222 226) 100%);`

![image](https://user-images.githubusercontent.com/48652123/128537445-9a9c46bd-88b8-49b4

[2021-08-07 08:40] DahmaniAdame opened #4233 "Notice when the "AMP Takeover" is enabled (AMP for WP plugin)"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When the `AMP Takeover (Beta)" feature is enabled, it will force AMP for all page, and consequently, none of our optimizations will be applied.

![image](https://use

[2021-08-07 16:14] markllego commented on #4184
Any update on this?

[2021-08-08 09:10] NataliaDrause commented on #4220
Related: https://secure.helpscout.net/conversation/1594804116/286087/

[2021-08-09 06:43] jespervnielsen commented on #4230
Hello.

I am the "customer"

I can see in the ticket description, that you say its related to the "remove unused CSS" - but that is'nt activated.
![image](https://user-images.githubusercontent.com/31649178/128668370-e42657a9-430c-4c29-a720-e1dd8a78f716.png)

The reason i can't trigger the error manually, is because i dont know what triggers the "ResourceFetcherProcess".
How is that usually called?

[2021-08-09 06:52] vmanthos commented on #4230
@jespervnielsen

The `ResourceFetcherProcess` is used by the Remove Unused CSS feature.

It's called here:
https://github.com/wp-media/wp-rocket/blob/7bc0dd8dcc0ef5e2af156d978c8a437ec8bb1bd1/inc/Engine/Optimization/RUCSS/Warmup/Subscriber.php#L94
when the feature is active.

To trigger it you should enable Remove Unused CSS.

In the ticket you opened with us, you mentioned the warning was related

[2021-08-09 07:38] vmanthos commented on #4072
https://secure.helpscout.net/conversation/1578363776/281843

`3.9.1.1` is used.

[2021-08-09 07:45] jespervnielsen commented on #4230
@vmanthos

The screenshot is from this morning.
And in the last 2 hours, there has been 10,046 messages
![image](https://user-images.githubusercontent.com/31649178/128672717-f4eb02a0-1d49-43f7-84ff-16d0bc627ff1.png)

And according to "stream" (backend user activity logging tool https://wordpress.org/plugins/stream/ ) the latest update of the WP Rocket settings was 16 days ago..

The reason why I s

[2021-08-09 08:01] mvaneijgen commented on #3279
What is the status for this? Because I still have this issue and  https://new.rocketlabsqa.ovh/3279template/ is my website content, which I find really weird because I didn't know WP Rocket would rip my site and use it for testing and then reference it publicly in a GitHub Repo.

[2021-08-09 08:42] Mai-Saad commented on #4228
We need to handle this format:
`rgb[a](R G B[ / A])` https://developer.mozilla.org/en-US/docs/Web/CSS/color_value

Notes:
- For case 1 in the main issue, I think it shall be rgba not rgb as rgb is 3 level not 4

[2021-08-09 09:25] Mai-Saad commented on #4214
Could reproduce the issue on 3.9.1.1 if added `<script type='text/javascript' src=' https://js.afterpay.com/afterpay-1.x.js'></script>` to test template i.e here https://new.rocketlabsqa.ovh/minify-js-template-001/

[2021-08-09 10:16] mostafa-hisham commented on #4229
**Reproduce the problem**
No, but i can see the problem

**Identify the root cause**
We need to exclude jQuery and jQuery migrate to be compatible with the Revolution Slider update (6.5.5),.

**Scope a solution**
-We need to create a new third party for RevolutionSlider and exclude the jquery and jquery migrate if  RS_REVISION > '6.5.5'
[code]

[code]

**Estimate the effort**
[S]
create tests

[2021-08-09 11:46] #4080 closed, assigned to mostafa-hisham

[2021-08-09 14:54] phil00907 commented on #1997
Hello. Is there any recent update?
I have a WooCommerce store and find WP Rocket useful, but if you cannot preload the product pages for logged-in users (customers), I might have to switch to another caching plugin unfortunately...

[2021-08-09 16:53] iCaspar commented on #3947
Reproduce the Problem:
We do not currently display any notices when resources are not fetched and `WP_ROCKET_RUCSS_DEBUG` is not set.

Scope a solution:
Possible Solution 1:
We have a similar (nearly identical) issue #4126.
Should we implement the suggested `force_stop` in `rest_ensure_response()`, we could add the link to documentation into the `Pre-warmup could not finish.` notice.

Possible Sol

[2021-08-09 20:01] iCaspar commented on #4199
The trick with this is that creating this table will require retrieving resources using a JOIN, which is not directly supported (yet) in BerlinDB.
There are ways around it, a couple of which are suggested in [this thread](https://github.com/berlindb/core/issues/63).

In essence we would need 2 queries:
[code]

[2021-08-10 07:55] NataliaDrause commented on #4220
Related: https://secure.helpscout.net/conversation/1582259671/282874/

[2021-08-10 08:04] NataliaDrause opened #4234 "RUCSS: compatibility with FacetWP product filters"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.9.1.1.
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
The [FacetWP](https://facetwp.com/) product filter is not displayed when _Remove Unused CSS_ is enabled.

A number of selectors are missing. Safelisting the

[2021-08-10 08:18] NataliaDrause opened #4235 "RUCSS: compatibility with Listable theme for correct map display"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.9.1.1.
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
Map is broken when _Remove Unused CSS_ option is enabled.

Map classes are added in the main theme's stylesheet: `/wp-content/themes/listable/style.css`
The

[2021-08-10 09:04] Mai-Saad commented on #4229
Note:
- couldn't reproduce it with Avada but it was reproducible using Twenty Twenty theme
- fixed when excluded jquery.js and jquery-migrate.js
![Screenshot from 2021-08-10 10-58-21](https://user-images.githubusercontent.com/76941962/128839542-19b5b9d7-4e14-4712-9f93-b53561360d71.png)

[2021-08-10 10:48] jazir555 opened #4237 "Cannot Generate specific critical path css for pages - Server issue"
**Describe the bug**
The same server bug I reported before about being unable to generate critical path css for specific pages is occurring again.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a page
2. Generate specific cpcss
3. The generation of cpcss will fail

**Expected behavior**
Critical path css generated correctly.

Why does this keep occurring?

[2021-08-10 12:31] GeekPress commented on #3279
@mvaneijgen As you can see just below the issue's title, the status is « closed ». This fix has been released in version 3.9.1.

If you still have the issue by using 3.9.1, thanks for providing us more details:
- URL of your website
- A page where we can see the problem
- which CSS rules are removed

Sometimes, it can happen we need to duplicate a website to be able to reproduce a problem. We shou

[2021-08-10 13:02] Mai-Saad commented on #4136
Reproducible on newlabs test site after inserting mentioned script in the body.

[2021-08-10 13:06] NataliaDrause opened #4238 "RUCSS: compatibility with Weglot language selection menu"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.9.1.1.
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
[Weglot](https://weglot.com/) dropdown menu is broken when _Remove Unused CSS_ option is enabled.

The following selectors in the Safelist resolve the issue

[2021-08-10 13:25] wassy83 commented on #3279
for me version 3.9.1 fixed completely the issue