[2021-08-10 14:32] mvaneijgen commented on #3279
@GeekPress I see, hard to see if you are not a Github issue pro.

I don't know if versions release schedules also release the same time as they are made, but I now see my site has updated to version 3.9.1.1 and indeed it has been fixed, maybe I lagged behind on updates, because yesterday the bug was still there and I have my site auto update their plugins

[2021-08-10 14:45] GeekPress commented on #3279
Thanks, @wassy83 and @mvaneijgen for the confirmation :)

[2021-08-10 22:12] trgcyln opened #4240 "Homepage Cache Files are always regenerated whenever I refresh the homepage"
**Before submitting an issue please check that you’ve completed the following steps:**
- WP-Rocket 3.9.1.1
- WP version: 5.8
- Used the search feature to ensure that the bug hasn’t been reported before : YES

**Describe the bug**
Whenever I refresh the homepage, cache files of homepage are regenerated. All of the other pages cache files are fine.
4 files (homepage) under "/cache/wp-rocket/ "  alwa

[2021-08-10 22:15] Salimoh commented on #3544
It was my mistake that I added elementor to wp-rocket exclusion list. Maybe that is your problem as well. check js exclusion field. Any way with the introduction of js delay by wp-rocket 3.9 merging js is not important anymore.
________________________________
From: zachnicodemous ***@***.***>
Sent: Wednesday, August 4, 2021 10:57 PM
To: wp-media/wp-rocket ***@***.***>
Cc: Salman Mohammadi ***@***

[2021-08-10 22:49] #4240 closed, assigned to nobody

[2021-08-11 06:36] vmanthos opened #4241 "Delay JS Execution prevents search engines from reading Mediavine's video schema"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.9.1.1`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

Mediavine is adding a video schema like the following for their publishers who are running videos:
[code]

That's done by a script:
[code]
where the `xxxxxxxx

[2021-08-11 09:25] Mai-Saad commented on #4238
Reproducible on test site using Weglot plugin, We need to add too `.weglot-flags(.*)` to safelist so it works probably

[2021-08-11 11:04] mdarif commented on #3962
+1

What's the latest here?

[2021-08-11 11:42] vmanthos opened #4242 "Delay JS Execution - LearnDash LMS quizzes break"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.9.1.1`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

LearnDash LMS quizzes are not working when Delay JavaScript Execution is active.

The following JavaScript error appears in the console:

![](https://i.vgy.me

[2021-08-11 11:59] GeekPress commented on #4238
@NataliaDrause Which JS or CSS file can we check to know when we have to add these classes in the safe list?

[2021-08-11 12:06] GeekPress commented on #4234
@NataliaDrause Can you please try to know which JS file inserts the missing content in the DOM?

[2021-08-11 12:10] GeekPress commented on #4220
@NataliaDrause Which CSS or JS file can be detected to know when we have to add these classes?

[2021-08-12 00:19] jazir555 commented on #4237
Still having issues with the generate specific cpcss feature. Sometimes it is saying the cpcss is generated, but it is not generating correctly.

I restored to a known working backup where I benchmarked the speeds when cpcss is generated for the homepage and active vs not, and sometimes(50/50 chance) generating the cpcss now gets a success message, but the speeds on the frontend do not improve.

S

[2021-08-12 06:09] vmanthos commented on #4166
I had another case, again with Flatsome's dynamic `banner-` elements.

The SaaS does find the inline CSS, so it will be there even if `banner-(.*)` is not safelisted. It will not add the updated `id` when tree-shaking occurs the next time the page is sent to the SaaS.

**Ticket:** https://secure.helpscout.net/conversation/1590220890/284964/

[2021-08-12 08:49] vmanthos commented on #4228
I came across another issue with `rgb()`, where if transparency is included the rule is not processed, and the parser removes the property.

According to [MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/rgb()) `rgb()` supports transparency.
This is for [CSS4](https://www.w3.org/TR/css-color-4/).

For example:
[code]

The transparency is working only if `rgba()` is used:
[code]

*

[2021-08-12 13:56] MarcinKilarski commented on #114
Unfortunately, `add_filter('rocket_htaccess_mod_deflate', '__return_false');` didn't solve the issue for me. The site on which I experienced this issue does not use any CDN.

It seems like every time we save WP Rocket settings in any tab, the video works in Safari for a few minutes.

When it works in Safari the server responds with the 200 status code in the file header when inspected using CURL.

[2021-08-12 14:03] #3282 closed

[2021-08-12 14:07] laurentdebricon commented on #114
sudo a2enmod headers
sudo service nginx restart

[2021-08-12 17:54] mehedihasanziku commented on #4043
This pattern safe is to delay `asp_url` but even without delay also no problem, but when all JS in delay+defer, it does wrong.

I looked on the source and found that it's wrapped with "DOMContentLoaded" when defer is on. and i used inline js exclude filter to exclude that, and plugin works perfectly fine. this pattern needs to be auto exclude from defer too.

[2021-08-13 09:40] vmanthos opened #4243 "RUCSS - PHP Notice: Trying to get property 'id' of non-object in /RUCSS/Database/Queries/ResourcesQuery.php on line 144"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.9.1.1`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

The following PHP notice appeared in the `debug.log`:
[code]

This is taking place here:
https://github.com/wp-media/wp-rocket/blob/d1fc8854869892b4ec5c061f88

[2021-08-13 11:58] piotrbak commented on #4229
Revolution Slider loads his files on all pages, no matter if the slider is present on the page or not. With this PR we are excluding jQuery from Defer JS on all pages.

I can see a possible enhancement to this PR. On pages that contain Slider, we **need to** exclude jQuery files. However, on pages that do not contain the Slider, we could automatically switch their scripts to have `defer` attribute

[2021-08-13 12:02] GeekPress commented on #4229
@piotrbak Changing their script to be loaded async or defer won't change our problem. We have the issue because of an inline JS.

[2021-08-13 12:19] Ririshi opened #4244 "Allow newer versions of psr/container to prevent dependency clashes"
**Is your feature request related to a problem? Please describe.**
When using the Roots Bedrock boilerplate, I cannot require WP Rocket in my `composer.json`, because WP Rocket explicitly requires `psr/container 1.0.0`, while other packages require newer versions. For example: `phpmd/phpmd 2.10.2` requires `pdepend/pdepend ^2.10.0`, which requires `symfony/dependency-injection ^2.3.0|^3|^4|^5`, wh

[2021-08-13 15:28] testAccount7558998 commented on #4216
I'm experiencing the exact same issue. I have a small pre-header section that is not sticky & the sticky header below.
The sticky header never works as expected when delay js is activated. The only solution I found is to add jquery & Elementor Pro js files to the exclusion list of Delay JS, but it now loads many unuseful JS files because of Elementor... The delay Js feature is not useful anymore w

[2021-08-13 18:02] #4122 closed, assigned to remyperona

[2021-08-13 18:18] #4229 closed, assigned to mostafa-hisham

[2021-08-13 20:22] GeekPress opened #4245 "Optimize CSS Delivery New UI"
## What are we proposing to do?

To build a new UI to merge Removed Unused CSS and Generate Critical Patch CSS under the same parent option: Optimize CSS Delivery.

[Full Doc](https://docs.google.com/document/d/1uZGKZIn9kfDWt5DrS-ar50j0ga5_zJY7xt-lFx_V1BU/edit?usp=sharing)

[2021-08-14 06:08] oliveandlake commented on #4216
I'm glad it's not just me! It happens on all websites I have with a top bar. I did reach out to WP Rocket's support. But their suggestion was to exclude the Elementor files which defeats the point of using Delay JS.

[2021-08-14 18:55] jorgemartine00 commented on #4072
https://secure.helpscout.net/conversation/1600518533/287351/

3.9.1.1 is used.

[2021-08-15 06:54] NataliaDrause opened #4246 "RUCSS: add classes for compatibility with WP Bakery accordion"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.9.1.1.
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
When _Remove Unused CSS_ is activated, WP Bakery accordion tabs don't open.

Issue is resolved with the following selectors in the Safelist:
[code]

JS file

[2021-08-15 09:20] NataliaDrause commented on #1997
Related request: https://secure.helpscout.net/conversation/1568992555/278868/

[2021-08-15 11:56] alaa-abdelsamie opened #4247 "wp rocket unused css arabic url"
**Describe the bug**
When you activate a "unused css" on an Arabic site that uses Arabic links
unused css files wrongly saved

check this
https://5msh.com/%D9%83%D9%88%D8%AF-%D9%85%D8%B9%D8%B1%D9%81%D8%A9-%D8%B1%D9%82%D9%85-%D9%85%D9%88%D8%A8%D9%8A%D9%86%D9%8A%D9%84-%D8%A7%D9%88%D8%B1%D9%86%D8%AC

**Screenshots**
https://imgur.com/u9G2NDK

[2021-08-15 12:33] NataliaDrause commented on #3520
Possibly related: https://secure.helpscout.net/conversation/1600989218/287411/

[2021-08-16 07:39] vmanthos commented on #3968
**Related:** https://secure.helpscout.net/conversation/1599809693/287145?folderId=2135277

[2021-08-16 08:42] vmanthos commented on #4207
The customer from the ticket @NataliaDrause worked on reported issues with the error being logged even though the feature was deactivated. This is because there were more than 193.000 `rucss_warmup_resource_fetcher` entries in the `options` table, that were "processed".

This looks similar to the following preload issue:
https://github.com/wp-media/wp-rocket/issues/3680

[2021-08-16 10:15] mostafa-hisham commented on #4245
@GeekPress @wp-media/php
The second point in `Technical Specs` section is not very clear
what is the code that needs to be deprecated?

[2021-08-16 10:49] mostafa-hisham commented on #4245
### Reproduce the issue
New UI Enhancement Nothing to  Reproduce

### Identify the root cause ✅
new UI to merge Removed Unused CSS and Generate Critical Patch CSS under the same parent option: Optimize CSS Delivery.
### Scope a solution ✅
1. Create a new field type (radio) and js to hide and show content based on what is selected
2. update `inc/Engine/Admin/Settings/Page.php` to use the new field

[2021-08-16 11:44] NataliaDrause commented on #4246
The issue was not reproduced on the next day when the safelisted selectors are removed.
Closing it until the issue re-appears.

[2021-08-16 11:44] #4246 closed, assigned to nobody

[2021-08-16 15:48] mehedihasanziku commented on #4247
seems related issue #3968

[2021-08-16 19:48] dwdonline commented on #3112
This was a huge mistake to remove this! One of the benefits of this plugin with the add-on was being able to quickly clear the Cloudflare cache - the js and css files. I think you should have consulted more than one of your users. Why not move it to an option if you must remove it, so users can go into the Cloudflare add-on settings and choose to show the menu?

[2021-08-16 20:08] iCaspar commented on #4245
On code that considers cpcss and rucss activated simultaneously:
See https://github.com/wp-media/wp-rocket/blob/9e9b3645d051ddd52b0eeb88ab0bbacf5e0ed515/inc/Engine/Optimization/RUCSS/Frontend/Subscriber.php#L69
and
https://github.com/wp-media/wp-rocket/blob/9e9b3645d051ddd52b0eeb88ab0bbacf5e0ed515/inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php#L154

Based on `cpcss_enabled()` we make saving-

[2021-08-17 05:42] NataliaDrause commented on #1167
Related request: https://secure.helpscout.net/conversation/1568992555/278868/

[2021-08-17 07:58] NataliaDrause commented on #3717
Related: https://secure.helpscout.net/conversation/1572952984/280161/

[2021-08-17 12:44] NataliaDrause commented on #4161
Related: https://secure.helpscout.net/conversation/1603475462/287938/

[2021-08-17 15:42] ghost opened #4249 "White Label Footprint Comment | Need Filter to Eliminate It Completely"
The White Label Footprint Comment filter provided in the below post does not completely eliminate the comment.

[WP-Media GitHub Post No. 922](https://github.com/wp-media/wp-rocket/issues/922)

In short, when we apply the given filter (noted below), we still see the comment: ``

`define ("WP_ROCKET_WHITE_LABEL_FOOTPRINT", true);`

Yes, we know the above comment is inserted by design.

Based on the

[2021-08-17 15:56] alfonso100 opened #4250 "Ability to generate Specific CPCSS for taxonomy archives"
**Is your feature request related to a problem? Please describe.**
When archive pages need specific CPCSS per taxonomy, currently there is no way to generate it.

**Describe the solution you'd like**
Add the ability to generate Specific CPCSS for taxonomy archives.

**Describe alternatives you've considered**
 It might be added inside the category management page? _Generate Specific CPCSS for arch

[2021-08-17 17:03] androidacy-user opened #4251 "Please stop loading all the fonts in existence."
**Describe the bug**
Although the title is tongue in cheek, it is accurate. In the developer tools i see the following:
[code]
I extremely highly doubt my theme uses every single one of those fonts. Let alone more than two of them (I use Noto Sans and Open Sans, mostly the former, plus FontAwesome)

**To Reproduce**
Steps to reproduce the behavior:
1. Activate google fonts optimization
2. Wait, an

[2021-08-17 18:06] iCaspar commented on #4251
This is to do with your Spice Software theme.
I loaded the theme on a test site, and without Rocket active, it is inserting the following into the page header:
<img width="542" alt="Screen Shot 2021-08-17 at 2 01 06 PM" src="https://user-images.githubusercontent.com/7462998/129777449-413b1a59-6837-4073-af78-a0ae63162ac0.png">
Rocket, in turn, is just loading the same fonts as the theme, which is t

[2021-08-17 18:06] #4251 closed, assigned to nobody

[2021-08-17 21:02] webtrainingwheels commented on #2153
https://secure.helpscout.net/conversation/1602450963/287737?folderId=377611

[2021-08-18 07:34] NataliaDrause commented on #2907
Related ticket: https://secure.helpscout.net/conversation/1604165193/288117/

[2021-08-18 08:39] Mai-Saad commented on #4242
Note:
- Couldn't reproduce it on the test site.

[2021-08-18 08:44] Mai-Saad commented on #4245
@GeekPress Please find my questions below:
1-  If we import old settings where OCD + RUCSS are enabled => then OCD will be auto disabled and only RUCSS will be enabled? If we roll back to the older version after that, OCD will still be disabled?
2- Currently, RUCSS is beta and we display confirmation message when enabled => how will this reflected on new UI? notice that for new users we now need R

[2021-08-18 09:21] Mai-Saad commented on #4241
Reproducible on test site using

[2021-08-18 11:04] viobru commented on #4072
https://secure.helpscout.net/conversation/1604657091/288212

3.9.1.1 is used.

[2021-08-18 12:53] NataliaDrause commented on #3348
Related: https://secure.helpscout.net/conversation/1595451288/286226/

[2021-08-18 13:18] NataliaDrause opened #4252 "RUCSS: stylesheets without .css extension are not being processed"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.9.1.1.
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
When a stylesheet is added to a site without the `.css` extension as in example here:
`<link rel='stylesheet' type="text/css" href='https://example.com/wp-c

[2021-08-18 14:04] ghost opened #4253 "Not Epic | Potential Disaster | Optimize CSS"
This [GitHub proposa](https://github.com/wp-media/wp-rocket/issues/4245)l reminds me of an infamous quote:

"You can have any color car you want as long as it's black."

Does WP Rocket benchmark its customers or take polls before making changes to its plugin?

It appears not. [WP Rocket's Roadmap site](https://wp-rocket.me/blog/development-roadmap-public/) is stale and IS NOT reflecting what is be

[2021-08-18 14:30] androidacy-user commented on #4251
I was actually suspecting my font selector page was doing it, but nope, the _geniuses_ that designed this theme literally have an array of all the google fonts, which gets URL encoded and then embedded.

https://themes.svn.wordpress.org/spice-software/0.1/inc/scripts/script.php if you want a quick laugh.

[2021-08-18 16:10] webtrainingwheels commented on #2409
https://secure.helpscout.net/conversation/1604881751/288291?folderId=377611

[2021-08-18 20:43] sandyfzu opened #4255 "Delay JS (Error 500): Uncaught Error: Call to a member function get_gallery_image_ids() on bool"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ - 3.9.1.1
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**
We are using the function wc_get_product() and that function can return these possible values: WC_Product | null | false ([Reference](https://woocommerce.githu

[2021-08-18 20:46] sandyfzu commented on #4255
Ticket: https://secure.helpscout.net/conversation/1598350594/286878/

[2021-08-19 10:49] Mai-Saad opened #4256 "3.9.2"
- 3rd-Party Compatibility: Auto-exclude jQuery from being deferred on Revolution Slider Activation (#4229)
- 3rd-Party Compatibility: Auto-exclude from Delay JS EWWW scripts for webp (#4165)
- 3rd-Party Compatibility: Auto-exclude Autoptimizer Lazyload script from Delay JS (#4162)
- Bugfix: Use correct server variable to detect Lightspeed (#3282)
- Bugfix: Sync varnish cache clear with WP Rocket c

[2021-08-19 12:00] vmanthos commented on #4166
The same thing happens on a site using Unlimited Elements for Elementor (Premium).

That's adding inline CSS to style `<ul>`:
[code]

This is how the list normally looks:
![](https://i.vgy.me/1zahwv.jpg)

The id changes every time the cache is cleared and the list's style breaks:
![](https://i.vgy.me/pmNCNc.jpg)

**Ticket:** https://secure.helpscout.net/conversation/1586450973/283902?folderId=2135

[2021-08-19 12:39] vmanthos opened #4257 "RUCSS - PHP Fatal error: Uncaught ValueError: Path cannot be empty in /wp-admin/includes/class-wp-filesystem-direct.php"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version✅ `3.9.1.1`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

The following error popped up in the `error_log`:
[code]

This is taking place here:
https://github.com/wp-media/wp-rocket/blob/9e9b3645d051ddd52b0eeb88ab0bbac

[2021-08-19 12:51] vmanthos opened #4258 "rucss_warmup_resource_fetcher is clogging the database"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.9.1.1`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

If for whatever reason, the `ResourceFetcherProcess` process gets stuck, numerous `rucss_warmup_resource_fetcher` entries are filling up the database. In the case I examined there

[2021-08-19 13:20] #4256 closed, assigned to nobody

[2021-08-19 13:24] Mai-Saad opened #4260 "WooCommerce link in Never Cache URL description isnot working"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.9.1.1
- Used the search feature to ensure that the bug hasn’t been reported before => Yes

**Describe the bug**
WooCommerce link in Never Cache URL description is not working

**To Reproduce**
Steps to reproduce the behavior:
1. Activate WooCommerce plugin
2. go to t

[2021-08-19 13:51] Mai-Saad commented on #4256
Not needed

[2021-08-19 14:23] piotrbak opened #4263 "Compatibility with new Divi update (4.10)"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
In 4.10 version of Divi, they introduced a couple of enhancements and new features:
https://www.elegantthemes.com/blog/theme-releases/divi-performance

For now, the only fea

[2021-08-19 14:56] jittarao opened #4264 "Seeing CORS errors after installing WP Rocket"
Seeing the following error after installing WP Rocket plugin:

Access to font at 'https://xyz.cloudfront.net/assets/icons/iconfont.ttf' from origin 'https://xyz.com' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.

I tried removing this from the .htaccess file and the CORS error disappeared.

[code]

Any advice on what settings are mis

[2021-08-19 15:17] mehedihasanziku opened #4265 "RUCSS - Pseudo-Class Broken"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**

Pseudo-Class broken after first selector

**Before RUCSS:**
Case 1:
[code]
Case 2:

[code]

**After RUCSS:**
Case 1:
[code]
Case 2:

[code]

**To Reproduce**
Steps

[2021-08-19 17:44] ghost opened #4268 "WP Rocket Slowing Down Websites via Unvetted Plugin Update HTTP Calls"
**Dear WP Rocket:**

What's going on? You're slowing down websites (frontend and backend) with your unvetted plugin updates. At least two recent plugin updates have been recalled.

Today, this happened (see below). Can anyone explain? Our account also showed a "NO API Zip" error when we tried to download V3.9.2

As soon as WP Rocket recalled V3.9.2, our WP dashboard and website were back to normal

[2021-08-19 17:52] androidacy-user opened #4269 "HTTP/2 Server Push support"
**Is your feature request related to a problem? Please describe.**
Although WP Rocket, correctly, tells us that we should not enable combine assets for HTTP/2 because of server push, Rocket does not take advantage of said feature. At all.

**Describe the solution you'd like**
According to https://www.cloudflare.com/website-optimization/http2/serverpush/, for /style/used.min.css, you'd need the fol

[2021-08-19 17:55] webtrainingwheels commented on #2409
A note about this solution: https://github.com/wp-media/wp-rocket/issues/2409#issuecomment-831159749

It's not a complete solution - by changing  "_gzip" to "-gzip" all it's doing is making our rewrite rule not match anymore. This change will be overwritten in the future, when the htaccess is updated again.
The best way to achieve the same is to remove this block of rules using the helper plugin:

[2021-08-19 19:17] richiekastl opened #4270 "Customize where the Lazy Loaded Scripts, Critical CSS, Combined CSS, and Used CSS tags appear in the <head> element."
**Is your feature request related to a problem? Please describe.**
SEO is very important to my client and having full control over what's in the <head> element is ideal.

**Describe the solution you'd like**
The Lazy Loaded Scripts, Critical CSS, Combined CSS, and Used CSS tags were all getting placed into the <head> element by replacing the closing </title> and closing </head> tags.

What I did w

[2021-08-19 20:20] ghost commented on #4268
**Update:**

Compounding the issue we reported above, we just learned that Cloudflare happens to be performing maintenance to their servers at this time.

**Details:** https://www.cloudflarestatus.com

We're also providing a screenshot of the current situation since their website will be updated once server maintenance is completed.

So, looks like we got hit with two hammers today: WPR and Cloudf

[2021-08-19 20:22] ghost commented on #4268
We'll close this topic once Team WP Rocket provides feedback on the plugin update issues reported above and lack of notifications to their customers.

[2021-08-20 07:40] vmanthos opened #4271 "Delay JS - Ocean Elementor Widgets - WooCommerce product gallery zoom isn't working"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.9.1.1`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When the [Ocean Elementor Widgets](https://oceanwp.org/extension/ocean-elementor-widgets/) plugin is used, despite the default WooCommerce`, exclusions:
https

[2021-08-20 11:48] vmanthos commented on #4258
**Probably related:** https://secure.helpscout.net/conversation/1590090544/284922

[2021-08-20 14:26] iCaspar commented on #4203
@GeekPress @Tabrisrp -- just a bump here for when you get back.

[2021-08-20 14:26] Mai-Saad commented on #4271
Note:
- Couldn't reproduce it visually without the premium plugin.
- For retest fix: we need to confirm that the mentioned script is excluded from Delay JS

[2021-08-20 15:23] orrburgel commented on #2404
Hey, I'm still having this issue with the latest version,
I implemented all required solutions and even whitelisted in cloudflare, turned on dev mode and what not,
This is stuck like this ever since yesterday:
![image](https://user-images.githubusercontent.com/41600149/130256135-c16f1e29-467d-4583-95b3-523b6236cf8a.png)
We just renewed wp rocket for another year, (170$*12) is a lot, and the thing

[2021-08-20 15:27] alfonso100 commented on #3419
related: https://secure.helpscout.net/conversation/1603490634/287940/

[2021-08-20 15:29] orrburgel commented on #2404
1) I've set PHP execution time to 450 on both the cpanel PHP Configuration and wp-config,
2) Gave more ram both on the php config and the wp-config
3) Made sure Cron is working, and that there are no loopback errors.
4) Completely replaced WP-Cron with real cron on the server.
5) Installed "WP Rocket | Custom cURL Timeout For Preload Request"
6) Made sure Cache is being purged in both cloudflare a

[2021-08-20 15:32] orrburgel commented on #2404
Even tried to uninstall and reinstall it.

[2021-08-20 15:33] orrburgel commented on #2404
It just deleted all my settings and after re-configuring -> same error

[2021-08-20 15:33] orrburgel commented on #2404
it's not really an error, it's just stuck for days

[2021-08-20 15:40] orrburgel commented on #2404
Also it worked faster before I installed "WP Rocket | Custom cURL Timeout For Preload Requests"
I'm talking 1000x faster,
After I pressed PRELOAD CACHE almost 8 times, I managed to get it to stop and restart:
![image](https://user-images.githubusercontent.com/41600149/130258144-690009f4-1a53-48e4-904b-cb8500f11f63.png)
Problem is it's not stuck on 0.
Also critical CSS generation stopped working, W

[2021-08-20 15:42] orrburgel commented on #2404
Ok this is the first time I managed to literally get it bugged:
![image](https://user-images.githubusercontent.com/41600149/130258606-a1b41870-bc90-458e-b869-1dba05092338.png)
I have the latest wp-rocket version (wp-rocket_3.9.1.1.zip) and WordPress v5.8

[2021-08-20 15:43] orrburgel commented on #2404
I will keep updating this issue with all the problems I will have for you to solve it

[2021-08-20 16:19] orrburgel commented on #2404
Just managed to uninstall WPML, and also reinstalled WP-Rocket just to be sure, And now the problem got even worst, Nothing happens no matter what I click, I even tried to disable all the plugins:
![image](https://user-images.githubusercontent.com/41600149/130263479-a8cfdb37-99e2-4e43-9b1b-a13f42f7dd7f.png)

[2021-08-20 16:31] iCaspar commented on #2404
Hey there @orrburgel
Thanks for letting us know about this.
Sounds like you might need some more immediate support to troubleshoot.
We can't provide direct support here, but our support team would be happy to look into this with you.
https://wp-rocket.me/support/

[2021-08-20 16:32] peixotorms opened #4272 "do_rocket_callback filter request"
I would like to be able to modify the final html buffer, just before `rocket_put_content` so it would be good to have a filter that allows developers to modify the buffer before actually saving it as a cache file.

I would suggest, on wp rocket 3.9.1.1 in wp-rocket/inc/front/process.php on line 358 to add something like this:

[code]

Ex: https://i.imgur.com/PryhHOq.png

This would allow buffer ma

[2021-08-20 17:17] orrburgel commented on #2404
Just followed the following guide and completely removed all records for WP-Rocket, trying again
https://docs.wp-rocket.me/article/694-uninstalling-wp-rocket
![image](https://user-images.githubusercontent.com/41600149/130270200-a24ccee2-2c40-492d-9abc-aa2d1f3925c4.png)

[2021-08-20 17:17] orrburgel commented on #2404
Thanks will do

[2021-08-20 17:26] gevcen commented on #2404
@orrburgel workaround that worked for me: disactivate auto-preload
when you finished your testing configuration, re-enable it back

[2021-08-20 17:35] orrburgel commented on #2404
Thanks I'll try, for now after reinstalling and waiting a bit, I managed to regenerate critical CSS, **but I'm still having the same issue with preload where it's stuck on 0**
![image](https://user-images.githubusercontent.com/41600149/130271952-5d4ded57-7c4e-48a5-b2b1-dfb27adac859.png)

[2021-08-20 17:38] orrburgel commented on #2404
Weird effect that it had is making the preload option go away while it's still stuck on 0 and I can't click Stop
![image](https://user-images.githubusercontent.com/41600149/130272486-f07c68fe-8be5-44a8-85b4-fd8dffeb1be2.png)

[2021-08-20 19:03] iCaspar commented on #4161
For Blocked status @see #4199

[2021-08-20 19:17] iCaspar commented on #4199
Another option raised in discussion with @mostafa-hisham is storing the URL field as an array of URLs. This has the advantage of implementing a parallel solution on the SaaS side (should we move to MongoDB or start sharding in Maria, for example) where we cannot rely on SQL joins.
Downside, it will be hard/expensive to index/search on this.

[2021-08-20 21:00] webtrainingwheels commented on #4109
Just an FYI, I had a couple of cases of Divi animated elements not loading immediately, but excluding this inline script did not resolve it.
Not sure if it's because I tried it on sites using Divi 4.10+  or something else. I needed to exclude these for the animated parts to work:
/wp-includes/js/jquery/jquery.min.js
/wp-includes/js/jquery/jquery-migrate.min.js
/themes/Divi/js/scripts.min.js
Can be

[2021-08-20 21:36] peixotorms commented on #4272
Actually, the pull request doesn't do what I expect, so maybe the buffer is somewhere else. Sorry about that.

[2021-08-20 21:37] #4272 closed, assigned to nobody

[2021-08-21 15:27] mehedihasanziku commented on #4166
related #4265

**` Noticed In Thrive Builder`**

[2021-08-22 09:24] NataliaDrause commented on #4228
Related: https://secure.helpscout.net/conversation/1605837928/288521/

This rule wasn't included:
[code]

I added the following rule instead:
[code]

[2021-08-22 11:24] jazir555 opened #4274 "Specific CPCSS generation again, 5th time this has happened."
**Describe the bug**
Specific CPCSS generation will work correctly, and then all of a sudden it will fail continously. It will spontaneously begin working within a day or two

**To Reproduce**
Steps to reproduce the behavior:
1. Generate specific cpcss
2. The generation will either display a success message or not display a message at all, and cpcss is not actually generated on the frontend, score

[2021-08-22 16:03] nsgoyat commented on #2245
Hey @GeekPress
Any update on this? I noticed that WP Rocket doesn't generate `.gz` version of cache files. Instead, it creates `index-https.html` and `index-https.html_gzip` files. CSS/JS files processed by WP Rocket are in `.gz` format but the cache files aren't.

A lot of Wp Rocket users like me use NGINX so it would be a great addition to the plugin...

[2021-08-22 16:07] nsgoyat commented on #2465
Hey @Tabrisrp
Any update on this? I noticed that WP Rocket doesn't generate `.gz` version of cache/html files. Instead, it creates `index-https.html` and `index-https.html_gzip` files. CSS/JS files processed by WP Rocket are in `.gz` format but the page cache files aren't.

A lot of Wp Rocket users like me use NGINX so it would be a great addition to the plugin...

[2021-08-23 04:38] jazir555 opened #4275 "Feature Request - Allow WP-Rocket to run on woocommerce pages such as cart and checkout by disabling caching on those pages so we can use the other optimization functions of WP Rocket"
**Is your feature request related to a problem? Please describe.**
I would love it if you could implement changes that would allow wp-rocket to work on the checkout page, except with caching disabled so I can benefit from all the other features.

**Describe the solution you'd like**

That way I could still benefit from minification, concentation, lazyload, delay js.

The checkout is the most impor

[2021-08-23 12:49] WordPresseur commented on #4208
Related ticket: https://secure.helpscout.net/conversation/1609005383/289230/

[2021-08-23 12:50] WordPresseur commented on #4033
Related ticket: https://secure.helpscout.net/conversation/1609005383/289230/

[2021-08-23 13:10] piotrbak opened #4276 "RUCSS is not processing CSS files added in a specific way"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When adding CSS files using the following markup:
[code]

We're fetching this file and adding it to the database, but the content is not added to the Used CSS. This is a big

[2021-08-23 13:13] androidacy-user commented on #4023
#4269 before this i think. There is no parallel downloading without Push, and there is no Push without appropriate headers.

[2021-08-23 13:19] androidacy-user commented on #4023
In  3+ years of running a (WordPress) site, and about a year of using WP Rocket, combining JS has led to nothing but hard to pinpoint problems. As said here already, if you have a situation where this is necessary, you have bigger issues.

Besides, the big performance hit from JS usually isn't just the downloading of the file - it's the parsing and execution. And a bigger file is going to take exp

[2021-08-23 13:22] jazir555 commented on #4023
That may be the case for you, but that doesn't mean the option should be removed. I have better performance with it enabled. It's the reason it's an _option_. It's _optional_. If it doesn't work better for you, don't enable it.

[2021-08-23 13:23] androidacy-user commented on #4023
Adding a billion toggles just because a handful of users want something is no solution either, and no way to run, well, anything.

You don't aim to please everyone, you aim to piss off the least amount of users. Which is whats being done here.

"Many users" do not use and like this feature but "many users" do have things inexplicably broken because someone who thought they, unlike the @wp-media te

[2021-08-23 13:24] NataliaDrause commented on #4276
Related ticket: https://secure.helpscout.net/conversation/1605936940/288558?folderId=3864740

[2021-08-23 13:25] androidacy-user commented on #4023
At the end of the day, you are two users vs the tens of thousands they have. Losing your business means nothing if it improves the experience for the vast majority of users.

[2021-08-23 13:27] jazir555 commented on #4023
No one is forcing you to toggle the option on. There is already a warning cautioning people to reconsider using it. There is zero reason to remove it. It has been in the plugin for a long time, and it benefits _some_ people. That's the entire point of options. If you don't like it, **don't use it.**

[2021-08-23 13:29] androidacy-user commented on #4023
Spoken like a true user, eh.

Another mantra to live by: if few or no one uses it, or it breaks things for a lot of people, it's extra bloat to the codebase and will require unnecessary maintenance, and thus should be removed.

[2021-08-23 13:35] androidacy-user commented on #4023
It's usually not as simple as "just leave it in".

They've already said there's conflicts.

Every piece of code, every function, every option requires continuous maintenance and adds extra code to the already massive codebase.

When a future update breaks it, they have to fix it, just for the couple users that still use it, because those users threw a fit. Does that sound fair to the devs? Maintai

[2021-08-23 13:37] NataliaDrause commented on #3511
Related: https://secure.helpscout.net/conversation/1605936940/288558?folderId=3864740

[2021-08-23 13:38] jazir555 commented on #4023
This plugin _is for the users_. That's the entire point of the product, literally. If it helps people, and people have already bought the plugin, removing features _they paid for_ is wrong. This plugin is meant to benefit the users, not the devs.

[2021-08-23 13:44] androidacy-user commented on #4023
That _two people_ use.

Get something straight right now: two users do NOT dictate the direction of ANY company. Removing a feature that **most** find useless or breaking is not going to hurt them, their business, or development. Keeping will hurt the latter.

Once again, you fail to see beyond what you want as of this exact moment.

It's not about just you.

WP Rocket has tens of thousands of use

[2021-08-23 13:55] jazir555 commented on #4023
Not everybody in the world has a github, github is going to attract a small minority of wp-rocket users. If you were to post this on facebook, for instance, where it would have significantly more visibility, you would most certainly get a different reaction. How about they make a user poll before just making the decision? How do _you_ know how many people use the feature? Your intuition?

I could

[2021-08-23 14:30] jbma commented on #4023
Hi all, we've locked and limited the conversation to collaborators.
First, thank's a lot for providing feedback and contributing to our product developpement.

Our Github repo is the developers work tool, having a lot of not related (to developpement) content make it harder for us to work and collaborate in a good way. That's the reason we've locked it.

On a more global way, our product developpe

[2021-08-23 15:17] ghost opened #4277 "WP Rocket NOT DISCLOSING Features Roadmap to Public | Impossible to Vote for Proposed Features"
Team WP Rocket continues to propose and implement plugin changes without consulting its customers. This forum serves as the BEST EXAMPLE of this finding.

Based on the above, we highly recommend the following:

(1) Team WP Rocket shall not implement any "EPIC" (many times disastrous) plugin changes unless they are put for a vote. The so-called WP Rocket "Public Roadmap" is either not active, not w

[2021-08-23 15:37] piotrbak commented on #4263
@iCaspar In the newest version, they're turning off their feature when DeferJS is enabled:
[code]

It might be hard to reproduce it then. I think we still should exclude this script, just in case something happen in the future. You can manipulate this line to see an error.

Delay JS still need an exclusion.

[2021-08-23 15:38] androidacy-user commented on #4277
Why do you think you're more special than all the other paying customers?

You open issue after issue complaining the they didn't consult _you_ before doing anything. Do you notice a difference in tone between you and everyone else? You're acting entitled, that's what.

Wait, are you giving orders now? I don't recall the part where you were any leadership in WP Media.

And making threats too, nice

[2021-08-23 15:45] jbma commented on #4277
Hi Jetxpert,
Thank's (again) for your contribution. Github isn't a forum, that's where our developpement, product and support team is working;
This feedback isn't really accurate here, and I'm going to quote again the WordPress philosophy which we follow :

[2021-08-23 15:45] #4277 closed, assigned to nobody

[2021-08-23 15:46] Jetxpert commented on #4277
@androidacybot,

We typically don't respond to Bots, but we'll make an exception in your case.

Did you read the first part of our entry? "... we highly recommend..."

Knock yourselves out.

Cheers!

[2021-08-23 15:50] androidacy-user commented on #4274
Do you use cloudflare? When I was having this issue, the WAF was blocking most of the generation requests.

[2021-08-23 16:19] #4253 closed, assigned to nobody

[2021-08-23 18:11] remyperona commented on #4275
Duplicate of #2713

[2021-08-23 18:11] #4275 closed, assigned to nobody

[2021-08-23 18:14] remyperona commented on #4270
We won't make this an option, but we could add a filter to allow users to change the value of the tag to be match in the search & replace.

[2021-08-23 18:15] #4268 closed, assigned to nobody

[2021-08-23 18:18] remyperona commented on #4264
Hi,
Our Github repository is not for support request. I invite you to do a request to our support team through to be helped on that matter: https://wp-rocket.me/support/

[2021-08-23 18:18] #4264 closed, assigned to nobody

[2021-08-23 18:21] #4249 closed, assigned to nobody

[2021-08-23 18:22] remyperona commented on #4247
Duplicate of #3968

[2021-08-23 18:22] #4247 closed, assigned to nobody

[2021-08-23 18:25] remyperona commented on #4274
Duplicate of #4237

[2021-08-23 18:25] #4274 closed, assigned to nobody

[2021-08-23 18:43] remyperona commented on #4208
I agree, and matching against query string in the htaccess would be adding a lot of complexity for a very small performance gain

[2021-08-23 18:45] iCaspar commented on #4276
### Reproduced locally
✅

### Root cause
This is a treeshaker issue.
In the DomParser, we do not find links that are `rel=preload` when we collect CSS:
https://github.com/wp-media/tree-shaker/blob/3c0fae3540b3b2526ecdea99313e7a33eba24aa7/app/Services/DomParser.php#L867
(It is being found by Rocket's ResourceFetcher, because it's matching on `rel=stylesheet` which is still included in the onload pa

[2021-08-23 18:57] richiekastl commented on #4270
That would be fantastic! Which release do you think your team would be able to fit it in?

[2021-08-23 19:00] #4113 closed, assigned to nobody

[2021-08-23 19:02] #4091 closed, assigned to nobody

[2021-08-23 21:18] alfonso100 opened #4278 "IIS servers - avoid PHP warnings when colons are used in URLs"
**Before submitting an issue please check that you’ve completed the following steps:**
Yes - Made sure you’re on the latest version
Yes - Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
when visiting a URL with a colon, we try to create the cache file and this causes a warning on IIS servers because the colon is not a valid character for filenames:

[2021-08-23 22:43] jazir555 commented on #4274
@androidacybot

Yes I do use the cloudflare WAF! Is there a a way to whitelist wp-rocket css generation?

Edit: Think I found it: https://docs.wp-rocket.me/article/1267-troubleshooting-critical-css-generation-issues

[2021-08-24 07:24] javiergutierrezchamorro commented on #4269
+1

[2021-08-24 11:29] NataliaDrause commented on #3900
Related: https://secure.helpscout.net/conversation/1599617308/287111

and the same on my test site

[2021-08-24 12:54] androidacy-user commented on #4269
@javiergutierrezchamorro instead of replying "+1", hit the thumbs up emoji

[2021-08-24 14:52] alfonso100 opened #4280 "Always Purge URL(s) box - prevent full cache clearing when adding a /"
**Is your feature request related to a problem? Please describe.**
When a customer adds a `/` inside the **Always Purge URL(s)** textarea, the whole cache is deleted whenever a post or page is updated.
It can be the case when customers want to clear the homepage cache after any update/additon.

<img width="785" alt="Screen Shot 2021-08-24 at 11 49 43 AM" src="https://user-images.githubusercontent.

[2021-08-24 16:22] jorgemartine00 opened #4281 "Created draft added via CLI added to Never Cache URLs when posted when home page is excluded"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When a draft is created via CLI and the home page has been added to the Never Cache URLs, it matches the rule and marks the "Never Cache URLs" meta box of the draft,

[2021-08-24 17:39] arianfar62 opened #4282 "PHP Warning: readfile() has been disabled for security reasons in /home/mysite/public_html/mysite.com/wp-content/plugins/wp-rocket/inc/classes/Buffer/class-cache.php on line 180 #491"
hello every one

I had this error in error log file in root folder of site:

PHP Warning: readfile() has been disabled for security reasons in /home/mysite/public_html/mysite.com/wp-content/plugins/wp-rocket/inc/classes/Buffer/class-cache.php on line 180

i changed

readfile( $cache_filepath );
to
echo file_get_contents ( $cache_filepath );

in class-cache.php on line 180

By this change, My probl

[2021-08-24 18:34] remyperona commented on #4270
@richiekastl I can't say yet, and as you can see we have a lot to work on, but we will get around it at some point.

[2021-08-24 18:44] remyperona commented on #4270
### Scope a solution ✅
Add filters to change the patterns used when inserting the delay JS script, used CSS, critical CSS and combine CSS in the `head` of the page.

#### inc\Engine\Optimization\DelayJS\Subscriber::add_delay_js_script()
filter the `$pattern` with the filter name `rocket_delay_js_matching_pattern`

#### inc\Engine\Optimization\RUCSS\Controller\UsedCSS::add_used_css_to_html()
filter

[2021-08-24 19:19] remyperona commented on #4260
### Reproduce the issue ✅
Reproduced the issue on local site

### Identify the root cause ✅
The documentation page was removed, and its content migrated to https://docs.wp-rocket.me/article/27-using-wp-rocket-on-your-ecommerce-site

### Scope a solution ✅
In `inc\Engine\Admin\Beacon\Beacon::get_suggest()`, replace the old link in the `ecommerce` array key by the new link and ID for the english ver

[2021-08-24 19:38] remyperona commented on #4255
### Reproduce the issue ✅
Don't need to

### Identify the root cause ✅
In the case where the function returned null or false, we are trying to use a class method on an object that doesn't exist, causing the fatal error

### Scope a solution ✅
in `inc\ThirdParty\Plugins\Ecommerce\WooCommerceSubscriber::product_has_gallery_images()`, add a conditional check to validate that the `$product` variable i

[2021-08-24 19:43] piotrbak opened #4284 "CSS files added using link preload might not be detected by our regex and processed by RUCSS"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
The following markup is not caught by our regex and stays in the HTML source:
`<link rel="preload" id='preload-test' href="https://domain.com/wp-content/rocket-test-data/sty

[2021-08-24 19:50] piotrbak opened #4285 "JS files added using link preload are not detected by our regex and not processed by JS fetcher"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
The following markup is not caught by our regex and not sent to the SaaS:
`<link rel="preload" href="https://domain.com/wp-content/rocket-test-data/scripts/print-helloworld-

[2021-08-24 20:07] richiekastl commented on #4270
@Tabrisrp Thank you!

[2021-08-25 12:07] jmslbam commented on #3646
If the version number can be removed, but the rest stays intact, that would be great 👍

[2021-08-25 12:36] #4018 closed, assigned to remyperona

[2021-08-25 14:29] Mai-Saad commented on #4199
@GeekPress Do we need to handle the case of safelist URL containing query string? i.e` /test.css?t1=3`
Currently we arenot handling URLs with query string in URL.

[2021-08-25 19:34] remyperona commented on #4137
Duplicate of #4284

[2021-08-25 19:34] #4137 closed, assigned to nobody

[2021-08-25 19:50] remyperona commented on #4243
### Identify the root cause ✅
We are not checking if the `$db_row` variable is an object before trying to use its properties.

### Scope a solution ✅
As noted in the OP, we should check if `$db_row` is an object, and bail-out if it isn't

### Estimate the effort ✅
Effort `[XS]`

[2021-08-25 19:56] remyperona commented on #4241
### Reproduce the issue ✅
Reproduced on test site

### Identify the root cause ✅
The script should not be delayed to avoid this problem

### Scope a solution ✅
Add scripts.mediavine.com/tags/ as a pattern in the WP_Rocket\Engine\Optimization\DelayJS\HTML::$excluded array and add a the script to the fixtures to validate

### Estimate the effort ✅

Effort `[XS]`

[2021-08-25 20:01] remyperona commented on #4227
### Scope a solution ✅
Add `cdn.enable.co.il/licenses/enable-` as a pattern to the defaults exclusion array in AbstractJSOptimization::get_excluded_external_file_path()

### Estimate the effort ✅
Effort `[XS]`

[2021-08-25 20:03] remyperona commented on #4214
### Scope a solution ✅
Add `js.afterpay.com` as a pattern to the defaults exclusion array in AbstractJSOptimization::get_excluded_external_file_path()

### Estimate the effort ✅
Effort `[XS]`

[2021-08-25 20:10] remyperona commented on #4226
### Scope a solution ✅
I'm tempted to go further and bail-out from WP Rocket loading if `WP_IMPORTING` is defined. This would be the same as we do for when `DOING_AUTOSAVE` is defined.

We can add the constant check in `rocket_init()` in `inc/main.php`.

### Estimate the effort ✅
Effort `[XS]`

[2021-08-25 20:18] remyperona commented on #4212
### Reproduce the issue ✅
Reproduced on test site

### Identify the root cause ✅
We don't dismiss the notice when clearing the used CSS, even though we do clear the cache at the same time

### Scope a solution ✅
In `RUCSS\Admin\Subscriber::truncate_used_css_handler(), add a call to `rocket_dismiss_box( 'rocket_warning_plugin_modification' )` after the call to `rocket_clean_domain()`

### Estimate

[2021-08-25 20:24] remyperona commented on #4207
Duplicate of #4243

[2021-08-25 20:24] #4207 closed, assigned to nobody

[2021-08-25 20:27] remyperona commented on #4206
### Scope a solution ✅
Add `ExpiresByType image/avif                     "access plus 4 months"` to `get_rocket_htaccess_mod_expires()`

### Estimate the effort ✅
Effort `[XS]`

[2021-08-25 20:44] remyperona commented on #4188
### Reproduce the issue ✅
Reproduced on test site

### Identify the root cause ✅
in `CombineV2::parse()`, we use the following pattern `^(family=[A-Za-z0-9;:,=%&\+\@\.]+)$`. The `^` means that we expect the string to start with family, which is not always the case.

### Scope a solution ✅
Updating the pattern to remove the `^` token will allow matching the family value wherever it is in the URL's

[2021-08-25 20:47] remyperona commented on #4186
### Reproduce the issue ✅
Reproduced on test site

### Identify the root cause ✅
We are not ignoring comments when parsing the HTML during the critical CSS process.

### Scope a solution ✅
Use the `hide_comments()` method in the `CriticalCSSSubscriber::async_css()` method to do the parsing on an HTML with comments removed.

### Estimate the effort ✅
Effort `[XS]`

[2021-08-25 20:49] remyperona commented on #4180
@GeekPress Since we're going to remove the possibility to have CPCSS and RUCSS enabled at the same time in 3.10, is it worth working on that issue?

[2021-08-25 20:52] remyperona commented on #4169
### Scope a solution ✅
Add the following patterns to the `DelayJS\HTML::$excluded` array:
[code]

Update tests fixtures to validate the change

### Estimate the effort ✅
Effort `[XS]`

[2021-08-25 20:57] remyperona commented on #4121
### Scope a solution ✅
In `DelayJS\Subscriber::add_delay_js_script()`, modify the method to first check for a meta charset tag as the target pattern. If not found, fallback to the current head tag pattern.

Update corresponding tests fixtures to validate the change.

### Estimate the effort ✅
Effort `[S]`

[2021-08-25 21:00] remyperona commented on #4105
### Scope a solution ✅
This should not cause any issue for us, based on what we use monolog for. Still, we will want to do it in the next major version just in case.

In `composer.json`, change the version number for monolog to `2.0`.

### Estimate the effort ✅
Effort `[XS]`

[2021-08-26 12:17] bastbra opened #4289 "Security issue with WP Rocket"
There seems to be a problem with WP Rocket which causes several tries of injections on websites.

The URL that is visited by a bot with the same hostname and IP is https://www.example.com/wp-admin/admin-ajax.php?action=rocket_rucss_warmup_resource_fetcher&nonce=11f068ee56

Wordfence is saying:
"(IP-Adress) left https://www.example.com/wp-admin/admin-ajax.php?action=rocket_rucss_warmup_resource_fet

[2021-08-26 12:49] iCaspar commented on #4289
Hi @bastbra

First, we would kindly ask that to disclose a security issue to our team, please reach out to contact@wp-media.me rather than posting here.

To address your specific concern, these calls are to do with WP Rocket's Remove unused CSS feature. They are to be expected, but you will need to let WordFence know how to handle them. For more, please see https://docs.wp-rocket.me/article/1529-r

[2021-08-26 12:52] #4289 closed, assigned to nobody

[2021-08-26 13:01] #3725 closed, assigned to remyperona

[2021-08-26 13:57] remyperona commented on #4104
### Scope a solution ✅
Add `static.cleverpush.com` as a pattern to the defaults exclusion array in AbstractJSOptimization::get_excluded_external_file_path()

### Estimate the effort ✅
Effort `[XS]`

[2021-08-26 14:14] remyperona commented on #4089
### Reproduce the issue ✅
Reproduced on test site

### Identify the root cause ✅
in `Combine::is_defer_excluded()`, we don't check to see if the defer JS option is enabled, so the exclusions are always applied

### Scope a solution ✅
A good approach would be to update the `DeferJS::get_excluded()` method, to add a conditional check for `can_defer_js()` at the start. If the condition fails, return

[2021-08-26 15:55] spk100 commented on #4230
I have the same issue with the new version.

Wordfence has been going crazy. I have more than 1000 alerts from Wordfence

Activity Detail
Tampa, Florida, United States left https://www.mysite.com/wp-admin/admin-ajax.php?action=rocket_rucss_warmup_resource_fetcher&n… and was blocked by firewall for LFI: Local File Inclusion in POST body: 0=%2Fhome%2Fmysite%2Fpublic_html%2Fwp-content%2Fcache%2Fmin%2

[2021-08-26 18:15] remyperona commented on #4075
### Scope a solution ✅
Add `initCubePortfolio` to the `DelayJS\HTML::$excluded` array

Update tests fixtures to validate the change

### Estimate the effort ✅
Effort `[XS]`

[2021-08-26 18:50] remyperona commented on #4064
### Reproduce the issue ✅
Reproduced the issue on test site

### Identify the root cause ✅
This is happening because the selector to close the congratulations notice is shared with other notices. It should be more specific.

### Scope a solution ✅
in `views/settings/dashboard.php`, add `id="wpr-congratulations-notice"` to the link to close the notice
in `src/js/global/main.js`, replace `.wpr-notic

[2021-08-26 20:20] remyperona commented on #4062
### Scope a solution ✅
Add `consent.cookiebot.com` and `consentcdn.cookiebot.com` as patterns to the defaults exclusion array in `AbstractJSOptimization::get_excluded_external_file_path()`

### Estimate the effort ✅
Effort `[XS]`

[2021-08-26 20:41] remyperona commented on #3879
### Scope a solution ✅
The above solution seems to be spot on!

Add `add_filter( 'pre_get_rocket_option_minify_js', '__return_false' );` in `ThirdParty\Plugins\Optimization\AMP::disable_options_on_amp()`

Update the related tests

### Estimate the effort ✅
Effort `[S]`

[2021-08-26 20:49] remyperona commented on #3839
### Scope a solution ✅
Empty the `inc/front/process.php` file

### Estimate the effort ✅
Effort `[XS]`

[2021-08-26 21:02] remyperona commented on #3813
### Reproduce the issue ✅
Reproduced on test site

### Identify the root cause ✅
In `CSSTrait::apply_font_display_swap()`, we perform a string replacement over the whole font-face declaration, instead of doing it only on the specific `font-display`property, so in some cases where there is `auto`, `block` and the like in the declaration block, they will also be replaced.

### Scope a solution ✅
Upd

[2021-08-26 22:17] webtrainingwheels commented on #3586
https://secure.helpscout.net/conversation/1612557504/290163?folderId=377611

[2021-08-27 11:39] mostafa-hisham commented on #4228
### Reproduce the issue ✅
produce it locally
### Identify the root cause ✅
The CSS parser does not support rgb() with transparency.
also if use spaces to separate rgb or rgba values
### Scope a solution ✅
In css-parser, before parsing the CSS tokens we need to
- replace the spaces with commas.
- replace rgb with rgba if it has transparent (4 values).

in CSSProcessor we can use these 2 functions
[

[2021-08-27 12:41] mostafa-hisham commented on #4145
I tested it locally and couldn't reproduce it

[2021-08-27 13:00] mostafa-hisham commented on #4257
### Reproduce the issue :heavy_multiplication_x:
Couldn't Reproduce it

### Identify the root cause ✅
file_get_contents will generate fatal error with an empty string
### Scope a solution ✅
we can add if condition here
to return false if sting is empty
https://github.com/wp-media/wp-rocket/blob/f0c43a7a9bf0f4a8e7b4fd9a1548e6acd93b09f5/inc/Engine/Optimization/UrlTrait.php#L124
[code]

### Estimate

[2021-08-27 16:13] sandyfzu opened #4291 "Minify JS: Comments are not being removed correcty in some cases (3.9.2)"
**Before submitting an issue, please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ (3.9.2)
- Used the search feature to ensure that the bug hasn’t been reported before  ✅

**Describe the bug**
In 3.9.2 Minify JS is not removing the comments correctly. The issue happens when two slashed plus an "i" are in the file, so, something like this will be left

[2021-08-27 18:28] #4291 closed, assigned to remyperona

[2021-08-27 18:55] webtrainingwheels commented on #4291
https://secure.helpscout.net/conversation/1613512341/290440?folderId=377611

[2021-08-27 19:13] camilamadronero-zz commented on #1167
Request https://secure.helpscout.net/conversation/1612639108/290193?folderId=2675957

[2021-08-27 20:16] remyperona commented on #4282
Hi @arianfar62,

`readfile()` being disabled on an hosting is quite unusual these days, and I don't think we encountered that often before.

While your change is fine, it will be overwritten when you next update the plugin, so it's not something that is going to work long-term.

My suggestion would be to change your hosting provider, `readfile()` is safely used in our plugin, so there isn't really

[2021-08-27 21:10] alfonso100 commented on #4291
https://secure.helpscout.net/conversation/1613749071/290507?folderId=4130695

[2021-08-28 09:13] viobru commented on #4161
Related: https://secure.helpscout.net/conversation/1613709301/290496/

[2021-08-28 18:33] arianfar62 commented on #4282
Thank you very much for your invaluable guidance
I have just called hosting and I am waiting for an answer.
Yes you are right and my changes will be removed with the plugin update and I will see the problem again.

I wish you and everyone good health

[2021-08-28 18:33] #4282 closed, assigned to nobody

[2021-08-29 06:27] NataliaDrause opened #4293 "RUCSS: compatibility with Divi card carousel pagination"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.9.1.1.
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
The card carousel block pagination is missing some styles when Remove Unused CSS is enabled.

Broken layout:
![image](https://user-images.githubusercontent.

[2021-08-29 06:38] NataliaDrause opened #4294 "RUCSS: compatibility with Divi elements alignment"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.9.1.1.
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
Alignment of the elements is broken when Remove Unused CSS option is enabled.

Broken layout:
![image](https://user-images.githubusercontent.com/60236665/13

[2021-08-29 22:09] ROGMARQ14 commented on #3842
Also, will preloaded images be automatically excluded from lazy loading? I think one has to go hand in hand with the other. Like, if users decide to preload featured or critical images these would have to be excluded from lazy loading.

I would love if WPR can mimic what Flying Press does regarding this.

[2021-08-30 05:08] NataliaDrause commented on #3968
Related: https://secure.helpscout.net/conversation/1613539137/290448?folderId=3864740

[2021-08-30 07:40] mostafa-hisham commented on #4263
### Reproduce the issue ✅
Reproduced locally only when Delay JS is on

### Identify the root cause ✅
As @piotrbak  explained in the issue
 Divi turning off the "JQuery Body" feature when DeferJS is on
 we need to turn it off also if the delay js is on
### Scope a solution ✅
In Divi ThirdParty Class
we need to send false to "et_builder_enable_jquery_body" that turn off the feature in Divi if delay

[2021-08-30 08:39] Mai-Saad commented on #4293
Probably duplicated or related to https://github.com/wp-media/tree-shaker/issues/163

[2021-08-30 13:13] remyperona commented on #2999
This issue has been solved with the following PR #3239

The inline script is excluded from combine JS to avoid the problem.

[2021-08-30 13:13] #2999 closed

[2021-08-30 13:49] remyperona commented on #3009
This issue was partially fixed with PR #4110, because we added a conditional to avoid processing `link` with the `media="print"` value.

But the part highlighted by Ahmed is remaining. What's happening is that since we use `rel="preload"` and a media query, if the current viewport doesn't match the media query, the onload event is not fired.

### Scope a solution ✅
To avoid the problem, we could s

[2021-08-30 14:56] slomeli79 commented on #2817
Does this mean that the "never cache URLs" setting in WP Rocket need to be duplicated within the Runcloud Hub settings for exclusion as well? I'm posing the same question to the Runcloud team. Thanks in advance.

[2021-08-30 15:32] camilamadronero-zz commented on #3142
Related https://secure.helpscout.net/conversation/1613606249/290464/

[2021-08-30 17:27] camilamadronero-zz opened #4297 "Add Customization to the Integrated Heartbeat Feature"
**Is your feature request related to a problem? Please describe.**
The integrated Heartbeat feature in WP Rocket doesn't offer the option to set the specific the Heartbeat frequency, and if the project requires it, customers need to install the Heartbeat Control plugin too. Increasing the number of installed plugins.

**Describe the solution you'd like**
Add the Modify Heartbeat option to customiz

[2021-08-30 17:40] webtrainingwheels commented on #4291
https://secure.helpscout.net/conversation/1612593445/290180?folderId=377611

[2021-08-30 18:29] jurijc opened #4298 "<link rel="preload" as="image" in head is removed"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
All link rel preload are removed from head. I have tried to add it in function.php also to code directly in header. Unfortunatly they are removed

<link rel="preload" href="

[2021-08-30 19:04] remyperona commented on #3464
### Scope a solution ✅
In `Purge::get_post_terms_urls()`, use `array_filter()` to make sure we don't return empty or null value in the generated array.

### Estimate the effort ✅
Effort `[XS]`

[2021-08-30 19:37] remyperona commented on #3617
### Scope a solution ✅
in `common/purge.php`, `do_admin_post_rocket_purge_cache()`, add a call to `rocket_clean_cache_busting()` after `rocket_clean_minify()` on line 439

### Estimate the effort ✅
effort `[XS]`

[2021-08-30 19:45] alfonso100 opened #4299 "Used CSS is not cleared after editing a taxonomy"
**Before submitting an issue please check that you’ve completed the following steps:**
YES - Made sure you’re on the latest version
YES - Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
We are not clearing the used css after editing a category, or product category.
If the category has, for example, description-related CSS, it won't be included since

[2021-08-30 19:52] remyperona commented on #3704
### Scope a solution ✅
In `get_rocket_htaccess_charset()`, check if the value of `$charset` is empty before trying to use it. If empty, bail-out with an empty string.

### Estimate the effort ✅
Effort `[XS]`

[2021-08-30 20:33] camilamadronero-zz commented on #4291
https://secure.helpscout.net/conversation/1615398073/290889/

[2021-08-30 20:56] #4298 closed, assigned to nobody

[2021-08-31 08:22] Mai-Saad commented on #4299
For retest:
1- Enable RUCSS, cache category page => entry added in used CSS table
2- Change CSS of any page element from appearance-> add custom CSS   (i.e https://blog.hubspot.com/website/style-individual-categories-wordpress) and save => expected here that page entry removed from UCSS table
3- Access the category page again => expected here to see updated style and new entry added to used CSS ta

[2021-08-31 09:38] DahmaniAdame commented on #4297
If added to the UI, it might be wrongly used by customers not really needing to modify the Heartbeat increased periodicity (we set it to 120s).

Maybe just adding a filter to control the periodicity will do the trick for users really needing it?

https://github.com/wp-media/wp-rocket/blob/develop/inc/Engine/Heartbeat/HeartbeatSubscriber.php#L76-L85

[2021-08-31 10:15] DahmaniAdame commented on #4072
Related - https://secure.helpscout.net/conversation/1615837516/290982/
Hosting service: SiteGround
WP Rocket version: `3.9.2`
Other notes: Large numbers of posts (10k+) + large number of CSS and JS files (40+ for each).

[2021-08-31 11:42] NataliaDrause commented on #2588
Related: https://secure.helpscout.net/conversation/1616037038/291051

[2021-08-31 12:40] GeekPress opened #4303 "Update Delay JS script to the latest version"
For the 3.9.3 release, we need to update the Delay JS script to the latest version available. This version fixes a bug to avoid the user clicks on a button and nothing happens.

Branch to be merged: `replay-events`

[2021-08-31 13:39] lukecav opened #4304 "RUCSS - wp_wpr_rucss_resources database table was 463MB on a site"
**Describe the bug**
The remove unused CSS feature was enabled on the site which caused the `wp_wpr_rucss_resources` database table to grow to be 463MB in size. On another site, the `wp_wpr_rucss_resources` database table was over 200MB in size.

WP Rocket's current version is being used is 3.9.2 on WordPress version 5.8.

[2021-08-31 14:59] #4263 closed, assigned to mostafa-hisham

[2021-08-31 15:50] mehedihasanziku commented on #4156
This is somehow related to my other cases without elementor

Like:

**`With WP-Meteor:`** If i exclude some JS including jQuery It fires all JS perfectly. [ no console errors ]
**`With WProcket:`** If i exclude some JS including jQuery It doesn't fires all JS perfectly. [ no console errors ]

**`Explaination With WP-Meteor:`** We don't need to exclude more JS like WProcket to make all other JS wor

[2021-08-31 16:29] iCaspar opened #4305 "Allow helper validation to run on pattern fields when importing settings"
**Describe the bug**
Helper pattern-cleaning functions are used to correct common type-Os made in pattern fields when saving options. These helpers are not applied when importing settings.

**To Reproduce**
Steps to reproduce the behavior:
1. Temporarily disable/comment out the `pre_update_option` [filter](https://github.com/wp-media/wp-rocket/blob/410f1fa767a12d97bdccaa90553348d2faeda704/inc/admi

[2021-09-01 06:55] DahmaniAdame opened #4309 "Excluding FreshChat from Delay JavaScript Execution not working (possibly an issue with async JavaScript)"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.9.2`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When trying to exclude FreshChat scripts from Delay JavaScript Execution in order for the chatbox to show on page load, the part of the script needed to show

[2021-09-01 11:50] marija-nikolic opened #4313 "Install Klaviyo WooCommerce plugin (Abandoned cart campaign migration from Jilt to Klaviyo)"
**Is your feature request related to a problem? Please describe.**

Jilt service (email platform we are using for the abandoned cart campaign) will be discontinued on April 30, 2022.
Since we are already using Klaviyo for email marketing and Jilt suggested it as well, we would like to migrate our campaign to Klaviyo.
Jilt's migration guide: https://help.jilt.com/en/collections/2886594-migrate-to-a

[2021-09-01 12:45] #4257 closed, assigned to mostafa-hisham

[2021-09-01 13:06] Mai-Saad commented on #4305
Note for the retest: we need to check the update case too

[2021-09-01 14:43] Mai-Saad opened #4314 "Items added to settings_errors transient are not displayed on settings update"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.9.2
- Used the search feature to ensure that the bug hasn’t been reported before =>yes

**Describe the bug**
A clear and concise description of what the bug is.
When using an invalid regex, it is removed from UI without displaying a notice

**To Reproduce**
Steps to

[2021-09-01 16:21] iCaspar commented on #4136
PR #4195 is working, but there appears to be an issue with the clear cache modifying the settings that removes the escaping in some cases. When the escaping is removed, preg_match throws a warning when evaluating malformed entries. This was observed in the Exclude JavaScript Files field, but may extend to others as well.
@Mai-Saad @iCaspar.
This issue needs to be resolved before we can merge this.

[2021-09-02 05:36] GeekPress commented on #2817
@slomeli79 I don't know how the purging feature is working. You can easily do the test yourself to know if you have to duplicate the exclusions. But I think it should be the case ;)

[2021-09-02 07:11] DahmaniAdame commented on #3968
A reported working fix by a customer is to use `urldecode()` on the `$path` variable - https://github.com/wp-media/wp-rocket/blob/v3.9.4/inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php#L630

```$path = wp_parse_url( $used_css->url, PHP_URL_PATH );```

[code]

It needs to be tested for all encoded languages (Arabic, Chinese, Greek... etc).

Related ticket - https://secure.helpscout.net/convers

[2021-09-02 07:44] mostafa-hisham commented on #4271
### Reproduce the issue :heavy_multiplication_x:
I don't have Ocean Elementor Widgets plugin

### Identify the root cause ✅
The script should not be delayed to avoid this problem
But I don't know if should add it in WooCommerceSubscriber.php
i think it is better to exclude it in elementor`inc/ThirdParty/Plugins/PageBuilder/Elementor.php`
or create a new ThirdParty compatibility class

### Scope a

[2021-09-02 08:08] mostafa-hisham commented on #4219
### Reproduce the issue :heavy_multiplication_x:
No need to

### Identify the root cause ✅
We should offer the ability to filter the `display` attribute.

### Scope a solution ✅
edit `get_combined_url` in Both
* [Combine Google fonts v1](https://github.com/wp-media/wp-rocket/blob/7bc0dd8dcc0ef5e2af156d978c8a437ec8bb1bd1/inc/Engine/Optimization/GoogleFonts/Combine.php#L142)
* [Combine Google fonts

[2021-09-02 10:14] GeekPress commented on #4180
Indeed, we can close this issue.

[2021-09-02 10:14] #4180 closed, assigned to nobody

[2021-09-02 10:16] GeekPress commented on #4199
@Mai-Saad If we safelist `/test.css` it should safelist all `/test.css?x=x` cases

[2021-09-02 10:18] GeekPress commented on #4208
Thanks, @Tabrisrp for your feedback. I'm closing the issue as we won't fix it.

[2021-09-02 10:18] #4208 closed, assigned to nobody

[2021-09-02 10:20] GeekPress commented on #2245
Hi @nsgoyat,

We have no update and no ETA to provide you. We currently have 591 open issues, and we need to prioritize what we want to fix. This issue is more an enhancement and not something really urgent compare to other current issues we have.

[2021-09-02 10:22] nsgoyat commented on #2245
I never asked for an ETA. I was just wondering if you dropped the plans to add this compatibility for NGINX users or it's still on your list.

[2021-09-02 10:23] GeekPress commented on #4203
@sarangsss29 Adding an option to disable/enable our caching feature isn't something we plan to have. It's a decision we took since the first version and we won't change it.

By the way, your problem should be fixed by your hosting. You are looking for another solution to cache your website, when this could be fixed by your hosting ;)

[2021-09-02 10:23] #4203 closed, assigned to nobody

[2021-09-02 11:02] mostafa-hisham commented on #4210
### Reproduce the issue :heavy_multiplication_x:
i can see the problem

### Identify the root cause ✅
the regex in CSS Minify that finds "url " in css bails out after it finds the first "url()"

### Scope a solution ✅
we need to add 'g' at line 154
`/ixg',`

https://github.com/wp-media/wp-rocket/blob/10461309b8a77102d5069beb31cca7130ad3f997/inc/Dependencies/Minify/CSS.php#L116-L155

### Estimate t

[2021-09-02 12:03] WPcare opened #4315 "Updating documentation for Divi"
Hi there,

Is there any chance someone would update the [Divi theme documentation](https://docs.wp-rocket.me/article/657-divi-theme ) to reflect the more recent changes to the theme?

[2021-09-02 13:00] piotrbak opened #4316 "Excluded import file might have wrongly rewritten path with RUCSS"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
At some point we introduced adding content of `@import` files to the parent CSS file. We also gave a possibility to exclude imported files from this feature.

When the file

[2021-09-02 14:39] Mai-Saad opened #4317 "RUCSS is stuck at fetching if we update theme while RUCSS is inprogress"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.9.3
- Used the search feature to ensure that the bug hasn’t been reported before =>yes

**Describe the bug**
A clear and concise description of what the bug is.
RUCSS is stuck at fetching if we update the theme while RUCSS is in progress

**To Reproduce**
Preconditio

[2021-09-02 16:12] GeekPress commented on #3990
Closing the issue as we are missing infos.

@79ho3ein Feel free to complete your initial message if you want us to be able to work on this problem.

[2021-09-02 16:12] #3990 closed, assigned to nobody

[2021-09-02 16:30] piotrbak opened #4320 "Divi 4.10+ compatibility improvement"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When we have specific settings enabled, we'll change the order of the styles. Which might cause the layout problems. Problematic setup:
1. WP Rocket's **CSS Combination** en

[2021-09-02 16:57] lukecav commented on #4304
Looks related to
https://github.com/wp-media/wp-rocket/issues/4161

[2021-09-02 17:00] webtrainingwheels opened #4321 "Delay JS default exclusions cause error with Google Recaptcha and CF7"
- tested on 3.9.2

**Describe the bug**
When using Contact Form 7's recaptcha module and the default exclusions for Delay JS, an error prevents the form working:
<img width="934" alt="Screen Shot 2021-09-02 at 9 56 15 AM" src="https://user-images.githubusercontent.com/1043076/131885685-a0977297-ebc6-40db-bfa3-f043ef86b44b.png">

This is the file that needs to be excluded in that case: `https://www

[2021-09-02 17:08] webtrainingwheels opened #4322 "Debug Log: Add an admin notice when it's active"
**Is your feature request related to a problem? Please describe.**
The debug log file grows very quickly. If we forget to disable it, it can cause issues due to the file size.

**Describe the solution you'd like**
Add an admin notice when the log is enabled so that we will remember to deactivate it.
Extra nice would be to trigger it at a certain file size or after a period of time, but that's not

[2021-09-02 23:47] camilamadronero-zz commented on #4315
Hey there,

We've updated the [Divi theme doc](https://docs.wp-rocket.me/article/657-divi-theme#perf-update) a few hours ago. Please feel free to open a support ticket if you have any  additional questions!
Thanks for your patience :)

[2021-09-02 23:47] #4315 closed, assigned to nobody

[2021-09-03 07:12] Yahav commented on #4006
There's no such issue though, when using the link provided by @piotrbak i get:
This issue has been moved to a repository you don't have access to.

This issue is rather quite elementary and we have no way of knowing whether or not its being worked on.

EDIT:
Meanwhile you can add the following to the safelist to solve this
[code]

[2021-09-03 09:33] lucalbert opened #4323 "Allow setting the cache-control header"
The Cache-Control header is a simple way to optimize the performance of a site.

I think it could be interesting that WP Rocket allows to manage this setting, and to be able to transmit this header for the pages, whether they are cached or not yet.
This therefore implies, a priori, to store somewhere (a "meta" file linked to the cache file, just like the gzipped version?)

At the configuration lev

[2021-09-03 11:31] mostafa-hisham commented on #4179
@vmanthos is Pixfuture a plugin?

[2021-09-03 11:33] mostafa-hisham commented on #4179
**if Pixfuture is not a plugin**
### Reproduce the issue :heavy_multiplication_x:

### Identify the root cause ✅
The script should not be delayed to avoid this problem

### Scope a solution ✅
Add
[code]

as patterns in the
WP_Rocket\Engine\Optimization\DelayJS\HTML::$excluded array
and update the fixtures to validate

### Estimate the effort ✅

Effort `[XS]`

[2021-09-03 12:43] mostafa-hisham commented on #4171
### Reproduce the issue :heavy_multiplication_x:
I couldn't install Judge.me Product Reviews for WooCommerce plugin locally

### Identify the root cause ✅
The inline script should not be delayed to avoid this problem

### Scope a solution ✅
for new ThirdParty compatibility class
We need to create a new plugin ThirdParty compatibility class for  Judge.me Product Reviews for WooCommerce plugin
in "g

[2021-09-03 13:20] mostafa-hisham commented on #4138
I think the work we did in this issue #4263 should fix this

[2021-09-03 13:57] WordPresseur commented on #2852
Related ticket: https://secure.helpscout.net/conversation/1615839743/290984?folderId=1213662

[2021-09-03 14:17] alfonso100 commented on #2852
Using this helper to cache the feeds, has the side effect of allowing the cache of these URLs:
https://github.com/wp-media/wp-rocket-helpers/tree/master/cache/wp-rocket-cache-feed

[2021-09-03 14:37] camilamadronero-zz opened #4324 "Compatibility with Varnish Control Key"
**Is your feature request related to a problem? Please describe.**
Some Varnish setups include a Control Key, WP Rocket is not compatible with it, resulting in non-syncronized cache layers.
Customers must manually clear Varnish cache using other plugins or solutions outside WP Rocket.

**Describe the solution you'd like**
Add compatibility with the Varnish Control Key so that Varnish cache is clea

[2021-09-03 14:43] camilamadronero-zz commented on #4324
Moved to the feedback portal
https://feedback.wp-rocket.me/84

[2021-09-03 14:43] #4324 closed, assigned to nobody

[2021-09-03 16:48] camilamadronero-zz opened #4325 "Enable Last Minor Version in the Rollback Feature"
**Is your feature request related to a problem? Please describe.**
Sometimes if the minor version causes an issue, rolling back to the previous major version implies a bigger () reversion than just rolling back to the previous minor version.
Customers need to log a ticket and ask for the previous minor version.

**Describe the solution you'd like**
Add the option to rollback to the previous minor

[2021-09-03 18:29] #4303 closed, assigned to remyperona

[2021-09-04 22:45] alexsoyes commented on #2952
Sadly not working to me, filter `rocket_buffer` is never called on WP Rocket's plugin.

We really need WP media to fix this :)

[2021-09-05 06:22] NataliaDrause opened #4327 "RUCSS and Autoptimize compatibility"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.9.3
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
When Autoptimize `CSS Options` -> `Optimize CSS Code?` and/or `Aggregate CSS-files?` options are enabled, and _Remove Unused CSS_ option in WP Rocket is turned

[2021-09-05 08:30] hogash opened #4328 "RUCSS, apply_filters on "safelist" selectors"
**Describe the solution you'd like**
Apply a filter on the "safelist" list of selectors that's passed on to RUCSS mod.

**Additional context**
Should work pretty much the same as it does on the other options "exclusions" lists.

Thanks!

[2021-09-05 08:46] NataliaDrause commented on #4143
Related ticket: https://secure.helpscout.net/conversation/1610683804/289711/

Safelisted the following to resolve the issue:
[code]
The selectors are added with the JS file: `/wp-content/themes/Divi/js/scripts.min.js`

When Dynamic CSS in Divi 4.10+ is enabled, safelisting `/wp-content/et-cache/67/et-divi-dynamic-67.css` can be also sufficient, since the unused Divi CSS is removed.

[2021-09-06 07:58] vmanthos commented on #4325
One can roll back to a previous version other than the latest major version by adding the following snippet in the `wp-config.php` file while changing `3.9.2` to the desired version:
[code]
In this example, rolling back will install WP Rocket `3.9.2`.

Of course, the version should be one that is listed in our [changelog](https://wp-rocket.me/changelog/).

@camilamadronero We can add this in [our

[2021-09-06 08:24] mostafa-hisham commented on #4280
### Reproduce the issue ✅
Reproduced locally

### Identify the root cause ✅
when adding "/" inside the Always Purge URL(s) Textarea, the whole cache is deleted whenever a post or page is updated.

### Scope a solution ✅
edit the green notice under the textarea to say that if the / is used it will clear the full cache.
add "<br>Use / to clear the full cache." to the end of the text
https://github.c

[2021-09-06 08:31] vmanthos commented on #4280
@mostafa-hisham In the alternate solution you suggested, maybe we can run `rocket_clean_home()` when `'/' === $page` to clear the cache of the homepage:
https://github.com/wp-media/wp-rocket/blob/745167427c51a0766f63a97eec7c23ebfbbff2ef/inc/functions/files.php#L579-L661

[2021-09-06 09:17] mostafa-hisham commented on #4280
@vmanthos the home page is going to be cleared after any post or page update
it will be called here rocket_clean_post line 242 (Update cache when a post is updated or commented)
 https://github.com/wp-media/wp-rocket/blob/745167427c51a0766f63a97eec7c23ebfbbff2ef/inc/common/purge.php#L186-L259
 so no need to call it in the condition

[2021-09-06 09:18] vmanthos commented on #4280
You are right. Thank you!

[2021-09-06 09:22] mostafa-hisham commented on #4184
### Reproduce the issue ✅
Reproduced on test site

### Identify the root cause ✅
The script should not be delayed to avoid this problem

### Scope a solution ✅
Add adsbygoogle in the `WP_Rocket\Engine\Optimization\DelayJS\HTML::$excluded` array and add a the script to the fixtures to validate

### Estimate the effort ✅

Effort `[XS]`

[2021-09-06 12:04] mostafa-hisham commented on #4041
### Reproduce the issue :heavy_multiplication_x:
I don't have Enfold theme

### Identify the root cause ✅
create a new theme ThirdParty compatibility class

### Scope a solution ✅
for new ThirdParty compatibility class
We need to create a new theme ThirdParty compatibility class for  Enfold
in "get_subscribed_events" check if the Enfold theme is active and add
`$events['rocket_delay_js_exclusions'

[2021-09-06 12:38] viobru commented on #3938
Related: https://secure.helpscout.net/conversation/1621624657/292327/

[2021-09-06 13:37] Mai-Saad commented on #4327
Using Autoptimize 2.9.2, it was reproducible on the test site when both `Optimize CSS Code?` and `Aggregate CSS-files?` are enabled.

[2021-09-06 14:37] ghost opened #4330 "Allow custom host(s) for cache generation"
**Is your feature request related to a problem? Please describe.**
Hi,
i'm working on a project which have a reverse-proxy environment with a custom host for the "public front url" and another host url for the administration.
I realised WP Rocket never generated static cache for my public front url.

For a better understanding of the situation:
- WP is installed & configured on a url which look li

[2021-09-06 16:03] blogtutor commented on #4280
I don't think adding `Use / to clear the full cache` to the notes is a reliable solution. Most users don't read the fine print, and I think it's a bit confusing since `/` _should_ mean _only_ the homepage -- especially since the instructions explicitly say to use a wildcard for multiple paths.

Based on the proposed solutions so far, I think the best solution is "just ignore this parameter."

This

[2021-09-06 19:37] alfonso100 commented on #1365
this would be a good addition. I had a couple of cases where the constant was still off and that was causing issues (non responsive WP Rocket settings page, server space, hight CPU usage)

[2021-09-06 19:57] mifrero commented on #2366
Related ticket: https://secure.helpscout.net/conversation/1621966518/292392?folderId=2952229

[2021-09-06 20:50] webtrainingwheels commented on #4322
This is a duplicate of: https://github.com/wp-media/wp-rocket/issues/1365

[2021-09-06 20:50] #4322 closed, assigned to nobody

[2021-09-06 21:49] camilamadronero-zz commented on #4325
@vmanthos Thank you!! Yes, it's a great workaround in the meantime!
The doc update is done too. Please ping me if we should edit it further/better.

Just in case, I would still insist on having a UI option. Just to make it super mega easy and fast to customers.

[2021-09-07 02:20] d19dotca commented on #3586
In my case it's self-hosted videos, so this doesn't appear to only be an issue with YouTube-hosted videos.

For a bug tagged as "high priority", it's disappointing to see this still open in September when it was filed in February. 😞  I hope this will be fixed soon, please.

[2021-09-07 06:56] NataliaDrause opened #4331 "CSS rules added with inline JS script $("head").append are removed and not added to the Used CSS"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.9.3
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
When _Remove Unused CSS_ option is enabled, the CSS rules that are added with inline JS script `$("head").append` are being removed from the source code and no

[2021-09-07 08:52] mehedihasanziku commented on #4331
yes, i was supposed to report this issue today after more testing. but finally it's reported 👍

[2021-09-07 09:14] #4255 closed, assigned to mostafa-hisham

[2021-09-07 09:15] #4075 closed, assigned to mostafa-hisham

[2021-09-07 09:15] #4212 closed, assigned to mostafa-hisham

[2021-09-07 09:18] #4241 closed, assigned to mostafa-hisham

[2021-09-07 09:27] #4169 closed, assigned to mostafa-hisham

[2021-09-07 11:07] NataliaDrause commented on #4161
Related: https://secure.helpscout.net/conversation/1622665487/292549

[2021-09-07 20:05] camilamadronero-zz commented on #4258
Probably related https://secure.helpscout.net/conversation/1623540338/292771/

[2021-09-08 00:13] jazir555 opened #4334 "Generate specific critical path css is not working again for the 7th time"
**Describe the bug**
Generate specific critical css is not working again. This is the 7th time this has happened. Why does critical css generation continue to fail randomly, and then start working again? This is incredibly frustrating.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to generate specific critical path css.
2.  The spinning icon will appear for a few seconds, then disappea

[2021-09-08 06:00] NataliaDrause opened #4335 "RUCSS: compatibility with Neve theme mobile menu"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.9.3
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
Hamburger menu button on mobile is not working (mobile menu is not expanding) when _Remove Unused CSS_ is enabled.

Safelisting the following selectors resolve

[2021-09-08 07:00] GeekPress commented on #4334
Please open a ticket support.

@jazir5 If you don't stop using GH for asking for support, we will have to ban you from our repository.

[2021-09-08 07:00] #4334 closed, assigned to nobody

[2021-09-08 11:30] NataliaDrause opened #4336 "RUCSS: compatibility with Smart Variations Images & Swatches for WooCommerce"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.9.3
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
The thumbnails of the product slider under the featured image break when _Remove Unused CSS_ is enabled.

Safelisting the following selectors resolve the issue

[2021-09-08 12:38] vmanthos commented on #4199
A side-effect of this is that URLs of resources that are dynamically named, e.g.:
https://www.example.com/wp-content/themes/Divi/style-static-cpt.min.divi-switch-4.0.9.css?ver=1630993532

will cause the clearance of the `rucss_used_css` table every time a new page is cached.

This is because a new version of that file will be discovered, due to `ver` changing every time a page is cached. This will

[2021-09-08 12:42] iCaspar commented on #4136
The issue with clear cache is resolved here. Also, we will be able to perform the regex escaping when importing settings now as well.

[2021-09-08 12:55] iCaspar commented on #4199
To follow up on @vmanthos note above:

On the treeshaker (SaaS) side, the planned changes to move to an all-redis caching and allow fetching of not-found external-to-SaaS-cache resources to be fetched at treeshake time _should_ resolve the resource duplication/failure-to-include _from the SaaS side_. So at least resources with dynamic urls (mostly `?ver`-related URL changes) will be included in th

[2021-09-08 12:59] NataliaDrause opened #4337 "Add wp_next_scheduled() check for rocket_rucss_clean_rows_time_event"
Feedback from the customer: https://secure.helpscout.net/conversation/1624163812/292950

The current implementation calls `wp_clear_scheduled_hook` each time the WP init hook is called.

The reason is this code:

[code]

It would be better to check for a scheduled event before trying to unschedule something. Like this:

[code]

Slack thread: https://wp-media.slack.com/archives/C029G1B5HD2/p1631088

[2021-09-08 16:25] piotrbak commented on #3142
Hello! We're still looking closely at this issue, of course. It's possible that in some cases the issue is not related to the Delay JS itself, but the [CSS code](https://stackoverflow.com/questions/32371431/hover-on-ios-mobile-devices-turns-into-double-touch-instead-of-hover):
[code]

If you can confirm that the problem is not happening when Delay JS is enabled (or WP Rocket's optimizations bypass

[2021-09-08 17:51] alfonso100 opened #4338 "Add a "Service Status and Connectivity" tab or widget to WP Rocket settings page"
**Is your feature request related to a problem? Please describe.**
We get tickets where, for diverse reasons, the customer server can't communicate with our services.

It'd be really useful to incorporate a place in the UI, where the user can see if their server can connect with our services: CPCSS, RUCSS, License Validation, RocketCDN,  etc

**Describe the solution you'd like**
It could be inside

[2021-09-08 18:43] mifrero opened #4339 "Delay JS add compatibility exclusions for Sassy Social Share plugin on WP Rocket core"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
WP Rocket 3.9.3 ✔
- Used the search feature to ensure that the bug hasn’t been reported before
Exclusions are added on the [Delay JS compatibility exclusions article](https://docs.wp-rocket.me/article/1560-delay-javascript-execution-compatibility-exclusions#sassy-social-s

[2021-09-08 18:59] webtrainingwheels commented on #4161
https://secure.helpscout.net/conversation/1624701987/293120/

[2021-09-08 22:59] blogtutor commented on #3142
Hi @piotrbak - I'm unclear if you're looking for a site that has the issue, or doesn't have the issue? But in case it's helpful, here's a client site that has it: https://cubesnjuliennes.com.

We currently have both Delay JS & Defer JS Enabled (with a few exclusions for her ConvertPro, her opt-in tool).  I'm able to reproduce the "must tap twice" issue on the homepage on my iPhone...both cached/op

[2021-09-08 23:15] bemyhre commented on #3142
I also *had* this issue until I turned off delay js at https://ramshacklepantry.com

It was very similar steps to reproduce that @blogtutor pointed out, but at my site AND ?nowprocket worked fine for me.

Also one thing to note... I was getting this on individual recipe pages with the "jump to recipe" button, but only after I turned on my ad company's feature to insert an ad at the top of the reci

[2021-09-09 06:40] NataliaDrause commented on #2952
Related: https://secure.helpscout.net/conversation/1625729810/293362/

[2021-09-09 07:13] #4243 closed, assigned to mostafa-hisham

[2021-09-09 09:18] markllego opened #4340 "Delay JS add compatibility exclusion for PDF Embedder Plugin"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
WP Rocket 3.9.3
- Used the search feature to ensure that the bug hasn’t been reported before
I have read the ff: https://docs.wp-rocket.me/article/1560-delay-javascript-execution-compatibility-exclusions

**Describe the bug**
When the WP-Rocket Delay JS Feature is enabled

[2021-09-09 09:44] GeekPress opened #4341 "Bump minimum support versions to WordPress 5.4"
**Describe the solution you'd like**
We would like to bump the minimum required WordPress version to 5.4.

We have today 97.8% of our users using WordPress 5.4 or +

**What do we need to change?**
In `wp-rocket.php`, update `WP_ROCKET_WP_VERSION` to 5.4

[2021-09-09 10:36] piotrbak commented on #3142
Hello @blogtutor and @bemyhre
Thank you for your feedbacks, they're very appreciated! At this moment there are a couple of possible culprits of this behaviour. Please find the troubleshooting steps below:
1. Double click is happening with and without Delay JS - it means that the problem is most likely related to the CSS and this [issue](https://stackoverflow.com/questions/32371431/hover-on-ios-mob

[2021-09-09 11:37] Mai-Saad commented on #4339
Note: couldn't reproduce on the test site using the free Sassy Social Share plugin.

[2021-09-09 11:47] NataliaDrause opened #4342 "RUCSS: compatibility with Ajax Search in REHub theme"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.9.3
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
Search results in REHub theme are missing styling and spin animation is not working when _Remove Unused CSS_ is enabled.

Safelisting the following selectors r

[2021-09-09 11:58] NataliaDrause opened #4343 "Add a filter for programmatically adding entries for Safelist"
Currently, there is no filter to programmatically safelist selectors for the _Remove Unused CSS_ option.

Such filter could be useful for compatibility development in 3rd-party plugins/themes.

Related request: https://secure.helpscout.net/conversation/1609150673/289293

Slack: https://wp-media.slack.com/archives/C029G1B5HD2/p1631172880106900

[2021-09-09 12:33] Mai-Saad commented on #4342
Reproducible on test site with test template.

[2021-09-09 12:42] iCaspar commented on #4343
The following should work for themes and plugins wanting to modify the safelist for RUCSS compatibility:
[code]

By way of documentation:
`$safelist` is an array with a single filename, class, id, tag, or attribute per item.
Any item can include the wildcard sequence `(.*)` indicating to safelist all matching items.
Note that currently we only handle safelisting attributes, without regard to any v

[2021-09-09 13:49] iCaspar commented on #4343
Note on the above... it will work. It will also actually update the wpr safelist setting next time the WPR settings page is loaded (as it filters on the `pre_get_rocket_option`).
That may or may not be a desired side-effect.
@GeekPress @Tabrisrp: We could add a filter `rocket_pre_send_unused_css_safelist` to filter only when shaking at this point: https://github.com/wp-media/wp-rocket/blob/8ed2cc1

[2021-09-09 13:55] Mai-Saad commented on #4336
Couldn't reproduce on test site

[2021-09-09 14:05] Mai-Saad commented on #4335
Reproducible on test site using Neve theme.

[2021-09-09 14:41] Mai-Saad commented on #4340
On the test site, we will have a link to pdf till user interaction.
The following exclusions will make the PDF displayed without user interaction.
[code]

[2021-09-09 15:15] #4121 closed, assigned to mostafa-hisham

[2021-09-09 18:59] remyperona commented on #4105
I'm moving this back to grooming, as the version 2.0 requires PHP 7.2, and this might cause issue for our users on PHP 7.0/7.1  if we update.

[2021-09-09 19:08] remyperona commented on #4343
For our other options, we always use a separate, additional filter for custom/3rd parties. Possibly it's a good approach to continue this?

Also, it avoids tying it to the option itself, if for any reason in the future we change option name or anything like that.

[2021-09-09 21:17] seangolob commented on #3328
This error is popping up for my team and I would love an update on this. Are there any negative side effects besides the error itself? Also, I can't seem to access the Help Scout conversation linked above.

Side note: This plugin has been a lifesaver for my team! Thank you all for your hard work!

[2021-09-10 07:48] DahmaniAdame commented on #4228
Related - https://secure.helpscout.net/conversation/1620412386/292073/

[2021-09-10 09:26] Mai-Saad commented on #4331
Reproducible on test site using the mentioned script.

[2021-09-10 09:40] viobru opened #4344 "Automatically exclude superpwa-manifest.json from the CDN to prevent an error 405"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
On sites running the [Super Progressive Web Apps](https://wordpress.org/plugins/super-progressive-web-apps/) plugin, there is an **error 405** for the `superpwa-manifest.jso

[2021-09-10 10:15] straightvisions-matthias-bathke commented on #2952
This filter is triggered on generation of the cached version of the website, so you may try it e.g. logged out / inkognito mode when visting the page and cache is active.

[2021-09-10 10:51] vmanthos commented on #4255
Related ticket: https://secure.helpscout.net/conversation/1614733415/290757/

[2021-09-10 10:59] vmanthos commented on #2713
Related request: https://secure.helpscout.net/conversation/1626925839/293695?folderId=2135277

[2021-09-10 12:14] Mai-Saad commented on #4328
Duplicated with https://github.com/wp-media/wp-rocket/issues/4343

[2021-09-10 16:09] mifrero opened #4347 "Replace the usage of navigator.userAgent"
**Is your feature request related to a problem? Please describe.**

Replace de usage of `navigator.userAgent` for `navigator.userAgentData
` on WP Rocket code.

**Describe the solution you'd like**
According to the [chromium's blog](https://blog.chromium.org/2021/05/update-on-user-agent-string-reduction.html) they are changing how information obtained through `navigator.userAgent` is shared, as a

[2021-09-10 20:35] alfonso100 commented on #3842
A similar request here: https://secure.helpscout.net/conversation/1627213520/293799?folderId=2683093

[2021-09-10 21:21] ROGMARQ14 commented on #3842
it´s requesting an user and a password

On Fri, Sep 10, 2021 at 4:35 PM Alfonso Catron ***@***.***>
wrote:

--

[2021-09-11 09:01] mehedihasanziku opened #4350 "RUCSS - RUCSS not applied all over the site"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
RUCSS Is not applied all over the site.
When i test i see that rucss not applied in random pages.
If i press clear used css, i see rucss on not applied page. but the

[2021-09-12 13:48] alexsoyes commented on #2952
I guess you are using WP Rocket? Because even with no cache plugin (e.g. Cache Enabler), the filter does not seem to be triggered.

[2021-09-13 04:57] mostafa-hisham commented on #3578
## Grooming Notes:

### Reproduce the Issue
nothing to reproduce

### Root Cause
remove our own delete expired transients option from our database optimization feature

### Scope for Solution
- Remove the "deletes expired transient" option from the settings page
https://github.com/wp-media/wp-rocket/blob/7c47b1e304692e6bb9c879fd32a8b2d8525c1455/inc/Engine/Admin/Settings/Page.php#L1509-L1518

- rem

[2021-09-13 06:20] mostafa-hisham commented on #4109
I think the work we did in this issue #4263  should fix this

[2021-09-13 07:32] mostafa-hisham commented on #4138
### Identify the root cause ✅
The script should not be delayed to avoid this problem

### Scope a solution ✅
Add
[code]

as patterns in the
WP_Rocket\Engine\Optimization\DelayJS\HTML::$excluded array
and update the fixtures to validate

### Estimate the effort ✅

Effort `[XS]`

[2021-09-13 09:04] mostafa-hisham commented on #3883
### Reproduce the issue :heavy_multiplication_x:
i can see the issue

### Identify the root cause ✅
when we downgrade  from a version that has RUCSS to a version that does not have RUCSS
then go back to the version with RUCSS
Users may change the theme in between or do other actions that can affect the Used CSS files
but the Used CSS is not updated because the feature is not in the old version

##

[2021-09-13 10:33] mostafa-hisham commented on #3876
**Reproduce the problem** :heavy_multiplication_x:
I can see the issue

**Identify the root cause**
we need to use the `pll_home_url` to get the correct URL  instead of` home_url()`

**Scope a solution**
1. we  need to add the "rocket_preload_links_config" filter to use the correct site URL before getting preload links
in `wp-rocket/inc/3rd-party/plugins/i18n/polylang.php`
[code]
2. Refactor the f

[2021-09-13 10:45] vmanthos commented on #4166
**Related ticket:** https://secure.helpscout.net/conversation/1621682981/292341?folderId=2135277

This is about a **Flatsome** slider. They are using Flickity, and the background of the slider is added using an inline, dynamic `#banner-` id:
[code]
The first time the used CSS is created the slider is being displayed. Clearing the cache breaks the slider.

[2021-09-13 11:24] straightvisions-matthias-bathke commented on #2952
The filter is triggered on cache creation by wp-rocket. If you disable Cache Creation, this filter is never triggered at all. Once a html-cache-file is created for a post, this filter won't be triggered upon next cache-recreation for that post again.

[2021-09-13 12:09] mostafa-hisham commented on #3875
### Reproduce the issue :white_check_mark:
locally

### Identify the root cause ✅
Combine JS gets re-enabled again when we disable -> enable Minify JS (parent field)

### Scope a solution ✅
we need to add a new class to the fields disabled based on settings changes
for example `wpr-disabled-by-settings` and prevent them from being enabled when the parent is getting enabled again

for this issue
-

[2021-09-13 12:39] vmanthos commented on #3968
Related ticket: https://secure.helpscout.net/conversation/1628080866/293994?folderId=2135277

[2021-09-13 14:48] julioabarca commented on #3112
Yes, removed was a mistake, should be a option in the add-on cloudfare on-off if you want add the button as quick action in the menu bar

[2021-09-13 15:28] iCaspar commented on #4185
Grooming Notes:

**Replicated** by QA team -- see notes above.

**Root cause:**
JS Parser is unable to follow process for replacing classes.

**Proposed Solution**
We need a Treeshaker compatibility to handle these classes.
See also possibly connected issue: https://github.com/wp-media/tree-shaker/issues/178

In the compatibility class we can scan the dom for any item with the `et-animation` class

[2021-09-13 15:46] iCaspar commented on #4173
This should no longer be an issue starting in 3.10 where RUCSS and CPCSS will no longer be active simultaneously.
See Issue #4285
See PR #4287

Leaving it open for now to re-check after 3.10.

[2021-09-13 16:05] iCaspar commented on #4145
To confirm, h1 with clamp property is retained on my test site as well.
@gitgudcameron Please see @Tabrisrp note above if you can give us any other context to reproduce, or let us know if this is still happening for you, that would be great.

[2021-09-13 16:43] iCaspar commented on #3963
This issue will move to the treeshaker repo.

@GeekPress @vmanthos
I'm picturing that implementation in the safelist UI field and corresponding treeshaker compatibilities, this would look like
[code]
with one font-family per line.

Grooming:
**Reproduced**
**Root Cause**
Feature is not implemented yet.

**Scope for Solution**
Step 0 - Add a testcase to fixture for `Shaker::shakeFontFaces()` method

[2021-09-13 19:41] iCaspar commented on #3901
I'm not able to reproduce this locally.
@piotrbak, can you please confirm whether this is still an issue on your test site(s).
I'm guessing that #1686 / https://github.com/wp-media/background-processing/pull/3 has solved this?

[2021-09-13 20:46] iCaspar commented on #3900
**Reproduced**
✅ Confirmed this is still the case on 3.9.3

**Root Cause**
**First - What is happening** Step-by-step:
1. Resource is changed.
2. First use of "Clear Unused CSS" is activated (page still not visited)
- `wpr_rucss_used_css` table is truncated.
- `wpr_rucss_resources` table is not updated yet with new content of the changed resource.
- page's cache is cleared.
3. Page is visited.
- p

[2021-09-14 05:16] vmanthos commented on #3900
Potentially related(?) as far as the background mechanism of not updated `wpr_rucss_resources` rows when resources changed is concerned: https://secure.helpscout.net/conversation/1629155029/294237?folderId=2135277

The customer updated plugins and after that sections of the homepage broke.
Disabling/enabling the option fixed the issues.

**Update**
Rethinking about this, in the case I mentioned, t

[2021-09-14 06:45] #4328 closed, assigned to nobody

[2021-09-14 08:11] vmanthos commented on #4199
**Related ticket:** https://secure.helpscout.net/conversation/1629783217/294372?folderId=2135277

In this case, the following [YITH WooCommerce Product Add-ons & Extra Options Premium](https://yithemes.com/themes/plugins/yith-woocommerce-product-add-ons/) files weren't removed because of the changing `ver` whenever a page is cached:

![](https://i.vgy.me/M5poqm.jpg)

[2021-09-14 08:37] Mai-Saad commented on #4243
Steps to reproduce:
1. Page of unprocessed RUCSS template
2. Enable RUCSS
3. Access the page template
4. Edit the entry in the used CSS file and set retries to 3 and edit the unprocessed URL to a non-existing resource URL
5. Delete the entry from the cache folder wp-rocket
6. Access the page template and check debug.log
Thanks to @engahmeds3ed

[2021-09-14 12:56] iCaspar commented on #4350
Hey there @mehedihasanziku 👋
Thanks for bringing this to our attention.
Would you please [contact our support team](https://wp-rocket.me/support/). They can help you troubleshoot this, and if it turns out to be a code issue, that will help us figure out how to reproduce and solve it.
Thanks again!

[2021-09-14 12:59] iCaspar commented on #4350
We can re-open if we get any feedback about the issue.

[2021-09-14 12:59] #4350 closed, assigned to nobody

[2021-09-14 17:12] iCaspar commented on #3900
Indeed, disabling/re-enabling the feature will clear everything and start regenerating everything as for the first time, locking UsedCSS on the front-end until the pre-warmup completes (the initialization status bar reappears and all).

I think the end result of "turning it off and on again" is the result customers are expecting when they click the button. But as noted above, to actually do that r

[2021-09-14 19:04] alfonso100 commented on #1392
another question here: https://secure.helpscout.net/conversation/1629230254/294259?folderId=2683093

[2021-09-15 06:21] vmanthos commented on #4161
Related: https://secure.helpscout.net/conversation/1631081918/294676?folderId=2135277

[2021-09-15 11:06] vmanthos commented on #3963
This looks good to me. 👍

[2021-09-15 11:39] DahmaniAdame commented on #2441
Related - https://secure.helpscout.net/conversation/1630916805/294657/

[2021-09-15 12:21] djvdorp commented on #3749
Thanks for reporting, very helpful! I have just experienced and worked around a very similar problem while using [Video PopUp](https://wordpress.org/plugins/video-popup/).

[2021-09-15 12:33] vmanthos commented on #3511
Related: https://secure.helpscout.net/conversation/1626925839/293695/

[2021-09-15 13:35] juricazuanovic commented on #3718
Related ticket: https://secure.helpscout.net/conversation/1630463365/294577/

[2021-09-16 06:53] Garnet-Fox opened #4354 "DelayJS 3.9.4 events is triggered twice"
I do not understand whether this is a normal behavior or not.
After update 3.9.3 -> 3.9.4 DelayJS
On mobile, if there were no events of loading delayed scripts, but immediately tap on the button, for example, opening a modal window, the event is triggered twice, that is, it opens, closes, and reopens modal windows (tested on Magnific Popup). On desktops, the behavior is similar, but in my opinion

[2021-09-16 09:28] piotrbak commented on #4354
Hello @Garnet-Fox, thank you for your feedback.

Could you share your website url? You can reach me at piotr[at]wp-media.me

[2021-09-16 12:36] vmanthos commented on #4166
**Related ticket:** https://secure.helpscout.net/conversation/1631546552/294820?folderId=2135277

In this case, it's the [Ronneby theme](https://themeforest.net/item/ronneby-highperformance-wordpress-theme/11776839) that uses JavaScript to add a `<style></style>` block containing ids that change on every (non-cached) page load:

![](https://i.vgy.me/mhCrTx.jpg)

[2021-09-16 13:48] dazetoyo opened #4356 "Is it possible to delay a script that's inside something like Tag Manager?"
Looking to delay a bunch of our scripts but I don't want Tag manager itself to be delayed, is there a way to stop these scripts from activating with out moving them from TM onto our site?

[2021-09-16 14:37] mostafa-hisham opened #4357 "automate generating wp-rocket CSS and JS files after deployment"
**Description**
If we are doing modifications in styling or js we generate the minified version of the files locally first with gulp then pushed
which leads to creating conflict between branches and it is not easy to resolve because we dealing with minified versions of files

**Expected behavior**
Generate CSS and JS files after deployment to avoid creating conflicts

[2021-09-16 18:22] spk100 commented on #4230
The latest version still has the same issue
The Wordfence Web Application Firewall has blocked 176 attacks over the last 10 minutes. Below is a sample of these recent attacks:September 16, 2021 1:33pm  23.111.145.18 (United States)     Blocked for LFI: Local File Inclusion in POST body: 0 = /home/xyz/public_html/wp-content/cache/min/3rd-party/pagead2.googlesyndication.com-pagead-js-ad...
September

[2021-09-16 19:36] alfonso100 opened #4358 "Delay JS + Defer JS - Add compatibility with WPForms reCAPTCHA v2"
**Before submitting an issue please check that you’ve completed the following steps:**
yes - Made sure you’re on the latest version
yes - Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When using WPForms reCAPTCHA v2, with Delay JS and Defer JS enabled, the Recaptcha checkbox is not loaded. There are no console errors, and the element doesn't appea

[2021-09-17 11:50] piotrbak commented on #4356
Hello @dazetoyo thanks for being in touch with us. However, we don't provide support via GitHub. Please do a request to our support team to be helped on that matter: https://wp-rocket.me/support/

[2021-09-17 11:50] #4356 closed, assigned to nobody

[2021-09-17 14:07] juricazuanovic commented on #4072
Related: https://secure.helpscout.net/conversation/1629068596/294200/
Hosting: Kinsta
WP Rocket version: 3.9.3

[2021-09-18 10:46] DahmaniAdame opened #4362 "Never Cache URLs limit causes 500 error (related to mod_rewrite)"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.9.4`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When adding hundreds of items on the Never Cache URLs exclusion box, the server returns a permanent 500 unless the number is reduced from the `.htaccess` fil

[2021-09-18 13:30] Garnet-Fox commented on #4354
Reply by mail
In my opinion, if the js event is set not through delayed scripts, then the following happens, it fires by itself, and then fires again, after all the delayed scripts have been loaded.

[2021-09-20 06:34] royrakesh opened #4363 "Need filter for excluding Delay Execution JS for specific post type"
We are running a Woocommerce store and we want to enable Delay Execution JS for all pages excluding the product page.

This would be helpful for other also.

[2021-09-20 06:50] vmanthos commented on #4161
**Related:** https://secure.helpscout.net/conversation/1634776100/295569?folderId=2135277

In this case, it seems the culprit is the Salient theme's dynamic styles file:
`/themes/salient/css/salient-dynamic-styles.css?ver=26257`

[2021-09-20 10:02] mostafa-hisham commented on #4331
### Reproduce the issue :heavy_multiplication_x: :
No but i can see the issue
### Identify the root cause ✅
we remove all style tags from the HTML
and in this case, it is in a script tag

### Scope a solution ✅
I don't think that we should process this kind of styling RUSS sass
we need to exclude styles inside `<script>` tags from being removed and keep them inside the HTML

we can handle it the s

[2021-09-20 10:54] viobru commented on #4354
Related: https://secure.helpscout.net/conversation/1632306550/294971/

[2021-09-20 11:17] bwafels commented on #4354
I have the impression a similar thing is happening on my site. autodirect for WMPL language switching is excluded but often it still loads the site twice because of it detecting another language.

[2021-09-20 12:45] viobru opened #4364 "Automatically exclude a file from JS minification when the site is running WP Forms Elite + hCaptcha"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✔️
- Used the search feature to ensure that the bug hasn’t been reported before ✔️

**Describe the bug**
When our **JS minification** is enabled and the site is running [WP Forms Elite](https://wpforms.com/) + [hCaptcha](https://wordpress.org/plugins/hcaptcha-for-forms-an

[2021-09-20 16:04] javiergutierrezchamorro opened #4365 "Update lazyLoad to 17.4"
**Is your feature request related to a problem? Please describe.**
Bundled LazyLoad script is 16.1 while since some time ago we have 17.4.

**Describe the solution you'd like**
Update it from: https://github.com/verlok/vanilla-lazyload/releases/tag/17.4.0

[2021-09-20 16:38] piotrbak opened #4366 "Uncode theme compatibility"
**Is your feature request related to a problem? Please describe.**
In upcoming weeks Uncode is going to release an update. We'll need to add some new exclusions to be still fully compatible.

**Describe the solution you'd like**
We need to exclude the following files [here](https://github.com/wp-media/wp-rocket/blob/aea8f96b0725f900deaa337af2f87c37277676ff/inc/3rd-party/themes/uncode.php#L17):
`/l

[2021-09-20 17:55] camilamadronero commented on #3142
Related https://secure.helpscout.net/conversation/1635656263/295727/

[2021-09-20 18:29] remyperona commented on #4365
Duplicate of #3510

[2021-09-20 18:29] #4365 closed, assigned to nobody

[2021-09-20 18:31] #3675 closed, assigned to remyperona

[2021-09-20 18:31] #3676 closed, assigned to remyperona

[2021-09-20 18:31] #3677 closed, assigned to remyperona

[2021-09-20 18:31] #3678 closed, assigned to remyperona

[2021-09-20 23:45] WebFX-dev opened #4368 "Spaces improperly removed from regex during minification when used with certain operators"
**Describe the bug**

Spaces are improperly removed from JS regexes when the regex is used as an operand of certain operators. Operators that have confirmed issues are the nullish coalescing operator and the ternary operator.

**To Reproduce**

_Nullish Coalescing Operator_
1. Create a JS file with the following code (make sure the file will be minified) `/ / ?? false;`
2. Review the minified file

[2021-09-21 05:11] vmanthos commented on #4161
**Related:** https://secure.helpscout.net/conversation/1626572700/293590/

[2021-09-21 05:12] vmanthos commented on #4072
Potentially related: https://secure.helpscout.net/conversation/1626572700/293590/
Host: WP Engine
WP Rocket version: `3.9.3`

[2021-09-21 05:53] OmarTaheri opened #4369 "ezoic ads not supported"
if i use Delay JavaScript execution in my site
the ezoic ads are not delay

[2021-09-21 06:19] Mai-Saad commented on #4364
On the test site, when Minify JS is enabled, hCaptcha is added twice.
![2021-09-21](https://user-images.githubusercontent.com/76941962/134121199-74adfc86-e8a6-44ac-8488-3f18dda3816e.png)
Mentioned exclusion or deactivate hCaptcha will fix the problem.

[2021-09-21 07:23] Mai-Saad commented on #4358
On the test site, it happened randomly after n trials of refreshing the page. It happened once while Delay JS only was enabled. https://new.rocketlabsqa.ovh/wpform-recaptcha/

[2021-09-21 09:06] DahmaniAdame opened #4371 "jQuery regex excludes jQuery plugins"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.9.4`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
`/jquery-?[0-9.](.*)(.min|.slim|.slim.min)?.js` regex has false positives for `jquery.string.js`,which is widely used as naming convention for jQuery plugins

[2021-09-21 09:52] WordPresseur commented on #4321
Related ticket: https://secure.helpscout.net/conversation/1627197387/293797?folderId=1213662

[2021-09-21 11:07] mostafa-hisham commented on #4320
### Reproduce the issue :heavy_check_mark:

### Identify the root cause ✅
Divi CSS files order is changed when we use combined CSS
in some cases, it will be above the Divi inline style which is not the correct order

### Scope a solution ✅
I think the third solution that @piotrbak suggested is the better solution
we need to exclude all Divi CSS files which are stored in `/wp-content/et-cache/` Fro

[2021-09-21 11:24] vmanthos commented on #3180
**Related request:** https://secure.helpscout.net/conversation/1633689319/295337/

[2021-09-21 12:29] girlie commented on #146
Related ticket: https://secure.helpscout.net/conversation/1633870913/295393/

[2021-09-21 12:58] iCaspar commented on #4331
@mostafa-hisham I agree with this approach.

[2021-09-21 13:00] remyperona commented on #4320
@mostafa-hisham wouldn't checking for the value of the `remove_unused_css` value be enough, instead of injecting the whole controller?

[2021-09-21 13:11] DahmaniAdame opened #4372 "WebP cache disabled when EWWW is enabled (without serving WebP)"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.9.4`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
In a domain using Cloudflare, when EWWW is enabled without any option to serve WebP, WP Rocket has the WebP Cache grayed out.

**To Reproduce**
Steps to repr

[2021-09-21 14:13] mostafa-hisham commented on #4320
@Tabrisrp
You are right  and I updated the grooming to use options

In `UsedCSS::is_allowed() ` have other conditions not only if the rucss is enabled or not
that's why i injected the controller

[2021-09-21 14:13] mehedihasanziku commented on #4371
This one also

`<script type="36de89d2284568ff01cdb4db-text/javascript" src='https://elementor.com/marketing/wp-content/plugins/elementor-pro/assets/lib/sticky/jquery.sticky.min.js?ver=3.3.1' id='e-sticky-js'></script>`

[2021-09-21 22:47] webtrainingwheels commented on #3518
the original related ticket: https://secure.helpscout.net/conversation/1393574469/230562/
customer is following up about this here: https://secure.helpscout.net/conversation/1636699755/295958/

[2021-09-22 13:07] camilamadronero-zz opened #4373 "Add an Imagify Link to WebP Cache Description"
**Is your feature request related to a problem? Please describe.**

**Scenario:** Imagify is converting and delivering WebP.

One of the descriptions of the WebP Cache feature suggests making a change in Imagify settings, however it links to WebP Cache documentation in WP Rocket. This doesn't seem to follow the "natural" logic customers might have.
Here:  https://jumpshare.com/v/LLOm7PWyUSFmyWTiya

[2021-09-22 13:18] vmanthos opened #4374 "PHP Fatal error: preg_match() expects parameter 2 to be string, null given in /DelayJS/HTML.php:221"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅(`3.9.4`)
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

A customer reported the following PHP fatal error:
[code]

This is related to the charset changes we made in #4312.

It seems this is coming from here:
https:/

[2021-09-22 14:00] #3839 closed, assigned to remyperona

[2021-09-22 14:00] #3773 closed, assigned to remyperona

[2021-09-22 14:00] #4341 closed, assigned to remyperona

[2021-09-22 14:00] #3578 closed, assigned to remyperona

[2021-09-22 14:00] #4245 closed, assigned to mostafa-hisham

[2021-09-22 14:00] #3804 closed, assigned to mostafa-hisham

[2021-09-22 14:00] #4206 closed, assigned to remyperona, sandyfzu

[2021-09-22 19:29] iCaspar commented on #4373
@webtrainingwheels @GeekPress This should be pretty easy to do. Can you please iron out what wording would be best around having 2 links in that webp spot. The current wording doesn't seem natural for it.

[2021-09-22 20:38] webtrainingwheels commented on #4373
Current text:

Proposed text:

Link the words "disable WebP display in Imagify" to the imagify settings page
What do you think?

[2021-09-23 06:23] GeekPress commented on #4373
Sounds good!

[2021-09-23 08:24] DahmaniAdame opened #4376 "Automatic compatibility for themes needing a "separate cache for mobile devices""
**Is your feature request related to a problem? Please describe.**
Some themes use a different layout, menu system, widgets, ad spots, for mobile.

We can add automatic compatibility just like we do with known plugins https://github.com/wp-media/wp-rocket/blob/develop/inc/classes/subscriber/third-party/plugins/class-mobile-subscriber.php

This will help reduce issues related to caching, RUCSS and

[2021-09-23 08:50] WordPresseur commented on #3968
Related ticket: https://secure.helpscout.net/conversation/1637952005/296273/

[2021-09-23 13:16] vmanthos commented on #4072
Possible related: https://secure.helpscout.net/conversation/1637108734/296069/

[2021-09-23 13:57] Mai-Saad commented on #4372
On the test site, our webP is enabled if we disabled everything related to webP at the EWWW plugin.

[2021-09-23 14:07] remyperona opened #4378 "Reduce bandwith usage from Wistia"
To avoid eagerly loading all the tutorials videos when loading the settings page, we can lazyload the content of this tab using the technique described in #3843

[2021-09-23 17:38] jcatello opened #4379 "preg_match(): Compilation failed: missing closing parenthesis at offset 4 - HTML.php on line 180"
**Describe the bug**

When upgrading to 3.9.4 the following starts spamming the PHP errors logs:

`PHP Warning:  preg_match(): Compilation failed: missing closing parenthesis at offset 4 in /home/nginx/domains/domain.com/public/wp-content/plugins/wp-rocket/inc/Engine/Optimization/DelayJS/HTML.php on line 180`

Rolling back to a previous version, in our case, was 3.8.8 has fixed it.

[2021-09-23 17:41] piotrbak commented on #4379
Hello @jcatello thanks for being in touch. This case is already reported here:
https://github.com/wp-media/wp-rocket/issues/4136
and a similar one here:
https://github.com/wp-media/wp-rocket/issues/3967

If you want to use 3.9+ version of WP Rocket without warnings, you'll need to find a different exclusion pattern than the one that doesn't have closing parenthesis (or escape the parenthesis with`

[2021-09-23 17:41] #4379 closed, assigned to nobody

[2021-09-24 06:19] Mai-Saad opened #4380 "WebP notice shall be updated instantly when switching on/off with no need to refresh the page"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.10
- Used the search feature to ensure that the bug hasn’t been reported before => yes

**Describe the bug**
When switch webP addon on / off , the notice doesn't change till the user refresh the page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Addons

[2021-09-24 08:20] DahmaniAdame commented on #4354
Related - https://secure.helpscout.net/conversation/1639387637/296642/

In this case, the menu opens and closes immediately on first use.

Works properly after that.

Confirmation that the click event is triggered twice:

![image](https://user-images.githubusercontent.com/1289174/134641638-583ad4b1-dce9-4ee4-9d0e-b3d8d483f62e.png)

I used `monitorEvents(window, "click");` on the browser's console

[2021-09-24 12:40] mbouckaert opened #4382 "Impossible to delay script which contain term "type" on his url name. Condition not specific enough"
**Before submitting an issue please check that you’ve completed the following steps:**
- Version 3.9.4
- Used the search feature to ensure that the bug hasn’t been reported before. Yes

**Describe the bug**
The script url with a term "**type**" in his name cannot be delay by WP Rocket. My url script url is here /wp-content/plugins/my-custom-plugin-types/assets/js/name_script.min.js. So in the proc

[2021-09-24 17:07] DahmaniAdame commented on #4372
I had a chance to do more testing.
I can confirm that the issue only happens when Cloudflare is detected by EWWW.
I manually removed all Cloudflare checks on EWWW. This resulted in bringing back the WebP Cache on WP Rocket
Updated the issue.
@Mai-Saad the issue can only be seen if Cloudflare is enabled.

[2021-09-24 22:11] webtrainingwheels commented on #4354
https://secure.helpscout.net/conversation/1635202394/295645?folderId=377611

[2021-09-25 07:43] DahmaniAdame opened #4385 "Remove Unused CSS response is returning 409 or 500 errors"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.9.4`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
In one case, RUCSS tree-shaker alternated between the following responses:

[code]
[code]
We couldn't narrow down the exact reasons why SaaS rejected process

[2021-09-26 11:42] ebstudo commented on #2682
(translated). I want to join the conversation just now, because I installed WP Rocket recently and I find a regular plugin like other cache plugins. WP Rocket appears to be quite "heavy" on the WordPress backend, but it improves significantly for the frontend.
For those who have used other cache plugins, notice that information is still missing from the WP Rocket panel. For example: total cached p

[2021-09-27 08:23] 79ho3ein opened #4386 "Wp-rocket interference with jet woobuilder plugin"
hello
The jet woobuilder plugin has a feature to display Recently Viewed products. But when the wp-rocket plugin is enabled, the recently observed feature has a problem.
This problem is such that if the user sees 1 product, 3 products will be added to the list. Or not added at all.
But when we disable the wp-rocket plugin, the problem is solved.
I have already reported this to you(#3990), you aske

[2021-09-27 13:33] sandyfzu commented on #3110
Related: https://secure.helpscout.net/conversation/1623330313/292707/

[2021-09-27 13:40] vmanthos commented on #4321
Related ticket: https://secure.helpscout.net/conversation/1639397647/296648?folderId=2135277

[2021-09-27 15:15] inewton24 commented on #4303
Nice, but now we have bug in real IOS 14 Safari (not emulator). replay-events not work, but if we will exclude main script in plugin, we will have double click event.

[2021-09-27 16:48] pedddro commented on #4343
Is there a similar filter of "pre_get_rocket_option_remove_unused_css_safelist" but for Optimize CSS? some themes need it to avoid a high CLS while using Optimize CSS such as Elementor. [Excluding files](https://docs.wp-rocket.me/article/977-exclude-files-from-optimize-css-delivery) does not currently help much.

[2021-09-27 21:21] inewton24 commented on #4303
i think it is because of this article - https://stackoverflow.com/questions/43335183/window-click-event-does-not-fire-on-ios-safari-javascript-only click event not work in IOS, but touchstart must be good

[2021-09-28 05:15] vmanthos commented on #2176
Similar request: https://secure.helpscout.net/conversation/1642536919/297222/

[2021-09-28 06:52] Mai-Saad opened #4389 "Console error when click any more info link"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.9.4.1
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the file optimization tab
2. Click on more info li

[2021-09-28 08:08] vmanthos commented on #4199
Related ticket: https://secure.helpscout.net/conversation/1639397647/296648/

The following file wasn't removed:
[code]
**Plugin:** [Testimonials Slider and Showcase](https://wordpress.org/plugins/testimonial-slider-and-showcase/)

[2021-09-28 08:12] vmanthos commented on #4199
Related ticket: https://secure.helpscout.net/conversation/1642516755/297215?folderId=2135277

The following file wasn't removed:
[code]

Activating the feature made navigating from one page to the next slower, probably because of this:
https://github.com/wp-media/wp-rocket/issues/4199#issuecomment-915201993

[2021-09-28 10:49] Mai-Saad opened #4390 "Disable CPCSS in post edit if it was excluded using helper plugin"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.10- alpha
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When excluding certain post types from CPCSS using helper plugin, it is expected that when we open post ->edit , the CPCSS option will be dimmed

**To Reprodu

[2021-09-28 11:22] Mai-Saad opened #4391 "PHP Fatal error: Uncaught TypeError: Argument 1 passed to WP_Rocket\Dependencies\Minify\JS when update WPR while RUCSS is in progress"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => yes
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Fatal error added to the log file when upgrading plugin while having background process in progress

**To Reproduce**
Steps to reproduce the behavior:
1. Using versio

[2021-09-28 11:24] NataliaDrause commented on #3962
Related: https://secure.helpscout.net/conversation/1643296446/297416

[2021-09-28 12:42] piotrbak commented on #4391
Other possible error when reproducing the issue:
[debug](https://github.com/wp-media/wp-rocket/files/7244024/debug.txt)

[2021-09-28 14:55] Mai-Saad opened #4393 "Help beacon is hidden after enable Short Pixel AI plugin"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.9.4.1
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Help beacon icon is not displayed if Short Pixel AI is enabled

**To Reproduce**
Steps to reproduce the behavior:
1. Install and activate Short Pixel AI (LL setti

[2021-09-28 21:33] jorgemartine00 opened #4395 "WP Rocket settings not displayed when profile language is Português do Brasil"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Profile'
2. Change Language to  'Português do Brasil'
3. Nav

[2021-09-29 06:40] DahmaniAdame commented on #4161
Ticket - https://secure.helpscout.net/conversation/1639801594/296738/

The following files were involved in this case:

​https://apis.google.com/js/platform.js?ver=#
/wp-content/uploads/essential-addons-elementor/734e5f942.min.js?ver=#
/wp-content/plugins/duracelltomi-google-tag-manager/js/analytics-talk-content-tracking.js?ver=#

[2021-09-29 08:33] vmanthos opened #4396 "WooCommerce grouped products cache isn't cleared automatically"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.9.4`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

With WooCommerce, the cache of [grouped products](https://docs.woocommerce.com/document/group-bundle-products-woocommerce/#section-11) isn't cleared automatical

[2021-09-29 11:14] NataliaDrause commented on #4374
Related: https://secure.helpscout.net/conversation/1645059434/297796/

[2021-09-29 13:32] vmanthos opened #4397 "Delay JS - PREG_BACKTRACK_LIMIT_ERROR when moving meta to the head"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.9.10` but it should be the same with `>3.9.4`.
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

On a customer's website, an `error 500` occurs for the homepage, when Delay JavaScript Execution is active.

This is b

[2021-09-29 13:34] hogash opened #4398 "Mobile, Delay JS enabled, run click after scripts loaded"
**Is your feature request related to a problem? Please describe.**
This request is related to the Delay Javascript execution.

When browsing on mobile, on page load without any events (scrolling, tapping, clicking etc., basically scripts not loaded), when clicking on a hamburger menu button, the first click is loading the scripts. Only on 2nd click, the actual click event is fired.

**Describe the

[2021-09-29 14:07] GeekPress commented on #1964
I'm closing this request as lazyload on images won't be a problem anymore after switching to native LazyLoad (coming in 3.11).

[2021-09-29 14:07] #1964 closed

[2021-09-29 14:33] piotrbak commented on #4369
Hello @omartaheri, please open a support ticket, our Team will analyze why the ads are not delayed and if we can do something about that:
https://wp-rocket.me/support/

[2021-09-29 14:33] #4369 closed, assigned to nobody

[2021-09-29 14:49] jorgemartine00 commented on #4395
https://secure.helpscout.net/conversation/1636073025/295848/

[2021-09-30 06:50] Mai-Saad commented on #4395
Working fine using 3.10 on multi and single test sites. Probably extra details is needed here.

[2021-09-30 08:18] GeekPress commented on #3915
I'm closing this issue as we won't need to fix it with the changes we did in 3.10.

[2021-09-30 08:18] #3915 closed, assigned to nobody

[2021-09-30 09:03] vmanthos commented on #4166
Related ticket: https://secure.helpscout.net/conversation/1639266873/296590?folderId=2135277

This was a Flickity slider used in Flatsome. Again the pattern was like this:
[code]

[2021-09-30 09:56] vmanthos commented on #3960
Related ticket: https://secure.helpscout.net/conversation/1645065559/297803/

[2021-09-30 10:19] DahmaniAdame commented on #3960
Related ticket - https://secure.helpscout.net/conversation/1645344219/297879/

[2021-09-30 12:47] DahmaniAdame commented on #3209
Related - https://secure.helpscout.net/conversation/1646176049/298036/

[2021-10-01 05:34] vmanthos commented on #4252
Related ticket: https://secure.helpscout.net/conversation/1646634460/298171/

[2021-10-01 05:48] vmanthos commented on #4327
Related tickets:
https://secure.helpscout.net/conversation/1646634460/298171/
https://secure.helpscout.net/conversation/1644474396/297674

[2021-10-01 06:01] DahmaniAdame opened #4399 "Google Fonts enhancement: Print Google Fonts CSS"
**Is your feature request related to a problem? Please describe.**
As part of the Google Fonts optimization, we enqueue the Google Fonts `<link>` right after the `<title>` tag.

It still counts as a request and will depend on how Google Fonts CDN will respond.

Printing the CSS directly on the HTML gave the following results on the same page:

![image](https://user-images.githubusercontent.com/128

[2021-10-01 08:17] DahmaniAdame opened #4400 "Update Avada compatibility with lazy load when WPML is used"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.9.4.1`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**

We previously added compatibility to detect when Avada is using its Lazy Load for images feature to disable the one WP Rocket:

https://github.com/wp-medi

[2021-10-01 10:42] DahmaniAdame commented on #2709
Related - https://secure.helpscout.net/conversation/1643839843/297534/
The width/height attributes can be targeted to exclude the problematic images.

[2021-10-01 11:47] gerfoley commented on #3728
Any update or plans for this?

Currently I have font-display:optional set in my css but wp-rocket is changing it to swap.

How can I prevent it being changed? As when it is changed to swap we are experiencing a very poor CLS score.

[2021-10-01 12:31] DahmaniAdame opened #4402 "Delay JavaScript Execution automatic exclusion for Anywhere Elementor Pro"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.9.4.1`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When using Anywhere Elementor Pro with Delay JavaScript Execution, the AE grid elements are not clickable.

Excluding the following fixes the issue:

[code

[2021-10-01 14:17] jcatello commented on #4374
This is still occuring in 3.10

Causing Google to not index any new URL's

![image](https://user-images.githubusercontent.com/3605615/135635344-ada4e2af-b219-4d32-afba-1a8871265574.png)

[2021-10-01 14:55] markllego commented on #3728
@gerfoley You can download the helper plugin https://docs.wp-rocket.me/article/1312-optimize-google-fonts provided by WP-Rocket.

[2021-10-01 15:03] gerfoley commented on #3728
@markllego do you mean this one? https://github.com/wp-media/wp-rocket-helpers/tree/master/static-files/wp-rocket-change-google-fonts-swap

That is only related to Google fonts, not locally hosted fonts isn't it?

[2021-10-01 15:20] mifrero commented on #3142
Related ticket: https://secure.helpscout.net/conversation/1645076349/297810?folderId=2952229

[2021-10-01 15:48] juricazuanovic commented on #4354
Related: https://secure.helpscout.net/conversation/1643884057/297545/

[2021-10-01 18:17] alfonso100 commented on #3292
Another case here: https://secure.helpscout.net/conversation/1591367126/285274?folderId=2683093
In this case, the error appears on **WP Bakery/ Visual Composer**: https://jmp.sh/kii4Bpq

[2021-10-03 06:04] NataliaDrause commented on #4143
Related: https://secure.helpscout.net/conversation/1630886585/294654/

Safelisted the same selectors to resolve the issue:
[code]

[2021-10-03 06:46] NataliaDrause commented on #4224
I have revisited the issue on this customer's site, and the following scripts had to be excluded for the woocommerce product gallery to work:
[code]

The above caused jQuery error for the Slider Revolution script, so additionally, the following were added to resolve the error:
[code]
Ref.: https://docs.wp-rocket.me/article/1560-delay-javascript-execution-compatibility-exclusions#revolution-slider

[2021-10-04 08:05] NataliaDrause commented on #678
https://secure.helpscout.net/conversation/1645955504/297997

[2021-10-04 08:37] NataliaDrause commented on #4224
I confirmed that additional optimization with _Autoptimize_ and _Async JavaScript_ plugins on the site did not have any impact on the issue.
The issue is present even when these plugins are deactivated.

[2021-10-04 09:02] NataliaDrause commented on #3962
Related: https://secure.helpscout.net/conversation/1586750255/283985/

[2021-10-04 12:55] vmanthos commented on #3962
Related: https://secure.helpscout.net/conversation/1647940834/298496?folderId=2135277

[2021-10-04 18:25] Tabrisrp commented on #4389
I can't replicate the issue

[2021-10-05 12:54] iCaspar opened #4403 "Remove Unused CSS: Warmup Complete, UsedCSS is present, but not inserted on page"
Devs are aware of a Remove Unused CSS issue where _sometimes_ Used CSS is generated and stored in the `wpr_rucss_used_css` table, and warmup has successfully completed, but the used CSS is not added to the page. Clearing Cache, Clearing Used CSS, or some combination of these, will force used CSS to be inserted, but not always immediately.

Leaving this issue **open for feedback** from Support Rock

[2021-10-05 13:25] mehedihasanziku commented on #4403
Looks like this is the same case here #4350

Info: This looks like randomly happened in some sites pages or in some if cleared used css, used css not added there, we need to hit "Clear Cache" or "Clear Used" or both Once/Twice, I don't know exactly which one brings that used css in pages again, sometimes both not working and we need to regenerate used css but wpr_rucss_used_css table has all conte

[2021-10-05 14:23] Kilbourne commented on #4105
@Tabrisrp   Shouldn't Composer be able to choose the right version of the package  based on the php version defined inside the user's composer.json?

[2021-10-05 17:49] #4320 closed, assigned to mostafa-hisham

[2021-10-05 18:17] piotrbak opened #4404 "RUCSS warmup process running during the update might not be finished"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When RUCSS process is running during the update, it's possible that it'll be interrupted and not finished after th update. Data can be malformed:
`"warmup_status":{"total":1

[2021-10-05 19:19] remyperona commented on #4395
I can't replicate either on the current `trunk` and `develop` branches

[2021-10-05 19:30] remyperona commented on #4393
### Reproduce the issue ✅
Reproduced the issue on testing site

### Identify the root cause ✅
This is happening because Shortpixel AI is loading their admin CSS on all admin pages, and they have custom rules for Beacon that are hidding the button (among others).

### Scope a solution ✅
This should be reported and fixed on ShortPixel AI side, they are not taking into consideration conflicts by load

[2021-10-05 20:24] alfonso100 commented on #4397
another case: https://secure.helpscout.net/conversation/1651040982/299248?folderId=2683093

[2021-10-05 20:48] remyperona commented on #4389
### Reproduce the issue ✅
I can reproduce the issue on test site

### Identify the root cause 🔴
This is likely coming from Helpscout/Beacon side. But I don't have access anymore to Beacon configuration or Helpscout support, so we should have someone contact them to ask why this is happening.

[2021-10-05 22:16] Chuvantinh commented on #3749
Do you find a solution for that. we are facing a similar problem on this website https://botisscampus.kinsta.cloud/cases/surgeries/ . When I click load more post it does not show the image thumbnail of video.

thanks

[2021-10-06 05:42] NataliaDrause commented on #4403
I had a case here: https://secure.helpscout.net/conversation/1640602306/296917

The site has dynamic CSS and JS that are likely changing once in a while - I suspect this is why the issue is frequent. After cache is cleared and then preloaded (customer uses cron), used CSS is not applied for some random pages. Clearing those pages cache for the second time resolves the problem.

From my observation

[2021-10-06 06:09] mehedihasanziku commented on #4403
You are right, when preload is on this issue happened much it's also mentioned on my [thread](https://github.com/wp-media/wp-rocket/issues/4350), but about manual visit:
If you visit single page after clear, the issue isn't there, but if you try to visit multiple pages at a time, the issue still happens but not often like preload

[2021-10-06 07:08] NataliaDrause commented on #4072
Related: https://secure.helpscout.net/conversation/1650139378/299044?folderId=3864740
Host SiteGround
WP Rocket version: 3.10

[2021-10-06 08:41] NataliaDrause commented on #2746
Related: https://secure.helpscout.net/conversation/1651065353/299257

[2021-10-06 12:02] vmanthos commented on #4403
Having unprocessed resources can also explain this.

The way we perform treeshaking here:
https://github.com/wp-media/wp-rocket/blob/2d23ddb8cec8d3c2ea301c5f022ca8ffb87321ae/inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php#L179-L224

we will not insert the used CSS:
1. if there isn't used CSS yet `OR`
2. there is used CSS, but there are unprocessed resources, in which case we will try to trees

[2021-10-06 12:34] NataliaDrause commented on #146
Related: https://secure.helpscout.net/conversation/1651154442/299296

[2021-10-06 13:33] vmanthos opened #4406 "Delay JS - PREG_BACKTRACK_LIMIT_ERROR when replacing attributes in scripts"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.10`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

A `PREG_BACKTRACK_LIMIT_ERROR` occurrs when trying to `parse()` the HTML:
https://github.com/wp-media/wp-rocket/blob/2d23ddb8cec8d3c2ea301c5f022ca8ffb87321ae/inc

[2021-10-06 13:36] juricazuanovic commented on #2404
Another case: https://secure.helpscout.net/conversation/1652233228/299529/

[2021-10-06 15:07] pedddro opened #4407 "Filter to remove classes, urls, etc of Optimize CSS"
Is there a similar filter of "pre_get_rocket_option_remove_unused_css_safelist" but for Optimize CSS? some themes need it to avoid a high CLS while using Optimize CSS such as Elementor. Excluding files does not currently help much. For some reason, the filter from RUCSS  `pre_get_rocket_option_remove_unused_css_safelist` does work for some classes on Optimize CSS.

[2021-10-06 17:51] alfonso100 commented on #3180
related request: https://secure.helpscout.net/conversation/1651185335/299305

[2021-10-06 20:09] camilamadronero-zz commented on #4354
New ticket: https://secure.helpscout.net/conversation/1632486955/295016?folderId=2675957

[2021-10-07 03:45] markllego opened #4410 "RUCSS Consumes All Server Resources"
**Before submitting an issue please check that you’ve completed the following steps:**
- Version 3.9.4.1

**Describe the bug**
Upon using RUCSS, it consumes all the resources of my NGINX/Apache webserver.

Load Average: 22.97
Memory Usage: 98.06%
Disk Usage: 45.18%

**To Reproduce**
Steps to reproduce the behavior:

1. Go to WP Rocket Settings
2. Click on the File Optimization Tab and check the RU

[2021-10-07 05:36] markllego commented on #4410
![Screenshot (616)](https://user-images.githubusercontent.com/9133877/136325876-270bf152-19fa-40a8-9687-1a618f4f1f1d.jpg)

Tested on a newly build Google Cloud Server, I can confidently say that RUCSS is causing a massive spike in server resources.

[2021-10-07 06:50] DahmaniAdame opened #4411 "Add a close button to conflicts warning notifications"
**Is your feature request related to a problem? Please describe.**
When WP Rocket has a conflict with a similar plugin, like LiteSpeed Cache, it shows a sticky notification that can't be removed.

`''WP Rocket: The following plugins are not compatible with this plugin and may cause unexpected results: LiteSpeed Cache''.`

Some customers might understand the risk and would prefer to dismiss the not

[2021-10-07 07:00] WordPresseur commented on #2849
Related ticket: https://secure.helpscout.net/conversation/1652747895/299668?folderId=4075513

On the following:
<pre><code>test('flex_tests',
flex_tests,
env: [
'CMOCKA_MESSAGE_OUTPUT=XML',
'CMOCKA_XML_FILE=' + meson.build_root() + '/test/%g.xml']
)

run_target('flex-tests',
command: [flex_tests]
)</code></pre>

Our RefEx picked up `/test/%g.xml`

[2021-10-07 09:01] GeekPress commented on #4410
Duplicate of https://github.com/wp-media/wp-rocket/issues/4072

[2021-10-07 09:01] #4410 closed, assigned to nobody

[2021-10-07 09:22] DahmaniAdame commented on #4224
Related ticket - https://secure.helpscout.net/conversation/1646209049/298042/
Didn't notice any other errors after doing the exclusions.

[2021-10-07 12:14] NataliaDrause commented on #3526
related: https://secure.helpscout.net/conversation/1649738269/298917?folderId=3864740

[2021-10-07 14:04] remyperona commented on #4406
Does it cause an error or a blank page when it happens for this case? Normally if there is failure, we should be catching it with the conditional that follows, and return the original HTML.

[2021-10-07 14:57] camilamadronero-zz commented on #3142
Related https://secure.helpscout.net/conversation/1651016587/299237/

[2021-10-07 15:42] alfonso100 commented on #1491
**related ticket:** https://secure.helpscout.net/conversation/1652534370/299624

[2021-10-08 07:41] pgirzalsky commented on #4258
Is there any update on this? I experienced the same issue on a client's website. The wp_options table was 52 GB in size because of this issue and made removing the entries and restoring it to a clean state extremely time-consuming because it basically brought the whole server to hold.

[2021-10-08 07:51] DahmaniAdame opened #4416 "Delay JavaScript Execution compatibility with Premium Addons for Elementor Pro"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.9.4.1`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Some Premium Addons for Elementor feature break when Delay JavaScript Execution is used. They won't fire/work properly after user interaction.

For instanc

[2021-10-08 08:35] vmanthos commented on #4397
Related ticket: https://secure.helpscout.net/conversation/1653821153/299936?folderId=2135277

[2021-10-08 09:07] vmanthos commented on #4072
**Related ticket:** https://secure.helpscout.net/conversation/1653956035/299958/

In this case, the customer bulk removed trackbacks from 220 posts, and that caused `error 503` for `admin-ajax.php?action=rocket_rucss_warmup_resource_fetcher` requests.

This is probably because their cache was cleared at once, and preload was triggered. This started the tree-shaking process for all the posts and le

[2021-10-08 09:54] vmanthos opened #4417 "Delay JS - WooCommerce product images aren't displayed without user interaction in some cases"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.10`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

In #4077 to avoid excluding files when:
1. there is a **product image**
2. there is _not_ a **product gallery**

 @GeekPress suggested adding the following inlin

[2021-10-08 11:49] vmanthos commented on #3962
Related: https://secure.helpscout.net/conversation/1654470903/300069?folderId=2135277

[2021-10-08 12:51] vmanthos commented on #4406
The conditional works fine, and no error is thrown nor a blank page is displayed/cached.

I mistakenly pasted the **Expected behavior** part from #4937. 😅

The issue here is that Delay JavaScript Execution isn't applied. On the specific site the same goes for lazyload because of a `PREG_BACKTRACK_LIMIT_ERROR` here:
https://github.com/wp-media/wp-rocket/blob/61b63a5282105f66595b4bce8dbe7889398f0325

[2021-10-08 13:24] vmanthos commented on #4072
**Related:** https://secure.helpscout.net/conversation/1654318251/300010/

This is a site with 70k articles.

Whatever clears/preloads the cache of a large number of posts could potentially increase the CPU usage with the same mechanism I described in the previous comment.👆

[2021-10-08 15:29] #4391 closed, assigned to mostafa-hisham

[2021-10-08 15:30] #4260 closed, assigned to remyperona

[2021-10-08 19:37] #4374 closed, assigned to remyperona

[2021-10-09 06:34] markllego opened #4418 "WP Rocket Causing 5xx Server Errors - Google Not Happy"
**Before submitting an issue please check that you’ve completed the following steps:**
- 3.9.4.1

**Describe the bug**
Google does not index new posts and de-indexes some of my posts.  Upon checking on the search console and server log (Uncaught TypeError: preg_match(), WP Rocket is throwing 5xx errors on every page.

**Backlog Grooming (for WP Media dev team use only)**
- [ ] Reproduce the proble

[2021-10-09 10:26] DahmaniAdame opened #4419 "Delay JavaScript Execution compatibility with TravelTour (and all GoodLayers themes)"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.10`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When Delay JavaScript Execution is used with the TravelTheme, the carousel slider is not showing even after user interraction.

**To Reproduce**
Steps to repr

[2021-10-09 11:05] Harry09161 commented on #4161
Our dataserver crashed today because of this issue. The DB growth is unmanageable and requires very high maintenance. Please provide a fix soon.

[2021-10-12 08:01] NataliaDrause commented on #2952
Related: https://secure.helpscout.net/conversation/1626848151/293659?folderId=3864740

[2021-10-12 11:19] vmanthos commented on #3963
Related ticket: https://secure.helpscout.net/conversation/1650940335/299200/

[2021-10-12 13:09] alfonso100 commented on #4397
another case here: https://secure.helpscout.net/conversation/1652627689/299643/

[2021-10-12 15:58] alfonso100 opened #4420 "JS optimizations break the relative path in documentcloud.adobe.com/view-sdk/main.js when using ADOBE PDF API Embed Script"
**Before submitting an issue please check that you’ve completed the following steps:**
YES - Made sure you’re on the latest version
YES - Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When using ADOBE PDF API Embed Script, if our JS optimizations are enabled, the file https://documentcloud.adobe.com/view-sdk/main.js is copied locally.  But it cont

[2021-10-13 05:11] vmanthos commented on #146
**Related:** https://secure.helpscout.net/conversation/1657315250/300506?folderId=2135277

[2021-10-13 15:42] juricazuanovic commented on #4161
Related: https://secure.helpscout.net/conversation/1660018830/300984/

[2021-10-13 16:34] #4397 closed, assigned to remyperona

[2021-10-13 16:34] #4378 closed, assigned to remyperona

[2021-10-13 18:38] JerissCloudCenter opened #4422 "Minor layout issue on auto-disabled "Combine JS" green notification"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
There is a minor layout issue on the green notification displayed below Combine JS (when Delay JS is enabled).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Op

[2021-10-13 21:00] remyperona commented on #4224
### Reproduce the issue ✅
Reproduced the issue on https://rocketlabsqa.ovh/product/logo-collection/

### Identify the root cause ✅
The following files need to be excluded from delay JS execution to have the correct display:
[code]

### Scope a solution ✅
In our Avada compatibility file, we can add a new method `delay_js_exclusions()` to add those 2 files to the exclusions array. The method needs t

[2021-10-14 08:09] Mai-Saad opened #4424 "PHP Notice: Undefined index: cache_webp in debug.log when import settings"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.10 and 3.10.1
- Used the search feature to ensure that the bug hasn’t been reported before => yes

**Describe the bug**
PHP Notice:  Undefined index: cache_webp is added in debug.log

**To Reproduce**
Steps to reproduce the behavior:
1. Install and activate WPR 3.10

[2021-10-14 08:21] NataliaDrause commented on #4161
Related: https://secure.helpscout.net/conversation/1659142197/300859?folderId=3864740

[2021-10-14 08:51] DahmaniAdame opened #4425 "Delay JavaScript Execution compatibility with GravityForms when using Recaptcha"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.10`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When GravityForms is using Recaptcha, enabling Delay JavaScript Execution creates the following console error and the form stops working:

![image](https://us

[2021-10-14 14:04] #4420 closed, assigned to alfonso100

[2021-10-14 16:17] GeekPress commented on #3874
I'm closing, it won't be a problem anymore with 3.10.

[2021-10-14 16:17] #3874 closed, assigned to nobody

[2021-10-14 16:55] 79ho3ein opened #4427 "Wp-rocket interference with jet woobuilder plugin (please check)"
hello
The jet woobuilder plugin has a feature to display Recently Viewed products. But when the wp-rocket plugin is enabled, the recently observed feature has a problem.
This problem is such that if the user sees 1 product, 3 products will be added to the list. Or not added at all.
But when we disable the wp-rocket plugin, the problem is solved.
I have already reported this to you(#3990), you aske

[2021-10-14 16:56] #4386 closed, assigned to nobody

[2021-10-14 18:48] remyperona commented on #3968
Closing this as starting from 3.10, we no longer save the used CSS as a file.

[2021-10-14 18:48] #3968 closed, assigned to nobody

[2021-10-15 02:26] alfonso100 commented on #3142
Related: https://secure.helpscout.net/conversation/1624889905/293173

[2021-10-15 05:47] DahmaniAdame commented on #146
Related ticket - https://secure.helpscout.net/conversation/1660735460/301154/

[2021-10-15 05:54] vmanthos commented on #4161
**Related:** https://secure.helpscout.net/conversation/1659884631/300962?folderId=2135277

[2021-10-15 05:58] DahmaniAdame commented on #146
Zend framework has a fallback in case `GLOB_BRACE` is not available.

https://framework.zend.com/apidoc/2.2/classes/Zend.Stdlib.Glob.html

It's used by Drupal - https://api.drupal.org/api/drupal/vendor%21zendframework%21zend-stdlib%21src%21Glob.php/class/Glob/8.5.x

Maybe we can have something similar?

Another alternative https://www.php.net/manual/en/class.globiterator.php

[2021-10-15 06:26] javiergutierrezchamorro opened #4429 "Native Lazy load fallback to LazyLoad.js"
**Is your feature request related to a problem? Please describe.**
Since native lazy load is not yet supported by all browsers, you should choose between the added overhead of LazyLoad.js compatible with most browsers, or the lightweight native implementation not available on all.

Would be nice that WP Rocket manages if the browser supports native lazy loading images and if not, use the LazyLoad.

[2021-10-15 10:19] DahmaniAdame commented on #4166
Related - https://secure.helpscout.net/conversation/1661281740/301228/

[2021-10-15 11:21] DahmaniAdame opened #4430 "is_file(): open_basedir restriction in effect. when using is_file()"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When `open_basedir` is on, the error log will add warnings about failing to find the path.

[code]

This is resulting from sending a files contents `$path` to `is_fi

[2021-10-15 21:16] markllego commented on #4418
Fixed @ 3.10.1

[2021-10-15 21:16] #4418 closed, assigned to nobody

[2021-10-15 21:32] markllego opened #4433 "Support for Preconnect/Preload and 103 Early Hints"
**Is your feature request related to a problem? Please describe.**
WP-Rocket should upgrade the DNS prefetching to preconnect and preload in order to utilize the 103 Early Hints.

**Describe the solution you'd like**
Early Hints enable browsers to start preload before the main response is served. In addition, this can be used with other Resource Hints APIs like preconnect.

Link: https://chromium.

[2021-10-16 09:50] DahmaniAdame opened #4434 "Delay JavaScript Execution automatic compatibility with WooCommerce Stripe Gateway"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.10.1`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When [WooCommerce Stripe Gateway](https://wordpress.org/plugins/woocommerce-gateway-stripe/) is used with Delay JavaScript Execution, the Stripe Buy Now but

[2021-10-16 11:15] DahmaniAdame commented on #4072
Related - https://secure.helpscout.net/conversation/1659560913/300915?folderId=3864735
Hosting service: Kinsta
WP Rocket version: `3.9.4.1`
Other notes: Items to preload (4k+) + low count of assets.

[2021-10-17 07:37] mehedihasanziku opened #4435 "Delay JS/Remove Unused CSS - Onboard Scanner/Compatibility Scanner"
**Is your feature request related to a problem? Please describe.**
Introuduce a scanner based if user select **Auto / Manual** compatibility.
**Auto:** Which will check installed plugin/themes and will look for compatibility in WP Rocket server, fetch exclusion list and store in exclude field (It will run only once after on, include an option that user can re-run with spinner/suitable icon).

Now

[2021-10-17 11:37] NataliaDrause commented on #3900
Related: https://secure.helpscout.net/conversation/1661281740/301228/

[2021-10-18 06:03] NataliaDrause commented on #4161
Related: https://secure.helpscout.net/conversation/1664854749/301839?folderId=3864740

[2021-10-18 07:40] engahmeds3ed commented on #4337
## Notes before grooming
After checking the source code of `wp_next_scheduled` and `wp_clear_scheduled_hook` and found that both do the exact same checks

https://github.com/wordpress/wordpress-develop/blob/da835d6627315ba8c3eabf4ab4b9bb02d29d192d/src/wp-includes/cron.php#L526-L626

And

https://github.com/wordpress/wordpress-develop/blob/da835d6627315ba8c3eabf4ab4b9bb02d29d192d/src/wp-includes/cr

[2021-10-18 09:26] NataliaDrause commented on #4258
Related: https://secure.helpscout.net/conversation/1665639197/301956/

[2021-10-18 09:41] WordPresseur opened #4436 "LazyLoad for Iframes: Preview image cannot receive focus and fails the a11y audit"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**
It appears the lazy load preview image can not receive focus, and even if hacked with a tabindex="0", pressing enter on the image doesn't load the video.

We don't have

[2021-10-18 12:40] vmanthos opened #4437 "RUCSS - Resources aren't saved when WP_PLUGIN_DIR and WP_PLUGIN_URL don't match"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.10.1`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When the `WP_PLUGIN_DIR` and `WP_PLUGIN_URL` constants are altered and do not match:
[code]
we are looking for plugin files using the wrong path, which results

[2021-10-18 14:46] sandyfzu commented on #3246
Another case where rocket_clean_posts() clears the whole cache: https://secure.helpscout.net/conversation/1657430071/300538/

(Is a multisite, all sites are cleared)

[2021-10-18 15:14] iCaspar commented on #4304
Duplicate of #4161

[2021-10-18 15:14] #4304 closed, assigned to nobody

[2021-10-19 06:47] Mai-Saad opened #4438 "Lazyload video thumbnail isn't working on some static templates"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.10.1
- Used the search feature to ensure that the bug hasn’t been reported before => yes

**Describe the bug**
When using a static template, Video is not displayed on the page if replace Youtube with preview image is enabled

**To Reproduce**
Precondition:
- Active t

[2021-10-19 07:13] engahmeds3ed commented on #4438
The main issue is because this template doesn't use the function `body_class` to print the body class attribute so it doesn't add the class `wp-embed-responsive` which is used by block library stylesheet `wp-includes/css/dist/block-library/style.min.css` as in the following screenshot:

![image](https://user-images.githubusercontent.com/15707971/137859830-f5e2d43d-6872-4210-aca6-7e81a0e2569c.png)

[2021-10-19 08:58] JerissCloudCenter opened #4439 "Get rid of "Clear OPcache" action button"
**Is your feature request related to a problem? Please describe.**
This improvement intends to simply the usage of WP Rocket by getting rid of an unnecessary action button from the Quick Actions : Clear OPcache

![image](https://user-images.githubusercontent.com/87424739/138421687-01273ee9-49c9-45c7-924c-1b7d8f975396.png)

**Describe the solution you'd like**
An average user (which is the target a

[2021-10-19 09:04] JerissCloudCenter opened #4440 "If RUCSS is cleared, there is no "Renegerate RUCSS" action button available"
**Is your feature request related to a problem? Please describe.**
Assume that you enable RUCSS, the process starts to create the Used CSS.

Once it's completed, you may need to redo the process (in case you've changed the CSS on your site). In this case, you have a "Clear RUCSS" button but there is no "Regenerate RUCSS" just like we have in CPCSS.

**Describe the solution you'd like**
Transform t

[2021-10-19 13:02] #4224 closed, assigned to remyperona

[2021-10-19 14:19] Presskopp commented on #3510
meanwhile we're on v17.5

[2021-10-19 14:24] charlescwcooke opened #4441 "URLs listed in Always Purge URL(s) clear from WP Rocket locally, but not from Varnish"
**Describe the bug**
We have WP Rocket installed. The Varnish add-on is switched on. Because the Varnish server isn't running on localhost, we are also using the `wp-rocket-compat-varnish-ip` to specify a custom IP for the Varnish server. This works well. When we clear the WP Rocket cache — whether that be the whole cache, or just updating a page — it also clears the cache on Varnish as expected.

[2021-10-19 15:46] #4331 closed, assigned to remyperona

[2021-10-20 10:49] Mai-Saad opened #4442 "Lazyload back ground images is not working when using image relative URL"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.10.1 and the latest LL
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
We are not processing relative URLs for background image

**To Reproduce**
Precondition:
Having page with background image using relative URL  i.

[2021-10-20 11:35] Mai-Saad opened #4443 "Lazyload isnot working correctly when background image URL contains special char"
- Made sure you’re on the latest version => 3.10.1 and native LL
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
A clear and concise description of what the bug is.
Lazyload not handling background image with URL containing special Char correctly

**To Reproduce**
Precondition:
- Having page using a background image with special Char i.e
[code]
St

[2021-10-20 12:29] NataliaDrause commented on #4403
Related: https://secure.helpscout.net/conversation/1667909746/302568/

[2021-10-20 13:02] alfonso100 commented on #4343
related question from a 3rd party developer: https://secure.helpscout.net/conversation/1662864389/301553/

[2021-10-20 13:45] remyperona commented on #4210
This doesn't seem to come from the minification, when testing the CSS sample and minifying it, all the paths are rewritten correctly.

I think this needs further investigation to determine the root cause of the issue.

[2021-10-20 15:59] lukecav commented on #4072
Recent customer example site the `wp_wpr_rucss_resources` database table was 1.1GB in size.
Hosting service: Nexcess
WP Rocket version: `3.10.1`

[2021-10-20 20:50] remyperona commented on #4327
Does it happen when the option to save optimized/aggregated files as static is enabled in Autoptimize configuration?

On our side, in the RUCSS code, we only remove from the HTML CSS that have the `.css` extension, so if the CSS file is using `.php`, it is ignored.

[2021-10-20 21:02] remyperona commented on #4299
We can add a new method to hook on `edit_term` in the RUCSS Admin Subscriber, which will be very similar to `delete_used_css_on_update_or_delete()`, but instead of using `get_permalink()`, we use `get_term_link()` to retrieve the URL of the related taxonomy, and clear its used CSS from the database.

[2021-10-20 21:51] michaelbourne commented on #4436
Thanks for making this issue for me.

The simple solution is that you need to use a button element to load the Youtube video (in place of your `.play` div, perhaps?)

This would solve your accessibility issues as it relates to navigation, although the content of what that button does likely needs to be given with an `aria-label` like "click here to load this video". You could of course style your

[2021-10-20 23:42] webtrainingwheels commented on #3749
another case: https://secure.helpscout.net/conversation/1662695799/301502?folderId=377611
here the customer is using the Neomag theme with the Neomag Infinite Scroll Addon.

[2021-10-21 05:14] sarangsss29 commented on #4441
Bump. Want to know about this too.

[2021-10-21 07:48] WordPresseur commented on #4338
https://wp-media.slack.com/archives/C6H7EC92P/p1634772202001700

[2021-10-21 13:03] alfonso100 commented on #4325
Maybe adding a dropdown to choose the version you'd like to roll back to? http://recordit.co/nP7wW78mcs

[2021-10-21 14:07] alfonso100 commented on #4280
this approach sounds very logical to me. Silently ignore the parameter.
Maybe users are just not aware the homepage is purged every time, so they are still going to achieve what they are trying to do, without any extra reading or causing any issues.

[2021-10-21 14:50] nejko1 opened #4446 "Lazy Load for images and/or delay JS stop background video to play on Safari"
**Describe the bug**
Tested and WP rocket plugin is the culprit. I have Crocal WP theme by Euthemians and cover video that plays as a background under header, at the top of the content. MP4 video plays normally on other browsers but not on Iphone or Mac (Safari) if WP Rocket's Lazy Load and/or Delay JS are activated. If they are deactivated video starts working. Video also works if the theme's own

[2021-10-21 18:27] camilamadronero-zz commented on #4446
Hey!

I'm taking care of this request via support ticket ([internal link](https://secure.helpscout.net/conversation/1670221481/303079)). We'll troubleshoot the issue and continue the communication over there.

Thank you!

[2021-10-21 18:27] #4446 closed, assigned to nobody

[2021-10-21 23:41] TokyoJump commented on #801
WP Rocket user can not use 103 early hints in Cloud Flare.
We can not add custom link header.
This is issue, bug i guess.

It is not so cool.

[2021-10-21 23:48] TokyoJump commented on #4433
I fully agree with you. This is a big problem.

https://github.com/wp-media/wp-rocket/issues/801
As he predicted, this is a problem.

CloudFlare provided Early HInts as a means of optimization, but in many cases it's not possible to add it.
This is because currently users cannot add Link headers from function.php.

[2021-10-22 08:18] mehedihasanziku commented on #4443
There is another case.

when alt has `<br>`
`alt="A quick <br>  dog"`
it breaks like your case. please consider this case also.

Thanks.

[2021-10-22 08:53] alihs opened #4447 "[Question] Any available triggers?"
I'd like to hook into WPR tiggers like readystatechange / rocket-query-load.
I am building a medium like approach to images where initially a 1x1 image is loaded and then we get the full image loaded later on.

Also any hooks that once an image is loaded/lazyloaded i run some vanillajs

[2021-10-22 10:24] piotrbak commented on #4443
@mehedihasanziku This is a separate issue, please find my explanation here:
https://github.com/wp-media/wp-rocket/issues/3502#issuecomment-769038333

And here you can see a correct workaround:
https://github.com/wp-media/wp-rocket/issues/3502#issuecomment-769020133

[2021-10-22 11:12] DahmaniAdame opened #4448 "CDN srcset rewrite not rewriting images when a faulty markup is used"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.10.1`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When using the CDN feature with a retina image with a missing variant, the image is not processed.

[code]
Notice the missing image URL for the 2x.

Will be

[2021-10-22 11:39] mehedihasanziku commented on #4443
Thanks, I haven't checked that case and it was little old case for me.

Instead of messing with client alt tag i provided an solution that replace **`<br>`** tag using replacer (specific case) `rocket_buffer`

[2021-10-22 14:49] viobru commented on #2409
Related: https://secure.helpscout.net/conversation/1671447847/303273

[2021-10-22 15:15] juricazuanovic opened #4450 "Add in the text whether we can refresh the screen (or not)"
While the process of RUCSS is ongoing, users don't know if they can safely refresh the page, or navigate from the WP Rocket settings.

We should add short text explaining this.

![image](https://user-images.githubusercontent.com/2566224/138479699-29136084-7701-477b-bfdd-532fc5159c54.png)

[2021-10-22 15:16] juricazuanovic commented on #4450
Related ticket: https://secure.helpscout.net/conversation/1671444202/303271?folderId=3572910

[2021-10-22 16:54] GeekPress commented on #3526
Final version:

- If we detect the value `/(.*)`, remove it during the save process
- Then add a red notice with this content: `You have added /(.*) in Advanced Rules > Never Cache URL(s) and it has not been saved! This disables caching and optimizations for every page on your site.` This message can be removed.

[2021-10-22 20:20] #4343 closed, assigned to remyperona

[2021-10-22 21:47] alfonso100 commented on #4020
related question: https://secure.helpscout.net/conversation/1672075001/303389

[2021-10-22 22:18] camilamadronero-zz commented on #3526
Team, if possible, I would like to suggest another wording for the notice, please:
`Sorry! Adding /(.*) in Advanced Rules > Never Cache URL(s) was not saved because it disables caching and optimizations for every page on your site.`

[2021-10-23 06:44] TokyoJump opened #4452 "Cache HTTP Headers for 103 Early hints and others."
'HTTP Header response' need cache.

Now we got 103 Early Hints in Cloudflare.
BUT THIS TECHNOLOGY NEED HTTP HEADER.

Use .htaccess? conf?
No no no.... We can not do this.

We need ""responsive HTTP Header"" in PHP.
It is necessary to set the HTTP header dynamically according to the content.

The current WP Rocket, Remove 'added by PHP HTTP Header'.
This so not cool. Very not usefull.

Adding a sec

[2021-10-23 06:50] AlexandrSydoruk opened #4453 "Excluded JavaScript Files for JetMenu"
Hello.
We use on site wp rocket
We made the menu using the JetMenu plugin in the Jupiter X theme.
But when Delay JavaScript Execution is enabled in the wp-rocket plugin,
there is a problem with menu. Submenus do not open on hover.
How i can add the Excluded JavaScript Files for JetMenu?
Correct this issue if possible.
This is too important, thank you!

[2021-10-23 06:55] DahmaniAdame opened #4454 "Clearing cache should also clear used CSS in some cases"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.10.1`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Some themes might use variable inline CSS.

Example from the Woodmart theme:

[code]

After each cache refresh, the string `#wd-6173ac87bcf16` will change,

[2021-10-23 10:22] DahmaniAdame commented on #3963
https://secure.helpscout.net/conversation/1656517499/300403

[2021-10-23 15:22] TokyoJump commented on #4452
WP Super Cache supports header caching in the settings.
This should be helpful.

It's not that difficult and it's a very effective solution.

or

Stop generating "advanced-cache.php" when disabling WP Rocket's page cache with an your add-on.
That way, I can rely on "WP Super Cache" for the page cache. This is also one of the solutions.

In fact, it's not cool,

**it's a bug to keep generating "adv

[2021-10-23 18:14] JerissCloudCenter opened #4455 "Simplify the usage of CPCSS and RUCSS"
**Is your feature request related to a problem? Please describe.**
The development of the new CSS features (CPCSS / RUCSS) have considerably increased the difficulty to use WP Rocket, and I believe it can be simplified further.

**Describe the solution you'd like**
Along with the simplification suggested in #4439 and with the issue raised in #4454, I suggest the following.

Let's start from the pr

[2021-10-24 07:56] GeekPress commented on #4455
Don't forget when you update a page, its cache is automatically cleared and the same for CPCSS / RUCSS.

You don't need to clear the entire cache when you updated a page. This button is only to purge the entire cache, and should not be used when you just updated a page.

[2021-10-24 08:29] mehedihasanziku commented on #4454
Related #4166

[2021-10-24 09:21] JerissCloudCenter commented on #4455
Indeed, your answer is true only if we talk about specific page/post update. However, I was actually refering to cases when "things have changed on the website" in terms of general CSS (not in terms of content updated per page/post).

Imagine for example that I change the general website CSS through my theme to modify the layout of some header elements. In this case, there is no page / post update

[2021-10-24 17:41] NataliaDrause commented on #3502
Related: https://secure.helpscout.net/conversation/1664980375/301869/

The following markup breaks:
`<img src="https://www.example.com/wp-content/uploads/2020/04/image.png" alt="" title="Atendimento<br />Corporativo">`

[2021-10-25 09:27] megakraken opened #4456 "WP-Rocket breaks for URLs that have .php file-extensions"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When using a plugin that adds .php file-extensions to page URLS (for SEO reasons) WP-Rocket will not cache the pages. No directories with index-https.html files are created

[2021-10-25 12:56] NataliaDrause commented on #4258
Related: https://secure.helpscout.net/conversation/1672219234/303404/

[2021-10-25 12:57] NataliaDrause commented on #4072
Related: https://secure.helpscout.net/conversation/1672219234/303404/

[2021-10-25 14:03] NataliaDrause commented on #4403
Related: https://secure.helpscout.net/conversation/1673654498/303547?folderId=3864740

[2021-10-25 19:56] NataliaDrause commented on #2156
Related: https://secure.helpscout.net/conversation/1674678557/303724/

[2021-10-25 20:06] remyperona commented on #4456
Looking back at the source code in version 2.10.7, at that time we were already excluding php extension from cache: https://github.com/wp-media/wp-rocket/blob/v2.10.7/inc/front/process.php

[2021-10-26 09:12] DahmaniAdame commented on #4228
Related - https://secure.helpscout.net/conversation/1671873794/303366/

[2021-10-26 09:42] megakraken commented on #4456
Hello,

that is strange since we are operating a Website with said version of
WP-Rocket and said .PHP on Pages plugin and the .php pages are cached just
fine.

Kind regards

On Mon, 25 Oct 2021 at 22:06, Rémy Perona ***@***.***> wrote:

[2021-10-26 14:16] Agathemed opened #4457 "Put back the "Getting Started" block"
Now that the Wistia bandwidth issue is solved we can put back the **Getting Started** block which includes our tutorial videos links on the dashboard tab.
![Capture d’écran 2021-10-26 à 16 16 06](https://user-images.githubusercontent.com/48359715/138897576-9c26d30f-c8c4-4a94-8e47-6c36e3b3ac61.png)

[2021-10-26 15:44] NataliaDrause commented on #4072
Related: https://secure.helpscout.net/conversation/1674535973/303694?folderId=3864740

[2021-10-26 17:03] Mai-Saad commented on #3976
Could reproduce it when added a mentioned script in the body while both LL and Delay JS are enabled

[2021-10-26 18:20] webtrainingwheels commented on #4161
related: https://secure.helpscout.net/conversation/1661863619/301379?folderId=377611

[2021-10-26 20:26] remyperona commented on #4228
An update has been released to the RUCSS service to better handle those rgb() and rgba() notations cases. It should fix most of the issues related to it.

[2021-10-26 20:26] #4228 closed, assigned to remyperona

[2021-10-26 20:26] NataliaDrause opened #4458 "Stylesheet containing space in the filename is not processed"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.10.1
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
When a stylesheet has a space in the filename, for example `/wp-content/My Folder/mycss.css` it will not be processed by the Remove Unused CSS.

**To Reproduc

[2021-10-27 07:32] DahmaniAdame commented on #3976
Related - https://secure.helpscout.net/conversation/1659055837/300846/
The fixed worked in this case.

[2021-10-27 08:06] Mai-Saad opened #4460 "Lazyload images is removing the default LL of wordpress for iframe"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.10.1
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When enabling LL image, the `loading="lazy"` for the iframe is removed. this will result in not delaying iframe scripts while delay js is enabled.

**To Reproduce*

[2021-10-27 10:03] DahmaniAdame opened #4461 "Add Image Dimensions not processing image if it's lazy loaded by a 3rd party"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version `3.10.1`
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Example, when Perfmatters applies the lazy loading, images will look like this:
​
[code]

​​The <src> attribute has a `data:image` that can't be processed b

[2021-10-27 13:30] #4337 closed, assigned to remyperona

[2021-10-27 13:37] remyperona commented on #4299
### Scope a solution ✅
In `Engine\Optimization\RUCSS\Admin\Subscriber`, add a new method `delete_term_used_css()` that will behave like described above. Hook it on `edit_term` in `get_subscribed_events()`

### Estimate the effort ✅
Effort `[S]`

[2021-10-27 15:03] NataliaDrause commented on #2849
Related: https://secure.helpscout.net/conversation/1654443869/300056?folderId=3864740

Screenshot provided by the customer:
![image](https://user-images.githubusercontent.com/60236665/139092709-3480a2c7-0a75-4b63-a5c2-c87ddeb0424f.png)

[2021-10-27 20:24] #3510 closed, assigned to remyperona

[2021-10-27 20:24] #3976 closed, assigned to remyperona

[2021-10-27 20:25] #4457 closed, assigned to remyperona

[2021-10-27 20:25] NataliaDrause opened #4463 "linear-gradient() function is removed in used CSS"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version -3.10.1
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
Some linear-gradient() functions for background CSS property are not processed and removed in used CSS.

The following example is **not** being added to the us

[2021-10-27 20:43] piotrbak commented on #4463
It seems that this is another `rgba` case...

This one works and it's preserved:
[code]

But the one mentioned in the issue not:
[code]

[2021-10-27 20:57] NataliaDrause opened #4464 "linear-gradient() CSS function containing "turn" breaks during processing"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - 3.10.1
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
background: linear-gradient() CSS function containing "turn" breaks during processing due to the added space between numerical value and `turn`.

Original dec

[2021-10-28 14:13] #4354 closed, assigned to nobody

[2021-10-28 16:20] camilamadronero-zz commented on #2695
Related https://secure.helpscout.net/conversation/1667407005/302475/

[2021-10-28 16:24] mehedihasanziku commented on #4228
I tested this issue right now by regenerating rucss. now it's triggering another issue related to it

Current CSS: `background-color: rgba(17, 17, 17, 1);` and it's removed after rucss available.
This issue was not here i think, looks like this thread fixes causing that issue.

[2021-10-28 16:36] mehedihasanziku commented on #4228
In RUCSS Available :  `background-color: rgba(17,17,17,0.2);`
But previous scenario not available.

[2021-10-28 16:56] piotrbak commented on #4228
@mehedihasanziku We already have an open issue for this:
https://github.com/wp-media/wp-rocket/issues/4463

It seems that `1` or at least integer at this position might break our regex

[2021-10-28 17:00] mehedihasanziku commented on #4228
I saw some opened thread, but there mentioned specific `linear-gradient()` , so i thought let's report here.
Thanks.

[2021-10-28 20:11] camilamadronero-zz commented on #1511
New issue https://secure.helpscout.net/conversation/1665530712/301926/ (NGINX, not Plesk)

[2021-10-29 07:10] Mai-Saad opened #4466 "PHP Notice: Undefined index: host when exclude Defer JS domain name while Minify JS is enabled"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version => 3.10.2
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
PHP Notice is added in debug.log when excluding domain name or file name from Defer JS while Minify JS is enabled

**To Reproduce**
Steps to reproduce the behavior

[2021-10-29 07:18] DahmaniAdame commented on #4454
Another theme spotted: Rehub

It ties some styles with a variable ID:

[code]

Ticket - https://secure.helpscout.net/conversation/1677217367/304076/

[2021-10-29 07:41] DahmaniAdame opened #4467 "Preload user cache"
**Is your feature request related to a problem? Please describe.**
Some edge cases might require preloading the user cache either for the website in full or partially, for a single user or for all the user base.

**Describe the solution you'd like**
Build hooks to facilitate enabling preloading user cache, at least programmatically, if needed.

**Describe alternatives you've considered**
N/A

**Ad

[2021-10-29 08:55] Mai-Saad commented on #4448
Reproducible on test site srcset is not rewritten to CDN (no visual UI problem)

[2021-10-29 11:32] engahmeds3ed commented on #4440
Thanks, @jeriss-cloud-center for your contribution.

I want to make sure that we are on the same background so I will explain in depth the RUCSS feature life cycle.

## RUCSS life cycle

When a user visits a page with an expired cache, WP Rocket will check if any resource changed its content then send it to our warmup process, then will create used CSS for this page.

## So what happens when the a

[2021-10-29 12:50] JerissCloudCenter commented on #4440
Dear @engahmeds3ed

Thanks for the answer. I'd like to clarify few points just to be sure.

1) I understand that new Used CSS will be generated if a user visits a page whose cache has expired. But assume that me (as Admin) I'm changing the CSS of the header for instance or anything on the site layout. In this case, the cache is not expired, so the new Used CSS will not be regenerated. It means I m

[2021-10-29 13:25] engahmeds3ed commented on #4440
Really we appreciate your contribution here and are glad to read your welcomed suggestions.

What will happen if you just cleared the cache by clicking on the Clear Cache button?
I think this will force removing the cache and load the new used CSS once the cache file is created.

@wp-media/productrocket , this is a product team's decision.

[2021-10-29 14:27] remyperona commented on #4466
I was able to reproduce the issue with just minify JS enabled

[2021-10-29 16:37] piotrbak commented on #1771
It's already resolved

[2021-10-29 18:35] remyperona commented on #3526
### Scope a solution ✅
Create a new method in `Engine\Admin\Settings\Settings`, `check_global_exclusion()` to verify if the pattern `/(.*)` is used in the never cache URL(s) field.

If it is found, remove it, and display the notice using `add_settings_error()`.

Call this method inside `sanitize_callback()`.

### Estimate the effort ✅
Effort `[XS]`

[2021-10-29 19:44] remyperona commented on #4460
### Reproduce the issue ✅
Reproduced the issue on local site

### Identify the root cause ✅
This is happening because we are disabling core lazyload depending on the value of the lazyload images option. At the time this was done, core was applying lazyload on images, so it made sense.

But now it also applies to iframes, so we need to update the method to better handle both cases.

### Scope a sol

[2021-10-30 02:42] brandonkramer commented on #3704
I experienced this problem multiple times with WP Rocket 3.9.1.1 and had to reset the .htaccess somehow also on  Cloudways (host). The error caused an internal server error and made the website non-functional.

![image](https://user-images.githubusercontent.com/17217494/139517619-37574c8d-6fd8-4703-a2d1-2e34a133bed5.png)

Anything I can do or change to prevent this problem from happening again?

[2021-10-30 07:55] DahmaniAdame opened #4472 "Autoptimize aggregated JS file can't be delayed"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When Autoptimize is using their `JS, CSS & HTML` > `JavaScript Options` > `Aggregate JS-files`, WP Rocket `Delay JS` is not applied to the resulting combined file.

[2021-10-30 14:49] mehedihasanziku commented on #4463
This issue looks horrible, it's affecting also on generated rucss before the issue opened.

[2021-10-30 15:04] mehedihasanziku commented on #4166
Here can be introduced another attribute like **Delay JS** `"nowprocket"`

It will be good in some cases, like client will see effect immediately.

[2021-10-30 22:16] khaledmokhtar commented on #2409
100% fixed if you do like this
OpenLiteSpeed
![image](https://user-images.githubusercontent.com/93453646/139559836-7ee50e47-92b4-4096-9c61-a28a25970f55.png)
![image](https://user-images.githubusercontent.com/93453646/139559837-5266e774-a9f8-46c7-94de-51b18c42c9cb.png)
![image](https://user-images.githubusercontent.com/93453646/139559840-a68bc409-1c72-4de7-84c1-5cd7cb739eee.png)
![image](https://us

[2021-10-31 12:27] NataliaDrause commented on #4403
Related: https://secure.helpscout.net/conversation/1673127202/303501?folderId=3864740

[2021-10-31 19:04] NataliaDrause commented on #4327
Related: https://secure.helpscout.net/conversation/1680132305/304660?folderId=3864740

[2021-10-31 19:42] NataliaDrause commented on #4166
Related: https://secure.helpscout.net/conversation/1677955163/304285/

[2021-11-01 08:53] vmanthos opened #4473 "Delay JS - Exclude Jetpack Boost's lazyload scripts"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.10.2`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When the following features are active:
1. the lazyload feature of the [Jetpack Boost](https://wordpress.org/plugins/jetpack-boost/) plugin
2. WP Rocket's Dela

[2021-11-01 10:21] Mai-Saad commented on #4136
Same with Defer JS if excluded `/wp-content/rocket-test-data/scripts/test(filename.js ` will result in the following warning:
`[01-Nov-2021 07:58:32 UTC] PHP Warning:  preg_match(): Compilation failed: missing closing parenthesis at offset 976 in /var/www/new.rocketlabsqa.ovh/htdocs/wp-content/plugins/wp-rocket/inc/Engine/Optimization/DeferJS/DeferJS.php on line 79`

Test page: https://new.rocketl

[2021-11-01 10:48] vmanthos commented on #4463
**Related ticket:** https://secure.helpscout.net/conversation/1680470261/304729/

In this case, the CSS was this:
[code]
Replacing `rgba(29, 54, 88, 0)` with `rgb(29, 54, 88)` allowed the used CSS generator to preserve the `linear-gradient()`.

[2021-11-01 13:19] #4466 closed, assigned to remyperona

[2021-11-01 18:25] NataliaDrause commented on #4228
I have a related issue after the update:

This rule is not processed:
`background-color: rgba(0,0,0,1);`

I replaced it with this one which resolved the problem:
`background-color: rgba(0,0,0);`

Ticket: https://secure.helpscout.net/conversation/1683499202/305164/

@piotrbak could you please take a look if this has to be reported somewhere else, since we have some maybe related issues (e.g. linear

[2021-11-01 19:45] remyperona commented on #4464
This is a bug coming from the CSS parser library

[2021-11-02 07:34] Mai-Saad commented on #4434
Couldn't reproduce it on the test site using 3.10.2, @DahmaniAdame Appreciate adding a video or link if possible.

[2021-11-02 09:39] vmanthos commented on #3962
**Related:** https://secure.helpscout.net/conversation/1680524126/304740/

In this case, apart from the JavaScript errors, the following issue was taking place:
![](https://i.vgy.me/IXTFYR.jpg)

This is happening because the CSS that's responsible for how the arrows are displayed is stored in JavaScript:
[code]
This CSS should be injected to `<style id='rs-plugin-settings-inline-css' type='text/cs

[2021-11-02 10:27] DahmaniAdame commented on #3960
Related - https://secure.helpscout.net/conversation/1669836026/302972?folderId=273766

[2021-11-02 11:30] vmanthos opened #4474 "RUCSS - <svg> elements are removed from the used CSS when that's inserted to a page"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅ `3.10.2`
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When `<svg>` elements are included in the used CSS, e.g. as part of the `background-image` `url`:
[code]

those are stripped from the used CSS that's added to

[2021-11-02 14:48] sammyaxe commented on #3112
This is a disaster decision, we are running news website, what happens now, is that for some reason poster image doesn't make into initial cache after publishing the post, I suspect that it's todo with hook order and Yoast SEO premium adding og:image after post is cached.

There must be an option to force clearing specific url cache on cloudflare after post is saved.

[2021-11-02 16:23] NataliaDrause commented on #4143
Related: https://secure.helpscout.net/conversation/1676722766/304024?folderId=3864740

[2021-11-02 18:06] #4460 closed, assigned to remyperona

[2021-11-02 18:41] remyperona commented on #4474
A core function to test as a replacement: https://developer.wordpress.org/reference/functions/safecss_filter_attr/

[2021-11-02 19:42] remyperona commented on #4474
After test: the function above strips too much, and there is other issues too with it, so it won't be usable.

[2021-11-03 06:58] DahmaniAdame commented on #4463
Related - https://secure.helpscout.net/conversation/1678706687/304385/

In this case, it was the `radial-gradient`.

The presence of the `rgba()` seems to force the SaaS to dismiss the `background-image` property.

This is dismissed:

[code]

The following two worked:

- Without `rgba()`:
[code]
- With `rgba()` as the second argument:
[code]