[2021-01-27 12:02] arunbasillal commented on #3514
@Tabrisrp Based on the bench-marking I did last week, removing Combined JS might not be feasible in the short term. (The plan is to do more tests on customer websites).

The increase in file size will be nominal, right? A website with 15 JS files will have 15 lines of text added. Which after compression (gzip) should be negligible.

Imo, let's do it since it will save time for L2.

[2021-01-27 13:33] vmanthos commented on #3398
**Related ticket:** https://secure.helpscout.net/conversation/1402002886/232995?folderId=2135277

[2021-01-27 13:38] piotrbak commented on #3523
The feature was tested against the Acceptance Criteria:
`When the option is enabled, any images with missing “width” and “height” attributes have the appropriate width and height added. `
https://github.com/wp-media/wp-rocket/issues/3301

Things to consider:
- Width or Height calculated by JS
- Height or Width provided by the customer is different than the real height or width of the image

[2021-01-27 14:27] #1495 closed

[2021-01-27 14:27] arunbasillal commented on #3251
@Tabrisrp With the new plan to switch to native LazyLoad, the proposed solution will happen as a side effect. 🌟

[2021-01-27 15:17] WordPresseur commented on #2041
Ticket: https://secure.helpscout.net/conversation/1403856345/233510/

This is the line causing the error due to double replacing:
https://github.com/wp-media/wp-rocket/blob/b0606e2061b184c7d35169113a84ab6a99d5e73a/inc/Engine/CDN/CDN.php#L74

[2021-01-27 15:20] JohnTorvik commented on #3107
Related ticket: https://secure.helpscout.net/conversation/1403748220/233485/

[2021-01-27 17:00] piotrbak commented on #3465
@GeekPress It's ready on the plugin side, the `.platformsh.site` still looks to be counted in the license validation process though. Should I create an issue on the website repo?

[2021-01-27 18:28] engahmeds3ed commented on #3523
I think we need @wp-media/productrocket opinion here, if one of those attributes are there so we will need to calculate the new other attribute based on the aspect ratio as follows:-

Original image => width: 100px, height: 120px
Html img attribute => `<img src="image.jpg" width="50" >`
<strike>Aspect</strike> ratio => 1/2 (0.5)

So the missing height attribute should be `120 * 0.5 = 60`.

[2021-01-27 18:53] webtrainingwheels commented on #3395
https://secure.helpscout.net/conversation/1406513140/234288?folderId=377611

[2021-01-27 18:54] piotrbak commented on #3395
Just a note, as we talked on a standup. Maybe there's a way to prevent this file from being loaded at all 🤔

[2021-01-27 18:59] #3465 closed

[2021-01-27 19:20] alfonso100 opened #3526 "Display a warning when the user adds "/" into the Never Cache URL(s) box"
**Is your feature request related to a problem? Please describe.**
From time to time we get tickets where the customers claim cache is not working, performance is not improving, Lazyload doesn't work, etc,  and the cause is just a / or some form of global exclusion added in the **Never Cache URL(s) box**.

**Describe the solution you'd like**
When we detect a global exclusion is being used, displa

[2021-01-27 19:33] engahmeds3ed commented on #3514
**Scope a solution**

1. Create private method on `\WP_Rocket\Engine\Optimization\Minify\JS\Combine` called `add_comment` which returns the comment structure when debug is enabled only as follows:-
[code]

2. Call this method here:
https://github.com/wp-media/wp-rocket/blob/68efad9f187d3ee48d3361e339a0545fdfc2f8e5/inc/Engine/Optimization/Minify/JS/Combine.php#L321-L336

for inline JS we will add t

[2021-01-27 19:36] JohnTorvik opened #3527 "Scripts and Stylesheets in custom folders are combined, but not excluded from the optimization"
**Before submitting an issue please check that you’ve completed the following steps:**
**- Made sure you’re on the latest version:** Yes. It's the 3.8.3
**- Used the search feature to ensure that the bug hasn’t been reported before:** Not found.

**Describe the bug**
When you load scripts or stylesheets from custom folders like _www.domain.com/tools/file.css/js_, the files are combined and minifie

[2021-01-27 19:44] JohnTorvik commented on #3527
Related: https://secure.helpscout.net/conversation/1399261518/232278/

[2021-01-27 20:03] engahmeds3ed commented on #3510
**Scope a solution**
1. Download the latest 17.3 version from here: https://github.com/verlok/vanilla-lazyload/releases/tag/17.3.0
2. Put the minified and not minified JS files into directory: `assets/js/lazyload/17.3`
3. Change version number here to `17.3`
https://github.com/wp-media/wp-rocket/blob/484263349028b50fc1c87891e1912d49102c2e36/inc/Engine/Media/Lazyload/Subscriber.php#L18

4. Adjust t

[2021-01-27 20:21] engahmeds3ed commented on #3502
Hello @ScottTravisHartley,

I think the problem is that your markup is not valid as there is no closing double quotes for alt tag as follows, you can find this markup here: https://www.sertmedia.com/lazy-load-images-breaks/?nowprocket

[code]

and after applying the lazyload attributes, it became as follows:
[code]

and the browser converts it into
![image](https://user-images.githubusercontent.co

[2021-01-27 21:24] piotrbak opened #3528 "AMP query string is not added during the AMP plugin activation"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When activating the official AMP plugin, we're not adding the `amp` query string automatically. We need to either disable WP Rocket or save settings in the AMP plugin.

**To

[2021-01-27 22:19] ScottTravisHartley commented on #3502
In the backend, the code is as follows
![image](https://user-images.githubusercontent.com/45110039/106061734-697eca80-60bb-11eb-922c-5b9734eb23e3.png)

[2021-01-28 10:26] Mai-Saad opened #3529 "As a user, I want to have an option to automatically restore WPR to default settings"
**Is your feature request related to a problem? Please describe.**
I made changes in WPR settings then my site had an issue, expected to find option in tools to automatically restore back to default settings which was working properly, then change my settings 1 by 1 from there to catch the problem.

**Describe the solution you'd like**
Having a button in tools i.e restore to default (with tool tip

[2021-01-28 11:32] engahmeds3ed commented on #3502
I tried now this and I can reproduce it locally, the problem is that the following regex catches till first closing `>` which here is inside the alt:

https://github.com/wp-media/rocket-lazyload-common/blob/885a540428ddcd3a7dc1ec691b90b8199f35642d/src/Image.php#L25

I will groom this issue in a while.

Thanks @ScottTravisHartley

[2021-01-28 12:16] Mai-Saad opened #3530 "Delay js execution: Better make restore default btn dimmed till changes occur in existing text"
**Is your feature request related to a problem? Please describe.**
Clicking restore default btn in file optimization page while delay js scripts not changing will do nothing.

**Describe the solution you'd like**
Restore default btn in delay js section be dimmed till scripts are changed

**Describe alternatives you've considered**
May be text displayed that scripts are already on default when rest

[2021-01-28 12:27] piotrbak commented on #3502
The workaround is to use a normal line break:
`<img src="image.jpg" alt="1st line`
`2nd line"/>`

And add this CSS:
`img{white-space:pre}`

[2021-01-28 12:34] arunbasillal commented on #3530
We have a related issue - https://github.com/wp-media/wp-rocket/issues/3145
Maybe it's best to close this and add the info there so that it can be looked into together?

[2021-01-28 12:52] Mai-Saad commented on #3145
What about?
1- Having confirmation message when the button clicked to mitigate clicking by mistake.
2- Making the btn dimmed till scripts to delay were changed than defaults to mitigate confusion when clicked and doing nothing

[2021-01-28 12:54] Mai-Saad commented on #3530
Added comment there and will close this one.

Thanks Arun!

[2021-01-28 12:54] #3530 closed, assigned to nobody

[2021-01-28 13:03] piotrbak commented on #3502
@ScottTravisHartley We've investigated the problem with @engahmeds3ed and there are two separate things happening.
1. Adding the `>` inside alt attribute in Gutenberg breaks the markup:
`<img src="cat.png" alt="I'm a > funny cat">`
becomes:
`<img src="cat.png" alt="I'm a > funny cat&#8221;>`
This is what is passed to WP Rocket. Moreover, the above output will break the layout of the page even when

[2021-01-28 13:14] NataliaDrause commented on #530
Related ticket: https://secure.helpscout.net/conversation/1406680709/234339?folderId=3864740

@arunbasillal could you please take a look. Should we reopen this issue?

[2021-01-28 13:28] piotrbak commented on #3418
@strategio I've sent an email to Olivia and Sergey on 18.12 with the information that changing the currency is not changing the cookie at all. On 13.01 Olivia told me that you're still working on this. I haven't received any further information on whether it's already fixed or not. Without this working as expected, we won't be able to test everything correctly.

Do you know if it's fixed?

[2021-01-28 14:08] vmanthos commented on #530
Conversation in Slack about this 👆: https://wp-media.slack.com/archives/C43T1AYMQ/p1611832911041000

[2021-01-28 14:14] strategio commented on #3418
@piotrbak, the change suggested in #3483 will work only with another fix in WCML (not released yet), but it causes no problem if it runs with an old version of WCML.

So if you want to test it on your side, I can share a dev version of WCML. The corresponding merge request can be find [here](https://git.onthegosystems.com/glue-plugins/wpml/woocommerce-multilingual/-/merge_requests/1461) and you ca

[2021-01-28 14:21] piotrbak commented on #3418
@strategio I've been testing your cookie caching mechanism using the 4.11 beta and this filter:
https://snippi.com/s/108po0y
It didn't work at all. Do you know if it is fixed? Unfortunately, I'm not able to access provided links.

Thanks!

[2021-01-28 15:39] arunbasillal commented on #3530
@Mai-Saad Thanks. I have adjusted the labels to `duplicate` fyi 🙏

[2021-01-28 16:31] arunbasillal commented on #530
@Tabrisrp Can you please take a look? The reported issue seems to be the exactly same. It was never fixed in the first place?

[2021-01-28 16:35] arunbasillal commented on #3502
@engahmeds3ed If the work-around Piotr suggested works and if fixing this is tricky, we can choose not to do it as well. This sounds like super edge case. With our plans to switch to native LazyLoad, this might not be needed after all.

[2021-01-28 17:08] remyperona commented on #530
We merged the proposed fix in #773, so it was supposed to be, as reported by the committer of the PR.

If we want this to be investigated further, it needs to be re-opened + grooming request.

[2021-01-28 17:29] piotrbak commented on #3453
Not sure if that changes anything, but we should also cover the relative paths here.

[2021-01-28 18:04] juricazuanovic commented on #3477
Related ticket: https://secure.helpscout.net/conversation/1404974285/233809/

[2021-01-28 19:13] webtrainingwheels commented on #2970
https://secure.helpscout.net/conversation/1407002602/234468?folderId=377611

[2021-01-28 19:41] juricazuanovic opened #3533 "When using Lazy Loading and Themler builder, class is missing in DIV wrapper for IMG element"
**Describe the bug**
When the page is being built with [Themler builder](https://themler.io/), and when WP Rocket Lazy load is active some of the classes are not being added to the DIV wrapper of the IMG element. The result is that the correct CSS is not being applied and images are not displayed correctly.

Example of affected code, for comparison:

Lazy Load turned Off:
`<div class=" additional-

[2021-01-29 07:32] vmanthos commented on #3528
Possibly related ticket:
https://secure.helpscout.net/conversation/1409931489/235255/

[2021-01-29 12:37] arunbasillal commented on #3523
@engahmeds3ed I think you are right. And this is what happens when no height is mentioned, i.e. the image scales to keep the aspect ratio. So from my side, I think we can go ahead with your plan.

However, shall we wait a bit before we fix this? Are we getting support tickets about it? Maybe themes and plugins have a reason to specify only one dimension?

[2021-01-29 12:38] arunbasillal commented on #3523
@engahmeds3ed I think you are right. And this is what happens when no height is mentioned, i.e. the image scales to keep the aspect ratio. So from my side, I think we can go ahead with your plan.

However, shall we wait a bit before we fix this? Are we getting support tickets about it? Maybe themes and plugins have a reason to specify only one dimension?

[2021-01-29 15:00] remyperona opened #3535 "Fix weak integration test related to rocket_get_purge_urls()"
`WP_Rocket\Tests\Integration\inc\common\Test_RocketGetPurgeUrls::testShouldReturnUrls`

This test is failing often when automatically running in our GH actions, creating false negative errors.

[code]

The test should be updated to be more robust and not create unexpected failures.

[2021-01-29 15:11] arunbasillal commented on #3252
Since there is no urgency to fix the issue at hand, if we are going to fix it, let's do it the right way and make a decision on the bigger discussion that @crystinutzaa pointed out. Thanks Cristina 🙏

[2021-01-29 15:13] arunbasillal commented on #3261
@GeekPress I believe you are currently working on bench-marking @import right? Maybe that enhancement can be merged with this discussion?

[2021-01-29 15:16] arunbasillal commented on #3169
@DahmaniAdame You mean exclude a specific JS file from being processed by WP Rocket? Pretty sure it can be done by using the specific filter. Simply return if it's not the post you wish to exclude on.

Similar to what we do in this helper: https://github.com/wp-media/wp-rocket-helpers/blob/a6023ce1cbd444cc50887e6bc8eec98bcfef161f/cache/wp-rocket-no-cache-for-page/wp-rocket-no-cache-for-page.php#L2

[2021-01-29 15:21] arunbasillal commented on #3503
@DahmaniAdame That is a pretty good collection. @GeekPress For your consideration please.

[2021-01-29 15:25] arunbasillal commented on #3514
@engahmeds3ed The idea to add it only when `Debug` mode is enabled is brilliant! Everything else looks great from my side.

@DahmaniAdame / @vmanthos Can you please confirm that this will serve the purpose that L2 was looking for?

[2021-01-29 16:44] webtrainingwheels commented on #3527
Possibly related: https://secure.helpscout.net/conversation/1406500805/234282?folderId=377611

[2021-01-29 18:15] GeekPress commented on #3503
@arunbasillal @DahmaniAdame Yes, we can include all missing query parameters from the list shared by Adame.

@Tabrisrp Can we ask to a level 2 to directly make the PR with the new patterns?

[2021-01-29 18:18] GeekPress commented on #3261
Yes, I'm working on this problem to check if it's a common problem whatever the @import is from an internal or external file. The best solution here will be to merge the imported files into the original file.

@webtrainingwheels We will close this issue once the new one about merging the import file will be created. I will do that.

[2021-01-29 18:27] GeekPress commented on #3523
@engahmeds3ed I agree with you and @arunbasillal about the solution to adopt.

Indeed, I will vote to wait for a little bit to know if this kind of issue will be reported by users. What could be the reason for a theme or a plugin to insert only one of these tags?

[2021-01-29 18:31] GeekPress commented on #3454
@engahmeds3ed What are your feedbacks about the last Arun response 👆

[2021-01-29 18:45] GeekPress commented on #3465
@piotrbak The domain has been added on the website since few weeks => https://github.com/wp-media/wp-rocket.me/issues/2108#issuecomment-758008221

[2021-01-29 18:56] GeekPress commented on #3439
I did the change directly on the website. The Rocket Updater has h3 and the website is replacing h3 with h2.

[2021-01-29 18:56] #3439 closed

[2021-01-29 19:23] strategio commented on #3418
Hi @piotrbak, I am confused because you shared a [small snippet](https://snippi.com/s/108po0y) in your previous comment , and this is just a part of the whole configuration. Please check the code in https://github.com/wp-media/wp-rocket/pull/3483.

So, in order to test this properly you need:
- The [WCML in-dev plugin](https://git.onthegosystems.com/glue-plugins/wpml/woocommerce-multilingual/-/job

[2021-01-29 19:36] piotrbak commented on #3418
@strategio Hi! This snippet should force WPML to use cookies instead of the sessions to store current currency data, right?

So when I was testing this using the mentioned 4.11 beta version, it wasn't working:
1. I visited the not cached page, the currency cookie was set correctly to EUR
2. I changed the currency using switcher in the menu to USD and refreshed the page
3. The currency cookie was s

[2021-01-29 21:48] remyperona commented on #3207
Allo Maxime 👋🏼

The way the plugin is built, we always generate only the corresponding cache file for the current visitor (if the cache file doesn't exist yet). That's why there is never multiple versions of the cache created at the same time.

Anyway, we can find a solution similar to the `.mobile-active` for this case.

[2021-01-30 11:50] DahmaniAdame commented on #3514
@engahmeds3ed nice touch with enabling it only when debugging is on 👍🙏
@arunbasillal looks good to me!

[2021-01-31 14:50] geoffreycrofte opened #3536 "Font-display option"
Hello the Rocket Team 😊

I just saw this issue #3375 in the changelog.
I read lately that the best option by default would be "optional" https://simonhearne.com/2021/layout-shifts-webfonts/ for the font-display property to avoid Layout Shift.

This is a tricky option for WP Rocket because you are at the border between design of the website and performance (or at least one of the Google arbitrary i

[2021-01-31 22:11] maximejobin commented on #3207
Merci Rémy!

The `.webp-active` file would clearly help.

Generating both files' version too (webp and non-webp).

Your call!

[2021-02-01 00:36] remyperona opened #3537 "Update our dependency container to latest stable version"
Now that the plugin supports a minimum PHP version >= 7, we can update our dependency container (`league/container`) to the current stable v3 version.

**Benefits**
- The version currently in the plugin is no longer supported since February 2019
-  It also does support PHP 8
- PSR-11 interoperability
- It introduces a "tag" system for each definition registered, which can be very helpful for us at

[2021-02-01 00:40] remyperona opened #3538 "Update Mozart dependency to the latest version"
[Version 0.6](https://github.com/coenjacobs/mozart/releases/tag/0.6.0) stable of Mozart has been released 2 weeks ago, and v0.7 released just yesterday.

We are already using the 0.6 beta 3 version, but it would be much better to rely on the stable, which also contains more improvements that have been added since.

[2021-02-01 07:10] vmanthos commented on #3514
This looks good to me too! 🙏

[2021-02-01 07:22] vmanthos commented on #3503
@GeekPress I've asked the tech team to tackle this.
We'll handle this very soon.

[2021-02-01 10:27] GeekPress opened #3539 "@import rules aren't combined into the minified CSS files"
**Describe the bug**
When the minify CSS option is turned on, the @import rules aren't combined into the current CSS file.

This is an important problem for performance:
- it creates useless HTTP requests
- The files needs to be preloaded to not decrease the PageSpeed Insight Grade

I did some tests on my side to know if the default behavior of the library was to combined @import rules.

The respo

[2021-02-01 10:30] GeekPress commented on #3261
Closed in favor of #3539 which will solve this problem in the same time.

[2021-02-01 10:30] #3261 closed

[2021-02-01 13:16] milindmore22 opened #3540 "Delayed mobile redirection for AMP pages."
Related to Support Topic : https://wordpress.org/support/topic/redirection-to-amp-is-too-slow/

**Describe the bug**
AMP plugin adds inline script for client side mobile redirection on top of page `<head>`, When we activate **combine javascript** feature from WP Rocket, it combines and add that script in footer resulting in a delayed redirection.
AMP being vastly used plugin this should be in defa

[2021-02-01 16:41] strategio commented on #3418
Hi @piotrbak!

This snippet is not sufficient. Please use [all the code changes needed on WP Rocket side](https://github.com/wp-media/wp-rocket/pull/3483/files#diff-1d043ceb3db90cf761c7342144111ffb1bf1514d68b07bc3861534aabedfb6cbR10) (pull request => https://github.com/wp-media/wp-rocket/pull/3483).

Concerning the WCML dev version (greater than WCML 4.11), I've uploaded a version below:
[woocomme

[2021-02-01 16:53] #3456 closed

[2021-02-01 16:58] remyperona commented on #3292
Related #3395

[2021-02-01 18:48] milindmore22 commented on #3540
Update : `ampUrl` has been used in many other plugins, so choosing more of unique keyword `amp_mobile_redirect_disabled`
ampUrl : https://wpdirectory.net/search/01EXFEKP8SQRW8NBBRDP7ETFHV
amp_mobile_redirect_disabled : https://wpdirectory.net/search/01EXFENJS58JZF8V9XJFJ7EFFS

I will update my PR accordingly #3542

[2021-02-01 19:16] #3440 closed

[2021-02-01 21:22] iCaspar commented on #3535
This one is particularly frustrating in that it is an intermittent issue, so while it reproduces sometimes, it is not always erring either.

My best guess here is that there is another test that is running either concurrently or previously (given tests don't always run in the same order) that is not completely resetting the WP environment. Within this test class, the only other case that involves

[2021-02-01 23:59] jazir555 opened #3544 "WP rocket still loads the Elementor JS files that are disabled with the new Elementor asset loading experiment enabled"
**Before submitting an issue please check that you’ve completed the following steps:**
X Made sure you’re on the latest version
X Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Tested: occurs with minification and concentation, as well delay javascript are on. These are the settings that give me the best performance, so that's what i tested it with

[2021-02-02 04:40] jazir555 opened #3545 "Feature Request: Separate combined css/js files for every page to prevent unnecessary code loading"
**Is your feature request related to a problem? Please describe.**

My site is a woocommerce site that is built with elementor. On pagespeed insights if I scan my site, it shows that there are 157/164 kb of unused css on the page.

If i edit the file and view the contents of which it says is causing the delay( the concentated css file has a load time of 1100 ms on mobile). If I edit the file via s

[2021-02-02 04:46] jazir555 commented on #3523
Please don't wait. There really shouldn't be a reason, how can adding missing dimensions hurt? This is clearly a bug that needs to be rectified immediately.

[2021-02-02 04:48] jazir555 commented on #3527
This may be tied into my elementor swiper issue thread that I made earlier?

[2021-02-02 04:54] jazir555 commented on #3454
Seriously? This is how I primarily browse, I *never* use the arrow keys. To me this is a severe bug, not medium priority.

[2021-02-02 05:04] jazir555 commented on #3407
Ok, so I think I may have potentially narrowed down a second issue. I had apache, nginx and varnish enabled in clustercs. ClusterCS allows you to choose the primary webserver you want to serve with, mine was set to apache. So nginx shouldn't even be involved afaik.

Clearing redis, varnish, opcache, browser cache, wp-rocket cache did not fix the broken page layout. Before clearing varnish cache wa

[2021-02-02 06:17] jazir555 commented on #3270
If there are issues clearing the min folder on both windows and linux, that means the behavior of the cache is faulty on all common operating systems wp-rocket runs on. Shouldn't this be considered a critical bug? Cache clear is an extremely basic functionality of WP-Rocket, if cache clear doesn't work properly, the whole plugin may as well not be functioning.

[2021-02-02 06:22] jazir555 commented on #3208
This may explain why sometimes files appear to load out of order. I have preload setup for fonts, and sometimes one of my js files is loaded before the font file(even though it's preloaded). This actually has a big performance impact for me when it occurs, but it seems to do so spontaneously

[2021-02-02 06:23] jazir555 commented on #3192
Would this also benefit Elementor?

[2021-02-02 06:27] jazir555 commented on #3180
Yes please enable this, +1

[2021-02-02 06:28] jazir555 commented on #3162
Agreed, needed.

[2021-02-02 06:32] jazir555 commented on #3112
If you could add a clear all caches button, that would be ideal. It's pretty annoying to have to separately clear the cache and opcache.

[2021-02-02 06:34] jazir555 commented on #3096
I also notice that if i delete all the files out of the min folder, the site's styling permanently breaks until I restart the server

[2021-02-02 06:36] jazir555 commented on #3084
I actually need this as well, been running into this everywhere.

[2021-02-02 06:38] jazir555 commented on #2974
I have a feeling this is deeply related to the Elementor JS file loading issue. I'm not a coder, but it likely that this could be a reason WP-Rocket is ignoring those files being dequeued with the new elementor asset loading experiment enabled. The feature is explicitly for JS files.

[2021-02-02 06:40] jazir555 commented on #2973
Should be considered a major bug, anything related to the homepage is critical

[2021-02-02 06:42] jazir555 commented on #2645
Why do things just get caught in limbo here? This was marked "grooming in progress" on jul 23, that was 7 months ago.

[2021-02-02 06:43] Mai-Saad opened #3546 "WPR menu in admin top bar better open external links in new tabs"
**Is your feature request related to a problem? Please describe.**
While opening WP dashboard, I want to see Doc for WP rocket in new tab while keeping WP tab opened.

**Describe the solution you'd like**
Clicking any of these links {Documentation, FAQ, Support} in WPR top menu, will open the link in new tab.

**Additional context**
Add any other context or screenshots about the feature request he

[2021-02-02 06:44] jazir555 commented on #3438
Considering there are multiple issues open that are relative path based, you may want to consider revising the way wp-rocket deals with relative paths in general to solve all the issues at once.

[2021-02-02 06:46] jazir555 commented on #2678
Why has all work seemingly stopped on this feature? Preload is supposedly a major feature of the plugin, and it's pretty much non-functional as it is.

[2021-02-02 06:47] jazir555 commented on #2939
Can you please start developing the new preload system again? This project was started 7 months ago and the work on it seems to have died off.

[2021-02-02 06:51] jazir555 commented on #2861
I *absolutely* have this issue. Didn't realize it was an incompatibility with Astra. As that's one of the most common themes, this should be fixed. I can't use the optimize css delivery feature on my site at all.

Why does it seem like every single major feature of this plugin has some massive bug?

[2021-02-02 06:53] jazir555 commented on #2844
Please do not include flying pages in the list of plugins that are automatically deactivated. You guys claim there is an incompatibility with the plugin, yet I experience zero issues having it active.

[2021-02-02 06:54] jazir555 commented on #2842
You already have a solution, can you please implement it?

[2021-02-02 06:57] jazir555 commented on #2695
Please add this, being able to utilize wp hide is pretty critical for security.

[2021-02-02 06:59] jazir555 commented on #2619
Please fix this, as there are issues where the varnish cache is out of sync and references previous cache files and comes up with a 404 error.

[2021-02-02 07:03] jazir555 commented on #2287
Any update?

[2021-02-02 08:49] GeekPress commented on #2645
@jazir5 As you can notice we have today 445 opened issues and we have to prioritize. As the feature is working properly and it's not a blocker, we don't plan to work on it until to have a lot of time.

[2021-02-02 08:53] GeekPress commented on #3523
@jazir5 Please be moderate in your comments. You have added few rude comments recently...

[2021-02-02 08:59] GeekPress commented on #2287
If we don't comment on the issue, it means there is no update. Please note we have 445 opened tickets, and we need to prioritize...

[2021-02-02 09:44] engahmeds3ed commented on #3454
@GeekPress sorry for missing this question!
yes for this issue if we added the scroll event to list of events it will solve the issue.

I think it's related to adding timeout beside those events so if we missed any event, the timeout will work on this case.

[2021-02-02 09:54] engahmeds3ed commented on #3454
@jazir5 Don't worry, it's an edge case when u scroll using the scroll wheel without changing the mouse position so don't worry, we will handle this also.

[2021-02-02 10:12] Garnet-Fox commented on #3454
What about [3142](https://github.com/wp-media/wp-rocket/issues/3142)?
Apple will never fix this problem, as this is not a bug, it is a feature.
Can even put a trigger on the immediate execution of deferred scripts. Who wants to start it with setTimeOut, or trigger on the wheel, or if you need immediate loading from a third-party non-deferred script, launch the trigger, load delayed scripts?

[2021-02-02 10:36] crystinutzaa commented on #2849
**Reproduce the problem** ✅
Issue reproduced on local testing

**Identify the root cause** ✅
The root cause is inside this Regex which matches everything which follows the format:
https://github.com/wp-media/wp-rocket/blob/c88e099454ba5b1e2dba3e6cd46936f0525856ed/inc/Engine/CDN/CDN.php#L44
Starts with either `( " '`
Continues with a `/`
Has the pattern: `any-character.(DOT)any-character`
Ends with

[2021-02-02 12:10] engahmeds3ed commented on #3502
@wp-media/productrocket here we are concerning only with the issue of adding > inside any attribute will break the img tag html and lazyload won't work properly for it and the solution here is to adjust the following regex not to match anything between double/single quotes and this is not an easy and regex will take more time to return specially with pages that have many images on it.

https://git

[2021-02-02 14:49] GeekPress commented on #3454
@wp-media/dev This issue seems to be ready for grooming.

@Mai-Saad @piotrbak Can I let you set the severity label?

[2021-02-02 15:07] remyperona commented on #3538
### Scope a solution ✅
In `composer.json`
- change `"coenjacobs/mozart": "0.6.0-beta-3",` to `"coenjacobs/mozart": "^0.7.0",`

### Estimate the effort ✅
effort `[XS]`

[2021-02-02 15:37] remyperona commented on #3545
There is a misunderstanding on how the plugin works for combining CSS/JS files here.

WP Rocket doesn't use one combined file for all pages. Instead, it works as followed:
- Gather all CSS/JS files present on the current page
- Check if a corresponding combined file exists (meaning the same CSS/JS files). If it exists, re-use it
- If it doesn't, create a new combined file corresponding to that set

[2021-02-02 16:01] sandyfzu opened #3549 "Add epik to ignored querystrings (Pinterest)"
It seems that the querysting "epik" is being added to the url when a link to an external site is clicked on Pinterest.

The querysting "epik" is not currently being ignored by WP Rocket, so, when this happens the site is not cached.

`?epik=XXXXXXXX`

Here is a case of a user asking to add this: https://secure.helpscout.net/conversation/1411765377/235691?folderId=3963184

[2021-02-02 16:07] juricazuanovic commented on #3549
@sandyfigueroa Today I created PR for new ignored query strings, "epik" is among them: https://github.com/wp-media/wp-rocket/pull/3547

[2021-02-02 16:14] sandyfzu commented on #3549
Thank you @juricazuanovic! I found nothing by searching epik in the search bar.

Closing this.

[2021-02-02 16:14] #3549 closed, assigned to nobody

[2021-02-02 16:19] blogtutor commented on #3549
Thank you both!  :)

[2021-02-02 18:45] webtrainingwheels commented on #3523
Related:https://secure.helpscout.net/conversation/1412441027/235892?folderId=377611

[2021-02-02 20:24] #3538 closed, assigned to remyperona

[2021-02-02 20:25] #3438 closed

[2021-02-02 21:40] crystinutzaa commented on #3478
**Reproduce the problem** ✅
Issue reproduced on local testing

**Identify the root cause** ✅
We need to upgrade to WooCommerce v3.9.2 (the latest version).
However, upgrading will bring a lot of new errors due to a lot of code modification inside WooCommerce.
Errors will popup at Integration test (Unit tests are running just fine)

**Scope a solution** ✅
The solution is to upgrade to WooCommerce v

[2021-02-02 23:35] cjhaas commented on #396
We have a need for this too. An `apply_filters` check could even be guarded by a magic constant that isn't normally defined if performance is a concern for the 99.999% of people that don't need this. I think this would be all done in [`/inc/classes/Buffer/class-cache.php`](https://github.com/wp-media/wp-rocket/blob/df26acdfbe015d056fc442cfbf28734f9635aa9f/inc/classes/Buffer/class-cache.php#L84)

I

[2021-02-03 08:35] GeekPress commented on #3502
@engahmeds3ed I'm not sure to understand the relation with the switch to Native Lazyload. We will still need to use the same regex to grab all images to apply `loading="lazy"` on all images, isn't it?

[2021-02-03 10:29] engahmeds3ed commented on #3502
Yes, my message was based on Arun's message and I thought he meant that we can adjust this issue while working on native lazyload.

I will groom this one today.

[2021-02-03 10:48] naurissteins commented on #3523
On my site, it only works on a few pictures.

[2021-02-03 12:22] engahmeds3ed commented on #3454
**Reproduce the problem**
Yes I saw the issue on client's site and reproduced it locally.

**Identify the root cause**
when scrolling using mouse wheel but the mouse itself isn't moved from its place on the screen so mouse events are not triggered so delayed scripts are not triggered with wheel.

**Scope a solution**
https://github.com/wp-media/wp-rocket/blob/098403382744fe6e7adfd4a8c795c2cc93e3fa

[2021-02-03 15:08] iCaspar commented on #3450
Reopening, pending a revised fix using generic `pre_get_rocket_option_XXX` filters instead of specific new filters.

[2021-02-03 16:19] #3450 closed

[2021-02-04 09:06] nicomollet opened #3557 "[Kinsta] Emptying the cache doesn't not empty the CDN"
Hello WP Rocket team,
I have trouble with the Kinsta CDN not emptied after I clear the WP Rocket cache. I have to connect to my Kinsta panel for an additionnal step.

**Is your feature request related to a problem? Please describe.**
On Kinsta, with both WP Rocket options "CDN" and "Minify+Combine CSS+JS" enabled, emptying the WP Rocket cache doesn't empty the CDN cache, for example for the Theme

[2021-02-04 10:37] devonto commented on #3238
+1
When should we expect this bug to be resolved? Thanks!

[2021-02-04 10:48] NataliaDrause commented on #3238
Related: https://secure.helpscout.net/conversation/1413525677/236164/

[2021-02-04 10:50] GeekPress commented on #3238
@vmanthos @Tabrisrp Can this issue be fixed by a Technical Support Engineer?

[2021-02-04 10:52] NataliaDrause commented on #3238
@GeekPress I'm on this! https://wp-media.slack.com/archives/G01BGNQU7AP/p1612433350073900

[2021-02-04 12:37] engahmeds3ed commented on #2456
@wp-media/productrocket

We are searching firstly on the constants here

https://github.com/wp-media/wp-rocket/blob/5434080ccd89b36f3312846e4288a50c9d6b7c3e/inc/classes/admin/class-options-data.php#L64-L68

and then if not found, it will get them from DB so Db prefix change doesn't make such issue as we are using the WP options API so we are searching for license details on options table, option_n

[2021-02-04 12:43] remyperona commented on #3557
Hi 👋🏼 ,

WP Rocket doesn't empty the cache of any CDN, it's not part of our features-scope currently.

When using combine, and manually clearing the cache (from the settings page or the admin bar), a new minify key is generated, which should be also changing the resulting combined filenames for both CSS and JS, so CDN cache should not be an issue and the content always up to date.

[2021-02-04 13:59] GeekPress commented on #2456
@engahmeds3ed  The license-data.php is deleted after the first activation since 3.6

[2021-02-04 15:10] engahmeds3ed commented on #2456
So the license data should be migrated with the DB and in case the settings/DB wasn't migrated properly and constants are not there, so we don't have anything to do here.

@alfonso100 if u have any input here.

[2021-02-04 17:15] piotrbak commented on #3418
Hello @strategio

The things are working on the version you shared with me. I have some questions/concerns though:

1. I'm not sure when exactly this hook is triggered, but if it's used on the frontend, I don't think it's necessary:
https://github.com/wp-media/wp-rocket/blob/436996870bd073db3119115c1c690c04ea492e97/inc/3rd-party/plugins/ecommerce/woocommerce-multilingual.php#L7

2. When changing s

[2021-02-04 18:08] engahmeds3ed commented on #3539
https://github.com/wp-media/wp-rocket/commit/efb7b074ae31f4003ef082e687ff249930b8f419

this commit is prototype for the proposed solution

Branch name: `prototype/fix-internal-import`

**Note:** This change required me to add new method inside minify package here:
https://github.com/wp-media/wp-rocket/blob/efb7b074ae31f4003ef082e687ff249930b8f419/inc/Dependencies/Minify/Minify.php#L140-L142

also

[2021-02-04 18:14] strategio commented on #3418
Thanks for the feedback @piotrbak, and glad it works :)

When a visitor decides to switch the currency, we are also refreshing so parts of the display via AJAX (code is located in `\WCML_Multi_Currency::switch_currency`) and this is where the `wcml_switch_currency` action is fired.

But to be honest, I don't know why we are calling `rocket_clean_domain`.

[2021-02-04 19:42] #3126 closed

[2021-02-05 06:31] wpgaurav commented on #3450
Thanks a lot. <3

[2021-02-05 07:48] vmanthos commented on #2804
Related ticket: https://secure.helpscout.net/conversation/1416460874/236976?folderId=273766 (WP Engine)

[2021-02-05 08:02] GeekPress commented on #3432
I'm closing this one in favor of #3539 which will provide an automatic solution for @import in CSS files.

[2021-02-05 08:02] #3432 closed

[2021-02-05 08:36] GeekPress commented on #3238
@NataliaDrause Awesome :)

[2021-02-05 10:58] GeekPress commented on #3545
I'm closing this feature request as we are working on Remove Unused CSS. For JS, please use a tool like Perfmatters to include your files when needed.

[2021-02-05 10:58] #3545 closed, assigned to nobody

[2021-02-05 11:10] GeekPress commented on #3536
Hi Geoffrey 🤚

It's nice to see you here :)

Indeed, I've read this excellent post. As you said we are at the border of the design & performance of the website.

Some Page Builders like Elementor sets the font-display to optional. In the meantime, these fonts don't have the right value for the « All text remains visible during webfont loads » PageSpeed Insight recommendation. To please this recomm

[2021-02-05 11:13] GeekPress commented on #3522
Duplicate of https://github.com/wp-media/wp-rocket/issues/2658

[2021-02-05 11:13] #3522 closed, assigned to nobody

[2021-02-05 11:33] MuhammedSwalihct opened #3564 "404 issues on CSS & JS resources"
Currently, WP-Rocket uses a mechanism that deletes the old Minified files and replaces them with new ones to accomplish cache-busting. As someone who makes some kind of changes to the websites almost every week, the files get regenerated every few days.

While this cannot be avoided, the problem here is that the old resources return a 404 error whenever anyone requests that resource. As you may al

[2021-02-05 12:21] vmanthos commented on #3110
**Related ticket:** https://secure.helpscout.net/conversation/1415895487/236811/

[2021-02-05 12:42] piotrbak commented on #3533
@juricazuanovic Were you able to check if those classes are present in the HTML source itself, not in the web developer tools? It's possible that they're added via JS, when we're adding our Lazy Load classes the process is interrupted.

[2021-02-05 13:00] piotrbak commented on #3142
Adding timeout trigger would also resolve https://github.com/wp-media/wp-rocket/issues/3420

[2021-02-05 13:10] vmanthos commented on #1743
@GeekPress

It seems the `mod_deflate` rules are causing other issues too on OVH, e.g. export options are not working.
This is fixed by disabling those rules with the respective helper plugin.

OVH is automatically applying compression, regardless of the removal of the rules, so this doesn't have an impact.

Since we are getting a few tickets about these issues, it'd be good if we considered addin

[2021-02-05 13:55] GeekPress commented on #1743
@vmanthos Do we know exactly on which kind of OVH hosting do we have here problem? Is it only on shared hosting? If so, is it on all plans?

@vmanthos  @Tabrisrp Do we have a way to know at 100% we are on an OVH hosting?

[2021-02-05 14:49] vmanthos commented on #1743
I'm not sure.

I've asked one of the customers experiencing this to tell me. I'll update the thread when I hear back from them.

If I had to guess, that would be shared hosting. This is because "export settings" is working fine on our MEGA.

There aren't any host-specific headers, as far as I can tell.

We can reach out to them, and ask if there is any other way to detect this.

[2021-02-05 16:15] GeekPress commented on #3564
Hi @MuhammedSwalihct  🤚

Thanks for your suggestion.

We just had a discussion about that and we have a workaround to work with the Minify CSS & JS options. Unfortunately, it's going to be difficult to have a solution for Combine CSS & JS options.

** For  @wp-media/php **

Here the first solution we discussed with @Tabrisrp and needs to be validated.

We will add a query string (e.g ?ver=) to set

[2021-02-05 16:45] MuhammedSwalihct commented on #3564
That would be awesome. I can see that many of the top websites also using this method of version numbering for resources. So, it is definitely a good path to move forward. I do not know what challenges it would cause, but if we can make it work, it would definitely be a great improvement to this "almost serious" issue.

[2021-02-05 16:49] GeekPress commented on #3520
@Tabrisrp Does this one is good for `good first issue`?

[2021-02-05 16:56] GeekPress commented on #3515
To provide context, we added the fallback option at the time when our CPCSS option was the same for all pages.

As we do now a CPCSS per post type/taxonomy, I don't see a reason to keep this option. Because it means that the fallback is used for the entire website.

@webtrainingwheels @vmanthos I would love to have your thought about that 👆

[2021-02-05 16:59] camilamadronero commented on #3114
@GeekPress I've got a case here:

https://secure.helpscout.net/conversation/1412417595/235881?folderId=2675957

WP Rocket's version is 3.8.4 and the PageSpeed diagnostic only pops up when the OCD is enabled ( Minify and Combine CSS are on):

[code]

What should we do next?

[2021-02-05 17:24] GeekPress commented on #3466
Hi @serg-pervushin

There is no easy way to detect all above the fold images with PHP. The actual solution will be to let you exclude X images. But the problem with that it's not totally accurate. Most of the time, you don't need to exclude the same number of images on mobile than desktop.

This is why we introduced the exclusion field for lazyload. I suggest you to exclude yours above the fold im

[2021-02-05 17:24] #3466 closed, assigned to nobody

[2021-02-05 18:32] juricazuanovic commented on #3180
Related ticket: https://secure.helpscout.net/conversation/1416058059/236883/

[2021-02-05 18:39] piotrbak commented on #3282
On our partner's servers, the LiteSpeed Cache is also recognized with `X-LSCACHE`
![image](https://user-images.githubusercontent.com/26767037/107075014-726d4b80-67e1-11eb-97ef-6b33b444fdb3.png)

[2021-02-05 19:12] webtrainingwheels commented on #3180
https://secure.helpscout.net/conversation/1411063291/235529?folderId=377611

[2021-02-05 19:46] GeekPress commented on #3431
I had a look at the Permatters website and they don't defer their lazyload file:
[screenshot](https://share.getcloudapp.com/bLugmO2J)

All other JS files are deferred, so I suppose it's voluntary to have excluded their lazyload file.

I'm going to contact them to have more info and to know if they can do the compatibility on their side.

[2021-02-05 19:49] GeekPress commented on #3142
@piotrbak Not sure #3420 is related to this problem. Fixing #3454 should I think fix #3420

[2021-02-05 19:50] GeekPress commented on #3420
I'm closing this one as it should be fixed by #3142 or #3454

[2021-02-05 19:50] #3420 closed

[2021-02-05 19:52] GeekPress commented on #3501
I have no discussion with our Arabic translators or any other translators. I think we have nobody in charge of that since Alice left the team.

[2021-02-05 19:55] piotrbak commented on #3142
@GeekPress From my understanding, the users were scrolling around on the webpage and the Delay JS wasn't triggered. The Google Analytics script was not loaded then.

Seems that you're right about the https://github.com/wp-media/wp-rocket/issues/3454 it's also related to mobiles. Probably any of those issues would resolve the https://github.com/wp-media/wp-rocket/issues/3420
Thanks

[2021-02-05 19:57] GeekPress commented on #3526
I see a potential problem with the actual notice. We are not displaying which value is causing the problem. If users have multiple values, how can they know which one we are talking about?

Instead, here another suggestion:
After saving the option, if we detect the pattern `/(.*)` we won't save this value. A notice will be displayed to let users we didn't save this value and why we did that.

It w

[2021-02-05 20:02] GeekPress commented on #3407
But why using two web server caching layers at the same?

[2021-02-05 20:02] piotrbak commented on #3526
@GeekPress Makes sense, definitely. I'm wondering what would be the reason for customers to add that kind of exclusions. If we find that out we could add some further instructions or links to docs too.

[2021-02-05 20:25] GeekPress commented on #3370
Hi @socialpreneur

Can you please retry with the actual last version (3.8.4) and let us know if you still have the problem.

[2021-02-05 20:29] GeekPress commented on #3305
I'm closing this one as everything seems good for the rest of them which are on Windows. We also never got other complaints about that problem.

Feel free to re-open it if another case will be reported.

[2021-02-05 20:29] #3305 closed

[2021-02-05 20:32] GeekPress commented on #3304
I'm closing this ticket as @arunbasillal provided a way to do the trick by using another filter:
https://github.com/wp-media/wp-rocket/issues/3304#issuecomment-731986549

@seldimi Even if we had a filter, the `rocket_clean_home` function will be triggered.

[2021-02-05 20:32] #3304 closed

[2021-02-05 20:39] GeekPress commented on #3256
I'm closing this issue as the problem seems to be solved ;)

[2021-02-05 20:39] #3256 closed

[2021-02-05 20:43] cyberjosh opened #3566 "Malcare - Picking Up WP Rocket as bug"
Hello,

We use Malcare to help manage our fleet of WP sites. I was updating plugins today and when I update to 3.8.4, the site gets scanned and comes back as malware. Have you seen this before?

[2021-02-05 20:43] jazir555 commented on #3407
It was not intentional, nginx *should* have been disabled, but was not. I'm
not sure how it happened, but clearing the nginx cache worked for me.

On Fri, Feb 5, 2021, 12:02 PM Jonathan Buttigieg <notifications@github.com>
wrote:

[2021-02-05 20:46] GeekPress commented on #3173
I'm closing this issue and we fixed #3118. Excluding the domain should now work as expected.

[2021-02-05 20:46] #3173 closed

[2021-02-05 20:48] GeekPress commented on #3145
I'm closing this one as this problem will be fixed with the Delay JS new UI.

[2021-02-05 20:48] #3145 closed

[2021-02-05 20:51] GeekPress commented on #3162
Hi @socialpreneur

Thanks for your feedback.

Being able to separate exclusion from Combine and/or Minify will require another textarea.

We won't go on this solution for two reasons:
- it's going to complexify the configuration
- One file not being minified won't hurt your loading time in a signifiant bad way.

[2021-02-05 20:51] #3162 closed

[2021-02-05 20:57] GeekPress commented on #3130
Hi @gevcen

As @ScottTravisHartley explained, you should get this issue because Firefox didn't support the preload tag at this time.

FF is now supporting preload correctly.

I'm closing this issue as it should be fixed.

Feel free to comment if you still have the problem, we will reopen the issue.

[2021-02-05 20:57] #3130 closed

[2021-02-05 21:04] GeekPress commented on #3134
I'm closing this issue as as @Tabrisrp explained we don't seem to have any way to fix that problem.

[2021-02-05 21:04] #3134 closed

[2021-02-05 21:07] GeekPress commented on #3107
I added the wontfix label as since 3.8, the minimum WordPress version required is 5.2.

[2021-02-05 21:07] #3107 closed

[2021-02-05 21:22] GeekPress commented on #3566
Hi @cyberjosh

Can you please provide us more details? e;g which files has been reported as malware?

Thanks

[2021-02-05 23:37] webtrainingwheels commented on #3395
Just an update on [this ticket](https://secure.helpscout.net/conversation/1406513140/234288?folderId=377611) that I posted above. In this case the error was affecting the front end display of the site because the customer is using a plugin to serve /wp-admin/post.php and wp-admin/edit.php pages in the frontend in an iFrame.

[2021-02-05 23:49] webtrainingwheels opened #3567 "Database Optimization - Detect InnoDB and display a message"
WP Rocket intentionally does not optimize InnoDB database tables.
In the UI, it will say "0 tables to optimize" and no optimization takes place. This sometimes leads to customers opening tickets because they think something is not working correctly.

We could add some text in the UI when InnoDB is detected to let the customer know what's happening. Something along these lines:

<img width="907" al

[2021-02-06 02:03] patche81 commented on #3544
please fix this asap, this is extremely annowing

[2021-02-06 03:24] socialpreneur commented on #3162
@GeekPress Just by reading your answer, I don't think are on on the same topic. ;) I originally never requested to add another textarea idea you mentioned, so I'm a bit confused right now.

I just hope WP Rocket will continue to cache external scripts locally at any condition if a user wants it, even the script is excluded from minify.

[2021-02-06 07:56] GeekPress commented on #3162
@socialpreneur Ok I got your point now.

We still have the same problem ;)

By excluding a CSS/JS file from the Minify/Combine options, it's excluded from the whole process. It means an external file won't be hosted anymore.

And this is the behavior we want to have and to keep.

Why?
If someone has a problem by hosting an external file, the exclusion will allow fixing the problem.

[2021-02-06 08:06] GeekPress commented on #3526
@piotrbak Indeed, it doesn't make to want to cache only the homepage ^^

@alfonso100  @webtrainingwheels Do you know if we already have this kind of documentation?

[2021-02-06 10:03] fclugano opened #3568 "3.8.4 breaks media library and many other plugins"
On our websites:
PHP 7.3 and 7.4
WP 5.5.3

After the upgrade to WP Rocket 3.8.4 we cannot browse the library anymore. No content is shown. We cannot upload new pictures too in wp articles too. Even the plugin WP Optimize is broken.

We had another website still on V3.8.3 and we used those WP-Rocket files to downgrade to V 3.8.3 and now everything is fine again.

[2021-02-06 15:33] roberthedlund commented on #3142
Any update?

[2021-02-06 17:30] GeekPress commented on #3131
Hi @socialpreneur

Thanks for sharing this suggestion.

I don't think this is something we will do.

Why?
It means we will have to download and saved locally all external fonts. It's a huge extra work and we have some doubts about the benefits since you can preload the fonts within WP Rocket.

[2021-02-06 17:30] #3131 closed

[2021-02-06 17:41] #2958 closed

[2021-02-06 17:48] GeekPress commented on #2861
@webtrainingwheels As the CSS is into an inline tag, and not async, I'm not sure to understand how it could lead to a FOUC.

[2021-02-06 17:52] GeekPress commented on #2864
@WordPresseur Are we sure the problem was related to that change? With 1M+ active installs, I'm surprised to not have more reports about this potential bug.

[2021-02-06 18:36] webtrainingwheels commented on #2861
@GeekPress this is what Seb told us a long time ago. Here’s a reference
https://wp-media.slack.com/archives/C08N8J6VC/p1537864602000100

[2021-02-06 22:07] jazir555 commented on #3544
@GeekPress @Tabrisrp

[2021-02-06 23:17] patche81 commented on #3180
please enable this, +1

[2021-02-07 00:18] jazir555 commented on #3564
Does this also explain why the files 404 in varnish when you clear the cache without the query string exception or the nginx cache? This would probably completely resolve those issues right?

[2021-02-07 00:25] MuhammedSwalihct commented on #3564
@jazir5 Yes, I was also getting these error messages in the NGINX error log. As I explained in the original post, this happens because NGINX cache/Varnish tries to access the old cached versions of the HTML where the removed resource is referenced. As it no longer exists on the server, it throws a 404 error. Applying the above fix might resolve these errors as well.

[2021-02-07 01:08] jazir555 commented on #3564
Awesome!

On Sat, Feb 6, 2021, 4:25 PM Muhammed Swalih <notifications@github.com>
wrote:

[2021-02-07 04:52] jazir555 commented on #3544
https://developers.elementor.com/experiment-optimized-asset-loading/

I found this article on their developers subdomain which explains the change in how they handle asset loading. You may have to contact the elementor devs.

[2021-02-07 17:42] GeekPress commented on #3423
@iCaspar @Tabrisrp FYI, I've just submitted a patch to allow `wp_resource_hints` to allow multiple usages of a relation type:
https://core.trac.wordpress.org/ticket/52465

[2021-02-08 06:06] vmanthos commented on #3515
I have rarely seen customers using the fallback CSS.

An edge case where the feature can be useful is if a site is not publicly accessible, therefore CPCSS cannot be generated, e.g. a protected local network.

Other than this, I agree with your comment, Jonathan. Even more, since we provide the ability for page-specific CPCSS.

[2021-02-08 08:58] GeekPress commented on #3423
@iCaspar @Tabrisrp until this enhancement will be approved and merged in the core (🤞), let's implement the first enhancement.

I don't think we need to complexify the code on our side to have both preconnect right now. The benefits in terms of performance don't worth it.

Having already the preconnect without the crossorigin will be better than just the actual dns-prefetch (Better done than perfec

[2021-02-08 11:01] roberthedlund commented on #3142
@arunbasillal  Cant you add an option in WP-rocket for this to exclude on certain pages instead in the meanwhile?
Like Flying Scripts has, they even have option to exclude the Delay JS for certain pages with keywords.

[2021-02-08 12:02] engahmeds3ed opened #3570 "Get required WordPress version automatically from the API"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version **Yes**
- Used the search feature to ensure that the bug hasn’t been reported before **Yes**

**Describe the bug**
Now our plugin states that we support WordPress up to `5.5.1` but I'm pretty sure that we support latest one `5.6.1`

https://github.com/wp-media/wp-rocket/b

[2021-02-08 12:07] engahmeds3ed commented on #3570
**Reproduce the problem**
Yes

**Identify the root cause**

https://github.com/wp-media/wp-rocket/blob/5c698673a22509f5a4194ba8909a696a45f5bb68/wp-rocket.php#L25

here we are saying that last tested version is `5.5.1`

**Scope a solution**

Update it to be `5.6.1`

**Estimate the effort**
[XS]

@wp-media/qa this is from development perspective but I think you will need to take a round of testing t

[2021-02-08 12:35] GeekPress commented on #3570
@engahmeds3ed Can we set the value dynamically to not have to update the plugin each time there is a new WordPress version?

We have wp-rocket.me/plugin_information.php which has the info for the last tested WordPress version here:
https://github.com/wp-media/wp-rocket.me/blob/master/plugin_information.php#L21

[2021-02-08 13:12] engahmeds3ed commented on #3570
@GeekPress I'm sure that this was done like that to let QA team decide if our current version is matching (tested) with latest WP version so if we changed this value automatically, it may not be valid info!

If this is needed, yes we can get the value dynamically.

what do u think?

[2021-02-08 13:42] GeekPress commented on #3570
The tested value needs to be set on our back-end in any way (Settings > WP Rocket Update Handler). It's not automatic by detecting the new available WordPress version.

[2021-02-08 13:50] engahmeds3ed commented on #3570
@GeekPress

Got your point, let me re-groom it today based on that change.

[2021-02-08 14:40] remyperona commented on #2889
Done, thank you for the suggestion @szepeviktor

[2021-02-08 14:40] #2889 closed

[2021-02-08 14:52] remyperona commented on #3568
Hi @fclugano,

Are you using NextGEN gallery?

[2021-02-08 16:25] szepeviktor commented on #2889
You're welcome.

[2021-02-08 16:42] #3513 closed, assigned to NataliaDrause

[2021-02-08 20:43] #3470 closed, assigned to vmanthos

[2021-02-08 20:43] #3521 closed, assigned to remyperona

[2021-02-08 21:26] remyperona commented on #3520
It is, we will add it once the grooming is done.

[2021-02-08 21:37] remyperona commented on #3539
@engahmeds3ed Do you see a way of accomplishing the same goal, but without modifying the library code?

[2021-02-08 21:42] remyperona commented on #2849
@wp-media/productrocket Currently we see 2 approaches to fix the issue.

1. Skip the `<script>` tags when doing the CDN rewrite.
2. Not rewriting when the URL is relative.

Downside of (1) is that we might be missing URLs inside scripts, that won't be rewritten to the CDN URL.
Downside of (2) is that any relative URL won't be rewrittent at all.

We looked at CDN Enabler to compare, and they have t

[2021-02-08 21:52] alfonso100 commented on #3142
another case:
https://secure.helpscout.net/conversation/1417928403/237257?folderId=2683093

[2021-02-09 06:28] vmanthos commented on #2776
**Potentially related ticket:** https://secure.helpscout.net/conversation/1419934340/237835/

The site is hosted on a LiteSpeed server, and pages are randomly cached incomplete, e.g.: http://snippi.com/s/0rj03ck

[2021-02-09 08:03] GeekPress commented on #2863
After discussing with @Agathemed we don't need that anymore. I'm closing it.

[2021-02-09 08:03] #2863 closed

[2021-02-09 09:01] GeekPress commented on #2862
As it's very trivial and has no impact on the website, we won't fix this problem.

[2021-02-09 09:01] #2862 closed

[2021-02-09 09:07] GeekPress commented on #3431
FYI, I have just contacted Brian Jackson about this problem.

[2021-02-09 09:17] GeekPress commented on #3101
The user didn't get feedback. I'm closing this issue until someone else will report a new problem about it.

[2021-02-09 09:17] #3101 closed

[2021-02-09 09:20] GeekPress commented on #3268
Hi @itzmostafiz 🤚

Thanks for contributing to WP Rocket.

May I ask you to provide more details to better understand your problem?

Please use our default template issue:
https://github.com/wp-media/wp-rocket/issues/new?assignees=&labels=&template=bug_report.md

[2021-02-09 10:31] fclugano commented on #3568
Yes, exactly

[2021-02-09 10:35] GeekPress commented on #3142
@Roboonl It has been tested on a real mobile device. Please try our website on mobile, you don't need to click two times.

@roberthedlund I should have missed something, I don't find any way with Flying Script to have keywords based on pages.

[2021-02-09 10:40] GeekPress commented on #2849
Thanks, @Tabrisrp for sharing the solutions.

We will go with (2) as it will still allow us to rewrite absolute URLs and fix the current issue.

When (1) will fix the current issue but create a regression.

[2021-02-09 11:15] Presskopp commented on #3546
Let me drop in briefly that in general the user should have full control over the link behaviour out of a UX perspective.

Read more:
https://www.w3.org/TR/WCAG20-TECHS/G200.html
https://www.nngroup.com/articles/new-browser-windows-and-tabs/
https://uxdesign.cc/linking-to-a-new-tab-vs-same-tab-f88b495d2187
https://medium.com/the-metric/links-should-open-in-the-same-window-447da3ae59ba

[2021-02-09 12:00] WPcare commented on #3568
Same problem here! Using NextGen but experiencing issues on other plugins like Ninja Forms.

[2021-02-09 12:32] vmanthos commented on #3568
@Tabrisrp

We have a few similar reports, all related to the NextGEN gallery.

On a customer's website, I used the following instead of plain `is_admin()`, and the issue is fixed:
[code]
Natalia confirmed the same on her test site.

I'm not sure why this works. ¯\_(ツ)_/¯

[2021-02-09 12:56] juricazuanovic commented on #3533
@piotrbak  I didn't check in HTML source. I tried testing on my localhost, but the builder needs a license so I'll ask the customer for access and check it.

[2021-02-09 13:01] remyperona commented on #3568
Instead of directly returning `true/false`, we should be returning the value passed by the filter:

[code]

Thay way, in an admin context, we preserve the behaviour set by NGG. And on the front, we continue as before to disable it to prevent the original conflict.

[2021-02-09 13:06] remyperona commented on #3381
@MaximeCulea Almost, the only difference is that from packagist, your licence data is not present at the root of the plugin directory (And composer autoloading is not yet created, but that's normal).

You should not have any issue using the plugin via packagist and composer directly.

[2021-02-09 13:06] fclugano commented on #3568
for us, it breaks a major functionality like the media library and the compatibility with a lot of other plugins. We are WP rocket customers, not developers, so it is up to you to find a solution :) thank you for your efforts

[2021-02-09 13:11] juricazuanovic commented on #3533
@piotrbak I didn't check the HTML source code, and the Themler requires a license so I wasn't able to test it on localhost. I'll ask the customer for access again and check it.

[2021-02-09 13:42] GeekPress commented on #3568
@vmanthos How many tickets have been reported because of this regression?

I'm asking the question to know if this bug should be fixed in urgency to be implemented in 3.8.5

[2021-02-09 14:11] vmanthos commented on #3568
Natalia mentioned 3 possibly related tickets, and with the ones that we have in this thread, the total is 5.

[2021-02-09 14:14] remyperona commented on #2970
As validated with QA and product, since the recent version of the `woodmart core` plugin already is compatible (`publicly_queryable = false`), we are not going forward with this.

[2021-02-09 14:54] NataliaDrause opened #3576 "Guard our code when the rocket_defer_inline_exclusions filter used by 3rd parties"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version -yes
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
3rd party plugins use our filter `rocket_defer_inline_exclusions` and pass a string instead of an array. This leads to a PHP warning in the debug.log:
`PHP Warnin

[2021-02-09 14:56] GeekPress commented on #3568
@vmanthos You already submitted the patch, you rock :)

@Tabrisrp @wp-media/qa Can this be added to 3.8.5?

[2021-02-09 14:58] alfonso100 commented on #3568
another case: https://secure.helpscout.net/conversation/1418864162/237497?folderId=2683093

[2021-02-09 15:37] Mai-Saad opened #3577 "Delete WPR plugin failed message displayed when try to delete WPR plugin while having multiple php tags in wp-config.php"
**Before submitting an issue please check that you’ve completed the following steps:**

- [x] Made sure you’re on the latest version

- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Deletion failed displayed when try to delete WPR and deleting link keep loading

**To Reproduce**
Precondition: WPR installed and activated
Steps to reproduce the

[2021-02-09 17:48] engahmeds3ed commented on #3332
## For history and @wp-media/qa :

**How to reproduce the issue?**

1. Open product to edit / create new product at woocommerce
2. Go to the part of Extra Product Options as in the following screenshot
![image](https://user-images.githubusercontent.com/15707971/107404922-6a7a1800-6b0f-11eb-958d-10f3e71258dc.png)

3. Add new element and choose radio type
4. Adjust the settings by going to General O

[2021-02-09 20:10] #3332 closed

[2021-02-09 20:18] remyperona opened #3578 "Remove delete expired transients from the database optimization"
**Is your feature request related to a problem? Please describe.**
Since WP 4.9, WordPress handles cleaning of expired transients automatically.

A cron task called `delete_expired_transients` runs every day, calling the function `delete_expired_transients()`.

The function from WP core deletes expired transient on both single and multisite automatically.

**Describe the solution you'd like**
Cons

[2021-02-09 20:32] brianleejackson commented on #3431
Hey guys!
Thanks for roping me in. We did some testing today and can see that it appears to have changed with WP Rocket 3.8+. We now have a fix in place on dev, and it will get pushed out in the next update of Perfmatters.

Thanks

[2021-02-10 08:22] GeekPress commented on #3431
Thanks @brianleejackson for the confirmation and the fix on your side. I'm going to let our team know about the coming update.

[2021-02-10 08:22] #3431 closed

[2021-02-10 08:24] #3381 closed

[2021-02-10 08:26] #3536 closed, assigned to nobody

[2021-02-10 08:40] #1304 closed

[2021-02-10 08:45] GeekPress commented on #1317
@x1024 In 3.7, we have introduced a feature to delay JS execution. Delaying external JavaScript files is better than localizing them. I recommend you to try this new awesome feature :)

[2021-02-10 08:45] #1317 closed

[2021-02-10 08:55] GeekPress commented on #1650
Duplicate of #2713

[2021-02-10 08:55] #1650 closed

[2021-02-10 08:58] GeekPress commented on #2235
Hi @twigandolive 🤚

In 3.7, we have introduced a feature to delay JS execution. Delaying external JavaScript files is better than localizing them. I recommend you to try this new awesome feature :)

[2021-02-10 08:58] #2235 closed

[2021-02-10 10:01] MaximeCulea commented on #3381
The idea was to automagically do that like ACF, WPMUDEV, etc.

[2021-02-10 11:09] GeekPress commented on #3400
Hi @androidacy 🤚

Welcome and thanks for contributing to WP Rocket repository.

I understand your need and how it could help you. On another side, the need seems to be very rare, and we try to avoid to complexify our features with cases like that.

To help to achieve what you would like to do, we contributed to the WordPress core to add new hooks:
https://core.trac.wordpress.org/ticket/51325

Than

[2021-02-10 11:09] #3400 closed

[2021-02-10 11:19] GeekPress commented on #1305
It seems that it's not going to be possible to do this enhancement. I'm closing it.

[2021-02-10 11:19] #1305 closed

[2021-02-10 12:31] engahmeds3ed commented on #3539
@Tabrisrp

I think we have two options here:-

1. Pass the file path instead of content and then apply our filters after minification.
2. duplicated the minify package's code and implement again the part of replacing import by contents.

for now I opened PR at the minify package here: https://github.com/matthiasmullie/minify/pull/359
I hope he can check that soon (in case we took this approach)

w

[2021-02-10 13:55] GeekPress commented on #2861
@webtrainingwheels Thanks, I better understand now why it causes the problem.

We have two solutions to fix the problem:
- Include inline CSS during the Combine CSS process
- Detect inline CSS during the CPCSS generation

The first solution isn't good as we will generate `cache dir size` issues as we have for Combine JS.

The second solution is more trustable, but we have nobody to work on the CPC

[2021-02-10 13:55] #2861 closed

[2021-02-10 14:19] GeekPress commented on #1329
Hi @Camilo517

Thanks for contributing to WP Rocket repository.

As @arunbasillal and @JohnTorvik suggested, you should use our new Delay JS to optimize OneSignal loading time.

[2021-02-10 14:19] #1329 closed

[2021-02-10 14:21] #3503 closed, assigned to juricazuanovic

[2021-02-10 14:21] GeekPress commented on #1997
@vmanthos @Tabrisrp Can this be done by using a helper plugin?

[2021-02-10 14:21] #3540 closed, assigned to milindmore22

[2021-02-10 14:26] #3035 closed

[2021-02-10 14:29] GeekPress commented on #1938
Hi @ctschach 🤚

Welcome and thanks for your contribution to WP Rocket repository.

For this kind of problem (image replacement), there is an excellent plugin named [Enable Media Replace](https://wordpress.org/plugins/enable-media-replace/).

You can change an image and the plugin will change the URL everywhere it was linked 🚀

[2021-02-10 14:29] #1938 closed

[2021-02-10 14:58] ghost commented on #3578
@Tabrisrp,

Thanks for opening this ticket. Leveraging off your recommendation, I would like to suggest the following:

**(1)** Delete the "Expired Transients" option of your plugin. (as you recommended)

**(2)** Update the code used  for "All Transients." Currently, it is not working properly. Recommend this field, when activated and run, delete all transients in the database (expired and active)

[2021-02-10 15:15] #3568 closed, assigned to vmanthos

[2021-02-10 15:19] ethanclevenger91 commented on #3381
I don't know if any way to configure your license as you install ACF via
Composer, but with WP Rocket, I set my license information via env
variables and then have an mu-plugin that loads those into constants. I do
this for a variety of licensed plugins where possible to avoid managing my
licenses in the database or having them in Git.

On Wed, Feb 10, 2021, 2:01 AM Maxime CULEA <notifications@git

[2021-02-10 15:32] MaximeCulea commented on #3381
Yes it is possible like so:
- for ACF plugin: https://roots.io/guides/acf-pro-as-a-composer-dependency-with-encrypted-license-key/
- for WPMUDEV plugins: https://premium.wpmudev.org/docs/getting-started/download-wpmu-dev-plugins-themes/

Maybe I am asking too much here, but nowadays it is quite a standard in the PHP community especially when it comes to premium, located on a private packagist. Fre

[2021-02-10 15:48] engahmeds3ed commented on #3576
## Grooming

- [x] Reproduce the problem
Yes I saw the issue on customer site.

- [x] Identify the root cause
At 3.8 we removed `safe mode for jquery` option on this PR https://github.com/wp-media/wp-rocket/pull/3366 and there we used the filter `rocket_defer_inline_exclusions` and pass it a string and then on the next minor release (3.8.1) we changed it's type to be array on this PR https://githu

[2021-02-10 15:51] NataliaDrause commented on #1686
Likely related: https://secure.helpscout.net/conversation/1419240643/237605?folderId=3864740

[2021-02-10 16:40] GeekPress commented on #687
As this problem hasn't been reported for a while, we can suppose we don't have the problem anymore.

@wp-media/supportrocket Feel free to re-open it if a new ticket will be related to this problem.

[2021-02-10 16:40] #687 closed

[2021-02-10 16:51] GeekPress commented on #1118
Indeed, it seems to be a duplicate of #2810 for the external JS files, but I'm not sure to understand the enhancement on inline scripts.

[2021-02-10 16:51] #1118 closed

[2021-02-10 17:15] webtrainingwheels commented on #2409
https://secure.helpscout.net/conversation/1419454274/237650?folderId=377611

[2021-02-10 17:50] GeekPress commented on #786
It seems to be a very rare edge case. as we didn't have any report in 3 years, I'm closing it.

[2021-02-10 17:50] #786 closed

[2021-02-10 17:52] GeekPress commented on #964
HTML minification option has been removed from WP Rocket. I'm closing this issue as it's now invalid.

[2021-02-10 17:52] #964 closed

[2021-02-11 07:46] vmanthos commented on #1997
@GeekPress This cannot be done using a helper plugin, as far as I understand.

Currently, we don't have a filter that we could use to do that, the way we have for the common cache for logged in users:
https://github.com/wp-media/wp-rocket/blob/40ecc6c70de1995295a1994fb77a6ecb93885287/inc/functions/files.php#L78

That's used in the `Cache` class to determine the path of the cached file we'll serve:

[2021-02-11 08:48] vmanthos commented on #3348
**Related ticket:** https://secure.helpscout.net/conversation/1412235252/235802/

The default WordPress login/logout functionality was used along with BuddyBoss.

Disabling the `last-modified` headers fixed the issue, but the following poped-up:
https://github.com/wp-media/wp-rocket/issues/3274

[2021-02-11 10:53] jonasm82 commented on #3180
+1 for this

@crystinutzaa see above API doc links by sejoker

Thanks!

[2021-02-11 14:16] vmanthos opened #3584 "DelayJS is not applied on large HTML pages"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When an HTML page is large, the **Delay JavaScript execution** feature may not be applied, because `preg_replace_callback()` returns `null` here:
https://github.com/wp-

[2021-02-11 15:15] remyperona commented on #3578
Hi @Jetxpert,

What kind of issues did you encounter with the "All transients" option?

We are using an SQL command to select all of them, and then use the `delete_transient()` or `delete_site_transient()` functions for the deletion. It ensures it takes into account if there is an external object cache in place.

[2021-02-11 15:40] ghost commented on #3578
Hi @Tabrisrp,

When we click on "All Transients," nothing happens. None are deleted.

We've tried this many times to no avail. The optimization engine does not appear to be working well for us (and perhaps others). Yes, transients regenerate but the "expired" ones should be deleted at least and the results should display "0" expired transients. Well, they are not deleted either.

Above recommendat

[2021-02-11 17:08] piotrbak commented on #2849
Issues that might be related/solved by fixing this one:
https://github.com/wp-media/wp-rocket/issues/3138
https://github.com/wp-media/wp-rocket/issues/2322
https://github.com/wp-media/wp-rocket/issues/3103
https://github.com/wp-media/wp-rocket/issues/3718
https://github.com/wp-media/wp-rocket/issues/3416

[2021-02-11 20:19] #3437 closed

[2021-02-11 20:26] GeekPress commented on #2636
As CPCSS needs to be loaded as soon as possible, I'm afraid that on our side we aren't going to change the placement after the </title> tag.

[2021-02-11 20:26] #2636 closed

[2021-02-11 20:35] alfonso100 opened #3586 "Elementor 3.1 video element code is not compatible with Youtube Lazyload"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**
Elementor 3.10 refactored their Video element, the new HTML code is making our Lazyload for Youtube incompatible with it.

**To Reproduce**
Steps to reproduce the behavi

[2021-02-12 01:19] webtrainingwheels commented on #3586
https://secure.helpscout.net/conversation/1418835908/237485/

[2021-02-12 18:32] juricazuanovic commented on #3586
Related ticket: https://secure.helpscout.net/conversation/1421382080/238233

[2021-02-13 13:26] MuhammedSwalihct commented on #3564
@GeekPress @Tabrisrp Is there any update on this? I am having some serious troubles with the 404 issues. Recently Bing deindexed one of my sites because it was broken due to this issue. And I didn't even notice it. So, it's pretty serious at this point.

[2021-02-13 19:37] Presskopp commented on #3510
just to mention 17.3.1 is the current version

https://github.com/verlok/vanilla-lazyload/releases/tag/17.3.1

[2021-02-13 20:42] Presskopp commented on #3113
What about not deleting but replacing the regex like so:
https://regex101.com/r/Esp1BS/1

should result in the following, iinm

`$ftmp = preg_replace( "/\n{3,}/", "\n\n", $ftmp );`

[2021-02-14 09:18] Presskopp commented on #2777
I have another proposal:

`<p><?php printf(__( 'Below is a detailed view of all data WP Rocket will collect %sif granted permission.%s', 'rocket' ), '<strong>', '</strong>' ); ?></p>`

Using this you avoid splitting the string into two, which would make the translation more complicated.

See https://codex.wordpress.org/I18n_for_WordPress_Developers#Placeholders

[2021-02-14 09:50] NataliaDrause commented on #2776
Likely related: https://secure.helpscout.net/conversation/1420783987/238073?folderId=3864740

[2021-02-14 17:39] SirLouen commented on #2658
Any plans to include the latest async method?
https://www.filamentgroup.com/lab/load-css-simpler/#the-code
https://github.com/filamentgroup/loadCSS#changes-in-version-30-no-more-preload-polyfill
https://stackoverflow.com/a/46750893/4442122

The preloaded CSS requests are killing the LCP of all my sites.
It's not much but savings of 0.3-0.4s is for me the difference from 2.7s (orange) to 2.4 (green

[2021-02-14 18:25] GeekPress opened #3588 "test slack good first issue notification"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See erro

[2021-02-14 18:26] GeekPress opened #3589 "test slack notification good first issue"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See erro

[2021-02-14 18:33] GeekPress commented on #3589
Added good first issue

[2021-02-15 07:39] NataliaDrause commented on #2287
Related: https://secure.helpscout.net/conversation/1416492108/236984/

[2021-02-15 09:01] engahmeds3ed commented on #3539
@Tabrisrp I will try here to groom it by changing our code as it's major severity:-

**Reproduce the problem**
Yes I can see the issue locally and also our tests expect that behavior.

**Identify the root cause**
We don't send the source path with the content to minify package so it can't convert relative path to its absolute path then fails getting the import file contents.

**Scope a solution**

[2021-02-15 10:31] NataliaDrause commented on #2068
Related: https://secure.helpscout.net/conversation/1421855418/238401/

[2021-02-15 10:44] Presskopp opened #3590 "Imagify icon not shown in Chrome"
**Describe the bug**
In Chrome the imagify icon is not shown, while in FF it is shown.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to WP Rocket Settings using Chrome
2. Scroll to Image Optimization and/or hover over it
3. You see no icon, same next to the H2 title after you clicked on it

**Expected behavior**
Show the icon, also on hover, also next to the H2 title

**Screenshots**
![

[2021-02-15 11:13] vmanthos opened #3592 "Do not display the renewal banner when white label is enabled"
**Is your feature request related to a problem? Please describe.**

Customers having an Infinite license, don't want the renewal banner displayed on their customers' websites (users).

That could also resolve an issue for us too since sometimes we get communication through the beacon from the license's users.

**Describe the solution you'd like**

When `WP_ROCKET_WHITE_LABEL_FOOTPRINT` is added in

[2021-02-15 11:29] MuhammedSwalihct commented on #3208
I am facing this issue as well... When we put two scripts that depend on each other, some times it works without any issues. But sometimes, it breaks things with the error "example... function is not defined" because the other script hasn't been loaded yet. Does anyone have a fix for this?

[2021-02-15 12:12] vmanthos commented on #3592
🤦‍♂️
We are already doing this:
https://github.com/wp-media/wp-rocket/blob/40ecc6c70de1995295a1994fb77a6ecb93885287/inc/Engine/License/Renewal.php#L73

Props to @piotrbak . 🙏

[2021-02-15 12:12] #3592 closed, assigned to nobody

[2021-02-15 12:41] vmanthos commented on #3586
**Related ticket:** https://secure.helpscout.net/conversation/1416671199/237019?folderId=2135277

[2021-02-15 14:29] WordPresseur opened #3593 "Delay JS Execution: Prevent empty field"
**Before submitting an issue please check that you’ve completed the following steps:**
- WP Rocket 3.8.4
- the bug hasn’t been reported before

**Describe the bug**
When Delay JS Execution is enable but the field is empty, the `rocket-browser-checker-js-after` inline JS is loaded unnecessarily on front and can potentially cause JS issues

**To Reproduce**
Steps to reproduce the behavior:
1. Go to

[2021-02-15 14:36] remyperona commented on #3586
A possible approach to take: https://blog.futtta.be/2021/02/13/fix-for-elementor-3-1-youtube-not-lyte-anymore/

Even though, it would still be preferable to see this improved on Elementor side directly.

[2021-02-15 14:42] vmanthos commented on #3246
A similar case:
https://secure.helpscout.net/conversation/1421714596/238324?folderId=2135277

Here the issue comes from the fact that the author's URL is altered, for security reasons, and the homepage is returned here:
https://github.com/wp-media/wp-rocket/blob/8b355a3b75ac201b64806a9e2f7f1bec3b371303/inc/common/purge.php#L134

This results in the whole cache being cleared every time a post's cac

[2021-02-15 15:55] NataliaDrause commented on #3586
Related: https://secure.helpscout.net/conversation/1421965770/238445/

[2021-02-15 17:18] ericger commented on #3180
+1 we need this!

[2021-02-15 17:31] scorpionmit01 commented on #3180
Need an update. It was implied this would be handled fast, but no update makes it look like never. Is it time to find a new solution?

[2021-02-15 17:34] dreamjobma commented on #3180
we need this asap, why is it taking so long, with no updates?

[2021-02-15 17:47] Bistoman commented on #3180
I agree, an update is needed asap. Next week I will start testing APO without wp-rocket to evaluate a drop of wp-rocket. I love wp-rocket but we can't wait for ever :(  More than one month is gone without any info or plan

[2021-02-15 18:50] ScottTravisHartley opened #3594 "Deactivation Stuck With WordPress Multisite & No Write Permissions To wp-config.php"
An interesting edge case for a site that was on flywheel web hosting and was using WordPress multisite. On flywheel, by default you're not given write permissions to wp-config.php therefore to pass this WordPress Rocket requires you to force deactivate the plugin.

The issue: If WordPress Rocket is activated in network mode (instead of individually per site) this causes a scenario where you're una

[2021-02-15 19:39] engahmeds3ed commented on #3570
**Reproduce the problem**
Yes I can see the issue locally and u can see it by changing the following version to any WPR older versions
https://github.com/wp-media/wp-rocket/blob/c05805521714c9a7e986bb13b44921a6f0e72754/wp-rocket.php#L6

then go to Dashboard -> Updates page

![image](https://user-images.githubusercontent.com/15707971/107983137-f8ea1000-6fcd-11eb-86fa-687589234068.png)

**Identify t

[2021-02-15 19:48] crystinutzaa commented on #2849
@wp-media/productrocket & @Tabrisrp
The desired solution is to not rewrite the relative URLs, so we have 3 options on how to approach this change:

1. In this case, should we add another option under CDN options to enable / disable this option?
2. Or we shall enable it by default ( to exclude the CDN rewrite of relative URLs ) and add a filter which will allow to disable it?
3. Or it should preser

[2021-02-15 19:58] crystinutzaa commented on #2849
And I can confirm that the issues:
https://github.com/wp-media/wp-rocket/issues/3138
https://github.com/wp-media/wp-rocket/issues/2322
will be fixed by this change.
However for the https://github.com/wp-media/wp-rocket/issues/3103 I am not sure 100% if this is caused by the relative paths.

Also, there could be another solution: treat only scripts differently.
Basically, we can rewrite everything

[2021-02-15 20:16] #3590 closed, assigned to nobody

[2021-02-15 20:42] engahmeds3ed commented on #3564
**Reproduce the problem**
No need to reproduce it, we saw this issue on some of customers' sites.

**Identify the root cause**
As mentioned by @MuhammedSwalihct because we delete the old file and create a new one with different path/url so it may show 404 error when opened old ones.

**Scope a solution**
1. For CSS Replace the following lines
https://github.com/wp-media/wp-rocket/blob/ad67f51569b4

[2021-02-15 21:39] GeekPress commented on #3564
@MuhammedSwalihct This issue has been added to our current sprint. It means the fix is scheduled for 3.8.6

[2021-02-15 21:49] GeekPress commented on #2849
Let's keep the fix simple, do the change, and get feedback to know if we have to iterate with a filter or implement a harder solution. An option for that is a no-go ^^

Thanks, @piotrbak for reminding us of other issues!

[2021-02-15 21:55] GeekPress commented on #3180
Hi guys,

We totally understand that Cloudflare APO is important for you. In the meantime, our team is actually fully focused on a new existing feature we are working on for a couple of months: Remove Unused CSS.

We can't provide any ETA when we could work on Cloudflare APO integration within our add-on.

Please note that WP Rocket is fully compatible with APO if you are using the official Cloudf

[2021-02-15 21:59] remyperona commented on #3539
Previously, `@import` needed to be moved to the top, because they are not interpreted if that's not the case. We don't need that anymore, since they are replaced by the actual content.

Question: why create a new method `get_file_contents()`, when we already have one from the `AbstractOptimization` class?

[code]

Shouldn't those be in the reverse order? We will want to update paths in the content

[2021-02-15 22:01] GeekPress commented on #3539
We will still have external @import not concern by this enhancement. Should we not keep the same behavior?

[2021-02-15 22:48] scorpionmit01 commented on #3180
What does that mean?

If we turn off Cloudflare in WP Rocket and install the Cloudflare plugin it works fine?

That’s super relevant information that could have been shared when it was available.

Please verify that all we have to do is install their plugin and turn Cloudflare to off I. wP Rocket?

[2021-02-15 22:53] GeekPress commented on #3180
@scorpionmit01 Based on this comment https://github.com/wp-media/wp-rocket/issues/3180#issuecomment-705835317, yes it will work fine like that.

[2021-02-15 22:55] markllego commented on #3180
I have been using Cloudflare APO since it was launched last year. I can confirm that apo works fine with wp-rocket. Just disable the Cloudflare settings on wp-rocket and install the official Cloudflare plugin. To check if apo is working fine on your site you can use this curl command curl --request GET -I -H "Accept: text/html" https://www.yoursite.com

CF-Cache-Status: HIT
cf-apo-via: cache
cf-ed

[2021-02-16 01:37] MuhammedSwalihct commented on #3564
@engahmeds3ed @GeekPress Thank you...

[2021-02-16 07:36] engahmeds3ed commented on #3539
@Tabrisrp

Good question, I created this new method as we are on trait and this trait can be used at any class so for current situation we can use `AbstractOptimization` one.

You are totally right, I think when writing this code we need to test that carefully as I'm getting the file contents based on the new converted file path, so we can check that on implementation.

@GeekPress

Don't worry abo

[2021-02-16 07:53] jhtjards commented on #3180
WP Rocket + Cloudflare Plugin: While this does work most of the time, automatic cache purge is not reliable, so you sometimes end up with cloudflare-cached html referencing rocket's minified css that doesn't exist anymore.
So you end up with broken page layouts.

If you only edit your website yourself, your can purge cloudflare cache manually and often, if other editors are working on it, it easil

[2021-02-16 07:54] Basilakis commented on #3180
@jhtjards U can put a hook or a cron job to do once in a while.

[2021-02-16 08:05] GeekPress commented on #3180
@jhtjards This kind of issues won't happen anymore once the fix #3564 will be released in WP Rocket 3.8.6

[2021-02-16 08:53] vmanthos commented on #146
**Related ticket:** https://secure.helpscout.net/conversation/1426657994/239695?folderId=2135277

The site is hosted by Strato.

[2021-02-16 09:04] crystinutzaa commented on #2849
Scope a NEW solution ✅

Modify the regex to disallow relative URLs for CDN re-writing.

Estimate the effort ✅
[S]

[2021-02-16 10:56] GeekPress opened #3597 "Get rid of Google Tracking and Facebook Pixels add-ons"
## What are we proposing to do?

With this update we are hoping to remove the « Google Tracking » and « Facebook Pixels » add-ons from WP Rocket UI (Add-ons tab).

## Why are we doing this?

We originally released these features to fix the old « Leverage browser caching » PageSpeed Insight recommendation on Google Analytics and Facebook Pixels JS files. Both have a small cache policy.

By hosting

[2021-02-16 12:14] crystinutzaa commented on #3180
### Reproduce the issue ✅
Cloudflare APO is not compatible with WP Rocket. 😅

### Identify the root cause ✅
Issue is identified

### Scope a solution ✅
APO is a paid plan of Cloudflare and this will display an error in case a customer tries to enable it on a free plan without having the APO option purchased.
1. Add a new option under Cloudflare settings: `Enable APO` which will enable / disable AP

[2021-02-16 12:20] crystinutzaa commented on #3180
@wp-media/productrocket can you confirm the position where APO option needs to be placed under Cloudflare Addon and the exact text (field label + description).

Also we need to monitor https://github.com/wp-media/wp-rocket/issues/3564 and test with APO and when both issues are fixed and confirmed we shall get in touch with Cloudflare and move WP Rocket to `Compatible Plugins`. Right now WP Rocket

[2021-02-16 14:22] Mai-Saad commented on #3238
Steps to reproduce:
1- Add
`$purge_urls[] = false;`
here:
https://github.com/wp-media/wp-rocket/blob/b409700c18f88668c15a408665ef454d5ef998f1/inc/common/purge.php#L143
2- Update post
3- Warning exist in debug.log

Thanks to @piotrbak

[2021-02-16 15:58] GeekPress commented on #3180
@crystinutzaa Can't this be done without an option? I mean, can we automatically detect that APO is activated on Cloudflare, and then do our magic for the compatibility?

[2021-02-16 16:49] piotrbak commented on #2031
I'm able to open the WebP image in the lightbox of the `Elementor media carousel widget` without any problems. It seems to be fixed.

However, the carousel images (not the lightbox ones) are not rewritten at all:
https://github.com/wp-media/wp-rocket/issues/3511

[2021-02-16 17:54] piotrbak commented on #3544
@jazir5 I wasn't able to reproduce this. After enabling the Asset Loading experiment, the following Elementor files were not added to the combined JS file:
`preloaded-elements-handlers.min.js`
`swiper.min.js`
Also, the combined file was smaller. To find out what are the scripts included in the Combined JS file, you can use WP Rocket's debug log:
1. Disable Cache Preload feature
2. Enable JS combin

[2021-02-16 19:48] #3498 closed, assigned to GeekPress, jorgemartine00

[2021-02-16 19:49] #3454 closed

[2021-02-16 21:02] jorgemartine00 commented on #2440
related https://secure.helpscout.net/conversation/1425890962/239472
I think this one is related to what Sandy mentioned above where the site's default language is not English thus the URL being generated is similar to this 2021/02/11 03:09:50 [error] 275 # 275: * 502264 FastCGI sent in stderr:" PHP message: PHP Warning: copy (PATH / wp-content / cache / wp- rocket / candiashop.gr / el /% cf% 87% c

[2021-02-17 07:26] NataliaDrause commented on #3238
@Mai-Saad  were you testing the modified code?
https://github.com/wp-media/wp-rocket/pull/3579/files/968ba25b2a9432efae928e7c9b0b2df308a21744
I have tested different values, including
$purge_urls[] = false;
$purge_urls[] = null;
$purge_urls[] = 0;
$purge_urls[] = "";
and they are being filtered out by array_filter() and I get no warning

[2021-02-17 07:51] markonikolic985 opened #3600 "Add support to wpstage.net (BlogVault) to allowed list of staging and development environments"
**Is your feature request related to a problem? Please describe.**
blogvault.com is WP backup plugin that is using the following for staging/dev environments:

- staging.wpstage.net

Using WP Rocket in this domain will count as a license.

**Describe the solution you'd like**
Allow .wpstage.net as part of WP Rocket list of staging and development environments.

[2021-02-17 08:13] GeekPress opened #3601 "Bump minimum support versions to WordPress 5.3"
**Describe the solution you'd like**

We would like to bump the minimum required WordPress version to 5.3.

We have today 97.6% of our users using WordPress 5.3 or +

**What do we need to change?**

In `wp-rocket.php`, update `WP_ROCKET_WP_VERSION` to `5.3`

[2021-02-17 08:31] GeekPress opened #3602 "Dynamic Inclusion and Exclusion Lists For WP Rocket"
**What are we proposing to do?**

WP Rocket includes many default inclusion and exclusion lists for some of our features. For example, we maintain a list of keywords for inline scripts to be excluded from JavaScript combination. Instead of hard-coding the list within WP Rocket, we are proposing to save them on our server and pull them dynamically from the plugin.

In other words, these keywords wi

[2021-02-17 09:25] crystinutzaa commented on #3180
@GeekPress yes, it can be done. However we need a transient to store when we got last time the APO option.
In case APO was enabled / disabled from Cloudflare directly, there will be a delay in WP Rocket to identify (the transient expiry date).
Another downside of this path, is that from WP Rocket, the customers cannot enable / disable APO option. They really need to go to Cloudflare account in ord

[2021-02-17 12:34] roberthedlund commented on #3142
[https://ibb.co/qYVyhh6](url)

[2021-02-17 13:04] scorpionmit01 commented on #3180
By edit the website you mean things that make JS and CSS changes?

Presumably updating content is t a problem? Either way this should be resolved in March 1?

Sent from my iPhone

[2021-02-17 13:25] crystinutzaa commented on #3180
@scorpionmit01
Edit the website means that a post / page content was updated.
This means that WP Rocket cache is expired. If Cloudflare APO is enabled, when WP Rocket cache is cleaned, it will trigger also the cleaning of Cloudflare cache (to be in-sync), so there will not be any errors related to out-of-sync cache.

I would love to give you an ETA for this change, however I don't have a fixed dea

[2021-02-17 14:27] piotrbak commented on #3453
I've just tested this once again. After this patch https://github.com/wp-media/wp-rocket/pull/3493 only the 1st scenario fails

[2021-02-17 15:43] GeekPress commented on #3142
@roberthedlund Well, you can already do that with WP Rocket too. You have just to go on your page edit screen, open the « WP Rocket Options » metabox, and turn off the Delay JS Execution option.

[2021-02-17 15:47] roberthedlund commented on #3142
Yeah but not ideal to do that manually on 100+ pages for an example.

[2021-02-17 15:50] GeekPress commented on #3180
@crystinutzaa Thanks for the extra info. It seems an option will be the best approach based on your last feedback.

**Label**
Automatic Platform Optimization (APO)

**Description**
Serve your entire site from Cloudflare edge network. More info.

@vmanthos @webtrainingwheels I ping you on to have your feedback. Does the wording sound good to you?

[2021-02-17 16:12] GeekPress opened #3604 "Switch to Native LazyLoad for Images"
## What are we proposing to do?

With this update, WP Rocket will switch from using the JavaScript based LazyLoad for images and start supporting native browser LazyLoad by default.

WP Rocket will still use it’s JavaScript based LazyLoad for background images and iframes since these are not supported by native LazyLoad yet on all browsers.

([full doc](https://docs.google.com/document/d/1z4pkyZdY

[2021-02-17 16:30] maximejobin commented on #3207
@Tabrisrp What is the next step?

Do you want to organize a small chat/video conference to exchange on it and find a solution that is simple and fast to implement?

I'm ready when you are!

[2021-02-17 20:08] NataliaDrause commented on #3238
@Mai-Saad I am not able to reproduce the warning.
I am logging the array _before_ and _after_ `array_filter()` as here:
[code]
the non-string values are filtered out (screenshot of the error_log https://jmp.sh/cIP3ypS ) >> no warnings in debug.log.

Could you please re-test it and share what warning do you get? Thank you!

[2021-02-17 22:10] gevcen commented on #3584
Can you ensure that any change performed here wouldn't restore the issue reported in the ticket below? I was impacted by the issue reported there and it has been resolved by implementing this exception, so I don't want to see this issue coming back. The Delay JS was exempted on large html page because it caused the page to load white. Please test this thouroughly. Thanks

https://github.com/wp-med

[2021-02-17 23:35] kadolino opened #3605 "jquery 3.5.1 compatibility and WP 5.7"
**- Made sure you’re on the latest version**
Yes

**Describe the bug**
The Wordpress jquery migration helper
[https://wordpress.org/plugins/enable-jquery-migrate-helper/](https://wordpress.org/plugins/enable-jquery-migrate-helper/)
report the following jquery 3.5.1 errors for
for: /wp-rocket/assets/js/wpr-modal.js

On March, 09 WP 5.7 needs jquery 3.5.1 compatibility.

wp-rocket/assets/js/wpr-moda

[2021-02-18 13:36] NataliaDrause commented on #146
Related: https://secure.helpscout.net/conversation/1428599426/240270/

[2021-02-18 13:44] remyperona commented on #3605
Thank you for the report @kadolino, we'll fix this before WP 5.7 release to make sure there is no issues remaining

[2021-02-18 14:16] twobyte commented on #3369
Just stumbled across this message in WP Rocket, and after disabling mod_pagespeed on the server, our PageSpeed Insight results have regressed.

I think this message should explicitly state which specific features are not compatible, so the user can decide if they would like them managed at the application or server level.

Could some of these optimisations actually be better managed at the server

[2021-02-18 14:44] remyperona commented on #3605
### Reproduce the issue ✅
Reproduced on WP 5.7 beta3.

### Identify the root cause ✅
Our JS files loaded on the admin area, some of which use deprecated jQuery function, which won't be supported anymore once the migrate file is no longer included.

### Scope a solution ✅
Update all usage of deprecated jQuery functions to the appropriate replacement, in `wpr-modal.js` and `wpr-admin.js`.

### Estim

[2021-02-18 18:14] juricazuanovic commented on #146
Related: https://secure.helpscout.net/conversation/1427702417/240007/

[2021-02-18 18:57] #2839 closed

[2021-02-18 18:58] #1744 closed

[2021-02-18 18:58] #3238 closed

[2021-02-18 21:07] remyperona commented on #3537
### Scope a solution ✅
#### Import the v3
-  add `league/container` into the `composer.json` file, using Mozart to prefix namespacing and prevent conflicts

#### Remove the v2
- Remove the v2 files in `inc/Engine/Container`

#### Update main.php & Plugin.php
- Update `use` import for the new namespace

#### Update Service Providers
- Update `use` imports for the new namespace
- Replace all occurre

[2021-02-18 21:40] JohnTorvik commented on #2661
Related: https://secure.helpscout.net/conversation/1423906536/238966/

[2021-02-19 09:57] vmanthos commented on #1737
@GeekPress

They know have an  **Enable AJAX loading** feature:

![](https://i.vgy.me/oXel3v.jpg)

However, even with that, they are setting `DONOTCACHEPAGE` to `true` for the page selected here:
![](https://i.vgy.me/s8oWR1.jpg)

That's done via `wc_nocache_headers()` ([reference](https://woocommerce.wp-a2z.org/oik_api/wc_nocache_headers/))

When compatibility is built on our side, we should:
1. D

[2021-02-19 15:22] DahmaniAdame commented on #928
Related ticket - https://secure.helpscout.net/conversation/1429056639/240402/
Bluehost - PHP 7.2.34

[2021-02-19 15:52] GeekPress opened #3608 "Wrong CDN rewrite on inline SVG (clip-path=url) presents in the Critical Path CSS"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When the CDN option is enabled, we are replacing the internal URL on background rules, etc... with the CNAME URL.

Sometimes, background rules can contain an inline

[2021-02-19 17:56] GeekPress commented on #3114
@wp-media/php FYI, Based on the solution we found during our meeting, I added the `need-grooming` label.

[2021-02-19 18:55] #2777 closed

[2021-02-19 20:45] remyperona commented on #3578
I had a look at WP Sweep, and we are basically doing exactly the same thing when clearing the transients:
- https://plugins.trac.wordpress.org/browser/wp-sweep/trunk/wp-sweep.php#L620
- https://github.com/wp-media/wp-rocket/blob/35c1cd12508e9f954fbb8e87fe4501d2eeb1e73c/inc/classes/admin/Database/class-optimization-process.php#L131

I'm suspecting there might be an issue more with the counter more

[2021-02-19 21:30] ghost commented on #3578
@Tabrisrp,

Thanks for the update.

We'll continue to monitor and test WP Rocket's "Transient's Cleanup" section but, as stated before, when we have transients listed and click "Save Changes and Optimize," the transients still show up. Practically, the counter should  instead display "0" for both "Expired transients" and "All transients."

And in case you're wondering, we're quite sure our WP Admi

[2021-02-21 01:41] hogash commented on #3468
Hi @arunbasillal

Any news in regards to the upcoming CPCSS engine?

Currently with CPCSS enabled, i get these stats https://d.pr/i/Qz81JX while without it i get this https://d.pr/i/7kmMHI .

I've already developed the script mentioned in #3419 and inject CSS inside those stylesheets, but it's getting too frustrating to keep adding all sorts of styles. Plus, i'm seeing selectors added from the bot

[2021-02-21 08:33] arunbasillal commented on #3468
@GeekPress please note the reply above.

[2021-02-21 16:55] hogash commented on #3468
Thanks @arunbasillal !

@GeekPress may i ask, what is currently generating the CPCSS? PhantomJS? I'm asking because i can try to research into it, somehow to add hints of some specific styles.

Also, i'm thinking of building a minimal base of critical css styles i know and want to load as CPCSS. Do you think there's a way to avoid duplication, or it's best to just rely either on WPRocket or my cus

[2021-02-22 18:38] juricazuanovic commented on #3533
@piotrbak I didn't receive a reply from the customer so I'm unable to test it again and check the HTML source.

[2021-02-22 18:54] iCaspar commented on #3523
✅ Reproduced
✅ The root cause is that this was initially designed to omit images where one or the other of height/width was missing (in order not to accidentally distort aspect ratio when adding dimensions). That intention is carried through in the [regex](https://github.com/wp-media/wp-rocket/blob/35c1cd12508e9f954fbb8e87fe4501d2eeb1e73c/inc/Engine/Media/ImageDimensions/ImageDimensions.php#L85) u

[2021-02-22 21:12] remyperona commented on #3528
### Reproduce the issue ✅
Reproduced locally, but not always

### Identify the root cause ✅
The issue is not always happening, I believe there is kind of a race condition between the `get_subscribed_events()` and the activation/deactivation, which makes it unreliable.

If `get_subscribed_events()` is executed before the activation/deactivation of the AMP plugin, the function `is_amp_endpoint()` do

[2021-02-22 21:15] piotrbak opened #3612 "Optimization of non-existent external files"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When an external script or style doesn't exist, but the server responds with 200 status code + error page, WP Rocket will download the script/style and also combine it.

**T

[2021-02-22 23:48] webtrainingwheels commented on #3219
@GeekPress I'm re-opening this since we have a related ticket about it:
https://secure.helpscout.net/conversation/1431566989/241100?folderId=377611
Customer is hosting Google Fonts locally and does not want the unnecessary preconnect added.
The helper plugin to disable the option has been suggested, but the customer has more than 40 sites they would have to install it on.

[2021-02-23 01:21] webtrainingwheels commented on #158
@GeekPress Reopening this since we have several complaints about "relative protocol" being applied on the canonical tag:

- https://secure.helpscout.net/conversation/1429100001/240410/
- https://secure.helpscout.net/conversation/1408019992/234769/
- https://secure.helpscout.net/conversation/1405987790/234171/
- https://secure.helpscout.net/conversation/874983744/110949/
- https://secure.helpscout.

[2021-02-23 08:10] GeekPress commented on #158
@webtrainingwheels Thanks for the feedback. I think it's time to get rid of this option. It has no relation with performance and it was added during a time when HTTP & HTTPS versions of a website were accessible. In 2021, we can safely confirm that an important majority of websites using SSL have an automatic redirection from HTTP to HTTPS.

[2021-02-23 08:21] crystinutzaa commented on #2658
### Scope a solution ✅
The solution is already implemented in the PR:
https://github.com/wp-media/wp-rocket/pull/2786
However, the PR contains also the changes with DomDocument which was not reliable.
Grab the code, including the tests and refactor it.

The solution is to use Regex to identify and mix the media and preload attributes. However, the current implementation has 2 downsides:
1. `A bug`

[2021-02-23 10:55] james-morton-45 commented on #2998
Just to add to this if it's helpful - I am a 20i customer and have problems with File Optimisation in WP Rocket.

When using Critical CSS (whether it be fallback or WP Rocket's generated critical CSS), the optimised CSS file does not get loaded, so when the Critical CSS is removed via WP Rocket's scripts, I'm left with a blank unstyled page.

I am using the "No Auto-generated Critical CSS" plugin

[2021-02-23 14:02] patche81 commented on #3180
any ETA regarding this ?

[2021-02-23 14:42] #3113 closed

[2021-02-23 15:01] viobru commented on #3523
Related: https://secure.helpscout.net/conversation/1432944926/241442?folderId=3051575

[2021-02-23 15:16] camilamadronero-zz commented on #2645
**Customer Interim Suggestion:**

Availability to rebuild page specific CPCSS as a product bulk action, here: https://i.imgur.com/LmZkTsa.png

**Related ticket:** https://secure.helpscout.net/conversation/1428382126/240182?folderId=2675957

[2021-02-23 20:16] remyperona commented on #928
New approach to this issue:

### Scope a solution ✅
Use [insert_with_markers()](https://developer.wordpress.org/reference/functions/insert_with_markers/) to handle the writing of our rules in `flush_rocket_htaccess()`. This function is from WP core, and is a more advanced version of what we were doing (including some locking on the file).

The new function would look something like this:

[code]

[2021-02-23 21:12] remyperona commented on #2041
### Reproduce the issue ✅
Reproduced the issue with the sample HTML provided

### Identify the root cause ✅
This is happening because the same URL is used for multiple sources in the `srcset`, and our current replacement using `str_replace()` is looping over each source, so the relative URL part is rewritten on each iteration.

### Scope a solution ✅
Instead of rewritting in the whole srcset for t

[2021-02-23 21:30] camilamadronero-zz commented on #3219
Related ticket https://secure.helpscout.net/conversation/1433807770/241682?folderId=273766.

[2021-02-23 21:49] #3605 closed, assigned to remyperona

[2021-02-23 22:19] kisabelle commented on #3219
I ran into this issue this week. I do not think that installing a separate plugin is an ideal solution here.

I would very much like the option to disable this from the settings. Automatic detection seems like a good alternative, but perhaps an option to disable it could still be included under Advanced Settings.

Will automatic detection work if the stylesheet is inlined? (For more info on this t

[2021-02-24 00:25] Alnaggar94 commented on #3207
@Tabrisrp Could you please try to find a solution with Maxime to solve this issue, we can't wait to see the new version of Rocket-Nginx. This is a real game-changer as serving cache from the PHP level is not effective with high demand traffic. I think the WP Rocket team should support this by default or at least help Maxime going along with it, He is doing a great job.

[2021-02-24 06:44] crystinutzaa commented on #3114
### Scope a solution ✅
#### `CriticalCSSSubscriber::insert_critical_css_buffer()`
https://github.com/wp-media/wp-rocket/blob/35c1cd12508e9f954fbb8e87fe4501d2eeb1e73c/inc/Engine/CriticalPath/CriticalCSSSubscriber.php#L550
- Add CSSTrait to CriticalCSSSubscriber class ( https://github.com/wp-media/wp-rocket/blob/35c1cd12508e9f954fbb8e87fe4501d2eeb1e73c/inc/Engine/Optimization/CSSTrait.php#L203 )
- M

[2021-02-24 10:08] NataliaDrause commented on #2156
Related: https://secure.helpscout.net/conversation/1428638992/240291/

[2021-02-24 11:05] DahmaniAdame opened #3616 "Lazy load JS overrides second background-image property in inline style"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When elements have two inline background-image properties, the lazy load overrides the second one when applying the image to the background.

**To Reproduce**
Steps

[2021-02-24 12:00] GeekPress commented on #3600
This domain has been added to WP Rocket website already:
https://github.com/wp-media/wp-rocket.me/pull/2290

[2021-02-24 12:08] #3557 closed, assigned to nobody

[2021-02-24 12:10] GeekPress commented on #3544
@jazir5 We are closing this issue for now. Nobody else reported a bug like between WP Rocket and the new Elementor version. Feel free to comment if you still have the problem.

[2021-02-24 12:10] #3544 closed, assigned to nobody

[2021-02-24 12:59] Mai-Saad commented on #3417
@GeekPress Just a side note: inside the single field for CDN name, we can enter currently multiple CDNs separated by comma (As per what mentioned above, I think we may need to block this option)

[2021-02-24 13:06] piotrbak commented on #3616
I think it's this one, or related:
https://github.com/wp-media/wp-rocket/issues/2708

[2021-02-24 13:10] iCaspar commented on #3616
Also, may be related to this one: #2588

[2021-02-24 13:37] DahmaniAdame commented on #3616
Not sure if it's related to any of the two.
The background processing removes the first background-image property.
And the JS execution part overrides the then existing (second) background-image property.
The JS execution part should consider the presence of another background-image property in some cases (the first one is used as a fallback in some cases).

[2021-02-24 13:38] DahmaniAdame commented on #3616
Related ticket - https://secure.helpscout.net/conversation/1433598403/241634
Testing environment - https://playground.adame.io/double-inline-background

[2021-02-24 13:40] piotrbak commented on #3616
`And the JS execution part overrides the then existing (second) background-image property.`
Yes, it seems that this is exactly what's happening in the #2708

[2021-02-24 13:48] GeekPress commented on #3417
@Mai-Saad About which documentation are you referring to? I can't see anywhere that we can add multiples CNAME in the same fields by using a comma.

[2021-02-24 14:07] Mai-Saad commented on #3417
@GeekPress I just saw it while exploring the feature and it worked (not referring to any docs)

https://user-images.githubusercontent.com/76941962/109012524-c5d50a00-76ba-11eb-9bcb-d1e72600f600.mp4

[2021-02-24 14:34] sandyfzu commented on #2970
Here is a case where the user has the latest version and this issue still happens:

https://secure.helpscout.net/conversation/1431351234/241044/

[2021-02-24 14:52] viobru commented on #3219
Related ticket: https://secure.helpscout.net/conversation/1434167479/241803/

[2021-02-24 17:02] remyperona commented on #3207
@GeekPress Do you want to plan for this, and when?

[2021-02-24 18:20] piotrbak opened #3617 "Busting directory is not cleared during the cache clearing"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
We're not removing the `/wp-content/cache/busting/1/wp-content/` content when clearing the cache from the top menu neither during deactivation.

**To Reproduce**
Steps to re

[2021-02-24 18:33] piotrbak opened #3618 "Double cache busting on dynamic CSS/JS files"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When the dynamic style or script is downloaded and hosted on the same server as the site, we're applying one cache busting string. When the minification process is happening

[2021-02-24 19:19] #3564 closed, assigned to engahmeds3ed

[2021-02-24 19:26] remyperona commented on #3616
It's 2708, but also in addition the double `background-image` property, and since it's CSS, the second one takes priority over the first one, and replace it in the output.

This specific part is an edge case, having this property twice for the same selector doesn't really make sense.

[2021-02-24 20:04] DahmaniAdame commented on #3616
@Tabrisrp this how Avada is implementing their overlay background color on sections. We might stumble on this issue quite often (Avada has 600k installs).

From their demo - https://avada.theme-fusion.com/fitness/ (check the first hero section)

The double background-image property is a half-backed fix instead of using prefixes or using an additional div with an absolute position for the gradient

[2021-02-24 20:11] webtrainingwheels commented on #3515
Most customers I see are using it incorrectly. But that's also the nature of support, we don't know about the customers who are successfully using our  plugin features without problems :)
Overall, I would like to see it removed - maybe make it available in a helper plugin, just in case.

If for any reason we keep it, [a customer made a good point](https://secure.helpscout.net/conversation/14333550

[2021-02-24 20:16] GeekPress commented on #3515
We can hide the UI and still let the possibility to use a CPCSS fallback with a filter.

[2021-02-24 21:15] remyperona commented on #3584
Yes the error is unavoidable on this context. I don't think we will be able to go around it while using RegEx to parse the HTML. The current solution to bail-out if there is anything wrong during parsing is the safest one.

[2021-02-24 21:44] remyperona commented on #3616
Yeah I figured it was for backward compatibility, with the first value as a fallback. It's kind of unnecessary still, as the browser support for multiple backgrounds is very very good.

But it's something to take into account when working on this, we should use the last property, not the first one.

[2021-02-24 22:11] jorgemartine00 commented on #3477
Related ticket previously added in duplicate issue https://secure.helpscout.net/conversation/1285218548/

[2021-02-24 22:15] gevcen commented on #3584
@Tabrisrp ISo you're saying that you will revert the fix and not care about my problem? That workaround was applied here for large pages, whose issue was raised by myself, spent days with your support and developer to explain the problem, and finally find this workaround. Now suddenly someone raise this and wants this fix to be gone? That **cannot** happen. I've been a paying customer of WP Rocket

[2021-02-25 07:34] Mai-Saad commented on #3617
Referring to https://docs.wp-rocket.me/article/1135-when-does-wp-rocket-delete-which-files, I think it needs to be handled too with Clear Cache lifespan as currently, it is not.

[2021-02-25 08:23] jkarttunen commented on #2515
Seconded, just spend one full day troubleshooting GTM in a WP site. The source of broken analytics was the 'delay js exceution' that caused GTM (and analytics) to be loaded not on page visit but on first click.

For anyone troubleshooting Google Tag Manager on wp-rocket: Do not include tagmanger in delay js field.

[2021-02-25 08:28] vmanthos commented on #2776
**Potentially related:** https://secure.helpscout.net/conversation/1434303232/241865/

[2021-02-25 09:33] NataliaDrause commented on #2713
a similar request from the customer: https://secure.helpscout.net/conversation/1432788151/241369?folderId=3864740

[2021-02-25 14:40] remyperona commented on #3584
You completely misread my comment, I said that the fix we implemented was necessary, and since it's the safest solution, we're not going to change anything.

Also, please watch your tone and words when commenting on our repository. Quickly jumping on conclusions and micro-aggressions will not be tolerated.

[2021-02-25 15:48] Mai-Saad commented on #2973
Scenarios to be checked once this issue is fixed:
Scenario1 => Reproduce steps:
1- nothing enabled in file optimization + CDN enabled
2- clear cache
3- enable minify js
4- visit the home page -> check min folder in cache "js files added in 1 folder"
5- change CDN and save -> here the js files in min/1 are deleted
6- hard refresh the home page
7- Check cache/min/1 -> js files not added

Scenario 2

[2021-02-25 16:12] gevcen commented on #3584
I misunderstood your answer sorry.

[2021-02-25 17:02] #3083 closed

[2021-02-25 19:17] remyperona commented on #2973
### Reproduce the issue ✅
Reproduced on dev install

### Identify the root cause ✅
The issue is coming from the code in this function: https://github.com/wp-media/wp-rocket/blob/5db4357e030936938828aa2edb890e038f486a0f/inc/admin/options.php#L19

The order of events is causing it:
- first we preload the homepage
- Then we remove the minify JS files if the option changed
- The minify files are creat

[2021-02-25 20:05] GeekPress commented on #3207
@Alnaggar94 May I know how are you using WebP on your website? I'm asking the question as we are seriously thinking about removing the WebP Cache option.

Why?
WebP is supported by all browsers except for IE 11 which represents only 0.8% of browser usage...

And all image optimization plugins like Imagify, Shortpixel, etc.. provide a solution to use the WebP format on front-end.

Source:
- https:/

[2021-02-25 20:39] #3576 closed, assigned to engahmeds3ed

[2021-02-25 21:33] camilamadronero-zz commented on #2776
Probably related https://secure.helpscout.net/conversation/1424294729/239107/

[2021-02-26 09:02] GeekPress opened #3620 "Redirect to HelpCenter when clicking on « Ask  Support »"
**Describe the solution you'd like**
In the dashboard section, when we click on the « Ask Support » button, we would like to redirect the user to our helpcenter instead of opening the Beacon form.

[2021-02-26 13:48] #2970 closed

[2021-02-26 15:06] piotrbak opened #3621 "@charset rule should be added before the @import in the minified/combined file"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
The `@charset` rule should be very first in the minified/combined CSS file. When we have `@import` rules, we're moving them to the beginning:
https://developer.mozilla.org/e

[2021-02-26 16:07] Mai-Saad commented on #3605
@Tabrisrp Please notice that on develop we still have wpr warning for jQuery.fn.click() event shorthand is deprecated and  jQuery.fn.change() event shorthand is deprecated

https://user-images.githubusercontent.com/76941962/109324457-5c413100-785d-11eb-9c3f-47227ee52928.mp4

Reproduce Steps:
1- on https://imagify.rocketlabsqa.ovh/ install develop for wpr
2- inspect and activate wpr plugin
3- open

[2021-02-26 16:31] piotrbak commented on #3605
@Mai-Saad @Tabrisrp I'm not able to reproduce this, but indeed, it seems that this function might be the cause. Is there any reliable list of deprecations, so we can search our files against it?
https://jmp.sh/H6YtVMr

`change()` is not listed in the one I was checking.

[2021-02-26 16:36] remyperona commented on #3605
Make sure your browser uses the latest version of the file, and not the one in browser cache, it might be the reason the warnings are still showing up on your side (and we didn't update the version number for the plugin yet)

[2021-02-26 16:37] Mai-Saad commented on #3605
@piotrbak @Tabrisrp Seems it's false +ve as I tried it incognito and works fine ( seems the browser was cached)

[2021-02-26 18:42] #3423 closed

[2021-02-26 19:14] piotrbak opened #3622 "Sanitization on the CDN field"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
We allow adding any string to the CDN CNAME.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the CDN section of WP Rocket
2. Add `I'm not a domain` string to the

[2021-02-26 19:20] maximejobin commented on #3207
@GeekPress

I'm sorry to see I'm about to derail my own issue... but do you mean that you would only generate one html cache file that would display WebP images if they are available or their original format if WebP is not available?

[2021-02-26 20:47] #3539 closed, assigned to engahmeds3ed

[2021-02-27 12:05] DahmaniAdame opened #3625 "Contact form 7 froms stop working if dependency scripts are deferred after their latest update"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Contact Form 7 latest update added more dependencies to core WordPress JS libraries.
The form stops working if some of the libraries are deferred.

**To Reproduce**

[2021-02-27 12:07] DahmaniAdame commented on #3625
Related tickets:

https://secure.helpscout.net/conversation/1437159796/242644/
https://secure.helpscout.net/conversation/1437431153/242713/

[2021-02-28 10:52] NicoCaldo opened #3626 "Preload LCP Hero Image"
**Is your feature request related to a problem? Please describe.**
Preload LCP Hero Image

**Describe the solution you'd like**
Load the hero image as `<link rel="preload" as="image" href="hero-image.jpg">`

**Additional context**
It seems Google has changed something on the PageSpeed Insights and now it displays an error saying to preload the LCP hero image. Currently, the images are loaded via (

[2021-02-28 13:17] NataliaDrause commented on #3625
Related: https://secure.helpscout.net/conversation/1437701881/242861/
but the mentioned files for the workaround are not present. Still checking this.

[2021-02-28 15:07] scorpionmit01 commented on #3180
Okay, there should be a release 3.8.6 tomorrow (March 1). It was indicated
that the fix for the 404 on CSS and JS should be in this? At that point,
how compatible should it be?

Is the risk:
Cloudflare might serve outdated content if you don't flush the cache?
or
Cloudflare might get 404s on updated content.

The former is a more manageable risk (update important content, flush the
cache, fix a ty

[2021-02-28 16:10] girlie commented on #2409
https://secure.helpscout.net/conversation/1435126684/242051/

[2021-03-01 08:23] engahmeds3ed commented on #3625
@wp-media/productrocket

I think we have two options here to be able to groom ( I gave them a try on weekend and those are my thoughts to be validated ):-

1. We can exclude the pattern `wp-includes/js/dist/(.*).js` from being deferred as those files are libraries that for sure their functions would be called in the page itself.
2. As I noticed, all those files inside `dist` directory is called us

[2021-03-01 08:31] vmanthos commented on #3625
This seems related to #2850 and:
https://github.com/wp-media/wp-rocket/issues/2318

Solution no 2, assuming that other scripts are not using `wp.`, is better since 1 will flag those files as render-blocking on PageSpeed Insights.

[2021-03-01 09:17] GeekPress commented on #3180
@patche81 We don't have any ETA to provide you yet until a milestone will be set on this issue.

@scorpionmit01 The risk will be > Cloudflare might serve outdated content if you don't flush the cache?

[2021-03-01 09:38] GeekPress commented on #3625
@vmanthos @engahmeds3ed Can we be sure that solution no 2 will work 100% of the time and it can't trigger another issue?

I agree with @vmanthos that solution no 1 isn't the way to go for us as it will flag these files as render-blocking and result in a worse PSI grade.

[2021-03-01 09:38] GeekPress commented on #3207
We won't do anything. All image optimization plugins have an option to let you decide how the WebP images should be displayed: htaccess rules, picture, etc...

[2021-03-01 10:10] nicomollet opened #3627 "Display a warning when Minify/Combine files take too much space"
Hello

**Is your feature request related to a problem? Please describe.**
Minify/Combine create files in cache/min/1 and if some themes or plugins have many dynamic inline JS which doesn't work well with combine option. The risk is to create combined files on each visit.

At the moment, one of my website has 12 Gb of combined files (20k files) and it is filling my disk storage.
![image](https://us

[2021-03-01 10:40] engahmeds3ed commented on #3621
As this is `XS` issue, I created PR directly for it with the code changes.

@wp-media/productrocket
In my changes if we had multiple charset rules, I grabbed all of them and added them to the top of the file, if you want another approach please let me know ( I can for example put the first charset only or force all of them to be `utf-8` or ...etc. )

[2021-03-01 10:43] GeekPress commented on #3625
@vmanthos I forgot an important point. Until the JS files are located in the footer, they aren't considered as render-blocking!

You can try your self, put a JS file on the header with no defer, it will be reported as render-blocking on PSI. Put the same JS file in the footer without defer attribute, this JS won't be reported anymore as render-blocking on PSI.

[2021-03-01 10:50] engahmeds3ed commented on #3625
@GeekPress If u mean putting those files in footer, I think this will lead to the same results as those files (functions/classes inside them) are used inside inline scripts so we will need to move those inlines also, is this what you mean here?

[2021-03-01 10:51] GeekPress commented on #3625
@engahmeds3ed These files are already loaded into the footer.

[2021-03-01 10:52] vmanthos commented on #3625
@GeekPress Nice catch!
I've tried that with Contact Form 7 on my test site, and PSI didn't flag the files.

**Related tickets**
https://secure.helpscout.net/conversation/1438795814/243070
https://secure.helpscout.net/conversation/1439134214/243130
https://secure.helpscout.net/conversation/1438701667/243053
https://secure.helpscout.net/conversation/1438623587/243038

[2021-03-01 10:58] engahmeds3ed commented on #3625
So `option 1` is valid ? or we need to give `option 2` a try?

[2021-03-01 11:04] GeekPress commented on #3625
Option 1 is valid but maybe without the regex to exclude all /dist/ files.

Based on the latest SG Optimizer version to fix this problem, we can exclude only these 3 scripts:
https://plugins.trac.wordpress.org/changeset/2481447/sg-cachepress/trunk/core/Front_End_Optimization/Front_End_Optimization.php

[2021-03-01 11:09] GeekPress commented on #3621
@piotrbak  @engahmeds3ed What could be the other value for charset than UTF8 for CSS files?

[2021-03-01 11:17] engahmeds3ed commented on #3621
https://www.w3.org/International/questions/qa-css-charset.en#nonutf8
https://www.iana.org/assignments/character-sets/character-sets.xhtml

you can find here list of charsets (standard ones), I don't know if those are commonly used or not.

Also please note this section (on the same article above)

and I think we are setting charset in htaccess for css files (this is for apache based only), I think

[2021-03-01 11:22] GeekPress commented on #3621
@engahmeds3ed Ok thanks for the details.

What about relying on the website charset by using `bloginfo( 'charset' );`

Are there reasons to have a different charset on CSS files and the website?

[2021-03-01 11:24] GeekPress commented on #3621
From the WordPress doc:

I'm wondering when the charset in CSS files could be different than UTF-8.

[2021-03-01 12:26] engahmeds3ed commented on #3625
@GeekPress after testing that locally, the following is the final list of files to be excluded from deferring
[code]

please check the following line
[code]
here
https://github.com/wordpress/wordpress-develop/blob/9ca0ce7275fdaea1b9635deeba6bd3f821529270/src/wp-includes/assets/script-loader-packages.php#L1

so I added `url.js` to the list als `lodash.js` is already there on SG code.

I will create

[2021-03-01 12:57] NataliaDrause commented on #3625
Related: https://secure.helpscout.net/conversation/1438422069/242990?folderId=3864740

To confirm a comment above:

I checked on one customer's site and the scripts were not mentioned as render-blocking when excluded from deferring.

[2021-03-01 14:01] GeekPress commented on #3625
@engahmeds3ed Thanks for the info. Let's go with that approach :)

[2021-03-01 14:46] NataliaDrause opened #3630 "Use <noscript> fallback for LazyLoading background images"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version - yes
- Used the search feature to ensure that the bug hasn’t been reported before - yes

**Describe the bug**
When JavaScript is disabled in the browser, background images that are being lazy-loaded will not be displayed.

**To Reproduce**
Steps to reproduce the behavior

[2021-03-01 16:21] engahmeds3ed commented on #3564
@webtrainingwheels  I think this one needs documentation check

[2021-03-01 16:43] ScottTravisHartley commented on #3621
If you're using a UTF-8 encoding on the website and it's properly declared in the document which WordPress does for you, there wouldn't really be a need to declare a separate charset value in the CSS.

"You should always use UTF-8 as the character encoding of your style sheets and your HTML pages, and declare that encoding in your HTML. If you do that, there is no need to declare the encoding of y

[2021-03-01 18:48] iCaspar commented on #3593
Reproduced ✔️

**Root cause** is that in `Engine/Optimization/DelayJS/Subscriber::add_delay_js_script()` we only check for whether the option is allowed, but we don't check for whether there are actually any entries in the rocket options `delay_js_scripts` entry.

**Solution** is to check that `delay_js_scripts` is not an empty array. This will require adding a public function to `DelayJS/HTML` cl

[2021-03-01 18:53] crystinutzaa commented on #3593
Just a note: I think we need to check also the filter `rocket_delay_js_scripts` which might affect the option `delay_js_scripts` in `has_delayed_items()` function.

[2021-03-01 20:22] #3625 closed, assigned to engahmeds3ed

[2021-03-01 20:23] iCaspar commented on #3219
Reproduced ✔️

**Root Cause**: We are adding the preconnect link to the google fonts api on the `wp_resource_hints` hook whenever the `Optimize Google Fonts` feature is enabled (see [here](https://github.com/wp-media/wp-rocket/blob/7ab0299dd91b7b5e3263b826b02add53cdbeeed8/inc/Engine/Optimization/GoogleFonts/Subscriber.php#L70)), which it is by default on most WP Rocket installations, and the optio

[2021-03-01 23:31] webtrainingwheels commented on #3523
https://secure.helpscout.net/conversation/1432825992/241384?folderId=377611

[2021-03-02 00:56] alpertheidiot commented on #1997
+1

Having the option to have a common cache for logged in visitors would be a great (for a WooCommerce site). There's simply no practical advantage of having a separate cache for each logged in user. In that scenario, pages are only cached when a user is logged in, so every page will take even longer time to load.. By the time the same user logged in and by chance visited the same product page, c

[2021-03-02 08:28] GeekPress opened #3635 "Remove Unused CSS"
## What are we proposing to do?
To build a new feature within WP Rocket that will remove all the unused CSS from each page of the website.

We will do this by building a CSS tree-shaker from the ground up, and host it on our server. WP Rocket will then interact with this service via its API. This is similar to what we do for our CPCSS generator.

We will do this for each page of the website and em

[2021-03-02 08:42] GeekPress commented on #3468
No news yet, we need more R&D to understand the root cause of the problem.

@hogash Is it possible to share the URL of the website where you have the problem? If you're comfortable sharing it here, you can contact me on jonathan[at]wp-media.me

We are using NodeJS.

I think the best will be to improve the CPCSS generated to be more accurate than trying to patch it like that ^^

[2021-03-02 08:53] mdrejhon opened #3636 "PageSpeed Warning: Need to make fonts.gstatic.com preconnect optional"
My business uses a WP Rocket license on a **custom Wordpress theme we created** by @jorimt to accelerate the Blur Busters website.

But there's some weirdness going on.  I host all fonts via my CDN (paid CloudFlare) instead of Google because I am using certain fonts that (appears) to be infrequently loaded by our users. There were found situations where there was fewer FOUT issues when we used the

[2021-03-02 08:58] DahmaniAdame opened #3637 "Safe use of deferred jQuery even if there are inline scripts depending on it"
**Is your feature request related to a problem? Please describe.**
When jQuery is deferred, inline scripts will report a missing dependency and fail to execute properly.

**Describe the solution you'd like**
It looks like deferred scripts are executed right before DOMContentLoaded.

We can wrap jQuery-dependent inline scripts inside a listener to fire only after DOMContentLoaded starts.

That way,

[2021-03-02 09:04] mdrejhon commented on #3626
I simply manually edited my header.php to preload my LCP image. That fixed it.

The problem is you need to run an external benchmark program (PageSpeed) to determine the specific image that is the winning "LCP hero".

Theoretically WP Rocket could make it easier by also saying you can preload images as well as fonts by entering the image URL in this section of WP Rocket:

![image](https://user-ima

[2021-03-02 09:09] NicoCaldo commented on #3626
Do you have the code used on the `header.php` to preload the LCP image?

I just need to pre-load the featured image/header image of each post as the other images in the post/s are lazyloaded and not visible on page load.

[2021-03-02 09:13] mdrejhon commented on #3626
(These instructions will help WP Rocket team figure out why image preload feature is useful)

# 1. Go to Google PageSpeed and benchmark

### Figure out what image file it keeps complaining about:
![image](https://user-images.githubusercontent.com/59981975/109625451-f971c300-7b04-11eb-9756-e35cd1fcbe12.png)

# 2. Go to Appearance -> Theme Editor

![image](https://user-images.githubusercontent.com/5

[2021-03-02 09:18] engahmeds3ed commented on #3527
I can't reproduce the issue, I tried locally with simple page and then got the customer site's HTML trying to reproduce this issue but also didn't succeed to reproduce it and the files are excluded from combining without any problem ( I tried CSS combine )

Maybe it's solved with one of our changes in previous minor releases!

@JohnTorvik @webtrainingwheels @jazir5 waiting for your input if you st

[2021-03-02 09:22] NataliaDrause commented on #2897
The issue is likely resolved. I am verifying with the customer:
https://secure.helpscout.net/conversation/1437045479/242624/

[2021-03-02 09:22] DahmaniAdame commented on #3637
Looks like we are doing that right here - https://github.com/wp-media/wp-rocket/blob/05fe10672badbd6d0e900c11a61ed74041e74487/tests/Fixtures/inc/Engine/Optimization/DeferJS/Subscriber/deferInlineJs.php

[2021-03-02 09:22] #3637 closed, assigned to nobody

[2021-03-02 09:27] GeekPress commented on #3636
Duplicate of #3219

[2021-03-02 09:27] #3636 closed, assigned to nobody

[2021-03-02 09:34] mdrejhon commented on #3219
Oh wow, I searched "fonts.gstatic.com" and this bug did not appear. Oh why wasn't that keyword added to this github item (or any replies to this github item) so I didn't have to accidentally duplicate-post #3636, I did search first! 😋

Anyway, crossposting to add useful info
(1. Mentions new PageSpeed feature, and 2. Adds extra keywords that people might use to search to find this item)

_________

[2021-03-02 11:21] NicoCaldo commented on #3626
Thanks for the in-depth explanation.

Unfortunately, your method works only if every page has the same header image.

I was trying to have a dynamic PHP code that, given a certain post, detects which is the featured image and adds the preload image code on it.

[2021-03-02 12:54] engahmeds3ed commented on #3621
After communicating internally, we will take the following approach when finding more than one charset:-

and the current approach on the PR #3628 is to put all found charsets at the top of the CSS file and the browser only understand the first one.

[2021-03-02 17:24] kashishkumawat commented on #3626
The following code should work. But I believe it could be improved further.

[code]

[2021-03-02 21:01] camilamadronero-zz commented on #2697
New one
https://secure.helpscout.net/conversation/1439672950/243286?folderId=2675957

[2021-03-02 23:06] mdrejhon commented on #3626
Thanks for the contribution!

# Google SEO is going to get worse soon (May 2021)

https://www.searchenginejournal.com/largest-contentful-paint-lcp/374690/

## Proposal: Changes to WP Rocket as follows:

Because **Google SEO is going to get worse** beginning ~May 2021 if people don't fix their LCP statistics, it becomes necessary to preload certain images.

It might potentially be an easy feature r

[2021-03-03 07:19] vmanthos commented on #2440
**Related ticket:** https://secure.helpscout.net/conversation/1441885630/243995?folderId=3326173

[2021-03-03 08:54] DahmaniAdame commented on #3523
Related - https://secure.helpscout.net/conversation/1440116769/243447/

[2021-03-03 10:39] NicoCaldo commented on #3626
I've tested the PHP solution we have discussed but, even if the code is displayed on the correct pages when a featured image is present on the blog post, it seems Google continues to show the issue of preloading the LCP image.

[2021-03-03 11:09] vmanthos commented on #3586
In the latest Elementor version, `3.1.2`, they've made changes to allow lazyloading of YouTube videos:
![](https://i.vgy.me/3BW4Br.jpg)

That's still not compatible with our lazyload.

From their changelog:

[2021-03-03 13:48] NicoCaldo commented on #3626
The code works very well. It could be a solution on WP Rocket

[2021-03-03 15:48] shaytoder commented on #3586
in Elementor 3.1.2 they fixed the lazy load inside Elementor (meaning, that you need to specify it for EACH video in each page.
but it's still not work with WP Rocket lazy load.

[2021-03-03 17:01] viobru commented on #3520
Related ticket: https://secure.helpscout.net/conversation/1441234382/243766?folderId=4130683

[2021-03-03 19:06] ScottTravisHartley commented on #3180
That is part of the issue the bigger issue is when WProcket's cache is cleared automatically and Cloudflare's is not. This can then cause a 404 error on minified CSS/JS files which can cause the layout to become out of sync.

[2021-03-03 19:24] webtrainingwheels commented on #1856
https://secure.helpscout.net/conversation/1441900781/244000?folderId=377611

[2021-03-03 19:52] piotrbak opened #3639 "@import CSS feature might go into infinite loop in very rare cases"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Since 3.8.6 we're fetching and downloading the files added with `@import`. If in the minified file (`/wp-content/rocket-test-data/styles/import-css-first.css`) we will impor

[2021-03-04 07:00] NataliaDrause commented on #2897
The issue is resolved by the theme:
https://secure.helpscout.net/conversation/1437045479/242624?folderId=3864740

[2021-03-04 07:00] #2897 closed

[2021-03-04 07:51] GeekPress commented on #3417
@Mai-Saad Thanks for the video. It seems that nobody in the team was aware of this possibility. In the meantime, there is no documentation to let our users know it's possible to do this.

Can we safely assume that this specificity isn't used by our users?

[2021-03-04 08:03] Mai-Saad commented on #3417
@GeekPress I guess we can assume so, but there is no 100% guarantee. So recommend, we guard ourselves anyway while doing this enhancement if doable.

[2021-03-04 10:38] NataliaDrause commented on #928
Likely related: https://secure.helpscout.net/conversation/1443506061/244478/

[2021-03-04 15:12] Mai-Saad opened #3640 "PHP Warning: Error while sending QUERY packet. when visit page after clearing cache"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Error while sending QUERY packet. added to the log file when visit post page after undo spammed comment and clear cache

**To Reproduce**
Precondition:
- WPR install

[2021-03-04 16:45] Mai-Saad opened #3641 "PHP Fatal error: Allowed memory size of 134217728 bytes exhausted (tried to allocate 20480 bytes)"
**Before submitting an issue please check that you’ve completed the following steps:**

- [x] Made sure you’re on the latest version

- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
PHP error when deactivating amp while having cached page and the smart slider is enabled

**To Reproduce**
Precondition:
1- WPR installed and activated
2- Home pag

[2021-03-04 17:07] sandyfzu commented on #3282
I have a case related to this issue: https://secure.helpscout.net/conversation/1436626902/242518

I checked and indeed, X_LSCACHE exists but HTTP_X_LSCACHE doesn't.

For testing purposes I changed
if ( ! isset( $_SERVER['HTTP_X_LSCACHE'] ) )
to
( ! isset( $_SERVER['X-LSCACHE'] ) )

Here:
https://github.com/wp-media/wp-rocket/blob/trunk/inc/classes/subscriber/third-party/Hostings/class-litespeed-su

[2021-03-04 21:18] webtrainingwheels commented on #3180
https://secure.helpscout.net/conversation/1443313354/244405?folderId=377611

[2021-03-04 22:25] seomarketingads commented on #3564
Finally we have solution, I had a lot of issues with google search console " some resources couldn't be loaded " and this was affecting the mobile usability by marking the pages as not mobile friendly despite they show up fine with instant check.
a lot was blaming the host and the quota or even saying its a bug at google!

thanks for the transparency of the wprocket team

[2021-03-05 03:37] PCAviation commented on #3625
Does this also solve the problem where the form stops working after 12-24 hours?

JavaScript was only half the problem with the CF7 update. The second problem is that the form will stop working after a period of time, due to the use of "nonces". Of course this can be solved by caching the entire website every 12-24 hours but that will degrade the value of an external cache like CloudFlare and Clou

[2021-03-05 07:35] DahmaniAdame commented on #3625
@PCAviation the fix is specific to the new dependencies that CF7 is using. We will start to automatically exclude them.
We can't unfortunately do anything about the nonce needing to be renewed periodically. It's up to the CF7 developers to secure their form in a way that is compatible with page caching.
The only workaround is to renew the cache at an interval that is compatible with the nonce life

[2021-03-05 08:46] vmanthos commented on #2064
**Related tickets:**
https://secure.helpscout.net/conversation/1436341939/242384/
https://secure.helpscout.net/conversation/1443527132/244491/
https://secure.helpscout.net/conversation/1442426480/244197

[2021-03-05 09:57] mircobabini opened #3642 "Changes not reflected after save (memcached)"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When memcached is on, saving some settings does not reflect the value after page reload. For instance, I added some advanced cache configurations but after hit save

[2021-03-05 12:22] Mai-Saad commented on #3073
On trunk:
- When used img.png and it turned into png.webp => it`s shared normally through whats app using Sassy Social Share plugin
- As per https://www.tyntec.com/docs/tutorials-creating-and-sending-whatsapp-stickers, seems the problem with animated webp so tried gif and webp wasn't applied to it on cached version thus it was shared normally

Am I missing something to see the image problem?

[2021-03-06 10:26] alfonso100 commented on #2498
related: https://secure.helpscout.net/conversation/1444848127/244951?folderId=273766

[2021-03-06 11:55] DahmaniAdame opened #3644 "Exclude first # of images from lazy loading using a class"
**Is your feature request related to a problem? Please describe.**
When a slider is above the fold, it's best to exclude only the visible items instead of having to exclude all images by class.

**Describe the solution you'd like**
Exclude a specific number of items using a class, possible using a repeater instead of a logic*

We could form an example format the excluding to add one class per line

[2021-03-06 11:55] DahmaniAdame commented on #3644
Ticket - https://secure.helpscout.net/conversation/1444728024/244881

[2021-03-06 13:17] remyperona commented on #3073
From https://stackoverflow.com/a/64326921, posted on october 15, 2020.

This change might not be required anymore.

@Mai-Saad If you confirm things are working normally now, we can close the issue.

[2021-03-06 17:48] MrPropre opened #3645 "Remove charset=utf-8 parameter from application/json content type"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**

https://github.com/slimphp/Slim/issues/2629#issue-433346498

**Expected behavior**

The affected files are:
https://github.com/wp-media/wp-rocket/blob/40ecc6c70de1995295a19

[2021-03-06 18:48] ghost opened #3646 "Remove X-Powered-By WP Rocket / 3.8.6 + (Permanently)"
**Issue:**

WP Rocket continues to add the "X-Powered-By" header to all websites.

Click below for details:

https://prnt.sc/10ekr4e
https://prnt.sc/10ekua2

The added X-Powered-By header is unnecessary, poor advertising, compromises security, and does not respect the following htaccess rules to remove it:

[code]

In addition, the following filter -- provided by WP Rocket customer support -- to r

[2021-03-06 19:59] gevcen commented on #2404
Still no update on this bug? if the new preload module will take time, you should at least fix this bug and make the button work. Thanks

[2021-03-06 20:03] jazir555 commented on #2404
The preload update was scheduled for 3.7 and the project date was like July
of last year. I think they just gave up on preload.

On Sat, Mar 6, 2021, 11:59 AM gevcen <notifications@github.com> wrote:

[2021-03-06 21:01] PCAviation commented on #3625
Yes, I know. I'm simply pointing this out for future reference because a lot of people dealing with the CF7 plugin don't know that "JavaScript was only half the problem with the CF7 update".

I was also under the impression that JS minification also does not work with CF7. I had to disable BOTH JS "minification" and "deferring" to get CF7 to work. Do you know if that's the case?

[2021-03-06 21:30] gevcen opened #3647 "Enhancement - Self-host, Inline & Combine Google Fonts"
**Is your feature request related to a problem? Please describe.**
I think WP Rocket should reconsider its position regarding the optimization of Google Fonts.

https://wp-rocket.me/blog/self-hosting-google-fonts/

I refer to your Suggestion Box which has gathered no less than 50 votes for this improvement.

https://portal.productboard.com/wp-media/1-wp-rocket-portal/c/10-save-google-fonts-on-the-

[2021-03-07 07:41] mdrejhon commented on #3644
Is this related to Google pagespeed LCP statistics? (#3626), maybe could be a related image performance setting for the same screen?

[2021-03-07 09:17] GeekPress commented on #3647
We explained here why we don't plan to do that:
https://wp-rocket.me/blog/self-hosting-google-fonts/

[2021-03-07 09:17] #3647 closed, assigned to nobody

[2021-03-07 09:19] gevcen commented on #3647
If you read my description, you'll notice that I already saw this article and I even mentioned it myself in the beginning.

And I've mentioned other blogs that take your arguments and counter-argue them.

[2021-03-07 09:30] DahmaniAdame commented on #3644
@mdrejhon related in a way that it aims to improve LCP if there is a slider/carousel in use above the fold. But it's not related to #3626.

#3626 is about preloading the hero image (or the image linked to the LCP to be more specific), which is now part of PSI audit recommendations.

This one is more about allowing skipping lazy load on sliders/carousels when they are above the fold. Especially whe

[2021-03-07 09:31] GeekPress commented on #3647
You will find 10 posts saying the same conclusion as us, and 10 others with another conclusion. It doesn't seem to have a global conclusion and we prefer to follow the one we found.

[2021-03-07 13:54] DahmaniAdame commented on #3646
That particular header can be removed by adding the following code to your functions.php file:

[code]
Make sure to deactivate/activate WP Rocket in order for the exclusion to work.

[2021-03-07 16:03] ghost commented on #3646
**@DahmaniAdame,**

Thank you for the filter. We tested it and, so far, it's working.

Hopefully, as requested, the X-Powered-By WP Rocket header will be permanently removed.

Kindly leave this GitHub Issue open until a decision (including an explanation) has been provided.

Cheers!

[2021-03-07 18:08] gevcen commented on #2404
Or at least please provide us a workaround to stop it somehow in the meantime

[2021-03-08 10:31] engahmeds3ed commented on #3612
@piotrbak do you mean that we need to check if the content isn't HTML ( or at least  )?

As I think here:

https://github.com/wp-media/wp-rocket/blob/f9e34ecfb4349258dc6a0ee3b91a001b6ae82f37/inc/Engine/Optimization/AssetsLocalCache.php#L59

we are getting the response body so it will only return content if the response body has content inside it.

[2021-03-08 13:35] remyperona commented on #3646
@GeekPress What do you think about this?

[2021-03-08 14:41] SimJoSt commented on #3180
It would be great to have this big feature mentioned on the new roadmap for non-technical users as well: https://feedback.wp-rocket.me/roadmap

[2021-03-08 15:09] ghost commented on #3646
@Tabrisrp (et al),

Appreciate your attention to this.

Ironically, WP Rocket blocked "X-Powered-By" on their own website.

Click below for details.

https://prnt.sc/10g6xyk

As requested by many customers, WP Rocket removed "X-Powered-By" a while ago. Unfortunately, it was snuck in. Why? Imagine if your competitors (e.g., Perfmatters, Autoptimize, SG Optimizer, etc.) did the same thing? Poor prac

[2021-03-08 15:44] Mai-Saad opened #3649 "Added url in Never Cache URL is automatically removed when save settings if it didn't start with / (without any note)"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version

- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When the user enters a URL in the Never Cache URL field that is not starting with /, The URL is automatically removed with no notice to the user to know what is the

[2021-03-08 17:38] ScottTravisHartley commented on #3644
I also want to add that typically you only get the preload images warning if an image that is above the fold and loaded via JavaScript like being lazy loaded. This should fix a lot of site warnings about the image needing to be preloaded. Though, this won't fix all of them its still a simple and useful fix for most sites.

[2021-03-08 19:10] Tabrisrp opened #3651 "3280"

[2021-03-08 19:21] mehedihasanziku commented on #3586
This a temporary solution to fix this issue.

**Required**

[code]
**Use Code In**
[code]

[code]

Let me know if it works for all of you.
Thanks.

[2021-03-08 20:33] remyperona commented on #1590
@GeekPress What should we do for this?

[2021-03-08 22:29] webtrainingwheels commented on #3529
Indeed this would be nice to have since we get inquiries about it:
https://secure.helpscout.net/search/?query=tag%3Adefault%20settings%20
https://secure.helpscout.net/search/?query=tag%3Areset%20settings%20

[2021-03-08 22:35] mdrejhon commented on #3644
Makes a lot of sense.  That said, it does underlie the need for some additional image-performance features to be added to wp rocket because of Google making a big deal about LCP for upcoming SEO.

Having non-Javascript-powered loading of images for images above the fold does make lots of sense, so disabling lazyloading for the first 1 or 2 images does make a lot of sense.

For me personally, I onl

[2021-03-09 06:37] DahmaniAdame commented on #146
Related ticket - https://secure.helpscout.net/conversation/1445018305/244992/

[2021-03-09 08:42] dreamjobma commented on #3180
I think they want to keep this for WP Rocket 4.0

[2021-03-09 09:04] GeekPress commented on #1590
@Tabrisrp We can go with On/Off for all languages

[2021-03-09 09:34] GeekPress commented on #3646
It is unnecessary for you, but not for us!

This header has some utilities for support reasons, we won't delete it.

If you don't like that, we provided you a workaround to remove the header.

If we need that to advertise our product, we have some problems;

I can't disagree on this one. We will remove the version from the X-Powered-By.

This is added only on Apache servers. On NGINX, we are using

[2021-03-09 09:54] GeekPress commented on #3180
@SimJoSt It hasn't been added to our new roadmap as we already know it's something we have to work on ;)

[2021-03-09 10:11] SimJoSt commented on #3180
@GeekPress that's true :)
But not every customer and interested party will read through the GitHub issues, so making it transparent to them, especially with an issue this big, would be very forthcoming 🙏

[2021-03-09 10:16] GeekPress commented on #3369
I can't see which feature done by mod_pagespeed could be better than what another tool like WP Rocket does.

[2021-03-09 10:19] GeekPress commented on #2404
@gevcen No update until you will see a milestone set up on this issue. As you may know, we are fully focused on Remove Unused CSS for few months. We can't work on our 410+ issue at the same time, we have to prioritize.

Thanks for your comprehension.

[2021-03-09 10:28] twobyte commented on #3369
@GeekPress  Even so, the existing message is very vague (unexpected results!).

https://docs.wp-rocket.me/article/1321-critical-css-issues-fouc

If this statement by @webtrainingwheels is correct, then many may find it easier to just disable critical CSS in WP Rocket, than perform server administration uninstalling mod_pagespeed.

[2021-03-09 10:41] jazir555 commented on #2404
@GeekPress

Do you have a projected ETA for the remove unused css feature?

[2021-03-09 12:40] #3528 closed, assigned to remyperona

[2021-03-09 12:41] piotrbak commented on #3073
@Tabrisrp @Mai-Saad From what I can see:
1. Facebook Sharing Debugger is automatically rewriting images from `.png.webp` to `.png`.
https://developers.facebook.com/tools/debug/

Also, in their docs, the `image/type` still doesn't have `webp` format.
https://developers.facebook.com/docs/sharing/webmasters/#images

2. Twitter, doesn't seem to work with `webp` in `og:image` property. The png seems to

[2021-03-09 14:07] ghost commented on #3646
@GeekPress,

Thanks for your feedback. Much appreciated.

Based on your feedback, the best solution is to remove the "X-Powered-By" header completely and use instead "**x-wp-rocket-cache**" for both Apache and NGINX servers.  Removing your plugin version number from "X-Powered-By" is not a solution.

Above solution provides a better indicator for determining if a website is being properly cached b

[2021-03-09 14:47] #2812 closed

[2021-03-09 14:57] #3114 closed

[2021-03-09 15:01] remyperona commented on #1590
### Scope a solution ✅
In
- `view/settings/page.php`
- `view/settings/one-click-addon.php`
- `view/settings/rocket-addon.php`
- `view/settings/sliding-checkbox.php`

- Change `<?php echo esc_attr_x( 'On', 'Active state of checkbox', 'rocket' ); ?>` to `On`
- Change `<?php echo esc_attr_x( 'Off', 'Inactive state of checkbox', 'rocket' ); ?>` to `Off`

### Estimate the effort ✅
Effort `[XS]`

[2021-03-09 15:57] GeekPress commented on #3646
@Jetxpert Please explain why "X-Powered-By" shouldn't be used? Just telling us it's not the way to go doesn't help to understand your position.

[2021-03-09 17:39] ghost commented on #3646
@GeekPress,

Reasons provided above. Recap: (in no particular order)

**(1) Unnecessary**

You statement "This header has some utilities for support reasons, we won't delete it." makes no sense to us.

**(2) Website security**

You agree with this one, so go with it.

**(3) Poor advertising**

We can respectfully disagree on this one all day long.

**(4) Code inconsistency**

If your own website d

[2021-03-09 19:42] #3073 closed

[2021-03-10 09:39] MuhammedSwalihct opened #3653 "WP-Rocket website down resulting in extremely slow settings page"
I am not sure if it is just in my location, the WP-Rocket website seems to be down for few hours as of now. But the real problem here is two resources requested from the WP-Rocket URL causing the WP-Rocket settings page to be extremely slow.

- https://wp-rocket.me/wp-content/uploads/1/imagify.jpg
- https://wp-rocket.me/cdn/iframe?website=https://www.example.com&callback=https://www.example.com/wp

[2021-03-10 11:27] Mil1 commented on #3625
Hello,

@GeekPress with the new version of WP 5.7 I have new error with CF7 :

`i18n.min.js:2 Uncaught TypeError: Cannot read property 'applyFilters' of undefined
    at Module.456 (i18n.min.js:2)
    at n (i18n.min.js:2)
    at wp.i18n.207 (i18n.min.js:2)
    at i18n.min.js:2`

So i found that need to exclude inline script :
`<script  id='wp-i18n-js-after'>wp.i18n.setLocaleData( { 'text direction

[2021-03-10 14:04] mifrero commented on #3586
Related ticket https://secure.helpscout.net/conversation/1441208766/243754?folderId=2952229

[2021-03-10 14:19] luckyankit commented on #3625
I don't know why but wp-rocket team is taking decisions without taking into consideration that excluding such JS files from deferring are making a good impact on the pagespeed score. Taking the shortcut of just excluding rather than combining it in correct sequence is just a big lapse on the wp-rocket side. Many sites which I have optimized in past which were using contact-form-7 has observed a dr

[2021-03-10 14:26] PCAviation commented on #3625
This affects all Wordpress caching plugins not just WP-Rocket. The fault is with the author of the CF7.

[2021-03-10 14:29] luckyankit commented on #3625
then people can get rid of contact-form-7, rather than wp-rocket deciding to slow down thousands of sites to fix a very minor issue. And NO, it doesn't affect every cache plugin, Litespeed JS deferring does way better. Not only the pagespeed score has dropped, but the time to interact with the page has also increased and in some cases, LCP also increased. Well done!

[2021-03-10 14:44] luckyankit commented on #3625
Those files become the part of critical render path. It shows up in the pagespeed tests!

[2021-03-10 15:51] Mai-Saad opened #3654 "Help link beside Always purge URL redirects to How often is the cache cleared? instead of Always Purge URL doc"
**Before submitting an issue please check that you’ve completed the following steps:**
- [x] Made sure you’re on the latest version
- [x] Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When clicking help btn beside Always Purge Url, gets redirected to How often is the cache cleared

**To Reproduce**
Steps to reproduce the behavior:
1. Go to WPR set

[2021-03-10 16:28] webtrainingwheels commented on #3654
That's because we didn't have this doc -  https://docs.wp-rocket.me/article/1391-always-purge-url-s - until recently.
I am actually preparing one issue which will update many of these docs links inside the plugin, so we can deal with them in one update :)

[2021-03-10 16:38] Mai-Saad commented on #3654
Thank you @webtrainingwheels. I Will close this one then to avoid duplication.

[2021-03-10 16:39] #3654 closed, assigned to nobody

[2021-03-10 20:40] camilamadronero-zz commented on #3523
Related https://secure.helpscout.net/conversation/1448759061/245958/

[2021-03-11 03:34] webtrainingwheels opened #3657 "Update some documentation links in the plugin"
We need to update a few of the articles that are featured in the Beacon (https://jumpshare.com/v/zioongh75XrnIVZFD2Vj) , and also a few of the "Need Help" buttons.

All the requested changes are here: https://docs.google.com/spreadsheets/d/1EM10uUWFrZBS-MWq-j7Ut4iua5wAkHzWy_CTahm_ZHQ/edit?usp=sharing
Note there are 2 tabs on the sheet - 1 for beacon articles, 1 for "need help" buttons
I hope the s

[2021-03-11 04:02] webtrainingwheels commented on #3657
This update also addresses: https://github.com/wp-media/wp-rocket/issues/3654

[2021-03-11 04:07] PCAviation commented on #3625
The CF7 use of "nonces" also means the cache has to be refreshed every 24 hours or the form stops working. The only other alternative is only re-cache that single page every 24-hours or turn off caching on that page.

[2021-03-11 07:35] veganwebagency commented on #3142
Any update?

[2021-03-11 09:34] vmanthos opened #3658 "PHP fatal error - Declaration of WP_Rocket\Engine\Container\Container::get($alias, array $args = Array) must be compatible with Psr\Container\ContainerInterface::get(string $id"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

There are a few reports where while updating to `3.8.6` the following fatal error occurred:
[code]

The issue is caused by the change of the `psr/container`'s version t

[2021-03-11 11:25] luckyankit commented on #3625
Exclude contact form page from caching. Simple!

[2021-03-11 11:26] luckyankit commented on #3625
It still won't justify the blunder the wp-rocket team did with excluding JS decision.

[2021-03-11 19:31] GeekPress commented on #3653
Hi @MuhammedSwalihct

We had some problems yesterday related to the OVH crash. Everything has been fixed :)

[2021-03-11 19:31] #3653 closed, assigned to nobody

[2021-03-11 19:33] #3658 closed, assigned to crystinutzaa

[2021-03-11 19:35] GeekPress commented on #3657
@Tabrisrp @vmanthos Do you think it can be done by a Technical Support Engineer?

[2021-03-11 19:38] remyperona commented on #3657
Yes, everything is located in this method: https://github.com/wp-media/wp-rocket/blob/c9b302823c14481ccf1a6f56919b7fc9b446dd73/inc/Engine/Admin/Beacon/Beacon.php#L206

[2021-03-11 19:52] GeekPress commented on #3626
Everything to improve PSI in our score ;)

I'm going to close this request as we are currently trying to find a more general solution to preload critical images.

[2021-03-11 19:52] #3626 closed, assigned to nobody

[2021-03-11 19:55] piotrbak commented on #1282
The issues are related:
https://github.com/wp-media/wp-rocket/issues/1423

[2021-03-12 00:48] mdrejhon commented on #3626
One very big caveat, in my situation, @GeekPress -- is that my background image was in a CSS file.   So it also ended up being a long critical chain too (HTML -> CSS -> image).

You will have to worry about:

1. In-HTML image request  for LCP
2. In-CSS image request for LCP (e.g. my background image)
3. Javascript-triggered image request for LCP (e.g. ribbon bar at top of www.blurbusters.com) sinc

[2021-03-12 06:16] socialpreneur commented on #3142
This issue is still available with version 3.8.6 with Chrome on Android. I just tried Fying Scripts, then this double click bug didn't happen. For iOS, even with Flying Scripts, viewers are required to double click.

[2021-03-12 06:22] roberthedlund commented on #3142
Any update? I find it strange that you have still not informed the users of WP-rocket in any way about the problem. How difficult is it to enter a warning notice before people activate the Delay JS feature? Have seen so many users in various forums who do not yet know that they are suffering from the problem before I have contacted them about it. It's a pretty big problem and I think you should wa

[2021-03-12 10:17] GeekPress opened #3667 "Don't preload fonts when CPCSS is injected on the current page & remove font-face rules from CPCSS"
**Describe the solution you'd like**
When CPCSS is present on the current page, a combo will lead to a better LCP:
- Stop preloading fonts configured into our « Preload Fonts » option.
- Remove font-face rules from CPCSS

In our benchmarks, it can improve the LCP from 10 to 20%.

The CPCSS API is ready to be able to remove font-face rules from the CPCSS:
https://github.com/wp-media/criticalpath-cs

[2021-03-12 13:42] vmanthos opened #3668 "Cache lifespan clearing doesn't work on some server environments"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

On some server environments, in this case on a Bitnami Apache server, the `getCTime()` method we are using here:
https://github.com/wp-media/wp-rocket/blob/70f07dff0c4f

[2021-03-12 13:51] vmanthos commented on #1738
I confirmed this is the case, at least for the WooCommerce widget.

I updated the respective helper plugin:
https://github.com/wp-media/wp-rocket-helpers/blob/eff956e0229cd9fd2e7df95a3daae720cb5733db/compatibility/wp-rocket-compat-wc-recently-viewed-widget/wp-rocket-compat-wc-recently-viewed-widget.php#L37

[2021-03-12 14:23] vmanthos opened #3669 "Add an entry in WP Rocket's debug log, when template_redirect doesn't fire"
**Is your feature request related to a problem? Please describe.**

WP Rocket is hooking to the WordPress `template_redirect` hook to apply its optimizations.

If for whatever reason, that doesn't fire, the optimizations aren't applied.

**Describe the solution you'd like**

It would be easier for the support to recognize the issue if we had an entry about this in WP Rocket's debug log.

**Describ

[2021-03-12 16:33] GeekPress commented on #3626
@mdrejhon Thanks for the extra info. Indeed, we will try to cover all cases ;)

[2021-03-12 16:51] GeekPress commented on #3625
@akkiverma These files aren't render-blocking at all as they are loading from the footer, and not the header as I mentioned here:
https://github.com/wp-media/wp-rocket/issues/3625#issuecomment-787847496

And it has been validated by someone else of our team:
https://github.com/wp-media/wp-rocket/issues/3625#issuecomment-787853885

You can be sure each time we are taking a decision, we are sure abo

[2021-03-12 16:56] GeekPress commented on #3142
@socialpreneur For iOS, are you trying on a real mobile, and not with a simulation?

Why I'm asking the question?

I retry again myself on my personal iPhone 8 and I don't have to click twice on all websites I tried which had Delay JS including our own website.

[2021-03-12 17:01] GeekPress commented on #3646
Sorry for the correction: makes no sense for **you**.

Please even if I understand this seems to be very important for you, don't consider your opinion for our entire users.

By removing the version from X-Powered-By, I don't see why it could still be a problem for security. Can you please elaborate more on why?

If we replace it with X-Rocket-Cache, then it will be still easy to know if the curre

[2021-03-12 17:07] GeekPress commented on #3180
@SimJoSt You're right. Here we go: https://feedback.wp-rocket.me/16

[2021-03-12 17:09] GeekPress commented on #3369
@twobyte Critical CSS is too much important to be disabled. Please correct, but mod_pagespeed doesn't do CPCSS as it should be done correctly.

By the way, mod_pagespeed isn't maintained since 2015. We will never recommend using an abandoned tool.

[2021-03-12 17:10] GeekPress commented on #2404
@jazir5 I can't provide any ETA as well.

[2021-03-12 17:31] luckyankit commented on #3625
I am talking about, those files gets added to critical render path, those are not render-blocking but still load in parallel, hence that affects the pagespeed score greatly as the JS start executing as soon as it loads. This needs to be changed!

[2021-03-12 17:34] GeekPress commented on #3625
It doesn't affect your PSI at all as they are loaded from the footer...

[2021-03-12 17:45] luckyankit commented on #3625
It has affected already the PSI score, by 20-25 for mobile, no change for desktop. I am a speed expert and no one can tell better than me!

[2021-03-12 17:46] GeekPress commented on #3625
Sorry, I forgot we aren't « speed experts » too...

[2021-03-12 17:47] luckyankit commented on #3625
This is my full-time work and many sites using wp-rocket with contact form 7 have mobile scores dropped already. I have re-fixed them by charging again! Thanks to your blunder, I made some extra money out of it! haha

[2021-03-12 17:48] luckyankit commented on #3625
I am sure you're a speed expert too, just wondering how you missed out on the part of the critical render path or the dropped PSI scores!

[2021-03-12 18:00] GeekPress commented on #3625
As I said, JS files in the footer aren't render-blocking.

Take this video as you want:
https://share.getcloudapp.com/X6u9P0Rr

[2021-03-12 18:46] luckyankit commented on #3625
The things you're trying to show in the video, the JS files are not the same as what is added by the contact form 7.

Do you want to take a bet? I would show you that those JS added by contact form 7 affects the PSI score of mobile. PSI score dropped after you excluded those files in the latest update of wp-rocket. This is why my clients contacted me back to check what went wrong after the plugin

[2021-03-12 20:20] alfonso100 opened #3672 "Add a UI box to Exclude CSS files from Optimize CSS Delivery"
**Is your feature request related to a problem? Please describe.**
It is not a problem, but it could be really useful to have a UI box that allows excluding files from Optimize CSS Delivery, for example when we need to resolve a FOUC issue, we recommend the procedure described in this doc:
https://docs.wp-rocket.me/article/977-exclude-files-from-optimize-css-delivery

This is a complex procedure f

[2021-03-12 20:34] remyperona commented on #3478
This needs to be groomed again, because the provided solution doesn't work with WC 5.0, and it is also not complete.

[2021-03-13 00:15] socialpreneur commented on #3142
@GeekPress On real mobile, including me and my client's phone, so I had to disable Delay JS completely. Flying Scripts didn't also work, so I'm guessing this is iOS limitation right now.

Added: It looks like there's some external or internal script which is causing this problem. Not every site which uses Delay JS of WP Rocket nor Flying Scripts have this double click symptoms. So far two sites th

[2021-03-13 09:20] roberthedlund commented on #3142
@GeekPress

I had tried on plenty of websites that using Delay JS, and have tried on real phones. iPhone 8, iPhone SE, iPhone 11 and all of them had this problem. Sometimes it workes on first "click" then the others totally stop working. So the issue is real.

[2021-03-13 11:10] juricazuanovic commented on #2153
Related ticket: https://secure.helpscout.net/conversation/1450555652/246460/

[2021-03-13 12:30] Sh4d0wHunt3rX commented on #3625
Hey guys and specially @GeekPress , thanks a lot for the best caching plugin : )

I also noticed about this change recently and contacted support team and they confirmed this is a new change in wp rocket.

So, for example this is before updating to latest version of the plugin:

https://gtmetrix.com/reports/www.angrybbq.com/mJysMHp4/

Now it's changed to:

https://gtmetrix.com/reports/www.angrybbq

[2021-03-14 09:06] LawaxP commented on #3090
Hi @gevcen
Did you solve your problem ? I have the same error in my logs.
I would like to determine if this can be the source of my errors 503.
Thanks

[2021-03-14 20:49] gevcen commented on #3090
@LawaxP
Yes and No.

Yes because WP Rocket has implemented a workaround in their plugin, so that the Delay JS feature gets automatically bypassed when the HTML page is too large. In my case, the page was above 2 MB (because of a high amount of pictures in the gallery, even if pictures were very compressed already) and that is a very high size for a website page.

No because the workaround is provi

[2021-03-15 11:12] Mai-Saad commented on #3649
Same behavior of auto delete to url occurs when:
-  added wrong URL (i.e unsupported font or external URL) in preload font view, So recommend handle validations across the plugin.
- adding URL to prefetch DNS request but URL starts with single / (works fine if URL starts with no / or double /)

[2021-03-15 12:21] iCaspar commented on #3510
Adding Priority high here, as this is linked to the acceptance criteria now for #3604

[2021-03-15 13:09] crystinutzaa commented on #3499
### Reproduce the issue ✅
Reproduced on local site.

### Identify the root cause ✅
Root cause is the `define` . Wordpress WP_CONTENT_URL should be always an URL, however is not forced or validated.
`define( 'WP_CONTENT_URL', '/wp-content' );`
If this constant is not defined, then Wordpress will set it as:
[code]

### Scope a solution ✅
A solution is to check in Minify.php if the URL has a host. If

[2021-03-15 13:17] takemeoutevents commented on #3544
@piotrbak

I am debugging a somewhat different problem. Whenever i enable improved asset loading i notice that js files coming from elementor like the ones u mentioned

/swiper.min.js
.bundle.min.js ( 5 different files that have text editor, nav menu, gallery etc in the file name)

are not in the combined js file coming from wp rocket anymore but are loaded on my page as seperate files.

So instea

[2021-03-15 13:23] remyperona commented on #3499
I think your solution is good considering the problem reported.

@GeekPress Considering that `WP_CONTENT_URL` should always be an absolute URL, and not a relative one, this is an edge case where the user is "doing it wrong" even though it might be working when nothing else is involved.

Do we still want to go ahead with the proposed solution?

[2021-03-15 13:28] piotrbak commented on #3625
It's worth mentioning that CF7 is loading around 7 script files, even, if the form is not present on the page.

[2021-03-15 13:37] piotrbak commented on #3544
@takemeoutevents

Exactly, this is what I was experiencing.

Thanks!

[2021-03-15 13:47] crystinutzaa commented on #3667
### Scope a solution ✅
**1. Add a Filter `rocket_disable_preload_fonts`  in Fonts.php**
https://github.com/wp-media/wp-rocket/blob/c9b302823c14481ccf1a6f56919b7fc9b446dd73/inc/Engine/Preload/Fonts.php#L86
The filter will return TRUE / FALSE , by default will be FALSE and will bailout in case is true.
In this way the fonts will not be preloaded.

**2. wp-rocket/inc/Engine/CriticalPath/CriticalCSSSu

[2021-03-15 14:06] remyperona opened #3675 "Native lazy load for images: Assets class (1/4)"
Sub-task for epic #3604

### Scope a solution ✅
#### `getInlineLazyloadScript()`
- Remove `img` from the defaults array
- Add a new conditional check to add the `img` element to the array if the `rocket_use_native_lazyload` filter is not true
- Update tests + add new test with the filter

### Estimate the effort ✅
Effort `[S]`

[2021-03-15 14:28] remyperona opened #3676 "Native lazy load for images: Images class (2/4)"
Sub-task for epic #3604

### Scope a solution ✅
#### `is_native()`
- Create this new method to return the value of the `rocket_use_native_lazyload` filter, with a default value of `true`

#### `lazyloadImages()`
- Use the method above to wrap the addition of the `noscript` tag in a conditional, only if `is_native()` returns `false`

#### `getExcludedAttributes()`
- Remove `skip-lazy` and `data-ski

[2021-03-15 15:00] iCaspar commented on #3520
Reproduced ✅

**Root cause**: We are caching PWA's `wp.serviceworker` file as if it were an html page.

**Scope a solution**:
Unfortunately, we cannot exclude this by setting a blanket exclusion of non-html content types, per Weston's suggestion, because we also need to cache restAPI responses, which are json.
A second possibility moving forward is that we might create a universal exclusion based

[2021-03-15 16:09] takemeoutevents commented on #3544
@piotrbak

I hope you don't mind me following up on this but i am currently asking wp rocket support about this:

**my question: Can you tell me if the js files can be combined by wp rocket even with Improved Asset Loading active?**

**Their answer: If the JavaScript files are combined, you won't be able to dynamically load the parts that you need because all the code in one file.**

This seems to

[2021-03-15 16:31] piotrbak commented on #3544
@takemeoutevents This doesn't seem to be related to this specific issue on GitHub.

Elementor's feature is supposed not to load specific files when they're not used on the page.

WP Rocket simply adds to the combined file whatever JS it finds in the HTML source. The exception here is when the scripts are excluded or **loaded by other scripts**, and this is what's happening in your case. We combine

[2021-03-15 21:59] remyperona opened #3677 "Native lazy load for images: Subscriber class (3/4)"
Sub-task for epic #3604

### Scope a solution ✅
#### `set_inline_script_args()`
- Change the use of the `rocket_use_native_lazyload` filter in this method, as native lazyload is now handled differently
Replace this part:
[code]

by the following:

[code]

#### `lazyload()`
- In the `can_lazyload_images()` conditional, only apply `lazyloadPictures()` if `$this->image->is_native()` returns false

##

[2021-03-15 22:01] remyperona opened #3678 "Native lazy load for images: Settings (4/4)"
Sub-task for epic #3604

### Scope a solution ✅
#### `inc/admin/upgrader.php`
- Update the default value from 0 to 1
- Update the related tests

### Estimate the effort ✅
Effort `[XS]`

[2021-03-15 23:05] gevcen commented on #3672
This would indeed be a great help !

[2021-03-16 00:09] SM-Fahim commented on #3672
I came here just to know a similar topic, how to solve the FOUC issue when the optimized CPCSS option is enabled, even if it's manual. Looks like I found the tool, but any detailed documentation?

[2021-03-16 06:36] DahmaniAdame commented on #2440
Related ticket - https://secure.helpscout.net/conversation/1450270777/246311/
The long URL will cause CPCSS to fail if the sample page WP Rocket picks up to generate CPCSS happens to have a long (converted) URL.

[2021-03-16 06:51] DahmaniAdame commented on #2440
Related ticket - https://secure.helpscout.net/conversation/1450393190/246384/

[2021-03-16 10:46] crystinutzaa commented on #3616
### Reproduce the issue ✅
Reproduced on local.

### Identify the root cause ✅
Root cause is this preg_match:
https://github.com/wp-media/wp-rocket/blob/569969673f5f81b2c9d6e5c86e2ebc0d0c5366fa/inc/Dependencies/RocketLazyload/Image.php#L65
Because it matches the first background-image property.

### Scope a solution ✅
The solution is to use preg_match_all and always replace the last background-imag

[2021-03-16 12:03] NicoCaldo commented on #3644
Is there a way via function.php to disable lazyload only on the featured image?

[2021-03-16 12:11] vmanthos commented on #928
**Probably related:** https://secure.helpscout.net/conversation/1453543452/247525

[2021-03-16 13:01] vmanthos opened #3680 "rocket_partial_preload_batch clogging the database"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

There are a few tickets where the database is clogged by `rocket_partial_preload_batch` entries coming from our partial preload feature.

In the case I investigated, th

[2021-03-16 13:16] vmanthos commented on #3419
Although this was tagged as `wontfix`, there are a couple of cases where having such a filter would be useful.

In both cases, translation plugins were used with different domains per language, e.g. example.com, example.de.

Since CPCSS is generated using the latest post of each post type or taxonomy, it can be that the CPCSS generator receives the following:
* https://example.com/this-is-a-post/

[2021-03-16 16:30] GeekPress commented on #3142
@socialpreneur Have you tried on our website (https://wp-rocket.me)? As I said, I'm not able to reproduce the issue after trying on a couple of websites.

May I know the iOS version you are using?

[2021-03-16 16:34] GeekPress commented on #3499
@Tabrisrp If we are sure at 100% the bandaid can't cause any issues, we can go with it. If we have doubts, let's forget the fix.

[2021-03-16 17:33] socialpreneur commented on #3142
@GeekPress Not everything you see is the truth. If at least one WP Rocket user is having the issue, then we need to do everything and anything to solve the matter. My iOS is 14.4, and I'll ask my client for his iOS version. As I said, since this is happening on every Delay JS plugins out there (WP Rocket, Flying Scripts, Perfmatters) on certain site with certain scripts, this is not only your caus

[2021-03-16 19:28] alfonso100 opened #3681 "Whitespace added when Combine JS extracts inline scripts containing CDATA"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version YES
- Used the search feature to ensure that the bug hasn’t been reported before YES

**Describe the bug**
When an inline script contains CDATA with the following structure:
[code]
and Combine JS is enabled, the inline script is combined but a line of whitespace is left i

[2021-03-16 20:50] mifrero commented on #3209
This issue is back on Avada V7.2.1 and WP Rocket 3.8.6.
Ticket: https://secure.helpscout.net/conversation/1450879907/246662/

[2021-03-16 20:55] #3209 closed

[2021-03-17 10:42] vmanthos commented on #2440
Related ticket: https://secure.helpscout.net/conversation/1454633232/247895

[2021-03-17 11:58] NataliaDrause commented on #3586
Related: https://secure.helpscout.net/conversation/1454948656/247970?folderId=3864740

[2021-03-17 18:10] GeekPress commented on #3625
@akkiverma I've just done some tests on multiple websites, and I got the exact same result. Whatever the JS files include the defer attribute or not doesn't impact the PSI grade until these files are inserted in the footer.

If you have different behavior, you have a different configuration.

The defer attribute change only one thing, the priority is set to low with defer and medium without. But a

[2021-03-17 20:08] piotrbak opened #3685 "AMP Query string is not removed from the Cache Query Strings array after deactivation of AMP plugin"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When deactivating the AMP plugin we're not removing the `amp` query strings from the array in the WP Rocket config file.

**To Reproduce**
Steps to reproduce the behavior:
1

[2021-03-18 06:29] ShujaShah opened #3686 "We are getting cache issues in our website."
Hi there, we are having wp-rocket and wp-rocket force page cache plugin set up for page speeds in our website www.k21academy.com, and after setting these plugins up, we are encountering a problem for some trainees, when they log in and click on a course they automatically get logged off.... this behaviour is fixed in most of the cases when they clear the caches.

Please let me know whether there i

[2021-03-18 07:17] vmanthos commented on #2661
This is a duplicate of #3449, which has more info about this.

@GeekPress I'll add the info there.

[2021-03-18 07:18] vmanthos commented on #3449
From #2661, which is a duplicate.

**Related tickets:**
https://secure.helpscout.net/conversation/1162149079/164529/
https://secure.helpscout.net/conversation/1163650645/164898/
https://secure.helpscout.net/conversation/1423906536/238966/

And a new one: https://secure.helpscout.net/conversation/1457208727/248660/

[2021-03-18 08:24] GeekPress commented on #3686
Hi @ShujaShah,

Please open a ticket to get help from our support engineers: https://wp-rocket.me/support/

[2021-03-18 08:24] #3686 closed, assigned to nobody

[2021-03-18 12:25] gecon opened #3689 "Varnish cache not purged after a scheduled post is published"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**
Varnish cache is not correctly purged when scheduled posts are published. When a schedule post get's published, the cache for all URLs where this post should appear is n

[2021-03-18 14:45] socialpreneur commented on #3142
@GeekPress Aside from TOC Plus, I also found that adsense is the cause of double click/tap. I have tested with a few sites, and all sites with different themes/plugins have the same. This happens with any adsense keywords below.

- googlesyndication
- adsbygoogle
- adsbygoogle.js

To reproduce

1. Build a test site with adsense anywhere, within above the fold or not.
2. Refresh the page, tap on he

[2021-03-18 15:36] webtrainingwheels commented on #3657
How does this get moved forward and assigned to someone? I would like this to get into 3.8.8

[2021-03-18 16:35] camilamadronero-zz commented on #2498
related https://secure.helpscout.net/conversation/1456361827/248443?folderId=2675957

[2021-03-18 18:06] remyperona commented on #3657
@webtrainingwheels I added it on our sprint board and in the release milestone. It should be handled either by someone from the support tech group, or one of the engineering team before the end of next week.

[2021-03-18 18:13] webtrainingwheels commented on #3657
@Tabrisrp Awesome, thank you!!

[2021-03-19 06:41] DahmaniAdame commented on #772
Related - https://secure.helpscout.net/conversation/1451140329/246781/
Our PDF exclusion from GZIP still had file download issues.
The customer reported disabling manually that particular section + adding custom GZIP directives fixed the issue for them.

[2021-03-19 06:55] vmanthos commented on #2776
**Related ticket:** https://secure.helpscout.net/conversation/1458397773/249020/

[2021-03-19 09:48] vmanthos opened #3690 "GoDaddy VIP - Varnish cache isn't cleared in sync with WP Rocket's"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

On GoDaddy VIP, the Varnish's cache isn't cleared, when WP Rocket's cache is cleared.

This is because the following check is returning `false`:
https://github.com/wp-m

[2021-03-19 14:15] vmanthos commented on #2528
Related ticket: https://secure.helpscout.net/conversation/1457460107/248774?folderId=2135277

[2021-03-19 19:04] alfonso100 commented on #3526
I've just updated our doc: https://docs.wp-rocket.me/article/54-exclude-pages-from-the-cache

[2021-03-19 19:58] #3230 closed

[2021-03-20 08:57] paskalr1 commented on #3142
@GeekPress my website is celmetro.com and I have the same double click problem when I enable Delay Javascript Execution, does not matter if there are no scripts to delay in the list.

[2021-03-20 11:23] naurissteins commented on #973
Still waiting for this....

[2021-03-20 14:03] gevcen opened #3695 "Enhancing the lazy-loading of images from the product page gallery"
**Is your feature request related to a problem? Please describe.**
Assume that you have a WooCommerce product that contains a very high number of variations (90 variations for instance, as in my case). Each of these variations will need to display a specific image, and therefore the gallery will contain the full number of images to correspond to each of these variations.

**Describe the solution y

[2021-03-21 13:12] NataliaDrause commented on #2287
Possibly related: https://secure.helpscout.net/conversation/1458495144/249058/

[2021-03-21 15:10] NataliaDrause commented on #3142
Related: https://secure.helpscout.net/conversation/1458853194/249184?folderId=3864740
They use TOC Plus and adsense.
Edited: this is additional info from @socialpreneur with screen recording on the affected site.

[2021-03-21 18:18] jorgemartine00 commented on #2440
Related ticket: https://secure.helpscout.net/conversation/1453807106/247624/

[2021-03-21 22:25] jorgemartine00 opened #3696 "WPML Multi-Domain Setup Sitemap Preloading does not take host into account"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version
- Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
When using WP-Rocket with WPML some sites use the same sitemap, and the sitemap has the same path to pages only a different host name, pages won't be created as WP Rocket as

[2021-03-21 22:26] jorgemartine00 commented on #3696
Related case: https://secure.helpscout.net/conversation/1455258259/248107/

[2021-03-22 07:17] vmanthos opened #3697 "Commented-out @import rules are imported during CSS minification/combination"
**Before submitting an issue please check that you’ve completed the following steps:**
- Made sure you’re on the latest version ✅
- Used the search feature to ensure that the bug hasn’t been reported before ✅

**Describe the bug**

When a child theme's CSS file includes a commented out `@import` rule, that's properly processed during CSS minification/combination:
[code]

This isn't happening when

[2021-03-22 10:11] NataliaDrause opened #3698 "Tailwind spacing CSS containing calc() function breaks during minification"
**Before submitting an issue please check that you’ve completed the following steps:**

- [x] - Made sure you’re on the latest version
- [x] - Used the search feature to ensure that the bug hasn’t been reported before

**Describe the bug**
Tailwind spacing CSS that contains calc() functions breaks when Minify CSS is enabled.
Ref. to the spacing CSS in Tailwind: https://tailwindcss.com/docs/space

[2021-03-22 10:12] NataliaDrause commented on #3698
Related ticket: https://secure.helpscout.net/conversation/1458875350/249190/

[2021-03-22 13:21] engahmeds3ed commented on #3630
@wp-media/productrocket I think before grooming we need to set a plan for the approach we will take for adding this noscript:-

- For img tags we were adding noscript tag because when disabling the JS on the browser, the first image will not have the `src` attribute so it will not appear on the page and the second img (inside noscript) will appear as it has the main img tag without any change.
- F

[2021-03-22 13:25] camilamadronero-zz commented on #3586
Related https://secure.helpscout.net/conversation/1453977015/247714/

[2021-03-22 13:27] remyperona opened #3699 "Dynamic lists: CRUD Trait (1/5)"
Sub-task of #3602

Create a trait to handle CRUD operations on the JSON file storing the dynamic lists.

### In `WP_Rocket\Engine\Optimization\DynamicLists\DataManagerTrait`
#### `get_json_filepath() : string`
- Returns the path to the json file storing the list, i.e. `wp-content/wp-rocket-config/dynamic-lists.json`

#### `get_lists() : object`
- Gets the lists either from:
    - the transient `wp

[2021-03-22 13:38] NataliaDrause commented on #3449
Related: https://secure.helpscout.net/conversation/1460702868/249713/

[2021-03-22 14:27] engahmeds3ed commented on #3597
**Scope a solution**

1. Classes to be removed and added to deprecated file
    - \WP_Rocket\Addon\Busting\BustingFactory
    - \WP_Rocket\Addon\Busting\FileBustingTrait
    - \WP_Rocket\Addon\FacebookTracking\Subscriber
    - \WP_Rocket\Addon\GoogleTracking\GoogleAnalytics
    - \WP_Rocket\Addon\GoogleTracking\GoogleTagManager
    - \WP_Rocket\Addon\GoogleTracking\Subscriber

2. Remove their call

[2021-03-22 15:14] remyperona opened #3700 "Dynamic lists: REST endpoint (2/5)"
Sub-task of #3602

Add a REST endpoint to update the dynamic lists. This REST endpoint will be used by the AJAX request triggered from the tools tab of WP Rocket settings.

### In `WP_Rocket\Engine\Optimization\DynamicLists\DynamicLists`
This class uses the `DataManagerTrait` created in #3699

#### `register_rest_route() : void`
- Use WP `register_rest_route()` function to register the REST route

[2021-03-22 16:17] GeekPress commented on #3630
We don't have a valid workaround to do that. As we can't duplicate a div. Not having the <noscript> for a background image doesn't have any impact on SEO. The only con is when someone is navigating without JS, the background won't be applied, but here I'm afraid we won't have any solutions...

[2021-03-22 16:44] viobru commented on #3110
Related ticket: https://secure.helpscout.net/conversation/1460351888/249585?folderId=4130683

[2021-03-22 17:43] #3668 closed, assigned to engahmeds3ed

[2021-03-22 17:46] engahmeds3ed commented on #3640
After checking with @Mai-Saad we can't reproduce this now and we may try on rocketlabs OVH when it returns back, so I will close this issue for now and feel free opening it if you were able to reproduce it.

[2021-03-22 17:46] #3640 closed, assigned to nobody

[2021-03-22 18:33] #3219 closed

[2021-03-22 19:08] engahmeds3ed commented on #3639
**Reproduce the problem**
Yes, I can see the issue locally in two cases:-
1. Use `@import` keyword with the same file name of the container file.
2. Use `@import` with a file that imports the first file on it

**Identify the root cause**
Because of the following recursion

https://github.com/wp-media/wp-rocket/blob/e31ed4ae4e060bd8bee45bffac54bfda50f1dd34/inc/Engine/Optimization/CSSTrait.php#L323

[2021-03-22 20:39] remyperona opened #3701 "Dynamic Lists: Admin part (3/5)"
Sub-task of epic #3602

Add the view and javascript part to resync the compatibility lists manually from the settings page

### In `WP_Rocket\Engine\Optimization\DynamicLists\DynamicLists`
Extend the `Abstract_Render` class to have access to the rendering method

#### `display_resync_lists_section() : void`
- Echo the `Abstract_Render::generate( 'settings/resync-lists', [] )` method

#### `update_

[2021-03-22 21:22] remyperona opened #3702 "Dynamic Lists: cron part (4/5)"
Sub-task of epic #3602

Add a cron task to automatically update the list every week

### In `WP_Rocket\Engine\Optimization\DynamicLists\DynamicLists`
#### `schedule_lists_update() : void`
- Schedule the update event if not yet scheduled, using the cron name `rocket_update_dynamic_lists`

### In `WP_Rocket\Engine\Optimization\DynamicLists\Subscriber`
#### `schedule_lists_update() : void`
- Use this

[2021-03-22 21:58] remyperona opened #3703 "Dynamic Lists: Frontend part (5/5)"
Sub-task for epic #3602

Update the frontend classes to use the dynamic lists instead of the hardcoded values

All classes will need to implement the trait created in sub-task #3699

### DeferJS
- Replace the private property `inline_exclusions` by a method `get_inline_exclusions()`, which uses the `get_lists()` method from the trait to get the lists and return the one corresponding to this exclus

[2021-03-23 08:40] GeekPress commented on #3698
@Tabrisrp I suppose we depend on the minify library about this kind of bug?

[2021-03-23 08:42] GeekPress commented on #3689
Hi @gecon

Thanks for your contribution.

Just to double-check, can you please confirm you are using our Varnish Add-on?